Repository Ensembl/ensembl-client: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Update dependencies (#1018)
  package-lock.json
  package.json
Due: none

Use genome browser track triggers from track api
  package-lock.json
  package.json
  src/content/app/genome-browser/hooks/useGenomeBrowser.ts
  src/content/app/genome-browser/hooks/useGenomeBrowserTracks.ts
  src/content/app/genome-browser/hooks/useGenomicTracks.ts
  src/content/app/genome-browser/services/genome-browser-service/genomeBrowserCommands.ts
  src/content/app/genome-browser/state/track-settings/trackSettingsSlice.ts
  src/content/app/genome-browser/state/types/tracks.ts
  src/server/middleware/proxyMiddleware.ts
  tests/fixtures/genomes.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update rules for focusing on variants via zmenu
  src/content/app/genome-browser/components/zmenu/zmenus/VariantZmenu.tsx
  src/content/app/genome-browser/services/genome-browser-service/genomeBrowserCommands.ts
  src/content/app/genome-browser/services/genome-browser-service/types/zmenu.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Undo changes to the middleware
  src/server/middleware/proxyMiddleware.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Use the trigger field from track api payload to pass messages to genome browser (#1019)
  package-lock.json
  package.json
  src/content/app/genome-browser/hooks/useGenomeBrowser.ts
  src/content/app/genome-browser/hooks/useGenomeBrowserTracks.ts
  src/content/app/genome-browser/hooks/useGenomicTracks.ts
  src/content/app/genome-browser/services/genome-browser-service/genomeBrowserCommands.ts
  src/content/app/genome-browser/state/track-settings/trackSettingsSlice.ts
  src/content/app/genome-browser/state/types/tracks.ts
  tests/fixtures/genomes.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Made calculations of viewport limits more explicit
  src/content/app/genome-browser/components/zmenu/zmenus/VariantZmenu.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update rules for focusing on variants via zmenu (#1023)
  src/content/app/genome-browser/components/zmenu/zmenus/VariantZmenu.tsx
  src/content/app/genome-browser/services/genome-browser-service/genomeBrowserCommands.ts
  src/content/app/genome-browser/services/genome-browser-service/types/zmenu.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Fetch missing data from variation graphql api
  src/content/app/genome-browser/state/api/genomeBrowserApiSlice.ts
  src/content/app/genome-browser/state/api/queries/variantQuery.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Use track type from track api response
  src/content/app/genome-browser/components/browser-cog/BrowserCog.tsx
  src/content/app/genome-browser/components/browser-cog/BrowserCogList.tsx
  src/content/app/genome-browser/components/track-settings-panel/TrackSettingsPanel.tsx
  src/content/app/genome-browser/hooks/useGenomeBrowserTracks.ts
  src/content/app/genome-browser/state/api/genomeBrowserApiSlice.ts
  src/content/app/genome-browser/state/track-settings/trackSettingsConstants.ts
  src/content/app/genome-browser/state/track-settings/trackSettingsSlice.ts
  src/content/app/genome-browser/state/types/tracks.ts
  tests/fixtures/genomes.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Fix tests
  src/content/app/genome-browser/components/browser-cog/BrowserCog.test.tsx
  src/content/app/genome-browser/components/browser-cog/BrowserCogList.test.tsx
  src/content/app/genome-browser/components/track-panel/components/track-panel-tabs/TrackPanelTabs.test.tsx
  src/content/app/genome-browser/components/track-settings-panel/TrackSettingsPanel.test.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Fetch missing data from variation graphql api (#1024)
  src/content/app/genome-browser/state/api/genomeBrowserApiSlice.ts
  src/content/app/genome-browser/state/api/queries/variantQuery.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Enable variant extent in track settings by default
  src/content/app/genome-browser/components/track-settings-panel/track-settings-views/VariantTrackSettings.tsx
  src/content/app/genome-browser/state/track-settings/trackSettingsConstants.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Enable the ViewInApp button for variant zmenu in all environments
  src/content/app/genome-browser/components/zmenu/zmenus/VariantZmenu.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Remove the filter for unavailable variant track
  src/content/app/genome-browser/state/api/genomeBrowserApiSlice.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Use type field coming from the track api (#1025)
  src/content/app/genome-browser/components/browser-cog/BrowserCog.test.tsx
  src/content/app/genome-browser/components/browser-cog/BrowserCog.tsx
  src/content/app/genome-browser/components/browser-cog/BrowserCogList.test.tsx
  src/content/app/genome-browser/components/browser-cog/BrowserCogList.tsx
  src/content/app/genome-browser/components/track-panel/components/track-panel-tabs/TrackPanelTabs.test.tsx
  src/content/app/genome-browser/components/track-settings-panel/TrackSettingsPanel.test.tsx
  src/content/app/genome-browser/components/track-settings-panel/TrackSettingsPanel.tsx
  src/content/app/genome-browser/hooks/useGenomeBrowserTracks.ts
  src/content/app/genome-browser/state/api/genomeBrowserApiSlice.ts
  src/content/app/genome-browser/state/track-settings/trackSettingsConstants.ts
  src/content/app/genome-browser/state/track-settings/trackSettingsSlice.ts
  src/content/app/genome-browser/state/types/tracks.ts
  tests/fixtures/genomes.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Enable variant extent in track settings by default (#1026)
  src/content/app/genome-browser/components/track-settings-panel/track-settings-views/VariantTrackSettings.tsx
  src/content/app/genome-browser/state/track-settings/trackSettingsConstants.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Undo the no styling of element outline on focus
  src/styles/_normalize.scss
Due: prettier --write, stylelint

Use button html element for HelpPopupButton and ConversationIcon
  src/shared/components/communication-framework/ConversationIcon.scss
  src/shared/components/communication-framework/ConversationIcon.tsx
  src/shared/components/help-popup/HelpPopupButton.scss
  src/shared/components/help-popup/HelpPopupButton.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Split species selector results into results by query and by species taxonomy id
  src/content/app/new-species-selector/SpeciesSelector.tsx
  src/content/app/new-species-selector/components/genome-selector-by-search-query/GenomeSelectorBySearchQuery.scss
  src/content/app/new-species-selector/components/genome-selector-by-search-query/GenomeSelectorBySearchQuery.tsx
  src/content/app/new-species-selector/components/genome-selector-by-species-taxonomy-id/GenomeSelectorBySpeciesTaxonomyId.scss
  src/content/app/new-species-selector/components/genome-selector-by-species-taxonomy-id/GenomeSelectorBySpeciesTaxonomyId.tsx
  src/content/app/new-species-selector/components/popular-species-list/PopularSpeciesList.tsx
  src/content/app/new-species-selector/components/selectable-genomes-table/useSelectableGenomesTable.ts
  src/content/app/new-species-selector/components/species-search-results-table/SpeciesSearchResultsTable.tsx
  src/content/app/new-species-selector/state/species-selector-api-slice/speciesSelectorApiSlice.ts
  src/content/app/new-species-selector/state/species-selector-search-slice/speciesSelectorSearchSelectors.ts
  src/content/app/new-species-selector/state/species-selector-search-slice/speciesSelectorSearchSlice.ts
  src/content/app/new-species-selector/views/species-selector-results-view/SpeciesSelectorResultsView.tsx
  src/shared/components/info-pill/InfoPill.scss
  src/shared/components/info-pill/InfoPill.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Move the filter css for changing black svgs to grey to the root element
  src/content/app/new-species-selector/components/genome-selector-by-species-taxonomy-id/GenomeSelectorBySpeciesTaxonomyId.scss
  src/content/app/new-species-selector/components/popular-species-button/PopularSpeciesButton.scss
  src/root/Root.scss
Due: prettier --write, stylelint

Remove commented code lines from useSelectableGenomesTable
  src/content/app/new-species-selector/components/selectable-genomes-table/useSelectableGenomesTable.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update popular species list payload
  src/content/app/new-species-selector/components/popular-species-button/PopularSpeciesButton.scss
  src/content/app/new-species-selector/components/popular-species-button/PopularSpeciesButton.test.tsx
  src/content/app/new-species-selector/components/popular-species-button/PopularSpeciesButton.tsx
  src/content/app/new-species-selector/components/popular-species-list/PopularSpeciesList.tsx
  src/content/app/new-species-selector/state/species-selector-api-slice/speciesSelectorSampleData.ts
  src/content/app/new-species-selector/types/popularSpecies.ts
  src/content/app/new-species-selector/views/species-selector-results-view/SpeciesSelectorResultsView.tsx
  stories/species-selector/popular-species-button/PopularSpeciesButton.stories.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Fix tests
  src/content/app/new-species-selector/components/popular-species-button/PopularSpeciesButton.test.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Change name for genomes that have been marked but not yet added — call them staged
  src/content/app/new-species-selector/components/genome-selector-by-search-query/GenomeSelectorBySearchQuery.tsx
  src/content/app/new-species-selector/components/genome-selector-by-species-taxonomy-id/GenomeSelectorBySpeciesTaxonomyId.tsx
  src/content/app/new-species-selector/components/selectable-genomes-table/useSelectableGenomesTable.ts
  src/content/app/new-species-selector/components/species-search-results-table/SpeciesSearchResultsTable.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update popular species list payload (#1028)
  src/content/app/new-species-selector/components/popular-species-button/PopularSpeciesButton.scss
  src/content/app/new-species-selector/components/popular-species-button/PopularSpeciesButton.test.tsx
  src/content/app/new-species-selector/components/popular-species-button/PopularSpeciesButton.tsx
  src/content/app/new-species-selector/components/popular-species-list/PopularSpeciesList.tsx
  src/content/app/new-species-selector/state/species-selector-api-slice/speciesSelectorSampleData.ts
  src/content/app/new-species-selector/types/popularSpecies.ts
  src/content/app/new-species-selector/views/species-selector-results-view/SpeciesSelectorResultsView.tsx
  stories/species-selector/popular-species-button/PopularSpeciesButton.stories.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Split species selector results into results by query and by species taxonomy id (#1027)
  src/content/app/new-species-selector/SpeciesSelector.tsx
  src/content/app/new-species-selector/components/genome-selector-by-search-query/GenomeSelectorBySearchQuery.scss
  src/content/app/new-species-selector/components/genome-selector-by-search-query/GenomeSelectorBySearchQuery.tsx
  src/content/app/new-species-selector/components/genome-selector-by-species-taxonomy-id/GenomeSelectorBySpeciesTaxonomyId.scss
  src/content/app/new-species-selector/components/genome-selector-by-species-taxonomy-id/GenomeSelectorBySpeciesTaxonomyId.tsx
  src/content/app/new-species-selector/components/popular-species-button/PopularSpeciesButton.scss
  src/content/app/new-species-selector/components/popular-species-button/PopularSpeciesButton.test.tsx
  src/content/app/new-species-selector/components/popular-species-button/PopularSpeciesButton.tsx
  src/content/app/new-species-selector/components/popular-species-list/PopularSpeciesList.tsx
  src/content/app/new-species-selector/components/selectable-genomes-table/useSelectableGenomesTable.ts
  src/content/app/new-species-selector/components/species-search-results-table/SpeciesSearchResultsTable.tsx
  src/content/app/new-species-selector/state/species-selector-api-slice/speciesSelectorApiSlice.ts
  src/content/app/new-species-selector/state/species-selector-api-slice/speciesSelectorSampleData.ts
  src/content/app/new-species-selector/state/species-selector-search-slice/speciesSelectorSearchSelectors.ts
  src/content/app/new-species-selector/state/species-selector-search-slice/speciesSelectorSearchSlice.ts
  src/content/app/new-species-selector/types/popularSpecies.ts
  src/content/app/new-species-selector/views/species-selector-results-view/SpeciesSelectorResultsView.tsx
  src/root/Root.scss
  src/shared/components/info-pill/InfoPill.scss
  src/shared/components/info-pill/InfoPill.tsx
  stories/species-selector/popular-species-button/PopularSpeciesButton.stories.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Update url for genes search
  src/shared/state/api-slices/searchApiSlice.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update url for genes search (#1030)
  src/shared/state/api-slices/searchApiSlice.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Fix broken api search url
  src/shared/state/in-app-search/inAppSearchSlice.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Use genomes endpoint for species search
  src/content/app/new-species-selector/state/species-selector-api-slice/speciesSelectorApiSlice.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Use genomes endpoint for species search (#1031)
  src/content/app/new-species-selector/state/species-selector-api-slice/speciesSelectorApiSlice.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Move transformGenomesSearchResponse above the slice definition and delete mock genome search matches
  src/content/app/new-species-selector/state/species-selector-api-slice/speciesSelectorApiSlice.ts
  src/content/app/new-species-selector/state/species-selector-api-slice/speciesSelectorSampleData.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Disable search field in species search results view
  src/content/app/new-species-selector/components/genome-selector-by-search-query/GenomeSelectorBySearchQuery.tsx
  src/content/app/new-species-selector/components/species-search-field/AddFoundSpecies.tsx
  src/content/app/new-species-selector/components/species-search-field/SpeciesSearchField.scss
  src/content/app/new-species-selector/components/species-search-field/SpeciesSearchField.tsx
  src/shared/components/input/Input.scss
  src/shared/components/input/ShadedInput.test.tsx
  src/shared/components/input/ShadedInput.tsx
  src/shared/components/text-button/TextButton.scss
  src/shared/components/text-button/TextButton.tsx
  stories/shared-components/input/ShadedInputStory.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Remove unused code from SpeciesSearchField component
  src/content/app/new-species-selector/components/species-search-field/SpeciesSearchField.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Add search query cancel behaviour
  src/content/app/new-species-selector/components/genome-selector-by-search-query/GenomeSelectorBySearchQuery.tsx
  src/content/app/new-species-selector/components/species-search-field/AddFoundSpecies.tsx
  src/content/app/new-species-selector/views/species-selector-results-view/SpeciesSelectorResultsView.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Add TextButton to Storybook
  stories/shared-components/text-button/TextButton.stories.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Show SpeciesSearchField if no matches found
  src/content/app/new-species-selector/components/genome-selector-by-search-query/GenomeSelectorBySearchQuery.tsx
  src/content/app/new-species-selector/components/species-search-results-summary/SpeciesSearchResultsSummary.scss
  src/content/app/new-species-selector/components/species-search-results-summary/SpeciesSearchResultsSummary.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Bring back the disabling of the Find button
  src/content/app/new-species-selector/components/genome-selector-by-search-query/GenomeSelectorBySearchQuery.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Pass variant start coordinate and region name to genome browser for focus variant
  src/content/app/genome-browser/services/genome-browser-service/genomeBrowserCommands.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Path conditions:
  eslint --max-warnings=0: any of: *.{ts,tsx}
  manage-licence-header add: any of: *.{ts,tsx}
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.scss)
  stylelint: any of: *.scss
