Repository Ensembl/ensembl-client: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

.lintstagedrc.json:

{
  "*.{ts,tsx}": [
    "eslint --max-warnings=0",
    "manage-licence-header add",
    "prettier --write"
  ],
  "*.css": [
    "stylelint"
  ]
}

Merge viewed and unviewed VEP submission lists into one
  src/content/app/tools/vep/VepPage.tsx
  src/content/app/tools/vep/VepPageContent.tsx
  src/content/app/tools/vep/components/missing-vep-submission-error/VepSubmissionError.tsx
  src/content/app/tools/vep/components/vep-submit-button/VepSubmitButton.tsx
  src/content/app/tools/vep/components/vep-top-bar/VepFormTopBar.tsx
  src/content/app/tools/vep/components/vep-top-bar/VepGenericTopBar.tsx
  src/content/app/tools/vep/components/vep-top-bar/VepTopBar.module.css
  src/content/app/tools/vep/components/vep-top-bar/VepTopBarNavButton.tsx
  src/content/app/tools/vep/state/vep-submissions/vepSubmissionsSelectors.ts
  src/content/app/tools/vep/views/vep-submissions/VepSubmissions.tsx
  src/header/launchbar/VepLaunchbarButton.tsx
  src/shared/helpers/urlHelper.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

refactor(vep): delete the hand-written allele-frequency renderer
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-annotation-detail/VepResultsAnnotationDetail.test.tsx
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-annotation-detail/VepResultsAnnotationDetail.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Remove the word 'beta' from the masthead
  src/header/EnsemblReleaseVersion.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update VEP icon (#1344)
  src/header/launchbar/VepLaunchbarButton.tsx
  static/icons/icon_launchbar_vep.svg
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Add a first visit notification (#1339)
  src/shared/components/communication-framework/hooks/useNotifications.ts
  src/shared/components/communication-framework/notifications/Notification.tsx
  src/shared/components/communication-framework/notifications/beta-intro-rapid-retirement/BetaIntroRapidRetirement.module.css
  src/shared/components/communication-framework/notifications/beta-intro-rapid-retirement/BetaIntroRapidRetirement.tsx
  src/shared/components/communication-framework/notifications/first-visit-notification/FirstVisitNotification.module.css
  src/shared/components/communication-framework/notifications/first-visit-notification/FirstVisitNotification.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

fix(vep): switch an option off with its last sub-option, restoring defaults
  src/content/app/tools/vep/views/vep-form/vep-form-options-section/vep-form-options-panel/panelSelectionUpdates.test.ts
  src/content/app/tools/vep/views/vep-form/vep-form-options-section/vep-form-options-panel/panelSelectionUpdates.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

UI_tweak(vep): draw the annotation groups as sub-panels
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-annotation-detail/VepResultsAnnotationDetail.module.css
Due: stylelint

UI_tweak(vep): cite every paper through Europe PMC
  src/content/app/tools/vep/views/vep-form/vep-form-options-section/vep-form-options-panel/optionHelp.test.ts
  src/content/app/tools/vep/views/vep-form/vep-form-options-section/vep-form-options-panel/optionHelp.ts
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-annotation-detail/displaySpec.fixture.ts
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-annotation-detail/displaySpecRenderer.test.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

UI_tweak(vep): three help-text fixes
  src/content/app/tools/vep/views/vep-form/vep-form-options-section/vep-form-options-panel/optionHelp.ts
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-annotation-detail/displaySpec.fixture.ts
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-annotation-detail/displaySpecRenderer.test.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

feat(vep): merge a table column's cells down the rows that share a group
  src/content/app/tools/vep/components/truncated-list/TruncatedList.tsx
  src/content/app/tools/vep/types/vepDisplaySpec.ts
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-annotation-detail/displaySpec.fixture.ts
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-annotation-detail/displaySpecRenderer.test.tsx
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-annotation-detail/displaySpecRenderer.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

UI_tweak(vep): drop the boxes around the annotation groups, keep the spacing
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-annotation-detail/VepResultsAnnotationDetail.module.css
Due: stylelint

UI_tweak(vep): drop the Phenotypes help link
  src/content/app/tools/vep/views/vep-form/vep-form-options-section/vep-form-options-panel/optionHelp.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

UI_tweak(vep): download opens a side panel, and the icon names itself on hover
  src/content/app/tools/vep/components/vep-submission-header/DownloadOptions.module.css
  src/content/app/tools/vep/components/vep-submission-header/DownloadOptions.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

UI_tweak(vep): the transcript badges go grey
  src/content/app/tools/vep/views/vep-submission-results/VepSubmissionResults.module.css
Due: stylelint

fix(vep): let the results container shrink below its content
  src/content/app/tools/vep/views/vep-submission-results/VepSubmissionResults.module.css
Due: stylelint

UI_tweak(vep): set the annotation section headings in Lato 16px regular black
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-annotation-detail/VepResultsAnnotationDetail.module.css
Due: stylelint

UI_tweak(vep): put both annotation-panel controls on one row at the top
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-annotation-detail/VepResultsAnnotationDetail.module.css
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-annotation-detail/VepResultsAnnotationDetail.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Increase transcripts opacity in Feature explorer gene view
  src/content/app/entity-viewer/gene-view/components/gene-overview-image/GeneOverviewImage.module.css
  src/content/app/entity-viewer/gene-view/components/gene-overview-image/GeneOverviewImage.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

UI_tweak(vep): bold a plain result in the annotation panel
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-annotation-detail/VepResultsAnnotationDetail.module.css
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-annotation-detail/annotationRows.test.tsx
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-annotation-detail/annotationRows.tsx
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-annotation-detail/displaySpecRenderer.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

UI_tweak(vep): space the annotation columns, and tidy the IntAct participants
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-annotation-detail/VepResultsAnnotationDetail.module.css
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-annotation-detail/displaySpecRenderer.test.tsx
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-annotation-detail/displaySpecRenderer.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

UI_tweak(vep): indent the job options panels, and drop the rules between them
  src/content/app/tools/vep/views/vep-form/vep-form-options-section/vep-form-options-panel/VepFormOptionsPanel.module.css
  src/content/app/tools/vep/views/vep-form/vep-form-options-section/vep-form-options-panel/VepFormOptionsPanel.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

feat(vep): let the annotation panel span the full row, giving it three columns
  src/content/app/tools/vep/views/vep-submission-results/VepSubmissionResults.test.tsx
  src/content/app/tools/vep/views/vep-submission-results/VepSubmissionResults.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

fix(vep): give the delete confirmation a grid row of its own
  src/content/app/tools/vep/components/vep-submission-header/VepSubmissionHeader.tsx
  src/content/app/tools/vep/views/vep-submission-results/VepSubmissionResults.module.css
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

UI_tweak(vep): drop the bracket around HGVSc and HGVSp
  src/content/app/tools/vep/views/vep-form/vep-form-options-section/vep-form-options-panel/VepFormOptionsPanel.module.css
  src/content/app/tools/vep/views/vep-form/vep-form-options-section/vep-form-options-panel/VepFormOptionsPanel.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

UI_tweak(vep): stop the longest option label wrapping, so its help icon sits beside it
  src/content/app/tools/vep/views/vep-form/vep-form-options-section/vep-form-options-panel/VepFormOptionsPanel.module.css
Due: stylelint

Merge the viewed and the unviewed BLAST submission lists into a single one (#1345)
  src/content/app/tools/blast/BlastPage.tsx
  src/content/app/tools/blast/components/blast-job-list-nav-button/BlastJobListNavButton.module.css
  src/content/app/tools/blast/components/blast-job-list-nav-button/BlastJobListNavButton.tsx
  src/content/app/tools/blast/components/blast-job-lists-navigation/BlastJobListsNavigation.module.css
  src/content/app/tools/blast/components/blast-job-submit/BlastJobSubmit.tsx
  src/content/app/tools/blast/components/blast-settings/BlastSettings.tsx
  src/content/app/tools/blast/components/blast-submission-header/BlastSubmissionHeader.tsx
  src/content/app/tools/blast/components/blast-views-navigation/BlastViewsNavigation.tsx
  src/content/app/tools/blast/components/listed-blast-submission/ListedBlastSubmission.tsx
  src/content/app/tools/blast/state/blast-results/blastResultsSelectors.ts
  src/content/app/tools/blast/state/blast-results/blastResultsSlice.ts
  src/content/app/tools/blast/state/general/blastGeneralSlice.ts
  src/content/app/tools/blast/views/blast-submission-results/components/missing-blast-submission-error/MissingBlastSubmissionError.tsx
  src/content/app/tools/blast/views/blast-submissions/BlastSubmissions.tsx
  src/header/launchbar/BlastLaunchbarButton.tsx
  src/shared/helpers/urlHelper.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Merge viewed and unviewed VEP submission lists into one (#1346)
  src/content/app/tools/vep/VepPage.tsx
  src/content/app/tools/vep/VepPageContent.tsx
  src/content/app/tools/vep/components/missing-vep-submission-error/VepSubmissionError.tsx
  src/content/app/tools/vep/components/vep-submit-button/VepSubmitButton.tsx
  src/content/app/tools/vep/components/vep-top-bar/VepFormTopBar.tsx
  src/content/app/tools/vep/components/vep-top-bar/VepGenericTopBar.tsx
  src/content/app/tools/vep/components/vep-top-bar/VepTopBar.module.css
  src/content/app/tools/vep/components/vep-top-bar/VepTopBarNavButton.tsx
  src/content/app/tools/vep/state/vep-submissions/vepSubmissionsSelectors.ts
  src/content/app/tools/vep/views/vep-submissions/VepSubmissions.tsx
  src/header/launchbar/VepLaunchbarButton.tsx
  src/shared/helpers/urlHelper.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Add missing dependency for useEffect
  src/content/app/tools/vep/VepPage.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Revert changes to VepPageContent
  src/content/app/tools/vep/VepPageContent.module.css
  src/content/app/tools/vep/VepPageContent.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Roll back changes for VepForm, VepFormSpeciesSection, and VepSpeciesSelector components
  src/content/app/tools/vep/components/form-section/FormSection.module.css
  src/content/app/tools/vep/views/vep-form/VepForm.module.css
  src/content/app/tools/vep/views/vep-form/VepForm.tsx
  src/content/app/tools/vep/views/vep-form/vep-form-species-section/VepFormSpeciesSection.tsx
  src/content/app/tools/vep/views/vep-species-selector/VepSpeciesSelector.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Increase transcripts opacity in Feature explorer gene view (#1347)
  src/content/app/entity-viewer/gene-view/components/gene-overview-image/GeneOverviewImage.module.css
  src/content/app/entity-viewer/gene-view/components/gene-overview-image/GeneOverviewImage.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Update download button behaviour in VepSubmissionHeader
  src/content/app/tools/vep/components/vep-submission-header/VepSubmissionHeader.module.css
  src/content/app/tools/vep/components/vep-submission-header/VepSubmissionHeader.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Remove Integration.md; add temporary Work_notes.md; remove comments from a css file
  INTEGRATION.md
  WORK_NOTES.md
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-annotation-detail/VepResultsAnnotationDetail.module.css
Due: stylelint

Replace trashcan icon in the form view with a text button saying 'Clear all'
  src/content/app/tools/vep/views/vep-form/vep-form-reset-button/VepFormResetButton.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Clean up VepTopBar
  src/content/app/tools/vep/components/vep-top-bar/EnsemblMark.tsx
  src/content/app/tools/vep/components/vep-top-bar/VepTopBar.module.css
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Revert changes in vepSubmissionStatusPolling
  src/content/app/tools/vep/state/vep-action-listeners/vepSubmissionStatusPolling.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Revert unnecessary CSS formatting in VepSpeciesName.module.css
  src/content/app/tools/vep/components/vep-species-name/VepSpeciesName.module.css
Due: stylelint

Update work notes
  WORK_NOTES.md
Due: none

Remove VepSpeciesPresets
  src/content/app/tools/vep/state/vep-form/vepFormSlice.ts
  src/content/app/tools/vep/types/vepFormConfig.ts
  src/content/app/tools/vep/views/vep-form/vep-form-species-section/VepSpeciesPresets.module.css
  src/content/app/tools/vep/views/vep-form/vep-form-species-section/VepSpeciesPresets.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Update WorkNotes, and remove unnecessary comments
  WORK_NOTES.md
  src/content/app/tools/vep/types/vepDisplaySpec.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write
