Repository Ensembl/ensembl-client: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Update giltab-ci
  .gitlab-ci.yml
Due: none

Update gitlab-ci
  .gitlab-ci.yml
Due: none

Add comments explaning job requirements
  .gitlab-ci.yml
Due: none

Add gene images
  src/content/app/regulatory-activity-viewer/components/region-overview/RegionOverview.tsx
  src/content/app/regulatory-activity-viewer/components/region-overview/prepareRegionOverviewGeneTracks.ts
  src/content/app/regulatory-activity-viewer/components/region-overview/prepareRegionOverviewRegulatoryTracks.ts
  src/content/app/regulatory-activity-viewer/components/region-overview/region-overview-image/RegionOverviewImage.tsx
  src/content/app/regulatory-activity-viewer/components/region-overview/region-overview-image/region-overview-gene/RegionOverviewGene.tsx
  src/content/app/regulatory-activity-viewer/types/regionOverview.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

style updates
  src/content/app/tools/vep/components/vep-submission-header/VepSubmissionHeader.module.css
  src/content/app/tools/vep/components/vep-submission-header/VepSubmissionHeader.tsx
  src/content/app/tools/vep/components/vep-top-bar/VepGenericTopBar.tsx
  src/content/app/tools/vep/components/vep-top-bar/VepTopBar.module.css
  src/content/app/tools/vep/views/vep-submission-results/VepSubmissionResults.module.css
  src/content/app/tools/vep/views/vep-submission-results/VepSubmissionResults.tsx
  src/content/app/tools/vep/views/vep-submissions/listed-vep-submission/ListedVepSubmission.module.css
  src/content/app/tools/vep/views/vep-submissions/listed-vep-submission/ListedVepSubmission.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Remove unnecessarily duplicated variable declarations
  .gitlab-ci.yml
Due: none

Update gitlab-ci to remove the dev branch and switch from master to main (#1176)
  .gitlab-ci.yml
Due: none

Remove nodeploy from gitlab-ci; and do not run setup job on main
  .gitlab-ci.yml
Due: none

Remove nodeploy from gitlab-ci; and do not run setup job on main (#1178)
  .gitlab-ci.yml
Due: none

Remove the ENVIRONMENT variable from gitlab-ci (it is set in k8s configmaps)
  .gitlab-ci.yml
Due: none

Remove the ENVIRONMENT variable from gitlab-ci (it is set in k8s configmaps) (#1179)
  .gitlab-ci.yml
Due: none

Colored regulatory features, and a legend
  src/content/app/regulatory-activity-viewer/components/activity-viewer-sidebar/ActivityViewerSidebar.module.css
  src/content/app/regulatory-activity-viewer/components/activity-viewer-sidebar/ActivityViewerSidebar.tsx
  src/content/app/regulatory-activity-viewer/components/activity-viewer-sidebar/regulatory-feature-legend/RegulatoryFeatureLegend.module.css
  src/content/app/regulatory-activity-viewer/components/activity-viewer-sidebar/regulatory-feature-legend/RegulatoryFeatureLegend.tsx
  src/content/app/regulatory-activity-viewer/components/region-overview/region-overview-image/RegionOverviewImage.module.css
  src/content/app/regulatory-activity-viewer/components/region-overview/region-overview-image/RegionOverviewImage.tsx
  src/content/app/regulatory-activity-viewer/components/region-overview/region-overview-image/region-overview-gene/RegionOverviewGene.tsx
  src/content/app/regulatory-activity-viewer/state/api/activityViewerApiSlice.ts
  src/content/app/regulatory-activity-viewer/types/regionOverview.ts
  tests/fixtures/activity-viewer/mockRegionOverviewDense.ts
  tests/fixtures/activity-viewer/mockRegionOverviewSparse.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Delete unused files
  src/content/app/regulatory-activity-viewer/components/region-overview/prepareRegionOverviewRegulatoryTracks.ts
  src/content/app/regulatory-activity-viewer/components/region-overview/useRegionOverviewImageData.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Add contextual help button for VEP
  src/content/app/tools/vep/components/vep-app-bar/VepAppBar.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

new vep species name component
  src/content/app/tools/vep/components/vep-species-name/VepSpeciesName.module.css
  src/content/app/tools/vep/components/vep-species-name/VepSpeciesName.tsx
  src/content/app/tools/vep/views/vep-form/vep-form-species-section/VepFormSpeciesSection.tsx
  src/content/app/tools/vep/views/vep-submissions/listed-vep-submission/ListedVepSubmission.module.css
  src/content/app/tools/vep/views/vep-submissions/listed-vep-submission/ListedVepSubmission.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

update form section
  src/content/app/tools/vep/views/vep-form/VepForm.module.css
  src/content/app/tools/vep/views/vep-submissions/listed-vep-submission/ListedVepSubmission.module.css
  src/content/app/tools/vep/views/vep-submissions/listed-vep-submission/ListedVepSubmission.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

path fix
  src/content/app/tools/vep/views/vep-form/vep-form-species-section/VepFormSpeciesSection.tsx
  src/content/app/tools/vep/views/vep-submissions/listed-vep-submission/ListedVepSubmission.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

First pass at TranscriptionStart
  src/content/app/regulatory-activity-viewer/components/region-overview/region-overview-image/RegionOverviewImage.tsx
  src/content/app/regulatory-activity-viewer/components/region-overview/region-overview-image/transcription-start-site/TranscriptionStartSite.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Add ability to change focus gene; add label to transcription start site
  src/content/app/regulatory-activity-viewer/components/region-overview/RegionOverview.tsx
  src/content/app/regulatory-activity-viewer/components/region-overview/region-overview-image/RegionOverviewImage.tsx
  src/content/app/regulatory-activity-viewer/components/region-overview/region-overview-image/region-overview-gene/RegionOverviewGene.module.css
  src/content/app/regulatory-activity-viewer/components/region-overview/region-overview-image/region-overview-gene/RegionOverviewGene.tsx
  src/content/app/regulatory-activity-viewer/components/region-overview/region-overview-image/transcription-start-site/TranscriptionStartSite.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Add a magnified image of the region
  src/content/app/regulatory-activity-viewer/RegulatoryActivityViewer.tsx
  src/content/app/regulatory-activity-viewer/components/region-activity-section/RegionActivitySection.module.css
  src/content/app/regulatory-activity-viewer/components/region-activity-section/RegionActivitySection.tsx
  src/content/app/regulatory-activity-viewer/components/region-activity-section/RegionActivitySectionImage.tsx
  src/content/app/regulatory-activity-viewer/components/region-activity-section/region-magnified-image/RegionMagnifiedImage.tsx
  src/content/app/regulatory-activity-viewer/components/region-activity-section/region-magnified-image/activity-section-gene/ActivitySectionGene.tsx
  src/content/app/regulatory-activity-viewer/components/region-activity-section/region-magnified-image/prepareMagnifiedImageTracks.ts
  src/content/app/regulatory-activity-viewer/components/region-overview/region-overview-image/RegionOverviewImage.tsx
  src/content/app/regulatory-activity-viewer/types/regionOverview.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Increase distance between region overview and the activity section
  src/content/app/regulatory-activity-viewer/RegulatoryActivityViewer.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

use min height
  src/content/app/tools/vep/views/vep-form/VepForm.module.css
  src/content/app/tools/vep/views/vep-submissions/listed-vep-submission/ListedVepSubmission.module.css
Due: stylelint

Made VEP submission results error screen generic
  src/content/app/tools/vep/components/missing-vep-submission-error/VepSubmissionError.module.css
  src/content/app/tools/vep/components/missing-vep-submission-error/VepSubmissionError.tsx
  src/content/app/tools/vep/views/vep-submission-results/VepSubmissionResults.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

update version
  src/content/app/tools/vep/components/vep-top-bar/EnsemblVepVersion.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

minor css updates
  src/content/app/tools/vep/components/vep-top-bar/VepFormTopBar.tsx
  src/content/app/tools/vep/components/vep-top-bar/VepGenericTopBar.tsx
  src/content/app/tools/vep/components/vep-top-bar/VepTopBar.module.css
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

add aspect ratio to image
  src/content/app/tools/vep/components/vep-top-bar/VepTopBar.module.css
Due: stylelint

css update
  src/content/app/tools/vep/components/vep-top-bar/VepTopBar.module.css
Due: stylelint

form topbar styles updated
  src/content/app/tools/vep/components/vep-top-bar/VepFormTopBar.tsx
  src/content/app/tools/vep/components/vep-top-bar/VepTopBar.module.css
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

indentation
  src/content/app/tools/vep/components/vep-top-bar/VepTopBar.module.css
Due: stylelint

cleanup
  src/content/app/tools/vep/components/vep-top-bar/VepTopBar.module.css
Due: stylelint

Design updates for VEP submission list and results page (#1177)
  src/content/app/tools/vep/components/vep-species-name/VepSpeciesName.module.css
  src/content/app/tools/vep/components/vep-species-name/VepSpeciesName.tsx
  src/content/app/tools/vep/components/vep-submission-header/VepSubmissionHeader.module.css
  src/content/app/tools/vep/components/vep-submission-header/VepSubmissionHeader.tsx
  src/content/app/tools/vep/components/vep-top-bar/VepFormTopBar.tsx
  src/content/app/tools/vep/components/vep-top-bar/VepTopBar.module.css
  src/content/app/tools/vep/views/vep-form/VepForm.module.css
  src/content/app/tools/vep/views/vep-form/vep-form-species-section/VepFormSpeciesSection.tsx
  src/content/app/tools/vep/views/vep-submission-results/VepSubmissionResults.module.css
  src/content/app/tools/vep/views/vep-submission-results/VepSubmissionResults.tsx
  src/content/app/tools/vep/views/vep-submissions/listed-vep-submission/ListedVepSubmission.module.css
  src/content/app/tools/vep/views/vep-submissions/listed-vep-submission/ListedVepSubmission.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Update a property name
  src/content/app/tools/vep/components/missing-vep-submission-error/VepSubmissionError.tsx
  src/content/app/tools/vep/views/vep-submission-results/VepSubmissionResults.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Refactoring: move track preparation higher in the components tree
  src/content/app/regulatory-activity-viewer/components/region-activity-section/RegionActivitySection.tsx
  src/content/app/regulatory-activity-viewer/components/region-activity-section/RegionActivitySectionImage.tsx
  src/content/app/regulatory-activity-viewer/components/region-activity-section/region-magnified-image/RegionMagnifiedImage.tsx
  src/content/app/regulatory-activity-viewer/components/region-activity-section/region-magnified-image/activity-section-gene/ActivitySectionGene.tsx
  src/content/app/regulatory-activity-viewer/components/region-activity-section/region-magnified-image/prepareMagnifiedImageTracks.ts
  src/content/app/regulatory-activity-viewer/components/region-overview/RegionOverview.tsx
  src/content/app/regulatory-activity-viewer/components/region-overview/prepareRegionOverviewGeneTracks.ts
  src/content/app/regulatory-activity-viewer/components/region-overview/region-overview-image/RegionOverviewImage.tsx
  src/content/app/regulatory-activity-viewer/components/region-overview/region-overview-image/region-overview-gene/RegionOverviewGene.tsx
  src/content/app/regulatory-activity-viewer/helpers/prepare-feature-tracks/prepareFeatureTracks.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Move constants into dedicated files
  src/content/app/regulatory-activity-viewer/components/region-activity-section/region-magnified-image/RegionMagnifiedImage.tsx
  src/content/app/regulatory-activity-viewer/components/region-activity-section/region-magnified-image/activity-section-gene/ActivitySectionGene.tsx
  src/content/app/regulatory-activity-viewer/components/region-activity-section/region-magnified-image/regionDetailConstants.ts
  src/content/app/regulatory-activity-viewer/components/region-overview/region-overview-image/RegionOverviewImage.tsx
  src/content/app/regulatory-activity-viewer/components/region-overview/region-overview-image/region-overview-gene/RegionOverviewGene.tsx
  src/content/app/regulatory-activity-viewer/components/region-overview/region-overview-image/regionOverviewImageConstants.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Generalise the component for displaying errors on VEP submission results page (#1180)
  src/content/app/tools/vep/components/missing-vep-submission-error/VepSubmissionError.module.css
  src/content/app/tools/vep/components/missing-vep-submission-error/VepSubmissionError.tsx
  src/content/app/tools/vep/views/vep-submission-results/VepSubmissionResults.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Rename RegionMagnifiedImage to RegionDetailImage
  src/content/app/regulatory-activity-viewer/components/region-activity-section/RegionActivitySection.tsx
  src/content/app/regulatory-activity-viewer/components/region-activity-section/RegionActivitySectionImage.tsx
  src/content/app/regulatory-activity-viewer/components/region-activity-section/region-detail-image/RegionDetailImage.tsx
  src/content/app/regulatory-activity-viewer/components/region-activity-section/region-detail-image/region-detail-gene/RegionDetailGene.tsx
  src/content/app/regulatory-activity-viewer/components/region-activity-section/region-detail-image/regionDetailConstants.ts
  src/content/app/regulatory-activity-viewer/components/region-overview/region-overview-image/RegionOverviewImage.module.css
  src/content/app/regulatory-activity-viewer/components/region-overview/region-overview-image/RegionOverviewImage.tsx
  src/content/app/regulatory-activity-viewer/components/region-overview/region-overview-image/regionOverviewImageConstants.ts
  src/content/app/regulatory-activity-viewer/helpers/prepare-feature-tracks/prepareFeatureTracks.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Show labels to the left of region overview image
  src/content/app/regulatory-activity-viewer/components/region-overview/RegionOverview.module.css
  src/content/app/regulatory-activity-viewer/components/region-overview/RegionOverview.tsx
  src/content/app/regulatory-activity-viewer/components/region-overview/region-overview-image/RegionOverviewImage.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Hide launchbar button for regulatory activity viewer in production
  src/header/launchbar/Launchbar.tsx
  src/header/launchbar/RegulationViewerLaunchbarButton.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Add regulatory activity viewer (initial stages) (#1181)
  src/content/app/regulatory-activity-viewer/RegulatoryActivityViewer.tsx
  src/content/app/regulatory-activity-viewer/RegulatoryActivityViewerPage.tsx
  src/content/app/regulatory-activity-viewer/components/activity-viewer-sidebar/ActivityViewerSidebar.tsx
  src/content/app/regulatory-activity-viewer/components/activity-viewer-sidebar/regulatory-feature-legend/RegulatoryFeatureLegend.module.css
  src/content/app/regulatory-activity-viewer/components/activity-viewer-sidebar/regulatory-feature-legend/RegulatoryFeatureLegend.tsx
  src/content/app/regulatory-activity-viewer/components/region-activity-section/RegionActivitySection.module.css
  src/content/app/regulatory-activity-viewer/components/region-activity-section/RegionActivitySection.tsx
  src/content/app/regulatory-activity-viewer/components/region-activity-section/RegionActivitySectionImage.tsx
  src/content/app/regulatory-activity-viewer/components/region-activity-section/region-detail-image/RegionDetailImage.tsx
  src/content/app/regulatory-activity-viewer/components/region-activity-section/region-detail-image/region-detail-gene/RegionDetailGene.tsx
  src/content/app/regulatory-activity-viewer/components/region-activity-section/region-detail-image/regionDetailConstants.ts
  src/content/app/regulatory-activity-viewer/components/region-overview/RegionOverview.module.css
  src/content/app/regulatory-activity-viewer/components/region-overview/RegionOverview.tsx
  src/content/app/regulatory-activity-viewer/components/region-overview/region-overview-image/RegionOverviewImage.module.css
  src/content/app/regulatory-activity-viewer/components/region-overview/region-overview-image/RegionOverviewImage.tsx
  src/content/app/regulatory-activity-viewer/components/region-overview/region-overview-image/region-overview-gene/RegionOverviewGene.module.css
  src/content/app/regulatory-activity-viewer/components/region-overview/region-overview-image/region-overview-gene/RegionOverviewGene.tsx
  src/content/app/regulatory-activity-viewer/components/region-overview/region-overview-image/regionOverviewImageConstants.ts
  src/content/app/regulatory-activity-viewer/components/region-overview/region-overview-image/transcription-start-site/TranscriptionStartSite.tsx
  src/content/app/regulatory-activity-viewer/helpers/prepare-feature-tracks/prepareFeatureTracks.ts
  src/content/app/regulatory-activity-viewer/state/api/activityViewerApiSlice.ts
  src/content/app/regulatory-activity-viewer/types/regionOverview.ts
  src/header/launchbar/Launchbar.tsx
  src/header/launchbar/RegulationViewerLaunchbarButton.tsx
  src/routes/routesConfig.tsx
  tests/fixtures/activity-viewer/mockRegionOverviewDense.ts
  tests/fixtures/activity-viewer/mockRegionOverviewSparse.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Add logic for selecting a region detail
  src/content/app/regulatory-activity-viewer/RegulatoryActivityViewer.tsx
  src/content/app/regulatory-activity-viewer/components/region-activity-section/RegionActivitySection.tsx
  src/content/app/regulatory-activity-viewer/components/region-activity-section/RegionActivitySectionImage.tsx
  src/content/app/regulatory-activity-viewer/components/region-activity-section/region-detail-image/RegionDetailImage.tsx
  src/content/app/regulatory-activity-viewer/components/region-activity-section/region-detail-image/region-detail-regulatory-feature/RegionDetailRegulatoryFeature.tsx
  src/content/app/regulatory-activity-viewer/components/region-overview/RegionOverview.tsx
  src/content/app/regulatory-activity-viewer/components/region-overview/region-overview-image/RegionOverviewImage.module.css
  src/content/app/regulatory-activity-viewer/components/region-overview/region-overview-image/RegionOverviewImage.tsx
  src/content/app/regulatory-activity-viewer/components/region-overview/region-overview-image/region-overview-gene/RegionOverviewGene.tsx
  src/content/app/regulatory-activity-viewer/components/region-overview/region-overview-image/region-overview-location-selector/RegionOverviewLocationSelector.tsx
  src/content/app/regulatory-activity-viewer/components/region-overview/region-overview-image/region-overview-location-selector/useLocationSelector.ts
  src/content/app/regulatory-activity-viewer/components/region-overview/region-overview-image/region-overview-location-selector/useLongPress.ts
  src/content/app/regulatory-activity-viewer/components/region-overview/region-overview-image/transcription-start-site/TranscriptionStartSite.tsx
  src/content/app/regulatory-activity-viewer/helpers/prepare-feature-tracks/prepareFeatureTracks.ts
  src/content/app/regulatory-activity-viewer/state/general/generalSelectors.ts
  src/content/app/regulatory-activity-viewer/state/general/generalSlice.ts
  src/content/app/regulatory-activity-viewer/state/region-detail/regionDetailSlice.ts
  src/content/app/regulatory-activity-viewer/state/region-detail/regionDetaillSelectors.ts
  src/content/app/regulatory-activity-viewer/state/regulatoryActivityViewerReducer.ts
  src/root/rootReducer.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Path conditions:
  eslint --max-warnings=0: any of: *.{ts,tsx}
  manage-licence-header add: any of: *.{ts,tsx}
  prettier --write: any of: *.{ts,tsx}
  stylelint: any of: *.css
