Repository Ensembl/ensembl-client: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Attempt to sort BLAST table by genomic location (failed)
  src/content/app/tools/blast/views/blast-submission-results/components/single-blast-job-result/SingleBlastJobResult.tsx
  src/shared/components/data-table/components/table-controls/components/table-actions/components/download-data/DownloadData.tsx
  src/shared/components/data-table/hooks/useDataTable.ts
  src/shared/helpers/reactHelpers.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

update tests and logic
  src/content/app/genome-browser/components/track-settings-panel/TrackSettingsPanel.test.tsx
  src/content/app/genome-browser/components/track-settings-panel/useTrackSettings.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Add a screen for handling invalid BLAST urls
  src/content/app/tools/blast/BlastPage.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Validate genome browser page url (alternative PR) (#913)
  src/content/app/genome-browser/Browser.test.tsx
  src/content/app/genome-browser/Browser.tsx
  src/content/app/genome-browser/contexts/genome-browser-ids-context/GenomeBrowserIdsContext.tsx
  src/content/app/genome-browser/contexts/genome-browser-ids-context/useGenomeBrowserUrlValidator.ts
  src/content/app/genome-browser/contexts/genome-browser-ids-context/useParsedGenomeBrowserUrl.ts
  src/content/app/genome-browser/helpers/browserHelper.ts
  src/content/app/genome-browser/hooks/useBrowserRouting.test.tsx
  src/content/app/genome-browser/hooks/useBrowserRouting.ts
  src/content/app/genome-browser/hooks/useGenomeBrowserIds.ts
  src/content/app/genome-browser/hooks/useGenomeBrowserUrlCheck.ts
  src/content/app/genome-browser/state/api/genomeBrowserApiSlice.ts
  src/content/app/genome-browser/state/api/queries/regionQuery.ts
  src/shared/components/error-screen/url-errors/MissingFeatureError.tsx
  src/shared/state/genome/genomeApiSlice.ts
  src/shared/types/thoas/slice.ts
  tests/fixtures/entity-viewer/slice.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

review updates
  src/content/app/tools/blast/components/listed-blast-submission/ListedBlastSubmission.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

more changes
  src/content/app/tools/blast/views/blast-submission-results/components/blast-results-per-sequence/BlastResultsPerSequence.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Show blast error when individual jobs in a submission fails (#899)
  src/content/app/tools/blast/BlastPage.scss
  src/content/app/tools/blast/components/blast-settings/BlastSettings.scss
  src/content/app/tools/blast/components/blast-views-navigation/BlastViewsNavigation.scss
  src/content/app/tools/blast/components/listed-blast-submission/ListedBlastSubmission.scss
  src/content/app/tools/blast/components/listed-blast-submission/ListedBlastSubmission.tsx
  src/content/app/tools/blast/views/blast-submission-results/BlastSubmissionResults.scss
  src/content/app/tools/blast/views/blast-submission-results/components/blast-results-per-sequence/BlastResultsPerSequence.scss
  src/content/app/tools/blast/views/blast-submission-results/components/blast-results-per-sequence/BlastResultsPerSequence.tsx
  src/content/app/tools/blast/views/blast-submission-results/components/single-blast-job-result/SingleBlastJobResult.scss
  src/content/app/tools/blast/views/blast-submission-results/components/single-blast-job-result/SingleBlastJobResult.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Add FASTA header with feature id when passing a sequence from genome browser to BLAST form (#915)
  src/content/app/genome-browser/components/drawer/components/sequence-view/DrawerSequenceView.tsx
  src/content/app/genome-browser/components/drawer/components/sequence-view/GeneSequenceView.tsx
  src/content/app/genome-browser/components/drawer/components/sequence-view/TranscriptSequenceView.tsx
  src/shared/components/blast-sequence-button/BlastSequenceButton.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

review changes
  src/content/app/genome-browser/components/track-settings-panel/TrackSettingsPanel.scss
  src/content/app/genome-browser/components/track-settings-panel/track-settings-views/GeneTrackSettings.tsx
  src/content/app/genome-browser/components/track-settings-panel/track-settings-views/RegularTrackSettings.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

update to use flex
  src/content/app/genome-browser/components/track-settings-panel/TrackSettingsPanel.scss
Due: prettier --write, stylelint

remove traces of all-tracks this-track functionality
  src/content/app/genome-browser/components/track-settings-panel/track-settings-views/components/global-track-switch/GlobalTrackSwitch.tsx
  src/content/app/genome-browser/components/track-settings-panel/useTrackSettings.ts
  src/content/app/genome-browser/hooks/useGenomeBrowserAnalytics.ts
  src/content/app/genome-browser/state/track-settings/trackSettingsSelectors.ts
  src/content/app/genome-browser/state/track-settings/trackSettingsSlice.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

update track settings with new design (#916)
  src/content/app/genome-browser/components/track-settings-panel/TrackSettingsPanel.scss
  src/content/app/genome-browser/components/track-settings-panel/TrackSettingsPanel.test.tsx
  src/content/app/genome-browser/components/track-settings-panel/track-settings-views/GeneTrackSettings.tsx
  src/content/app/genome-browser/components/track-settings-panel/track-settings-views/RegularTrackSettings.tsx
  src/content/app/genome-browser/components/track-settings-panel/track-settings-views/components/global-track-switch/GlobalTrackSwitch.tsx
  src/content/app/genome-browser/components/track-settings-panel/useTrackSettings.ts
  src/content/app/genome-browser/hooks/useGenomeBrowserAnalytics.ts
  src/content/app/genome-browser/state/track-settings/trackSettingsConstants.ts
  src/content/app/genome-browser/state/track-settings/trackSettingsSelectors.ts
  src/content/app/genome-browser/state/track-settings/trackSettingsSlice.ts
  static/icons/icon_move_tracks.svg
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Add console log
  src/shared/components/data-table/hooks/useDataTable.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Disable proxying to api servers in Ensembl deployments
  src/server/helpers/getConfigForServer.ts
  src/server/middleware/proxyMiddleware.ts
  src/server/server.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Encapsulate the code for proxy middleware generation inside of functions
  src/server/middleware/proxyMiddleware.ts
  src/server/server.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Wrap react node in MemoryRouter when rendering it in a div to extract its content
  src/shared/components/data-table/hooks/useDataTable.ts
  src/shared/helpers/reactHelpers.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Add a screen for handling invalid BLAST urls (#917)
  src/content/app/tools/blast/BlastPage.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update/add sorting and rendering logic to DataTable
  src/content/app/tools/blast/views/blast-submission-results/components/single-blast-job-result/SingleBlastJobResult.tsx
  src/shared/components/data-table/components/main/components/table-row/TableRow.tsx
  src/shared/components/data-table/components/table-controls/components/table-actions/components/download-data/DownloadData.tsx
  src/shared/components/data-table/dataTableTypes.ts
  src/shared/components/data-table/hooks/useDataTable.ts
  src/shared/helpers/reactHelpers.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Disable proxying to api servers in Ensembl deployments (#918)
  src/server/helpers/getConfigForServer.ts
  src/server/middleware/proxyMiddleware.ts
  src/server/server.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Add tests for DataTable (custom rendered, custom sort function)
  src/content/app/tools/blast/views/blast-submission-results/components/single-blast-job-result/SingleBlastJobResult.tsx
  src/shared/components/data-table/DataTable.test.tsx
  src/shared/components/data-table/dataTableHelpers.ts
  src/shared/components/data-table/dataTableTypes.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Remove commented code
  src/shared/components/data-table/hooks/useDataTable.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Add sorting of BLAST results table by genomic location (#919)
  src/content/app/tools/blast/views/blast-submission-results/components/single-blast-job-result/SingleBlastJobResult.tsx
  src/shared/components/data-table/DataTable.test.tsx
  src/shared/components/data-table/components/main/components/table-row/TableRow.tsx
  src/shared/components/data-table/components/table-controls/components/table-actions/components/download-data/DownloadData.tsx
  src/shared/components/data-table/dataTableHelpers.ts
  src/shared/components/data-table/dataTableTypes.ts
  src/shared/components/data-table/hooks/useDataTable.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Remove default props from React function components
  src/content/app/entity-viewer/gene-view/components/unspliced-transcript/UnsplicedTranscript.tsx
  src/content/app/help/components/labelled-app-icon/LabelledAppIcon.tsx
  src/header/launchbar/LaunchbarButton.tsx
  src/header/launchbar/LaunchbarButtonWithNotification.tsx
  src/shared/components/accordion/components/Accordion.tsx
  src/shared/components/accordion/components/AccordionContext.tsx
  src/shared/components/accordion/components/AccordionItem.tsx
  src/shared/components/accordion/components/AccordionItemButton.tsx
  src/shared/components/accordion/components/AccordionItemHeading.tsx
  src/shared/components/accordion/components/AccordionItemPanel.tsx
  src/shared/components/autosuggest-search-field/AutosuggestSearchField.test.tsx
  src/shared/components/autosuggest-search-field/AutosuggestSearchField.tsx
  src/shared/components/chevron/Chevron.tsx
  src/shared/components/data-table/DataTable.tsx
  src/shared/components/expandable-section/ExpandableSection.tsx
  src/shared/components/help-popup/HelpPopupButton.tsx
  src/shared/components/instant-download/instant-download-gene/InstantDownloadGene.tsx
  src/shared/components/instant-download/instant-download-transcript/InstantDownloadTranscript.tsx
  src/shared/components/instant-download/instant-download-transcript/InstantDownloadTranscriptVisualisation.tsx
  src/shared/components/layout/StandardAppLayout.tsx
  src/shared/components/pointer-box/PointerBox.tsx
  src/shared/components/pointer-box/pointer-box-inline-styles.ts
  src/shared/components/question-button/QuestionButton.tsx
  src/shared/components/round-button/RoundButton.tsx
  src/shared/components/select/Select.tsx
  src/shared/components/select/SelectArrowhead.tsx
  src/shared/components/species-tabs-wrapper/MultiLineSpeciesWrapper.tsx
  src/shared/components/species-tabs-wrapper/SingleLineSpeciesWrapper.tsx
  src/shared/components/species-tabs-wrapper/SpeciesTabsWrapper.tsx
  src/shared/components/toolbox/Toolbox.tsx
  src/shared/components/tooltip/Tooltip.tsx
  src/shared/components/view-in-app-popup/ViewInAppPopup.tsx
  stories/shared-components/instant-download/InstantDownloadTranscript.stories.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Fix Accordion
  src/shared/components/accordion/components/AccordionContext.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Do not use prettier to format (s)css files
  .lintstagedrc.json
  src/shared/components/layout/StandardAppLayout.scss
Due: prettier --write, stylelint

Do not use prettier to format (s)css files (#922)
  .lintstagedrc.json
  src/shared/components/layout/StandardAppLayout.scss
Due: prettier --write, stylelint

Fix infinite requests to Thoas on broken network
  src/content/app/entity-viewer/EntityViewer.tsx
  src/content/app/entity-viewer/contexts/entity-viewer-ids-context/EntityViewerIdsContext.ts
  src/content/app/entity-viewer/contexts/entity-viewer-ids-context/EntityViewerIdsContextProvider.tsx
  src/content/app/entity-viewer/hooks/useEntityViewerIds.ts
  src/content/app/entity-viewer/hooks/useEntityViewerUrlChecks.ts
  src/shared/state/api-slices/thoasSlice.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Move the blast form step toggle buttons to the left
  src/content/app/tools/blast/views/blast-form/BlastForm.scss
Due: prettier --write, stylelint

close track settings panel on outside click
  src/content/app/genome-browser/components/browser-cog/BrowserCog.tsx
  src/content/app/genome-browser/components/browser-cog/BrowserCogList.tsx
  src/content/app/genome-browser/components/track-settings-panel/TrackSettingsPanel.tsx
  src/content/app/genome-browser/components/track-settings-panel/track-settings-views/GeneTrackSettings.tsx
  src/content/app/genome-browser/components/track-settings-panel/track-settings-views/RegularTrackSettings.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

fix the regression
  src/content/app/tools/blast/views/blast-form/BlastForm.scss
Due: prettier --write, stylelint

Move the blast form step toggle buttons to the left (#924)
  src/content/app/tools/blast/views/blast-form/BlastForm.scss
Due: prettier --write, stylelint

fix tests
  src/content/app/genome-browser/components/browser-cog/BrowserCog.test.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

more test fixes
  src/content/app/genome-browser/components/track-settings-panel/TrackSettingsPanel.test.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Minor cleanup
  src/shared/components/autosuggest-search-field/AutosuggestSearchField.tsx
  src/shared/components/pointer-box/PointerBox.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Remove defaultProps property from React function components (#921)
  src/content/app/entity-viewer/gene-view/components/unspliced-transcript/UnsplicedTranscript.tsx
  src/content/app/help/components/labelled-app-icon/LabelledAppIcon.tsx
  src/header/launchbar/LaunchbarButton.tsx
  src/header/launchbar/LaunchbarButtonWithNotification.tsx
  src/shared/components/accordion/components/Accordion.tsx
  src/shared/components/accordion/components/AccordionContext.tsx
  src/shared/components/accordion/components/AccordionItem.tsx
  src/shared/components/accordion/components/AccordionItemButton.tsx
  src/shared/components/accordion/components/AccordionItemHeading.tsx
  src/shared/components/accordion/components/AccordionItemPanel.tsx
  src/shared/components/autosuggest-search-field/AutosuggestSearchField.test.tsx
  src/shared/components/autosuggest-search-field/AutosuggestSearchField.tsx
  src/shared/components/chevron/Chevron.tsx
  src/shared/components/data-table/DataTable.tsx
  src/shared/components/expandable-section/ExpandableSection.tsx
  src/shared/components/help-popup/HelpPopupButton.tsx
  src/shared/components/instant-download/instant-download-gene/InstantDownloadGene.tsx
  src/shared/components/instant-download/instant-download-transcript/InstantDownloadTranscript.tsx
  src/shared/components/instant-download/instant-download-transcript/InstantDownloadTranscriptVisualisation.tsx
  src/shared/components/layout/StandardAppLayout.tsx
  src/shared/components/pointer-box/PointerBox.tsx
  src/shared/components/pointer-box/pointer-box-inline-styles.ts
  src/shared/components/question-button/QuestionButton.tsx
  src/shared/components/round-button/RoundButton.tsx
  src/shared/components/select/Select.tsx
  src/shared/components/select/SelectArrowhead.tsx
  src/shared/components/species-tabs-wrapper/MultiLineSpeciesWrapper.tsx
  src/shared/components/species-tabs-wrapper/SingleLineSpeciesWrapper.tsx
  src/shared/components/species-tabs-wrapper/SpeciesTabsWrapper.tsx
  src/shared/components/toolbox/Toolbox.tsx
  src/shared/components/tooltip/Tooltip.tsx
  src/shared/components/view-in-app-popup/ViewInAppPopup.tsx
  stories/shared-components/instant-download/InstantDownloadTranscript.stories.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Rearrange component structure
  src/content/app/entity-viewer/EntityViewer.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Fix infinite requests to Thoas on broken network (#923)
  src/content/app/entity-viewer/EntityViewer.tsx
  src/content/app/entity-viewer/contexts/entity-viewer-ids-context/EntityViewerIdsContext.ts
  src/content/app/entity-viewer/contexts/entity-viewer-ids-context/EntityViewerIdsContextProvider.tsx
  src/content/app/entity-viewer/hooks/useEntityViewerIds.ts
  src/content/app/entity-viewer/hooks/useEntityViewerUrlChecks.ts
  src/shared/state/api-slices/thoasSlice.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Updated to use genome browser version 0.6.0
  package-lock.json
  package.json
  src/content/app/genome-browser/components/browser-image/BrowserImage.tsx
  src/content/app/genome-browser/components/browser-track-legend/BrowserTrackLegend.scss
  src/content/app/genome-browser/components/browser-track-legend/BrowserTrackLegend.tsx
  src/content/app/genome-browser/components/zmenu/Zmenu.test.tsx
  src/content/app/genome-browser/components/zmenu/Zmenu.tsx
  src/content/app/genome-browser/components/zmenu/ZmenuController.tsx
  src/content/app/genome-browser/hooks/useFocusTrack.ts
  src/content/app/genome-browser/hooks/useGenomeBrowserTracks.ts
  src/server/middleware/proxyMiddleware.ts
  src/shared/components/pointer-box/pointer-box-helper.ts
  src/shared/components/tooltip/Tooltip.tsx
  src/shared/components/tooltip/tooltip-types.ts
  tests/fixtures/browser.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Revert dev changes from proxy middleware
  src/server/middleware/proxyMiddleware.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

test update
  src/content/app/genome-browser/components/browser-cog/BrowserCog.test.tsx
  src/content/app/genome-browser/components/browser-cog/BrowserCog.tsx
  src/content/app/genome-browser/components/track-settings-panel/TrackSettingsPanel.test.tsx
  src/content/app/genome-browser/components/track-settings-panel/TrackSettingsPanel.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Path conditions:
  eslint --max-warnings=0: any of: *.{ts,tsx}
  manage-licence-header add: any of: *.{ts,tsx}
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.scss)
  stylelint: any of: *.scss
