Repository Ensembl/ensembl-client: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Update browser checks (#1062)
  config.ts
  src/content/app/genome-browser/components/browser-location-indicator/BrowserLocationIndicator.test.tsx
  src/server/helpers/getConfigForClient.ts
  src/shared/helpers/browserSupport.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update styles for help articles
  src/shared/components/help-article/HelpArticle.scss
  stories/help/TextArticle.stories.tsx
  stories/help/example-content/code-block.ts
  stories/help/example-content/headings-and-body.ts
  stories/help/example-content/images.ts
  stories/help/example-content/lists.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Use unversioned stable gene ids for links in gene homology table
  src/content/app/entity-viewer/gene-view/components/gene-homology/GeneHomologyTable.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update SpeciesTabsSlider — simplify logic and move it to useSpeciesTabsSlider hook
  src/content/app/species-selector/components/species-selector-app-bar/SpeciesSelectorAppBar.tsx
  src/shared/components/app-bar/AppBar.scss
  src/shared/components/selected-species/SelectedSpecies.tsx
  src/shared/components/selected-species/SpeciesLozenge.scss
  src/shared/components/selected-species/SpeciesLozenge.tsx
  src/shared/components/species-tabs-slider/SpeciesTabsSlider.scss
  src/shared/components/species-tabs-slider/SpeciesTabsSlider.tsx
  src/shared/components/species-tabs-slider/useSliderGestures.ts
  src/shared/components/species-tabs-slider/useSpeciesTabsSlider.ts
  src/shared/components/species-tabs-slider/useVisibleActiveSpecies.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Update selected species fixture
  stories/shared-components/species-tabs-slider/speciesData.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update SpeciesTabsSlider
  src/shared/components/species-tabs-slider/SpeciesTabsSlider.scss
  src/shared/components/species-tabs-slider/SpeciesTabsSlider.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Add species tabs slider
  src/shared/components/chevron/Chevron.tsx
  src/shared/components/pill-button/PillButton.scss
  src/shared/components/species-tabs-slider/SpeciesTabsSlider.scss
  src/shared/components/species-tabs-slider/SpeciesTabsSlider.tsx
  src/shared/components/species-tabs-slider/useSliderGestures.ts
  stories/shared-components/species-tabs-slider/SpeciesTabsSlider.stories.scss
  stories/shared-components/species-tabs-slider/SpeciesTabsSlider.stories.tsx
  stories/shared-components/species-tabs-slider/speciesData.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Render SpeciesTabsSlider
  src/content/app/entity-viewer/shared/components/entity-viewer-app-bar/EntityViewerAppBar.tsx
  src/content/app/genome-browser/components/browser-app-bar/BrowserAppBar.tsx
  src/content/app/species-selector/components/species-selector-app-bar/SpeciesSelectorAppBar.scss
  src/content/app/species-selector/components/species-selector-app-bar/SpeciesSelectorAppBar.tsx
  src/content/app/species/components/species-app-bar/SpeciesAppBar.tsx
  src/content/app/tools/blast/components/blast-app-bar/BlastAppBar.tsx
  src/shared/components/species-tabs-slider/SpeciesTabsSlider.scss
  src/shared/components/species-tabs-wrapper/MultiLineSpeciesWrapper.scss
  src/shared/components/species-tabs-wrapper/MultiLineSpeciesWrapper.tsx
  src/shared/components/species-tabs-wrapper/SingleLineSpeciesWrapper.scss
  src/shared/components/species-tabs-wrapper/SingleLineSpeciesWrapper.tsx
  src/shared/components/species-tabs-wrapper/SpeciesTabsWrapper.scss
  src/shared/components/species-tabs-wrapper/SpeciesTabsWrapper.tsx
  src/shared/components/species-tabs-wrapper/speciesTabsWrapperHelpers.ts
  stories/shared-components/selected-species/SelectedSpecies.stories.tsx
  stories/shared-components/selected-species/speciesData.ts
  stories/shared-components/species-tabs-wrapper/SpeciesTabsWrapper.stories.scss
  stories/shared-components/species-tabs-wrapper/SpeciesTabsWrapper.stories.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Handle slider dragging by grabbing a disabled button
  src/shared/components/species-tabs-slider/SpeciesTabsSlider.scss
  src/shared/components/species-tabs-slider/useSliderGestures.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Update hooks for species-tabs-slider
  src/shared/components/species-tabs-slider/useSpeciesTabsSlider.ts
  src/shared/components/species-tabs-slider/useVisibleActiveSpecies.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Add mutation observer to react to species lozenges becoming active
  src/shared/components/species-tabs-slider/useVisibleActiveSpecies.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Fix tests
  src/content/app/tools/blast/components/blast-app-bar/BlastAppBar.test.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

On scrollRight, pick the last tab as fallback, to prevent circling around to the first tab
  src/shared/components/species-tabs-slider/useSpeciesTabsSlider.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

In useVisibleActiveSpecies hook, use the scrollTo api rather than scrollIntoView
  src/shared/components/species-tabs-slider/useVisibleActiveSpecies.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update styles of species search results table
  src/content/app/species-selector/components/species-search-results-table/SpeciesSearchResultsTable.scss
  src/content/app/species-selector/components/species-search-results-table/SpeciesSearchResultsTable.tsx
  src/shared/components/table/ColumnHead.scss
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Update font-weight style
  src/shared/components/table/ColumnHead.scss
Due: prettier --write, stylelint

Fix CSS variables for DataTable header
  src/shared/components/data-table/DataTable.scss
Due: prettier --write, stylelint

Remove thoas ingress
  gitlab-ci-templates/.setup-review-template.yaml
Due: none

Remove thoas ingress (#1064)
  gitlab-ci-templates/.setup-review-template.yaml
Due: none

Remove apply step
  gitlab-ci-templates/.setup-review-template.yaml
Due: none

Interpolate SCSS variable for use in CSS
  src/shared/components/table/ColumnHead.scss
Due: prettier --write, stylelint

Update styles of species search results table (#1063)
  src/content/app/species-selector/components/species-search-results-table/SpeciesSearchResultsTable.scss
  src/content/app/species-selector/components/species-search-results-table/SpeciesSearchResultsTable.tsx
  src/shared/components/data-table/DataTable.scss
  src/shared/components/table/ColumnHead.scss
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

update blast hits diagram label
  src/content/app/tools/blast/components/blast-genomic-hits-diagram/BlastGenomicHitsDiagramLegend.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

On second thought, do not hijack vertical wheel
  src/shared/components/species-tabs-slider/useSliderGestures.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Wrap SpeciesTabsSlider in a memo
  src/shared/components/species-tabs-slider/SpeciesTabsSlider.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Add species tabs slider (#975)
  src/content/app/entity-viewer/shared/components/entity-viewer-app-bar/EntityViewerAppBar.tsx
  src/content/app/genome-browser/components/browser-app-bar/BrowserAppBar.tsx
  src/content/app/species-selector/components/species-selector-app-bar/SpeciesSelectorAppBar.scss
  src/content/app/species-selector/components/species-selector-app-bar/SpeciesSelectorAppBar.tsx
  src/content/app/species/components/species-app-bar/SpeciesAppBar.tsx
  src/content/app/tools/blast/components/blast-app-bar/BlastAppBar.test.tsx
  src/content/app/tools/blast/components/blast-app-bar/BlastAppBar.tsx
  src/shared/components/app-bar/AppBar.scss
  src/shared/components/chevron/Chevron.tsx
  src/shared/components/pill-button/PillButton.scss
  src/shared/components/selected-species/SelectedSpecies.tsx
  src/shared/components/selected-species/SpeciesLozenge.scss
  src/shared/components/selected-species/SpeciesLozenge.tsx
  src/shared/components/species-tabs-slider/SpeciesTabsSlider.scss
  src/shared/components/species-tabs-slider/SpeciesTabsSlider.tsx
  src/shared/components/species-tabs-slider/useSliderGestures.ts
  src/shared/components/species-tabs-slider/useSpeciesTabsSlider.ts
  src/shared/components/species-tabs-slider/useVisibleActiveSpecies.ts
  src/shared/components/species-tabs-wrapper/MultiLineSpeciesWrapper.scss
  src/shared/components/species-tabs-wrapper/MultiLineSpeciesWrapper.tsx
  src/shared/components/species-tabs-wrapper/SingleLineSpeciesWrapper.scss
  src/shared/components/species-tabs-wrapper/SingleLineSpeciesWrapper.tsx
  src/shared/components/species-tabs-wrapper/SpeciesTabsWrapper.scss
  src/shared/components/species-tabs-wrapper/SpeciesTabsWrapper.tsx
  src/shared/components/species-tabs-wrapper/speciesTabsWrapperHelpers.ts
  stories/shared-components/selected-species/SelectedSpecies.stories.tsx
  stories/shared-components/selected-species/speciesData.ts
  stories/shared-components/species-tabs-slider/SpeciesTabsSlider.stories.scss
  stories/shared-components/species-tabs-slider/SpeciesTabsSlider.stories.tsx
  stories/shared-components/species-tabs-slider/speciesData.ts
  stories/shared-components/species-tabs-wrapper/SpeciesTabsWrapper.stories.scss
  stories/shared-components/species-tabs-wrapper/SpeciesTabsWrapper.stories.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

update blast hits diagram label (#1066)
  src/content/app/tools/blast/components/blast-genomic-hits-diagram/BlastGenomicHitsDiagramLegend.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Remove unneeded dependency (jest-fetch-mock)
  package-lock.json
  package.json
Due: none

Update webpack configs to load CSS
  webpack/client/common.ts
  webpack/server/common.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update storybook configs
  .storybook/preview.js
  .storybook/webpack.js
Due: none

Start migration
  src/index.tsx
  src/styles/design-tokens.css
  src/styles/fonts.css
  src/styles/globalStyles.ts
  src/styles/main.css
  src/styles/main.scss
  src/styles/scrollbars.css
  stories/design-primitives/colours/ColourCard.module.css
  stories/design-primitives/colours/Colours.stories.tsx
  stories/design-primitives/typography/Typography.stories.module.css
  stories/design-primitives/typography/Typography.stories.scss
  stories/design-primitives/typography/Typography.stories.tsx
  typings/assets.d.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Update Accordion component
  src/shared/components/accordion/components/Accordion.tsx
  src/shared/components/accordion/components/AccordionItem.tsx
  src/shared/components/accordion/components/AccordionItemButton.tsx
  src/shared/components/accordion/components/AccordionItemPanel.tsx
  src/shared/components/accordion/css/Accordion.module.css
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

fix turnary operator issue
  src/content/app/tools/blast/components/blast-species-selector/BlastSpeciesSelector.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

fix turnary operator issue (#1067)
  src/content/app/tools/blast/components/blast-species-selector/BlastSpeciesSelector.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Add function to define rule for class names of CSS modules
  webpack/client/common.ts
  webpack/server/common.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Extract buildClassName helper function into a webpack utils file
  webpack/client/common.ts
  webpack/server/common.ts
  webpack/utils/cssModules.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Use a single ts file to inject global styles into Storybook
  .storybook/preview.js
Due: none

Path conditions:
  eslint --max-warnings=0: any of: *.{ts,tsx}
  manage-licence-header add: any of: *.{ts,tsx}
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.scss)
  stylelint: any of: *.scss
