Repository Ensembl/ensembl-client: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

.lintstagedrc.json:

{
  "*.{ts,tsx}": [
    "eslint --max-warnings=0",
    "manage-licence-header add",
    "prettier --write"
  ],
  "*.css": [
    "stylelint"
  ]
}

update type import
  src/content/app/entity-viewer/variant-view/variant-view-sidebar/overview/MainAccordion.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Add variant right hand panel overview content (#1075)
  src/content/app/entity-viewer/EntityViewerForVariant.tsx
  src/content/app/entity-viewer/variant-view/variant-view-sidebar/VariantViewSideBar.tsx
  src/content/app/entity-viewer/variant-view/variant-view-sidebar/overview/MainAccordion.tsx
  src/content/app/entity-viewer/variant-view/variant-view-sidebar/overview/VariantOverview.module.css
  src/content/app/entity-viewer/variant-view/variant-view-sidebar/overview/VariantOverview.tsx
  src/content/app/genome-browser/components/drawer/components/variant-colour/VariantColour.tsx
  src/content/app/genome-browser/components/drawer/drawer-views/variant-group-legend/VariantGroupLegend.tsx
  src/content/app/genome-browser/components/drawer/drawer-views/variant-summary/VariantSummary.tsx
  src/content/app/genome-browser/components/drawer/drawer-views/variant-summary/variant-consequence/VariantConsequence.tsx
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/track-panel-items/TrackPanelVariantGroupLegend.tsx
  src/content/app/genome-browser/constants/variantGroups.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Extract reference sequence length constants
  src/content/app/entity-viewer/variant-view/variant-image/alternative-allele/AlternativeAllele.tsx
  src/content/app/entity-viewer/variant-view/variant-image/reference-sequence-allele/ReferenceSequenceAllele.tsx
  src/content/app/entity-viewer/variant-view/variant-image/useVariantImageData.ts
  src/content/app/entity-viewer/variant-view/variant-image/variantImageConstants.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Add Variant image to Entity Viewer variant page
  src/content/app/entity-viewer/state/api/entityViewerThoasSlice.ts
  src/content/app/entity-viewer/state/api/queries/variantDefaultQuery.ts
  src/content/app/entity-viewer/variant-view/VariantView.module.css
  src/content/app/entity-viewer/variant-view/VariantView.tsx
  src/content/app/entity-viewer/variant-view/variant-image/VariantImage.module.css
  src/content/app/entity-viewer/variant-view/variant-image/VariantImage.tsx
  src/content/app/entity-viewer/variant-view/variant-image/alternative-allele/AlternativeAllele.module.css
  src/content/app/entity-viewer/variant-view/variant-image/alternative-allele/AlternativeAllele.tsx
  src/content/app/entity-viewer/variant-view/variant-image/alternative-alleles/AlternativeAlleles.module.css
  src/content/app/entity-viewer/variant-view/variant-image/alternative-alleles/AlternativeAlleles.tsx
  src/content/app/entity-viewer/variant-view/variant-image/flanking-sequence/FlankingSequence.module.css
  src/content/app/entity-viewer/variant-view/variant-image/flanking-sequence/FlankingSequence.tsx
  src/content/app/entity-viewer/variant-view/variant-image/reference-sequence-allele/ReferenceSequenceAllele.module.css
  src/content/app/entity-viewer/variant-view/variant-image/reference-sequence-allele/ReferenceSequenceAllele.tsx
  src/content/app/entity-viewer/variant-view/variant-image/sequence-letter-block/SequenceLetterBlock.module.css
  src/content/app/entity-viewer/variant-view/variant-image/sequence-letter-block/SequenceLetterBlock.tsx
  src/content/app/entity-viewer/variant-view/variant-image/useVariantImageData.test.ts
  src/content/app/entity-viewer/variant-view/variant-image/useVariantImageData.ts
  src/shared/components/feature-summary-strip/FeatureSummaryStrip.module.css
  src/shared/state/region/queries/regionChecksumQuery.ts
  src/shared/state/region/regionApiSlice.ts
  src/styles/design-tokens.css
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Add allele switching
  src/content/app/entity-viewer/state/api/entityViewerThoasSlice.ts
  src/content/app/entity-viewer/state/api/queries/variantDefaultQuery.ts
  src/content/app/entity-viewer/variant-view/VariantView.tsx
  src/content/app/entity-viewer/variant-view/variant-image/VariantImage.tsx
  src/content/app/entity-viewer/variant-view/variant-image/alternative-allele/AlternativeAllele.tsx
  src/content/app/entity-viewer/variant-view/variant-image/alternative-alleles/AlternativeAlleles.tsx
  src/content/app/entity-viewer/variant-view/variant-image/reference-sequence-allele/ReferenceSequenceAllele.module.css
  src/content/app/entity-viewer/variant-view/variant-image/reference-sequence-allele/ReferenceSequenceAllele.tsx
  src/shared/helpers/urlHelper.ts
  src/shared/helpers/variantHelpers.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Add VariantViewNavigationPanel
  src/content/app/entity-viewer/variant-view/VariantView.tsx
  src/content/app/entity-viewer/variant-view/variant-view-navigation-panel/VariantViewNavigationPanel.module.css
  src/content/app/entity-viewer/variant-view/variant-view-navigation-panel/VariantViewNavigationPanel.tsx
  src/content/app/entity-viewer/variant-view/variant-view-navigation-panel/variant-view-tab/VariantViewTab.module.css
  src/content/app/entity-viewer/variant-view/variant-view-navigation-panel/variant-view-tab/VariantViewTab.tsx
  src/shared/components/info-pill/InfoPill.tsx
  src/shared/components/tab-button/TabButton.module.css
  src/shared/components/tab-button/TabButton.tsx
  stories/shared-components/tab-button/TabButton.stories.module.css
  stories/shared-components/tab-button/TabButton.stories.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Update VariantViewNavigationPanel
  src/content/app/entity-viewer/variant-view/VariantView.tsx
  src/content/app/entity-viewer/variant-view/variant-view-navigation-panel/VariantViewNavigationPanel.module.css
  src/content/app/entity-viewer/variant-view/variant-view-navigation-panel/VariantViewNavigationPanel.tsx
  src/content/app/entity-viewer/variant-view/variant-view-navigation-panel/variant-view-tab/VariantViewTab.module.css
  src/content/app/entity-viewer/variant-view/variant-view-navigation-panel/variant-view-tab/VariantViewTab.tsx
  src/shared/components/info-pill/InfoPill.module.css
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Fix redirect to default variant allele url
  src/content/app/entity-viewer/variant-view/VariantView.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Add links to EV variant view
  src/content/app/entity-viewer/components/example-links/ExampleLinks.module.css
  src/content/app/entity-viewer/components/example-links/ExampleLinks.tsx
  src/content/app/genome-browser/components/zmenu/zmenus/VariantZmenu.tsx
  src/content/app/species/state/general/speciesGeneralHelper.ts
  src/shared/helpers/urlHelper.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Move a couple of magic numbers into named constants; update logic
  src/content/app/entity-viewer/variant-view/variant-image/reference-sequence-allele/ReferenceSequenceAllele.tsx
  src/content/app/entity-viewer/variant-view/variant-image/useVariantImageData.ts
  src/content/app/entity-viewer/variant-view/variant-image/variantImageConstants.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Remove obsolete commented out code
  src/content/app/entity-viewer/variant-view/variant-view-navigation-panel/variant-view-tab/VariantViewTab.module.css
Due: stylelint

Ev nav buttons (#1077)
  src/content/app/entity-viewer/components/example-links/ExampleLinks.module.css
  src/content/app/entity-viewer/components/example-links/ExampleLinks.tsx
  src/content/app/entity-viewer/variant-view/VariantView.tsx
  src/content/app/entity-viewer/variant-view/variant-view-navigation-panel/VariantViewNavigationPanel.module.css
  src/content/app/entity-viewer/variant-view/variant-view-navigation-panel/VariantViewNavigationPanel.tsx
  src/content/app/entity-viewer/variant-view/variant-view-navigation-panel/variant-view-tab/VariantViewTab.module.css
  src/content/app/entity-viewer/variant-view/variant-view-navigation-panel/variant-view-tab/VariantViewTab.tsx
  src/content/app/genome-browser/components/zmenu/zmenus/VariantZmenu.tsx
  src/content/app/species/state/general/speciesGeneralHelper.ts
  src/shared/components/info-pill/InfoPill.module.css
  src/shared/components/info-pill/InfoPill.tsx
  src/shared/components/tab-button/TabButton.module.css
  src/shared/components/tab-button/TabButton.tsx
  src/shared/helpers/urlHelper.ts
  stories/shared-components/tab-button/TabButton.stories.module.css
  stories/shared-components/tab-button/TabButton.stories.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Add Variant image to Entity Viewer variant page (#1076)
  src/content/app/entity-viewer/components/example-links/ExampleLinks.module.css
  src/content/app/entity-viewer/components/example-links/ExampleLinks.tsx
  src/content/app/entity-viewer/state/api/entityViewerThoasSlice.ts
  src/content/app/entity-viewer/state/api/queries/variantDefaultQuery.ts
  src/content/app/entity-viewer/variant-view/VariantView.module.css
  src/content/app/entity-viewer/variant-view/VariantView.tsx
  src/content/app/entity-viewer/variant-view/variant-image/VariantImage.module.css
  src/content/app/entity-viewer/variant-view/variant-image/VariantImage.tsx
  src/content/app/entity-viewer/variant-view/variant-image/alternative-allele/AlternativeAllele.module.css
  src/content/app/entity-viewer/variant-view/variant-image/alternative-allele/AlternativeAllele.tsx
  src/content/app/entity-viewer/variant-view/variant-image/alternative-alleles/AlternativeAlleles.module.css
  src/content/app/entity-viewer/variant-view/variant-image/alternative-alleles/AlternativeAlleles.tsx
  src/content/app/entity-viewer/variant-view/variant-image/flanking-sequence/FlankingSequence.module.css
  src/content/app/entity-viewer/variant-view/variant-image/flanking-sequence/FlankingSequence.tsx
  src/content/app/entity-viewer/variant-view/variant-image/reference-sequence-allele/ReferenceSequenceAllele.module.css
  src/content/app/entity-viewer/variant-view/variant-image/reference-sequence-allele/ReferenceSequenceAllele.tsx
  src/content/app/entity-viewer/variant-view/variant-image/sequence-letter-block/SequenceLetterBlock.module.css
  src/content/app/entity-viewer/variant-view/variant-image/sequence-letter-block/SequenceLetterBlock.tsx
  src/content/app/entity-viewer/variant-view/variant-image/useVariantImageData.test.ts
  src/content/app/entity-viewer/variant-view/variant-image/useVariantImageData.ts
  src/content/app/entity-viewer/variant-view/variant-image/variantImageConstants.ts
  src/content/app/entity-viewer/variant-view/variant-view-navigation-panel/VariantViewNavigationPanel.module.css
  src/content/app/entity-viewer/variant-view/variant-view-navigation-panel/VariantViewNavigationPanel.tsx
  src/content/app/entity-viewer/variant-view/variant-view-navigation-panel/variant-view-tab/VariantViewTab.module.css
  src/content/app/entity-viewer/variant-view/variant-view-navigation-panel/variant-view-tab/VariantViewTab.tsx
  src/content/app/genome-browser/components/zmenu/zmenus/VariantZmenu.tsx
  src/content/app/species/state/general/speciesGeneralHelper.ts
  src/shared/components/feature-summary-strip/FeatureSummaryStrip.module.css
  src/shared/components/info-pill/InfoPill.module.css
  src/shared/components/tab-button/TabButton.module.css
  src/shared/components/tab-button/TabButton.tsx
  src/shared/helpers/urlHelper.ts
  src/shared/helpers/variantHelpers.ts
  src/shared/state/region/queries/regionChecksumQuery.ts
  src/shared/state/region/regionApiSlice.ts
  src/styles/design-tokens.css
  stories/shared-components/tab-button/TabButton.stories.module.css
  stories/shared-components/tab-button/TabButton.stories.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Add VariantSummaryStrip and add links to alleles in the sidebar
  src/content/app/entity-viewer/EntityViewerForVariant.tsx
  src/content/app/entity-viewer/variant-view/variant-summary-strip/VariantSummaryStrip.module.css
  src/content/app/entity-viewer/variant-view/variant-summary-strip/VariantSummaryStrip.tsx
  src/content/app/entity-viewer/variant-view/variant-view-sidebar/overview/MainAccordion.tsx
  src/content/app/entity-viewer/variant-view/variant-view-sidebar/overview/VariantOverview.module.css
  src/content/app/entity-viewer/variant-view/variant-view-sidebar/overview/VariantOverview.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Update styles for variant type in VariantSummaryStrip
  src/content/app/entity-viewer/variant-view/variant-summary-strip/VariantSummaryStrip.module.css
  src/content/app/entity-viewer/variant-view/variant-summary-strip/VariantSummaryStrip.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Update src/content/app/entity-viewer/variant-view/variant-view-sidebar/overview/MainAccordion.tsx
  src/content/app/entity-viewer/variant-view/variant-view-sidebar/overview/MainAccordion.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update accordion section id
  src/content/app/entity-viewer/variant-view/variant-view-sidebar/overview/MainAccordion.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Check presence of value associated with link to an app in ViewInApp component
  src/shared/components/view-in-app/ViewInApp.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update styles; remove the .value CSS class from MainAccordion.tsx
  src/content/app/entity-viewer/variant-view/variant-view-navigation-panel/variant-view-tab/VariantViewTab.module.css
  src/content/app/entity-viewer/variant-view/variant-view-sidebar/overview/MainAccordion.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Use genomeIdForUrl as a genome id passed to alleles in sidebar
  src/content/app/entity-viewer/variant-view/variant-view-sidebar/overview/VariantOverview.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Add VariantSummaryStrip and add links to alleles in the sidebar (#1078)
  src/content/app/entity-viewer/EntityViewerForVariant.tsx
  src/content/app/entity-viewer/variant-view/variant-summary-strip/VariantSummaryStrip.module.css
  src/content/app/entity-viewer/variant-view/variant-summary-strip/VariantSummaryStrip.tsx
  src/content/app/entity-viewer/variant-view/variant-view-navigation-panel/variant-view-tab/VariantViewTab.module.css
  src/content/app/entity-viewer/variant-view/variant-view-sidebar/overview/MainAccordion.tsx
  src/content/app/entity-viewer/variant-view/variant-view-sidebar/overview/VariantOverview.module.css
  src/content/app/entity-viewer/variant-view/variant-view-sidebar/overview/VariantOverview.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Update variant image styles
  src/content/app/entity-viewer/variant-view/variant-image/VariantImage.module.css
  src/content/app/entity-viewer/variant-view/variant-image/VariantImage.tsx
  src/content/app/entity-viewer/variant-view/variant-image/alternative-allele/AlternativeAllele.module.css
  src/content/app/entity-viewer/variant-view/variant-image/alternative-allele/AlternativeAllele.tsx
  src/content/app/entity-viewer/variant-view/variant-image/alternative-alleles/AlternativeAlleles.module.css
  src/content/app/entity-viewer/variant-view/variant-image/alternative-alleles/AlternativeAlleles.tsx
  src/content/app/entity-viewer/variant-view/variant-image/flanking-sequence/FlankingSequence.module.css
  src/content/app/entity-viewer/variant-view/variant-view-navigation-panel/VariantViewNavigationPanel.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Update calculations for offset of label of reference allele
  src/content/app/entity-viewer/variant-view/variant-image/VariantImage.module.css
Due: stylelint

Add more variant information to right hand panel
  src/content/app/entity-viewer/state/api/queries/variantDefaultQuery.ts
  src/content/app/entity-viewer/variant-view/variant-view-sidebar/overview/MainAccordion.tsx
  src/content/app/entity-viewer/variant-view/variant-view-sidebar/overview/VariantOverview.module.css
  src/content/app/entity-viewer/variant-view/variant-view-sidebar/overview/VariantOverview.tsx
  src/shared/components/variant-vcf/VariantVCF.tsx
  src/shared/helpers/urlHelper.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Add scrolling, add horizontal orange line, and add 'View in' button
  src/content/app/entity-viewer/variant-view/VariantView.module.css
  src/content/app/entity-viewer/variant-view/VariantView.tsx
  src/content/app/entity-viewer/variant-view/variant-image/VariantImage.module.css
  src/content/app/entity-viewer/variant-view/variant-image/VariantImage.tsx
  src/content/app/entity-viewer/variant-view/variant-image/flanking-sequence/FlankingSequence.module.css
  src/content/app/entity-viewer/variant-view/variant-image/flanking-sequence/FlankingSequence.tsx
  src/content/app/entity-viewer/variant-view/variant-image/reference-sequence-allele/ReferenceSequenceAllele.module.css
  src/content/app/entity-viewer/variant-view/variant-view-navigation-panel/VariantViewNavigationPanel.module.css
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Deploy to new k8s for dev-2020
  .gitlab-ci.yml
Due: none

Test Deploy on newk8s
  .gitlab-ci.yml
Due: none

Fix Pipeline
  .gitlab-ci.yml
Due: none

Review Deployment in new cluster
  .gitlab-ci.yml
Due: none

Fix Review app deployment
  .gitlab-ci.yml
Due: none

PR suggestions
  src/content/app/entity-viewer/variant-view/variant-view-sidebar/overview/MainAccordion.tsx
  src/content/app/entity-viewer/variant-view/variant-view-sidebar/overview/VariantOverview.module.css
  src/shared/helpers/urlHelper.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Styling fix
  src/content/app/entity-viewer/variant-view/variant-view-sidebar/overview/MainAccordion.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Remove forgotten commented out lines
  src/content/app/entity-viewer/variant-view/variant-image/VariantImage.module.css
  src/content/app/entity-viewer/variant-view/variant-image/flanking-sequence/FlankingSequence.tsx
  src/content/app/entity-viewer/variant-view/variant-image/reference-sequence-allele/ReferenceSequenceAllele.module.css
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Variant image fixes (#1080)
  src/content/app/entity-viewer/variant-view/VariantView.module.css
  src/content/app/entity-viewer/variant-view/VariantView.tsx
  src/content/app/entity-viewer/variant-view/variant-image/VariantImage.module.css
  src/content/app/entity-viewer/variant-view/variant-image/VariantImage.tsx
  src/content/app/entity-viewer/variant-view/variant-image/alternative-allele/AlternativeAllele.module.css
  src/content/app/entity-viewer/variant-view/variant-image/alternative-allele/AlternativeAllele.tsx
  src/content/app/entity-viewer/variant-view/variant-image/alternative-alleles/AlternativeAlleles.module.css
  src/content/app/entity-viewer/variant-view/variant-image/alternative-alleles/AlternativeAlleles.tsx
  src/content/app/entity-viewer/variant-view/variant-image/flanking-sequence/FlankingSequence.module.css
  src/content/app/entity-viewer/variant-view/variant-image/flanking-sequence/FlankingSequence.tsx
  src/content/app/entity-viewer/variant-view/variant-image/reference-sequence-allele/ReferenceSequenceAllele.module.css
  src/content/app/entity-viewer/variant-view/variant-view-navigation-panel/VariantViewNavigationPanel.module.css
  src/content/app/entity-viewer/variant-view/variant-view-navigation-panel/VariantViewNavigationPanel.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Add more variant information to right hand panel (#1079)
  src/content/app/entity-viewer/state/api/queries/variantDefaultQuery.ts
  src/content/app/entity-viewer/variant-view/variant-view-sidebar/overview/MainAccordion.tsx
  src/content/app/entity-viewer/variant-view/variant-view-sidebar/overview/VariantOverview.module.css
  src/content/app/entity-viewer/variant-view/variant-view-sidebar/overview/VariantOverview.tsx
  src/shared/components/variant-vcf/VariantVCF.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Show variant name and variant group in the navigation panel in EntityViewer
  src/content/app/entity-viewer/variant-view/variant-view-navigation-panel/VariantViewNavigationPanel.tsx
  src/shared/helpers/variantHelpers.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Template for setting up review on newk8s
  gitlab-ci-templates/.setup-review-template.yaml
Due: none

Add Job to setup review on newk8s
  .gitlab-ci.yml
Due: none

Bump genome browser package version
  package-lock.json
  package.json
Due: none

Cleanup
  .gitlab-ci.yml
Due: none
