Repository Ensembl/ensembl-client: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Move cogList to GB contxnt
  src/content/app/genome-browser/Browser.tsx
  src/content/app/genome-browser/components/browser-cog/useBrowserCogList.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Add scrollbar gutter to StandardAppLayout sidebar (#790)
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/TrackPanelList.scss
  src/shared/components/layout/StandardAppLayout.scss
  src/shared/components/loader/SidebarLoader.scss
Due: prettier --write, stylelint

cleanup mock state
  tests/fixtures/browser.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Enable collapsing of BLAST job boxes (#779)
  src/content/app/tools/blast/components/listed-blast-submission/ListedBlastSubmission.scss
  src/content/app/tools/blast/components/listed-blast-submission/ListedBlastSubmission.test.tsx
  src/content/app/tools/blast/components/listed-blast-submission/ListedBlastSubmission.tsx
  src/content/app/tools/blast/state/blast-results/blastResultsSelectors.ts
  src/content/app/tools/blast/state/blast-results/blastResultsSlice.ts
  src/shared/components/show-hide/ShowHide.scss
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Use real genome id instead of the id in the url for external references in Entity Viewer
  src/content/app/entity-viewer/gene-view/components/gene-view-sidebar/external-references/GeneExternalReferences.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

right align removal confirmation
  src/content/app/species/components/species-title-area/SpeciesTitleArea.scss
Due: prettier --write, stylelint

truncate header
  src/content/app/tools/blast/views/blast-submission-results/BlastSubmissionResults.scss
  src/content/app/tools/blast/views/blast-submission-results/BlastSubmissionResults.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

review changes
  src/content/app/tools/blast/types/blastApiResponse.ts
  src/content/app/tools/blast/views/blast-submission-results/BlastSubmissionResults.scss
  src/content/app/tools/blast/views/blast-submission-results/BlastSubmissionResults.tsx
  src/styles/_settings.scss
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

use pluralise
  src/content/app/tools/blast/views/blast-submission-results/BlastSubmissionResults.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

update import
  src/content/app/tools/blast/views/blast-submission-results/BlastSubmissionResults.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

add blast results page showing results summary
  src/content/app/tools/blast/components/listed-blast-submission/ListedBlastSubmission.tsx
  src/content/app/tools/blast/state/blast-api/blastApiSlice.ts
  src/content/app/tools/blast/state/blast-results/blastResultsSlice.ts
  src/content/app/tools/blast/types/blastApiResponse.ts
  src/content/app/tools/blast/views/blast-submission-results/BlastSubmissionResults.scss
  src/content/app/tools/blast/views/blast-submission-results/BlastSubmissionResults.tsx
  src/content/app/tools/blast/views/blast-unviewed-submissions/BlastUnviewedSubmissions.scss
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

create Header component for submission detail page; add seq header
  src/content/app/tools/blast/views/blast-submission-results/BlastSubmissionResults.scss
  src/content/app/tools/blast/views/blast-submission-results/BlastSubmissionResults.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

review changes
  src/content/app/tools/blast/views/blast-submission-results/BlastSubmissionResults.scss
  src/content/app/tools/blast/views/blast-submission-results/BlastSubmissionResults.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

move header into separate component
  src/content/app/tools/blast/components/blast-submission-header-container/BlastSubmissionHeaderGrid.scss
  src/content/app/tools/blast/components/blast-submission-header-container/BlastSubmissionHeaderGrid.tsx
  src/content/app/tools/blast/components/blast-submission-header/BlastSubmissionHeader.scss
  src/content/app/tools/blast/components/blast-submission-header/BlastSubmissionHeader.tsx
  src/content/app/tools/blast/components/listed-blast-submission/ListedBlastSubmission.test.tsx
  src/content/app/tools/blast/components/listed-blast-submission/ListedBlastSubmission.tsx
  src/content/app/tools/blast/views/blast-submission-results/BlastSubmissionResults.tsx
  src/shared/components/delete-button/DeleteButton.scss
  src/shared/components/delete-button/DeleteButton.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

review updates
  src/content/app/tools/blast/state/blast-api/blastApiSlice.ts
  src/content/app/tools/blast/views/blast-submission-results/BlastSubmissionResults.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

revert a minor change
  src/content/app/tools/blast/views/blast-submission-results/BlastSubmissionResults.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

css adjustments
  src/content/app/tools/blast/components/listed-blast-submission/ListedBlastSubmission.scss
  src/content/app/tools/blast/components/listed-blast-submission/ListedBlastSubmission.tsx
  src/content/app/tools/blast/state/blast-results/blastResultsSelectors.ts
  src/content/app/tools/blast/views/blast-submission-results/BlastSubmissionResults.scss
  src/content/app/tools/blast/views/blast-submission-results/BlastSubmissionResults.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

fix top paddingleft and stats table alignment
  src/content/app/species/SpeciesPage.scss
  src/content/app/species/components/species-main-view/SpeciesMainView.scss
Due: prettier --write, stylelint

remove padding left from standardapp layout topbar and add padding or margin to each app top bar
  src/content/app/entity-viewer/shared/components/entity-viewer-topbar/EntityViewerTopbar.scss
  src/content/app/genome-browser/components/browser-bar/BrowserBar.scss
  src/content/app/species/SpeciesPage.scss
  src/shared/components/layout/StandardAppLayout.scss
Due: prettier --write, stylelint

css fixes and merge fix
  src/content/app/tools/blast/components/blast-submission-header-container/BlastSubmissionHeaderGrid.scss
  src/content/app/tools/blast/components/blast-submission-header-container/BlastSubmissionHeaderGrid.tsx
  src/content/app/tools/blast/components/blast-submission-header/BlastSubmissionHeader.scss
  src/content/app/tools/blast/components/blast-submission-header/BlastSubmissionHeader.tsx
  src/content/app/tools/blast/components/listed-blast-submission/ListedBlastSubmission.scss
  src/content/app/tools/blast/components/listed-blast-submission/ListedBlastSubmission.tsx
  src/content/app/tools/blast/views/blast-submission-results/BlastSubmissionResults.scss
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

pr feedback
  src/content/app/tools/blast/components/blast-input-sequences/BlastInputSequences.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

css cleanup
  src/content/app/tools/blast/components/blast-submission-header/BlastSubmissionHeader.scss
  src/content/app/tools/blast/views/blast-submission-results/BlastSubmissionResults.scss
Due: prettier --write, stylelint

Use real genome id instead of the id in the url for external references in Entity Viewer (#793)
  src/content/app/entity-viewer/gene-view/components/gene-view-sidebar/external-references/GeneExternalReferences.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Species home page UI improvement (#789)
  src/content/app/entity-viewer/shared/components/entity-viewer-topbar/EntityViewerTopbar.scss
  src/content/app/genome-browser/components/browser-bar/BrowserBar.scss
  src/content/app/species/SpeciesPage.scss
  src/content/app/species/SpeciesPageContent.tsx
  src/content/app/species/components/species-main-view/SpeciesMainView.scss
  src/content/app/species/components/species-main-view/SpeciesMainView.tsx
  src/content/app/species/components/species-title-area/SpeciesTitleArea.scss
  src/content/app/species/components/species-title-area/species-remove/SpeciesRemove.scss
  src/content/app/species/components/species-title-area/species-remove/SpeciesRemove.test.tsx
  src/content/app/species/components/species-title-area/species-remove/SpeciesRemove.tsx
  src/shared/components/layout/StandardAppLayout.scss
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Remove cogs position from redux (#791)
  src/content/app/genome-browser/Browser.tsx
  src/content/app/genome-browser/components/browser-cog/BrowserCogList.test.tsx
  src/content/app/genome-browser/components/browser-cog/BrowserCogList.tsx
  src/content/app/genome-browser/components/browser-cog/useBrowserCogList.ts
  src/content/app/genome-browser/components/track-settings-panel/TrackSettingsPanel.test.tsx
  src/content/app/genome-browser/components/track-settings-panel/useTrackSettings.ts
  src/content/app/genome-browser/state/track-settings/trackSettingsSelectors.ts
  src/content/app/genome-browser/state/track-settings/trackSettingsSlice.ts
  tests/fixtures/browser.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

more pr review cleanups
  src/content/app/tools/blast/components/blast-submission-header/BlastSubmissionHeader.scss
  src/content/app/tools/blast/components/blast-submission-header/BlastSubmissionHeader.tsx
  src/content/app/tools/blast/components/listed-blast-submission/ListedBlastSubmission.scss
  src/content/app/tools/blast/views/blast-submission-results/BlastSubmissionResults.scss
  src/content/app/tools/blast/views/blast-submission-results/BlastSubmissionResults.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

update inactive download and delete button css
  src/content/app/tools/blast/components/blast-submission-header/BlastSubmissionHeader.scss
  src/content/app/tools/blast/components/blast-submission-header/BlastSubmissionHeader.tsx
  src/content/app/tools/blast/components/listed-blast-submission/ListedBlastSubmission.scss
  src/shared/components/delete-button/DeleteButton.scss
  src/shared/components/delete-button/DeleteButton.tsx
  src/shared/components/download-button/DownloadButton.scss
  src/shared/components/download-button/DownloadButton.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

fix test
  src/content/app/tools/blast/components/listed-blast-submission/ListedBlastSubmission.test.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Fix test
  src/content/app/tools/blast/components/listed-blast-submission/ListedBlastSubmission.test.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Fix randomly failing test
  src/shared/components/upload/hooks/useFileDrop.test.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

fix import order
  src/content/app/tools/blast/views/blast-submission-results/BlastSubmissionResults.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Show blast results summary for individual submission (#780)
  src/content/app/tools/blast/components/blast-submission-header-container/BlastSubmissionHeaderGrid.scss
  src/content/app/tools/blast/components/blast-submission-header/BlastSubmissionHeader.scss
  src/content/app/tools/blast/components/blast-submission-header/BlastSubmissionHeader.tsx
  src/content/app/tools/blast/components/listed-blast-submission/ListedBlastSubmission.scss
  src/content/app/tools/blast/components/listed-blast-submission/ListedBlastSubmission.test.tsx
  src/content/app/tools/blast/components/listed-blast-submission/ListedBlastSubmission.tsx
  src/content/app/tools/blast/state/blast-api/blastApiSlice.ts
  src/content/app/tools/blast/state/blast-results/blastResultsSelectors.ts
  src/content/app/tools/blast/state/blast-results/blastResultsSlice.ts
  src/content/app/tools/blast/types/blastApiResponse.ts
  src/content/app/tools/blast/views/blast-submission-results/BlastSubmissionResults.scss
  src/content/app/tools/blast/views/blast-submission-results/BlastSubmissionResults.tsx
  src/content/app/tools/blast/views/blast-unviewed-submissions/BlastUnviewedSubmissions.scss
  src/shared/components/delete-button/DeleteButton.scss
  src/shared/components/delete-button/DeleteButton.tsx
  src/shared/components/download-button/DownloadButton.scss
  src/shared/components/download-button/DownloadButton.tsx
  src/styles/_settings.scss
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Fix randomly failing test (#794)
  src/shared/components/upload/hooks/useFileDrop.test.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Fix useRefWithRerender hook
  src/content/app/genome-browser/components/zmenu/Zmenu.tsx
  src/shared/hooks/tests/useRefWithRerender.test.tsx
  src/shared/hooks/useRefWithRerender.ts
  stories/shared-components/tooltip/Tooltip.stories.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Add BLAST hits diagram
  src/content/app/tools/blast/components/blast-hits-diagram/BlastHitsDiagram.scss
  src/content/app/tools/blast/components/blast-hits-diagram/BlastHitsDiagram.tsx
  stories/blast/blast-hits-diagram/BlastHitsDiagram.stories.tsx
  stories/blast/blast-hits-diagram/blastGenomic.json
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Update Storybook
  stories/blast/blast-hits-diagram/BlastHitsDiagram.stories.tsx
  stories/blast/blast-hits-diagram/blastGenomic2.json
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

PR feedback
  src/content/app/tools/blast/components/blast-input-sequences/BlastInputSequences.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Custom checkbox column position
  src/shared/components/table/Table.tsx
  src/shared/components/table/components/main/components/table-header/TableHeader.tsx
  src/shared/components/table/components/main/components/table-row/TableRow.tsx
  stories/shared-components/table/Table.stories.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Fix chevron classes
  src/content/app/tools/blast/views/blast-submission-results/BlastSubmissionResults.tsx
  src/shared/components/table/Table.tsx
  src/shared/components/table/components/table-controls/components/pagination/Pagination.scss
  src/shared/components/table/components/table-controls/components/pagination/Pagination.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Path conditions:
  eslint --max-warnings=0: any of: *.{ts,tsx}
  manage-licence-header add: any of: *.{ts,tsx}
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.scss)
  stylelint: any of: *.scss
