Repository Ensembl/ensembl-client: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

.lintstagedrc.json:

{
  "*.{ts,tsx}": [
    "eslint --max-warnings=0",
    "manage-licence-header add",
    "prettier --write"
  ],
  "*.scss": [
    "stylelint",
    "prettier --write"
  ]
}

Use inline flex
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/TrackPanelList.scss
Due: prettier --write, stylelint

Use inline flex
  src/content/app/entity-viewer/gene-view/components/gene-view-sidebar/overview/GeneOverview.scss
Due: prettier --write, stylelint

Add "Find a gene" link to GB sidebar (#767)
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/TrackPanelList.scss
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/TrackPanelList.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Add "find a gene" link to entity viewer sidebar (#766)
  src/content/app/entity-viewer/gene-view/components/gene-view-sidebar/overview/GeneOverview.scss
  src/content/app/entity-viewer/gene-view/components/gene-view-sidebar/overview/GeneOverview.test.tsx
  src/content/app/entity-viewer/gene-view/components/gene-view-sidebar/overview/GeneOverview.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

replace gene-focus to focus
  src/content/app/genome-browser/components/browser-cog/BrowserCogList.test.tsx
  src/content/app/genome-browser/components/browser-track-config/BrowserTrackConfig.test.tsx
  src/content/app/genome-browser/components/track-panel/trackPanelConfig.ts
  src/content/app/genome-browser/services/browserStorageService.test.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

rebase dev
  src/content/app/genome-browser/state/track-config/trackConfigSlice.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

remove padding top
  src/content/app/genome-browser/components/drawer/components/sequence-view/DrawerSequenceView.scss
Due: prettier --write, stylelint

clear all fix
  src/content/app/tools/blast/components/blast-input-sequences/BlastInputSequence.tsx
  src/content/app/tools/blast/components/blast-input-sequences/BlastInputSequencesHeader.tsx
  src/content/app/tools/blast/views/blast-form/BlastFormContext.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

remove unwanted checks
  src/content/app/genome-browser/hooks/useGenomeBrowser.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

set min height for sequence view (#770)
  src/content/app/genome-browser/components/drawer/components/sequence-view/DrawerSequenceView.scss
Due: prettier --write, stylelint

do a strict match on focus
  src/content/app/genome-browser/state/track-config/trackConfigSlice.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

remove unnecessary variable
  src/content/app/genome-browser/hooks/useGenomeBrowser.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Migrate GA to GA4
  src/server/routes/unsupportedBrowserRouter.tsx
  src/services/analytics-service.ts
  src/services/google-analytics/index.ts
  src/services/google-analytics/loadGoogleAnalytics.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

spacing adjustments
  src/content/app/entity-viewer/gene-view/GeneView.scss
  src/content/app/entity-viewer/gene-view/components/default-transcripts-list/DefaultTranscriptsList.scss
  src/content/app/genome-browser/components/browser-cog/BrowserCogList.scss
  src/header/Header.scss
  src/header/launchbar/Launchbar.scss
  src/shared/components/app-bar/AppBar.scss
  src/shared/components/layout/StandardAppLayout.scss
  src/shared/components/species-tabs-wrapper/SingleLineSpeciesWrapper.scss
  src/styles/_settings.scss
Due: prettier --write, stylelint

Address comments to the PR
  src/content/app/entity-viewer/EntityViewer.tsx
  src/content/app/entity-viewer/shared/components/entity-viewer-sidebar/entity-viewer-sidebar-modal/modal-views/EntityViewerSearch.tsx
  src/content/app/entity-viewer/shared/components/entity-viewer-topbar/EntityViewerTopbar.tsx
  src/content/app/genome-browser/components/drawer/drawer-views/transcript-summary/TranscriptSummary.tsx
  src/content/app/genome-browser/components/interstitial/BrowserInterstitial.tsx
  src/content/app/genome-browser/components/zmenu/ZmenuAppLinks.tsx
  src/content/app/genome-browser/state/browser-general/browserGeneralSlice.ts
  src/content/app/species-selector/state/speciesSelectorSlice.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Remove commented redux action
  src/content/app/species-selector/state/speciesSelectorSlice.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Move resetting of transcript filters into the GeneView component
  src/content/app/entity-viewer/gene-view/GeneView.tsx
  src/content/app/entity-viewer/state/general/entityViewerGeneralSlice.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Reset real timers in each test for useShowTooltip
  src/shared/hooks/tests/useShowTooltip.test.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Fix tests for GeneOverview and Browser components
  src/content/app/entity-viewer/gene-view/components/gene-view-sidebar/overview/GeneOverview.test.tsx
  src/content/app/entity-viewer/gene-view/components/gene-view-sidebar/overview/GeneOverview.tsx
  src/content/app/genome-browser/Browser.test.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Fix tests for BrowserImage
  src/content/app/genome-browser/components/browser-image/BrowserImage.test.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Fix tests for BookmarksModal
  src/content/app/genome-browser/components/browser-sidebar-modal/modal-views/BookmarksModal.test.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Fix tests for EntityViewerBookmarks
  src/content/app/entity-viewer/shared/components/entity-viewer-sidebar/entity-viewer-sidebar-modal/modal-views/EntityViewerBookmarks.test.tsx
  src/content/app/species-selector/components/species-search-field/SpeciesSearchField.tsx
  src/content/app/species-selector/components/species-search-match/SpeciesSearchMatch.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Replace gene-focus to focus (#769)
  src/content/app/genome-browser/components/browser-cog/BrowserCogList.test.tsx
  src/content/app/genome-browser/components/browser-track-config/BrowserTrackConfig.test.tsx
  src/content/app/genome-browser/components/track-panel/trackPanelConfig.ts
  src/content/app/genome-browser/hooks/useGenomeBrowser.ts
  src/content/app/genome-browser/services/browserStorageService.test.ts
  src/content/app/genome-browser/state/track-config/trackConfigSlice.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

removing sequence validity on component unmount
  src/content/app/tools/blast/components/blast-input-sequences/BlastInputSequence.tsx
  src/content/app/tools/blast/components/blast-input-sequences/BlastInputSequences.tsx
  src/content/app/tools/blast/components/blast-input-sequences/BlastInputSequencesHeader.tsx
  src/content/app/tools/blast/views/blast-form/BlastFormContext.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Fix tests for BrowserLocationIndicator
  src/content/app/genome-browser/components/browser-location-indicator/BrowserLocationIndicator.test.tsx
  src/content/app/genome-browser/components/browser-location-indicator/BrowserLocationIndicator.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Test GA
  config.ts
  src/server/helpers/getConfigForClient.ts
  src/services/google-analytics/loadGoogleAnalytics.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Fix tests for useBrowserRouting
  src/content/app/genome-browser/components/browser-location-indicator/BrowserLocationIndicator.test.tsx
  src/content/app/genome-browser/components/browser-region-editor/BrowserRegionEditor.test.tsx
  src/content/app/genome-browser/hooks/useBrowserRouting.test.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Override GA key
  src/server/helpers/getConfigForClient.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Blast error icon (#763)
  src/content/app/tools/blast/components/blast-input-sequences/BlastInputSequence.scss
  src/content/app/tools/blast/components/blast-input-sequences/BlastInputSequence.tsx
  src/content/app/tools/blast/components/blast-input-sequences/BlastInputSequences.scss
  src/content/app/tools/blast/components/blast-input-sequences/BlastInputSequences.tsx
  src/content/app/tools/blast/components/blast-input-sequences/BlastInputSequencesHeader.tsx
  src/content/app/tools/blast/views/blast-form/BlastForm.tsx
  src/content/app/tools/blast/views/blast-form/BlastFormContext.tsx
  src/shared/components/alert-button/AlertButton.scss
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Put back UA
  src/services/google-analytics/loadGoogleAnalytics.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Fix sequence downloading on EntityViewer page
  src/content/app/entity-viewer/gene-view/components/default-transcripts-list/transcripts-list-item-info/TranscriptsListItemInfo.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Will this help?
  src/services/google-analytics/loadGoogleAnalytics.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Try another id?
  src/server/helpers/getConfigForClient.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Back to the previous id
  src/server/helpers/getConfigForClient.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Push Arguments into the data layer
  src/services/google-analytics/loadGoogleAnalytics.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Fix species lozenges on the species page
  src/content/app/species/SpeciesPageContent.tsx
  src/content/app/species/components/species-app-bar/SpeciesAppBar.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

update blast error message
  src/content/app/tools/blast/components/blast-input-sequences/BlastInputSequence.tsx
  src/content/app/tools/blast/components/blast-input-sequences/BlastInputSequencesHeader.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

update blast error message (#774)
  src/content/app/tools/blast/components/blast-input-sequences/BlastInputSequence.tsx
  src/content/app/tools/blast/components/blast-input-sequences/BlastInputSequencesHeader.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

fix zmenu redux error, do not dispatch when it is being rendered
  src/content/app/genome-browser/components/zmenu/Zmenu.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write
