Repository Ensembl/ensembl-client: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

.lintstagedrc.json:

{
  "*.{ts,tsx}": [
    "eslint --max-warnings=0",
    "manage-licence-header add",
    "prettier --write"
  ],
  "*.css": [
    "stylelint"
  ]
}

Add legend for alignments and structural variants colour to the sidebar
  src/content/app/structural-variants/StructuralVariants.tsx
  src/content/app/structural-variants/components/structural-variants-sidebar/StructuralVariantsSidebar.module.css
  src/content/app/structural-variants/components/structural-variants-sidebar/StructuralVariantsSidebar.tsx
  src/content/app/structural-variants/components/structural-variants-sidebar/alignments-legend/AlignmentsLegend.module.css
  src/content/app/structural-variants/components/structural-variants-sidebar/alignments-legend/AlignmentsLegend.tsx
  src/content/app/structural-variants/components/structural-variants-sidebar/variants-legend/VariantsLegend.module.css
  src/content/app/structural-variants/components/structural-variants-sidebar/variants-legend/VariantsLegend.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Structural Variants: pass lengths of ref and alt genomic regions to prevent navigation outside of their boundaries
  package-lock.json
  src/content/app/structural-variants/StructuralVariants.tsx
  src/content/app/structural-variants/components/structural-variants-image/StructuralVariantsImage.tsx
  src/content/app/structural-variants/components/structural-variants-main/StructuralVariantsMain.tsx
  src/content/app/structural-variants/components/structural-variants-nav-buttons/StructuralVariantsNavButtons.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Use colours imported from the @ensembl/ensembl-structural-variants package
  src/content/app/structural-variants/components/structural-variants-sidebar/alignments-legend/AlignmentsLegend.tsx
  src/content/app/structural-variants/components/structural-variants-sidebar/variants-legend/VariantsLegend.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update legend colours in sidebar
  src/content/app/structural-variants/components/structural-variants-sidebar/alignments-legend/AlignmentsLegend.module.css
  src/content/app/structural-variants/components/structural-variants-sidebar/alignments-legend/AlignmentsLegend.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Use updated package (with updated colours)
  package-lock.json
  package.json
Due: none

Update package-lock
  package-lock.json
Due: none

Remove unused CSS rules
  src/content/app/structural-variants/components/structural-variants-sidebar/alignments-legend/AlignmentsLegend.module.css
Due: stylelint

Add legend for alignments and structural variants colour to the sidebar (#1252)
  package-lock.json
  package.json
  src/content/app/structural-variants/StructuralVariants.tsx
  src/content/app/structural-variants/components/structural-variants-sidebar/StructuralVariantsSidebar.module.css
  src/content/app/structural-variants/components/structural-variants-sidebar/StructuralVariantsSidebar.tsx
  src/content/app/structural-variants/components/structural-variants-sidebar/alignments-legend/AlignmentsLegend.module.css
  src/content/app/structural-variants/components/structural-variants-sidebar/alignments-legend/AlignmentsLegend.tsx
  src/content/app/structural-variants/components/structural-variants-sidebar/variants-legend/VariantsLegend.module.css
  src/content/app/structural-variants/components/structural-variants-sidebar/variants-legend/VariantsLegend.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Structural Variants: add an interstitial screen with error handling
  src/content/app/structural-variants/StructuralVariants.tsx
  src/content/app/structural-variants/components/structural-variants-interstitial/StructuralVariantsInterstitial.module.css
  src/content/app/structural-variants/components/structural-variants-interstitial/StructuralVariantsInterstitial.tsx
  src/content/app/structural-variants/components/structural-variants-top-bar/StructuralVariantsTopBar.tsx
  src/content/app/structural-variants/hooks/useStructuralVariantsRouting.ts
  src/shared/helpers/navigationHelpers.ts
  tsconfig.json
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Make sure form elements in top bar get reset when navigating to structural variants rool url
  src/content/app/structural-variants/StructuralVariants.tsx
  src/content/app/structural-variants/components/structural-variants-top-bar/useTopBarState.ts
  src/content/app/structural-variants/hooks/useStructuralVariantsRouting.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Memoize location objects; clean up some comments
  src/content/app/structural-variants/StructuralVariants.tsx
  src/content/app/structural-variants/components/structural-variants-interstitial/StructuralVariantsInterstitial.tsx
  src/content/app/structural-variants/hooks/useStructuralVariantsRouting.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Use correct dependency arrays when memoizing genome locations
  src/content/app/structural-variants/hooks/useStructuralVariantsRouting.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update comment
  src/content/app/structural-variants/components/structural-variants-interstitial/StructuralVariantsInterstitial.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Fix disappearing transcript labels
  src/content/app/genome-browser/components/browser-image/BrowserImage.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

fix
  src/content/app/genome-browser/components/browser-image/BrowserImage.tsx
  src/content/app/genome-browser/hooks/useFocusTrack.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Structural Variants: add an interstitial screen with error handling (#1253)
  src/content/app/structural-variants/StructuralVariants.tsx
  src/content/app/structural-variants/components/structural-variants-interstitial/StructuralVariantsInterstitial.module.css
  src/content/app/structural-variants/components/structural-variants-interstitial/StructuralVariantsInterstitial.tsx
  src/content/app/structural-variants/components/structural-variants-top-bar/StructuralVariantsTopBar.tsx
  src/content/app/structural-variants/components/structural-variants-top-bar/useTopBarState.ts
  src/content/app/structural-variants/hooks/useStructuralVariantsRouting.ts
  src/shared/helpers/navigationHelpers.ts
  tsconfig.json
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Update dependencies
  package-lock.json
  package.json
Due: none

Fix disappearing transcript id in focus gene track while navigating apps (#1254)
  src/content/app/genome-browser/hooks/useFocusTrack.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update dependencies (#1255)
  package-lock.json
  package.json
Due: none

Update eslint config
  eslint.config.js
Due: none

Enable all rules from eslint-plugin-react-hooks recommended config
  eslint.config.js
Due: none

Add some labels next to structural variants browser
  package-lock.json
  package.json
  src/content/app/structural-variants/components/structural-variants-image/StructuralVariantsImage.tsx
  src/content/app/structural-variants/components/structural-variants-main/LeftColumn.tsx
  src/content/app/structural-variants/components/structural-variants-main/StructuralVariantsMain.module.css
  src/content/app/structural-variants/components/structural-variants-main/StructuralVariantsMain.tsx
  src/content/app/structural-variants/contexts/StructuralVariantsImageContext.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Fetch tracks from track api; display track labels
  package-lock.json
  src/content/app/structural-variants/components/structural-variants-image/StructuralVariantsImage.tsx
  src/content/app/structural-variants/components/structural-variants-main/RightColumn.tsx
  src/content/app/structural-variants/components/structural-variants-main/StructuralVariantsMain.module.css
  src/content/app/structural-variants/components/structural-variants-main/StructuralVariantsMain.tsx
  src/content/app/structural-variants/contexts/StructuralVariantsImageContext.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Update label text
  src/content/app/structural-variants/components/structural-variants-main/LeftColumn.tsx
  src/content/app/structural-variants/components/structural-variants-main/StructuralVariantsMain.module.css
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Structural variants: add labels for the structural variants browser (#1256)
  package-lock.json
  package.json
  src/content/app/structural-variants/components/structural-variants-image/StructuralVariantsImage.tsx
  src/content/app/structural-variants/components/structural-variants-main/LeftColumn.tsx
  src/content/app/structural-variants/components/structural-variants-main/RightColumn.tsx
  src/content/app/structural-variants/components/structural-variants-main/StructuralVariantsMain.module.css
  src/content/app/structural-variants/components/structural-variants-main/StructuralVariantsMain.tsx
  src/content/app/structural-variants/contexts/StructuralVariantsImageContext.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Use updated event payload from @ensembl/ensembl-structural-variants
  package-lock.json
  src/content/app/structural-variants/components/structural-variants-image/StructuralVariantsImage.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Show tooltip using pointer box
  README.md
  src/content/app/structural-variants/components/structural-variants-feature-tooltip/README.md
  src/content/app/structural-variants/components/structural-variants-feature-tooltip/TooltipContent.module.css
  src/content/app/structural-variants/components/structural-variants-feature-tooltip/TooltipContent.tsx
  src/content/app/structural-variants/components/structural-variants-image/StructuralVariantsImage.module.css
  src/content/app/structural-variants/components/structural-variants-image/StructuralVariantsImage.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Update the tooltip
  package-lock.json
  package.json
  src/content/app/structural-variants/components/structural-variants-feature-tooltip/TooltipContent.module.css
  src/content/app/structural-variants/components/structural-variants-feature-tooltip/TooltipContent.tsx
  src/content/app/structural-variants/components/structural-variants-image/StructuralVariantsImage.tsx
  src/shared/hooks/useOutsideClick.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Clean up styles
  src/content/app/structural-variants/components/structural-variants-feature-tooltip/TooltipContent.module.css
Due: stylelint

Update some dependencies
  package-lock.json
  package.json
Due: none

Update react testing library
  package-lock.json
  package.json
Due: none

Update dependencies (#1258)
  package-lock.json
  package.json
Due: none

A CSS hack around a Safari bug
  src/content/app/structural-variants/components/structural-variants-image/StructuralVariantsImage.module.css
Due: stylelint

Remove client-side default sorting
  src/content/app/entity-viewer/shared/helpers/tests/transcripts-sorter.test.ts
  src/content/app/entity-viewer/shared/helpers/transcripts-sorter.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Remove trailing slash from /species-selector/search in robots.txt
  src/server/static-files/robots.txt
Due: none

Put back the prestart script in npm scripts
  package.json
Due: none

Structural variants: show a tooltip with information about clicked features (#1257)
  README.md
  package-lock.json
  package.json
  src/content/app/structural-variants/components/structural-variants-feature-tooltip/README.md
  src/content/app/structural-variants/components/structural-variants-feature-tooltip/TooltipContent.module.css
  src/content/app/structural-variants/components/structural-variants-feature-tooltip/TooltipContent.tsx
  src/content/app/structural-variants/components/structural-variants-image/StructuralVariantsImage.module.css
  src/content/app/structural-variants/components/structural-variants-image/StructuralVariantsImage.tsx
  src/shared/hooks/useOutsideClick.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Use transcript pages for default gene query
  src/content/app/entity-viewer/gene-view/GeneView.tsx
  src/content/app/entity-viewer/gene-view/components/default-transcripts-list/DefaultTranscriptsList.tsx
  src/content/app/entity-viewer/gene-view/components/default-transcripts-list/default-transcripts-list-item/DefaultTranscriptListItem.test.tsx
  src/content/app/entity-viewer/gene-view/components/default-transcripts-list/default-transcripts-list-item/DefaultTranscriptListItem.tsx
  src/content/app/entity-viewer/gene-view/components/default-transcripts-list/transcripts-list-item-info/TranscriptsListItemInfo.test.tsx
  src/content/app/entity-viewer/gene-view/components/default-transcripts-list/transcripts-list-item-info/TranscriptsListItemInfo.tsx
  src/content/app/entity-viewer/gene-view/components/gene-function/GeneFunction.tsx
  src/content/app/entity-viewer/gene-view/components/gene-overview-image/GeneOverviewImage.tsx
  src/content/app/entity-viewer/gene-view/components/proteins-list/ProteinsList.tsx
  src/content/app/entity-viewer/gene-view/components/proteins-list/proteins-list-item-info/ProteinsListItemInfo.tsx
  src/content/app/entity-viewer/state/api/queries/defaultGeneQuery.ts
  tests/fixtures/entity-viewer/gene.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Revert from gene.transcripts_page to gene.transcripts
  src/content/app/entity-viewer/gene-view/GeneView.tsx
  src/content/app/entity-viewer/gene-view/components/default-transcripts-list/DefaultTranscriptsList.tsx
  src/content/app/entity-viewer/gene-view/components/default-transcripts-list/default-transcripts-list-item/DefaultTranscriptListItem.test.tsx
  src/content/app/entity-viewer/gene-view/components/default-transcripts-list/transcripts-list-item-info/TranscriptsListItemInfo.test.tsx
  src/content/app/entity-viewer/gene-view/components/gene-function/GeneFunction.tsx
  src/content/app/entity-viewer/gene-view/components/gene-overview-image/GeneOverviewImage.tsx
  src/content/app/entity-viewer/gene-view/components/proteins-list/ProteinsList.tsx
  src/content/app/entity-viewer/state/api/queries/defaultGeneQuery.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write
