Repository Ensembl/ensembl-client: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

.lintstagedrc.json:

{
  "*.{ts,tsx}": [
    "eslint --max-warnings=0",
    "manage-licence-header add",
    "prettier --write"
  ],
  "*.css": [
    "stylelint"
  ]
}

Change button text
  src/content/app/tools/vep/views/vep-form/vep-form-species-section/VepFormSpeciesSection.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Remove unnecessary formatting code for UTRAnnotator
  src/content/app/tools/vep/views/vep-form/vep-form-options-section/vep-form-options-panel/VepFormOptionsPanel.module.css
  src/content/app/tools/vep/views/vep-form/vep-form-options-section/vep-form-options-panel/VepFormOptionsPanel.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Fix styles for Feature Explorer app icon
  src/shared/components/app-icon/AppIcon.module.css
  src/shared/components/app-icon/EntityViewerIcon.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Remove some comments
  WORK_NOTES.md
  src/content/app/tools/vep/views/vep-form/vep-form-options-section/vep-form-options-panel/OptionHelpText.tsx
  src/content/app/tools/vep/views/vep-form/vep-form-options-section/vep-form-options-panel/panelSelectionUpdates.test.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Minor update to styles and display rules for genomes suggestions list
  src/content/app/tools/vep/views/vep-species-selector/VepGenomesQuickList.module.css
  src/content/app/tools/vep/views/vep-species-selector/VepSpeciesSelector.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

refactor(vep): take option help from the API
  src/content/app/tools/vep/types/vepFormConfig.ts
  src/content/app/tools/vep/views/vep-form/vep-form-options-section/vep-form-options-panel/optionHelp.test.ts
  src/content/app/tools/vep/views/vep-form/vep-form-options-section/vep-form-options-panel/optionHelp.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

POC for Sequence Viewer
  src/content/app/genome-browser/components/browser-nav-buttons/GenomeBrowserNavigationButtons.module.css
  src/content/app/genome-browser/components/browser-nav-buttons/GenomeBrowserNavigationButtons.tsx
  src/content/app/sequence-viewer/SequenceViewer.module.css
  src/content/app/sequence-viewer/SequenceViewer.tsx
  src/content/app/sequence-viewer/state/api/sequenceViewerApiSlice.ts
  src/routes/routesConfig.tsx
  src/shared/helpers/urlHelper.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Avoid column breaks inside of a .section element (they behave poorly on Firefox, and break Safari)
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-annotation-detail/VepResultsAnnotationDetail.module.css
Due: stylelint

Remove taxonomy/assembly params from form config request
  WORK_NOTES.md
  src/content/app/tools/vep/components/vep-top-bar/VepFormTopBar.tsx
  src/content/app/tools/vep/state/vep-api/vepApiSlice.ts
  src/content/app/tools/vep/views/vep-form/useVepFormConfig.ts
  src/content/app/tools/vep/views/vep-form/vep-form-options-section/VepFormOptionsSection.tsx
  src/content/app/tools/vep/views/vep-submission-results/VepSubmissionResults.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

refactor(vep): read help straight off the option
  src/content/app/tools/vep/types/vepFormConfig.ts
  src/content/app/tools/vep/views/vep-form/vep-form-options-section/vep-form-options-panel/VepFormOptionsPanel.tsx
  src/content/app/tools/vep/views/vep-form/vep-form-options-section/vep-form-options-panel/optionHelp.test.ts
  src/content/app/tools/vep/views/vep-form/vep-form-options-section/vep-form-options-panel/optionHelp.ts
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-annotation-detail/VepResultsAnnotationDetail.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Remove taxonomy/assembly params from form config request (#1352)
  WORK_NOTES.md
  src/content/app/tools/vep/components/vep-top-bar/VepFormTopBar.tsx
  src/content/app/tools/vep/state/vep-api/vepApiSlice.ts
  src/content/app/tools/vep/views/vep-form/useVepFormConfig.ts
  src/content/app/tools/vep/views/vep-form/vep-form-options-section/VepFormOptionsSection.tsx
  src/content/app/tools/vep/views/vep-submission-results/VepSubmissionResults.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Refactor(vep): take option help from the API (#1351)
  src/content/app/tools/vep/types/vepFormConfig.ts
  src/content/app/tools/vep/views/vep-form/vep-form-options-section/vep-form-options-panel/VepFormOptionsPanel.tsx
  src/content/app/tools/vep/views/vep-form/vep-form-options-section/vep-form-options-panel/optionHelp.test.ts
  src/content/app/tools/vep/views/vep-form/vep-form-options-section/vep-form-options-panel/optionHelp.ts
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-annotation-detail/VepResultsAnnotationDetail.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update work notes
  WORK_NOTES.md
Due: none

Mark genome lozenge as active if it corresponds to genome that is selected in the form
  src/content/app/tools/vep/components/vep-app-bar/VepAppBar.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

refactor(vep): take the results filter catalogue from the API
  src/content/app/tools/vep/types/vepResultsFilters.ts
  src/content/app/tools/vep/types/vepResultsResponse.ts
  src/content/app/tools/vep/views/vep-submission-results/VepSubmissionResults.tsx
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-filters/ConsequenceMultiSelect.tsx
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-filters/ScoreInput.tsx
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-filters/TokenListInput.tsx
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-filters/TranscriptGroupSelect.tsx
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-filters/VepResultsFilters.tsx
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-filters/resultsFilterFields.test.ts
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-filters/resultsFilterFields.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update/remove some comments
  src/content/app/tools/vep/components/truncated-list/TruncatedList.test.tsx
  src/content/app/tools/vep/components/truncated-list/TruncatedList.tsx
  src/content/app/tools/vep/state/vep-api/vepApiSlice.ts
  src/content/app/tools/vep/state/vep-form/vepFormSlice.ts
  src/content/app/tools/vep/types/vepDisplaySpec.ts
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-annotation-detail/displaySpecRenderer.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Use HTML button element rather than a div for QuestionButton
  src/shared/components/alert-button/AlertButton.tsx
  src/shared/components/data-table/components/main/components/table-header/components/table-header-cell/TableHeaderCell.tsx
  src/shared/components/question-button/QuestionButton.tsx
  src/shared/hooks/tests/useShowTooltip.test.tsx
  src/shared/hooks/useShowTooltip.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update the calls to QuestionButton in VEP elements
  src/content/app/tools/vep/views/vep-form/vep-form-options-section/vep-form-options-panel/VepFormOptionsPanel.tsx
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-annotation-detail/annotationRows.tsx
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-annotation-detail/displaySpecRenderer.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Remove or update some comments
  src/content/app/tools/vep/types/vepDisplaySpec.ts
  src/content/app/tools/vep/types/vepResultsResponse.ts
  src/content/app/tools/vep/utils/annotations.ts
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-annotation-detail/VepResultsAnnotationDetail.module.css
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-annotation-detail/annotationRows.tsx
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-annotation-detail/displaySpecRenderer.test.tsx
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-annotation-detail/displaySpecRenderer.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

refactor(vep): read annotations by plugin id without a lookup table
  src/content/app/tools/vep/utils/annotations.ts
  src/content/app/tools/vep/views/vep-submission-results/VepSubmissionResults.tsx
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-annotation-detail/displaySpecRenderer.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Adding Ensembl client coding standards skills
  .agents/skills/ensembl-client-implementation-context/SKILL.md
  .agents/skills/ensembl-client-implementation-context/agents/openai.yaml
  .agents/skills/ensembl-client-standards-curator/SKILL.md
  .agents/skills/ensembl-client-standards-curator/agents/openai.yaml
  .agents/skills/ensembl-ui/SKILL.md
  .agents/skills/ensembl-ui/agents/openai.yaml
  CODING_STANDARDS.md
Due: none

Remove some comments from VepSubmissionResults
  src/content/app/tools/vep/views/vep-submission-results/VepSubmissionResults.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Remove the code that relied on distinction between 'pinned panels' and 'live panels'
  src/content/app/tools/vep/utils/resultsPanels.test.ts
  src/content/app/tools/vep/utils/resultsPanels.ts
  src/content/app/tools/vep/views/vep-submission-results/VepSubmissionResults.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

adding AGENTS.md
  AGENTS.md
Due: none

updating AGENTS.md
  AGENTS.md
Due: none

refactor(vep): read annotations by plugin id without a lookup table (#1354)
  src/content/app/tools/vep/utils/annotations.ts
  src/content/app/tools/vep/views/vep-submission-results/VepSubmissionResults.tsx
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-annotation-detail/displaySpecRenderer.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

test(vep): cover map_rows blocks — vocabulary, overall_from, scope gating
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-annotation-detail/displaySpecRenderer.test.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update / delete some comments in vepDisplaySpec
  src/content/app/tools/vep/types/vepDisplaySpec.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

test(vep): cover map_rows blocks — vocabulary, overall_from, scope gating (#1355)
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-annotation-detail/displaySpecRenderer.test.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Add pre-populated lists of genomes that can be selected for VEP (#1350)
  src/content/app/tools/vep/components/vep-app-bar/VepAppBar.tsx
  src/content/app/tools/vep/state/vep-api/vepApiSlice.ts
  src/content/app/tools/vep/views/vep-form/vep-form-species-section/VepFormSpeciesSection.tsx
  src/content/app/tools/vep/views/vep-species-selector/VepGenomesQuickList.module.css
  src/content/app/tools/vep/views/vep-species-selector/VepGenomesQuickList.tsx
  src/content/app/tools/vep/views/vep-species-selector/VepSpeciesSelector.module.css
  src/content/app/tools/vep/views/vep-species-selector/VepSpeciesSelector.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Remove max width for breakdown table column heading
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-annotation-detail/VepResultsAnnotationDetail.module.css
Due: stylelint

Move column notes into a question button
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-annotation-detail/VepResultsAnnotationDetail.module.css
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-annotation-detail/displaySpecRenderer.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Come to think of it, max-width can be assigned to table columns instead of their content
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-annotation-detail/VepResultsAnnotationDetail.module.css
Due: stylelint

Move filter operators to backend, remove mono field
  src/content/app/tools/vep/types/vepResultsFilters.test.ts
  src/content/app/tools/vep/types/vepResultsFilters.ts
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-filters/AlleleFrequencyInput.tsx
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-filters/ScoreInput.tsx
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-filters/TokenListInput.tsx
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-filters/VepResultsFilters.module.css
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-filters/VepResultsFilters.tsx
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-filters/resultsFilterFields.test.ts
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-filters/resultsFilterFields.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

DO NOT MERGE until Ensembl/ensembl-web-tools-api#68 lands — refactor(vep): take the results filter catalogue from the API (#1353)
  src/content/app/tools/vep/types/vepResultsFilters.test.ts
  src/content/app/tools/vep/types/vepResultsFilters.ts
  src/content/app/tools/vep/types/vepResultsResponse.ts
  src/content/app/tools/vep/views/vep-submission-results/VepSubmissionResults.tsx
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-filters/AlleleFrequencyInput.tsx
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-filters/ConsequenceMultiSelect.tsx
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-filters/ScoreInput.tsx
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-filters/TokenListInput.tsx
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-filters/TranscriptGroupSelect.tsx
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-filters/VepResultsFilters.module.css
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-filters/VepResultsFilters.tsx
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-filters/resultsFilterFields.test.ts
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-filters/resultsFilterFields.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Clean displaySpecRenderer of superfluous comments
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-annotation-detail/displaySpecRenderer.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update a test
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-annotation-detail/displaySpecRenderer.test.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Remove the 'muted' field on table column note
  src/content/app/tools/vep/types/vepDisplaySpec.ts
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-annotation-detail/displaySpec.fixture.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Remove unused VEP mock response fixture
  tests/fixtures/vep/mockVepResults.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Fix test
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-annotation-detail/displaySpecRenderer.test.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write
