Repository Ensembl/ensembl-client: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

No need for trailing comma
  .storybook/manager.js
Due: none

Another round of updates
  package-lock.json
  package.json
Due: none

Update code using http-proxy-middleware
  src/server/middleware/proxyMiddleware.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Restore Ensembl storybook theme
  .storybook/manager.js
  package-lock.json
  package.json
Due: none

Remove addon-essentials
  .storybook/main.js
  package-lock.json
  package.json
Due: none

Update Storybook to v8
  .storybook/main.js
  .storybook/manager.js
  package-lock.json
  package.json
Due: none

Further minor update
  package-lock.json
  package.json
Due: none

@types/prettier no longer needed
  package-lock.json
  package.json
Due: none

Update variable name
  src/shared/components/selected-species/SpeciesLozenge.test.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Fix variable name
  src/shared/components/selected-species/SpeciesLozenge.test.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Lozenge.stories.tsx file is now redundant
  stories/shared-components/selected-species/Lozenge.stories.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Remove unnecessary fragment in a story file
  stories/shared-components/selected-species/SelectedSpecies.stories.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

A bunch of minor fixes
  src/content/app/species-selector/components/species-lozenge-display-selector/SpeciesLozengeDisplaySelector.tsx
  src/content/app/species-selector/state/species-selector-general-slice/speciesSelectorGeneralSelectors.ts
  src/content/app/species-selector/state/species-selector-general-slice/speciesSelectorGeneralSlice.ts
  src/shared/components/selected-species/SelectedSpecies.tsx
  stories/shared-components/species-lozenge/SpeciesLozenge.stories.module.css
  stories/shared-components/species-lozenge/SpeciesLozenge.stories.tsx
  stories/shared-components/species-lozenge/speciesData.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Remove inline styles from species manager container element
  src/content/app/species-selector/views/species-manager/SpeciesManager.module.css
  src/content/app/species-selector/views/species-manager/SpeciesManager.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Update SpeciesLozenge styles
  src/content/app/species-selector/views/species-manager/species-manager-app-bar/SpeciesManagerAppBar.tsx
  src/shared/components/selected-species/SpeciesLozenge.module.css
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

More minor code changes
  src/content/app/species-selector/components/species-selector-app-bar/SpeciesSelectorAppBar.tsx
  src/shared/components/selected-species/SpeciesLozenge.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Remove unnecessary prop
  src/content/app/tools/blast/components/blast-app-bar/BlastAppBar.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Rename a variable
  src/shared/components/selected-species/SelectedSpecies.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Add species lozenge displays (#1114)
  src/content/app/species-selector/components/species-lozenge-display-selector/SpeciesLozengeDisplaySelector.module.css
  src/content/app/species-selector/components/species-lozenge-display-selector/SpeciesLozengeDisplaySelector.tsx
  src/content/app/species-selector/components/species-selector-app-bar/SpeciesSelectorAppBar.tsx
  src/content/app/species-selector/state/species-selector-general-slice/speciesSelectorGeneralSelectors.ts
  src/content/app/species-selector/state/species-selector-general-slice/speciesSelectorGeneralSlice.ts
  src/content/app/species-selector/views/species-manager/SpeciesManager.module.css
  src/content/app/species-selector/views/species-manager/SpeciesManager.tsx
  src/content/app/species-selector/views/species-manager/species-manager-app-bar/SpeciesManagerAppBar.tsx
  src/content/app/tools/blast/components/blast-app-bar/BlastAppBar.test.tsx
  src/content/app/tools/blast/components/blast-app-bar/BlastAppBar.tsx
  src/shared/components/selected-species/SelectedSpecies.test.tsx
  src/shared/components/selected-species/SelectedSpecies.tsx
  src/shared/components/selected-species/SpeciesLozenge.module.css
  src/shared/components/selected-species/SpeciesLozenge.test.tsx
  src/shared/components/selected-species/SpeciesLozenge.tsx
  src/shared/components/selected-species/fixtures/speciesTestData.ts
  stories/shared-components/selected-species/SelectedSpecies.stories.tsx
  stories/shared-components/species-lozenge/SpeciesLozenge.stories.module.css
  stories/shared-components/species-lozenge/SpeciesLozenge.stories.tsx
  stories/shared-components/species-lozenge/speciesData.ts
  stories/shared-components/species-tabs-slider/SpeciesTabsSlider.stories.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Use url helper to create refget urls in refget api slice (#1116)
  src/content/app/entity-viewer/variant-view/transcript-consequences/useTranscriptDetails.ts
  src/content/app/entity-viewer/variant-view/variant-image/useVariantImageData.ts
  src/shared/state/api-slices/refgetSlice.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Fix display of gene segments in TranscriptVariantDiagram (#1117)
  src/content/app/entity-viewer/variant-view/transcript-consequences/transcript-variant-diagram/TranscriptVariantDiagram.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

More updates
  package-lock.json
  package.json
Due: none

Update comment with example of setting up the proxy middleware
  src/server/middleware/proxyMiddleware.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update dependencies (#1105)
  .storybook/main.js
  .storybook/manager.js
  .storybook/webpack.js
  package-lock.json
  package.json
  src/server/middleware/proxyMiddleware.ts
  webpack/client/common.ts
  webpack/server/common.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Add a ruler for showing length of long reference alleles
  src/content/app/entity-viewer/variant-view/variant-image/alternative-allele/AlternativeAllele.tsx
  src/content/app/entity-viewer/variant-view/variant-image/reference-sequence-allele/ReferenceSequenceAllele.module.css
  src/content/app/entity-viewer/variant-view/variant-image/reference-sequence-allele/ReferenceSequenceAllele.tsx
  src/content/app/entity-viewer/variant-view/variant-image/variantImageConstants.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Extract the arrow in transcript consequences into a separate component
  src/content/app/entity-viewer/variant-view/transcript-consequences/transcript-variant-genomic-sequence/TranscriptVariantGenomicSequence.module.css
  src/content/app/entity-viewer/variant-view/transcript-consequences/transcript-variant-genomic-sequence/TranscriptVariantGenomicSequence.tsx
  src/content/app/entity-viewer/variant-view/transcript-consequences/transcript-variant-protein/TranscriptVariantProtein.module.css
  src/content/app/entity-viewer/variant-view/transcript-consequences/transcript-variant-protein/TranscriptVariantProtein.tsx
  src/content/app/entity-viewer/variant-view/transcript-consequences/variant-allele-direction/VariantAlleleDirection.module.css
  src/content/app/entity-viewer/variant-view/transcript-consequences/variant-allele-direction/VariantAlleleDirection.tsx
  src/content/app/entity-viewer/variant-view/variant-image/reference-sequence-allele/ReferenceSequenceAllele.module.css
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Update display logic for alternative allele
  src/content/app/entity-viewer/variant-view/variant-image/alternative-allele/AlternativeAllele.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Use a semibold font for reference and alternative alleles
  src/content/app/entity-viewer/variant-view/transcript-consequences/transcript-variant-genomic-sequence/TranscriptVariantGenomicSequence.module.css
  src/content/app/entity-viewer/variant-view/transcript-consequences/transcript-variant-genomic-sequence/TranscriptVariantGenomicSequence.tsx
  src/content/app/entity-viewer/variant-view/transcript-consequences/transcript-variant-protein/TranscriptVariantProtein.module.css
  src/content/app/entity-viewer/variant-view/variant-image/alternative-allele/AlternativeAllele.module.css
  src/content/app/entity-viewer/variant-view/variant-image/reference-sequence-allele/ReferenceSequenceAllele.module.css
  src/content/app/entity-viewer/variant-view/variant-image/reference-sequence-allele/ReferenceSequenceAllele.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Update number formatting for variant start coordinate
  src/content/app/entity-viewer/variant-view/variant-image/VariantImage.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Entity viewer updates for long allele sequences (#1118)
  src/content/app/entity-viewer/variant-view/transcript-consequences/transcript-variant-genomic-sequence/TranscriptVariantGenomicSequence.module.css
  src/content/app/entity-viewer/variant-view/transcript-consequences/transcript-variant-genomic-sequence/TranscriptVariantGenomicSequence.tsx
  src/content/app/entity-viewer/variant-view/transcript-consequences/transcript-variant-protein/TranscriptVariantProtein.module.css
  src/content/app/entity-viewer/variant-view/transcript-consequences/transcript-variant-protein/TranscriptVariantProtein.tsx
  src/content/app/entity-viewer/variant-view/transcript-consequences/variant-allele-direction/VariantAlleleDirection.module.css
  src/content/app/entity-viewer/variant-view/transcript-consequences/variant-allele-direction/VariantAlleleDirection.tsx
  src/content/app/entity-viewer/variant-view/variant-image/VariantImage.tsx
  src/content/app/entity-viewer/variant-view/variant-image/alternative-allele/AlternativeAllele.module.css
  src/content/app/entity-viewer/variant-view/variant-image/alternative-allele/AlternativeAllele.tsx
  src/content/app/entity-viewer/variant-view/variant-image/reference-sequence-allele/ReferenceSequenceAllele.module.css
  src/content/app/entity-viewer/variant-view/variant-image/reference-sequence-allele/ReferenceSequenceAllele.tsx
  src/content/app/entity-viewer/variant-view/variant-image/variantImageConstants.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Fix extra 1bp offset in genomic sequence for variant transcript consequences for insertions
  src/content/app/entity-viewer/variant-view/transcript-consequences/transcript-variant-genomic-sequence/TranscriptVariantGenomicSequence.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Fix calculation of variant end
  src/content/app/entity-viewer/variant-view/transcript-consequences/useTranscriptDetails.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Allow updates to search that returns empty results
  src/content/app/species-selector/components/genome-selector-by-search-query/GenomeSelectorBySearchQuery.tsx
  src/content/app/species-selector/views/species-selector-results-view/SpeciesSelectorResultsView.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Fixes for variant transcript consequences view (#1119)
  src/content/app/entity-viewer/variant-view/transcript-consequences/transcript-variant-genomic-sequence/TranscriptVariantGenomicSequence.tsx
  src/content/app/entity-viewer/variant-view/transcript-consequences/useTranscriptDetails.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Allow updates to search that returns empty results (#1120)
  src/content/app/species-selector/components/genome-selector-by-search-query/GenomeSelectorBySearchQuery.tsx
  src/content/app/species-selector/views/species-selector-results-view/SpeciesSelectorResultsView.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Put CADD scores for different alleles on their own line
  src/content/app/genome-browser/components/drawer/drawer-views/variant-summary/VariantSummary.module.css
  src/content/app/genome-browser/components/drawer/drawer-views/variant-summary/VariantSummary.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Do not include anchor base in visual representation of indels in genomic sequence
  src/content/app/entity-viewer/variant-view/transcript-consequences/useTranscriptDetails.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Do not include anchor base in visual representation of indels in genomic sequence (#1122)
  src/content/app/entity-viewer/variant-view/transcript-consequences/useTranscriptDetails.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Expand first transcript consequence by default
  src/content/app/entity-viewer/state/api/queries/variantTranscriptConsequencesQueries.ts
  src/content/app/entity-viewer/state/variant-view/general/variantViewGeneralSlice.ts
  src/content/app/entity-viewer/state/variant-view/transcriptConsequenceSelectors.ts
  src/content/app/entity-viewer/state/variant-view/transcriptConsequenceSlice.ts
  src/content/app/entity-viewer/variant-view/hooks/useExpandedTranscriptConsequence.ts
  src/content/app/entity-viewer/variant-view/transcript-consequences/TranscriptConsequences.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Path conditions:
  eslint --max-warnings=0: any of: *.{ts,tsx}
  manage-licence-header add: any of: *.{ts,tsx}
  prettier --write: any of: *.{ts,tsx}
  stylelint: any of: *.css
