Repository Ensembl/ensembl-client: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

.lintstagedrc.json:

{
  "*.{ts,tsx}": [
    "eslint --max-warnings=0",
    "manage-licence-header add",
    "prettier --write"
  ],
  "*.css": [
    "stylelint"
  ]
}

A minor CSS refactoring
  src/content/app/species-selector/views/species-manager/SpeciesManager.module.css
Due: stylelint

Remove button is green, and the trashcan is grey
  src/content/app/species-selector/views/species-manager/SpeciesManager.module.css
  src/content/app/species-selector/views/species-manager/SpeciesManager.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Bump GB version (#1328)
  package-lock.json
  package.json
Due: none

Bump GB version
  package-lock.json
  package.json
Due: none

Genome browser fix: switch off non-focus tracks when switching between genomes
  src/content/app/genome-browser/hooks/useGenomeBrowser.ts
  src/content/app/genome-browser/hooks/useGenomicTracks.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Install latest @ensembl dependencies and regenerate package-lock
  package-lock.json
  package.json
Due: none

Update non-controversial packages
  package-lock.json
  package.json
Due: none

Update Storybook packages
  package-lock.json
  package.json
Due: none

Update prettier
  package-lock.json
  package.json
Due: none

Update vite plugin for react
  package-lock.json
  package.json
Due: none

Update vitest-related dependencies
  package-lock.json
  package.json
Due: none

Complete babel update
  babel.config.js
  package-lock.json
  package.json
Due: none

No trailing comma necessary
  src/shared/hooks/useApiService.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update Storybook. Also, Storybook needs babel preset-env
  package-lock.json
  package.json
Due: none

Remove react-router-dom post-merge
  package.json
  src/content/app/genome-browser/components/browser-location-indicator/BrowserLocationIndicator.browser.test.tsx
  src/content/app/genome-browser/components/browser-location-indicator/BrowserLocationIndicator.tsx
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/track-panel-items/TrackPanelLocationNavigation.tsx
  src/shared/components/selected-species/SpeciesLozenge.module.css
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Update package-lock (remove remnants of react-router-dom)
  package-lock.json
Due: none

Instead of reading track paths from track api's trigger field, generate them on the client
  src/content/app/genome-browser/hooks/useGenomeBrowser.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Change urls for tools (BLAST and VEP)
  src/header/launchbar/BlastLaunchbarButton.tsx
  src/header/launchbar/VepLaunchbarButton.tsx
  src/routes/routesConfig.tsx
  src/server/static-files/robots.txt
  src/shared/helpers/urlHelper.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update tests
  src/content/app/tools/blast/components/listed-blast-submission/ListedBlastSubmission.test.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Revert Checkbox to how it is in main
  src/shared/components/checkbox/Checkbox.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Remove unused CSS class
  src/content/app/species-selector/views/species-manager/SpeciesManager.module.css
  src/content/app/species-selector/views/species-manager/SpeciesManager.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Change urls for tools (BLAST and VEP) (#1332)
  src/content/app/tools/blast/components/listed-blast-submission/ListedBlastSubmission.test.tsx
  src/header/launchbar/BlastLaunchbarButton.tsx
  src/header/launchbar/VepLaunchbarButton.tsx
  src/routes/routesConfig.tsx
  src/server/static-files/robots.txt
  src/shared/helpers/urlHelper.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Genome browser fix: switch off non-focus tracks when switching between genomes (#1331)
  src/content/app/genome-browser/hooks/useGenomeBrowser.ts
  src/content/app/genome-browser/hooks/useGenomicTracks.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Remove extra white spaces (used to visually position grid columns under each other)
  src/content/app/species-selector/views/species-manager/SpeciesManager.module.css
Due: stylelint

Delete genomes from genome manager (#1319)
  src/content/app/species-selector/views/species-manager/SpeciesManager.module.css
  src/content/app/species-selector/views/species-manager/SpeciesManager.tsx
  src/content/app/species-selector/views/species-manager/selected-genomes-table/SelectedGenomesTable.module.css
  src/content/app/species-selector/views/species-manager/selected-genomes-table/SelectedGenomesTable.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Fix infinite loop error occurring on genome browser page
  src/content/app/genome-browser/contexts/genome-browser-ids-context/useGenomeBrowserUrlValidator.ts
  src/content/app/genome-browser/state/browser-general/browserGeneralSlice.ts
  src/shared/components/close-button/CloseButton.tsx
  src/shared/components/selected-species/SpeciesLozenge.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Check locally stored genomes when the app initialises, and update them if needed
  src/checkGenomes.ts
  src/content/app/species-selector/helpers/selectedGenomeHelpers.ts
  src/content/app/species-selector/state/speciesSelectorEpics.ts
  src/index.tsx
  src/initialiseClient.tsx
  src/shared/helpers/browserSupport.ts
  src/shared/state/genome/genomeTypes.ts
  src/shared/validators/genomeValidators.test.ts
  src/shared/validators/genomeValidators.ts
  tests/fixtures/genome-validation/fetchedGenomes.ts
  tests/fixtures/genome-validation/storedGenomes.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Use release check as a guard before checking individual genomes
  src/checkGenomes.ts
  src/index.ts
  src/services/indexeddb-service.ts
  src/shared/services/generalStorageConstants.ts
  src/shared/services/generalStorageService.test.ts
  src/shared/services/generalStorageService.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Undo renaming of index.tsx to index.ts for time being
  src/index.tsx
  src/services/indexeddb-service.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Import types properly to avoid circular dependencies
  src/content/app/entity-viewer/services/entity-viewer-storage-service.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Rename index.tsx to index.ts
  src/index.ts
  webpack/client/common.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Fix infinite loop error occurring on genome browser page (#1333)
  src/content/app/genome-browser/contexts/genome-browser-ids-context/useGenomeBrowserUrlValidator.ts
  src/content/app/genome-browser/state/browser-general/browserGeneralSlice.ts
  src/shared/components/close-button/CloseButton.tsx
  src/shared/components/selected-species/SpeciesLozenge.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Always request only current releases
  src/shared/state/release/releaseApiSlice.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Remove duplicated call to delete genomes
  src/checkGenomes.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Potential fix for pull request finding
  src/checkGenomes.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Potential fix for pull request finding
  src/shared/validators/genomeValidators.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Deep copy the localGenomes array instead of making a shallow copy
  src/shared/validators/genomeValidators.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Fix test
  src/shared/validators/genomeValidators.test.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write
