Repository Ensembl/ensembl-client: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

.lintstagedrc.json:

{
  "*.{ts,tsx}": [
    "eslint --max-warnings=0",
    "manage-licence-header add",
    "prettier --write"
  ],
  "*.css": [
    "stylelint"
  ]
}

Show assembly count only if more than one
  src/content/app/species/components/species-title-area/SpeciesTitleArea.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

For d3 linearScale for CDS, start domain at 0
  src/content/app/entity-viewer/variant-view/transcript-consequences/transcript-variant-cds/TranscriptVariantCDS.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update and test the 'adjustExonWidths' function
  src/content/app/entity-viewer/variant-view/transcript-consequences/transcript-variant-cds/TranscriptVariantCDS.test.tsx
  src/content/app/entity-viewer/variant-view/transcript-consequences/transcript-variant-cds/TranscriptVariantCDS.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Add default z-menu
  src/content/app/genome-browser/components/zmenu/Zmenu.tsx
  src/content/app/genome-browser/components/zmenu/ZmenuContent.tsx
  src/content/app/genome-browser/components/zmenu/zmenus/DefaultZmenu.tsx
  src/content/app/genome-browser/components/zmenu/zmenus/GeneAndOneTranscriptZmenu.tsx
  src/content/app/genome-browser/services/genome-browser-service/types/zmenu.ts
  src/server/middleware/proxyMiddleware.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Move species search results views to dedicated urls (#1097)
  src/content/app/species-selector/SpeciesSelector.tsx
  src/content/app/species-selector/components/genome-selector-by-species-taxonomy-id/GenomeSelectorBySpeciesTaxonomyId.tsx
  src/content/app/species-selector/components/popular-species-list/PopularSpeciesList.tsx
  src/content/app/species-selector/components/species-search-field/SpeciesSearchField.tsx
  src/content/app/species-selector/components/species-selector-app-bar/SpeciesSelectorAppBar.tsx
  src/content/app/species-selector/components/species-selector-search-results-app-bar/SpeciesSelectorSearchResultsAppBar.tsx
  src/content/app/species-selector/state/species-selector-general-slice/speciesSelectorGeneralSlice.ts
  src/content/app/species-selector/state/species-selector-search-slice/speciesSelectorSearchSelectors.ts
  src/content/app/species-selector/state/species-selector-search-slice/speciesSelectorSearchSlice.ts
  src/content/app/species-selector/state/species-selector-ui-slice/speciesSelectorUISelectors.ts
  src/content/app/species-selector/state/species-selector-ui-slice/speciesSelectorUISlice.ts
  src/content/app/species-selector/state/speciesSelectorReducer.ts
  src/content/app/species-selector/views/species-selector-gene-search-view/SpeciesSelectorGeneSearchView.tsx
  src/content/app/species-selector/views/species-selector-main-view/SpeciesSelectorMainView.tsx
  src/content/app/species-selector/views/species-selector-results-view/SpeciesSelectorResultsView.tsx
  src/content/app/species/components/species-title-area/SpeciesTitleArea.module.css
  src/content/app/species/components/species-title-area/SpeciesTitleArea.tsx
  src/routes/routesConfig.tsx
  src/shared/components/gene-search-panel/GeneSearchPanel.tsx
  src/shared/components/info-pill/InfoPill.module.css
  src/shared/helpers/urlHelper.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Update and test the 'adjustExonWidths' function (#1103)
  src/content/app/entity-viewer/variant-view/transcript-consequences/transcript-variant-cds/TranscriptVariantCDS.test.tsx
  src/content/app/entity-viewer/variant-view/transcript-consequences/transcript-variant-cds/TranscriptVariantCDS.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

PR feedback
  src/content/app/genome-browser/services/genome-browser-service/types/zmenu.ts
  src/server/middleware/proxyMiddleware.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update header bar styling for GB and EV (#1100)
  src/content/app/entity-viewer/variant-view/variant-summary-strip/VariantSummaryStrip.module.css
  src/content/app/entity-viewer/variant-view/variant-summary-strip/VariantSummaryStrip.tsx
  src/shared/components/feature-summary-strip/FeatureSummaryStrip.module.css
  src/shared/components/feature-summary-strip/LocationSummaryStrip.tsx
  src/shared/components/feature-summary-strip/VariantSummaryStrip.module.css
  src/shared/components/feature-summary-strip/VariantSummaryStrip.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Add default z-menu (#1104)
  src/content/app/genome-browser/components/zmenu/Zmenu.tsx
  src/content/app/genome-browser/components/zmenu/ZmenuContent.tsx
  src/content/app/genome-browser/components/zmenu/zmenus/DefaultZmenu.tsx
  src/content/app/genome-browser/components/zmenu/zmenus/GeneAndOneTranscriptZmenu.tsx
  src/content/app/genome-browser/services/genome-browser-service/types/zmenu.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update minor versions
  package-lock.json
  package.json
Due: none

Update Storybook to v8
  .storybook/main.js
  .storybook/manager.js
  package-lock.json
  package.json
Due: none

Further updates
  package-lock.json
  package.json
Due: none

Restore Ensembl storybook theme
  .storybook/manager.js
  package-lock.json
  package.json
Due: none

No need for trailing comma
  .storybook/manager.js
Due: none

Remove addon-essentials
  .storybook/main.js
  package-lock.json
  package.json
Due: none

Update gitlab-ci.yml to use gitlab agent
  .gitlab-ci.yml
  gitlab-ci-templates/.setup-review-template.yaml
Due: none

Change the namespace name
  .gitlab-ci.yml
Due: none

Test Switch to gitlab agent
  .gitlab-ci.yml
  gitlab-ci-templates/.setup-review-template.yaml
Due: none

Update jobs for publishing static assets
  .gitlab-ci.yml
Due: none

Test the publishing of assets
  .gitlab-ci.yml
Due: none

Move gitlab-agent-setup-commands further up in the file
  .gitlab-ci.yml
Due: none

Continue testing
  .gitlab-ci.yml
Due: none

Revert "Continue testing"
  .gitlab-ci.yml
Due: none

Revert "Test the publishing of assets"
  .gitlab-ci.yml
Due: none

Migrate the stop_review job, and several other minor updates
  .gitlab-ci.yml
Due: none

Update some of the comments
  .gitlab-ci.yml
Due: none

Switch to gitlab agent (#1107)
  .gitlab-ci.yml
  gitlab-ci-templates/.setup-review-template.yaml
Due: none

Start work on protein sequence for transcript consequences
  src/content/app/entity-viewer/state/api/queries/variantTranscriptConsequencesQueries.ts
  src/content/app/entity-viewer/variant-view/transcript-consequences/useTranscriptDetails.test.ts
  src/content/app/entity-viewer/variant-view/transcript-consequences/useTranscriptDetails.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Add protein visualization for transcript consequences
  src/content/app/entity-viewer/state/api/queries/variantTranscriptConsequencesQueries.ts
  src/content/app/entity-viewer/variant-view/transcript-consequences/transcript-consequence-details/TranscriptConsequenceDetails.tsx
  src/content/app/entity-viewer/variant-view/transcript-consequences/transcript-variant-protein/TranscriptVariantProtein.module.css
  src/content/app/entity-viewer/variant-view/transcript-consequences/transcript-variant-protein/TranscriptVariantProtein.tsx
  src/content/app/entity-viewer/variant-view/transcript-consequences/useTranscriptDetails.test.ts
  src/content/app/entity-viewer/variant-view/transcript-consequences/useTranscriptDetails.ts
  src/shared/state/api-slices/refgetSlice.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Default ingress into dev namespace
  .gitlab-ci.yml
  gitlab-ci-templates/.setup-review-template.yaml
Due: none

Default ingress into dev namespace (#1110)
  .gitlab-ci.yml
  gitlab-ci-templates/.setup-review-template.yaml
Due: none

Update spaces between different sections of entity viewer
  src/content/app/entity-viewer/variant-view/transcript-consequences/TranscriptConsequences.module.css
  src/content/app/entity-viewer/variant-view/transcript-consequences/TranscriptConsequences.tsx
  src/content/app/entity-viewer/variant-view/transcript-consequences/transcript-variant-cds/TranscriptVariantCDS.module.css
  src/content/app/entity-viewer/variant-view/transcript-consequences/transcript-variant-cds/TranscriptVariantCDS.tsx
  src/content/app/entity-viewer/variant-view/transcript-consequences/transcript-variant-genomic-sequence/TranscriptVariantGenomicSequence.module.css
  src/content/app/entity-viewer/variant-view/transcript-consequences/transcript-variant-genomic-sequence/TranscriptVariantGenomicSequence.tsx
  src/content/app/entity-viewer/variant-view/transcript-consequences/transcript-variant-protein/TranscriptVariantProtein.module.css
  src/content/app/entity-viewer/variant-view/transcript-consequences/transcript-variant-protein/TranscriptVariantProtein.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Further updates to the protein sequence
  src/content/app/entity-viewer/variant-view/transcript-consequences/transcript-consequence-details/TranscriptConsequenceDetails.tsx
  src/content/app/entity-viewer/variant-view/transcript-consequences/transcript-variant-protein/TranscriptVariantProtein.module.css
  src/content/app/entity-viewer/variant-view/transcript-consequences/transcript-variant-protein/TranscriptVariantProtein.tsx
  src/content/app/entity-viewer/variant-view/transcript-consequences/useTranscriptDetails.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Show protein id in the right column
  src/content/app/entity-viewer/variant-view/transcript-consequences/TranscriptConsequences.tsx
  src/content/app/entity-viewer/variant-view/transcript-consequences/transcript-variant-protein/TranscriptVariantProtein.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Clean up comments
  src/content/app/entity-viewer/variant-view/transcript-consequences/transcript-variant-protein/TranscriptVariantProtein.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Only treat inframe insertions as real insertions for protein chains
  src/content/app/entity-viewer/variant-view/transcript-consequences/transcript-variant-protein/TranscriptVariantProtein.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Clean up comment
  src/content/app/entity-viewer/variant-view/transcript-consequences/transcript-variant-protein/TranscriptVariantProtein.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update review job
  gitlab-ci-templates/.setup-review-template.yaml
Due: none
