Repository Ensembl/ensembl-client: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Switch proxyMiddleware back to staging-2020
  src/server/middleware/proxyMiddleware.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Memoize return value from useLocationSelector to prevent expensive rerendering
  src/content/app/regulatory-activity-viewer/components/region-activity-section/useRegionActivityData.ts
  src/content/app/regulatory-activity-viewer/components/region-overview/region-overview-image/region-overview-location-selector/RegionOverviewLocationSelector.tsx
  src/content/app/regulatory-activity-viewer/components/region-overview/region-overview-image/region-overview-location-selector/useLocationSelector.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Remove forgotten listener, which caused expensive recalculations
  src/content/app/regulatory-activity-viewer/components/region-overview/region-overview-image/region-overview-location-selector/useLocationSelector.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Remove console.log with performance debugging data
  src/content/app/regulatory-activity-viewer/components/epigenomes-activity/prepareActivityDataForDisplay.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Switch add species and close button
  src/content/app/species/SpeciesPage.module.css
  src/content/app/species/SpeciesPageContent.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Fetch epigenome activity data from the api
  src/content/app/regulatory-activity-viewer/RegulatoryActivityViewer.tsx
  src/content/app/regulatory-activity-viewer/components/activity-viewer-sidebar/epigenome-filters-view/EpigenomeFiltersView.tsx
  src/content/app/regulatory-activity-viewer/components/epigenome-selection-panel/EpigenomeSelectionPanel.tsx
  src/content/app/regulatory-activity-viewer/components/epigenomes-activity/EpigenomesActivity.tsx
  src/content/app/regulatory-activity-viewer/components/region-activity-section/useRegionActivityData.ts
  src/content/app/regulatory-activity-viewer/components/selected-epigenomes/SelectedEpigenomes.tsx
  src/content/app/regulatory-activity-viewer/contexts/ActivityViewerEpigenomesContext.ts
  src/content/app/regulatory-activity-viewer/contexts/ActivityViewerEpigenomesContextProvider.tsx
  src/content/app/regulatory-activity-viewer/contexts/ActivityViewerIdContextProvider.tsx
  src/content/app/regulatory-activity-viewer/helpers/combine-epigenomes/combineEpigenomes.ts
  src/content/app/regulatory-activity-viewer/helpers/filter-epigenomes/filterEpigenomes.ts
  src/content/app/regulatory-activity-viewer/hooks/useEpigenomes.ts
  src/content/app/regulatory-activity-viewer/hooks/useEpigenomesData.ts
  src/content/app/regulatory-activity-viewer/hooks/usePreselectedEpigenomes.ts
  src/content/app/regulatory-activity-viewer/state/api/activityViewerApiSlice.ts
  src/content/app/regulatory-activity-viewer/types/epigenome.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Delete mock epigenome activity response
  tests/fixtures/activity-viewer/epigenomes-activity/mockEpigenomeActivityResponse.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Align close icon with trash icon
  src/content/app/species/SpeciesPage.module.css
  src/shared/components/layout/StandardAppLayout.module.css
Due: stylelint

add scrollbar back
  src/shared/components/layout/StandardAppLayout.module.css
Due: stylelint

Minor type-related improvement
  src/content/app/regulatory-activity-viewer/helpers/filter-epigenomes/filterEpigenomes.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Align close button when sidebar is closed
  src/content/app/species/SpeciesPage.module.css
  src/content/app/species/SpeciesPageContent.tsx
  src/shared/components/layout/StandardAppLayout.module.css
  src/shared/components/layout/StandardAppLayout.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

fix - remove grid
  src/content/app/species/SpeciesPage.module.css
  src/content/app/species/SpeciesPageContent.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Use genome id from url in region activity viewer
  src/content/app/regulatory-activity-viewer/contexts/ActivityViewerIdContext.ts
  src/content/app/regulatory-activity-viewer/contexts/ActivityViewerIdContextProvider.tsx
  src/content/app/regulatory-activity-viewer/hooks/useActivityViewerRouting.ts
  src/content/app/regulatory-activity-viewer/state/general/generalSlice.ts
  src/shared/helpers/urlHelper.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Reuse a shared helper function to detect if a genome with provided id does not exist
  src/content/app/entity-viewer/contexts/entity-viewer-ids-context/EntityViewerIdsContextProvider.tsx
  src/content/app/regulatory-activity-viewer/contexts/ActivityViewerIdContextProvider.tsx
  src/shared/state/genome/genomeApiSlice.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Change genome id in url upon a click on a species lozenge
  src/content/app/regulatory-activity-viewer/components/activity-viewer-app-bar/ActivityViewerAppBar.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update endpoint of one of the regulation apis
  src/content/app/regulatory-activity-viewer/state/api/activityViewerApiSlice.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

minor fixes
  src/content/app/species/SpeciesPage.module.css
  src/content/app/species/SpeciesPageContent.tsx
  src/shared/components/layout/StandardAppLayout.module.css
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Swap add species and close button in species home page (#1196)
  src/content/app/species/SpeciesPage.module.css
  src/content/app/species/SpeciesPageContent.tsx
  src/shared/components/layout/StandardAppLayout.module.css
  src/shared/components/layout/StandardAppLayout.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

VEP species selector navigation fix
  src/content/app/tools/vep/VepPageContent.tsx
  src/content/app/tools/vep/state/vep-form/vepFormSelectors.ts
  src/content/app/tools/vep/state/vep-form/vepFormSlice.ts
  src/content/app/tools/vep/views/vep-form/VepForm.tsx
  src/content/app/tools/vep/views/vep-form/vep-form-species-section/VepFormSpeciesSection.tsx
  src/content/app/tools/vep/views/vep-species-selector/VepSpeciesSelector.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

make species selector modal flag mandatory
  src/content/app/tools/vep/state/vep-form/vepFormSlice.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Adding a check requiring that supported browsers have new array methods (.toSorted, etc.)
  src/shared/helpers/browserSupport.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Add genome-based routing to regulatory activity viewer (#1197)
  src/content/app/entity-viewer/contexts/entity-viewer-ids-context/EntityViewerIdsContextProvider.tsx
  src/content/app/regulatory-activity-viewer/components/activity-viewer-app-bar/ActivityViewerAppBar.tsx
  src/content/app/regulatory-activity-viewer/contexts/ActivityViewerIdContext.ts
  src/content/app/regulatory-activity-viewer/contexts/ActivityViewerIdContextProvider.tsx
  src/content/app/regulatory-activity-viewer/hooks/useActivityViewerRouting.ts
  src/content/app/regulatory-activity-viewer/state/api/activityViewerApiSlice.ts
  src/content/app/regulatory-activity-viewer/state/general/generalSlice.ts
  src/shared/helpers/urlHelper.ts
  src/shared/state/genome/genomeApiSlice.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Switch to an updated epigenomes metadata api and update types
  src/content/app/regulatory-activity-viewer/components/activity-viewer-sidebar/epigenome-filters-view/EpigenomeFiltersView.tsx
  src/content/app/regulatory-activity-viewer/components/epigenome-selection-panel/EpigenomeSelectionPanel.tsx
  src/content/app/regulatory-activity-viewer/components/selected-epigenomes/SelectedEpigenomes.tsx
  src/content/app/regulatory-activity-viewer/state/api/activityViewerApiSlice.ts
  src/content/app/regulatory-activity-viewer/types/epigenomeMetadataDimensions.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Move sorted epigenomes to context provider, and display epigenome labels next to data viz
  src/content/app/regulatory-activity-viewer/components/region-activity-section/RegionActivitySection.tsx
  src/content/app/regulatory-activity-viewer/components/selected-epigenomes/SelectedEpigenomes.tsx
  src/content/app/regulatory-activity-viewer/components/selected-epigenomes/epigenomes-sorter/EpigenomesSorter.module.css
  src/content/app/regulatory-activity-viewer/components/selected-epigenomes/epigenomes-sorter/EpigenomesSorter.tsx
  src/content/app/regulatory-activity-viewer/contexts/ActivityViewerEpigenomesContext.ts
  src/content/app/regulatory-activity-viewer/contexts/ActivityViewerEpigenomesContextProvider.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Display colored labels for sorted epigenomes
  src/content/app/regulatory-activity-viewer/components/selected-epigenomes/SelectedEpigenomes.tsx
  src/content/app/regulatory-activity-viewer/components/selected-epigenomes/epigenomes-sorter/EpigenomesSorter.module.css
  src/content/app/regulatory-activity-viewer/components/selected-epigenomes/epigenomes-sorter/EpigenomesSorter.tsx
  src/content/app/regulatory-activity-viewer/components/selected-epigenomes/epigenomes-sorter/sortEpigenomes.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Display coloured epigenome labels to the left of activity tracks
  src/content/app/regulatory-activity-viewer/components/selected-epigenomes/epigenomes-sorter/EpigenomesSorter.module.css
  src/content/app/regulatory-activity-viewer/components/selected-epigenomes/epigenomes-sorter/EpigenomesSorter.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Add a dropdown for future actions
  src/content/app/regulatory-activity-viewer/components/activity-viewer-actions-selector/ActivityViewerActionsSelector.tsx
  src/content/app/regulatory-activity-viewer/components/main-content-bottom-view-controls/MainContentBottomViewControls.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Refactoring
  src/content/app/regulatory-activity-viewer/components/region-activity-section/RegionActivitySection.tsx
  src/content/app/regulatory-activity-viewer/components/selected-epigenomes/SelectedEpigenomes.tsx
  src/content/app/regulatory-activity-viewer/components/selected-epigenomes/epigenomes-sorter/EpigenomesSorter.tsx
  src/content/app/regulatory-activity-viewer/contexts/ActivityViewerEpigenomesContext.ts
  src/content/app/regulatory-activity-viewer/contexts/ActivityViewerEpigenomesContextProvider.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Enable reordering of epigenomes
  src/content/app/regulatory-activity-viewer/components/activity-viewer-actions-selector/ActivityViewerActionsSelector.module.css
  src/content/app/regulatory-activity-viewer/components/activity-viewer-actions-selector/ActivityViewerActionsSelector.tsx
  src/content/app/regulatory-activity-viewer/components/selected-epigenomes/SelectedEpigenomes.tsx
  src/content/app/regulatory-activity-viewer/contexts/ActivityViewerEpigenomesContext.ts
  src/content/app/regulatory-activity-viewer/contexts/ActivityViewerEpigenomesContextProvider.tsx
  src/content/app/regulatory-activity-viewer/state/epigenome-selection/epigenomeSelectionSelectors.ts
  src/content/app/regulatory-activity-viewer/state/epigenome-selection/epigenomeSelectionSlice.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Change order of epigenome tracks in response to changing the order of epigenomes
  src/content/app/regulatory-activity-viewer/components/epigenomes-activity/prepareActivityDataForDisplay.ts
  src/content/app/regulatory-activity-viewer/components/region-activity-section/useRegionActivityData.ts
  src/content/app/regulatory-activity-viewer/contexts/ActivityViewerIdContextProvider.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Fix to close VEP species selctor modal
  src/header/launchbar/VepLaunchbarButton.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Navigate to VEP form when we close VEP SS
  src/content/app/tools/vep/views/vep-species-selector/VepSpeciesSelector.tsx
  src/header/launchbar/VepLaunchbarButton.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Delay epigenome labels until data is loaded
  src/content/app/regulatory-activity-viewer/components/region-activity-section/RegionActivitySection.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Fix to close VEP species selector modal (#1199)
  src/content/app/tools/vep/views/vep-species-selector/VepSpeciesSelector.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Move selection of combinable dimensions into a drowpdown
  src/content/app/regulatory-activity-viewer/components/activity-viewer-actions-selector/ActivityViewerActionsSelector.tsx
  src/content/app/regulatory-activity-viewer/components/selected-epigenomes/SelectedEpigenomes.tsx
  src/content/app/regulatory-activity-viewer/contexts/ActivityViewerEpigenomesContext.ts
  src/content/app/regulatory-activity-viewer/contexts/ActivityViewerEpigenomesContextProvider.tsx
  src/content/app/regulatory-activity-viewer/state/epigenome-selection/epigenomeSelectionSlice.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Rename EpigenomesSorter component to EpigenomesLabels
  src/content/app/regulatory-activity-viewer/components/region-activity-section/RegionActivitySection.tsx
  src/content/app/regulatory-activity-viewer/components/selected-epigenomes/SelectedEpigenomes.tsx
  src/content/app/regulatory-activity-viewer/components/selected-epigenomes/epigenomes-sorter/EpigenomeLabels.module.css
  src/content/app/regulatory-activity-viewer/components/selected-epigenomes/epigenomes-sorter/EpigenomeLabels.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Fix premature closing of the actions panel
  src/content/app/regulatory-activity-viewer/components/activity-viewer-actions-selector/ActivityViewerActionsSelector.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Fix region overview in Safari
  src/content/app/regulatory-activity-viewer/components/region-overview/region-overview-image/region-overview-location-selector/RegionOverviewLocationSelector.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Path conditions:
  eslint --max-warnings=0: any of: *.{ts,tsx}
  manage-licence-header add: any of: *.{ts,tsx}
  prettier --write: any of: *.{ts,tsx}
  stylelint: any of: *.css
