Repository Ensembl/ensembl-client: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

.lintstagedrc.json:

{
  "*.{ts,tsx}": [
    "eslint --max-warnings=0",
    "manage-licence-header add",
    "prettier --write"
  ],
  "*.css": [
    "stylelint"
  ]
}

removed overflow: hidden
  src/shared/components/feature-search-results-view/FeatureSearchResultsView.module.css
Due: stylelint

Fix PR review issues including only having one spinner on results page
  src/content/search/views/search-results-view/SearchResultsView.test.tsx
  src/shared/components/feature-search-results-view/FeatureSearchResultsView.module.css
  src/shared/components/feature-search-results-view/FeatureSearchResultsView.tsx
  src/shared/components/feature-search-results/FeatureSearchResults.module.css
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Fixes based on PR review
  src/content/app/species-selector/views/species-selector-main-view/SpeciesSelectorMainView.tsx
  src/content/app/species-selector/views/species-selector-search-results-view/SpeciesSelectorSearchResultsView.tsx
  src/content/search/views/search-main-view/SearchMainView.tsx
  src/content/search/views/search-results-view/SearchResultsView.tsx
  src/header/launchbar/Launchbar.test.tsx
  src/shared/components/app-icon/SearchIcon.tsx
  src/shared/components/app-icon/index.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Reverted table style
  src/shared/components/table/Table.module.css
Due: stylelint

Removed unused files
  src/content/app/species-selector/SpeciesSelector.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Remove files
  src/content/app/species-selector/state/species-selector-feature-search-slice/speciesSelectorFeatureSearchSelectors.ts
  src/content/app/species-selector/state/species-selector-feature-search-slice/speciesSelectorFeatureSearchSlice.ts
  src/content/app/species-selector/state/speciesSelectorReducer.ts
  src/content/app/species-selector/views/species-selector-search-results-view/SpeciesSelectorSearchResultsView.test.tsx
  src/content/app/species-selector/views/species-selector-search-results-view/SpeciesSelectorSearchResultsView.tsx
  src/content/app/species-selector/views/species-selector-search-view/SpeciesSelectorSearchView.module.css
  src/content/app/species-selector/views/species-selector-search-view/SpeciesSelectorSearchView.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Add the missing Strand header to downloaded table payload
  src/content/app/entity-viewer/transcript-view/components/transcript-exons/exons-table/exportExonsTable.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Add exons view to Entity Viewer for transcript (#1304)
  src/content/app/entity-viewer/state/api/entityViewerThoasSlice.ts
  src/content/app/entity-viewer/state/api/queries/transcriptDefaultQuery.ts
  src/content/app/entity-viewer/state/transcript-view/general/transcriptViewGeneralSlice.ts
  src/content/app/entity-viewer/transcript-view/TranscriptView.tsx
  src/content/app/entity-viewer/transcript-view/components/gene-overview-image/GeneOverviewImage.tsx
  src/content/app/entity-viewer/transcript-view/components/transcript-exons/ExonsView.module.css
  src/content/app/entity-viewer/transcript-view/components/transcript-exons/ExonsView.tsx
  src/content/app/entity-viewer/transcript-view/components/transcript-exons/exonHelpers.ts
  src/content/app/entity-viewer/transcript-view/components/transcript-exons/exons-table/ExonsTable.module.css
  src/content/app/entity-viewer/transcript-view/components/transcript-exons/exons-table/ExonsTable.tsx
  src/content/app/entity-viewer/transcript-view/components/transcript-exons/exons-table/exportExonsTable.ts
  src/content/app/entity-viewer/transcript-view/components/transcript-exons/useExonsData.ts
  src/content/app/entity-viewer/transcript-view/components/transcript-view-tabs/TranscriptViewTabs.tsx
  src/content/app/entity-viewer/variant-view/variant-view-sidebar/overview/MainAccordion.tsx
  src/shared/components/panel/Panel.tsx
  src/shared/helpers/formatters/strandFormatter.test.ts
  src/shared/helpers/sequenceHelpers.test.ts
  src/shared/helpers/sequenceHelpers.ts
  src/shared/state/api-slices/refgetSlice.ts
  src/shared/types/core-api/intron.ts
  tests/fixtures/browser.ts
  tests/fixtures/entity-viewer/slice.ts
  tests/fixtures/focus-object.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Various fixes
  src/content/app/search/SearchPage.module.css
  src/content/app/search/SearchPage.tsx
  src/content/app/search/components/feature-search-field/FeatureSearchField.module.css
  src/content/app/search/components/feature-search-field/FeatureSearchField.tsx
  src/content/app/search/components/search-app-bar/SearchAppBar.module.css
  src/content/app/search/components/search-app-bar/SearchAppBar.tsx
  src/content/app/search/views/search-main-view/SearchMainView.module.css
  src/content/app/search/views/search-main-view/SearchMainView.test.tsx
  src/content/app/search/views/search-main-view/SearchMainView.tsx
  src/content/app/search/views/search-results-view/SearchResultsView.test.tsx
  src/content/app/search/views/search-results-view/SearchResultsView.tsx
  src/content/app/species-selector/SpeciesSelector.tsx
  src/content/app/species-selector/components/species-search-field/AddSpecies.tsx
  src/content/app/species-selector/components/species-search-field/SpeciesSearchFieldWithLinks.tsx
  src/content/app/species-selector/views/species-selector-main-view/SpeciesSelectorMainView.tsx
  src/routes/routesConfig.tsx
  src/shared/components/app-icon/SearchIcon.tsx
  src/shared/components/app-icon/index.ts
  src/shared/components/main-search-field/MainSearchField.module.css
  src/shared/components/main-search-field/MainSearchField.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Remove an unused css file
  src/content/app/search/components/search-app-bar/SearchAppBar.module.css
Due: stylelint

Add back disabled styles for FeatureSearchField label
  src/content/app/search/components/feature-search-field/FeatureSearchField.module.css
  src/content/app/search/components/feature-search-field/FeatureSearchField.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Fix padding bottom for FeatureSearchResultsView
  src/shared/components/feature-search-results-view/FeatureSearchResultsView.module.css
Due: stylelint

Remove bottom padding from the search panel of SpeciesSelectorMainView
  src/content/app/species-selector/views/species-selector-main-view/SpeciesSelectorMainView.module.css
Due: stylelint

Update FeatureSearchResultsView and FeatureSearchResults
  src/shared/components/feature-search-results-view/FeatureSearchResultsView.tsx
  src/shared/components/feature-search-results/FeatureSearchResults.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Move FeatureSearchResultsView and FeatureSearchResults into the Search app
  src/content/app/search/components/combined-feature-search-results/CombinedFeatureSearchResults.module.css
  src/content/app/search/components/combined-feature-search-results/CombinedFeatureSearchResults.tsx
  src/content/app/search/components/feature-search-results/FeatureSearchResults.module.css
  src/content/app/search/components/feature-search-results/FeatureSearchResults.test.tsx
  src/content/app/search/components/feature-search-results/FeatureSearchResults.tsx
  src/content/app/search/views/search-results-view/SearchResultsView.module.css
  src/content/app/search/views/search-results-view/SearchResultsView.tsx
  src/shared/components/main-search-field/MainSearchField.module.css
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Remove unnecessary props and move redirect logic into SpeciesResultsView
  src/content/app/search/components/combined-feature-search-results/CombinedFeatureSearchResults.tsx
  src/content/app/search/components/feature-search-results/FeatureSearchResults.test.tsx
  src/content/app/search/views/search-results-view/SearchResultsView.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Use utility function for building selected species payload
  src/content/app/search/components/feature-search-results/FeatureSearchResults.test.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Use app icons directly; revert changes to the ViewInApp component
  src/content/app/search/components/feature-search-results/FeatureSearchResults.module.css
  src/content/app/search/components/feature-search-results/FeatureSearchResults.tsx
  src/shared/components/app-icon/EntityViewerIcon.tsx
  src/shared/components/app-icon/GenomeBrowserIcon.tsx
  src/shared/components/view-in-app/ViewInApp.module.css
  src/shared/components/view-in-app/ViewInApp.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Use CSS for capitalizing the first letter, rather than javascript
  src/content/app/search/components/feature-search-results/FeatureSearchResults.module.css
  src/content/app/search/components/feature-search-results/FeatureSearchResults.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Remove an unused CSS class
  src/content/app/search/components/combined-feature-search-results/CombinedFeatureSearchResults.module.css
Due: stylelint

Update the definition of loading
  src/content/app/search/components/combined-feature-search-results/CombinedFeatureSearchResults.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Various cleanup
  src/content/app/search/SearchPage.tsx
  src/content/app/search/components/feature-search-results/FeatureSearchResults.module.css
  src/content/app/search/components/feature-search-results/FeatureSearchResults.tsx
  src/content/app/search/views/search-main-view/SearchMainView.module.css
  src/content/app/search/views/search-main-view/SearchMainView.tsx
  src/content/app/search/views/search-results-view/SearchResultsView.test.tsx
  src/content/app/species-selector/views/species-selector-main-view/SpeciesSelectorMainView.test.tsx
  src/header/launchbar/Launchbar.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Clean up urlHelper
  src/shared/helpers/urlHelper.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Fix test
  src/content/app/search/components/feature-search-results/FeatureSearchResults.test.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update strand usage after the enum was removed
  src/content/app/search/components/feature-search-results/FeatureSearchResults.test.tsx
  src/content/app/search/views/search-results-view/SearchResultsView.test.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update styles for table cells with action button
  src/content/app/search/components/feature-search-results/FeatureSearchResults.module.css
  src/content/app/search/components/feature-search-results/FeatureSearchResults.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

A couple of minor style tweaks
  src/content/app/search/components/feature-search-results/FeatureSearchResults.module.css
  src/content/app/search/components/feature-search-results/FeatureSearchResults.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Combine all feature searches into one box (#1309)
  src/content/app/entity-viewer/transcript-view/components/transcript-details/TranscriptDetails.module.css
  src/content/app/search/SearchPage.module.css
  src/content/app/search/SearchPage.tsx
  src/content/app/search/components/combined-feature-search-results/CombinedFeatureSearchResults.module.css
  src/content/app/search/components/combined-feature-search-results/CombinedFeatureSearchResults.tsx
  src/content/app/search/components/feature-search-field/FeatureSearchField.module.css
  src/content/app/search/components/feature-search-field/FeatureSearchField.tsx
  src/content/app/search/components/feature-search-results/FeatureSearchResults.module.css
  src/content/app/search/components/feature-search-results/FeatureSearchResults.test.tsx
  src/content/app/search/components/feature-search-results/FeatureSearchResults.tsx
  src/content/app/search/components/search-app-bar/SearchAppBar.tsx
  src/content/app/search/views/search-main-view/SearchMainView.module.css
  src/content/app/search/views/search-main-view/SearchMainView.test.tsx
  src/content/app/search/views/search-main-view/SearchMainView.tsx
  src/content/app/search/views/search-results-view/SearchResultsView.module.css
  src/content/app/search/views/search-results-view/SearchResultsView.test.tsx
  src/content/app/search/views/search-results-view/SearchResultsView.tsx
  src/content/app/species-selector/SpeciesSelector.tsx
  src/content/app/species-selector/components/species-search-field/AddSpecies.tsx
  src/content/app/species-selector/components/species-search-field/SpeciesSearchFieldWithLinks.tsx
  src/content/app/species-selector/components/species-selector-app-bar/SpeciesSelectorAppBar.tsx
  src/content/app/species-selector/state/species-selector-feature-search-slice/speciesSelectorFeatureSearchSelectors.ts
  src/content/app/species-selector/state/species-selector-feature-search-slice/speciesSelectorFeatureSearchSlice.ts
  src/content/app/species-selector/state/species-selector-general-slice/speciesSelectorGeneralSelectors.ts
  src/content/app/species-selector/state/species-selector-general-slice/speciesSelectorGeneralSlice.ts
  src/content/app/species-selector/state/speciesSelectorReducer.ts
  src/content/app/species-selector/views/species-selector-main-view/SpeciesSelectorMainView.module.css
  src/content/app/species-selector/views/species-selector-main-view/SpeciesSelectorMainView.test.tsx
  src/content/app/species-selector/views/species-selector-main-view/SpeciesSelectorMainView.tsx
  src/content/app/species-selector/views/species-selector-search-view/SpeciesSelectorSearchView.module.css
  src/content/app/species-selector/views/species-selector-search-view/SpeciesSelectorSearchView.tsx
  src/header/launchbar/Launchbar.tsx
  src/routes/routesConfig.tsx
  src/shared/components/app-icon/EntityViewerIcon.tsx
  src/shared/components/app-icon/GenomeBrowserIcon.tsx
  src/shared/components/feature-search-results/FeatureSearchResults.tsx
  src/shared/components/main-search-field/MainSearchField.module.css
  src/shared/components/main-search-field/MainSearchField.tsx
  src/shared/components/search-match/SearchMatch.module.css
  src/shared/helpers/urlHelper.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Add species delete cross to species lozenges
  src/content/app/species-selector/components/species-selector-app-bar/SpeciesSelectorAppBar.tsx
  src/content/app/species-selector/components/species-selector-search-results-app-bar/SpeciesSelectorSearchResultsAppBar.tsx
  src/shared/components/selected-species/SelectedSpecies.module.css
  src/shared/components/selected-species/SelectedSpecies.test.tsx
  src/shared/components/selected-species/SelectedSpecies.tsx
  src/shared/components/selected-species/SpeciesLozenge.module.css
  src/shared/components/species-tabs-slider/useVisibleActiveSpecies.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Update some dependencies
  package-lock.json
  package.json
Due: none

Update vitest-related dependencies
  package-lock.json
  package.json
Due: none

Another update of vitest dependencies
  package-lock.json
  package.json
Due: none

Update dependencies (#1311)
  package-lock.json
  package.json
Due: none

Update dependencies
  package-lock.json
  package.json
Due: none

Update dependencies (#1312)
  package-lock.json
  package.json
Due: none

Entity Viewer for gene: fix gene svg width in Safari
  src/content/app/entity-viewer/gene-view/components/gene-overview-image/GeneOverviewImage.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Entity Viewer for gene: fix gene svg width in Safari (#1313)
  src/content/app/entity-viewer/gene-view/components/gene-overview-image/GeneOverviewImage.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

ux improvements
  src/content/app/entity-viewer/gene-view/components/default-transcripts-list/transcripts-list-item-info/TranscriptsListItemInfo.tsx
  src/content/app/species-selector/views/species-selector-main-view/SpeciesSelectorMainView.tsx
  src/content/home/Home.module.css
  src/content/home/Home.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

rename entity viewer to feature explorer
  .storybook/preview.ts
  README.md
  doc/architecture/decisions/0014-visualisation-library.md
  doc/architecture/decisions/0017-server-side-rendering.md
  src/content/app/contact-us/components/contact-us-top-bar/ContactUsTopBar.tsx
  src/content/app/entity-viewer/EntityViewer.tsx
  src/content/app/entity-viewer/contexts/entity-viewer-ids-context/EntityViewerIdsContextProvider.tsx
  src/content/app/entity-viewer/interstitial/entity-viewer-interstitial-instructions/EntityViewerInterstitialInstructions.tsx
  src/content/app/entity-viewer/shared/page-meta/buildPageMeta.ts
  src/content/app/entity-viewer/shared/server-fetch/entityViewerServerFetch.ts
  src/content/app/entity-viewer/state/general/entityViewerGeneralSlice.ts
  src/content/app/entity-viewer/transcript-view/components/transcript-function/TranscriptFunction.tsx
  src/content/app/entity-viewer/variant-view/VariantView.tsx
  src/content/app/help/components/help-menu/helpMenuFixture.ts
  src/content/app/help/components/labelled-app-icon/LabelledAppIcon.tsx
  src/content/app/search/components/feature-search-results/FeatureSearchResults.test.tsx
  src/content/app/search/components/feature-search-results/FeatureSearchResults.tsx
  src/content/home/Home.tsx
  src/global/globalConfig.ts
  src/header/launchbar/EntityViewerLaunchbarButton.tsx
  src/root/useRestoredReduxState.ts
  src/routes/routesConfig.tsx
  src/shared/components/view-in-app/ViewInApp.test.tsx
  src/shared/components/view-in-app/ViewInApp.tsx
  src/shared/helpers/urlHelper.ts
  src/shared/services/previouslyViewedObjectsStorageService.test.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

ux improvements (#1314)
  src/content/app/entity-viewer/gene-view/components/default-transcripts-list/transcripts-list-item-info/TranscriptsListItemInfo.tsx
  src/content/app/species-selector/views/species-selector-main-view/SpeciesSelectorMainView.tsx
  src/content/home/Home.module.css
  src/content/home/Home.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint
