Repository Ensembl/ensembl-client: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

.lintstagedrc.json:

{
  "*.{ts,tsx}": [
    "eslint --max-warnings=0",
    "manage-licence-header add",
    "prettier --write"
  ],
  "*.scss": [
    "stylelint",
    "prettier --write"
  ]
}

updated comments
  src/content/app/tools/blast/components/blast-submission-header/BlastSubmissionHeader.tsx
  src/content/app/tools/blast/state/general/blastGeneralSlice.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

update comments
  src/content/app/tools/blast/components/blast-submission-header/BlastSubmissionHeader.scss
Due: prettier --write, stylelint

move media queries at the bottom to increase specificity
  src/content/app/tools/blast/components/blast-submission-header/BlastSubmissionHeader.scss
Due: prettier --write, stylelint

QA feedback
  src/content/app/tools/blast/components/blast-submission-header/BlastSubmissionHeader.scss
Due: prettier --write, stylelint

change grid layout to accomodate delete message
  src/content/app/tools/blast/components/blast-submission-header/BlastSubmissionHeader.scss
Due: prettier --write, stylelint

deletion message appear next line
  src/content/app/tools/blast/components/blast-submission-header/BlastSubmissionHeader.scss
  src/content/app/tools/blast/components/blast-submission-header/BlastSubmissionHeader.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Rename to First 5 transcripts (#832)
  src/content/app/genome-browser/components/track-settings-panel/track-settings-views/GeneTrackSettings.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Cleanup css
  src/shared/components/pagination/Pagination.scss
Due: prettier --write, stylelint

Remove double negation
  src/content/app/genome-browser/hooks/useGenomeBrowserTracks.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Revert if condition changes
  src/content/app/genome-browser/hooks/useGenomeBrowserTracks.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update show hide rows and enable it on BLAST table (#826)
  src/content/app/tools/blast/views/blast-submission-results/components/single-blast-job-result/SingleBlastJobResult.scss
  src/content/app/tools/blast/views/blast-submission-results/components/single-blast-job-result/SingleBlastJobResult.tsx
  src/shared/components/data-table/DataTable.tsx
  src/shared/components/data-table/components/main/components/table-header/TableHeader.tsx
  src/shared/components/data-table/components/main/components/table-row/TableRow.tsx
  src/shared/components/data-table/components/main/components/table-row/components/row-visibility-controller/RowVisibilityController.scss
  src/shared/components/data-table/components/main/components/table-row/components/row-visibility-controller/RowVisibilityController.tsx
  src/shared/components/data-table/components/table-controls/TableControls.tsx
  src/shared/components/data-table/components/table-controls/components/rows-per-page-selector/RowsPerPageSelector.scss
  src/shared/components/data-table/dataTableReducer.ts
  src/shared/components/data-table/dataTableTypes.ts
  src/shared/components/data-table/hooks/useDataTable.ts
  src/shared/components/pagination/Pagination.scss
  src/shared/components/pagination/Pagination.test.tsx
  src/shared/components/pagination/Pagination.tsx
  stories/shared-components/data-table/DataTable.stories.tsx
  stories/shared-components/pagination/Pagination.stories.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

use DeletionConfirmation shared component
  src/content/app/tools/blast/components/blast-submission-header/BlastSubmissionHeader.scss
  src/content/app/tools/blast/components/blast-submission-header/BlastSubmissionHeader.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Skip request to track categories if genomeId is null (#833)
  src/content/app/genome-browser/hooks/useGenomeBrowserTracks.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Rename forgotten BasePairsRuler in a test
  src/shared/components/feature-length-ruler/FeatureLengthRuler.test.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update comment about word usage
  src/content/app/tools/blast/state/general/blastGeneralSlice.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Couple of nitpicks
  src/content/app/tools/blast/components/blast-submission-header/BlastSubmissionHeader.scss
  src/content/app/tools/blast/state/general/blastGeneralSelectors.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

PR feedback
  src/content/app/tools/blast/components/blast-submission-header/BlastSubmissionHeader.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Add confirmation dialog for deletion of a BLAST job (#819)
  src/content/app/tools/blast/components/blast-app-bar/BlastAppBar.test.tsx
  src/content/app/tools/blast/components/blast-app-bar/BlastAppBar.tsx
  src/content/app/tools/blast/components/blast-submission-header/BlastSubmissionHeader.scss
  src/content/app/tools/blast/components/blast-submission-header/BlastSubmissionHeader.tsx
  src/content/app/tools/blast/components/listed-blast-submission/ListedBlastSubmission.test.tsx
  src/content/app/tools/blast/state/general/blastGeneralSelectors.ts
  src/content/app/tools/blast/state/general/blastGeneralSlice.ts
  src/content/app/tools/blast/views/blast-form/BlastForm.tsx
  src/content/app/tools/blast/views/blast-submission-results/BlastSubmissionResults.tsx
  src/content/app/tools/blast/views/blast-submissions/BlastSubmissions.tsx
  src/content/app/tools/shared/components/tools-top-bar/ToolsTopBar.scss
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Customise units label and the colors for the ruler (#830)
  src/content/app/entity-viewer/gene-view/GeneView.tsx
  src/content/app/entity-viewer/gene-view/components/default-transcripts-list/DefaultTranscriptsList.tsx
  src/content/app/entity-viewer/gene-view/components/default-transcripts-list/default-transcripts-list-item/DefaultTranscriptListItem.tsx
  src/content/app/entity-viewer/gene-view/components/gene-overview-image/GeneOverviewImage.scss
  src/content/app/entity-viewer/gene-view/components/gene-overview-image/GeneOverviewImage.tsx
  src/content/app/tools/blast/views/blast-submission-results/components/blast-results-per-sequence/BlastResultsPerSequence.scss
  src/content/app/tools/blast/views/blast-submission-results/components/blast-results-per-sequence/BlastResultsPerSequence.tsx
  src/shared/components/feature-length-ruler/FeatureLengthRuler.scss
  src/shared/components/feature-length-ruler/FeatureLengthRuler.test.tsx
  src/shared/components/feature-length-ruler/FeatureLengthRuler.tsx
  src/shared/components/feature-length-ruler/featureLengthRulerHelper.test.ts
  src/shared/components/feature-length-ruler/featureLengthRulerHelper.ts
  stories/shared-components/feature-length-ruler/FeatureLengthRuler.stories.scss
  stories/shared-components/feature-length-ruler/FeatureLengthRuler.stories.tsx
  tests/fixtures/entity-viewer/gene.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Update the types and code of the ViewInApp component
  src/content/app/genome-browser/components/zmenu/ZmenuAppLinks.tsx
  src/content/app/species/components/species-main-view/SpeciesMainViewStats.tsx
  src/content/app/species/state/general/speciesGeneralHelper.ts
  src/shared/components/view-in-app/ViewInApp.test.tsx
  src/shared/components/view-in-app/ViewInApp.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update useBrowserRouting
  src/content/app/genome-browser/hooks/useBrowserRouting.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Start whole submission download
  package-lock.json
  package.json
  src/content/app/tools/blast/blast-download/createBlastCSVTable.ts
  src/content/app/tools/blast/blast-download/submissionDownload.ts
  src/content/app/tools/blast/components/blast-submission-header/BlastSubmissionHeader.tsx
  src/content/app/tools/blast/state/blast-api/blastApiSlice.ts
  src/shared/helpers/downloadAsFile.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Actually remove the comment; it was wrong
  src/shared/helpers/downloadAsFile.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update the code for downloading files
  src/content/app/tools/blast/blast-download/submissionDownload.ts
  src/shared/components/instant-download/instant-download-fetch/fetchForGene.ts
  src/shared/components/instant-download/instant-download-fetch/fetchForProtein.ts
  src/shared/components/instant-download/instant-download-fetch/fetchForTranscript.ts
  src/shared/helpers/downloadAsFile.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Address code review comments
  src/content/app/tools/blast/blast-download/createBlastCSVTable.ts
  src/content/app/tools/blast/state/blast-api/blastApiSlice.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Extract the code reused for fetching json and raw BLAST output
  src/content/app/tools/blast/state/blast-api/blastApiSlice.ts
  src/content/app/tools/blast/types/blastJob.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Fix types
  src/content/app/tools/blast/blast-download/createBlastCSVTable.ts
  src/content/app/tools/blast/blast-download/submissionDownload.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update names of the zip file and of the sequence folders
  src/content/app/tools/blast/blast-download/submissionDownload.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update types
  src/shared/components/view-in-app-popup/ViewInAppPopup.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Cleanup BrowserBar
  src/content/app/genome-browser/components/browser-bar/BrowserBar.tsx
  src/content/app/genome-browser/state/browser-general/browserGeneralSlice.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Revert "Update useBrowserRouting"
  src/content/app/genome-browser/hooks/useBrowserRouting.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Fix GB in-app search bug selecting current feature (#834)
  src/content/app/genome-browser/components/browser-bar/BrowserBar.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Download blast submission (#831)
  package-lock.json
  package.json
  src/content/app/tools/blast/blast-download/createBlastCSVTable.ts
  src/content/app/tools/blast/blast-download/submissionDownload.ts
  src/content/app/tools/blast/components/blast-submission-header/BlastSubmissionHeader.tsx
  src/content/app/tools/blast/state/blast-api/blastApiSlice.ts
  src/content/app/tools/blast/types/blastJob.ts
  src/shared/components/instant-download/instant-download-fetch/fetchForGene.ts
  src/shared/components/instant-download/instant-download-fetch/fetchForProtein.ts
  src/shared/components/instant-download/instant-download-fetch/fetchForTranscript.ts
  src/shared/helpers/downloadAsFile.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update comment
  src/shared/components/view-in-app/ViewInApp.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update the types and code of the ViewInApp component (#836)
  src/content/app/genome-browser/components/zmenu/ZmenuAppLinks.tsx
  src/content/app/species/components/species-main-view/SpeciesMainViewStats.tsx
  src/content/app/species/state/general/speciesGeneralHelper.ts
  src/shared/components/view-in-app-popup/ViewInAppPopup.tsx
  src/shared/components/view-in-app/ViewInApp.test.tsx
  src/shared/components/view-in-app/ViewInApp.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Test TableRow
  src/shared/components/data-table/DataTable.tsx
  src/shared/components/data-table/components/main/components/table-row/TableRow.test.tsx
  src/shared/components/data-table/components/main/components/table-row/TableRow.tsx
  src/shared/components/data-table/components/table-controls/components/pagination/Pagination.test.tsx
  src/shared/components/data-table/components/table-controls/components/table-actions/TableActions.test.tsx
  src/shared/components/data-table/components/table-controls/components/table-actions/TableActions.tsx
  src/shared/components/data-table/components/table-controls/components/table-actions/components/find-in-table/FindInTable.test.tsx
  src/shared/components/data-table/components/table-controls/components/table-actions/components/show-hide-columns/ShowHideColumns.test.tsx
  src/shared/components/data-table/dataTableReducer.ts
  src/shared/components/data-table/dataTableTypes.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

use css instead of js
  src/content/app/tools/blast/components/blast-app-bar/BlastAppBar.scss
  src/content/app/tools/blast/components/blast-app-bar/BlastAppBar.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

add pointer events none
  src/content/app/tools/blast/components/blast-app-bar/BlastAppBar.scss
Due: prettier --write, stylelint

Add missing app dimension to EV tracking events
  src/content/app/entity-viewer/hooks/useEntityViewerAnalytics.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write
