Repository Ensembl/ensembl-client: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Update modal title ('Search' -> 'Search this species')
  src/content/app/entity-viewer/shared/components/entity-viewer-sidebar/entity-viewer-sidebar-modal/EntityViewerSidebarModal.tsx
  src/content/app/genome-browser/components/browser-sidebar-modal/BrowserSidebarModal.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Move 'Find a gene' button on Species page to the sidebar
  src/content/app/species/components/species-page-sidebar/SpeciesPageSidebar.module.css
  src/content/app/species/components/species-page-sidebar/SpeciesPageSidebar.tsx
  src/content/app/species/components/species-sidebar-modal/SpeciesSidebarModal.tsx
  src/content/app/species/components/species-title-area/SpeciesTitleArea.module.css
  src/content/app/species/components/species-title-area/SpeciesTitleArea.tsx
  src/shared/components/gene-search-button/GeneSearchButton.tsx
  src/shared/components/gene-search-panel/GeneSearchPanel.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Fix test
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/TrackPanelList.test.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Use GeneSearchButton in genome browser and entity viewer sidebar
  src/content/app/entity-viewer/gene-view/components/gene-view-sidebar/overview/GeneOverview.module.css
  src/content/app/entity-viewer/gene-view/components/gene-view-sidebar/overview/GeneOverview.tsx
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/TrackPanelList.module.css
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/TrackPanelList.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Remove comment
  src/content/app/entity-viewer/gene-view/GeneView.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update 'find a gene' ui in Species Selector
  src/content/app/species-selector/components/species-selector-app-bar/SpeciesSelectorAppBar.tsx
  src/content/app/species-selector/state/species-selector-gene-search-slice/speciesSelectorGeneSearchSelectors.ts
  src/content/app/species-selector/state/species-selector-gene-search-slice/speciesSelectorGeneSearchSlice.ts
  src/content/app/species-selector/views/species-selector-gene-search-view/SpeciesSelectorGeneSearchView.tsx
  src/shared/components/gene-search-button/GeneSearchButton.module.css
  src/shared/components/gene-search-button/GeneSearchCloseButton.tsx
  src/shared/components/gene-search-panel/GeneSearchPanel.module.css
  src/shared/components/gene-search-panel/GeneSearchPanel.tsx
  src/shared/components/help-article/HelpArticle.module.css
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Update a comment
  src/shared/components/in-app-search/InAppSearch.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update styles; disable gene search button on no input
  src/content/app/species-selector/components/genome-selector-by-search-query/GenomeSelectorBySearchQuery.module.css
  src/content/app/species-selector/components/species-selector-app-bar/SpeciesSelectorAppBar.module.css
  src/shared/components/gene-search-panel/GeneSearchPanel.module.css
  src/shared/components/gene-search-panel/GeneSearchPanel.tsx
  src/shared/components/modal-view/ModalView.module.css
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Update the UI for finding a gene (#1136)
  src/content/app/entity-viewer/gene-view/components/gene-view-sidebar/overview/GeneOverview.module.css
  src/content/app/entity-viewer/gene-view/components/gene-view-sidebar/overview/GeneOverview.tsx
  src/content/app/entity-viewer/shared/components/entity-viewer-sidebar/entity-viewer-sidebar-modal/EntityViewerSidebarModal.tsx
  src/content/app/entity-viewer/shared/components/entity-viewer-sidebar/entity-viewer-sidebar-modal/modal-views/EntityViewerSearch.tsx
  src/content/app/genome-browser/components/browser-sidebar-modal/BrowserSidebarModal.tsx
  src/content/app/genome-browser/components/browser-sidebar-modal/modal-views/SearchModal.tsx
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/TrackPanelList.module.css
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/TrackPanelList.test.tsx
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/TrackPanelList.tsx
  src/content/app/species-selector/components/genome-selector-by-search-query/GenomeSelectorBySearchQuery.module.css
  src/content/app/species-selector/components/species-selector-app-bar/SpeciesSelectorAppBar.module.css
  src/content/app/species-selector/components/species-selector-app-bar/SpeciesSelectorAppBar.tsx
  src/content/app/species-selector/state/species-selector-gene-search-slice/speciesSelectorGeneSearchSelectors.ts
  src/content/app/species-selector/state/species-selector-gene-search-slice/speciesSelectorGeneSearchSlice.ts
  src/content/app/species-selector/state/speciesSelectorReducer.ts
  src/content/app/species-selector/views/species-selector-gene-search-view/SpeciesSelectorGeneSearchView.tsx
  src/content/app/species/SpeciesPage.module.css
  src/content/app/species/SpeciesPageContent.tsx
  src/content/app/species/components/species-page-sidebar/SpeciesPageSidebar.module.css
  src/content/app/species/components/species-page-sidebar/SpeciesPageSidebar.tsx
  src/content/app/species/components/species-sidebar-modal/SpeciesSidebarModal.tsx
  src/content/app/species/components/species-sidebar-modal/modal-views/SpeciesSidebarSearch.tsx
  src/content/app/species/components/species-title-area/SpeciesTitleArea.module.css
  src/content/app/species/components/species-title-area/SpeciesTitleArea.tsx
  src/shared/components/delete-button/DeleteButton.module.css
  src/shared/components/delete-button/DeleteButton.tsx
  src/shared/components/gene-search-button/GeneSearchButton.module.css
  src/shared/components/gene-search-button/GeneSearchCloseButton.tsx
  src/shared/components/gene-search-panel/GeneSearchPanel.module.css
  src/shared/components/gene-search-panel/GeneSearchPanel.tsx
  src/shared/components/help-article/HelpArticle.module.css
  src/shared/components/in-app-search/InAppSearch.tsx
  src/shared/components/in-app-search/InAppSearchMatches.tsx
  src/shared/components/modal-view/ModalView.module.css
  src/shared/components/species-tabs-wrapper/SpeciesTabsWrapper.module.css
  stories/shared-components/delete-button/DeleteButton.stories.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Species Selector UI updates
  src/content/app/species-selector/SpeciesSelector.tsx
  src/content/app/species-selector/components/species-selector-app-bar/SpeciesSelectorAppBar.tsx
  src/content/app/species-selector/components/species-selector-search-results-app-bar/SpeciesSelectorSearchResultsAppBar.tsx
  src/content/app/species/SpeciesPage.module.css
  src/content/app/species/components/species-app-bar/SpeciesAppBar.tsx
  src/shared/components/selected-species/SelectedSpecies.tsx
  src/shared/components/selected-species/SpeciesLozenge.tsx
  stories/shared-components/species-lozenge/SpeciesLozenge.stories.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Update styles
  src/content/app/species-selector/components/genome-selector-by-search-query/GenomeSelectorBySearchQuery.module.css
  src/content/app/species-selector/components/genome-selector-by-search-query/GenomeSelectorBySearchQuery.tsx
  src/content/app/species-selector/components/species-search-field/AddSpecies.tsx
  src/content/app/species-selector/components/species-search-field/SpeciesSearchField.module.css
  src/content/app/species-selector/components/species-search-field/SpeciesSearchField.tsx
  src/content/app/tools/blast/components/blast-species-selector/BlastSpeciesSelector.tsx
  src/shared/components/gene-search-panel/GeneSearchPanel.module.css
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Fix tests
  src/shared/components/selected-species/SelectedSpecies.test.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Fix the flicker on species search results screen
  src/content/app/species-selector/components/genome-selector-by-search-query/GenomeSelectorBySearchQuery.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Add the close button to GenomeSelectorBySpeciesTaxonomyId
  src/content/app/species-selector/components/genome-selector-by-species-taxonomy-id/GenomeSelectorBySpeciesTaxonomyId.module.css
  src/content/app/species-selector/components/genome-selector-by-species-taxonomy-id/GenomeSelectorBySpeciesTaxonomyId.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Show BLAST hits both for chromosomes and for unassembled regions
  src/content/app/tools/blast/components/blast-genomic-hits-diagram/BlastGenomicHitsDiagram.tsx
  src/content/app/tools/blast/components/blast-genomic-hits-diagram/BlastGenomicRegionHeatmap.tsx
  src/content/app/tools/blast/views/blast-submission-results/components/single-blast-job-result/SingleBlastJobResult.module.css
  src/content/app/tools/blast/views/blast-submission-results/components/single-blast-job-result/SingleBlastJobResult.tsx
  src/content/app/tools/blast/views/blast-submission-results/components/single-blast-job-result/useGroupedBlastHits.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Update styles
  src/content/app/tools/blast/views/blast-submission-results/components/single-blast-job-result/SingleBlastJobResult.module.css
  src/content/app/tools/blast/views/blast-submission-results/components/single-blast-job-result/SingleBlastJobResult.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Remove empty CSS class
  src/content/app/tools/blast/views/blast-submission-results/components/single-blast-job-result/SingleBlastJobResult.module.css
Due: stylelint

Update styles
  src/content/app/tools/blast/views/blast-submission-results/components/single-blast-job-result/SingleBlastJobResult.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Remove unnecessary comment
  src/content/app/tools/blast/views/blast-submission-results/components/single-blast-job-result/useGroupedBlastHits.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update text in a comment
  src/content/app/tools/blast/views/blast-submission-results/components/single-blast-job-result/useGroupedBlastHits.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update styles
  src/content/app/tools/blast/views/blast-submission-results/components/single-blast-job-result/SingleBlastJobResult.module.css
Due: stylelint

Species Selector UI updates (#1140)
  src/content/app/species-selector/SpeciesSelector.tsx
  src/content/app/species-selector/components/genome-selector-by-search-query/GenomeSelectorBySearchQuery.module.css
  src/content/app/species-selector/components/genome-selector-by-search-query/GenomeSelectorBySearchQuery.tsx
  src/content/app/species-selector/components/genome-selector-by-species-taxonomy-id/GenomeSelectorBySpeciesTaxonomyId.module.css
  src/content/app/species-selector/components/genome-selector-by-species-taxonomy-id/GenomeSelectorBySpeciesTaxonomyId.tsx
  src/content/app/species-selector/components/species-search-field/AddSpecies.tsx
  src/content/app/species-selector/components/species-search-field/SpeciesSearchField.module.css
  src/content/app/species-selector/components/species-search-field/SpeciesSearchField.tsx
  src/content/app/species-selector/components/species-selector-app-bar/SpeciesSelectorAppBar.tsx
  src/content/app/species-selector/components/species-selector-search-results-app-bar/SpeciesSelectorSearchResultsAppBar.tsx
  src/content/app/species/SpeciesPage.module.css
  src/content/app/species/components/species-app-bar/SpeciesAppBar.tsx
  src/content/app/tools/blast/components/blast-species-selector/BlastSpeciesSelector.tsx
  src/shared/components/gene-search-panel/GeneSearchPanel.module.css
  src/shared/components/selected-species/SelectedSpecies.test.tsx
  src/shared/components/selected-species/SelectedSpecies.tsx
  src/shared/components/selected-species/SpeciesLozenge.tsx
  stories/shared-components/species-lozenge/SpeciesLozenge.stories.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Show BLAST hits count for non-chromosomal top-level regions as well as for chromosomes (#1141)
  src/content/app/tools/blast/components/blast-genomic-hits-diagram/BlastGenomicHitsDiagram.tsx
  src/content/app/tools/blast/components/blast-genomic-hits-diagram/BlastGenomicRegionHeatmap.tsx
  src/content/app/tools/blast/views/blast-submission-results/components/single-blast-job-result/SingleBlastJobResult.module.css
  src/content/app/tools/blast/views/blast-submission-results/components/single-blast-job-result/SingleBlastJobResult.tsx
  src/content/app/tools/blast/views/blast-submission-results/components/single-blast-job-result/useGroupedBlastHits.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Add a skeleton page for VEP development
  src/content/app/tools/vep/VepPage.tsx
  src/content/app/tools/vep/VepPageContent.tsx
  src/content/app/tools/vep/components/form-section/FormSection.module.css
  src/content/app/tools/vep/components/form-section/FormSection.tsx
  src/content/app/tools/vep/components/vep-app-bar/VepAppBar.tsx
  src/content/app/tools/vep/views/vep-form/VepForm.module.css
  src/content/app/tools/vep/views/vep-form/VepForm.tsx
  src/header/launchbar/Launchbar.tsx
  src/header/launchbar/VEPLaunchbarButton.tsx
  src/routes/routesConfig.tsx
  src/shared/components/app-icon/VEPIcon.tsx
  src/shared/helpers/environment.test.ts
  src/shared/helpers/environment.ts
  static/icons/icon_launchbar_vep.svg
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

More elements for the skeleton page
  src/content/app/tools/shared/components/tools-top-bar/ToolsTopBar.module.css
  src/content/app/tools/vep/VepPageContent.tsx
  src/content/app/tools/vep/components/form-section/FormSection.tsx
  src/content/app/tools/vep/components/vep-top-bar/VepTopBar.module.css
  src/content/app/tools/vep/components/vep-top-bar/VepTopBar.tsx
  src/content/app/tools/vep/views/vep-form/VepForm.module.css
  src/content/app/tools/vep/views/vep-form/VepForm.tsx
  src/header/launchbar/Launchbar.tsx
  src/header/launchbar/VEPLaunchbarButton.tsx
  src/shared/components/app-icon/AppIcon.module.css
  src/shared/components/app-icon/index.ts
  src/shared/components/simple-select/SimpleSelect.module.css
  src/shared/components/simple-select/SimpleSelect.tsx
  src/shared/components/simple-select/SimpleSelectDisabled.tsx
  src/shared/components/text-button/TextButton.module.css
  src/shared/components/text-button/TextButton.tsx
  static/icons/icon_launchbar_vep.svg
  static/img/tools/vep/ensembl-vep.svg
  stories/shared-components/app-icon/AppIcon.stories.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Show color values in color cards in Storybook
  stories/design-primitives/colours/ColourCard.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Fix letter case in file name
  src/shared/components/app-icon/VepIcon.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Fix letter case in another file name
  src/header/launchbar/VepLaunchbarButton.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Colours -> colours
  stories/design-primitives/colors/ColorCard.module.css
  stories/design-primitives/colors/ColorCard.tsx
  stories/design-primitives/colors/Colors.stories.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Show colour values in colour cards in Storybook (#1143)
  stories/design-primitives/colors/ColorCard.module.css
  stories/design-primitives/colors/ColorCard.tsx
  stories/design-primitives/colors/Colors.stories.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Remove unnecessary comment
  src/content/app/tools/vep/VepPage.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Remove unused file
  src/shared/components/simple-select/SimpleSelectDisabled.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Add a skeleton page for VEP development (#1142)
  src/content/app/tools/shared/components/tools-top-bar/ToolsTopBar.module.css
  src/content/app/tools/vep/VepPage.tsx
  src/content/app/tools/vep/VepPageContent.tsx
  src/content/app/tools/vep/components/form-section/FormSection.module.css
  src/content/app/tools/vep/components/form-section/FormSection.tsx
  src/content/app/tools/vep/components/vep-app-bar/VepAppBar.tsx
  src/content/app/tools/vep/components/vep-top-bar/VepTopBar.module.css
  src/content/app/tools/vep/components/vep-top-bar/VepTopBar.tsx
  src/content/app/tools/vep/views/vep-form/VepForm.module.css
  src/content/app/tools/vep/views/vep-form/VepForm.tsx
  src/header/launchbar/Launchbar.tsx
  src/header/launchbar/VepLaunchbarButton.tsx
  src/routes/routesConfig.tsx
  src/shared/components/app-icon/AppIcon.module.css
  src/shared/components/app-icon/VepIcon.tsx
  src/shared/components/app-icon/index.ts
  src/shared/components/simple-select/SimpleSelect.module.css
  src/shared/components/simple-select/SimpleSelect.tsx
  src/shared/components/text-button/TextButton.module.css
  src/shared/helpers/environment.test.ts
  src/shared/helpers/environment.ts
  static/icons/icon_launchbar_vep.svg
  static/img/tools/vep/ensembl-vep.svg
  stories/shared-components/app-icon/AppIcon.stories.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Add species selector to VEP submission form
  src/content/app/tools/vep/VepPageContent.module.css
  src/content/app/tools/vep/VepPageContent.tsx
  src/content/app/tools/vep/views/vep-form/VepForm.tsx
  src/content/app/tools/vep/views/vep-species-selector/VepSpeciesSelector.module.css
  src/content/app/tools/vep/views/vep-species-selector/VepSpeciesSelector.tsx
  src/shared/helpers/urlHelper.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Update VEP species selector
  src/content/app/tools/vep/state/vep-form/vepFormSelectors.ts
  src/content/app/tools/vep/state/vep-form/vepFormSlice.ts
  src/content/app/tools/vep/state/vepReducer.ts
  src/content/app/tools/vep/views/vep-form/VepForm.tsx
  src/content/app/tools/vep/views/vep-form/vep-form-species-section/VepFormSpeciesSection.module.css
  src/content/app/tools/vep/views/vep-form/vep-form-species-section/VepFormSpeciesSection.tsx
  src/content/app/tools/vep/views/vep-species-selector/VepSpeciesSelector.module.css
  src/content/app/tools/vep/views/vep-species-selector/VepSpeciesSelector.tsx
  src/root/rootReducer.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Remove unnecessary comment block
  src/content/app/tools/vep/views/vep-species-selector/VepSpeciesSelector.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Vep species selector (#1144)
  src/content/app/tools/vep/VepPageContent.module.css
  src/content/app/tools/vep/VepPageContent.tsx
  src/content/app/tools/vep/state/vep-form/vepFormSelectors.ts
  src/content/app/tools/vep/state/vep-form/vepFormSlice.ts
  src/content/app/tools/vep/state/vepReducer.ts
  src/content/app/tools/vep/views/vep-form/VepForm.tsx
  src/content/app/tools/vep/views/vep-form/vep-form-species-section/VepFormSpeciesSection.module.css
  src/content/app/tools/vep/views/vep-form/vep-form-species-section/VepFormSpeciesSection.tsx
  src/content/app/tools/vep/views/vep-species-selector/VepSpeciesSelector.module.css
  src/content/app/tools/vep/views/vep-species-selector/VepSpeciesSelector.tsx
  src/root/rootReducer.ts
  src/shared/helpers/urlHelper.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Add VEP form variants section
  src/content/app/tools/vep/views/vep-form/VepForm.tsx
  src/content/app/tools/vep/views/vep-form/vep-form-variants-section/VepFormVariantsSection.module.css
  src/content/app/tools/vep/views/vep-form/vep-form-variants-section/VepFormVariantsSection.tsx
  src/shared/components/upload/FileDropZone.module.css
  src/shared/components/upload/FileDropZone.tsx
  stories/shared-components/upload/FileDropZone.stories.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Update the Upload and the FileDropZone components
  src/shared/components/upload/FileDropZone.module.css
  src/shared/components/upload/Upload.module.css
  src/shared/components/upload/Upload.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Path conditions:
  eslint --max-warnings=0: any of: *.{ts,tsx}
  manage-licence-header add: any of: *.{ts,tsx}
  prettier --write: any of: *.{ts,tsx}
  stylelint: any of: *.css
