Repository Ensembl/ensembl-client: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Add formatter for small numbers, and move allele table columns around
  src/content/app/entity-viewer/variant-view/population-allele-frequencies/PopulationAlleleFrequencies.tsx
  src/shared/helpers/formatters/numberFormatter.test.ts
  src/shared/helpers/formatters/numberFormatter.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

review updates
  src/content/app/entity-viewer/state/variant-view/general/variantViewGeneralSelectors.ts
  src/content/app/entity-viewer/state/variant-view/general/variantViewGeneralSlice.ts
  src/content/app/entity-viewer/state/variant-view/transcriptConsequenceSlice.ts
  src/content/app/entity-viewer/variant-view/hooks/useExpandedTranscripts.ts
  src/content/app/entity-viewer/variant-view/transcript-consequences/TranscriptConsequences.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

review changes
  src/content/app/entity-viewer/variant-view/hooks/useExpandedTranscripts.ts
  src/content/app/entity-viewer/variant-view/transcript-consequences/TranscriptConsequences.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Use 0.0001 for cutoff
  src/shared/helpers/formatters/numberFormatter.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Separate the toggle expanded transcripts action into an expand and a collapse action
  src/content/app/entity-viewer/state/variant-view/transcriptConsequenceSlice.ts
  src/content/app/entity-viewer/variant-view/transcript-consequences/TranscriptConsequences.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Use set to ensure id uniqueness, and use correct action creator for toggle
  src/content/app/entity-viewer/state/variant-view/transcriptConsequenceSlice.ts
  src/content/app/entity-viewer/variant-view/transcript-consequences/TranscriptConsequences.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Clickable transcript id should be a button
  src/content/app/entity-viewer/variant-view/transcript-consequences/TranscriptConsequences.module.css
  src/content/app/entity-viewer/variant-view/transcript-consequences/TranscriptConsequences.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Fix column ordering for global population frequency
  src/content/app/entity-viewer/variant-view/population-allele-frequencies/PopulationAlleleFrequencies.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update styles for CADD and MAF (in Entity Viewer and Genome Browser)
  src/content/app/genome-browser/components/drawer/drawer-views/variant-summary/VariantSummary.module.css
  src/content/app/genome-browser/components/drawer/drawer-views/variant-summary/VariantSummary.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Guard against nullable homologies
  src/content/app/entity-viewer/gene-view/components/gene-homology/GeneHomology.tsx
  src/content/app/entity-viewer/state/api/queries/geneHomologiesQuery.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update tests
  src/shared/helpers/formatters/numberFormatter.test.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Expand first transcript consequence by default (#1123)
  src/content/app/entity-viewer/state/api/queries/variantTranscriptConsequencesQueries.ts
  src/content/app/entity-viewer/state/variant-view/general/variantViewGeneralSelectors.ts
  src/content/app/entity-viewer/state/variant-view/general/variantViewGeneralSlice.ts
  src/content/app/entity-viewer/state/variant-view/transcriptConsequenceSelectors.ts
  src/content/app/entity-viewer/state/variant-view/transcriptConsequenceSlice.ts
  src/content/app/entity-viewer/variant-view/transcript-consequences/TranscriptConsequences.module.css
  src/content/app/entity-viewer/variant-view/transcript-consequences/TranscriptConsequences.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Support nullable homologies field returned by the Compara api (#1126)
  src/content/app/entity-viewer/gene-view/components/gene-homology/GeneHomology.tsx
  src/content/app/entity-viewer/state/api/queries/geneHomologiesQuery.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update formatting for CADD and MAF scores in Entity Viewer and Genome Browser (#1121)
  src/content/app/genome-browser/components/drawer/drawer-views/variant-summary/VariantSummary.module.css
  src/content/app/genome-browser/components/drawer/drawer-views/variant-summary/VariantSummary.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Change contract: use createSmallNumberFormatter instead of a formatSmallNumber funtion
  src/content/app/entity-viewer/variant-view/population-allele-frequencies/PopulationAlleleFrequencies.tsx
  src/shared/helpers/formatters/numberFormatter.test.ts
  src/shared/helpers/formatters/numberFormatter.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update dependencies. Update react to 18.3.1
  package-lock.json
  package.json
Due: none

Switch babel preset react to automatic runtime
  babel.config.js
Due: none

Update eslint config: add 'plugin:react/jsx-runtime' to extends and remove individual react rules
  .eslintrc.js
Due: none

Remove all 'import * as React from react' imports
  src/content/app/entity-viewer/contexts/entity-viewer-ids-context/EntityViewerIdsContextProvider.tsx
  src/content/app/entity-viewer/gene-view/components/protein-domain-image/ProteinDomainImage.tsx
  src/content/app/entity-viewer/variant-view/transcript-consequences/transcript-variant-protein/TranscriptVariantProtein.tsx
  src/content/app/genome-browser/components/browser-sidebar-modal/modal-views/BookmarksModal.tsx
  src/content/app/genome-browser/components/browser-track-legend/BrowserTrackLegend.tsx
  src/content/app/genome-browser/components/chromosome-navigator/ChromosomeNavigator.tsx
  src/content/app/genome-browser/components/zmenu/Zmenu.tsx
  src/content/app/genome-browser/components/zmenu/ZmenuController.tsx
  src/content/app/genome-browser/contexts/GenomeBrowserContext.tsx
  src/content/app/genome-browser/contexts/genome-browser-ids-context/GenomeBrowserIdsContext.tsx
  src/content/app/help/components/labelled-app-icon/LabelledAppIcon.tsx
  src/content/app/species/components/species-sidebar-modal/modal-views/SpeciesSidebarDownload.tsx
  src/content/app/species/components/species-stats/SpeciesStats.tsx
  src/content/app/tools/blast/components/blast-settings/BlastSettings.tsx
  src/shared/components/accordion/components/AccordionContext.tsx
  src/shared/components/accordion/components/AccordionItemState.tsx
  src/shared/components/accordion/components/ItemContext.tsx
  src/shared/components/accordion/helpers/types.ts
  src/shared/components/alert-button/AlertButton.tsx
  src/shared/components/app-bar/AppBar.tsx
  src/shared/components/autosuggest-search-field/AutosuggestSearchField.tsx
  src/shared/components/communication-framework/contact-us/contact-us-form/initial/ContactUsInitialForm.tsx
  src/shared/components/communication-framework/contact-us/contact-us-form/submit-slider/SubmitSlider.tsx
  src/shared/components/data-table/components/table-controls/components/rows-per-page-selector/RowsPerPageSelector.tsx
  src/shared/components/data-table/components/table-controls/components/table-actions/TableActions.tsx
  src/shared/components/data-table/components/table-controls/components/table-actions/components/find-in-table/FindInTable.tsx
  src/shared/components/data-table/components/table-controls/components/table-actions/components/popup-panel/PopupPanel.tsx
  src/shared/components/error-boundary/ErrorBoundary.tsx
  src/shared/components/input/Input.test.tsx
  src/shared/components/modal/Modal.tsx
  src/shared/components/pagination/Pagination.tsx
  src/shared/components/question-button/QuestionButton.tsx
  src/shared/components/select/Select.tsx
  src/shared/components/select/SelectOptionsPanel.tsx
  src/shared/components/textarea/Textarea.test.tsx
  src/shared/components/upload/Upload.tsx
  stories/genome-browser/chromosome-navigator/ChromosomeNavigator.stories.tsx
  stories/shared-components/feature-length-ruler/FeatureLengthRuler.stories.tsx
  stories/shared-components/pointer-box/pointerBoxPositioningStory.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Annotate type imports
  src/shared/components/pointer-box/PointerBox.tsx
  src/shared/components/privacy-banner/PrivacyBanner.tsx
  src/shared/components/round-button/RoundButton.tsx
  src/shared/components/simple-select/SimpleSelect.test.tsx
  src/shared/components/table/ColumnHead.tsx
  src/shared/components/text-line/TextLine.tsx
  src/shared/components/textarea/ShadedTextarea.test.tsx
  src/shared/components/textarea/ShadedTextarea.tsx
  src/shared/components/textarea/Textarea.tsx
  src/shared/components/tooltip/Tooltip.tsx
  src/shared/components/view-in-app-popup/ViewInAppPopup.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Add formatter for small numbers, and move allele table columns around (#1124)
  src/content/app/entity-viewer/variant-view/population-allele-frequencies/PopulationAlleleFrequencies.tsx
  src/shared/helpers/formatters/numberFormatter.test.ts
  src/shared/helpers/formatters/numberFormatter.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Initial attempt to make two last columns of the table sticky
  src/content/app/species-selector/views/species-manager/selected-genomes-table/SelectedGenomesTable.module.css
  src/content/app/species-selector/views/species-manager/selected-genomes-table/SelectedGenomesTable.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Update image styles
  src/shared/components/help-article/HelpArticle.module.css
  stories/help/example-content/images.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Update image styles for help&docs articles
  src/shared/components/help-article/HelpArticle.module.css
  stories/help/example-content/images.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Update selected genomes table styles
  src/content/app/species-selector/views/species-manager/SpeciesManager.module.css
  src/content/app/species-selector/views/species-manager/SpeciesManager.tsx
  src/content/app/species-selector/views/species-manager/selected-genomes-table/SelectedGenomesTable.module.css
  src/content/app/species-selector/views/species-manager/selected-genomes-table/SelectedGenomesTable.tsx
  src/shared/components/table/Table.module.css
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Add a filter for genomes in the table in the species manager
  src/content/app/species-selector/components/species-lozenge-display-selector/SpeciesLozengeDisplaySelector.module.css
  src/content/app/species-selector/views/species-manager/SpeciesManager.module.css
  src/content/app/species-selector/views/species-manager/SpeciesManager.tsx
  src/content/app/species-selector/views/species-manager/selected-genomes-table/SelectedGenomesTable.tsx
  src/content/app/species-selector/views/species-manager/useFilteredGenomes.ts
  src/shared/components/add-button/AddButton.module.css
  src/shared/components/upload/hooks/useFileDrop.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Scroll to gene in transcript consequences
  src/content/app/entity-viewer/variant-view/transcript-consequences/TranscriptConsequences.module.css
  src/content/app/entity-viewer/variant-view/transcript-consequences/TranscriptConsequences.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Update styles
  src/content/app/entity-viewer/variant-view/transcript-consequences/TranscriptConsequences.module.css
  src/content/app/entity-viewer/variant-view/transcript-consequences/TranscriptConsequences.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Use TextButton for transcript ids
  src/content/app/entity-viewer/variant-view/transcript-consequences/TranscriptConsequences.module.css
  src/content/app/entity-viewer/variant-view/transcript-consequences/TranscriptConsequences.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Update distance between gene buttons
  src/content/app/entity-viewer/variant-view/transcript-consequences/TranscriptConsequences.module.css
Due: stylelint

Make species selector button clickable
  src/header/launchbar/LaunchbarButton.tsx
  src/header/launchbar/SpeciesSelectorLaunchbarButton.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update styles
  src/content/app/species-selector/views/species-manager/SpeciesManager.module.css
  src/content/app/species-selector/views/species-manager/SpeciesManager.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

wrap long stable ids in transcript list and protein list view
  src/content/app/entity-viewer/gene-view/components/default-transcripts-list/transcripts-list-item-info/TranscriptsListItemInfo.module.css
  src/content/app/entity-viewer/gene-view/components/default-transcripts-list/transcripts-list-item-info/TranscriptsListItemInfo.tsx
  src/content/app/entity-viewer/gene-view/components/proteins-list/proteins-list-item/ProteinsListItem.module.css
  src/content/app/entity-viewer/gene-view/components/proteins-list/proteins-list-item/ProteinsListItem.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

update props
  src/header/launchbar/LaunchbarButton.tsx
  src/header/launchbar/SpeciesSelectorLaunchbarButton.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Scroll to gene in variant transcript consequences panel (#1128)
  src/content/app/entity-viewer/variant-view/transcript-consequences/TranscriptConsequences.module.css
  src/content/app/entity-viewer/variant-view/transcript-consequences/TranscriptConsequences.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Query variant summary statistics to use with navigation buttons in Entity Viewer
  src/content/app/entity-viewer/state/api/queries/variantDefaultQuery.ts
  src/shared/types/variation-api/variant.ts
  src/shared/types/variation-api/variantAllele.ts
  src/shared/types/variation-api/variantSummaryStatistics.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Path conditions:
  eslint --max-warnings=0: any of: *.{ts,tsx}
  manage-licence-header add: any of: *.{ts,tsx}
  prettier --write: any of: *.{ts,tsx}
  stylelint: any of: *.css
