Repository Ensembl/ensembl-client: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Use 100% width instead of calc
  src/content/app/genome-browser/components/drawer/drawer-views/gene-summary/GeneSummary.scss
  src/content/app/genome-browser/components/drawer/drawer-views/gene-summary/GeneSummary.tsx
  src/content/app/genome-browser/components/drawer/drawer-views/transcript-summary/TranscriptSummary.scss
  src/content/app/genome-browser/components/drawer/drawer-views/transcript-summary/TranscriptSummary.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Use updated endpoint for blast form submission
  src/content/app/tools/blast/components/blast-job-submit/BlastJobSubmit.tsx
  src/content/app/tools/blast/state/blast-api/blastApiSlice.ts
  src/content/app/tools/blast/state/blast-results/blastResultsSlice.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Fix blastEpics tess
  src/content/app/tools/blast/state/blast-api/blastApiSlice.ts
  src/content/app/tools/blast/state/epics/tests/blastEpics.test.ts
  src/content/app/tools/blast/state/epics/tests/fixtures/blastSubmissionFixtures.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Fix test for BlastJobSubmit
  src/content/app/tools/blast/components/blast-job-submit/BlastJobSubmit.test.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Just rely on display flex
  src/content/app/genome-browser/components/drawer/drawer-views/gene-summary/GeneSummary.scss
  src/content/app/genome-browser/components/drawer/drawer-views/gene-summary/GeneSummary.tsx
  src/content/app/genome-browser/components/drawer/drawer-views/transcript-summary/TranscriptSummary.scss
  src/content/app/genome-browser/components/drawer/drawer-views/transcript-summary/TranscriptSummary.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Fix bookmarks not loading on reload
  src/content/app/genome-browser/components/browser-sidebar-modal/modal-views/BookmarksModal.test.tsx
  src/content/app/genome-browser/components/browser-sidebar-modal/modal-views/BookmarksModal.tsx
  src/content/app/genome-browser/components/drawer/drawer-views/DrawerBookmarks.tsx
  src/content/app/genome-browser/services/browser-bookmarks/browserBookmarksStorageService.test.ts
  src/content/app/genome-browser/services/browser-bookmarks/browserBookmarksStorageService.ts
  src/content/app/genome-browser/state/browser-bookmarks/browserBookmarksSelectors.ts
  src/content/app/genome-browser/state/browser-bookmarks/browserBookmarksSlice.ts
  src/root/useRestoredReduxState.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Fix PR issues
  src/content/app/genome-browser/state/browser-bookmarks/browserBookmarksSlice.ts
  src/root/useRestoredReduxState.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Drawer padding update
  src/shared/components/layout/StandardAppLayout.scss
Due: prettier --write, stylelint

Adapt drawer layout for smaller screens (#734)
  src/content/app/genome-browser/components/drawer/drawer-views/gene-summary/GeneSummary.scss
  src/content/app/genome-browser/components/drawer/drawer-views/transcript-summary/TranscriptSummary.scss
  src/shared/components/layout/StandardAppLayout.scss
Due: prettier --write, stylelint

Fix a couple of BLAST settings
  src/content/app/tools/blast/components/blast-settings/BlastSettings.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Add the ButtonLink component
  src/shared/components/button-link/ButtonLink.scss
  src/shared/components/button-link/ButtonLink.tsx
  stories/shared-components/button-link/ButtonLink.stories.scss
  stories/shared-components/button-link/ButtonLink.stories.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Add the disabled state
  src/shared/components/button-link/ButtonLink.scss
  src/shared/components/button-link/ButtonLink.tsx
  stories/shared-components/button-link/ButtonLink.stories.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Use span instead of a link when the button is disabled
  src/shared/components/button-link/ButtonLink.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Add ButtonLink component (#742)
  src/shared/components/button-link/ButtonLink.scss
  src/shared/components/button-link/ButtonLink.tsx
  stories/shared-components/button-link/ButtonLink.stories.scss
  stories/shared-components/button-link/ButtonLink.stories.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

PR fixes and suggestions
  src/content/app/genome-browser/components/browser-sidebar-modal/BrowserSidebarModal.test.tsx
  src/content/app/genome-browser/components/browser-sidebar-modal/modal-views/BookmarksModal.test.tsx
  src/content/app/genome-browser/services/browser-bookmarks/browserBookmarksStorageService.test.ts
  src/content/app/genome-browser/services/browser-bookmarks/browserBookmarksStorageService.ts
  tests/fixtures/browser.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Fix a couple of BLAST settings (#741)
  src/content/app/tools/blast/components/blast-settings/BlastSettings.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Use updated endpoint for blast form submission (#739)
  src/content/app/tools/blast/components/blast-job-submit/BlastJobSubmit.test.tsx
  src/content/app/tools/blast/components/blast-job-submit/BlastJobSubmit.tsx
  src/content/app/tools/blast/state/blast-api/blastApiSlice.ts
  src/content/app/tools/blast/state/blast-results/blastResultsSlice.ts
  src/content/app/tools/blast/state/epics/tests/blastEpics.test.ts
  src/content/app/tools/blast/state/epics/tests/fixtures/blastSubmissionFixtures.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Fix tests requiring mock product
  tests/fixtures/entity-viewer/product.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Fix tests requiring mock product (#743)
  tests/fixtures/entity-viewer/product.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

PR feedback
  src/content/app/tools/blast/components/blast-settings/BlastSettings.scss
  src/content/app/tools/blast/components/blast-settings/BlastSettings.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Refactor TrackPanelModal and TrackPanelBar (#726)
  src/content/app/genome-browser/Browser.test.tsx
  src/content/app/genome-browser/Browser.tsx
  src/content/app/genome-browser/components/browser-image/BrowserImage.tsx
  src/content/app/genome-browser/components/browser-sidebar-modal/BrowserSidebarModal.test.tsx
  src/content/app/genome-browser/components/browser-sidebar-modal/BrowserSidebarModal.tsx
  src/content/app/genome-browser/components/browser-sidebar-modal/modal-views/BookmarksModal.scss
  src/content/app/genome-browser/components/browser-sidebar-modal/modal-views/BookmarksModal.test.tsx
  src/content/app/genome-browser/components/browser-sidebar-modal/modal-views/BookmarksModal.tsx
  src/content/app/genome-browser/components/browser-sidebar-modal/modal-views/DownloadsModal.tsx
  src/content/app/genome-browser/components/browser-sidebar-modal/modal-views/PersonalDataModal.tsx
  src/content/app/genome-browser/components/browser-sidebar-modal/modal-views/SearchModal.tsx
  src/content/app/genome-browser/components/browser-sidebar-modal/modal-views/ShareModal.tsx
  src/content/app/genome-browser/components/browser-sidebar-modal/modal-views/TracksManagerModal.tsx
  src/content/app/genome-browser/components/browser-sidebar-toolstrip/BrowserSidebarToolstrip.test.tsx
  src/content/app/genome-browser/components/browser-sidebar-toolstrip/BrowserSidebarToolstrip.tsx
  src/content/app/genome-browser/components/drawer/drawer-views/DrawerBookmarks.tsx
  src/content/app/genome-browser/components/track-panel/TrackPanel.test.tsx
  src/content/app/genome-browser/components/track-panel/components/track-panel-modal/TrackPanelModal.tsx
  src/content/app/genome-browser/components/track-panel/components/track-panel-tabs/TrackPanelTabs.tsx
  src/content/app/genome-browser/constants/browserConstants.ts
  src/content/app/genome-browser/hooks/useGenomeBrowser.ts
  src/content/app/genome-browser/services/browser-bookmarks/browserBookmarksStorageService.test.ts
  src/content/app/genome-browser/services/browser-bookmarks/browserBookmarksStorageService.ts
  src/content/app/genome-browser/services/browserStorageService.test.ts
  src/content/app/genome-browser/services/browserStorageService.ts
  src/content/app/genome-browser/state/browser-bookmarks/browserBookmarksSelectors.ts
  src/content/app/genome-browser/state/browser-bookmarks/browserBookmarksSlice.ts
  src/content/app/genome-browser/state/browser-general/browserGeneralSlice.ts
  src/content/app/genome-browser/state/browser-sidebar-modal/browserSidebarModalSelectors.ts
  src/content/app/genome-browser/state/browser-sidebar-modal/browserSidebarModalSlice.ts
  src/content/app/genome-browser/state/genomeBrowserReducer.ts
  src/content/app/genome-browser/state/track-config/trackConfigSlice.ts
  src/content/app/genome-browser/state/track-panel/trackPanelSlice.ts
  src/root/useRestoredReduxState.ts
  tests/fixtures/browser.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

use gap instead of margin
  src/content/app/tools/blast/components/blast-settings/BlastSettings.scss
  src/content/app/tools/blast/components/blast-settings/BlastSettings.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Fix types, tests, and style warnings
  src/content/app/genome-browser/Browser.test.tsx
  src/content/app/genome-browser/components/browser-sidebar-modal/BrowserSidebarModal.test.tsx
  src/content/app/genome-browser/components/browser-sidebar-modal/modal-views/BookmarksModal.scss
  src/content/app/genome-browser/components/browser-sidebar-toolstrip/BrowserSidebarToolstrip.test.tsx
  src/content/app/genome-browser/components/browser-sidebar-toolstrip/BrowserSidebarToolstrip.tsx
  src/content/app/genome-browser/state/browser-bookmarks/browserBookmarksSlice.ts
  src/content/app/genome-browser/state/browser-sidebar-modal/browserSidebarModalSlice.ts
  src/shared/components/button-link/ButtonLink.tsx
  src/styles/main.scss
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

fix topbar padding with job list button
  src/content/app/tools/blast/components/blast-settings/BlastSettings.scss
  src/content/app/tools/blast/components/blast-settings/BlastSettings.tsx
  src/content/app/tools/shared/components/tools-top-bar/ToolsTopBar.scss
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Add a BLAST page for unviewed results
  src/content/app/tools/blast/BlastPage.tsx
  src/content/app/tools/blast/components/blast-app-bar/BlastAppBar.test.tsx
  src/content/app/tools/blast/components/blast-app-bar/BlastAppBar.tsx
  src/content/app/tools/blast/components/blast-job-submit/BlastJobSubmit.tsx
  src/content/app/tools/blast/components/blast-views-navigation/BlastViewsNavigation.scss
  src/content/app/tools/blast/components/blast-views-navigation/BlastViewsNavigation.tsx
  src/content/app/tools/blast/state/blast-api/blastApiSlice.ts
  src/content/app/tools/blast/views/blast-form/BlastForm.tsx
  src/content/app/tools/blast/views/blast-submissions/BlastSubmissions.tsx
  src/content/app/tools/blast/views/blast-unviewed-submissions/BlastUnviewedSubmissions.tsx
  src/shared/helpers/urlHelper.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Remove todo and renaming classes
  src/content/app/tools/blast/components/blast-settings/BlastSettings.scss
  src/content/app/tools/blast/components/blast-settings/BlastSettings.tsx
  src/content/app/tools/shared/components/tools-top-bar/ToolsTopBar.scss
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Minor changes to address PR comments
  src/content/app/tools/blast/components/blast-app-bar/BlastAppBar.tsx
  src/content/app/tools/blast/views/blast-unviewed-submissions/BlastUnviewedSubmissions.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

blast parameter layout for different screen sizes (#738)
  src/content/app/tools/blast/components/blast-settings/BlastSettings.scss
  src/content/app/tools/blast/components/blast-settings/BlastSettings.tsx
  src/content/app/tools/shared/components/tools-top-bar/ToolsTopBar.scss
  src/shared/hooks/tests/useApiService.test.tsx
  tests/fixtures/blast/blastSettingsConfig.json
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

blast single column layout for smaller screen
  src/content/app/tools/blast/components/blast-input-sequences/BlastInputSequences.scss
  src/content/app/tools/blast/components/blast-input-sequences/BlastInputSequencesHeader.tsx
  src/content/app/tools/blast/components/blast-species-selector/BlastSpeciesSelector.scss
  src/content/app/tools/blast/components/blast-species-selector/BlastSpeciesSelectorHeader.tsx
  src/content/app/tools/blast/views/blast-form/BlastForm.scss
  src/content/app/tools/blast/views/blast-form/BlastForm.tsx
  src/content/app/tools/shared/components/tools-top-bar/ToolsTopBar.scss
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Add a page for unviewed BLAST submissions (#740)
  src/content/app/tools/blast/BlastPage.tsx
  src/content/app/tools/blast/components/blast-app-bar/BlastAppBar.test.tsx
  src/content/app/tools/blast/components/blast-app-bar/BlastAppBar.tsx
  src/content/app/tools/blast/components/blast-job-submit/BlastJobSubmit.tsx
  src/content/app/tools/blast/components/blast-views-navigation/BlastViewsNavigation.scss
  src/content/app/tools/blast/components/blast-views-navigation/BlastViewsNavigation.tsx
  src/content/app/tools/blast/state/blast-api/blastApiSlice.ts
  src/content/app/tools/blast/views/blast-form/BlastForm.tsx
  src/content/app/tools/blast/views/blast-submissions/BlastSubmissions.tsx
  src/content/app/tools/blast/views/blast-unviewed-submissions/BlastUnviewedSubmissions.tsx
  src/shared/helpers/urlHelper.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Add unviewed BLAST submissions
  src/content/app/tools/blast/components/blast-settings/BlastSettings.scss
  src/content/app/tools/blast/components/blast-settings/BlastSettings.tsx
  src/content/app/tools/blast/components/blast-submission-header-container/BlastSubmissionHeader.test.tsx
  src/content/app/tools/blast/components/blast-submission-header-container/BlastSubmissionHeaderGrid.scss
  src/content/app/tools/blast/components/blast-submission-header-container/BlastSubmissionHeaderGrid.tsx
  src/content/app/tools/blast/components/listed-blast-submission/ListedBlastSubmission.scss
  src/content/app/tools/blast/components/listed-blast-submission/ListedBlastSubmission.tsx
  src/content/app/tools/blast/state/blast-results/blastResultsSlice.ts
  src/content/app/tools/blast/types/blastSettings.ts
  src/content/app/tools/blast/views/blast-unviewed-submissions/BlastUnviewedSubmissions.scss
  src/content/app/tools/blast/views/blast-unviewed-submissions/BlastUnviewedSubmissions.tsx
  tests/fixtures/blast/blastSubmission.ts
  tests/fixtures/selected-species.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

PR feedback: renaming classes, component and removing extra wrapper
  src/content/app/tools/blast/components/blast-species-selector/BlastSpeciesSelector.scss
  src/content/app/tools/blast/components/blast-species-selector/BlastSpeciesSelectorHeader.tsx
  src/content/app/tools/blast/views/blast-form/BlastForm.scss
  src/content/app/tools/blast/views/blast-form/BlastForm.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Fix line-height for ButtonLink
  src/shared/components/button-link/ButtonLink.scss
Due: prettier --write, stylelint

Fix types in tests
  src/content/app/tools/blast/state/epics/tests/blastEpics.test.ts
  src/content/app/tools/blast/state/epics/tests/fixtures/blastSubmissionFixtures.ts
  src/content/app/tools/blast/views/blast-unviewed-submissions/BlastUnviewedSubmissions.scss
  tests/fixtures/blast/blastSubmission.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Add submission deletion and editing
  src/content/app/tools/blast/components/blast-submission-header-container/BlastSubmissionHeader.test.tsx
  src/content/app/tools/blast/components/blast-submission-header-container/BlastSubmissionHeaderGrid.scss
  src/content/app/tools/blast/components/listed-blast-submission/ListedBlastSubmission.scss
  src/content/app/tools/blast/components/listed-blast-submission/ListedBlastSubmission.test.tsx
  src/content/app/tools/blast/components/listed-blast-submission/ListedBlastSubmission.tsx
  src/content/app/tools/blast/state/blast-api/blastApiSlice.ts
  src/content/app/tools/blast/state/blast-form/blastFormSlice.ts
  src/content/app/tools/blast/state/blast-results/blastResultsSelectors.ts
  src/content/app/tools/blast/state/blast-results/blastResultsSlice.ts
  src/content/app/tools/blast/state/epics/tests/blastEpics.test.ts
  tests/fixtures/blast/blastSubmission.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Update display of job statuses
  src/content/app/tools/blast/components/listed-blast-submission/ListedBlastSubmission.scss
  src/content/app/tools/blast/components/listed-blast-submission/ListedBlastSubmission.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Update BLAST param guessing logic
  src/content/app/tools/blast/components/blast-input-sequences/BlastInputSequences.test.tsx
  src/content/app/tools/blast/components/blast-input-sequences/BlastInputSequencesHeader.test.tsx
  src/content/app/tools/blast/components/blast-input-sequences/BlastInputSequencesHeader.tsx
  src/content/app/tools/blast/components/blast-input-sequences/useBlastInputSequences.test.tsx
  src/content/app/tools/blast/components/blast-input-sequences/useBlastInputSequences.ts
  src/content/app/tools/blast/components/blast-settings/BlastSettings.tsx
  src/content/app/tools/blast/components/blast-settings/useBlastSettings.ts
  src/content/app/tools/blast/state/blast-form/blastFormSelectors.ts
  src/content/app/tools/blast/state/blast-form/blastFormSlice.ts
  src/content/app/tools/blast/views/blast-form/BlastForm.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

initial commit
  src/content/app/genome-browser/components/browser-cog/BrowserCogList.test.tsx
  src/content/app/genome-browser/components/browser-cog/BrowserCogList.tsx
  src/content/app/genome-browser/components/browser-track-config/BrowserTrackConfig.tsx
  src/content/app/genome-browser/components/browser-track-config/services/browser-track-config-storage-service.ts
  src/content/app/genome-browser/components/browser-track-config/track-config-views/GeneTrackConfig.tsx
  src/content/app/genome-browser/components/browser-track-config/track-config-views/RegularTrackConfig.tsx
  src/content/app/genome-browser/components/browser-track-config/track-config-views/TranscriptTrackConfig.tsx
  src/content/app/genome-browser/components/browser-track-config/useBrowserTrackConfig.ts
  src/content/app/genome-browser/components/track-panel/TrackPanel.tsx
  src/content/app/genome-browser/hooks/useBrowserRouting.ts
  src/content/app/genome-browser/hooks/useGenomeBrowser.ts
  src/content/app/genome-browser/state/track-config/trackConfigSelectors.ts
  src/content/app/genome-browser/state/track-config/trackConfigSlice.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Path conditions:
  eslint --max-warnings=0: any of: *.{ts,tsx}
  manage-licence-header add: any of: *.{ts,tsx}
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.scss)
  stylelint: any of: *.scss
