Repository Ensembl/ensembl-client: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

VEP: one indent rule for the annotation panel, and apply it to categories
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-annotation-detail/VepResultsAnnotationDetail.module.css
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-annotation-detail/VepResultsAnnotationDetail.tsx
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-annotation-detail/annotationRows.tsx
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-annotation-detail/displaySpecRenderer.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

VEP: make the filter value dropdowns match the field dropdown
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-filters/AlleleFrequencyInput.tsx
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-filters/ConsequenceMultiSelect.tsx
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-filters/VepResultsFilters.module.css
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Add a first visit notification
  src/shared/components/communication-framework/hooks/useNotifications.ts
  src/shared/components/communication-framework/notifications/Notification.tsx
  src/shared/components/communication-framework/notifications/beta-intro-rapid-retirement/BetaIntroRapidRetirement.module.css
  src/shared/components/communication-framework/notifications/beta-intro-rapid-retirement/BetaIntroRapidRetirement.tsx
  src/shared/components/communication-framework/notifications/first-visit-notification/FirstVisitNotification.module.css
  src/shared/components/communication-framework/notifications/first-visit-notification/FirstVisitNotification.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Refactor the panel component and update no homologies messages (#1338)
  src/content/app/entity-viewer/gene-view/components/gene-function/GeneFunction.module.css
  src/content/app/entity-viewer/gene-view/components/gene-function/GeneFunction.tsx
  src/content/app/entity-viewer/gene-view/components/gene-homology/GeneHomology.tsx
  src/content/app/entity-viewer/gene-view/components/gene-homology/GeneHomologyTable.module.css
  src/content/app/entity-viewer/gene-view/components/gene-homology/GeneHomologyTable.tsx
  src/content/app/entity-viewer/gene-view/components/gene-relationships/GeneRelationships.module.css
  src/content/app/entity-viewer/gene-view/components/gene-relationships/GeneRelationships.tsx
  src/content/app/entity-viewer/gene-view/components/gene-view-tabs/GeneViewTabs.module.css
  src/content/app/entity-viewer/gene-view/hooks/useExpandedDefaultTranscript.ts
  src/content/app/entity-viewer/state/gene-view/transcripts/geneViewTranscriptsSlice.ts
  src/content/app/entity-viewer/state/gene-view/view/geneViewViewSlice.ts
  src/content/app/entity-viewer/transcript-view/components/transcript-exons/ExonsView.module.css
  src/content/app/entity-viewer/transcript-view/components/transcript-exons/ExonsView.tsx
  src/content/app/entity-viewer/transcript-view/components/transcript-function/TranscriptFunction.module.css
  src/content/app/entity-viewer/transcript-view/components/transcript-function/TranscriptFunction.tsx
  src/content/app/entity-viewer/variant-view/population-allele-frequencies/PopulationAlleleFrequencies.module.css
  src/content/app/entity-viewer/variant-view/population-allele-frequencies/PopulationAlleleFrequencies.tsx
  src/content/app/entity-viewer/variant-view/transcript-consequences/TranscriptConsequences.module.css
  src/content/app/entity-viewer/variant-view/transcript-consequences/TranscriptConsequences.tsx
  src/shared/components/data-table/DataTable.module.css
  src/shared/components/data-table/DataTable.tsx
  src/shared/components/panel/Panel.module.css
  src/shared/components/panel/Panel.test.tsx
  src/shared/components/panel/Panel.tsx
  stories/shared-components/panel/Panel.stories.module.css
  stories/shared-components/panel/Panel.stories.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Update a label: species -> genome
  src/content/app/search/components/feature-search-results/FeatureSearchResults.module.css
  src/content/app/search/components/feature-search-results/FeatureSearchResults.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

VEP: no annotation chevron when the job ran no options
  src/content/app/tools/vep/views/vep-submission-results/VepSubmissionResults.test.tsx
  src/content/app/tools/vep/views/vep-submission-results/VepSubmissionResults.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update dependencies
  package-lock.json
  package.json
Due: none

Update dependencies (#1340)
  package-lock.json
  package.json
Due: none

Start updating the checkbox
  src/shared/components/checkbox-with-label/CheckboxWithLabel.module.css
Due: stylelint

Add CheckboxGroup component; add a storybook story for placing question button next to checkbox label
  src/content/app/entity-viewer/gene-view/components/transcripts-filter/TranscriptsFilter.module.css
  src/shared/components/checkbox-group/CheckboxGroup.module.css
  src/shared/components/checkbox-group/CheckboxGroup.tsx
  src/shared/components/checkbox-with-label/CheckboxWithLabel.module.css
  src/shared/components/instant-download/instant-download-transcript/InstantDownloadTranscript.module.css
  src/shared/components/instant-download/instant-download-transcript/InstantDownloadTranscript.tsx
  src/styles/layers.css
  stories/shared-components/checkbox-with-label/CheckboxWithLabel.stories.module.css
  stories/shared-components/checkbox-with-label/CheckboxWithLabel.stories.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Update link to privacy policy
  src/shared/components/privacy-banner/privacyConfig.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Delete old unreferenced module
  src/content/app/global-search/GlobalSearch.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Add ftp link to the genomes table
  src/content/app/species-selector/components/species-search-results-table/SpeciesSearchResultsTable.tsx
  src/content/app/species-selector/types/speciesSearchMatch.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Do not grey out selected genome rows
  src/content/app/species-selector/components/species-search-results-table/SpeciesSearchResultsTable.module.css
  src/content/app/species-selector/components/species-search-results-table/SpeciesSearchResultsTable.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

VEP: ClinVar under Phenotypes, and one type behind every rendered value
  src/content/app/tools/vep/components/star-rating/StarRating.module.css
  src/content/app/tools/vep/components/star-rating/StarRating.tsx
  src/content/app/tools/vep/components/truncated-list/TruncatedList.test.tsx
  src/content/app/tools/vep/components/truncated-list/TruncatedList.tsx
  src/content/app/tools/vep/types/vepDisplaySpec.ts
  src/content/app/tools/vep/types/vepResultsResponse.ts
  src/content/app/tools/vep/utils/annotationFormatters.ts
  src/content/app/tools/vep/utils/annotations.ts
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-annotation-detail/VepResultsAnnotationDetail.module.css
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-annotation-detail/VepResultsAnnotationDetail.test.tsx
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-annotation-detail/VepResultsAnnotationDetail.tsx
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-annotation-detail/annotationRows.tsx
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-annotation-detail/displaySpec.fixture.ts
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-annotation-detail/displaySpecRenderer.test.tsx
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-annotation-detail/displaySpecRenderer.tsx
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-annotation-detail/resolveValuePiece.test.ts
  static/icons/icon_star.svg
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

VEP: drop the "Expand for" line from the ClinVar header
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-annotation-detail/displaySpec.fixture.ts
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-annotation-detail/displaySpecRenderer.test.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

VEP: collapse ClinVar conditions that are one finding
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-annotation-detail/displaySpec.fixture.ts
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-annotation-detail/displaySpecRenderer.test.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

VEP: publication links go to EuropePMC over https
  src/content/app/tools/vep/views/vep-form/vep-form-options-section/vep-form-options-panel/optionHelp.ts
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-annotation-detail/displaySpec.fixture.ts
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-annotation-detail/displaySpecRenderer.test.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

VEP: the RCV record is the ClinVar table's row
  src/content/app/tools/vep/types/vepDisplaySpec.ts
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-annotation-detail/displaySpec.fixture.ts
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-annotation-detail/displaySpecRenderer.test.tsx
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-annotation-detail/displaySpecRenderer.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

UI_tweak(vep): let an annotation panel wrap into the space beside it
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-annotation-detail/VepResultsAnnotationDetail.module.css
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-annotation-detail/VepResultsAnnotationDetail.test.tsx
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-annotation-detail/VepResultsAnnotationDetail.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

perf(vep): resolve the results annotation pool on arrival
  src/content/app/tools/vep/state/vep-api/vepApiSlice.ts
  src/content/app/tools/vep/types/vepResultsResponse.ts
  src/content/app/tools/vep/utils/annotationPool.test.ts
  src/content/app/tools/vep/utils/annotationPool.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

feature(vep): port the impact-score filters and the Expand all perf work
  src/content/app/tools/vep/types/vepResultsFilters.test.ts
  src/content/app/tools/vep/types/vepResultsFilters.ts
  src/content/app/tools/vep/types/vepResultsResponse.ts
  src/content/app/tools/vep/views/vep-submission-results/VepSubmissionResults.module.css
  src/content/app/tools/vep/views/vep-submission-results/VepSubmissionResults.tsx
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-annotation-detail/VepResultsAnnotationDetail.tsx
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-filters/AlleleFrequencyInput.tsx
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-filters/ScoreInput.tsx
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-filters/VepResultsFilters.module.css
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-filters/VepResultsFilters.tsx
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-filters/resultsFilterFields.test.ts
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-filters/resultsFilterFields.ts
  src/shared/components/loader/CircleLoader.module.css
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Enable genome lozenges in genome manager and genome selector search results views
  src/content/app/species-selector/SpeciesSelector.tsx
  src/content/app/species-selector/components/species-selector-app-bar/SpeciesSelectorAppBar.tsx
  src/content/app/species-selector/components/species-selector-search-results-app-bar/SpeciesSelectorSearchResultsAppBar.tsx
  src/content/app/species-selector/views/species-manager/species-manager-app-bar/SpeciesManagerAppBar.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Add ftp link to the genomes table (#1342)
  src/content/app/species-selector/components/species-search-results-table/SpeciesSearchResultsTable.module.css
  src/content/app/species-selector/components/species-search-results-table/SpeciesSearchResultsTable.tsx
  src/content/app/species-selector/types/speciesSearchMatch.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Enable genome lozenges in genome manager and genome selector search results views (#1343)
  src/content/app/species-selector/SpeciesSelector.tsx
  src/content/app/species-selector/components/species-selector-app-bar/SpeciesSelectorAppBar.tsx
  src/content/app/species-selector/components/species-selector-search-results-app-bar/SpeciesSelectorSearchResultsAppBar.tsx
  src/content/app/species-selector/views/species-manager/species-manager-app-bar/SpeciesManagerAppBar.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update VEP icon
  src/header/launchbar/VepLaunchbarButton.tsx
  static/icons/icon_launchbar_vep.svg
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

fix(vep): escape a # inside an interpolated URL value
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-annotation-detail/displaySpec.fixture.ts
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-annotation-detail/displaySpecRenderer.test.tsx
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-annotation-detail/displaySpecRenderer.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

feat(vep): render the allele frequencies from the display spec
  src/content/app/tools/vep/types/vepDisplaySpec.ts
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-annotation-detail/VepResultsAnnotationDetail.test.tsx
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-annotation-detail/VepResultsAnnotationDetail.tsx
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-annotation-detail/displaySpec.fixture.ts
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-annotation-detail/displaySpecRenderer.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

feat(vep): show the Geno2MP count, linked to its variant page
  src/content/app/tools/vep/types/vepDisplaySpec.ts
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-annotation-detail/displaySpec.fixture.ts
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-annotation-detail/displaySpecRenderer.test.tsx
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-annotation-detail/displaySpecRenderer.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

UI_tweak(vep): name the SpliceAI filters as the results name them
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-filters/resultsFilterFields.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

UI_tweak(vep): file GERP's help under Genome wide
  src/content/app/tools/vep/views/vep-form/vep-form-options-section/vep-form-options-panel/optionHelp.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

UI_tweak(vep): shorten the OpenTargets table headers
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-annotation-detail/displaySpec.fixture.ts
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-annotation-detail/displaySpecRenderer.test.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

fix(vep): read gene-associated phenotypes from the consequence
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-annotation-detail/VepResultsAnnotationDetail.test.tsx
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-annotation-detail/displaySpec.fixture.ts
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-annotation-detail/displaySpecRenderer.test.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

UI_tweak(vep): link a phenotype's source rather than its name
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-annotation-detail/displaySpec.fixture.ts
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-annotation-detail/displaySpecRenderer.test.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Start merging viewed and unviewed BLAST submissions lists
  src/content/app/tools/blast/BlastPage.tsx
  src/content/app/tools/blast/components/blast-job-list-nav-button/BlastJobListNavButton.tsx
  src/content/app/tools/blast/components/blast-job-lists-navigation/BlastJobListsNavigation.module.css
  src/content/app/tools/blast/components/blast-job-submit/BlastJobSubmit.tsx
  src/content/app/tools/blast/components/blast-settings/BlastSettings.tsx
  src/content/app/tools/blast/components/blast-submission-header/BlastSubmissionHeader.tsx
  src/content/app/tools/blast/components/blast-views-navigation/BlastViewsNavigation.tsx
  src/content/app/tools/blast/state/blast-results/blastResultsSelectors.ts
  src/content/app/tools/blast/state/general/blastGeneralSlice.ts
  src/content/app/tools/blast/views/blast-submission-results/components/missing-blast-submission-error/MissingBlastSubmissionError.tsx
  src/content/app/tools/blast/views/blast-submissions/BlastSubmissions.tsx
  src/header/launchbar/BlastLaunchbarButton.tsx
  src/shared/helpers/urlHelper.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

feat(vep): add pLI to Genes & transcripts
  src/content/app/tools/vep/views/vep-form/vep-form-options-section/vep-form-options-panel/optionHelp.ts
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-annotation-detail/displaySpec.fixture.ts
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-annotation-detail/displaySpecRenderer.test.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Merging unviewed and viewed jobs lists
  src/content/app/tools/blast/components/blast-job-list-nav-button/BlastJobListNavButton.tsx
  src/content/app/tools/blast/components/listed-blast-submission/ListedBlastSubmission.tsx
  src/content/app/tools/blast/state/blast-results/blastResultsSlice.ts
  src/content/app/tools/blast/state/general/blastGeneralSlice.ts
  src/content/app/tools/blast/views/blast-submission-results/components/missing-blast-submission-error/MissingBlastSubmissionError.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update button styles
  src/content/app/tools/blast/components/blast-job-list-nav-button/BlastJobListNavButton.module.css
  src/content/app/tools/blast/components/blast-job-list-nav-button/BlastJobListNavButton.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Path conditions:
  eslint --max-warnings=0: any of: *.{ts,tsx}
  manage-licence-header add: any of: *.{ts,tsx}
  prettier --write: any of: *.{ts,tsx}
  stylelint: any of: *.css
