Repository Ensembl/ensembl-client: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

add table of information
  doc/architecture/decisions/0021-BLAST-sequence-formats.md
Due: none

minor update
  doc/architecture/decisions/0021-BLAST-sequence-formats.md
Due: none

update heading number
  doc/architecture/decisions/0021-BLAST-sequence-formats.md
  doc/architecture/decisions/0022-BLAST-input-parameters.md
  doc/architecture/decisions/0023-BLAST-species-sequence-interactions.md
Due: none

Zmenu test code cleanup
  src/content/app/genome-browser/components/zmenu/ZmenuContent.test.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update styles for species name in BLAST results view (#861)
  src/content/app/tools/blast/views/blast-submission-results/components/single-blast-job-result/SingleBlastJobResult.scss
  src/content/app/tools/blast/views/blast-submission-results/components/single-blast-job-result/SingleBlastJobResult.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

PR comments
  README.md
Due: none

Update ImageButton component
  src/content/app/genome-browser/components/browser-reset/BrowserReset.scss
  src/content/app/genome-browser/components/browser-reset/BrowserReset.tsx
  src/header/launchbar/Launchbar.scss
  src/header/launchbar/LaunchbarButton.tsx
  src/shared/components/image-button/ImageButton.scss
  src/shared/components/image-button/ImageButton.tsx
  src/shared/components/layout/StandardAppLayout.scss
  src/shared/components/visibility-icon/VisibilityIcon.scss
  src/shared/components/visibility-icon/VisibilityIcon.tsx
  stories/shared-components/image-button/ImageButton.stories.scss
  stories/shared-components/image-button/ImageButton.stories.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Remove cruft from ImageButton stories file
  stories/shared-components/image-button/ImageButton.stories.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Zmenu test code cleanup (#866)
  src/content/app/genome-browser/components/zmenu/ZmenuContent.test.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update README (#860)
  README.md
Due: none

Fix tests
  src/shared/components/image-button/ImageButton.test.tsx
  src/shared/components/image-button/ImageButton.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Fix more tests
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/track-panel-items/track-panel-item-layout/SimpleTrackPanelItemLayout.test.tsx
  src/shared/components/visibility-icon/VisibilityIcon.test.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Do not mutate the ids set
  src/shared/components/data-table/components/main/components/table-row/components/row-selector/RowSelector.tsx
  src/shared/components/data-table/components/main/components/table-row/components/row-visibility-controller/RowVisibilityController.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update Node to 18.12.0 (new LTS)
  .gitlab-ci.yml
  Dockerfile
  Dockerfile.node
Due: none

Restore the default state of table actions when row selection has been applied
  src/shared/components/data-table/components/main/components/table-row/components/row-visibility-controller/RowVisibilityController.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Store displayed tracks in redux (#858)
  src/content/app/genome-browser/Browser.tsx
  src/content/app/genome-browser/components/browser-cog/BrowserCogList.test.tsx
  src/content/app/genome-browser/components/browser-cog/BrowserCogList.tsx
  src/content/app/genome-browser/components/track-settings-panel/TrackSettingsPanel.test.tsx
  src/content/app/genome-browser/components/track-settings-panel/useTrackSettings.ts
  src/content/app/genome-browser/hooks/useGenomeBrowserTracks.ts
  src/content/app/genome-browser/state/displayed-tracks/displayedTracksSelectors.ts
  src/content/app/genome-browser/state/displayed-tracks/displayedTracksSlice.ts
  src/content/app/genome-browser/state/focus-object/focusObjectSlice.ts
  src/content/app/genome-browser/state/genomeBrowserReducer.ts
  tests/fixtures/browser.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update Node to 18.12.0 (new LTS) (#864)
  .gitlab-ci.yml
  Dockerfile
  Dockerfile.node
Due: none

trying to fix test cases but keep failing
  src/content/app/genome-browser/hooks/useBrowserRouting.test.tsx
  tests/fixtures/browser.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update comment
  src/shared/components/data-table/DataTable.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

refactor chevron to not include span wrapper and move the styling to the svg itself
  src/shared/components/chevron/Chevron.scss
  src/shared/components/chevron/Chevron.tsx
  stories/shared-components/chevron/Chevron.stories.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

code cleanup, component not being used anywhere else
  src/shared/components/app-bar/AppBar.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Add tests for DataTable (#837)
  src/content/app/tools/blast/views/blast-submission-results/components/single-blast-job-result/SingleBlastJobResult.tsx
  src/shared/components/data-table/DataTable.test.tsx
  src/shared/components/data-table/DataTable.tsx
  src/shared/components/data-table/components/main/components/table-header/TableHeader.tsx
  src/shared/components/data-table/components/main/components/table-row/TableRow.test.tsx
  src/shared/components/data-table/components/main/components/table-row/TableRow.tsx
  src/shared/components/data-table/components/main/components/table-row/components/row-selector/RowSelector.tsx
  src/shared/components/data-table/components/main/components/table-row/components/row-visibility-controller/RowVisibilityController.tsx
  src/shared/components/data-table/components/table-controls/TableControls.tsx
  src/shared/components/data-table/components/table-controls/components/table-actions/TableActions.test.tsx
  src/shared/components/data-table/components/table-controls/components/table-actions/TableActions.tsx
  src/shared/components/data-table/components/table-controls/components/table-actions/components/download-data/DownloadData.tsx
  src/shared/components/data-table/components/table-controls/components/table-actions/components/find-in-table/FindInTable.test.tsx
  src/shared/components/data-table/components/table-controls/components/table-actions/components/find-in-table/FindInTable.tsx
  src/shared/components/data-table/components/table-controls/components/table-actions/components/show-hide-columns/ShowHideColumns.test.tsx
  src/shared/components/data-table/components/table-controls/components/table-actions/components/show-hide-columns/ShowHideColumns.tsx
  src/shared/components/data-table/dataTableReducer.ts
  src/shared/components/data-table/dataTableTypes.ts
  src/shared/components/data-table/hooks/useDataTable.ts
  stories/shared-components/data-table/DataTable.stories.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Displaying message for unavailable results
  src/content/app/tools/blast/components/blast-submission-header/BlastSubmissionHeader.scss
  src/content/app/tools/blast/components/blast-submission-header/BlastSubmissionHeader.tsx
  src/content/app/tools/blast/components/blast-views-navigation/BlastViewsNavigation.scss
  src/content/app/tools/blast/components/blast-views-navigation/BlastViewsNavigation.tsx
  src/content/app/tools/blast/services/blastStorageService.test.ts
  src/content/app/tools/blast/services/blastStorageService.ts
  src/content/app/tools/blast/services/blastStorageServiceConstants.ts
  src/content/app/tools/blast/state/blast-results/blastResultsSlice.ts
  src/content/app/tools/blast/state/epics/blastEpics.ts
  src/content/app/tools/blast/utils/blastResultsAvailability.ts
  src/services/indexeddb-service.ts
  src/shared/constants/timeConstants.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

update test
  src/shared/components/chevron/Chevron.test.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Show error on the BLAST submission results screen
  src/content/app/tools/blast/components/blast-submission-header/BlastSubmissionHeader.tsx
  src/content/app/tools/blast/utils/blastResultsAvailability.ts
  src/content/app/tools/blast/views/blast-submission-results/BlastSubmissionResults.tsx
  src/content/app/tools/blast/views/blast-submission-results/components/missing-blast-submission-error/MissingBlastSubmissionError.scss
  src/content/app/tools/blast/views/blast-submission-results/components/missing-blast-submission-error/MissingBlastSubmissionError.tsx
  src/shared/components/alert-button/AlertButton.scss
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

fix tests
  src/content/app/genome-browser/hooks/useBrowserRouting.test.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Fix test
  src/content/app/tools/blast/state/epics/tests/blastEpics.test.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Fix more tests
  src/content/app/tools/blast/components/blast-submission-header/BlastSubmissionHeader.tsx
  src/content/app/tools/blast/components/listed-blast-submission/ListedBlastSubmission.test.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Minor style change
  stories/shared-components/chevron/Chevron.stories.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

get species list from species-selector selector
  src/content/app/tools/blast/components/blast-species-selector/BlastSpeciesSelector.tsx
  src/content/app/tools/blast/components/blast-species-selector/speciesList.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

update test
  src/content/app/tools/blast/components/blast-species-selector/BlastSpeciesSelector.test.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update the message shown to the user depending on whether the submission with provided id exists
  src/content/app/tools/blast/views/blast-submission-results/BlastSubmissionResults.tsx
  src/content/app/tools/blast/views/blast-submission-results/components/missing-blast-submission-error/MissingBlastSubmissionError.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Updates to the ImageButton component
  src/shared/components/image-button/ImageButton.scss
  src/shared/components/image-button/ImageButton.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Remove the 'initial' background color as a fallback CSS variable falue
  src/shared/components/image-button/ImageButton.scss
Due: prettier --write, stylelint

Reuse the 'description' variable instead of reading it from props again
  src/shared/components/image-button/ImageButton.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Fix the conditional
  src/content/app/tools/blast/views/blast-submission-results/BlastSubmissionResults.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Refactor chevron to remove span wrapper (#869)
  src/shared/components/app-bar/AppBar.tsx
  src/shared/components/chevron/Chevron.scss
  src/shared/components/chevron/Chevron.test.tsx
  src/shared/components/chevron/Chevron.tsx
  stories/shared-components/chevron/Chevron.stories.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

review suggestions
  src/content/app/tools/blast/components/blast-species-selector/BlastSpeciesSelector.test.tsx
  src/content/app/tools/blast/components/blast-species-selector/BlastSpeciesSelector.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

move browser contexts into their own directory
  src/content/app/genome-browser/Browser.tsx
  src/content/app/genome-browser/components/browser-cog/BrowserCogList.tsx
  src/content/app/genome-browser/components/browser-cog/useBrowserCogList.ts
  src/content/app/genome-browser/contexts/BrowserContext.tsx
  src/content/app/genome-browser/contexts/BrowserIdsContext.tsx
  src/content/app/genome-browser/hooks/useBrowserRouting.test.tsx
  src/content/app/genome-browser/hooks/useGenomeBrowser.ts
  src/content/app/genome-browser/hooks/useGenomeBrowserIds.ts
  tests/fixtures/browser.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

do not fetch popular species if list already available
  src/content/app/species-selector/containers/popular-species-panel/PopularSpeciesPanel.tsx
  src/content/app/tools/blast/components/blast-species-selector/BlastSpeciesSelector.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Path conditions:
  eslint --max-warnings=0: any of: *.{ts,tsx}
  manage-licence-header add: any of: *.{ts,tsx}
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.scss)
  stylelint: any of: *.scss
