Repository Ensembl/ensembl-client: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Update review cleanup
  .gitlab-ci.yml
Due: none

Update stop ns
  .gitlab-ci.yml
Due: none

Its still master
  .gitlab-ci.yml
Due: none

Add protein sequence to variant transcript consequences in Entity Viewer (#1108)
  src/content/app/entity-viewer/state/api/queries/variantTranscriptConsequencesQueries.ts
  src/content/app/entity-viewer/variant-view/transcript-consequences/TranscriptConsequences.module.css
  src/content/app/entity-viewer/variant-view/transcript-consequences/TranscriptConsequences.tsx
  src/content/app/entity-viewer/variant-view/transcript-consequences/transcript-consequence-details/TranscriptConsequenceDetails.tsx
  src/content/app/entity-viewer/variant-view/transcript-consequences/transcript-variant-cds/TranscriptVariantCDS.module.css
  src/content/app/entity-viewer/variant-view/transcript-consequences/transcript-variant-cds/TranscriptVariantCDS.tsx
  src/content/app/entity-viewer/variant-view/transcript-consequences/transcript-variant-genomic-sequence/TranscriptVariantGenomicSequence.module.css
  src/content/app/entity-viewer/variant-view/transcript-consequences/transcript-variant-genomic-sequence/TranscriptVariantGenomicSequence.tsx
  src/content/app/entity-viewer/variant-view/transcript-consequences/transcript-variant-protein/TranscriptVariantProtein.module.css
  src/content/app/entity-viewer/variant-view/transcript-consequences/transcript-variant-protein/TranscriptVariantProtein.tsx
  src/content/app/entity-viewer/variant-view/transcript-consequences/useTranscriptDetails.test.ts
  src/content/app/entity-viewer/variant-view/transcript-consequences/useTranscriptDetails.ts
  src/shared/state/api-slices/refgetSlice.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Fixes for Entity Viewer Variant view
  src/content/app/entity-viewer/variant-view/transcript-consequences/transcript-variant-cds/TranscriptVariantCDS.tsx
  src/content/app/entity-viewer/variant-view/transcript-consequences/transcript-variant-genomic-sequence/TranscriptVariantGenomicSequence.tsx
  src/content/app/entity-viewer/variant-view/transcript-consequences/useTranscriptDetails.test.ts
  src/content/app/entity-viewer/variant-view/transcript-consequences/useTranscriptDetails.ts
  src/shared/helpers/exon-helpers/exonHelpers.test.ts
  src/shared/helpers/exon-helpers/exonHelpers.ts
  src/shared/helpers/exon-helpers/fixtures/exons-cds-data-4.ts
  src/shared/helpers/exon-helpers/fixtures/exons-cds-data-5.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Fixes for Entity Viewer Variant view (#1109)
  src/content/app/entity-viewer/variant-view/transcript-consequences/transcript-variant-cds/TranscriptVariantCDS.tsx
  src/content/app/entity-viewer/variant-view/transcript-consequences/transcript-variant-genomic-sequence/TranscriptVariantGenomicSequence.tsx
  src/content/app/entity-viewer/variant-view/transcript-consequences/useTranscriptDetails.test.ts
  src/content/app/entity-viewer/variant-view/transcript-consequences/useTranscriptDetails.ts
  src/shared/helpers/exon-helpers/exonHelpers.test.ts
  src/shared/helpers/exon-helpers/exonHelpers.ts
  src/shared/helpers/exon-helpers/fixtures/exons-cds-data-4.ts
  src/shared/helpers/exon-helpers/fixtures/exons-cds-data-5.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Refactor PointerBox to use className property rather than classNames
  src/content/app/genome-browser/components/zmenu/Zmenu.module.css
  src/content/app/genome-browser/components/zmenu/Zmenu.tsx
  src/content/app/genome-browser/components/zmenu/zmenus/GeneAndOneTranscriptZmenu.tsx
  src/shared/components/gene-search-panel/GeneSearchPanel.module.css
  src/shared/components/gene-search-panel/GeneSearchPanel.tsx
  src/shared/components/in-app-search/InAppSearch.module.css
  src/shared/components/in-app-search/InAppSearchMatches.tsx
  src/shared/components/pointer-box/PointerBox.module.css
  src/shared/components/pointer-box/PointerBox.tsx
  src/shared/components/toolbox/Toolbox.module.css
  src/shared/components/toolbox/Toolbox.tsx
  src/shared/components/tooltip/Tooltip.module.css
  src/shared/components/tooltip/Tooltip.tsx
  src/shared/components/view-in-app-popup/ViewInAppPopup.module.css
  src/shared/components/view-in-app-popup/ViewInAppPopup.tsx
  stories/shared-components/pointer-box/PointerBox.stories.module.css
  stories/shared-components/pointer-box/PointerBox.stories.tsx
  stories/shared-components/pointer-box/pointerBoxPositioningStory.tsx
  stories/shared-components/pointer-box/pointerBoxScrollingStory.tsx
  stories/shared-components/pointer-box/pointerBoxVariantsStory.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Extract repeated CSS rule into a common class
  src/shared/components/gene-search-panel/GeneSearchPanel.module.css
  src/shared/components/gene-search-panel/GeneSearchPanel.tsx
  src/shared/components/in-app-search/InAppSearch.module.css
  src/shared/components/in-app-search/InAppSearchMatches.tsx
  src/shared/components/pointer-box/PointerBox.module.css
  src/shared/components/toolbox/Toolbox.module.css
  src/shared/components/toolbox/Toolbox.tsx
  src/shared/components/tooltip/Tooltip.module.css
  src/shared/components/tooltip/Tooltip.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Undo box-sizing:content-box on PointerBox
  src/shared/components/pointer-box/PointerBox.module.css
Due: stylelint

Remove misleading comment
  src/content/app/genome-browser/components/zmenu/Zmenu.module.css
Due: stylelint

Revert var name
  .gitlab-ci.yml
  gitlab-ci-templates/.setup-review-template.yaml
Due: none

Fix review deployment and cleanup jobs (#1111)
  .gitlab-ci.yml
  gitlab-ci-templates/.setup-review-template.yaml
Due: none

Update label: 'Transcript variant type' -> 'Transcript consequence'
  src/content/app/entity-viewer/variant-view/transcript-consequences/TranscriptConsequences.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Replace the classNames prop in PointerBox with className and set zmenu max-width (#1112)
  src/content/app/genome-browser/components/zmenu/Zmenu.module.css
  src/content/app/genome-browser/components/zmenu/Zmenu.tsx
  src/content/app/genome-browser/components/zmenu/zmenus/GeneAndOneTranscriptZmenu.tsx
  src/shared/components/gene-search-panel/GeneSearchPanel.module.css
  src/shared/components/gene-search-panel/GeneSearchPanel.tsx
  src/shared/components/in-app-search/InAppSearch.module.css
  src/shared/components/in-app-search/InAppSearchMatches.tsx
  src/shared/components/pointer-box/PointerBox.module.css
  src/shared/components/pointer-box/PointerBox.tsx
  src/shared/components/toolbox/Toolbox.module.css
  src/shared/components/toolbox/Toolbox.tsx
  src/shared/components/tooltip/Tooltip.module.css
  src/shared/components/tooltip/Tooltip.tsx
  src/shared/components/view-in-app-popup/ViewInAppPopup.module.css
  src/shared/components/view-in-app-popup/ViewInAppPopup.tsx
  stories/shared-components/pointer-box/PointerBox.stories.module.css
  stories/shared-components/pointer-box/PointerBox.stories.tsx
  stories/shared-components/pointer-box/pointerBoxPositioningStory.tsx
  stories/shared-components/pointer-box/pointerBoxScrollingStory.tsx
  stories/shared-components/pointer-box/pointerBoxVariantsStory.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Set up species manager page and links to it
  src/content/app/entity-viewer/shared/components/entity-viewer-app-bar/EntityViewerAppBar.tsx
  src/content/app/genome-browser/components/browser-app-bar/BrowserAppBar.tsx
  src/content/app/species-selector/SpeciesSelector.tsx
  src/content/app/species-selector/components/species-selector-app-bar/SpeciesSelectorAppBar.tsx
  src/content/app/species-selector/components/species-selector-search-results-app-bar/SpeciesSelectorSearchResultsAppBar.module.css
  src/content/app/species-selector/views/species-manager/SpeciesManager.module.css
  src/content/app/species-selector/views/species-manager/SpeciesManager.tsx
  src/content/app/species-selector/views/species-manager/selected-genomes-table/SelectedGenomesTable.tsx
  src/content/app/species-selector/views/species-manager/species-manager-app-bar/SpeciesManagerAppBar.tsx
  src/content/app/tools/blast/components/blast-app-bar/BlastAppBar.tsx
  src/shared/components/app-bar/AppBar.module.css
  src/shared/components/app-bar/AppBar.tsx
  src/shared/components/close-button/CloseButton.module.css
  src/shared/components/close-button/CloseButton.tsx
  src/shared/components/species-manager-indicator/SpeciesManagerIndicator.module.css
  src/shared/components/species-manager-indicator/SpeciesManagerIndicator.tsx
  src/shared/helpers/urlHelper.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Do not show species manager indicator if no species selected and in production
  src/shared/components/species-manager-indicator/SpeciesManagerIndicator.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update url path (species-selector/manage-species => species-selector/manage)
  src/content/app/species-selector/SpeciesSelector.tsx
  src/shared/helpers/urlHelper.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Set up species manager page and links to it (#1113)
  src/content/app/entity-viewer/shared/components/entity-viewer-app-bar/EntityViewerAppBar.tsx
  src/content/app/genome-browser/components/browser-app-bar/BrowserAppBar.tsx
  src/content/app/species-selector/SpeciesSelector.tsx
  src/content/app/species-selector/components/species-selector-app-bar/SpeciesSelectorAppBar.tsx
  src/content/app/species-selector/components/species-selector-search-results-app-bar/SpeciesSelectorSearchResultsAppBar.module.css
  src/content/app/species-selector/views/species-manager/SpeciesManager.module.css
  src/content/app/species-selector/views/species-manager/SpeciesManager.tsx
  src/content/app/species-selector/views/species-manager/selected-genomes-table/SelectedGenomesTable.tsx
  src/content/app/species-selector/views/species-manager/species-manager-app-bar/SpeciesManagerAppBar.tsx
  src/content/app/tools/blast/components/blast-app-bar/BlastAppBar.tsx
  src/shared/components/app-bar/AppBar.module.css
  src/shared/components/app-bar/AppBar.tsx
  src/shared/components/close-button/CloseButton.module.css
  src/shared/components/close-button/CloseButton.tsx
  src/shared/components/species-manager-indicator/SpeciesManagerIndicator.module.css
  src/shared/components/species-manager-indicator/SpeciesManagerIndicator.tsx
  src/shared/helpers/urlHelper.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Add table of selected species to species manager
  src/content/app/species-selector/views/species-manager/selected-genomes-table/SelectedGenomesTable.module.css
  src/content/app/species-selector/views/species-manager/selected-genomes-table/SelectedGenomesTable.tsx
  src/content/unsupported-browser/components/topbar/Topbar.module.css
  src/shared/components/slide-toggle/SlideToggle.module.css
  src/shared/components/slide-toggle/SlideToggle.tsx
  src/shared/components/species-name-parts-for-table/AssemblyAccessionIdForTable.tsx
  src/shared/components/species-name-parts-for-table/AssemblyNameForTable.tsx
  src/shared/components/species-name-parts-for-table/SpeciesCommonNameForTable.tsx
  src/shared/components/species-name-parts-for-table/SpeciesNamePartsForTable.module.css
  src/shared/components/species-name-parts-for-table/SpeciesScientificNameForTable.tsx
  src/shared/components/species-name-parts-for-table/SpeciesTypeForTable.tsx
  src/shared/components/species-name-parts-for-table/index.tsx
  src/shared/components/species-name-parts/AssemblyAccessionId.tsx
  src/shared/components/species-name-parts/AssemblyName.tsx
  src/shared/components/species-name-parts/SpeciesCommonName.tsx
  src/shared/components/species-name-parts/SpeciesNameParts.module.css
  src/shared/components/species-name-parts/SpeciesReference.tsx
  src/shared/components/species-name-parts/SpeciesScientificName.tsx
  src/shared/components/species-name-parts/SpeciesType.tsx
  src/shared/components/species-name-parts/index.tsx
  stories/shared-components/slide-toggle/SlideToggle.stories.module.css
  stories/shared-components/slide-toggle/SlideToggle.stories.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Add different lozenge displays
  src/content/app/species-selector/components/species-lozenge-display-selector/SpeciesLozengeDisplaySelector.module.css
  src/content/app/species-selector/components/species-lozenge-display-selector/SpeciesLozengeDisplaySelector.tsx
  src/content/app/species-selector/components/species-selector-app-bar/SpeciesSelectorAppBar.tsx
  src/content/app/species-selector/state/species-selector-general-slice/speciesSelectorGeneralSelectors.ts
  src/content/app/species-selector/state/species-selector-general-slice/speciesSelectorGeneralSlice.ts
  src/content/app/species-selector/views/species-manager/SpeciesManager.tsx
  src/content/app/species-selector/views/species-manager/species-manager-app-bar/SpeciesManagerAppBar.tsx
  src/content/app/tools/blast/components/blast-app-bar/BlastAppBar.test.tsx
  src/content/app/tools/blast/components/blast-app-bar/BlastAppBar.tsx
  src/shared/components/selected-species/SelectedSpecies.test.tsx
  src/shared/components/selected-species/SelectedSpecies.tsx
  src/shared/components/selected-species/SpeciesLozenge.module.css
  src/shared/components/selected-species/SpeciesLozenge.tsx
  stories/shared-components/selected-species/Lozenge.stories.tsx
  stories/shared-components/selected-species/speciesData.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

review comments WIP
  src/content/app/species-selector/components/species-lozenge-display-selector/SpeciesLozengeDisplaySelector.tsx
  src/content/app/species-selector/state/species-selector-general-slice/speciesSelectorGeneralSelectors.ts
  src/content/app/species-selector/state/species-selector-general-slice/speciesSelectorGeneralSlice.ts
  src/content/app/species-selector/views/species-manager/species-manager-app-bar/SpeciesManagerAppBar.tsx
  src/content/app/tools/blast/components/blast-app-bar/BlastAppBar.test.tsx
  src/content/app/tools/blast/components/blast-app-bar/BlastAppBar.tsx
  src/shared/components/selected-species/SelectedSpecies.test.tsx
  src/shared/components/selected-species/SelectedSpecies.tsx
  src/shared/components/selected-species/SpeciesLozenge.tsx
  stories/shared-components/selected-species/Lozenge.stories.tsx
  stories/shared-components/selected-species/SelectedSpecies.stories.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

add missing css
  src/shared/components/selected-species/SpeciesLozenge.module.css
Due: stylelint

fix onClick
  src/shared/components/selected-species/SelectedSpecies.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

rebase species management table and reuse species name parts
  src/shared/components/selected-species/SpeciesLozenge.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Wrap SpeciesTabsSlider in redux in Storybook
  src/content/app/species-selector/state/species-selector-general-slice/speciesSelectorGeneralSlice.ts
  stories/shared-components/species-tabs-slider/SpeciesTabsSlider.stories.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Use SpeciesLozenge component in SpeciesTabSlider story, instead of the SelectedSpecies component
  stories/shared-components/species-tabs-slider/SpeciesTabsSlider.stories.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

fix accession id
  src/content/app/species-selector/state/species-selector-general-slice/speciesSelectorGeneralSlice.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Add tests, update SpeciesLozenge styles and behaviour, update stories in storybook
  src/shared/components/selected-species/SpeciesLozenge.module.css
  src/shared/components/selected-species/SpeciesLozenge.test.tsx
  src/shared/components/selected-species/SpeciesLozenge.tsx
  src/shared/components/selected-species/fixtures/speciesTestData.ts
  stories/shared-components/selected-species/Lozenge.stories.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Rename a CSS class; update Storybook
  src/shared/components/selected-species/SpeciesLozenge.module.css
  src/shared/components/selected-species/SpeciesLozenge.tsx
  stories/shared-components/selected-species/Lozenge.stories.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Use url helper to create refget urls in refget api slice
  src/content/app/entity-viewer/variant-view/transcript-consequences/useTranscriptDetails.ts
  src/content/app/entity-viewer/variant-view/variant-image/useVariantImageData.ts
  src/shared/state/api-slices/refgetSlice.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Fix display of gene segments in TranscriptVariantDiagram
  src/content/app/entity-viewer/variant-view/transcript-consequences/transcript-variant-diagram/TranscriptVariantDiagram.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update variable name
  src/content/app/species-selector/views/species-manager/selected-genomes-table/SelectedGenomesTable.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update storybook
  stories/shared-components/selected-species/SelectedSpecies.stories.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Minor changes to SlideToggle.module.css to make the linter happy
  src/shared/components/slide-toggle/SlideToggle.module.css
Due: stylelint

Further updates
  package-lock.json
  package.json
Due: none

Update webpack css-loader and style-loader
  .storybook/webpack.js
  package-lock.json
  package.json
  webpack/client/common.ts
  webpack/server/common.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update minor versions
  package-lock.json
  package.json
Due: none

Update some more dependencies
  package-lock.json
  package.json
Due: none

Put storybook/addon-essentials back; opt out of react-docgen for docs autogeneration
  .storybook/main.js
  package-lock.json
  package.json
Due: none

Path conditions:
  eslint --max-warnings=0: any of: *.{ts,tsx}
  manage-licence-header add: any of: *.{ts,tsx}
  prettier --write: any of: *.{ts,tsx}
  stylelint: any of: *.css
