Repository Ensembl/ensembl-client: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

.lintstagedrc.json:

{
  "*.{ts,tsx}": [
    "eslint --max-warnings=0",
    "manage-licence-header add",
    "prettier --write"
  ],
  "*.scss": [
    "stylelint",
    "prettier --write"
  ]
}

Import cleanup
  src/content/app/tools/blast/views/blast-submission-results/BlastSubmissionResults.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

More unwanted comments
  src/shared/components/data-table/components/table-controls/TableControls.scss
  src/shared/components/data-table/components/table-controls/components/pagination/Pagination.tsx
  src/shared/components/data-table/components/table-controls/components/table-actions/components/find-in-table/FindInTable.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Rename and conditionally disable jobs list button
  src/content/app/tools/blast/components/blast-job-lists-navigation/BlastJobListsNavigation.scss
  src/content/app/tools/blast/components/blast-job-lists-navigation/BlastJobListsNavigation.tsx
  src/content/app/tools/blast/components/blast-settings/BlastSettings.tsx
  src/content/app/tools/blast/components/blast-views-navigation/BlastViewsNavigation.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Separate result page components
  src/content/app/tools/blast/views/blast-submission-results/BlastSubmissionResults.scss
  src/content/app/tools/blast/views/blast-submission-results/BlastSubmissionResults.tsx
  src/content/app/tools/blast/views/blast-submission-results/components/job-parameters/JobParameters.scss
  src/content/app/tools/blast/views/blast-submission-results/components/job-parameters/JobParameters.tsx
  src/content/app/tools/blast/views/blast-submission-results/components/sequence-box/SequenceBox.scss
  src/content/app/tools/blast/views/blast-submission-results/components/sequence-box/SequenceBox.tsx
  src/content/app/tools/blast/views/blast-submission-results/components/single-blast-job-result/SingleBlastJobResult.scss
  src/content/app/tools/blast/views/blast-submission-results/components/single-blast-job-result/SingleBlastJobResult.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Update default transcript sorting algorithm
  src/content/app/entity-viewer/shared/helpers/tests/transcripts-sorter.test.ts
  src/content/app/entity-viewer/shared/helpers/transcripts-sorter.ts
  src/content/app/entity-viewer/state/api/queries/geneExternalReferencesQuery.ts
  src/content/app/genome-browser/hooks/useGenomeBrowserIds.ts
  src/content/app/genome-browser/state/api/queries/trackPanelGeneQuery.ts
  src/content/app/genome-browser/state/types/track-panel-gene.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update default transcript sorting algorithm (#815)
  src/content/app/entity-viewer/shared/helpers/tests/transcripts-sorter.test.ts
  src/content/app/entity-viewer/shared/helpers/transcripts-sorter.ts
  src/content/app/entity-viewer/state/api/queries/geneExternalReferencesQuery.ts
  src/content/app/genome-browser/hooks/useGenomeBrowserIds.ts
  src/content/app/genome-browser/state/api/queries/trackPanelGeneQuery.ts
  src/content/app/genome-browser/state/types/track-panel-gene.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Prepare to get descriptions of genomic tracks from the track api
  src/content/app/genome-browser/components/drawer/drawer-views/track-details/TrackDetails.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

PR reviwe cleanups
  src/content/app/tools/blast/views/blast-submission-results/components/job-parameters/JobParameters.scss
  src/content/app/tools/blast/views/blast-submission-results/components/sequence-box/SequenceBox.tsx
  src/content/app/tools/blast/views/blast-submission-results/components/single-blast-job-result/SingleBlastJobResult.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Fix pagination
  src/shared/components/data-table/components/table-controls/components/pagination/Pagination.scss
  src/shared/components/data-table/components/table-controls/components/pagination/Pagination.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Add unviewed jobs button to BLAST form (#814)
  src/content/app/tools/blast/components/blast-job-lists-navigation/BlastJobListsNavigation.scss
  src/content/app/tools/blast/components/blast-job-lists-navigation/BlastJobListsNavigation.tsx
  src/content/app/tools/blast/components/blast-settings/BlastSettings.scss
  src/content/app/tools/blast/components/blast-settings/BlastSettings.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Only one expanded alignment
  src/content/app/tools/blast/views/blast-submission-results/BlastSubmissionResults.tsx
  src/shared/components/data-table/components/table-controls/components/table-actions/TableActions.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Fix issues identified during the review
  src/content/app/tools/blast/views/blast-submission-results/BlastSubmissionResults.tsx
  src/shared/components/data-table/components/main/components/table-body/TableBody.tsx
  src/shared/components/data-table/components/main/components/table-header/TableHeader.scss
  src/shared/components/data-table/components/main/components/table-header/TableHeader.tsx
  src/shared/components/data-table/components/main/components/table-header/components/table-header-cell/TableHeaderCell.tsx
  src/shared/components/data-table/components/main/components/table-row/components/row-visibility-controller/RowVisibilityController.scss
  src/shared/components/data-table/components/table-controls/components/table-actions/TableActions.tsx
  src/shared/components/data-table/dataTableReducer.ts
  src/shared/components/data-table/dataTableTypes.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Use data from track api to display in genome browser drawer
  src/content/app/genome-browser/components/drawer/drawer-views/track-details/TrackDetails.tsx
  src/content/app/genome-browser/state/types/tracks.ts
  tests/fixtures/genomes.ts
  tests/fixtures/track-panel.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update dependencies
  package-lock.json
  package.json
  src/content/app/tools/blast/utils/tests/__snapshots__/blastInputParser.test.ts.snap
Due: none

Update more dependencies in package-lock
  package-lock.json
Due: none

Limit actions
  src/content/app/tools/blast/views/blast-submission-results/BlastSubmissionResults.tsx
  src/shared/components/data-table/components/main/components/table-body/TableBody.tsx
  src/shared/components/data-table/components/main/components/table-header/TableHeader.tsx
  src/shared/components/data-table/components/table-controls/components/table-actions/TableActions.tsx
  src/shared/components/data-table/dataTableReducer.ts
  src/shared/components/data-table/dataTableTypes.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Header font style corrections
  src/shared/components/data-table/components/main/components/table-header/TableHeader.scss
  src/shared/components/data-table/components/main/components/table-header/TableHeader.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

SequenceBox -> BlastResultsPerSequence
  src/content/app/tools/blast/views/blast-submission-results/BlastSubmissionResults.tsx
  src/content/app/tools/blast/views/blast-submission-results/components/blast-results-per-sequence/BlastResultsPerSequence.scss
  src/content/app/tools/blast/views/blast-submission-results/components/blast-results-per-sequence/BlastResultsPerSequence.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Fix typo
  src/content/app/tools/blast/views/blast-submission-results/BlastSubmissionResults.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update styles
  src/content/app/genome-browser/components/drawer/drawer-views/track-details/TrackDetails.scss
  src/content/app/genome-browser/components/drawer/drawer-views/track-details/TrackDetails.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Update dependencies (#818)
  package-lock.json
  package.json
  src/content/app/tools/blast/utils/tests/__snapshots__/blastInputParser.test.ts.snap
Due: none

Display parameters of a BLAST submission on the submission results page (#816)
  src/content/app/genome-browser/components/drawer/components/sequence-view/DrawerSequenceView.scss
  src/content/app/genome-browser/components/drawer/components/sequence-view/DrawerSequenceView.tsx
  src/content/app/tools/blast/components/blast-settings/BlastSettings.tsx
  src/content/app/tools/blast/views/blast-submission-results/BlastSubmissionResults.scss
  src/content/app/tools/blast/views/blast-submission-results/BlastSubmissionResults.tsx
  src/content/app/tools/blast/views/blast-submission-results/components/blast-results-per-sequence/BlastResultsPerSequence.scss
  src/content/app/tools/blast/views/blast-submission-results/components/blast-results-per-sequence/BlastResultsPerSequence.tsx
  src/content/app/tools/blast/views/blast-submission-results/components/job-parameters/JobParameters.scss
  src/content/app/tools/blast/views/blast-submission-results/components/job-parameters/JobParameters.tsx
  src/content/app/tools/blast/views/blast-submission-results/components/single-blast-job-result/SingleBlastJobResult.scss
  src/content/app/tools/blast/views/blast-submission-results/components/single-blast-job-result/SingleBlastJobResult.tsx
  src/shared/components/copy/Copy.scss
  src/shared/components/copy/Copy.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

show mane plus clinical
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/track-panel-items/TrackPanelTranscript.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Remove the file with hard-coded track drawer data
  src/content/app/genome-browser/components/drawer/sampleData.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

PR feedback
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/track-panel-items/TrackPanelTranscript.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Address more PR review comments
  src/content/app/tools/blast/views/blast-submission-results/BlastSubmissionResults.tsx
  src/shared/components/chevron-button/ChevronButton.scss
  src/shared/components/chevron-button/ChevronButton.tsx
  src/shared/components/chevron/Chevron.scss
  src/shared/components/data-table/DataTable.scss
  src/shared/components/data-table/DataTable.tsx
  src/shared/components/data-table/components/table-controls/components/rows-per-page-selector/RowsPerPageSelector.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

coleaving placeholder as this will come up in the future
  src/content/app/species/SpeciesPageContent.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Use feature type and ID for feature dimension
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/track-panel-items/TrackPanelTranscript.tsx
  src/content/app/genome-browser/hooks/useGenomeBrowserAnalytics.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update the image on the home page
  static/img/home/species-strip.svg
Due: none

Fetch genomic track descriptions from the track api (#817)
  src/content/app/genome-browser/components/drawer/drawer-views/track-details/TrackDetails.scss
  src/content/app/genome-browser/components/drawer/drawer-views/track-details/TrackDetails.tsx
  src/content/app/genome-browser/components/drawer/sampleData.ts
  src/content/app/genome-browser/state/types/tracks.ts
  tests/fixtures/genomes.ts
  tests/fixtures/track-panel.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

add new No species selected message to species selector and blast
  src/content/app/species-selector/components/species-selector-app-bar/SpeciesSelectorAppBar.tsx
  src/content/app/tools/blast/components/blast-app-bar/BlastAppBar.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Fix alignment margin
  src/content/app/tools/blast/views/blast-submission-results/components/single-blast-job-result/SingleBlastJobResult.scss
  src/shared/components/data-table/DataTable.scss
Due: prettier --write, stylelint

show mane plus clinical (#821)
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/track-panel-items/TrackPanelTranscript.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update the image on the home page (#823)
  static/img/home/species-strip.svg
Due: none

coleaving placeholder as this will come up in the future (#822)
  src/content/app/species/SpeciesPageContent.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Remove fixed width
  src/content/app/tools/blast/views/blast-submission-results/components/single-blast-job-result/SingleBlastJobResult.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

suggestions
  src/content/app/species-selector/components/species-selector-app-bar/SpeciesSelectorAppBar.tsx
  src/content/app/tools/blast/components/blast-app-bar/BlastAppBar.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Remove the focusable attribute from the svg
  src/shared/components/select/SelectArrowhead.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Dynamic ID column based on database type
  src/content/app/tools/blast/types/blastJob.ts
  src/content/app/tools/blast/views/blast-submission-results/components/single-blast-job-result/SingleBlastJobResult.scss
  src/content/app/tools/blast/views/blast-submission-results/components/single-blast-job-result/SingleBlastJobResult.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Use same formatting for all types of BLAST alignments
  src/content/app/tools/blast/components/blast-sequence-alignment/BlastSequenceAlignment.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write
