Repository Ensembl/ensembl-client: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

.lintstagedrc.json:

{
  "*.{ts,tsx}": [
    "eslint --max-warnings=0",
    "manage-licence-header add",
    "prettier --write"
  ],
  "*.css": [
    "stylelint"
  ]
}

Transform response to defaultEntityViewerGene query (transcripts_page -> transcripts)
  src/content/app/entity-viewer/state/api/entityViewerThoasSlice.ts
  src/content/app/entity-viewer/state/api/queries/defaultGeneQuery.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Use paginated transcript queries for all UI concerns
  src/content/app/entity-viewer/state/api/entityViewerThoasSlice.ts
  src/content/app/entity-viewer/state/api/queries/geneExternalReferencesQuery.ts
  src/content/app/genome-browser/state/api/genomeBrowserApiSlice.ts
  src/content/app/genome-browser/state/api/queries/geneSummaryQuery.ts
  src/content/app/genome-browser/state/api/queries/trackPanelGeneQuery.ts
  src/shared/helpers/coreApiHelpers.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Remove product length from queries where it doesn't seem to be used
  src/content/app/entity-viewer/state/api/queries/geneExternalReferencesQuery.ts
  src/content/app/genome-browser/state/api/queries/trackPanelGeneQuery.ts
  src/content/app/genome-browser/state/types/track-panel-gene.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Retrieve gene transcripts from Thoas using transcripts_page resolver (#1259)
  src/content/app/entity-viewer/gene-view/GeneView.tsx
  src/content/app/entity-viewer/gene-view/components/default-transcripts-list/DefaultTranscriptsList.tsx
  src/content/app/entity-viewer/gene-view/components/default-transcripts-list/default-transcripts-list-item/DefaultTranscriptListItem.tsx
  src/content/app/entity-viewer/gene-view/components/default-transcripts-list/transcripts-list-item-info/TranscriptsListItemInfo.tsx
  src/content/app/entity-viewer/gene-view/components/gene-function/GeneFunction.tsx
  src/content/app/entity-viewer/gene-view/components/gene-overview-image/GeneOverviewImage.tsx
  src/content/app/entity-viewer/gene-view/components/proteins-list/ProteinsList.tsx
  src/content/app/entity-viewer/gene-view/components/proteins-list/proteins-list-item-info/ProteinsListItemInfo.tsx
  src/content/app/entity-viewer/shared/helpers/tests/transcripts-sorter.test.ts
  src/content/app/entity-viewer/shared/helpers/transcripts-sorter.ts
  src/content/app/entity-viewer/state/api/entityViewerThoasSlice.ts
  src/content/app/entity-viewer/state/api/queries/defaultGeneQuery.ts
  src/content/app/entity-viewer/state/api/queries/geneExternalReferencesQuery.ts
  src/content/app/genome-browser/state/api/genomeBrowserApiSlice.ts
  src/content/app/genome-browser/state/api/queries/geneSummaryQuery.ts
  src/content/app/genome-browser/state/api/queries/trackPanelGeneQuery.ts
  src/content/app/genome-browser/state/types/track-panel-gene.ts
  src/shared/helpers/coreApiHelpers.ts
  tests/fixtures/entity-viewer/gene.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Bump version of @ensembl/ensembl-structural-variants
  package-lock.json
  package.json
Due: none

update url
  src/shared/state/api-slices/searchApiSlice.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

re order imports fix
  src/content/app/species-selector/components/species-selector-app-bar/SpeciesSelectorAppBar.tsx
  src/content/app/species-selector/views/species-selector-search-view/SpeciesSelectorSearchView.tsx
  src/content/app/species/components/species-page-sidebar/SpeciesPageSidebar.tsx
  src/shared/components/feature-search-form/FeatureSearchForm.tsx
  src/shared/components/feature-search-result/FeatureSearchResult.tsx
  src/shared/components/in-app-search/InAppSearch.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

fix
  src/shared/components/feature-search-form/FeatureSearchForm.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

fixes
  src/content/app/species-selector/views/species-selector-search-view/SpeciesSelectorSearchView.tsx
  src/shared/components/feature-search-form/FeatureSearchForm.tsx
  src/shared/components/feature-search-result/FeatureSearchResult.tsx
  src/shared/components/in-app-search/InAppSearch.tsx
  src/shared/components/in-app-search/InAppSearchMatches.tsx
  src/shared/helpers/searchModeHelpers.ts
  src/shared/types/search-api/search-constants.ts
  src/shared/types/search-api/search-modes.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

raname file
  src/content/app/species-selector/views/species-selector-search-view/SpeciesSelectorSearchView.tsx
  src/shared/components/feature-search-results/FeatureSearchResults.module.css
  src/shared/components/feature-search-results/FeatureSearchResults.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Bump version of structural variants package, and fix a CSS linter error
  package-lock.json
  package.json
  src/content/app/structural-variants/components/structural-variants-image/StructuralVariantsImage.module.css
Due: stylelint

add license
  src/shared/helpers/searchModeHelpers.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

change file name
  src/content/app/species-selector/views/species-selector-search-view/SpeciesSelectorSearchView.tsx
  src/shared/components/feature-search-form/FeatureSearchForm.tsx
  src/shared/components/feature-search-results/FeatureSearchResults.tsx
  src/shared/components/in-app-search/InAppSearch.tsx
  src/shared/components/in-app-search/InAppSearchMatches.tsx
  src/shared/helpers/featureSearchHelpers.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

remove types
  src/content/app/species-selector/views/species-selector-search-view/SpeciesSelectorSearchView.tsx
  src/shared/components/feature-search-form/FeatureSearchForm.tsx
  src/shared/components/feature-search-results/FeatureSearchResults.tsx
  src/shared/components/in-app-search/InAppSearch.tsx
  src/shared/components/in-app-search/InAppSearchMatches.tsx
  src/shared/helpers/featureSearchHelpers.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

add type for feature search modes
  src/content/app/species-selector/views/species-selector-search-view/SpeciesSelectorSearchView.tsx
  src/shared/components/feature-search-form/FeatureSearchForm.tsx
  src/shared/components/feature-search-results/FeatureSearchResults.tsx
  src/shared/components/in-app-search/InAppSearch.tsx
  src/shared/components/in-app-search/InAppSearchMatches.tsx
  src/shared/helpers/featureSearchHelpers.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Bump structural variants package
  package-lock.json
  package.json
Due: none

move path creation to urlhelper
  src/content/app/species-selector/components/species-selector-app-bar/SpeciesSelectorAppBar.tsx
  src/content/app/species-selector/views/species-selector-search-view/SpeciesSelectorSearchView.tsx
  src/shared/helpers/urlHelper.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

fixes
  src/shared/components/feature-search-form/FeatureSearchForm.tsx
  src/shared/components/in-app-search/InAppSearchMatches.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

remove width
  src/shared/components/feature-search-form/FeatureSearchForm.module.css
  src/shared/components/feature-search-form/FeatureSearchForm.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Ability to search Variants by RSID (#1229)
  src/content/app/entity-viewer/gene-view/components/gene-view-sidebar/overview/GeneOverview.module.css
  src/content/app/entity-viewer/gene-view/components/gene-view-sidebar/overview/GeneOverview.tsx
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/TrackPanelList.test.tsx
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/TrackPanelList.tsx
  src/content/app/species-selector/SpeciesSelector.tsx
  src/content/app/species-selector/components/species-selector-app-bar/SpeciesSelectorAppBar.tsx
  src/content/app/species-selector/state/species-selector-feature-search-slice/speciesSelectorFeatureSearchSelectors.ts
  src/content/app/species-selector/state/species-selector-feature-search-slice/speciesSelectorFeatureSearchSlice.ts
  src/content/app/species-selector/state/species-selector-general-slice/speciesSelectorGeneralSelectors.ts
  src/content/app/species-selector/state/speciesSelectorReducer.ts
  src/content/app/species-selector/views/species-selector-gene-search-view/SpeciesSelectorGeneSearchView.tsx
  src/content/app/species-selector/views/species-selector-search-view/SpeciesSelectorSearchView.module.css
  src/content/app/species-selector/views/species-selector-search-view/SpeciesSelectorSearchView.tsx
  src/content/app/species/components/species-page-sidebar/SpeciesPageSidebar.tsx
  src/shared/components/feature-search-form/FeatureSearchForm.module.css
  src/shared/components/feature-search-form/FeatureSearchForm.tsx
  src/shared/components/feature-search-results/FeatureSearchResults.module.css
  src/shared/components/feature-search-results/FeatureSearchResults.tsx
  src/shared/components/gene-search-panel/GeneSearchPanel.module.css
  src/shared/components/gene-search-panel/GeneSearchPanel.tsx
  src/shared/components/in-app-search/InAppSearch.module.css
  src/shared/components/in-app-search/InAppSearch.test.tsx
  src/shared/components/in-app-search/InAppSearch.tsx
  src/shared/components/in-app-search/InAppSearchMatches.tsx
  src/shared/components/input/ShadedInput.tsx
  src/shared/components/search-button/SearchButton.module.css
  src/shared/components/search-button/SearchButton.tsx
  src/shared/helpers/featureSearchHelpers.ts
  src/shared/helpers/urlHelper.ts
  src/shared/state/api-slices/searchApiSlice.ts
  src/shared/state/in-app-search/inAppSearchSelectors.ts
  src/shared/state/in-app-search/inAppSearchSlice.ts
  src/shared/types/search-api/search-match.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

variation search 404 message
  src/content/app/species-selector/views/species-selector-search-view/SpeciesSelectorSearchView.module.css
  src/content/app/species-selector/views/species-selector-search-view/SpeciesSelectorSearchView.tsx
  src/shared/components/in-app-search/InAppSearch.module.css
  src/shared/components/in-app-search/InAppSearch.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

use error detail from backend
  src/content/app/species-selector/views/species-selector-search-view/SpeciesSelectorSearchView.tsx
  src/shared/components/in-app-search/InAppSearch.tsx
  src/shared/helpers/fetchHelper.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

rename method
  src/content/app/species-selector/views/species-selector-search-view/SpeciesSelectorSearchView.tsx
  src/shared/components/in-app-search/InAppSearch.tsx
  src/shared/helpers/fetchHelper.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

fix
  src/shared/helpers/fetchHelper.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Display error message when variation db file is not found (#1261)
  src/content/app/species-selector/views/species-selector-search-view/SpeciesSelectorSearchView.module.css
  src/content/app/species-selector/views/species-selector-search-view/SpeciesSelectorSearchView.tsx
  src/shared/components/in-app-search/InAppSearch.module.css
  src/shared/components/in-app-search/InAppSearch.tsx
  src/shared/helpers/fetchHelper.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Add track toggles
  src/content/app/structural-variants/StructuralVariants.tsx
  src/content/app/structural-variants/components/structural-variants-image/StructuralVariantsImage.tsx
  src/content/app/structural-variants/components/structural-variants-sidebar/StructuralVariantsSidebar.module.css
  src/content/app/structural-variants/components/structural-variants-sidebar/StructuralVariantsSidebar.tsx
  src/content/app/structural-variants/components/structural-variants-sidebar/sidebar-configuration-view/SidebarConfigurationView.module.css
  src/content/app/structural-variants/components/structural-variants-sidebar/sidebar-configuration-view/SidebarConfigurationView.tsx
  src/content/app/structural-variants/components/structural-variants-sidebar/sidebar-default-view/SidebarDefaultView.tsx
  src/content/app/structural-variants/components/structural-variants-sidebar/sidebar-navigation/SidebarNavigation.module.css
  src/content/app/structural-variants/components/structural-variants-sidebar/sidebar-navigation/SidebarNavigation.tsx
  src/content/app/structural-variants/contexts/StructuralVariantsImageContext.tsx
  src/content/app/structural-variants/hooks/useStoredTrackIds.ts
  src/content/app/structural-variants/hooks/useStructuralVariantsTracks.ts
  src/content/app/structural-variants/state/tracks/tracksSelectors.ts
  src/content/app/structural-variants/state/tracks/tracksSlice.ts
  src/content/app/structural-variants/state/ui/uiSelectors.ts
  src/content/app/structural-variants/state/ui/uiSlice.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Bump structural variants package version
  package-lock.json
  package.json
Due: none

Bump regulatory annotation api version to 0.7
  src/content/app/regulatory-activity-viewer/services/region-data-service/regionDataService.ts
  src/content/app/regulatory-activity-viewer/state/api/activityViewerApiSlice.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Updates after code review
  src/content/app/structural-variants/components/structural-variants-sidebar/sidebar-configuration-view/SidebarConfigurationView.tsx
  src/content/app/structural-variants/contexts/StructuralVariantsImageContext.tsx
  src/content/app/structural-variants/hooks/useStoredTrackIds.ts
  src/content/app/structural-variants/hooks/useStructuralVariantsTracks.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Add toggles for tracks rendered in the sv-browser (#1262)
  package-lock.json
  package.json
  src/content/app/structural-variants/StructuralVariants.tsx
  src/content/app/structural-variants/components/structural-variants-image/StructuralVariantsImage.tsx
  src/content/app/structural-variants/components/structural-variants-sidebar/StructuralVariantsSidebar.module.css
  src/content/app/structural-variants/components/structural-variants-sidebar/StructuralVariantsSidebar.tsx
  src/content/app/structural-variants/components/structural-variants-sidebar/sidebar-configuration-view/SidebarConfigurationView.module.css
  src/content/app/structural-variants/components/structural-variants-sidebar/sidebar-configuration-view/SidebarConfigurationView.tsx
  src/content/app/structural-variants/components/structural-variants-sidebar/sidebar-default-view/SidebarDefaultView.tsx
  src/content/app/structural-variants/components/structural-variants-sidebar/sidebar-navigation/SidebarNavigation.module.css
  src/content/app/structural-variants/components/structural-variants-sidebar/sidebar-navigation/SidebarNavigation.tsx
  src/content/app/structural-variants/contexts/StructuralVariantsImageContext.tsx
  src/content/app/structural-variants/hooks/useStoredTrackIds.ts
  src/content/app/structural-variants/hooks/useStructuralVariantsTracks.ts
  src/content/app/structural-variants/state/tracks/tracksSelectors.ts
  src/content/app/structural-variants/state/tracks/tracksSlice.ts
  src/content/app/structural-variants/state/ui/uiSelectors.ts
  src/content/app/structural-variants/state/ui/uiSlice.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Fix tests for useBrowserRouting hook
  src/content/app/genome-browser/hooks/useBrowserRouting.test.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Fix tests for useBrowserRouting hook (#1263)
  src/content/app/genome-browser/hooks/useBrowserRouting.test.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Use memoization in inAppSearchSelectors
  src/shared/state/in-app-search/inAppSearchSelectors.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update dependencies, and update types
  package-lock.json
  package.json
  src/shared/components/autosuggest-search-field/AutosuggestSearchField.tsx
  src/shared/components/data-table/components/table-controls/components/rows-per-page-selector/RowsPerPageSelector.tsx
  src/shared/components/data-table/components/table-controls/components/table-actions/TableActions.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Further updates to dependencies
  package-lock.json
  package.json
Due: none

Update dependencies
  package-lock.json
  package.json
Due: none

Update stylelint
  package-lock.json
  package.json
  stylelint.config.mjs
Due: none

Another dependency update
  package-lock.json
  package.json
Due: none

Use memoization in inAppSearchSelectors (#1264)
  src/shared/state/in-app-search/inAppSearchSelectors.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update types
  src/shared/components/feature-search-form/FeatureSearchForm.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write
