Repository Ensembl/ensembl-client: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

.lintstagedrc.json:

{
  "*.{ts,tsx}": [
    "eslint --max-warnings=0",
    "manage-licence-header add",
    "prettier --write"
  ],
  "*.css": [
    "stylelint"
  ]
}

Rebase main (endpoint updates)
  src/content/app/regulatory-activity-viewer/components/region-overview/RegionOverview.tsx
  src/content/app/regulatory-activity-viewer/helpers/prepare-feature-tracks/prepareFeatureTracks.ts
  src/content/app/regulatory-activity-viewer/services/region-data-service/fixtures/mockRegionDataResponse.ts
  src/content/app/regulatory-activity-viewer/services/region-data-service/regionDataService.ts
  src/content/app/regulatory-activity-viewer/services/region-data-service/test-component/useRegionOverviewData.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Comment out stuff in regionDataService test file
  src/content/app/regulatory-activity-viewer/services/region-data-service/regionDataService.test.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Skip regulatory features with same coords as their previous neighbour
  src/content/app/regulatory-activity-viewer/components/region-overview/region-overview-image/RegionOverviewImage.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Render three viewports for region overview
  src/content/app/regulatory-activity-viewer/components/region-overview/RegionOverview.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Data fetching improvements
  src/content/app/regulatory-activity-viewer/components/region-activity-section/useRegionActivityData.ts
  src/content/app/regulatory-activity-viewer/components/region-overview/RegionOverview.tsx
  src/content/app/regulatory-activity-viewer/components/region-overview/region-overview-image/RegionOverviewImage.tsx
  src/content/app/regulatory-activity-viewer/components/region-overview/region-overview-image/TranslateRegionOverviewContents.tsx
  src/content/app/regulatory-activity-viewer/components/region-overview/region-overview-zoom-buttons/RegionOverviewZoomButtons.tsx
  src/content/app/regulatory-activity-viewer/services/region-data-service/regionDataService.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Avoid react errors due to identical keys of histone gapped peaks
  src/content/app/regulatory-activity-viewer/components/epigenomes-activity/EpigenomesActivityImage.tsx
  src/content/app/regulatory-activity-viewer/components/epigenomes-activity/prepareActivityDataForDisplay.ts
  src/content/app/regulatory-activity-viewer/components/region-overview/region-overview-image/region-overview-gene/RegionOverviewGene.tsx
  src/content/app/regulatory-activity-viewer/components/region-overview/region-overview-image/transcription-start-sites/TranscriptionStartSites.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Comment out failed tests
  src/content/app/regulatory-activity-viewer/services/region-data-service/regionDataService.test.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update api urls
  src/content/app/regulatory-activity-viewer/services/region-data-service/regionDataService.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Add low-res gene representation for region overview
  src/content/app/regulatory-activity-viewer/components/region-overview/region-overview-image/RegionOverviewImage.tsx
  src/content/app/regulatory-activity-viewer/components/region-overview/region-overview-image/region-overview-gene-lowres/RegionOverviewGeneLowRes.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Color low-res gene in blue
  src/content/app/regulatory-activity-viewer/components/region-overview/region-overview-image/region-overview-gene-lowres/RegionOverviewGeneLowRes.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Do not show / request region activity data for slices larger than 1MBp
  src/content/app/regulatory-activity-viewer/components/region-activity-section/RegionActivitySection.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Show integrated Ensembl release in the masthead
  src/header/EnsemblReleaseVersion.tsx
  src/header/Header.module.css
  src/header/Header.tsx
  src/shared/state/release/releaseApiSlice.ts
  src/shared/state/release/releaseTypes.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Add epigenomes table overlay for activity data view
  src/content/app/regulatory-activity-viewer/components/region-activity-section/RegionActivitySection.module.css
  src/content/app/regulatory-activity-viewer/components/region-activity-section/RegionActivitySection.tsx
  src/content/app/regulatory-activity-viewer/components/region-activity-section/epigenomes-table/EpigenomesTable.module.css
  src/content/app/regulatory-activity-viewer/components/region-activity-section/epigenomes-table/EpigenomesTable.tsx
  src/content/app/regulatory-activity-viewer/components/selected-epigenomes/SelectedEpigenomes.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Show integrated Ensembl release in the masthead (#1205)
  src/header/EnsemblReleaseVersion.tsx
  src/header/Header.module.css
  src/header/Header.tsx
  src/shared/state/release/releaseApiSlice.ts
  src/shared/state/release/releaseTypes.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Add option to show all columns in the overlay table
  src/content/app/regulatory-activity-viewer/components/region-activity-section/epigenomes-table/EpigenomesTable.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Use isFetching instead of isLoading to get epigenome activity data
  src/content/app/regulatory-activity-viewer/components/region-activity-section/useRegionActivityData.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Some updates
  src/content/app/regulatory-activity-viewer/components/region-overview/RegionOverview.module.css
  src/content/app/regulatory-activity-viewer/components/region-overview/RegionOverview.tsx
  src/content/app/regulatory-activity-viewer/components/region-overview/region-overview-image/RegionOverviewImage.tsx
  src/content/app/regulatory-activity-viewer/components/region-overview/region-overview-zoom-buttons/RegionOverviewZoomButtons.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Fix strand divider
  src/content/app/regulatory-activity-viewer/components/region-overview/RegionOverview.module.css
  src/content/app/regulatory-activity-viewer/components/region-overview/RegionOverview.tsx
  src/content/app/regulatory-activity-viewer/components/region-overview/region-overview-image/RegionOverviewImage.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Avoid showing too many genes in the sidebar
  src/content/app/regulatory-activity-viewer/components/activity-viewer-sidebar/sidebar-default-view/SidebarDefaultView.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Use data instead of currentData in the sidebar to avoid flickering
  src/content/app/regulatory-activity-viewer/components/activity-viewer-sidebar/sidebar-default-view/SidebarDefaultView.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update dependencies
  package-lock.json
  package.json
Due: none

Update location query parameter in url when user narrows down selection
  src/content/app/regulatory-activity-viewer/RegulatoryActivityViewer.tsx
  src/content/app/regulatory-activity-viewer/components/region-overview/RegionOverview.tsx
  src/content/app/regulatory-activity-viewer/components/region-overview/calculateRequestLocation.ts
  src/content/app/regulatory-activity-viewer/components/region-overview/region-overview-image/RegionOverviewImage.tsx
  src/content/app/regulatory-activity-viewer/components/region-overview/region-overview-image/region-overview-location-selector/RegionOverviewLocationSelector.tsx
  src/content/app/regulatory-activity-viewer/helpers/prepare-feature-tracks/prepareFeatureTracks.ts
  src/content/app/regulatory-activity-viewer/services/region-data-service/test-component/useRegionOverviewData.ts
  src/content/app/regulatory-activity-viewer/state/region-detail/regionDetailSlice.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Clean up some code in regionDataService
  src/content/app/regulatory-activity-viewer/services/region-data-service/binsHelper.test.ts
  src/content/app/regulatory-activity-viewer/services/region-data-service/binsHelper.ts
  src/content/app/regulatory-activity-viewer/services/region-data-service/regionDataService.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Start developing region data service
  src/content/app/regulatory-activity-viewer/RegulatoryActivityViewer.tsx
  src/content/app/regulatory-activity-viewer/services/region-data-service/fixtures/mockRegionDataResponse.ts
  src/content/app/regulatory-activity-viewer/services/region-data-service/regionDataService.test.ts
  src/content/app/regulatory-activity-viewer/services/region-data-service/regionDataService.ts
  src/content/app/regulatory-activity-viewer/services/region-data-service/test-component/Test.tsx
  src/content/app/regulatory-activity-viewer/services/region-data-service/test-component/useRegionOverviewData.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Select region features from state in a hook
  src/content/app/regulatory-activity-viewer/services/region-data-service/regionDataService.ts
  src/content/app/regulatory-activity-viewer/services/region-data-service/test-component/Test.tsx
  src/content/app/regulatory-activity-viewer/services/region-data-service/test-component/useRegionOverviewData.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Do not fetch region data if it is already available
  src/content/app/regulatory-activity-viewer/services/region-data-service/regionDataService.ts
  src/content/app/regulatory-activity-viewer/services/region-data-service/test-component/Test.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Calculate extended location (three viewports), and pass it to region overview image component
  src/content/app/regulatory-activity-viewer/components/region-overview/RegionOverview.tsx
  src/content/app/regulatory-activity-viewer/components/region-overview/calculateRequestLocation.ts
  src/content/app/regulatory-activity-viewer/components/region-overview/region-overview-image/RegionOverviewImage.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Clean up region data state when switching from one assembly to a different one
  src/content/app/regulatory-activity-viewer/services/region-data-service/regionDataService.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write
