Repository Ensembl/ensembl-client: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

.lintstagedrc.json:

{
  "*.{ts,tsx}": [
    "eslint --max-warnings=0",
    "manage-licence-header add",
    "prettier --write"
  ],
  "*.css": [
    "stylelint"
  ]
}

feat(vep): show regulatory consequences in the results table
  src/content/app/tools/vep/types/vepResultsResponse.ts
  src/content/app/tools/vep/views/vep-submission-results/VepSubmissionResults.test.tsx
  src/content/app/tools/vep/views/vep-submission-results/VepSubmissionResults.tsx
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-annotation-detail/VepResultsAnnotationDetail.tsx
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-annotation-detail/displaySpecRenderer.test.tsx
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-annotation-detail/displaySpecRenderer.tsx
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-regulatory-feature/VepResultsRegulatoryFeature.tsx
  src/content/app/tools/vep/views/vep-submission-results/useVepVariantTabularData.test.ts
  src/content/app/tools/vep/views/vep-submission-results/useVepVariantTabularData.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

docs(vep): trim the comments in the regulatory consequences change
  src/content/app/tools/vep/types/vepResultsResponse.ts
  src/content/app/tools/vep/views/vep-submission-results/VepSubmissionResults.test.tsx
  src/content/app/tools/vep/views/vep-submission-results/VepSubmissionResults.tsx
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-annotation-detail/displaySpecRenderer.test.tsx
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-annotation-detail/displaySpecRenderer.tsx
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-regulatory-feature/VepResultsRegulatoryFeature.tsx
  src/content/app/tools/vep/views/vep-submission-results/useVepVariantTabularData.test.ts
  src/content/app/tools/vep/views/vep-submission-results/useVepVariantTabularData.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update dependencies
  package-lock.json
  package.json
Due: none

Update dependencies (#1373)
  package-lock.json
  package.json
Due: none

Switch between genomic and cdna views for transcript
  src/content/app/sequence-viewer/components/transcript-sequence/TranscriptSequence.tsx
  src/content/app/sequence-viewer/components/transcript-sequence/transcript-sequence.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Add gene and transcript sequence components
  src/content/app/genome-browser/state/api/genomeBrowserApiSlice.ts
  src/content/app/sequence-viewer/SequenceViewer.tsx
  src/content/app/sequence-viewer/components/gene-sequence/GeneSequence.tsx
  src/content/app/sequence-viewer/components/gene-sequence/gene-sequence.ts
  src/content/app/sequence-viewer/components/gene-sequence/useGeneSequence.ts
  src/content/app/sequence-viewer/components/transcript-sequence/TranscriptSequence.tsx
  src/content/app/sequence-viewer/components/transcript-sequence/transcript-sequence.ts
  src/content/app/sequence-viewer/components/transcript-sequence/useTranscriptSequence.ts
  src/content/app/sequence-viewer/types/transcriptView.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Add sequence viewer page
  src/content/app/sequence-viewer/SequenceViewer.module.css
  src/content/app/sequence-viewer/SequenceViewer.tsx
  src/content/app/sequence-viewer/SequenceViewerPage.tsx
  src/header/launchbar/Launchbar.tsx
  src/routes/routesConfig.tsx
  src/shared/components/app-icon/AppIcon.module.css
  src/shared/components/app-icon/SequenceViewerIcon.tsx
  static/icons/icon_launchbar_sequence_viewer.svg
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Add redux state for sequence viewer settings
  src/content/app/sequence-viewer/state/sequenceViewerReducer.ts
  src/content/app/sequence-viewer/state/settings/settingsSelectors.ts
  src/content/app/sequence-viewer/state/settings/settingsSlice.ts
  src/root/rootReducer.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Add a sidebar settings component for gene sequences
  src/content/app/sequence-viewer/components/sequence-viewer-sidebar/GeneSequenceSettings.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

work in progress
  src/content/app/genome-browser/state/api/queries/transcriptSummaryQuery.ts
  src/content/app/sequence-viewer/components/gene-sequence/gene-sequence.ts
  src/content/app/sequence-viewer/components/transcript-sequence/TranscriptSequence.module.css
  src/content/app/sequence-viewer/components/transcript-sequence/TranscriptSequence.tsx
  src/content/app/sequence-viewer/components/transcript-sequence/transcript-sequence.ts
  src/content/app/sequence-viewer/components/transcript-sequence/useTranscriptSequence.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

cDNA: WIP with codex help
  src/content/app/sequence-viewer/components/transcript-sequence/transcript-sequence.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Add url parsing
  src/content/app/sequence-viewer/SequenceViewer.tsx
  src/content/app/sequence-viewer/components/location-sequence/LocationSequence.tsx
  src/content/app/sequence-viewer/components/sequence-viewer-app-bar/SequenceViewerAppBar.tsx
  src/content/app/sequence-viewer/contexts/SequenceViewerIdsContext.tsx
  src/content/app/sequence-viewer/contexts/useParsedSequenceViewerUrl.ts
  src/content/app/sequence-viewer/hooks/useSequenceViewerIds.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Add sidebar for transcript view settings
  src/content/app/sequence-viewer/SequenceViewer.tsx
  src/content/app/sequence-viewer/components/sequence-viewer-sidebar/SequenceViewerSidebar.tsx
  src/content/app/sequence-viewer/components/sequence-viewer-sidebar/TranscriptSequenceSettings.tsx
  src/content/app/sequence-viewer/state/settings/settingsSlice.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Fix type export
  src/content/app/sequence-viewer/state/settings/settingsSlice.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Use dedicated api slice for sequence viewer
  src/content/app/sequence-viewer/components/gene-sequence/GeneSequence.tsx
  src/content/app/sequence-viewer/components/gene-sequence/gene-sequence.ts
  src/content/app/sequence-viewer/components/gene-sequence/useGeneSequence.ts
  src/content/app/sequence-viewer/components/transcript-sequence/TranscriptSequence.tsx
  src/content/app/sequence-viewer/state/api/queries/geneQuery.ts
  src/content/app/sequence-viewer/state/api/sequenceViewerApiSlice.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Start investigating how to get sequence intervals
  src/content/app/sequence-viewer/components/gene-sequence/getSequenceIntervals.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Fetch dedicated start and end fields for CDS
  src/content/app/sequence-viewer/state/api/queries/geneQuery.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

refactor(vep): take AF source names and panel layout from the backend
  src/content/app/tools/vep/types/vepFormConfig.ts
  src/content/app/tools/vep/types/vepResultsResponse.ts
  src/content/app/tools/vep/views/vep-submission-results/VepSubmissionResults.test.tsx
  src/content/app/tools/vep/views/vep-submission-results/VepSubmissionResults.tsx
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-annotation-detail/VepResultsAnnotationDetail.test.tsx
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-annotation-detail/VepResultsAnnotationDetail.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

refactor(vep): drop the ProtVar and OpenTargets link builders
  src/content/app/tools/vep/types/vepDisplaySpec.ts
  src/content/app/tools/vep/types/vepResultsResponse.ts
  src/content/app/tools/vep/utils/buildProtvarUrlFromHgvsg.test.ts
  src/content/app/tools/vep/utils/buildProtvarUrlFromHgvsg.ts
  src/content/app/tools/vep/utils/openTargetsVariantId.ts
  src/content/app/tools/vep/views/vep-submission-results/VepSubmissionResults.tsx
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-annotation-detail/VepResultsAnnotationDetail.tsx
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-annotation-detail/annotationRows.tsx
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-annotation-detail/displaySpec.fixture.ts
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-annotation-detail/displaySpecRenderer.test.tsx
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-annotation-detail/displaySpecRenderer.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

feat(vep): take the upload limit from the form config
  src/content/app/tools/vep/types/vepFormConfig.ts
  src/content/app/tools/vep/views/vep-form/vep-form-variants-section/VepFormVariantsSection.test.tsx
  src/content/app/tools/vep/views/vep-form/vep-form-variants-section/VepFormVariantsSection.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Show protein-coding segments within a gene (forward strand)
  src/content/app/sequence-viewer/components/gene-sequence/gene-sequence.ts
  src/content/app/sequence-viewer/components/gene-sequence/getSequenceIntervals.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

docs(vep): trim the comments in the backend-owned labels change
  src/content/app/tools/vep/types/vepDisplaySpec.ts
  src/content/app/tools/vep/types/vepFormConfig.ts
  src/content/app/tools/vep/types/vepResultsResponse.ts
  src/content/app/tools/vep/views/vep-form/vep-form-variants-section/VepFormVariantsSection.tsx
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-annotation-detail/annotationRows.tsx
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-annotation-detail/displaySpecRenderer.test.tsx
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-annotation-detail/displaySpecRenderer.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update markup for gene-sequence
  src/content/app/sequence-viewer/components/gene-sequence/gene-sequence.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Undo a comment removal
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-annotation-detail/annotationRows.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

VEP: Take the remaining annotation details from the backend (#1374)
  src/content/app/tools/vep/types/vepDisplaySpec.ts
  src/content/app/tools/vep/types/vepFormConfig.ts
  src/content/app/tools/vep/types/vepResultsResponse.ts
  src/content/app/tools/vep/utils/buildProtvarUrlFromHgvsg.test.ts
  src/content/app/tools/vep/utils/buildProtvarUrlFromHgvsg.ts
  src/content/app/tools/vep/utils/openTargetsVariantId.ts
  src/content/app/tools/vep/views/vep-form/vep-form-variants-section/VepFormVariantsSection.test.tsx
  src/content/app/tools/vep/views/vep-form/vep-form-variants-section/VepFormVariantsSection.tsx
  src/content/app/tools/vep/views/vep-submission-results/VepSubmissionResults.test.tsx
  src/content/app/tools/vep/views/vep-submission-results/VepSubmissionResults.tsx
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-annotation-detail/VepResultsAnnotationDetail.test.tsx
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-annotation-detail/VepResultsAnnotationDetail.tsx
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-annotation-detail/displaySpec.fixture.ts
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-annotation-detail/displaySpecRenderer.test.tsx
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-annotation-detail/displaySpecRenderer.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

test(vep): cover motif details in the display renderer
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-annotation-detail/displaySpec.fixture.ts
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-annotation-detail/displaySpecRenderer.test.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

fix(vep): make an ungrouped consequence kind a build error
  src/content/app/tools/vep/views/vep-submission-results/useVepVariantTabularData.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

fix(vep): keep detail panels with their rows when transcripts expand
  src/content/app/tools/vep/views/vep-submission-results/VepSubmissionResults.tsx
  src/content/app/tools/vep/views/vep-submission-results/useVepVariantTabularData.test.ts
  src/content/app/tools/vep/views/vep-submission-results/useVepVariantTabularData.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

feat(vep): let truncated lists share one expanded state
  src/content/app/tools/vep/components/truncated-list/TruncatedList.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

feat(vep): let a caller take an option's title for itself
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-annotation-detail/annotationRows.tsx
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-annotation-detail/displaySpecRenderer.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

prototype(vep): bring the flat results table onto main
  src/content/app/tools/vep/views/vep-submission-results/VepSubmissionResults.module.css
  src/content/app/tools/vep/views/vep-submission-results/VepSubmissionResults.tsx
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-flat-table/VepResultsFlatTable.module.css
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-flat-table/VepResultsFlatTable.tsx
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-flat-table/flatColumns.test.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

fix(vep): keep a whole table's headers inside a flat cell
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-flat-table/VepResultsFlatTable.module.css
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-flat-table/VepResultsFlatTable.tsx
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-flat-table/flatColumns.test.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

docs(vep): trim the comments in the flat table change
  src/content/app/tools/vep/components/truncated-list/TruncatedList.tsx
  src/content/app/tools/vep/types/vepDisplaySpec.ts
  src/content/app/tools/vep/utils/afVocabulary.ts
  src/content/app/tools/vep/views/vep-submission-results/VepSubmissionResults.module.css
  src/content/app/tools/vep/views/vep-submission-results/VepSubmissionResults.tsx
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-annotation-detail/annotationRows.tsx
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-annotation-detail/displaySpecRenderer.tsx
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-flat-table/VepResultsFlatTable.module.css
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-flat-table/VepResultsFlatTable.tsx
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-flat-table/flatColumns.test.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

fix(vep): collapse the flat table when its rows change
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-flat-table/VepResultsFlatTable.test.tsx
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-flat-table/VepResultsFlatTable.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

feat(vep): take a column's name from the spec when it states one
  src/content/app/tools/vep/types/vepDisplaySpec.ts
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-flat-table/VepResultsFlatTable.tsx
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-flat-table/flatColumns.test.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

refactor(vep): draw the flat table's frequency columns from the spec
  src/content/app/tools/vep/utils/afVocabulary.ts
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-annotation-detail/VepResultsAnnotationDetail.tsx
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-annotation-detail/displaySpecRenderer.tsx
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-flat-table/VepResultsFlatTable.tsx
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-flat-table/flatColumns.test.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Blast table toggle WIP
  src/content/app/tools/blast/views/blast-submission-results/BlastSubmissionResults.tsx
  src/content/app/tools/blast/views/blast-submission-results/components/single-blast-job-result/SingleBlastJobResult.module.css
  src/content/app/tools/blast/views/blast-submission-results/components/single-blast-job-result/SingleBlastJobResult.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Add BLAST table results toggle
  src/content/app/tools/blast/views/blast-submission-results/components/single-blast-job-result/SingleBlastJobResult.module.css
  src/content/app/tools/blast/views/blast-submission-results/components/single-blast-job-result/SingleBlastJobResult.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint
