Repository Ensembl/ensembl-client: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Move window.location.replace out of checkGenomes to prevent js execution after it
  src/checkGenomes.ts
  src/index.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Check locally stored genomes at startup, and update them if needed (#1327)
  src/checkGenomes.ts
  src/content/app/entity-viewer/services/entity-viewer-storage-service.ts
  src/content/app/species-selector/helpers/selectedGenomeHelpers.ts
  src/content/app/species-selector/state/speciesSelectorEpics.ts
  src/index.ts
  src/initialiseClient.tsx
  src/services/indexeddb-service.ts
  src/shared/helpers/browserSupport.ts
  src/shared/services/generalStorageConstants.ts
  src/shared/services/generalStorageService.test.ts
  src/shared/services/generalStorageService.ts
  src/shared/state/genome/genomeTypes.ts
  src/shared/state/release/releaseApiSlice.ts
  src/shared/validators/genomeValidators.test.ts
  src/shared/validators/genomeValidators.ts
  tests/fixtures/genome-validation/fetchedGenomes.ts
  tests/fixtures/genome-validation/storedGenomes.ts
  webpack/client/common.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Prevent component unmount when genome data is loaded
  src/content/app/species/SpeciesPageContent.tsx
  src/content/app/species/components/species-main-view/SpeciesMainView.module.css
  src/content/app/species/components/species-main-view/SpeciesMainViewStats.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Move code around a little bit
  src/content/app/species/SpeciesPageContent.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Genome page: prevent the page component unmount if genome data has not loaded (#1334)
  src/content/app/species/SpeciesPageContent.tsx
  src/content/app/species/components/species-main-view/SpeciesMainView.module.css
  src/content/app/species/components/species-main-view/SpeciesMainViewStats.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Start refactoring hooks for SpeciesTabsSlider
  src/shared/components/species-tabs-slider/SpeciesTabsSlider.tsx
  src/shared/components/species-tabs-slider/useSliderGestures.ts
  src/shared/components/species-tabs-slider/useSpeciesTabsSlider.ts
  src/shared/components/species-tabs-slider/useVisibleActiveSpecies.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update rxjs pipeline
  src/shared/components/species-tabs-slider/useSliderGestures.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Fix auto-positioning of the lozenges
  src/shared/components/selected-species/SelectedSpecies.tsx
  src/shared/components/selected-species/SpeciesLozenge.tsx
  src/shared/components/species-tabs-slider/useVisibleActiveSpecies.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Change mouse events to pointer events
  src/shared/components/species-tabs-slider/SpeciesTabsSlider.module.css
  src/shared/components/species-tabs-slider/useSliderGestures.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Rearrange imports
  src/shared/components/species-tabs-slider/SpeciesTabsSlider.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Add a comment explaining why element.setPointerCapture was not used
  src/shared/components/species-tabs-slider/useSliderGestures.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update comment
  src/shared/components/species-tabs-slider/useSliderGestures.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Fix automatic positioning of the active genome lozenge (#1335)
  src/shared/components/selected-species/SelectedSpecies.tsx
  src/shared/components/selected-species/SpeciesLozenge.tsx
  src/shared/components/species-tabs-slider/SpeciesTabsSlider.module.css
  src/shared/components/species-tabs-slider/SpeciesTabsSlider.tsx
  src/shared/components/species-tabs-slider/useSliderGestures.ts
  src/shared/components/species-tabs-slider/useSpeciesTabsSlider.ts
  src/shared/components/species-tabs-slider/useVisibleActiveSpecies.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Update dependencies
  package-lock.json
  package.json
Due: none

Bump node version in dockerfile and package-lock
  Dockerfile.local
  Dockerfile.node
  package-lock.json
Due: none

Update dependencies (#1336)
  Dockerfile.local
  Dockerfile.node
  package-lock.json
  package.json
Due: none

VEP V2: restore in-app navigation from the results "View in" popups
  src/content/app/tools/vep/utils/featureExplorerUrls.test.ts
  src/content/app/tools/vep/utils/featureExplorerUrls.ts
  src/content/app/tools/vep/views/vep-submission-results/VepSubmissionResults.tsx
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-annotation-detail/displaySpecRenderer.tsx
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-gene/VepResultsGene.tsx
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-location/VepResultsLocation.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

VEP V2: align with post-fork ensembl-client conventions
  src/content/app/tools/vep/VepPageContent.module.css
  src/content/app/tools/vep/components/form-section/FormSection.module.css
  src/content/app/tools/vep/components/vep-species-name/VepSpeciesName.module.css
  src/content/app/tools/vep/components/vep-submission-header/DownloadOptions.module.css
  src/content/app/tools/vep/components/vep-submission-header/VepSubmissionHeader.module.css
  src/content/app/tools/vep/components/vep-submit-button/VepSubmitButton.tsx
  src/content/app/tools/vep/components/vep-top-bar/VepTopBar.module.css
  src/content/app/tools/vep/types/vepDisplaySpec.ts
  src/content/app/tools/vep/types/vepResultsResponse.ts
  src/content/app/tools/vep/types/vepSubmission.ts
  src/content/app/tools/vep/utils/annotationFormatters.ts
  src/content/app/tools/vep/utils/resultsPanels.test.ts
  src/content/app/tools/vep/views/vep-form/VepForm.module.css
  src/content/app/tools/vep/views/vep-form/vep-form-options-section/VepFormOptionsSection.module.css
  src/content/app/tools/vep/views/vep-form/vep-form-options-section/vep-form-options-panel/OptionHelpText.tsx
  src/content/app/tools/vep/views/vep-form/vep-form-options-section/vep-form-options-panel/VepFormOptionsPanel.tsx
  src/content/app/tools/vep/views/vep-form/vep-form-options-section/vep-form-options-panel/panelSelectionUpdates.test.ts
  src/content/app/tools/vep/views/vep-form/vep-form-options-section/vep-form-options-panel/panelSelectionUpdates.ts
  src/content/app/tools/vep/views/vep-form/vep-form-variants-section/VepFormVariantsSection.module.css
  src/content/app/tools/vep/views/vep-form/vep-form-variants-section/VepFormVariantsSection.tsx
  src/content/app/tools/vep/views/vep-species-selector/VepSpeciesSelector.tsx
  src/content/app/tools/vep/views/vep-submission-results/VepSubmissionResults.module.css
  src/content/app/tools/vep/views/vep-submission-results/VepSubmissionResults.test.tsx
  src/content/app/tools/vep/views/vep-submission-results/VepSubmissionResults.tsx
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-allele/VepResultsAllele.test.tsx
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-annotation-detail/VepResultsAnnotationDetail.module.css
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-annotation-detail/VepResultsAnnotationDetail.test.tsx
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-annotation-detail/VepResultsAnnotationDetail.tsx
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-annotation-detail/annotationRows.tsx
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-annotation-detail/displaySpec.fixture.ts
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-annotation-detail/displaySpecRenderer.test.tsx
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-annotation-detail/displaySpecRenderer.tsx
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-filters/AlleleFrequencyInput.tsx
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-filters/VepResultsFilters.module.css
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-filters/VepResultsFilters.tsx
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-filters/resultsFilterFields.ts
  src/content/app/tools/vep/views/vep-submissions/VepSubmissions.module.css
  src/content/app/tools/vep/views/vep-submissions/listed-vep-submission/ListedVepSubmission.module.css
  src/shared/helpers/urlHelper.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

VEP V2: integration report
  INTEGRATION.md
Due: none

Refactor the Panel component
  src/shared/components/panel/Panel.module.css
  src/shared/components/panel/Panel.tsx
  stories/shared-components/panel/Panel.stories.module.css
  stories/shared-components/panel/Panel.stories.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

VEP V2: record step 5 verification
  INTEGRATION.md
Due: none

Update Panel styles
  src/shared/components/panel/Panel.module.css
  stories/shared-components/panel/Panel.stories.module.css
  stories/shared-components/panel/Panel.stories.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Remove tests for the Panel component
  src/shared/components/panel/Panel.test.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update the places where the Panel component is used
  src/content/app/entity-viewer/gene-view/components/gene-function/GeneFunction.module.css
  src/content/app/entity-viewer/gene-view/components/gene-function/GeneFunction.tsx
  src/content/app/entity-viewer/gene-view/components/gene-homology/GeneHomologyTable.module.css
  src/content/app/entity-viewer/gene-view/components/gene-homology/GeneHomologyTable.tsx
  src/content/app/entity-viewer/gene-view/components/gene-relationships/GeneRelationships.module.css
  src/content/app/entity-viewer/gene-view/components/gene-relationships/GeneRelationships.tsx
  src/content/app/entity-viewer/state/gene-view/view/geneViewViewSlice.ts
  src/content/app/entity-viewer/transcript-view/components/transcript-exons/ExonsView.module.css
  src/content/app/entity-viewer/transcript-view/components/transcript-exons/ExonsView.tsx
  src/content/app/entity-viewer/transcript-view/components/transcript-function/TranscriptFunction.module.css
  src/content/app/entity-viewer/transcript-view/components/transcript-function/TranscriptFunction.tsx
  src/content/app/entity-viewer/variant-view/population-allele-frequencies/PopulationAlleleFrequencies.tsx
  src/content/app/entity-viewer/variant-view/transcript-consequences/TranscriptConsequences.tsx
  src/shared/components/data-table/DataTable.module.css
  src/shared/components/data-table/DataTable.tsx
  src/shared/components/panel/Panel.module.css
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

VEP: allele-frequency help text — source naming, version from the label
  src/content/app/tools/vep/types/vepFormConfig.ts
  src/content/app/tools/vep/views/vep-form/vep-form-options-section/vep-form-options-panel/optionHelp.test.ts
  src/content/app/tools/vep/views/vep-form/vep-form-options-section/vep-form-options-panel/optionHelp.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

VEP: help text for gnomAD SV and CNV, with per-version references
  src/content/app/tools/vep/types/vepFormConfig.ts
  src/content/app/tools/vep/views/vep-form/vep-form-options-section/vep-form-options-panel/optionHelp.test.ts
  src/content/app/tools/vep/views/vep-form/vep-form-options-section/vep-form-options-panel/optionHelp.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

VEP: help (?) on the annotation headings in the results
  src/content/app/tools/vep/views/vep-form/vep-form-options-section/vep-form-options-panel/optionHelp.test.ts
  src/content/app/tools/vep/views/vep-form/vep-form-options-section/vep-form-options-panel/optionHelp.ts
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-annotation-detail/VepResultsAnnotationDetail.tsx
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-annotation-detail/annotationRows.tsx
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-annotation-detail/displaySpecRenderer.test.tsx
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-annotation-detail/displaySpecRenderer.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Add min-height to Panel for shrinking properly in the context of a grid container
  src/content/app/entity-viewer/variant-view/transcript-consequences/TranscriptConsequences.module.css
  src/shared/components/panel/Panel.module.css
Due: stylelint

Rename PanelHeader to PanelHead
  src/content/app/entity-viewer/gene-view/components/gene-function/GeneFunction.module.css
  src/content/app/entity-viewer/gene-view/components/gene-function/GeneFunction.tsx
  src/content/app/entity-viewer/gene-view/components/gene-relationships/GeneRelationships.module.css
  src/content/app/entity-viewer/gene-view/components/gene-relationships/GeneRelationships.tsx
  src/content/app/entity-viewer/transcript-view/components/transcript-exons/ExonsView.tsx
  src/content/app/entity-viewer/transcript-view/components/transcript-function/TranscriptFunction.tsx
  src/content/app/entity-viewer/variant-view/population-allele-frequencies/PopulationAlleleFrequencies.module.css
  src/content/app/entity-viewer/variant-view/population-allele-frequencies/PopulationAlleleFrequencies.tsx
  src/content/app/entity-viewer/variant-view/transcript-consequences/TranscriptConsequences.module.css
  src/content/app/entity-viewer/variant-view/transcript-consequences/TranscriptConsequences.tsx
  src/shared/components/panel/Panel.tsx
  stories/shared-components/panel/Panel.stories.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

VEP: OpenTargets as tables, with a variant link above them
  src/content/app/tools/vep/utils/openTargetsVariantId.ts
  src/content/app/tools/vep/views/vep-submission-results/VepSubmissionResults.tsx
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-annotation-detail/VepResultsAnnotationDetail.module.css
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-annotation-detail/VepResultsAnnotationDetail.tsx
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-annotation-detail/annotationRows.tsx
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-annotation-detail/displaySpec.fixture.ts
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-annotation-detail/displaySpecRenderer.test.tsx
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-annotation-detail/displaySpecRenderer.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

VEP: the link icon always leads the text it links
  src/content/app/tools/vep/views/vep-form/vep-form-options-section/vep-form-options-panel/OptionHelpText.tsx
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-annotation-detail/VepResultsAnnotationDetail.module.css
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-annotation-detail/displaySpecRenderer.test.tsx
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-annotation-detail/displaySpecRenderer.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Make sure the default transcript is expanded in dev build as well
  src/content/app/entity-viewer/gene-view/hooks/useExpandedDefaultTranscript.ts
  src/content/app/entity-viewer/state/gene-view/transcripts/geneViewTranscriptsSlice.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

VEP: collapsing a long list keeps you where you were
  src/content/app/tools/vep/components/truncated-list/TruncatedList.test.tsx
  src/content/app/tools/vep/components/truncated-list/TruncatedList.tsx
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-annotation-detail/displaySpecRenderer.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update messaging for when there is no homology data
  src/content/app/entity-viewer/gene-view/components/gene-homology/GeneHomology.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

VEP: wider annotation columns, aligned by data type, stable table widths
  src/content/app/tools/vep/types/vepDisplaySpec.ts
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-annotation-detail/VepResultsAnnotationDetail.module.css
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-annotation-detail/VepResultsAnnotationDetail.test.tsx
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-annotation-detail/VepResultsAnnotationDetail.tsx
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-annotation-detail/displaySpec.fixture.ts
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-annotation-detail/displaySpecRenderer.test.tsx
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-annotation-detail/displaySpecRenderer.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Remove the down-pointing arrow for big button/tabs in gene view
  src/content/app/entity-viewer/gene-view/components/gene-view-tabs/GeneViewTabs.module.css
Due: stylelint

VEP: keep ClinVar's conflicting term on the significance row
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-annotation-detail/displaySpec.fixture.ts
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-annotation-detail/displaySpecRenderer.test.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

VEP: GERP conservation scores (human GRCh38)
  src/content/app/tools/vep/types/vepResultsResponse.ts
  src/content/app/tools/vep/utils/annotations.ts
  src/content/app/tools/vep/views/vep-form/vep-form-options-section/vep-form-options-panel/optionHelp.ts
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-annotation-detail/displaySpec.fixture.ts
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-annotation-detail/displaySpecRenderer.test.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

No need to manually assert GeneHomology type
  src/content/app/entity-viewer/gene-view/components/gene-homology/GeneHomology.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Path conditions:
  eslint --max-warnings=0: any of: *.{ts,tsx}
  manage-licence-header add: any of: *.{ts,tsx}
  prettier --write: any of: *.{ts,tsx}
  stylelint: any of: *.css
