Repository Ensembl/ensembl-client: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

.lintstagedrc.json:

{
  "*.{ts,tsx}": [
    "eslint --max-warnings=0",
    "manage-licence-header add",
    "prettier --write"
  ],
  "*.scss": [
    "stylelint",
    "prettier --write"
  ]
}

Add logger statement
  src/content/app/genome-browser/state/track-settings/trackSettingsSlice.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Check for existence of the track retrieved from IndexedDB before trying to clean its settings
  src/content/app/genome-browser/services/track-settings/trackSettingsStorageService.ts
  src/content/app/genome-browser/state/track-settings/trackSettingsSlice.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Fix type errors
  src/content/app/genome-browser/services/track-settings/trackSettingsStorageService.test.ts
  src/content/app/genome-browser/services/track-settings/trackSettingsStorageService.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Move CogList type to Browser component and remove zero timeout when closing a track settings panel
  src/content/app/genome-browser/Browser.tsx
  src/content/app/genome-browser/components/browser-cog/BrowserCog.tsx
  src/content/app/genome-browser/components/browser-cog/BrowserCogList.tsx
  src/content/app/genome-browser/state/track-settings/trackSettingsSlice.ts
  tests/fixtures/browser.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Clean up some comments
  src/content/app/genome-browser/hooks/useGenomeBrowserTracks.ts
  src/content/app/genome-browser/hooks/useGenomicTracks.ts
  src/content/app/genome-browser/state/track-settings/trackSettingsSlice.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Fix types
  src/shared/components/data-table/components/main/components/table-row/components/row-visibility-controller/RowVisibilityController.tsx
  src/shared/components/data-table/components/table-controls/components/table-actions/components/download-data/DownloadData.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

rename jobname to submissionName
  src/content/app/tools/blast/components/blast-job-submit/BlastJobSubmit.test.tsx
  src/content/app/tools/blast/components/blast-job-submit/BlastJobSubmit.tsx
  src/content/app/tools/blast/components/blast-settings/BlastSettings.scss
  src/content/app/tools/blast/components/blast-settings/BlastSettings.tsx
  src/content/app/tools/blast/components/blast-submission-header/BlastSubmissionHeader.scss
  src/content/app/tools/blast/components/blast-submission-header/BlastSubmissionHeader.tsx
  src/content/app/tools/blast/hooks/useBlastForm.ts
  src/content/app/tools/blast/state/blast-api/blastApiSlice.ts
  src/content/app/tools/blast/state/blast-form/blastFormSelectors.ts
  src/content/app/tools/blast/state/blast-form/blastFormSlice.ts
  src/content/app/tools/blast/state/blast-results/blastResultsSlice.ts
  src/content/app/tools/blast/state/epics/tests/fixtures/blastSubmissionFixtures.ts
  tests/fixtures/blast/blastSubmission.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

updates
  doc/architecture/decisions/0019-BLAST-database-files.md
  doc/architecture/decisions/0020-BLAST-download-formats.md
Due: none

Add visualisation for BLAST resuts against a genomic sequence
  src/content/app/tools/blast/components/blast-genomic-hits-diagram/BlastGenomicHitsDiagram.scss
  src/content/app/tools/blast/components/blast-genomic-hits-diagram/BlastGenomicHitsDiagram.tsx
  src/content/app/tools/blast/components/blast-genomic-hits-diagram/BlastGenomicRegionHeatmap.tsx
  src/content/app/tools/blast/components/blast-genomic-hits-diagram/index.ts
  src/content/app/tools/blast/types/blastJob.ts
  src/content/app/tools/blast/views/blast-submission-results/components/blast-results-per-sequence/BlastResultsPerSequence.tsx
  src/content/app/tools/blast/views/blast-submission-results/components/single-blast-job-result/SingleBlastJobResult.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

style submission name
  src/content/app/tools/blast/components/blast-settings/BlastSettings.scss
  src/content/app/tools/blast/components/blast-settings/BlastSettings.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Display submission name and adapt to small screen (#852)
  src/content/app/tools/blast/components/blast-job-submit/BlastJobSubmit.test.tsx
  src/content/app/tools/blast/components/blast-job-submit/BlastJobSubmit.tsx
  src/content/app/tools/blast/components/blast-settings/BlastSettings.scss
  src/content/app/tools/blast/components/blast-settings/BlastSettings.tsx
  src/content/app/tools/blast/components/blast-submission-header/BlastSubmissionHeader.scss
  src/content/app/tools/blast/components/blast-submission-header/BlastSubmissionHeader.tsx
  src/content/app/tools/blast/hooks/useBlastForm.ts
  src/content/app/tools/blast/state/blast-api/blastApiSlice.ts
  src/content/app/tools/blast/state/blast-form/blastFormSelectors.ts
  src/content/app/tools/blast/state/blast-form/blastFormSlice.ts
  src/content/app/tools/blast/state/blast-results/blastResultsSlice.ts
  src/content/app/tools/blast/state/epics/tests/fixtures/blastSubmissionFixtures.ts
  tests/fixtures/blast/blastSubmission.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Add button for expanding/collapsing the viz, and add the legend
  src/content/app/tools/blast/components/blast-genomic-hits-diagram/BlastGenomicHitsDiagram.scss
  src/content/app/tools/blast/components/blast-genomic-hits-diagram/BlastGenomicHitsDiagram.tsx
  src/content/app/tools/blast/components/blast-genomic-hits-diagram/BlastGenomicHitsDiagramLegend.tsx
  src/content/app/tools/blast/components/blast-genomic-hits-diagram/BlastGenomicRegionHeatmap.tsx
  src/content/app/tools/blast/views/blast-submission-results/components/blast-results-per-sequence/BlastResultsPerSequence.scss
  src/content/app/tools/blast/views/blast-submission-results/components/blast-results-per-sequence/BlastResultsPerSequence.tsx
  src/shared/components/pill-button/PillButton.scss
  src/shared/components/pill-button/PillButton.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Add PillButton to Storybook
  stories/shared-components/pill-button/PlusButton.stories.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Allow string|number type for ids, and update the behaviour of visibility icon when selecting a table row
  src/content/app/tools/blast/views/blast-submission-results/components/single-blast-job-result/SingleBlastJobResult.tsx
  src/shared/components/data-table/components/main/components/table-row/TableRow.test.tsx
  src/shared/components/data-table/components/main/components/table-row/TableRow.tsx
  src/shared/components/data-table/components/main/components/table-row/components/row-selector/RowSelector.tsx
  src/shared/components/data-table/components/main/components/table-row/components/row-visibility-controller/RowVisibilityController.tsx
  src/shared/components/data-table/components/table-controls/components/table-actions/components/download-data/DownloadData.tsx
  src/shared/components/data-table/dataTableTypes.ts
  src/shared/components/data-table/hooks/useDataTable.ts
  stories/shared-components/data-table/DataTable.stories.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Remove comments
  src/content/app/tools/blast/components/blast-genomic-hits-diagram/BlastGenomicHitsDiagram.tsx
  src/content/app/tools/blast/components/blast-genomic-hits-diagram/BlastGenomicRegionHeatmap.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Hide the label in the RegionsExpandToggle component in the expanded state
  src/content/app/tools/blast/components/blast-genomic-hits-diagram/BlastGenomicHitsDiagram.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Move constants in their own file, and update styles of BLAST results boxes
  src/content/app/tools/blast/components/blast-genomic-hits-diagram/BlastGenomicHitsDiagramLegend.tsx
  src/content/app/tools/blast/components/blast-genomic-hits-diagram/BlastGenomicRegionHeatmap.tsx
  src/content/app/tools/blast/components/blast-genomic-hits-diagram/blastGenomicHitsDiagramConstants.ts
  src/content/app/tools/blast/views/blast-submission-results/components/blast-results-per-sequence/BlastResultsPerSequence.scss
  src/content/app/tools/blast/views/blast-submission-results/components/single-blast-job-result/SingleBlastJobResult.scss
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

more updates
  doc/architecture/decisions/0023-BLAST-species-sequence-interactions.md
Due: none

Show an element for no matches
  src/content/app/tools/blast/components/blast-genomic-hits-diagram/BlastGenomicHitsDiagram.tsx
  src/content/app/tools/blast/components/blast-genomic-hits-diagram/BlastGenomicRegionHeatmap.tsx
  src/content/app/tools/blast/components/blast-genomic-hits-diagram/BlastGenomicRegionWithoutMatches.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Remove forgotten comment
  src/content/app/genome-browser/hooks/useGenomeBrowser.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Remove redundant function call
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/track-panel-items/TrackPanelGene.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

initial edits
  README.md
Due: none

minor tweaks
  README.md
Due: none

Use IndexedDB to store data about track settings and focus objects (#856)
  package-lock.json
  package.json
  src/content/app/genome-browser/Browser.tsx
  src/content/app/genome-browser/components/browser-cog/BrowserCog.tsx
  src/content/app/genome-browser/components/browser-cog/BrowserCogList.tsx
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/track-panel-items/TrackPanelGene.tsx
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/track-panel-items/TrackPanelRegularItem.tsx
  src/content/app/genome-browser/components/track-panel/trackPanelConfig.ts
  src/content/app/genome-browser/components/track-settings-panel/TrackSettingsPanel.test.tsx
  src/content/app/genome-browser/components/track-settings-panel/TrackSettingsPanel.tsx
  src/content/app/genome-browser/components/track-settings-panel/services/trackSettingsStorageService.ts
  src/content/app/genome-browser/components/track-settings-panel/track-settings-views/GeneTrackSettings.tsx
  src/content/app/genome-browser/components/track-settings-panel/track-settings-views/RegularTrackSettings.tsx
  src/content/app/genome-browser/components/track-settings-panel/useTrackSettings.ts
  src/content/app/genome-browser/hooks/useFocusTrack.ts
  src/content/app/genome-browser/hooks/useGenomeBrowser.ts
  src/content/app/genome-browser/hooks/useGenomeBrowserTracks.ts
  src/content/app/genome-browser/hooks/useGenomicTracks.ts
  src/content/app/genome-browser/services/browserStorageService.test.ts
  src/content/app/genome-browser/services/browserStorageService.ts
  src/content/app/genome-browser/services/focus-objects/focusObjectStorageConstants.ts
  src/content/app/genome-browser/services/focus-objects/focusObjectStorageService.test.ts
  src/content/app/genome-browser/services/focus-objects/focusObjectStorageService.ts
  src/content/app/genome-browser/services/track-settings/trackSettingsStorageConstants.ts
  src/content/app/genome-browser/services/track-settings/trackSettingsStorageService.test.ts
  src/content/app/genome-browser/services/track-settings/trackSettingsStorageService.ts
  src/content/app/genome-browser/state/browser-general/browserGeneralSelectors.ts
  src/content/app/genome-browser/state/browser-general/browserGeneralSlice.ts
  src/content/app/genome-browser/state/focus-object/focusObjectSelectors.ts
  src/content/app/genome-browser/state/focus-object/focusObjectSlice.ts
  src/content/app/genome-browser/state/focus-object/isGeneFocusObject.ts
  src/content/app/genome-browser/state/track-settings/trackSettingsConstants.ts
  src/content/app/genome-browser/state/track-settings/trackSettingsSelectors.ts
  src/content/app/genome-browser/state/track-settings/trackSettingsSlice.ts
  src/services/indexeddb-service.ts
  src/shared/types/focus-object/focusObjectTypes.ts
  tests/fixtures/browser.ts
  tests/fixtures/focus-object.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Store displayed tracks in redux
  src/content/app/genome-browser/Browser.tsx
  src/content/app/genome-browser/components/browser-cog/BrowserCogList.test.tsx
  src/content/app/genome-browser/components/browser-cog/BrowserCogList.tsx
  src/content/app/genome-browser/components/track-settings-panel/TrackSettingsPanel.test.tsx
  src/content/app/genome-browser/components/track-settings-panel/useTrackSettings.ts
  src/content/app/genome-browser/hooks/useGenomeBrowserTracks.ts
  src/content/app/genome-browser/state/displayed-tracks/displayedTracksSelectors.ts
  src/content/app/genome-browser/state/displayed-tracks/displayedTracksSlice.ts
  src/content/app/genome-browser/state/focus-object/focusObjectSlice.ts
  src/content/app/genome-browser/state/genomeBrowserReducer.ts
  tests/fixtures/browser.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

hide chevron when there is only one transcript
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/track-panel-items/TrackPanelGene.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Fix typo (suit -> suite)
  README.md
Due: none

Refactor useGenomeBrowserIds hook
  src/content/app/genome-browser/Browser.tsx
  src/content/app/genome-browser/hooks/useGenomeBrowserIds.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Rename a variable
  src/content/app/tools/blast/views/blast-submission-results/components/blast-results-per-sequence/BlastResultsPerSequence.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

move grch38 to top of the list
  src/content/app/tools/blast/components/blast-species-selector/speciesList.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Rename a variable
  src/content/app/tools/blast/views/blast-submission-results/components/blast-results-per-sequence/BlastResultsPerSequence.tsx
  src/content/app/tools/blast/views/blast-submission-results/components/single-blast-job-result/SingleBlastJobResult.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

move common props to a constant
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/track-panel-items/TrackPanelGene.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Add visualisation for BLAST against genomic targets (#857)
  src/content/app/tools/blast/components/blast-genomic-hits-diagram/BlastGenomicHitsDiagram.scss
  src/content/app/tools/blast/components/blast-genomic-hits-diagram/BlastGenomicHitsDiagram.tsx
  src/content/app/tools/blast/components/blast-genomic-hits-diagram/BlastGenomicHitsDiagramLegend.tsx
  src/content/app/tools/blast/components/blast-genomic-hits-diagram/BlastGenomicRegionHeatmap.tsx
  src/content/app/tools/blast/components/blast-genomic-hits-diagram/BlastGenomicRegionWithoutMatches.tsx
  src/content/app/tools/blast/components/blast-genomic-hits-diagram/blastGenomicHitsDiagramConstants.ts
  src/content/app/tools/blast/components/blast-genomic-hits-diagram/index.ts
  src/content/app/tools/blast/types/blastJob.ts
  src/content/app/tools/blast/views/blast-submission-results/components/blast-results-per-sequence/BlastResultsPerSequence.scss
  src/content/app/tools/blast/views/blast-submission-results/components/blast-results-per-sequence/BlastResultsPerSequence.tsx
  src/content/app/tools/blast/views/blast-submission-results/components/single-blast-job-result/SingleBlastJobResult.scss
  src/content/app/tools/blast/views/blast-submission-results/components/single-blast-job-result/SingleBlastJobResult.tsx
  src/shared/components/pill-button/PillButton.scss
  src/shared/components/pill-button/PillButton.tsx
  stories/shared-components/pill-button/PlusButton.stories.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Update styles for species name in BLAST results view
  src/content/app/tools/blast/views/blast-submission-results/components/single-blast-job-result/SingleBlastJobResult.scss
  src/content/app/tools/blast/views/blast-submission-results/components/single-blast-job-result/SingleBlastJobResult.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

hide chevron when there is only one transcript (#859)
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/track-panel-items/TrackPanelGene.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Move genome browser ID code into its own context
  src/content/app/genome-browser/Browser.tsx
  src/content/app/genome-browser/hooks/useGenomeBrowserIds.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

add new sections
  doc/architecture/decisions/0021-BLAST-sequence-formats.md
  doc/architecture/decisions/0022-BLAST-input-parameters.md
Due: none

update future developments
  doc/architecture/decisions/0021-BLAST-sequence-formats.md
  doc/architecture/decisions/0022-BLAST-input-parameters.md
  doc/architecture/decisions/0023-BLAST-species-sequence-interactions.md
Due: none
