Repository Ensembl/ensembl-client: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

.lintstagedrc.json:

{
  "*.{ts,tsx}": [
    "eslint --max-warnings=0",
    "manage-licence-header add",
    "prettier --write"
  ],
  "*.css": [
    "stylelint"
  ]
}

Fix more tests
  src/content/app/entity-viewer/gene-view/components/default-transcripts-list/default-transcripts-list-item/DefaultTranscriptListItem.test.tsx
  src/content/app/entity-viewer/gene-view/components/default-transcripts-list/transcripts-list-item-info/TranscriptsListItemInfo.test.tsx
  src/content/app/entity-viewer/gene-view/components/gene-view-sidebar/overview/GeneOverview.test.tsx
  src/content/app/entity-viewer/gene-view/components/proteins-list/proteins-list-item-info/ProteinsListItemInfo.test.tsx
  src/content/app/entity-viewer/gene-view/components/transcripts-filter/TranscriptsFilter.test.tsx
  src/content/app/entity-viewer/shared/components/entity-viewer-sidebar/entity-viewer-sidebar-modal/modal-views/EntityViewerBookmarks.test.tsx
  src/content/app/genome-browser/Browser.test.tsx
  src/content/app/genome-browser/components/browser-bar/BrowserBar.test.tsx
  src/content/app/genome-browser/components/browser-cog/BrowserCog.test.tsx
  src/content/app/genome-browser/components/browser-cog/BrowserCogList.test.tsx
  src/content/app/genome-browser/components/browser-image/BrowserImage.test.tsx
  src/content/app/genome-browser/components/browser-reset/BrowserReset.test.tsx
  src/content/app/genome-browser/components/browser-sidebar-modal/BrowserSidebarModal.test.tsx
  src/content/app/genome-browser/components/browser-sidebar-modal/modal-views/BookmarksModal.test.tsx
  src/content/app/genome-browser/components/browser-sidebar-modal/modal-views/navigate-modal/tests/LocationNavigation.test.tsx
  src/content/app/genome-browser/components/browser-sidebar-modal/modal-views/navigate-modal/tests/NavigateModal.test.tsx
  src/content/app/genome-browser/components/browser-sidebar-modal/modal-views/navigate-modal/tests/RegionNavigation.test.tsx
  src/content/app/genome-browser/components/browser-sidebar-toolstrip/BrowserSidebarToolstrip.test.tsx
  src/content/app/genome-browser/components/drawer/components/sequence-view/TranscriptSequenceView.test.tsx
  src/content/app/genome-browser/components/track-panel/TrackPanel.test.tsx
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/TrackPanelList.test.tsx
  src/content/app/genome-browser/components/track-panel/components/track-panel-tabs/TrackPanelTabs.test.tsx
  src/content/app/genome-browser/components/track-settings-panel/TrackSettingsPanel.test.tsx
  src/content/app/genome-browser/components/zmenu/Zmenu.test.tsx
  src/content/app/genome-browser/components/zmenu/ZmenuContent.test.tsx
  src/content/app/genome-browser/components/zmenu/ZmenuContent.tsx
  src/content/app/species/components/species-title-area/species-usage-toggle/SpeciesUsageToggle.test.tsx
  src/content/app/tools/blast/components/blast-app-bar/BlastAppBar.test.tsx
  src/content/app/tools/blast/components/blast-submission-header/BlastSubmissionHeader.tsx
  src/content/app/tools/blast/components/listed-blast-submission/ListedBlastSubmission.test.tsx
  src/content/app/tools/blast/state/epics/tests/blastEpics.test.ts
  src/shared/components/error-boundary/ErrorBoundary.test.tsx
  tests/svgrMock.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update snapshots
  src/content/app/tools/blast/components/blast-sequence-alignment/tests/__snapshots__/blastSequenceAlignmentHelper.test.ts.snap
  src/content/app/tools/blast/utils/tests/__snapshots__/blastInputParser.test.ts.snap
Due: none

Update vitest config
  vitest.config.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update commands in package.json; change vitest.config.ts to mts; suppress typescript error in Icons.stories.tsx
  package-lock.json
  package.json
  stories/static-assets/Icons.stories.tsx
  tsconfig.json
  vitest.config.mts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Unsubscribe from RTK query of help article on the server
  src/content/app/help/HelpPage.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update robots.txt
  src/server/static-files/robots.txt
Due: none

Remove jest
  README.md
  eslint.config.js
  jest.config.js
  package-lock.json
  package.json
  src/content/app/genome-browser/hooks/useBrowserRouting.test.tsx
  tests/fixed-jsdom-environment.js
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Added parse5 to deps.optimizer.web in vitest config
  vitest.config.mts
Due: none

Update node version for the test runner
  .gitlab-ci.yml
Due: none

Update node image in gitlab-ci again
  .gitlab-ci.yml
Due: none

Maybe inlining parse5 wasn't needed after all
  vitest.config.mts
Due: none

Update epigenomes api endpoint
  src/content/app/regulatory-activity-viewer/state/api/activityViewerApiSlice.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Use relarive url for regulation api endpoints
  config.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

ux improvements
  src/content/app/genome-browser/components/browser-sidebar-modal/modal-views/NavigateModal.tsx
  src/content/app/genome-browser/components/drawer/drawer-views/variant-summary/VariantSummary.tsx
  src/content/home/Home.module.css
  src/content/home/Home.tsx
  src/header/Header.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

fixes
  src/content/app/genome-browser/components/drawer/drawer-views/variant-summary/VariantSummary.tsx
  src/header/Header.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

align tool buttons in the center
  src/content/home/Home.module.css
Due: stylelint

Update dependencies
  package-lock.json
  package.json
Due: none

Update vitest
  package-lock.json
  package.json
Due: none

Update dependencies (#1230)
  package-lock.json
  package.json
Due: none

fixes
  src/content/home/Home.module.css
Due: stylelint

fixes
  src/header/Header.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

UX Improvements (#1231)
  src/content/app/genome-browser/components/browser-sidebar-modal/modal-views/NavigateModal.tsx
  src/content/app/genome-browser/components/drawer/drawer-views/variant-summary/VariantSummary.tsx
  src/content/home/Home.module.css
  src/content/home/Home.tsx
  src/header/Header.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Add regulatory activity external link in GB Zmenu
  src/content/app/genome-browser/components/zmenu/Zmenu.module.css
  src/content/app/genome-browser/components/zmenu/zmenus/RegulationZmenu.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

fixes
  config.ts
  src/content/app/genome-browser/components/zmenu/zmenus/RegulationZmenu.tsx
  src/shared/helpers/urlHelper.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

fix
  src/server/helpers/getConfigForClient.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

additional info in gene search table
  src/shared/components/gene-search-panel/GeneSearchPanel.module.css
  src/shared/components/gene-search-panel/GeneSearchPanel.tsx
  src/shared/components/species-name/SpeciesName.module.css
  src/shared/components/species-name/SpeciesName.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

fix
  src/shared/components/gene-search-panel/GeneSearchPanel.module.css
Due: stylelint

Enable client-side homology table sorting by protein similarity by default
  src/content/app/entity-viewer/gene-view/components/gene-homology/GeneHomologyTable.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

extend geneOverviewQuery to include transcript metadata info
  src/content/app/entity-viewer/state/api/queries/geneOverviewQuery.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Enable client-side homology table sorting by protein similarity by default (#1234)
  src/content/app/entity-viewer/gene-view/components/gene-homology/GeneHomologyTable.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

fixes
  src/shared/components/gene-search-panel/GeneSearchPanel.module.css
  src/shared/components/gene-search-panel/GeneSearchPanel.tsx
  src/shared/components/species-name/SpeciesName.module.css
  src/shared/components/species-name/SpeciesName.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

update font size
  src/shared/components/gene-search-panel/GeneSearchPanel.module.css
Due: stylelint

update font weight
  src/shared/components/gene-search-panel/GeneSearchPanel.module.css
Due: stylelint

review comment update
  src/shared/components/gene-search-panel/GeneSearchPanel.module.css
Due: stylelint

Display release information in gene search results table (#1233)
  src/shared/components/gene-search-panel/GeneSearchPanel.module.css
  src/shared/components/gene-search-panel/GeneSearchPanel.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Update Node to latest LTS (v.24)
  .gitlab-ci.yml
  Dockerfile
  Dockerfile.node
Due: none

Update dependencies
  package-lock.json
  package.json
  src/content/app/tools/blast/state/blast-api/blastApiSlice.ts
  src/shared/state/api-slices/restSlice.ts
  tsconfig.json
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Changed storybook files from javascript to typescript
  .storybook/main.js
  .storybook/main.ts
  .storybook/manager.js
  .storybook/manager.ts
  .storybook/preview.js
  .storybook/preview.ts
  .storybook/webpack.js
  .storybook/webpack.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update Storybook configuration files while migrating to typescript
  .storybook/main.ts
  .storybook/preview.ts
  .storybook/webpack.ts
  package-lock.json
  package.json
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write
