Repository Ensembl/ensembl-client: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

update gene overview stable id text
  src/content/app/entity-viewer/gene-view/components/gene-overview-image/GeneOverviewImage.module.css
Due: stylelint

Make species selector button clickable (#1129)
  src/header/launchbar/LaunchbarButton.tsx
  src/header/launchbar/SpeciesSelectorLaunchbarButton.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Prevent overlap between the close button and the add button
  src/content/app/species-selector/views/species-manager/SpeciesManager.module.css
Due: stylelint

Memoize the input field to prevent bugs due to re-rendering
  src/shared/components/input/Input.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Memoize the input field to prevent bugs due to re-rendering (#1134)
  src/shared/components/input/Input.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update styles
  src/content/app/species-selector/views/species-manager/SpeciesManager.module.css
  src/content/app/species-selector/views/species-manager/SpeciesManager.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Species manager updates (#1127)
  src/content/app/species-selector/components/species-lozenge-display-selector/SpeciesLozengeDisplaySelector.module.css
  src/content/app/species-selector/views/species-manager/SpeciesManager.module.css
  src/content/app/species-selector/views/species-manager/SpeciesManager.tsx
  src/content/app/species-selector/views/species-manager/selected-genomes-table/SelectedGenomesTable.module.css
  src/content/app/species-selector/views/species-manager/selected-genomes-table/SelectedGenomesTable.tsx
  src/content/app/species-selector/views/species-manager/useFilteredGenomes.ts
  src/shared/components/add-button/AddButton.module.css
  src/shared/components/table/Table.module.css
  src/shared/components/upload/hooks/useFileDrop.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Delete previously viewed objects on genome deletion; remove unused storage service files
  src/content/app/entity-viewer/services/bookmarks/entity-viewer-bookmarks-storage-service.ts
  src/content/app/genome-browser/services/browser-bookmarks/browserBookmarksStorageService.test.ts
  src/content/app/genome-browser/services/browser-bookmarks/browserBookmarksStorageService.ts
  src/content/app/genome-browser/state/browser-general/browserGeneralSlice.ts
  src/content/app/species-selector/state/species-selector-general-slice/speciesSelectorGeneralSlice.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Clear previously viewed objects from redux when genome is removed
  src/content/app/entity-viewer/state/bookmarks/entityViewerBookmarksSlice.ts
  src/content/app/entity-viewer/state/general/entityViewerGeneralSlice.ts
  src/content/app/genome-browser/state/browser-bookmarks/browserBookmarksSlice.ts
  src/content/app/genome-browser/state/browser-general/browserGeneralSlice.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Add storage service for previously viewed objects
  src/shared/services/previouslyViewedObjectsStorageConstants.ts
  src/shared/services/previouslyViewedObjectsStorageService.test.ts
  src/shared/services/previouslyViewedObjectsStorageService.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Refactor previously viewed entities in Entity Viewer
  src/content/app/entity-viewer/gene-view/GeneView.tsx
  src/content/app/entity-viewer/shared/components/entity-viewer-sidebar/entity-viewer-sidebar-modal/modal-views/EntityViewerBookmarks.tsx
  src/content/app/entity-viewer/state/bookmarks/entityViewerBookmarksSlice.ts
  src/content/app/entity-viewer/variant-view/VariantView.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Further updates to previously viewed objects service
  src/content/app/entity-viewer/state/bookmarks/entityViewerBookmarksSlice.ts
  src/content/app/genome-browser/state/browser-bookmarks/browserBookmarksSlice.ts
  src/content/app/genome-browser/state/browser-general/browserGeneralSlice.ts
  src/services/indexeddb-service.ts
  src/shared/services/previouslyViewedObjectsStorageService.test.ts
  src/shared/services/previouslyViewedObjectsStorageService.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

change template layout to percentage
  src/content/app/entity-viewer/gene-view/components/proteins-list/proteins-list-item/ProteinsListItem.module.css
Due: stylelint

column gap adjustments
  src/content/app/entity-viewer/gene-view/components/proteins-list/proteins-list-item/ProteinsListItem.module.css
Due: stylelint

Display summary statistics
  src/content/app/entity-viewer/variant-view/variant-view-navigation-panel/VariantViewNavigationPanel.tsx
  src/content/app/entity-viewer/variant-view/variant-view-navigation-panel/variant-view-tab/VariantViewTab.tsx
  src/shared/types/variation-api/variantSummaryStatistics.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update comment
  src/shared/types/variation-api/variantSummaryStatistics.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Add guards against undefined allele
  src/content/app/entity-viewer/variant-view/variant-view-navigation-panel/VariantViewNavigationPanel.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update styles
  src/content/app/entity-viewer/variant-view/variant-view-navigation-panel/variant-view-tab/VariantViewTab.module.css
Due: stylelint

Query variant summary statistics to use with navigation buttons in Entity Viewer (#1131)
  src/content/app/entity-viewer/state/api/queries/variantDefaultQuery.ts
  src/content/app/entity-viewer/variant-view/variant-view-navigation-panel/VariantViewNavigationPanel.tsx
  src/content/app/entity-viewer/variant-view/variant-view-navigation-panel/variant-view-tab/VariantViewTab.module.css
  src/content/app/entity-viewer/variant-view/variant-view-navigation-panel/variant-view-tab/VariantViewTab.tsx
  src/shared/types/variation-api/variant.ts
  src/shared/types/variation-api/variantAllele.ts
  src/shared/types/variation-api/variantSummaryStatistics.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Refactor previously viewed entities in Entity Viewer (#1132)
  src/content/app/entity-viewer/gene-view/GeneView.tsx
  src/content/app/entity-viewer/services/bookmarks/entity-viewer-bookmarks-storage-service.ts
  src/content/app/entity-viewer/shared/components/entity-viewer-sidebar/entity-viewer-sidebar-modal/modal-views/EntityViewerBookmarks.tsx
  src/content/app/entity-viewer/state/bookmarks/entityViewerBookmarksSlice.ts
  src/content/app/entity-viewer/state/general/entityViewerGeneralSlice.ts
  src/content/app/entity-viewer/variant-view/VariantView.tsx
  src/content/app/genome-browser/services/browser-bookmarks/browserBookmarksStorageService.test.ts
  src/content/app/genome-browser/services/browser-bookmarks/browserBookmarksStorageService.ts
  src/content/app/genome-browser/state/browser-bookmarks/browserBookmarksSlice.ts
  src/content/app/genome-browser/state/browser-general/browserGeneralSlice.ts
  src/content/app/species-selector/state/species-selector-general-slice/speciesSelectorGeneralSlice.ts
  src/services/indexeddb-service.ts
  src/shared/services/previouslyViewedObjectsStorageConstants.ts
  src/shared/services/previouslyViewedObjectsStorageService.test.ts
  src/shared/services/previouslyViewedObjectsStorageService.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Add a service to store species name display option in indexedDB
  src/content/app/species-selector/components/species-lozenge-display-selector/SpeciesLozengeDisplaySelector.tsx
  src/content/app/species-selector/constants/speciesNameDisplayConstants.ts
  src/content/app/species-selector/state/species-selector-general-slice/speciesSelectorGeneralSelectors.ts
  src/content/app/species-selector/state/species-selector-general-slice/speciesSelectorGeneralSlice.ts
  src/content/app/species-selector/types/speciesNameDisplayOption.ts
  src/shared/components/selected-species/SpeciesLozenge.tsx
  src/shared/services/generalUIStorageConstants.ts
  src/shared/services/generalUIStorageService.test.ts
  src/shared/services/generalUIStorageService.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Persist selected species name display option
  src/content/app/species-selector/state/species-selector-general-slice/speciesSelectorGeneralSlice.ts
  src/root/useRestoredReduxState.ts
  src/services/indexeddb-service.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Bump indexedDb version
  src/services/indexeddb-service.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Persist selected species display option (#1133)
  src/content/app/species-selector/components/species-lozenge-display-selector/SpeciesLozengeDisplaySelector.tsx
  src/content/app/species-selector/constants/speciesNameDisplayConstants.ts
  src/content/app/species-selector/state/species-selector-general-slice/speciesSelectorGeneralSelectors.ts
  src/content/app/species-selector/state/species-selector-general-slice/speciesSelectorGeneralSlice.ts
  src/content/app/species-selector/types/speciesNameDisplayOption.ts
  src/root/useRestoredReduxState.ts
  src/services/indexeddb-service.ts
  src/shared/components/selected-species/SpeciesLozenge.tsx
  src/shared/services/generalUIStorageConstants.ts
  src/shared/services/generalUIStorageService.test.ts
  src/shared/services/generalUIStorageService.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

update middle layout
  src/content/app/entity-viewer/gene-view/components/proteins-list/proteins-list-item/ProteinsListItem.module.css
  src/content/app/entity-viewer/gene-view/components/proteins-list/proteins-list-item/ProteinsListItem.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Remove trailing comma after species type on species page
  src/content/app/species/components/species-page-sidebar/SpeciesPageSidebar.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

To show the comma, both the species type element, and the reference element should be present
  src/content/app/species/components/species-page-sidebar/SpeciesPageSidebar.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

update class name
  src/content/app/entity-viewer/gene-view/components/proteins-list/proteins-list-item/ProteinsListItem.module.css
  src/content/app/entity-viewer/gene-view/components/proteins-list/proteins-list-item/ProteinsListItem.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Remove trailing comma after species type on species page (#1135)
  src/content/app/species/components/species-page-sidebar/SpeciesPageSidebar.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Wrap long stable ids in transcript list and protein list view (#1130)
  src/content/app/entity-viewer/gene-view/components/default-transcripts-list/transcripts-list-item-info/TranscriptsListItemInfo.module.css
  src/content/app/entity-viewer/gene-view/components/default-transcripts-list/transcripts-list-item-info/TranscriptsListItemInfo.tsx
  src/content/app/entity-viewer/gene-view/components/gene-overview-image/GeneOverviewImage.module.css
  src/content/app/entity-viewer/gene-view/components/proteins-list/proteins-list-item/ProteinsListItem.module.css
  src/content/app/entity-viewer/gene-view/components/proteins-list/proteins-list-item/ProteinsListItem.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Memoise a couple of selectors
  src/content/app/entity-viewer/state/gene-view/transcripts/geneViewTranscriptsSelectors.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Memoise a couple of selectors (#1137)
  src/content/app/entity-viewer/state/gene-view/transcripts/geneViewTranscriptsSelectors.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Remove the checks that were hiding links to Species Manager and Entity Viewer for variant in prod
  src/content/app/entity-viewer/components/example-links/ExampleLinks.tsx
  src/content/app/genome-browser/components/zmenu/zmenus/VariantZmenu.tsx
  src/content/app/species/state/general/speciesGeneralHelper.ts
  src/shared/components/species-manager-indicator/SpeciesManagerIndicator.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Most recently added genomes should appear in the beginning of the list of species lozenges
  src/content/app/species-selector/state/species-selector-general-slice/speciesSelectorGeneralSlice.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Remove the checks that were hiding links to Species Manager and Entity Viewer for variant in prod (#1138)
  src/content/app/entity-viewer/components/example-links/ExampleLinks.tsx
  src/content/app/genome-browser/components/zmenu/zmenus/VariantZmenu.tsx
  src/content/app/species/state/general/speciesGeneralHelper.ts
  src/shared/components/species-manager-indicator/SpeciesManagerIndicator.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Most recently added genomes should appear in the beginning of the list of species lozenges (#1139)
  src/content/app/species-selector/state/species-selector-general-slice/speciesSelectorGeneralSlice.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update styles of Species page title area
  src/content/app/species/SpeciesPage.module.css
  src/content/app/species/components/species-title-area/SpeciesTitleArea.module.css
  src/shared/components/delete-button/DeleteButton.module.css
Due: stylelint

Add DeleteButtonWithLabel; update styles
  src/content/app/entity-viewer/gene-view/GeneView.tsx
  src/content/app/entity-viewer/shared/components/entity-viewer-sidebar/entity-viewer-sidebar-modal/modal-views/EntityViewerSearch.tsx
  src/content/app/genome-browser/components/browser-sidebar-modal/modal-views/SearchModal.tsx
  src/content/app/species-selector/components/species-selector-app-bar/SpeciesSelectorAppBar.module.css
  src/content/app/species-selector/components/species-selector-app-bar/SpeciesSelectorAppBar.tsx
  src/content/app/species/SpeciesPage.module.css
  src/content/app/species/SpeciesPageContent.tsx
  src/content/app/species/components/species-sidebar-modal/modal-views/SpeciesSidebarSearch.tsx
  src/content/app/species/components/species-title-area/SpeciesTitleArea.module.css
  src/content/app/species/components/species-title-area/SpeciesTitleArea.tsx
  src/shared/components/delete-button/DeleteButton.module.css
  src/shared/components/delete-button/DeleteButton.tsx
  src/shared/components/in-app-search/InAppSearch.tsx
  src/shared/components/in-app-search/InAppSearchMatches.tsx
  src/shared/components/species-tabs-wrapper/SpeciesTabsWrapper.module.css
  stories/shared-components/delete-button/DeleteButton.stories.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Minor cleanup
  src/shared/components/delete-button/DeleteButton.module.css
  src/shared/components/gene-search-panel/GeneSearchPanel.module.css
Due: stylelint

Path conditions:
  eslint --max-warnings=0: any of: *.{ts,tsx}
  manage-licence-header add: any of: *.{ts,tsx}
  prettier --write: any of: *.{ts,tsx}
  stylelint: any of: *.css
