Repository Ensembl/ensembl-client: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

.lintstagedrc.json:

{
  "*.{ts,tsx}": [
    "eslint --max-warnings=0",
    "manage-licence-header add",
    "prettier --write"
  ],
  "*.scss": [
    "stylelint",
    "prettier --write"
  ]
}

Download combined table of BLAST results and combined raw file (#950)
  src/content/app/tools/blast/blast-download/renderSubmissionTable.ts
  src/content/app/tools/blast/blast-download/submissionDownload.ts
  src/content/app/tools/blast/components/blast-job-submit/BlastJobSubmit.test.tsx
  src/content/app/tools/blast/components/blast-job-submit/BlastJobSubmit.tsx
  src/content/app/tools/blast/state/blast-api/blastApiSlice.ts
  src/content/app/tools/blast/state/blast-results/blastResultsSlice.ts
  src/content/app/tools/blast/state/epics/tests/fixtures/blastSubmissionFixtures.ts
  tests/fixtures/blast/blastSubmission.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Use hotspot area coordinates to position tooltip (#951)
  package-lock.json
  package.json
  src/content/app/genome-browser/components/browser-track-legend/BrowserTrackLegend.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

add spinner to drawer while fetching data (#952)
  src/content/app/genome-browser/components/drawer/Drawer.scss
  src/content/app/genome-browser/components/drawer/DrawerSpinner.tsx
  src/content/app/genome-browser/components/drawer/drawer-views/gene-summary/GeneSummary.tsx
  src/content/app/genome-browser/components/drawer/drawer-views/transcript-summary/TranscriptSummary.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Add error message for all jobs failing in Blast
  src/content/app/tools/blast/components/blast-submission-header/BlastSubmissionHeader.tsx
  src/content/app/tools/blast/components/listed-blast-submission/ListedBlastSubmission.tsx
  src/content/app/tools/blast/utils/blastSubmisionTypeNarrowing.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

do not show variant legends when there is no variant data
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/TrackPanelList.tsx
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/track-panel-items/TrackPanelVariantGroupLegend.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

move methods to legend component
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/TrackPanelList.tsx
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/track-panel-items/TrackPanelVariantGroupLegend.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Remove 'All jobs have failed' message
  src/content/app/tools/blast/components/blast-submission-header/BlastSubmissionHeader.tsx
  src/content/app/tools/blast/utils/blastSubmisionTypeNarrowing.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Fix error
  src/content/app/genome-browser/contexts/genome-browser-ids-context/useGenomeBrowserUrlValidator.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

No need to guard against what has been checked
  src/content/app/genome-browser/contexts/genome-browser-ids-context/useGenomeBrowserUrlValidator.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Refactor Input component
  src/content/app/entity-viewer/interstitial/EntityViewerInterstitial.tsx
  src/content/app/genome-browser/components/browser-sidebar-modal/modal-views/navigate-modal/LocationNavigation.tsx
  src/content/app/genome-browser/components/browser-sidebar-modal/modal-views/navigate-modal/NavigateModal.scss
  src/content/app/genome-browser/components/browser-sidebar-modal/modal-views/navigate-modal/RegionNavigation.tsx
  src/content/app/genome-browser/components/interstitial/BrowserInterstitial.tsx
  src/content/app/species-selector/components/species-search-field/SpeciesSearchField.scss
  src/content/app/species-selector/components/species-search-field/SpeciesSearchField.tsx
  src/shared/components/autosuggest-search-field/AutosuggestSearchField.test.tsx
  src/shared/components/autosuggest-search-field/AutosuggestSearchField.tsx
  src/shared/components/data-table/components/table-controls/components/table-actions/components/find-in-table/FindInTable.scss
  src/shared/components/in-app-search/InAppSearch.scss
  src/shared/components/in-app-search/InAppSearch.tsx
  src/shared/components/input/Input.scss
  src/shared/components/input/Input.test.tsx
  src/shared/components/input/Input.tsx
  src/shared/components/question-button/QuestionButton.scss
  src/shared/components/search-field/SearchField.scss
  src/shared/components/search-field/SearchField.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Fix an error due to accessing a field that is undefined or null (#955)
  src/content/app/genome-browser/contexts/genome-browser-ids-context/useGenomeBrowserUrlValidator.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Add biotype label to GeneSummaryStrip
  src/shared/components/feature-summary-strip/GeneSummaryStrip.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Add biotype label to transcript info panel in EV
  src/content/app/entity-viewer/gene-view/components/default-transcripts-list/transcripts-list-item-info/TranscriptsListItemInfo.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Change err msg for all jobs have failed in expired submission
  src/content/app/tools/blast/components/blast-submission-header/BlastSubmissionHeader.tsx
  src/content/app/tools/blast/utils/blastSubmisionTypeNarrowing.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Bulk-update most of dependencies
  package-lock.json
  package.json
  src/content/app/entity-viewer/contexts/entity-viewer-ids-context/EntityViewerIdsContextProvider.tsx
  src/content/app/entity-viewer/hooks/useEntityViewerUrlChecks.ts
  src/content/app/genome-browser/contexts/genome-browser-ids-context/useGenomeBrowserUrlValidator.ts
  src/shared/state/genome/genomeApiSlice.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update Storybook to 7.0 release candidate
  .storybook/main.js
  deploy-docs.sh
  package-lock.json
  package.json
Due: none

Regenerated package-lock
  package-lock.json
  package.json
Due: none

Remove the query-string library
  package-lock.json
  package.json
  src/content/app/species-selector/state/speciesSelectorEpics.ts
  src/shared/helpers/urlHelper.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update species stats for 108 release — core stats
  src/content/app/species/sample-data.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Add biotype label to Genome browser header bar and transcript info panel (#957)
  src/content/app/entity-viewer/gene-view/components/default-transcripts-list/transcripts-list-item-info/TranscriptsListItemInfo.tsx
  src/shared/components/feature-summary-strip/GeneSummaryStrip.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

update condition
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/TrackPanelList.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update blast error message for failed submission (#943)
  src/content/app/tools/blast/components/blast-submission-header/BlastSubmissionHeader.tsx
  src/content/app/tools/blast/components/listed-blast-submission/ListedBlastSubmission.tsx
  src/content/app/tools/blast/utils/blastSubmisionTypeNarrowing.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update stats with variation and compara data
  src/content/app/species/sample-data.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Fix tests of the useShowTooltip hook
  src/shared/hooks/tests/useShowTooltip.test.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Further updates
  package-lock.json
  package.json
Due: none

Update d3 to v.7.8
  jest.config.js
  package-lock.json
  package.json
Due: none

Use react next (18.3)
  package-lock.json
  package.json
Due: none

Migrate Storybook's config to ES modules
  .storybook/main.js
  .storybook/webpack.js
Due: none

do not show variant legends when there is no variant data (#953)
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/TrackPanelList.tsx
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/track-panel-items/TrackPanelVariantGroupLegend.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update regulatory data, and information about annotation
  src/content/app/species/sample-data.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update dependencies (#958)
  .storybook/main.js
  .storybook/webpack.js
  deploy-docs.sh
  jest.config.js
  package-lock.json
  package.json
  src/content/app/entity-viewer/contexts/entity-viewer-ids-context/EntityViewerIdsContextProvider.tsx
  src/content/app/entity-viewer/hooks/useEntityViewerUrlChecks.ts
  src/content/app/genome-browser/contexts/genome-browser-ids-context/useGenomeBrowserUrlValidator.ts
  src/content/app/species-selector/state/speciesSelectorEpics.ts
  src/shared/helpers/urlHelper.ts
  src/shared/hooks/tests/useShowTooltip.test.tsx
  src/shared/state/genome/genomeApiSlice.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Fix typo in a file name (congig -> config)
  src/content/app/genome-browser/services/genome-browser-service/genomeBrowserService.ts
  src/content/app/genome-browser/services/genome-browser-service/types/genomeBrowserConfig.ts
  src/content/app/genome-browser/services/genome-browser-service/types/genomeBrowserCongig.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Add Attributes section to EV sidebar
  src/content/app/entity-viewer/gene-view/components/gene-view-sidebar/overview/GeneOverview.scss
  src/content/app/entity-viewer/gene-view/components/gene-view-sidebar/overview/GeneOverview.tsx
  src/content/app/entity-viewer/state/api/queries/geneOverviewQuery.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Update test
  src/content/app/entity-viewer/gene-view/components/gene-view-sidebar/overview/GeneOverview.test.tsx
  src/content/app/entity-viewer/gene-view/components/gene-view-sidebar/overview/GeneOverview.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Fix stats for wheat
  src/content/app/species/sample-data.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Add types
  src/shared/types/thoas/externalDb.ts
  src/shared/types/variation-api/variant.ts
  src/shared/types/variation-api/variantAllele.ts
  src/shared/types/variation-api/variantAllelePhenotypeAssertion.ts
  src/shared/types/variation-api/variantAllelePopulationFrequency.ts
  src/shared/types/variation-api/variantPredictionResult.ts
  src/shared/types/variation-api/variantStudyPopulation.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Delete browserNavSlice; we aren't using it anymore
  src/content/app/genome-browser/state/browser-nav/browserNavSelectors.ts
  src/content/app/genome-browser/state/browser-nav/browserNavSlice.ts
  src/content/app/genome-browser/state/genomeBrowserReducer.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Fix the type of biotype
  src/content/app/entity-viewer/gene-view/components/gene-view-sidebar/overview/GeneOverview.tsx
  src/content/app/entity-viewer/state/api/queries/geneOverviewQuery.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

PR suggestions
  src/content/app/entity-viewer/gene-view/components/gene-view-sidebar/overview/GeneOverview.scss
  src/content/app/entity-viewer/gene-view/components/gene-view-sidebar/overview/GeneOverview.test.tsx
  src/content/app/entity-viewer/gene-view/components/gene-view-sidebar/overview/GeneOverview.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint
