Repository Ensembl/ensembl-client: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

.lintstagedrc.json:

{
  "*.{ts,tsx}": [
    "eslint --max-warnings=0",
    "manage-licence-header add",
    "prettier --write"
  ],
  "*.css": [
    "stylelint"
  ]
}

Remove special-case rendering for HGVS variant representation
  WORK_NOTES.md
  src/content/app/tools/vep/views/vep-form/vep-form-options-section/VepFormOptionsSection.tsx
  src/content/app/tools/vep/views/vep-form/vep-form-options-section/vep-form-options-panel/VepFormOptionsPanel.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Remove the notion of 'locked children'
  src/content/app/tools/vep/types/vepFormConfig.ts
  src/content/app/tools/vep/views/vep-form/vep-form-options-section/vep-form-options-panel/VepFormOptionsPanel.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Fix condition for error message
  src/content/app/tools/vep/views/vep-form/vep-form-options-section/VepFormOptionsSection.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Remove the 'mono' formatting parameter from the spec and from renderers
  src/content/app/tools/vep/types/vepDisplaySpec.ts
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-annotation-detail/displaySpec.fixture.ts
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-annotation-detail/displaySpecRenderer.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update work notes
  WORK_NOTES.md
Due: none

Update the top bar of the VEP form
  src/content/app/tools/vep/components/vep-top-bar/VepFormTopBar.tsx
  src/content/app/tools/vep/components/vep-top-bar/VepTopBar.module.css
  src/content/app/tools/vep/views/vep-form/VepForm.module.css
  src/content/app/tools/vep/views/vep-form/VepForm.tsx
  src/content/app/tools/vep/views/vep-form/vep-submission-name/VepSubmissionName.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Make the ShowHide component accept same properties as a button
  src/shared/components/show-hide/ShowHide.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

v3 genome search update
  src/content/app/species-selector/components/genomes-download-button/GenomesDownloadButton.tsx
  src/content/app/species-selector/state/species-selector-api-slice/speciesSelectorApiSlice.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

WIP for improving the behaviour of the 'Expand all' button
  src/content/app/tools/vep/views/vep-submission-results/VepSubmissionResults.module.css
  src/content/app/tools/vep/views/vep-submission-results/VepSubmissionResults.tsx
  src/shared/hooks/usePendingUIFlags.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Combine two download buttons into one
  src/content/app/tools/vep/components/vep-submission-header/DownloadOptions.module.css
  src/content/app/tools/vep/components/vep-submission-header/DownloadOptions.tsx
  src/content/app/tools/vep/components/vep-submission-header/VepSubmissionHeader.tsx
  src/content/app/tools/vep/views/vep-submission-results/VepSubmissionResults.tsx
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-filters/VepResultsFilters.tsx
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-filters/resultsFilterFields.ts
  src/shared/components/button/Button.module.css
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Update styles: remove table border above the expanded 'details' block
  src/content/app/tools/vep/views/vep-submission-results/VepSubmissionResults.module.css
  src/shared/components/table/Table.module.css
Due: stylelint

Some CSS updates for the contents of the details panel in VepSubmissionResults
  src/content/app/tools/vep/views/vep-submission-results/VepSubmissionResults.tsx
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-annotation-detail/VepResultsAnnotationDetail.module.css
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-annotation-detail/annotationRows.test.tsx
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-annotation-detail/annotationRows.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Style: rearrange some imports in a file
  src/content/app/tools/vep/views/vep-submission-results/VepSubmissionResults.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Set line height at 20px for all content of the details panel
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-annotation-detail/VepResultsAnnotationDetail.module.css
Due: stylelint

Remove ExternalLinkIcon component; use the shared ExternalLink component
  src/content/app/tools/vep/components/external-link-icon/ExternalLinkIcon.module.css
  src/content/app/tools/vep/components/external-link-icon/ExternalLinkIcon.tsx
  src/content/app/tools/vep/views/vep-form/vep-form-options-section/vep-form-options-panel/OptionHelpText.tsx
  src/content/app/tools/vep/views/vep-form/vep-form-options-section/vep-form-options-panel/optionHelp.module.css
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-annotation-detail/VepResultsAnnotationDetail.module.css
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-annotation-detail/displaySpecRenderer.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Fix failing tests
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-annotation-detail/displaySpecRenderer.test.tsx
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-annotation-detail/displaySpecRenderer.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Minor change of a comment
  src/content/app/tools/vep/views/vep-submission-results/VepSubmissionResults.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Remove some unnecessary tests
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-annotation-detail/displaySpecRenderer.test.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Replace 'it' functions with 'test' functions for tests that don't start with a verb
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-annotation-detail/displaySpecRenderer.test.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Clean up some comments
  src/content/app/tools/vep/components/star-rating/StarRating.tsx
  src/content/app/tools/vep/components/vep-submission-header/VepSubmissionHeader.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Remove intersection observer from VepResultsAnnotationDetail
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-annotation-detail/VepResultsAnnotationDetail.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Move human-related logic from VepSubmissionResults component into VepResultsFilters component
  src/content/app/tools/vep/views/vep-submission-results/VepSubmissionResults.tsx
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-filters/VepResultsFilters.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Remove some comments
  src/content/app/tools/vep/views/vep-submission-results/VepSubmissionResults.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Improve click responsiveness of ExpandAllAnnotationsToggle by memoizing VariantRow
  src/content/app/tools/vep/components/vep-submission-header/VepSubmissionHeader.tsx
  src/content/app/tools/vep/views/vep-submission-results/VepSubmissionResults.module.css
  src/content/app/tools/vep/views/vep-submission-results/VepSubmissionResults.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Update default delay for usePendingUIFlags
  src/shared/hooks/usePendingUIFlags.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Add Ensembl UI development skill
  .agents/skills/ensembl-ui/SKILL.md
  .agents/skills/ensembl-ui/agents/openai.yaml
Due: none

Update a test
  src/content/app/tools/vep/utils/annotationFormatters.test.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Remove additional code for generating links, and fix links for transcripts and proteins
  src/content/app/tools/vep/utils/annotationFormatters.ts
  src/content/app/tools/vep/utils/buildProtvarUrlFromHgvsg.ts
  src/content/app/tools/vep/utils/featureExplorerUrls.test.ts
  src/content/app/tools/vep/utils/featureExplorerUrls.ts
  src/content/app/tools/vep/views/vep-submission-results/VepSubmissionResults.module.css
  src/content/app/tools/vep/views/vep-submission-results/VepSubmissionResults.tsx
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-annotation-detail/displaySpecRenderer.tsx
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-gene/VepResultsGene.tsx
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-location/VepResultsLocation.tsx
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-transcript/VepResultsTranscript.module.css
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-transcript/VepResultsTranscript.tsx
  src/shared/helpers/urlHelper.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Fix tests
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-annotation-detail/displaySpecRenderer.test.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Remove client-side checks of gene or transcript id input in filters
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-filters/TokenListInput.tsx
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-filters/VepResultsFilters.module.css
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-filters/resultsFilterFields.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Remove comments from a file
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-annotation-detail/resolveValuePiece.test.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Remove some comments
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-annotation-detail/VepResultsAnnotationDetail.test.tsx
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-annotation-detail/VepResultsAnnotationDetail.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

initial sequence viewer ideas
  src/content/app/entity-viewer/gene-view/GeneView.tsx
  src/content/app/entity-viewer/gene-view/components/default-transcripts-list/transcripts-list-item-info/TranscriptsListItemInfo.tsx
  src/content/app/entity-viewer/state/api/queries/defaultGeneQuery.ts
  src/content/app/entity-viewer/transcript-view/components/transcript-details/TranscriptDetails.tsx
  src/content/app/entity-viewer/transcript-view/components/transcript-view-sidebar/sidebar-default/SidebarDefault.tsx
  src/content/app/sequence-viewer/SequenceViewer.module.css
  src/content/app/sequence-viewer/SequenceViewer.tsx
  src/content/app/sequence-viewer/SequenceViewerPage.tsx
  src/content/app/sequence-viewer/state/api/sequenceViewerApiSlice.ts
  src/header/launchbar/Launchbar.tsx
  src/header/launchbar/SequenceViewerLaunchbarButton.tsx
  src/routes/routesConfig.tsx
  src/shared/components/app-icon/SequenceViewerIcon.tsx
  src/shared/components/view-in-app/ViewInApp.tsx
  src/shared/helpers/urlHelper.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Update comments in a test
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-annotation-detail/VepResultsAnnotationDetail.test.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Remove some comments
  src/content/app/tools/vep/utils/openTargetsVariantId.ts
  src/content/app/tools/vep/utils/resultsPanels.test.ts
  src/content/app/tools/vep/utils/resultsPanels.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Remove unhelpful comments
  src/content/app/tools/vep/views/vep-form/vep-form-options-section/vep-form-options-panel/VepFormOptionsPanel.module.css
  src/content/app/tools/vep/views/vep-form/vep-form-options-section/vep-form-options-panel/VepFormOptionsPanel.tsx
  src/content/app/tools/vep/views/vep-form/vep-form-options-section/vep-form-options-panel/optionHelp.test.ts
  src/content/app/tools/vep/views/vep-form/vep-form-options-section/vep-form-options-panel/optionHelp.ts
  src/content/app/tools/vep/views/vep-form/vep-form-options-section/vep-form-options-panel/panelSelectionUpdates.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Use TextButton instead of plain button, update CSS, and remove useless comments
  WORK_NOTES.md
  src/content/app/tools/vep/views/vep-form/vep-form-options-section/vep-form-options-panel/VepFormOptionsPanel.module.css
  src/content/app/tools/vep/views/vep-form/vep-form-options-section/vep-form-options-panel/VepFormOptionsPanel.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Add pre-populated lists of genomes that can be selected for VEP
  src/content/app/tools/vep/state/vep-api/vepApiSlice.ts
  src/content/app/tools/vep/views/vep-species-selector/VepGenomesQuickList.module.css
  src/content/app/tools/vep/views/vep-species-selector/VepGenomesQuickList.tsx
  src/content/app/tools/vep/views/vep-species-selector/VepSpeciesSelector.module.css
  src/content/app/tools/vep/views/vep-species-selector/VepSpeciesSelector.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Have genome lozenges always enabled, and always capable of selecting genomes
  src/content/app/tools/vep/components/vep-app-bar/VepAppBar.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write
