Repository Ensembl/ensembl-client: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

.lintstagedrc.json:

{
  "*.{ts,tsx}": [
    "eslint --max-warnings=0",
    "manage-licence-header add",
    "prettier --write"
  ],
  "*.scss": [
    "stylelint",
    "prettier --write"
  ]
}

Fix useBrowserRouting test
  src/content/app/genome-browser/hooks/useBrowserRouting.test.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

update thoas deprecated byId to by_id
  src/content/app/entity-viewer/state/api/queries/defaultGeneQuery.ts
  src/content/app/entity-viewer/state/api/queries/geneExternalReferencesQuery.ts
  src/content/app/entity-viewer/state/api/queries/geneForSequenceDownloadQuery.ts
  src/content/app/entity-viewer/state/api/queries/geneOverviewQuery.ts
  src/content/app/entity-viewer/state/api/queries/genePageMetaQuery.ts
  src/content/app/entity-viewer/state/api/queries/geneSummaryQuery.ts
  src/content/app/genome-browser/state/api/queries/geneSummaryQuery.ts
  src/content/app/genome-browser/state/api/queries/trackPanelGeneQuery.ts
  src/content/app/genome-browser/state/api/queries/transcriptInZmenuQuery.ts
  src/content/app/genome-browser/state/api/queries/transcriptSummaryQuery.ts
  src/shared/components/instant-download/instant-download-fetch/fetchSequenceChecksums.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

update product query
  src/content/app/entity-viewer/state/api/queries/proteinDomainsQuery.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

PR feedback
  src/root/Root.tsx
  src/shared/helpers/scrollbarWidth.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Minor updates
  src/shared/helpers/scrollbarWidth.ts
  src/styles/main.scss
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Fix top position
  src/shared/helpers/scrollbarWidth.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

update test
  src/content/app/tools/blast/state/blast-form/blastFormSlice.test.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

show genomic hits diagram for softmasked sequences
  src/content/app/tools/blast/blast-download/submissionDownload.ts
  src/content/app/tools/blast/views/blast-submission-results/components/blast-results-per-sequence/BlastResultsPerSequence.tsx
  src/content/app/tools/blast/views/blast-submission-results/components/single-blast-job-result/SingleBlastJobResult.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Bring back the 404 http status code for missing routes (#891)
  src/server/routes/viewsRouter.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Replace "all" chunks with "initial" in splitChunks optimisation for the vendors module (#890)
  babel.config.js
  package.json
  webpack/client/production.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update reference to variables
  src/content/app/genome-browser/hooks/useFocusTrack.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Global padding for blast (#883)
  src/content/app/tools/blast/BlastPage.scss
  src/content/app/tools/blast/BlastPage.tsx
  src/content/app/tools/blast/views/blast-form/BlastForm.scss
  src/content/app/tools/blast/views/blast-submission-results/BlastSubmissionResults.scss
  src/content/app/tools/blast/views/blast-submissions/BlastSubmissions.scss
  src/root/Root.tsx
  src/shared/components/layout/StandardAppLayout.scss
  src/shared/helpers/scrollbarWidth.ts
  src/styles/_settings.scss
  src/styles/main.scss
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

update thoas deprecated byId to by_id (#892)
  src/content/app/entity-viewer/state/api/queries/defaultGeneQuery.ts
  src/content/app/entity-viewer/state/api/queries/geneExternalReferencesQuery.ts
  src/content/app/entity-viewer/state/api/queries/geneForSequenceDownloadQuery.ts
  src/content/app/entity-viewer/state/api/queries/geneOverviewQuery.ts
  src/content/app/entity-viewer/state/api/queries/genePageMetaQuery.ts
  src/content/app/entity-viewer/state/api/queries/geneSummaryQuery.ts
  src/content/app/entity-viewer/state/api/queries/proteinDomainsQuery.ts
  src/content/app/genome-browser/state/api/queries/geneSummaryQuery.ts
  src/content/app/genome-browser/state/api/queries/trackPanelGeneQuery.ts
  src/content/app/genome-browser/state/api/queries/transcriptInZmenuQuery.ts
  src/content/app/genome-browser/state/api/queries/transcriptSummaryQuery.ts
  src/shared/components/instant-download/instant-download-fetch/fetchSequenceChecksums.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

update config
  tests/fixtures/blast/blastSettingsConfig.json
Due: none

Reimplement focus locations (formerly, focus regions) (#889)
  package-lock.json
  package.json
  src/content/app/genome-browser/components/browser-sidebar-modal/modal-views/BookmarksModal.test.tsx
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/TrackPanelList.scss
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/TrackPanelList.test.tsx
  src/content/app/genome-browser/hooks/useBrowserRouting.test.tsx
  src/content/app/genome-browser/hooks/useBrowserRouting.ts
  src/content/app/genome-browser/hooks/useFocusTrack.ts
  src/content/app/genome-browser/hooks/useGenomeBrowser.ts
  src/content/app/genome-browser/hooks/useGenomeBrowserTracks.ts
  src/content/app/genome-browser/state/focus-object/focusObjectSlice.ts
  src/shared/components/feature-summary-strip/FeatureSummaryStrip.test.tsx
  src/shared/components/feature-summary-strip/FeatureSummaryStrip.tsx
  src/shared/components/feature-summary-strip/LocationSummaryStrip.tsx
  src/shared/components/feature-summary-strip/index.ts
  src/shared/types/focus-object/focusObjectTypes.ts
  tests/fixtures/focus-object.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Update launchbar button for Entity Viewer to avoid the flickering interstitial (#887)
  src/content/app/entity-viewer/shared/components/entity-viewer-app-bar/EntityViewerAppBar.tsx
  src/content/app/entity-viewer/state/gene-view/view/geneViewViewSelectors.ts
  src/header/launchbar/EntityViewerLaunchbarButton.tsx
  src/header/launchbar/Launchbar.tsx
  src/header/launchbar/LaunchbarButton.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update protein domains image to show a tooltip
  src/content/app/entity-viewer/gene-view/components/protein-domain-image/ProteinDomainImage.scss
  src/content/app/entity-viewer/gene-view/components/protein-domain-image/ProteinDomainImage.tsx
  src/content/app/entity-viewer/state/api/queries/proteinDomainsQuery.ts
  src/shared/types/thoas/product.ts
  tests/fixtures/entity-viewer/product.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Fix CSS, and use domain id for link in the tooltip
  src/content/app/entity-viewer/gene-view/components/gene-function/GeneFunction.scss
  src/content/app/entity-viewer/gene-view/components/protein-domain-image/ProteinDomainImage.scss
  src/content/app/entity-viewer/gene-view/components/protein-domain-image/ProteinDomainImage.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Use a state setter function for a ref
  src/content/app/entity-viewer/gene-view/components/gene-function/GeneFunction.scss
  src/content/app/entity-viewer/gene-view/components/protein-domain-image/ProteinDomainImage.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Move position:absolute into the CSS file
  src/content/app/entity-viewer/gene-view/components/protein-domain-image/ProteinDomainImage.scss
  src/content/app/entity-viewer/gene-view/components/protein-domain-image/ProteinDomainImage.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

add new navigation panel
  src/content/app/genome-browser/components/browser-location-indicator/BrowserLocationIndicator.scss
  src/content/app/genome-browser/components/browser-location-indicator/BrowserLocationIndicator.tsx
  src/content/app/genome-browser/components/browser-nav/BrowserNavIcon.scss
  src/content/app/genome-browser/components/browser-nav/BrowserNavIcon.tsx
  src/content/app/genome-browser/components/browser-nav/browserNavConfig.ts
  src/content/app/genome-browser/components/browser-reset/BrowserReset.tsx
  src/content/app/genome-browser/components/browser-sidebar-modal/BrowserSidebarModal.tsx
  src/content/app/genome-browser/components/browser-sidebar-modal/modal-views/navigate-modal/NavigateModal.scss
  src/content/app/genome-browser/components/browser-sidebar-modal/modal-views/navigate-modal/NavigateModal.tsx
  src/content/app/genome-browser/components/browser-sidebar-modal/modal-views/navigate-modal/NewLocationForm.tsx
  src/content/app/genome-browser/components/browser-sidebar-modal/modal-views/navigate-modal/RegionForm.tsx
  src/content/app/genome-browser/components/browser-sidebar-toolstrip/BrowserSidebarToolstrip.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Fix tests
  src/content/app/genome-browser/components/browser-location-indicator/BrowserLocationIndicator.test.tsx
  src/content/app/genome-browser/components/browser-nav/BrowserNavIcon.test.tsx
  src/content/app/genome-browser/state/browser-nav/browserNavSlice.ts
  tests/fixtures/browser.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Make sure the sequence in the BLAST submission params section wraps over multiple lines
  src/content/app/tools/blast/views/blast-submission-results/components/job-parameters/JobParameters.scss
Due: prettier --write, stylelint

Fix access to shouldReportAnalytics parameter in the config
  src/content/html/Html.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update protein domains image to show domain information in a tooltip (#893)
  src/content/app/entity-viewer/gene-view/components/gene-function/GeneFunction.scss
  src/content/app/entity-viewer/gene-view/components/protein-domain-image/ProteinDomainImage.scss
  src/content/app/entity-viewer/gene-view/components/protein-domain-image/ProteinDomainImage.tsx
  src/content/app/entity-viewer/state/api/queries/proteinDomainsQuery.ts
  src/shared/types/thoas/product.ts
  tests/fixtures/entity-viewer/product.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Make sure the sequence in the BLAST submission params section wraps over multiple lines (#895)
  src/content/app/tools/blast/views/blast-submission-results/components/job-parameters/JobParameters.scss
Due: prettier --write, stylelint

Update database value for softmasked sequences (#888)
  src/content/app/tools/blast/blast-download/submissionDownload.ts
  src/content/app/tools/blast/state/blast-form/blastFormSlice.test.ts
  src/content/app/tools/blast/types/blastSettings.ts
  src/content/app/tools/blast/views/blast-submission-results/components/blast-results-per-sequence/BlastResultsPerSequence.tsx
  src/content/app/tools/blast/views/blast-submission-results/components/single-blast-job-result/SingleBlastJobResult.tsx
  tests/fixtures/blast/blastSettingsConfig.json
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

refactor navigation modal
  src/content/app/genome-browser/components/browser-sidebar-modal/BrowserSidebarModal.tsx
  src/content/app/genome-browser/components/browser-sidebar-modal/modal-views/navigate-modal/NavigateLocationModal.tsx
  src/content/app/genome-browser/components/browser-sidebar-modal/modal-views/navigate-modal/NavigateModal.scss
  src/content/app/genome-browser/components/browser-sidebar-modal/modal-views/navigate-modal/NavigateModal.tsx
  src/content/app/genome-browser/components/browser-sidebar-modal/modal-views/navigate-modal/NavigateRegionModal.tsx
  src/content/app/genome-browser/components/browser-sidebar-toolstrip/BrowserSidebarToolstrip.tsx
  src/content/app/genome-browser/state/browser-sidebar-modal/browserSidebarModalSlice.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Update genome browser to version 0.5.3
  package-lock.json
  package.json
  src/content/app/genome-browser/hooks/useFocusTrack.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

move BrowserNavIcon to its own directory
  src/content/app/genome-browser/components/browser-nav-icon/BrowserNavIcon.scss
  src/content/app/genome-browser/components/browser-nav-icon/BrowserNavIcon.test.tsx
  src/content/app/genome-browser/components/browser-nav-icon/BrowserNavIcon.tsx
  src/content/app/genome-browser/components/browser-nav-icon/browserNavConfig.ts
  src/content/app/genome-browser/components/browser-nav/BrowserNavBarControls.test.tsx
  src/content/app/genome-browser/components/browser-nav/BrowserNavBarControls.tsx
  src/content/app/genome-browser/components/browser-sidebar-modal/modal-views/navigate-modal/NavigateRegionModal.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Syntactic improvement
  src/content/app/genome-browser/hooks/useFocusTrack.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Remove browser nav bar components and tests
  src/content/app/genome-browser/Browser.test.tsx
  src/content/app/genome-browser/Browser.tsx
  src/content/app/genome-browser/components/browser-bar/BrowserBar.tsx
  src/content/app/genome-browser/components/browser-image/BrowserImage.tsx
  src/content/app/genome-browser/components/browser-location-indicator/BrowserLocationIndicator.scss
  src/content/app/genome-browser/components/browser-location-indicator/BrowserLocationIndicator.test.tsx
  src/content/app/genome-browser/components/browser-location-indicator/BrowserLocationIndicator.tsx
  src/content/app/genome-browser/components/browser-nav-icon/BrowserNavIcon.scss
  src/content/app/genome-browser/components/browser-nav-icon/BrowserNavIcon.test.tsx
  src/content/app/genome-browser/components/browser-nav-icon/BrowserNavIcon.tsx
  src/content/app/genome-browser/components/browser-nav-icon/browserNavConfig.ts
  src/content/app/genome-browser/components/browser-nav/BrowserNavBar.scss
  src/content/app/genome-browser/components/browser-nav/BrowserNavBar.test.tsx
  src/content/app/genome-browser/components/browser-nav/BrowserNavBar.tsx
  src/content/app/genome-browser/components/browser-nav/BrowserNavBarControls.scss
  src/content/app/genome-browser/components/browser-nav/BrowserNavBarControls.test.tsx
  src/content/app/genome-browser/components/browser-nav/BrowserNavBarControls.tsx
  src/content/app/genome-browser/components/browser-nav/BrowserNavBarMain.scss
  src/content/app/genome-browser/components/browser-nav/BrowserNavBarMain.test.tsx
  src/content/app/genome-browser/components/browser-nav/BrowserNavBarMain.tsx
  src/content/app/genome-browser/components/browser-nav/BrowserNavBarRegionSwitcher.scss
  src/content/app/genome-browser/components/browser-nav/BrowserNavBarRegionSwitcher.test.tsx
  src/content/app/genome-browser/components/browser-nav/BrowserNavBarRegionSwitcher.tsx
  src/content/app/genome-browser/components/browser-region-editor/BrowserRegionEditor.scss
  src/content/app/genome-browser/components/browser-region-editor/BrowserRegionEditor.test.tsx
  src/content/app/genome-browser/components/browser-region-editor/BrowserRegionEditor.tsx
  src/content/app/genome-browser/components/browser-region-field/BrowserRegionField.scss
  src/content/app/genome-browser/components/browser-region-field/BrowserRegionField.test.tsx
  src/content/app/genome-browser/components/browser-region-field/BrowserRegionField.tsx
  src/content/app/genome-browser/state/browser-nav/browserNavSelectors.ts
  src/content/app/genome-browser/state/browser-nav/browserNavSlice.ts
  tests/fixtures/browser.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

update StandardAppLayout
  src/content/app/entity-viewer/gene-view/components/gene-view-sidebar/GeneViewSideBar.tsx
  src/content/app/genome-browser/components/track-panel/TrackPanel.tsx
  src/content/app/species/components/species-page-sidebar/SpeciesPageSidebar.tsx
  src/shared/components/layout/StandardAppLayout.scss
  src/shared/components/layout/sidebar-modal/SidebarModal.scss
  src/shared/components/layout/sidebar/Sidebar.scss
  src/shared/components/layout/sidebar/Sidebar.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Update genome browser to version 0.5.3 (#896)
  package-lock.json
  package.json
  src/content/app/genome-browser/hooks/useFocusTrack.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

PR suggestions
  src/shared/components/layout/StandardAppLayout.scss
  src/shared/components/layout/sidebar/Sidebar.scss
  src/shared/components/layout/sidebar/Sidebar.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Code review suggestions
  src/shared/components/layout/StandardAppLayout.scss
  src/shared/components/layout/sidebar-modal/SidebarModal.scss
  src/shared/components/layout/sidebar-modal/SidebarModal.tsx
  src/shared/components/layout/sidebar/Sidebar.scss
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Update StandardAppLayout and make sidebar modal background customisable (#898)
  src/content/app/entity-viewer/gene-view/components/gene-view-sidebar/GeneViewSideBar.tsx
  src/content/app/genome-browser/components/track-panel/TrackPanel.tsx
  src/content/app/species/components/species-page-sidebar/SpeciesPageSidebar.tsx
  src/shared/components/layout/StandardAppLayout.scss
  src/shared/components/layout/sidebar-modal/SidebarModal.scss
  src/shared/components/layout/sidebar/Sidebar.scss
  src/shared/components/layout/sidebar/Sidebar.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

PR suggestion
  src/content/app/genome-browser/components/browser-nav-button/BrowserNavButton.scss
  src/content/app/genome-browser/components/browser-nav-button/BrowserNavButton.test.tsx
  src/content/app/genome-browser/components/browser-nav-button/BrowserNavButton.tsx
  src/content/app/genome-browser/components/browser-nav-button/browserNavConfig.ts
  src/content/app/genome-browser/state/browser-nav/browserNavSelectors.ts
  src/content/app/genome-browser/state/browser-nav/browserNavSlice.ts
  tests/fixtures/browser.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Rename iconStatus to buttonStatus in BrowserNavButton
  src/content/app/genome-browser/components/browser-nav-button/BrowserNavButton.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Remove browser navigation bar components and tests (#897)
  src/content/app/genome-browser/Browser.test.tsx
  src/content/app/genome-browser/Browser.tsx
  src/content/app/genome-browser/components/browser-bar/BrowserBar.tsx
  src/content/app/genome-browser/components/browser-image/BrowserImage.tsx
  src/content/app/genome-browser/components/browser-location-indicator/BrowserLocationIndicator.scss
  src/content/app/genome-browser/components/browser-location-indicator/BrowserLocationIndicator.test.tsx
  src/content/app/genome-browser/components/browser-location-indicator/BrowserLocationIndicator.tsx
  src/content/app/genome-browser/components/browser-nav-button/BrowserNavButton.scss
  src/content/app/genome-browser/components/browser-nav-button/BrowserNavButton.test.tsx
  src/content/app/genome-browser/components/browser-nav-button/BrowserNavButton.tsx
  src/content/app/genome-browser/components/browser-nav-button/browserNavConfig.ts
  src/content/app/genome-browser/components/browser-nav/BrowserNavBar.scss
  src/content/app/genome-browser/components/browser-nav/BrowserNavBar.test.tsx
  src/content/app/genome-browser/components/browser-nav/BrowserNavBar.tsx
  src/content/app/genome-browser/components/browser-nav/BrowserNavBarControls.scss
  src/content/app/genome-browser/components/browser-nav/BrowserNavBarControls.test.tsx
  src/content/app/genome-browser/components/browser-nav/BrowserNavBarControls.tsx
  src/content/app/genome-browser/components/browser-nav/BrowserNavBarMain.scss
  src/content/app/genome-browser/components/browser-nav/BrowserNavBarMain.test.tsx
  src/content/app/genome-browser/components/browser-nav/BrowserNavBarMain.tsx
  src/content/app/genome-browser/components/browser-nav/BrowserNavBarRegionSwitcher.scss
  src/content/app/genome-browser/components/browser-nav/BrowserNavBarRegionSwitcher.test.tsx
  src/content/app/genome-browser/components/browser-nav/BrowserNavBarRegionSwitcher.tsx
  src/content/app/genome-browser/components/browser-region-editor/BrowserRegionEditor.scss
  src/content/app/genome-browser/components/browser-region-editor/BrowserRegionEditor.test.tsx
  src/content/app/genome-browser/components/browser-region-editor/BrowserRegionEditor.tsx
  src/content/app/genome-browser/components/browser-region-field/BrowserRegionField.scss
  src/content/app/genome-browser/components/browser-region-field/BrowserRegionField.test.tsx
  src/content/app/genome-browser/components/browser-region-field/BrowserRegionField.tsx
  src/content/app/genome-browser/state/browser-nav/browserNavSelectors.ts
  src/content/app/genome-browser/state/browser-nav/browserNavSlice.ts
  tests/fixtures/browser.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint
