Repository Ensembl/ensembl-client: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

feat(vep): render a split row's value as a link each
  src/content/app/tools/vep/types/vepDisplaySpec.ts
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-annotation-detail/displaySpec.fixture.ts
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-annotation-detail/displaySpecRenderer.test.tsx
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-annotation-detail/displaySpecRenderer.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

fix(vep): drop the Impact row from the RiboSeqORFs fixture
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-annotation-detail/displaySpec.fixture.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Hide the 'Enable all default options' button in production environment
  src/content/app/tools/vep/views/vep-form/vep-form-options-section/VepFormOptionsSection.module.css
  src/content/app/tools/vep/views/vep-form/vep-form-options-section/VepFormOptionsSection.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

feat(vep): render a split row's value as a link each (#1356)
  src/content/app/tools/vep/types/vepDisplaySpec.ts
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-annotation-detail/displaySpec.fixture.ts
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-annotation-detail/displaySpecRenderer.test.tsx
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-annotation-detail/displaySpecRenderer.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

fix(vep): drop the Impact row from the RiboSeqORFs fixture (#1357)
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-annotation-detail/displaySpec.fixture.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Stop tracking WORK_NOTES and usePendingUIFlags hook
  WORK_NOTES.md
  src/shared/hooks/usePendingUIFlags.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Improve a test and remove unnecessary comments
  src/content/app/tools/vep/types/vepDisplaySpec.ts
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-annotation-detail/displaySpecRenderer.test.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Delete unused (and out-of-date) types from vepResultsResponse
  src/content/app/tools/vep/types/vepResultsResponse.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Clean up displaySpecRenderer tests and comments
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-annotation-detail/displaySpecRenderer.test.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update comments for annotationFormatters
  src/content/app/tools/vep/utils/annotationFormatters.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Links in a pointer box should be same colour as other text
  src/shared/components/pointer-box/PointerBox.module.css
Due: stylelint

Tiny comment update
  src/content/app/tools/vep/types/vepDisplaySpec.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Clean up browser storage from old VEP submissions during VEP version bump
  src/services/indexeddb-migrations/vepStoreMigrations.test.ts
  src/services/indexeddb-migrations/vepStoreMigrations.ts
  src/services/indexeddb-service.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Bump indexeddb version
  src/services/indexeddb-service.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Clear locally stored VEP data to avoid backwards incompatibility issues (#1358)
  src/services/indexeddb-migrations/vepStoreMigrations.test.ts
  src/services/indexeddb-migrations/vepStoreMigrations.ts
  src/services/indexeddb-service.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Continue removing comments
  src/content/app/tools/vep/types/vepFormConfig.ts
  src/content/app/tools/vep/types/vepResultsFilters.ts
  src/content/app/tools/vep/views/vep-form/vep-form-options-section/vep-form-options-panel/OptionHelpText.tsx
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-filters/VepResultsFilters.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Remove the explicit enumeration of filter field ids from the client
  src/content/app/tools/vep/types/vepResultsFilters.ts
  src/content/app/tools/vep/views/vep-submission-results/VepSubmissionResults.tsx
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-filters/ScoreInput.tsx
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-filters/VepResultsFilters.tsx
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-filters/resultsFilterFields.test.ts
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-filters/resultsFilterFields.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Add npm script for debugging tests
  package.json
Due: none

Apply minor and patch updates
  package-lock.json
  package.json
Due: none

Apply npm audit fix
  package-lock.json
Due: none

Update vitest to 5.0; generate service worker file for msw and save it into a test directory
  package-lock.json
  package.json
  tests/public/mockServiceWorker.js
  vitest.config.browser.mts
  vitest.config.mts
Due: none

Update dependencies (#1360)
  package-lock.json
  package.json
  tests/public/mockServiceWorker.js
  vitest.config.browser.mts
  vitest.config.mts
Due: none

Add route for reporting open telemetry metrics for Prometheus
  package-lock.json
  package.json
  src/server/middleware/requestMetricsMiddleware.ts
  src/server/routes/healthcheckRouter.ts
  src/server/routes/metricsRouter.ts
  src/server/server.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Some more cleanup
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-annotation-detail/VepResultsAnnotationDetail.tsx
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-annotation-detail/annotationRows.test.tsx
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-filters/AlleleFrequencyInput.tsx
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-filters/ConsequenceMultiSelect.tsx
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-filters/VepResultsFilters.module.css
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-filters/VepResultsFilters.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Continue updating / deleting comments
  src/content/app/tools/vep/utils/annotations.ts
  src/content/app/tools/vep/utils/groupByCategory.ts
  src/content/app/tools/vep/views/vep-form/vep-form-options-section/vep-form-options-panel/VepFormOptionsPanel.tsx
  src/content/app/tools/vep/views/vep-form/vep-form-variants-section/VepFormVariantsSection.tsx
  src/content/app/tools/vep/views/vep-submission-results/VepSubmissionResults.module.css
  src/content/app/tools/vep/views/vep-submission-results/VepSubmissionResults.test.tsx
  src/content/app/tools/vep/views/vep-submission-results/VepSubmissionResults.tsx
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-allele/VepResultsAllele.tsx
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-filters/resultsFilterFields.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Do not use grey colour for heading in VepFormOptionsPanel
  src/content/app/tools/vep/views/vep-form/vep-form-options-section/vep-form-options-panel/VepFormOptionsPanel.module.css
Due: stylelint

Fix endpoint path
  src/server/routes/metricsRouter.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Add healthcheck endpoint and opentelemetry endpoint for collecting metrics (#1362)
  package-lock.json
  package.json
  src/server/middleware/requestMetricsMiddleware.ts
  src/server/routes/healthcheckRouter.ts
  src/server/routes/metricsRouter.ts
  src/server/server.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update request metrics middleware
  src/server/middleware/requestMetricsMiddleware.ts
  src/server/server.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update request metrics middleware (#1363)
  src/server/middleware/requestMetricsMiddleware.ts
  src/server/server.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Throw appropriate error type when transcript is missing
  src/content/app/entity-viewer/shared/server-fetch/entityViewerServerFetch.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Follow-up changes after VEP merge (#1359)
  src/content/app/tools/vep/types/vepFormConfig.ts
  src/content/app/tools/vep/types/vepResultsFilters.ts
  src/content/app/tools/vep/utils/annotations.ts
  src/content/app/tools/vep/utils/groupByCategory.ts
  src/content/app/tools/vep/views/vep-form/vep-form-options-section/vep-form-options-panel/OptionHelpText.tsx
  src/content/app/tools/vep/views/vep-form/vep-form-options-section/vep-form-options-panel/VepFormOptionsPanel.module.css
  src/content/app/tools/vep/views/vep-form/vep-form-options-section/vep-form-options-panel/VepFormOptionsPanel.tsx
  src/content/app/tools/vep/views/vep-form/vep-form-variants-section/VepFormVariantsSection.tsx
  src/content/app/tools/vep/views/vep-submission-results/VepSubmissionResults.module.css
  src/content/app/tools/vep/views/vep-submission-results/VepSubmissionResults.test.tsx
  src/content/app/tools/vep/views/vep-submission-results/VepSubmissionResults.tsx
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-allele/VepResultsAllele.tsx
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-annotation-detail/VepResultsAnnotationDetail.tsx
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-annotation-detail/annotationRows.test.tsx
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-filters/AlleleFrequencyInput.tsx
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-filters/ConsequenceMultiSelect.tsx
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-filters/ScoreInput.tsx
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-filters/VepResultsFilters.module.css
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-filters/VepResultsFilters.tsx
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-filters/resultsFilterFields.test.ts
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-filters/resultsFilterFields.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Show a missing feature screen for absent transcript
  src/content/app/entity-viewer/EntityViewerForTranscript.tsx
  src/shared/components/error-screen/url-errors/MissingFeatureError.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Fix 500 error on missing transcript pages (#1364)
  src/content/app/entity-viewer/EntityViewerForTranscript.tsx
  src/content/app/entity-viewer/shared/server-fetch/entityViewerServerFetch.ts
  src/shared/components/error-screen/url-errors/MissingFeatureError.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Remove track trigger dependencies
  src/content/app/genome-browser/components/track-panel/components/track-panel-tabs/TrackPanelTabs.test.tsx
  src/content/app/genome-browser/hooks/useGenomeBrowser.ts
  src/content/app/genome-browser/hooks/useGenomeBrowserTracks.ts
  src/content/app/genome-browser/state/api/genomeBrowserApiSlice.ts
  src/content/app/genome-browser/state/types/tracks.ts
  tests/fixtures/genomes.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Path conditions:
  eslint --max-warnings=0: any of: *.{ts,tsx}
  manage-licence-header add: any of: *.{ts,tsx}
  prettier --write: any of: *.{ts,tsx}
  stylelint: any of: *.css
