Repository Ensembl/ensembl-client: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

.lintstagedrc.json:

{
  "*.{ts,tsx}": [
    "eslint --max-warnings=0",
    "manage-licence-header add",
    "prettier --write"
  ],
  "*.scss": [
    "stylelint",
    "prettier --write"
  ]
}

Add gene search component to Species Selector (#966)
  config.ts
  src/content/app/species-selector/SpeciesSelector.scss
  src/content/app/species-selector/SpeciesSelector.tsx
  src/content/app/species-selector/components/find-gene-instructions/FindGeneInstructions.scss
  src/content/app/species-selector/components/find-gene-instructions/FindGeneInstructions.tsx
  src/content/app/species-selector/components/species-search-field/SpeciesSearchField.scss
  src/content/app/species-selector/components/species-selector-app-bar/SpeciesSelectorAppBar.test.tsx
  src/content/app/species-selector/components/species-selector-app-bar/SpeciesSelectorAppBar.tsx
  src/content/app/species-selector/containers/species-search-panel/SpeciesSearchPanel.tsx
  src/server/helpers/getConfigForClient.ts
  src/shared/components/close-button/CloseButton.scss
  src/shared/components/gene-search-button/GeneSearchButton.scss
  src/shared/components/gene-search-button/GeneSearchButton.tsx
  src/shared/components/gene-search-button/GeneSearchCloseButton.tsx
  src/shared/components/gene-search-panel/GeneSearchPanel.scss
  src/shared/components/gene-search-panel/GeneSearchPanel.tsx
  src/shared/components/in-app-search/InAppSearchMatches.tsx
  src/shared/components/in-app-search/test/response-fixture.ts
  src/shared/components/radio-group/RadioGroup.scss
  src/shared/state/api-slices/searchApiSlice.ts
  src/shared/state/in-app-search/inAppSearchSlice.ts
  src/shared/types/search-api/search-match.ts
  src/shared/types/search-api/search-meta.ts
  src/shared/types/search-api/search-results.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Update BLAST settings styles (#972)
  src/content/app/tools/blast/components/blast-settings/BlastSettings.scss
  src/content/app/tools/blast/components/blast-settings/BlastSettings.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Update the Button component
  src/content/app/genome-browser/components/browser-sidebar-modal/modal-views/navigate-modal/LocationNavigation.tsx
  src/content/app/genome-browser/components/browser-sidebar-modal/modal-views/navigate-modal/RegionNavigation.tsx
  src/content/app/species/components/species-title-area/SpeciesTitleArea.tsx
  src/content/app/tools/blast/components/blast-job-submit/BlastJobSubmit.tsx
  src/shared/components/button/Button.scss
  src/shared/components/button/Button.test.tsx
  src/shared/components/button/Button.tsx
  src/shared/components/error-screen/GeneralErrorScreen.tsx
  src/shared/components/in-app-search/InAppSearch.tsx
  stories/shared-components/button/Button.stories.tsx
  tests/fixtures/browser.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Remove onClick={noop} from most of the places
  src/content/app/entity-viewer/shared/components/entity-viewer-sidebar/entity-viewer-sidebar-toolstrip/EntityViewerSidebarToolstrip.tsx
  src/content/app/species/components/species-sidebar-toolstrip/SpeciesSidebarToolstrip.tsx
  stories/shared-components/delete-button/DeleteButton.stories.tsx
  stories/shared-components/pill-button/PillButton.stories.tsx
  stories/shared-components/plus-button/PlusButton.stories.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Add chevrons to links that trigger meganav (#967)
  src/content/app/help/components/help-menu/HelpMenu.scss
  src/content/app/help/components/help-menu/HelpMenu.test.tsx
  src/content/app/help/components/help-menu/HelpMenu.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Fix about and help article height
  src/content/app/about/About.scss
  src/content/app/about/About.tsx
  src/content/app/help/Help.scss
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Add breadcrumbs to About app (#969)
  src/content/app/about/About.scss
  src/content/app/about/About.tsx
  src/content/app/help/Help.scss
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Global left padding is four times the standard gutter now
  src/content/app/entity-viewer/interstitial/entity-viewer-interstitial-instructions/EntityViewerInterstitialInstructions.scss
  src/content/app/genome-browser/components/interstitial/browser-interstitial-instructions/BrowserInterstitialInstructions.scss
  src/styles/_settings.scss
Due: prettier --write, stylelint

Update styles for the Help page
  src/content/app/help/Help.scss
  src/content/app/help/components/help-landing/HelpLanding.scss
  src/content/app/help/components/help-menu/HelpMenu.scss
Due: prettier --write, stylelint

Update gutter on the help page
  src/shared/components/help-article/_helpArticleConstants.scss
Due: prettier --write, stylelint

Update styles
  src/content/app/help/Help.scss
  src/shared/components/help-article/HelpArticle.scss
  src/shared/components/help-article/HelpArticleGrid.scss
  src/styles/_scrollbars.scss
Due: prettier --write, stylelint

Add css variables for button styles; update LoadingButton
  src/shared/components/button/Button.scss
  src/shared/components/communication-framework/contact-us/contact-us-form/ContactUsForm.scss
  src/shared/components/communication-framework/contact-us/contact-us-form/initial/ContactUsInitialForm.tsx
  src/shared/components/loading-button/ControlledLoadingButton.tsx
  src/shared/components/loading-button/LoadingButton.tsx
  stories/shared-components/loading-button/LoadingButton.stories.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Update format of CADD scores
  src/content/app/genome-browser/components/drawer/drawer-views/variant-summary/VariantSummary.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update VariantAllelesSequences component
  src/content/app/genome-browser/components/drawer/drawer-views/variant-summary/VariantSummary.tsx
  src/content/app/genome-browser/components/drawer/drawer-views/variant-summary/variant-alleles-sequences/VariantAllelesSequences.tsx
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/track-panel-items/track-panel-variant/TrackPanelVariant.tsx
  src/shared/components/feature-summary-strip/VariantSummaryStrip.tsx
  src/shared/components/variant-alleles-sequences/VariantAlleleSequences.scss
  src/shared/components/variant-alleles-sequences/VariantAllelesSequences.tsx
  stories/variation/variant-alleles-sequences/VariantAlleleSequences.stories.scss
  stories/variation/variant-alleles-sequences/VariantAllelesSequences.stories.tsx
  stories/variation/variant-alleles-sequences/sampleData.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Update format of CADD scores (#976)
  src/content/app/genome-browser/components/drawer/drawer-views/variant-summary/VariantSummary.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Further refactoring of the Input component (#968)
  src/content/app/species-selector/components/species-search-field/SpeciesSearchField.tsx
  src/shared/components/autosuggest-search-field/AutosuggestSearchField.scss
  src/shared/components/autosuggest-search-field/AutosuggestSearchField.test.tsx
  src/shared/components/autosuggest-search-field/AutosuggestSearchField.tsx
  src/shared/components/in-app-search/InAppSearch.scss
  src/shared/components/in-app-search/InAppSearch.test.tsx
  src/shared/components/in-app-search/InAppSearch.tsx
  src/shared/components/input/FlatInput.test.tsx
  src/shared/components/input/FlatInput.tsx
  src/shared/components/input/Input.scss
  src/shared/components/input/ShadedInput.test.tsx
  src/shared/components/input/ShadedInput.tsx
  src/shared/components/input/useClearInput.test.tsx
  src/shared/components/input/useClearInput.ts
  src/shared/components/input/useInputFocus.ts
  src/shared/components/input/useInputPlaceholder.ts
  src/shared/components/question-button/QuestionButton.tsx
  src/shared/components/search-field/SearchField.test.tsx
  src/shared/components/search-field/SearchField.tsx
  src/shared/hooks/useForwardedRef.ts
  stories/shared-components/input/FlatInputStory.tsx
  stories/shared-components/input/Input.stories.scss
  stories/shared-components/input/ShadedInputStory.tsx
  stories/shared-components/input/SimpleInputStories.tsx
  stories/shared-components/question-button/QuestionButton.stories.tsx
  stories/shared-components/search-field/SearchField.stories.scss
  stories/shared-components/search-field/SearchField.stories.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Do not change scrollbar color
  src/styles/_scrollbars.scss
Due: prettier --write, stylelint

No need for overflow-y:auto on main container of Help
  src/content/app/help/Help.scss
Due: prettier --write, stylelint

ShadedInput no longer uses inputSize prop; change inputSize to size
  src/shared/components/gene-search-panel/GeneSearchPanel.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update global left spacing across different screens (#973)
  src/content/app/entity-viewer/interstitial/entity-viewer-interstitial-instructions/EntityViewerInterstitialInstructions.scss
  src/content/app/genome-browser/components/interstitial/browser-interstitial-instructions/BrowserInterstitialInstructions.scss
  src/content/app/help/Help.scss
  src/content/app/help/components/help-landing/HelpLanding.scss
  src/content/app/help/components/help-menu/HelpMenu.scss
  src/shared/components/help-article/HelpArticle.scss
  src/shared/components/help-article/HelpArticleGrid.scss
  src/shared/components/help-article/_helpArticleConstants.scss
  src/styles/_settings.scss
Due: prettier --write, stylelint

Make VariantAllelesSequences component in the drawer expandable
  src/content/app/genome-browser/components/drawer/drawer-views/variant-summary/VariantSummary.tsx
  src/shared/components/variant-alleles-sequences/VariantAllelesSequences.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Minor cleanup
  src/shared/components/variant-alleles-sequences/VariantAllelesSequences.scss
  src/shared/components/variant-alleles-sequences/VariantAllelesSequences.tsx
  stories/variation/variant-alleles-sequences/VariantAllelesSequences.stories.scss
  stories/variation/variant-alleles-sequences/VariantAllelesSequences.stories.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Update VariantAllelesSequences component (#977)
  src/content/app/genome-browser/components/drawer/drawer-views/variant-summary/VariantSummary.tsx
  src/content/app/genome-browser/components/drawer/drawer-views/variant-summary/variant-alleles-sequences/VariantAllelesSequences.tsx
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/track-panel-items/track-panel-variant/TrackPanelVariant.tsx
  src/shared/components/feature-summary-strip/VariantSummaryStrip.tsx
  src/shared/components/variant-alleles-sequences/VariantAllelesSequences.scss
  src/shared/components/variant-alleles-sequences/VariantAllelesSequences.tsx
  stories/variation/variant-alleles-sequences/VariantAllelesSequences.stories.scss
  stories/variation/variant-alleles-sequences/VariantAllelesSequences.stories.tsx
  stories/variation/variant-alleles-sequences/sampleData.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Add type to state passed to thunk actions
  src/content/app/entity-viewer/state/gene-view/transcripts/geneViewTranscriptsSlice.ts
  src/content/app/entity-viewer/state/gene-view/view/geneViewViewSlice.ts
  src/content/app/entity-viewer/state/general/entityViewerGeneralSlice.ts
  src/content/app/entity-viewer/state/sidebar/entityViewerSidebarSlice.ts
  src/content/app/genome-browser/state/browser-bookmarks/browserBookmarksSlice.ts
  src/content/app/genome-browser/state/browser-general/browserGeneralSlice.ts
  src/content/app/genome-browser/state/browser-sidebar-modal/browserSidebarModalSlice.ts
  src/content/app/genome-browser/state/drawer/drawerSlice.ts
  src/content/app/genome-browser/state/focus-object/focusObjectSlice.ts
  src/content/app/genome-browser/state/track-panel/trackPanelSlice.ts
  src/content/app/species-selector/state/speciesSelectorSlice.ts
  src/content/app/species/state/general/speciesGeneralSlice.ts
  src/content/app/species/state/sidebar/speciesSidebarSlice.ts
  src/global/globalSlice.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Fix type imports in slices
  src/content/app/entity-viewer/state/gene-view/transcripts/geneViewTranscriptsSlice.ts
  src/content/app/entity-viewer/state/gene-view/view/geneViewViewSlice.ts
  src/content/app/entity-viewer/state/general/entityViewerGeneralSlice.ts
  src/content/app/entity-viewer/state/sidebar/entityViewerSidebarSlice.ts
  src/content/app/genome-browser/state/drawer/drawerSlice.ts
  src/content/app/species-selector/state/speciesSelectorEpics.ts
  src/content/app/species-selector/state/speciesSelectorSlice.ts
  src/content/app/species/state/general/speciesGeneralSlice.ts
  src/content/app/species/state/sidebar/speciesSidebarSlice.ts
  src/global/globalSlice.ts
  src/shared/hooks/useApiService.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update min width of species stats wrapper to avoid breaking the layout
  src/content/app/species/components/species-main-view/SpeciesMainView.scss
Due: prettier --write, stylelint

Refactor thunk actions (#978)
  src/content/app/entity-viewer/state/gene-view/transcripts/geneViewTranscriptsSlice.ts
  src/content/app/entity-viewer/state/gene-view/view/geneViewViewSlice.ts
  src/content/app/entity-viewer/state/general/entityViewerGeneralSlice.ts
  src/content/app/entity-viewer/state/sidebar/entityViewerSidebarSlice.ts
  src/content/app/genome-browser/state/browser-bookmarks/browserBookmarksSlice.ts
  src/content/app/genome-browser/state/browser-general/browserGeneralSlice.ts
  src/content/app/genome-browser/state/browser-sidebar-modal/browserSidebarModalSlice.ts
  src/content/app/genome-browser/state/drawer/drawerSlice.ts
  src/content/app/genome-browser/state/focus-object/focusObjectSlice.ts
  src/content/app/genome-browser/state/track-panel/trackPanelSlice.ts
  src/content/app/species-selector/state/speciesSelectorEpics.ts
  src/content/app/species-selector/state/speciesSelectorSlice.ts
  src/content/app/species/state/general/speciesGeneralSlice.ts
  src/content/app/species/state/sidebar/speciesSidebarSlice.ts
  src/global/globalSlice.ts
  src/shared/hooks/useApiService.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Bring interface of our button components in accordance with standard html buttons (#974)
  src/content/app/entity-viewer/shared/components/entity-viewer-sidebar/entity-viewer-sidebar-toolstrip/EntityViewerSidebarToolstrip.tsx
  src/content/app/genome-browser/components/browser-sidebar-modal/modal-views/navigate-modal/LocationNavigation.tsx
  src/content/app/genome-browser/components/browser-sidebar-modal/modal-views/navigate-modal/RegionNavigation.tsx
  src/content/app/species/components/species-sidebar-toolstrip/SpeciesSidebarToolstrip.tsx
  src/content/app/species/components/species-title-area/SpeciesTitleArea.tsx
  src/content/app/tools/blast/components/blast-job-submit/BlastJobSubmit.tsx
  src/shared/components/button/Button.scss
  src/shared/components/button/Button.test.tsx
  src/shared/components/button/Button.tsx
  src/shared/components/communication-framework/contact-us/contact-us-form/ContactUsForm.scss
  src/shared/components/communication-framework/contact-us/contact-us-form/initial/ContactUsInitialForm.tsx
  src/shared/components/error-screen/GeneralErrorScreen.tsx
  src/shared/components/in-app-search/InAppSearch.tsx
  src/shared/components/loading-button/ControlledLoadingButton.tsx
  src/shared/components/loading-button/LoadingButton.tsx
  stories/shared-components/button/Button.stories.tsx
  stories/shared-components/delete-button/DeleteButton.stories.tsx
  stories/shared-components/loading-button/LoadingButton.stories.tsx
  stories/shared-components/pill-button/PillButton.stories.tsx
  stories/shared-components/plus-button/PlusButton.stories.tsx
  tests/fixtures/browser.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Show GB nav buttons only when browserLocation is available
  src/content/app/genome-browser/components/browser-sidebar-modal/modal-views/navigate-modal/RegionNavigation.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update VariantVCF component
  src/content/app/genome-browser/components/drawer/drawer-views/variant-summary/VariantSummary.tsx
  src/content/app/genome-browser/components/drawer/drawer-views/variant-summary/variant-vcf/VariantVCF.scss
  src/shared/components/copy/Copy.tsx
  src/shared/components/variant-vcf/VariantVCF.scss
  src/shared/components/variant-vcf/VariantVCF.tsx
  stories/variation/variant-vcf/VariantVCF.stories.scss
  stories/variation/variant-vcf/VariantVCF.stories.tsx
  stories/variation/variant-vcf/variantVCFSampleData.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Minor cleanup
  src/shared/components/copy/Copy.tsx
  src/shared/components/variant-vcf/VariantVCF.scss
  src/shared/components/variant-vcf/VariantVCF.tsx
  stories/variation/variant-vcf/VariantVCF.stories.scss
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Fix RegionNavigation tests
  src/content/app/genome-browser/components/browser-sidebar-modal/modal-views/navigate-modal/tests/RegionNavigation.test.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Only enable sidebar tabs if tracks available
  src/content/app/genome-browser/components/track-panel/components/track-panel-tabs/TrackPanelTabs.test.tsx
  src/content/app/genome-browser/components/track-panel/components/track-panel-tabs/TrackPanelTabs.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Fix GB breaking when clicked on navigation button before loading complete (#980)
  src/content/app/genome-browser/components/browser-sidebar-modal/modal-views/navigate-modal/RegionNavigation.tsx
  src/content/app/genome-browser/components/browser-sidebar-modal/modal-views/navigate-modal/tests/RegionNavigation.test.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update VariantVCF component (#981)
  src/content/app/genome-browser/components/drawer/drawer-views/variant-summary/VariantSummary.tsx
  src/content/app/genome-browser/components/drawer/drawer-views/variant-summary/variant-vcf/VariantVCF.scss
  src/shared/components/copy/Copy.tsx
  src/shared/components/variant-vcf/VariantVCF.scss
  src/shared/components/variant-vcf/VariantVCF.tsx
  stories/variation/variant-vcf/VariantVCF.stories.scss
  stories/variation/variant-vcf/VariantVCF.stories.tsx
  stories/variation/variant-vcf/variantVCFSampleData.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Update min width of species stats wrapper to avoid breaking the layout (#979)
  src/content/app/species/components/species-main-view/SpeciesMainView.scss
Due: prettier --write, stylelint

Add the forgotten withCopy property for VariantVCF to show the Copy button
  src/content/app/genome-browser/components/drawer/drawer-views/variant-summary/VariantSummary.tsx
  stories/variation/variant-vcf/VariantVCF.stories.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Only enable sidebar tabs if tracks available (#982)
  src/content/app/genome-browser/components/track-panel/components/track-panel-tabs/TrackPanelTabs.test.tsx
  src/content/app/genome-browser/components/track-panel/components/track-panel-tabs/TrackPanelTabs.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Avoid leaving external reference icon on previous line when line wrapping
  src/shared/components/help-article/HelpArticle.scss
Due: prettier --write, stylelint
