Repository Ensembl/ensembl-client: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

variable name update
  src/content/app/genome-browser/components/browser-track-config/BrowserTrackConfig.test.tsx
  src/content/app/genome-browser/components/browser-track-config/track-config-views/GeneTrackConfig.tsx
  src/content/app/genome-browser/components/browser-track-config/track-config-views/TranscriptTrackConfig.tsx
  src/content/app/genome-browser/components/browser-track-config/useBrowserTrackConfig.ts
  src/content/app/genome-browser/hooks/useGenomeBrowser.ts
  src/content/app/genome-browser/state/track-config/trackConfigSlice.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Add real version
  package-lock.json
  package.json
Due: none

context for alert icon and updating test
  src/content/app/tools/blast/components/blast-input-sequences/BlastInputSequence.test.tsx
  src/content/app/tools/blast/components/blast-input-sequences/BlastInputSequence.tsx
  src/content/app/tools/blast/components/blast-input-sequences/BlastInputSequencesHeader.tsx
  src/content/app/tools/blast/views/blast-form/BlastForm.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Remove a comment and rephrase a test description
  src/shared/components/selected-species/SelectedSpecies.test.tsx
  stories/shared-components/selected-species/SelectedSpecies.stories.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

variable naming update
  src/content/app/genome-browser/components/browser-track-config/BrowserTrackConfig.test.tsx
  src/content/app/genome-browser/components/browser-track-config/useBrowserTrackConfig.ts
  src/content/app/genome-browser/hooks/useGenomeBrowser.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

update test rerender part
  src/content/app/tools/blast/components/blast-input-sequences/BlastInputSequence.test.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Rename SelectedSpeciesLozenge to SpeciesLozenge
  src/content/app/tools/blast/components/blast-app-bar/BlastAppBar.tsx
  src/shared/components/selected-species/SelectedSpecies.tsx
  src/shared/components/selected-species/SpeciesLozenge.scss
  src/shared/components/selected-species/SpeciesLozenge.tsx
  src/shared/components/selected-species/index.ts
  stories/shared-components/selected-species/SelectedSpecies.stories.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

code tidying up
  src/content/app/tools/blast/views/blast-form/BlastForm.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update species lozenges (#760)
  src/content/app/tools/blast/components/blast-app-bar/BlastAppBar.tsx
  src/shared/components/selected-species/SelectedSpecies.scss
  src/shared/components/selected-species/SelectedSpecies.test.tsx
  src/shared/components/selected-species/SelectedSpecies.tsx
  src/shared/components/selected-species/SelectedSpeciesContent.tsx
  src/shared/components/selected-species/SpeciesLozenge.scss
  src/shared/components/selected-species/SpeciesLozenge.tsx
  src/shared/components/selected-species/index.ts
  src/shared/components/selected-species/selected-species-common.scss
  src/shared/components/selected-species/selectedSpeciesHelpers.ts
  src/shared/components/species-tabs-wrapper/MultiLineSpeciesWrapper.scss
  stories/shared-components/selected-species/SelectedSpecies.stories.scss
  stories/shared-components/selected-species/SelectedSpecies.stories.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

more variable name updates
  src/content/app/genome-browser/components/browser-track-config/BrowserTrackConfig.test.tsx
  src/content/app/genome-browser/components/browser-track-config/track-config-views/GeneTrackConfig.tsx
  src/content/app/genome-browser/components/browser-track-config/track-config-views/TranscriptTrackConfig.tsx
  src/content/app/genome-browser/components/browser-track-config/useBrowserTrackConfig.ts
  src/content/app/genome-browser/hooks/useGenomeBrowser.ts
  src/content/app/genome-browser/state/track-config/trackConfigSlice.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

GB version update - 0.3.1 (#761)
  package-lock.json
  package.json
  src/content/app/genome-browser/components/browser-track-config/BrowserTrackConfig.test.tsx
  src/content/app/genome-browser/components/browser-track-config/track-config-views/GeneTrackConfig.tsx
  src/content/app/genome-browser/components/browser-track-config/track-config-views/TranscriptTrackConfig.tsx
  src/content/app/genome-browser/components/browser-track-config/useBrowserTrackConfig.ts
  src/content/app/genome-browser/hooks/useGenomeBrowser.ts
  src/content/app/genome-browser/state/track-config/trackConfigSlice.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

PR feedback
  src/content/app/tools/blast/components/blast-input-sequences/BlastInputSequence.test.tsx
  src/content/app/tools/blast/components/blast-input-sequences/BlastInputSequences.scss
  src/content/app/tools/blast/components/blast-input-sequences/BlastInputSequencesHeader.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

more PR Feedback
  src/content/app/tools/blast/components/blast-input-sequences/BlastInputSequence.scss
  src/content/app/tools/blast/components/blast-input-sequences/BlastInputSequence.test.tsx
  src/content/app/tools/blast/components/blast-input-sequences/BlastInputSequences.tsx
  src/content/app/tools/blast/components/blast-input-sequences/BlastInputSequencesHeader.tsx
  src/content/app/tools/blast/views/blast-form/BlastForm.tsx
  src/shared/components/alert-button/AlertButton.scss
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

pr feedback: move useeffect code higher up in the code and remove redundant code
  src/content/app/tools/blast/components/blast-input-sequences/BlastInputSequence.tsx
  src/content/app/tools/blast/components/blast-input-sequences/BlastInputSequencesHeader.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

move sequences length check in context
  src/content/app/tools/blast/components/blast-input-sequences/BlastInputSequence.tsx
  src/content/app/tools/blast/views/blast-form/BlastForm.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

reordering the code
  src/content/app/tools/blast/components/blast-input-sequences/BlastInputSequence.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update GB t0 0.3.2
  package-lock.json
  package.json
Due: none

Put back the new line
  package.json
Due: none

reordering useeffect code
  src/content/app/tools/blast/components/blast-input-sequences/BlastInputSequence.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update GB version to 0.3.2 (#764)
  package-lock.json
  package.json
Due: none

reverting changes made to test since we have moved the context from blastinputsequence
  src/content/app/tools/blast/components/blast-input-sequences/BlastInputSequence.test.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

move context out to it own file
  src/content/app/tools/blast/components/blast-input-sequences/BlastInputSequence.tsx
  src/content/app/tools/blast/components/blast-input-sequences/BlastInputSequences.tsx
  src/content/app/tools/blast/components/blast-input-sequences/BlastInputSequencesHeader.tsx
  src/content/app/tools/blast/views/blast-form/BlastForm.tsx
  src/content/app/tools/blast/views/blast-form/BlastFormContextContainer.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Fix regular track config flash
  src/content/app/genome-browser/components/browser-track-config/BrowserTrackConfig.tsx
  src/content/app/genome-browser/state/track-config/trackConfigSlice.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Add "find a gene" link to sidebar
  src/content/app/entity-viewer/gene-view/components/gene-view-sidebar/overview/GeneOverview.scss
  src/content/app/entity-viewer/gene-view/components/gene-view-sidebar/overview/GeneOverview.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Add "Find a gene" link to GB sidebar
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/TrackPanelList.scss
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/TrackPanelList.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Fix tests
  src/content/app/entity-viewer/gene-view/components/gene-view-sidebar/overview/GeneOverview.test.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Fix eye icon state
  src/content/app/genome-browser/state/browser-general/browserGeneralSlice.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

rename blastformcontextcontainer to blastformcontext
  src/content/app/tools/blast/components/blast-input-sequences/BlastInputSequence.tsx
  src/content/app/tools/blast/components/blast-input-sequences/BlastInputSequences.tsx
  src/content/app/tools/blast/components/blast-input-sequences/BlastInputSequencesHeader.tsx
  src/content/app/tools/blast/views/blast-form/BlastForm.tsx
  src/content/app/tools/blast/views/blast-form/BlastFormContext.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

rename sequencesvalidity to sequenceValidityFlags
  src/content/app/tools/blast/components/blast-input-sequences/BlastInputSequence.tsx
  src/content/app/tools/blast/components/blast-input-sequences/BlastInputSequences.tsx
  src/content/app/tools/blast/components/blast-input-sequences/BlastInputSequencesHeader.tsx
  src/content/app/tools/blast/views/blast-form/BlastFormContext.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Css fixes
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/TrackPanelList.scss
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/TrackPanelList.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

CSS fixes
  src/content/app/entity-viewer/gene-view/components/gene-view-sidebar/overview/GeneOverview.scss
Due: prettier --write, stylelint

Use inline-block
  src/content/app/entity-viewer/gene-view/components/gene-view-sidebar/overview/GeneOverview.scss
Due: prettier --write, stylelint

Use inline-block
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/TrackPanelList.scss
Due: prettier --write, stylelint

set min height for sequence view
  src/content/app/genome-browser/components/drawer/components/sequence-view/DrawerSequenceView.scss
Due: prettier --write, stylelint

remove extra line added by mistake
  src/content/app/genome-browser/components/drawer/components/sequence-view/DrawerSequenceView.scss
Due: prettier --write, stylelint

Update transcript track eye behaviour
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/track-panel-items/TrackPanelGene.tsx
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/track-panel-items/TrackPanelTranscript.tsx
  src/content/app/genome-browser/components/track-panel/trackPanelConfig.ts
  src/content/app/genome-browser/hooks/useGenomeBrowser.ts
  src/content/app/genome-browser/state/browser-general/browserGeneralSelectors.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Use flex-start alignment
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/TrackPanelList.scss
Due: prettier --write, stylelint

Fix regular track config flash (#765)
  src/content/app/genome-browser/components/browser-track-config/BrowserTrackConfig.tsx
  src/content/app/genome-browser/state/track-config/trackConfigSlice.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Fix eye icon state (#768)
  src/content/app/genome-browser/state/browser-general/browserGeneralSlice.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

singular for remove hook
  src/content/app/tools/blast/components/blast-input-sequences/BlastInputSequences.tsx
  src/content/app/tools/blast/views/blast-form/BlastFormContext.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Path conditions:
  eslint --max-warnings=0: any of: *.{ts,tsx}
  manage-licence-header add: any of: *.{ts,tsx}
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.scss)
  stylelint: any of: *.scss
