Repository Ensembl/ensembl-client: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Remove space before the + in PillButton stories (for consistency)
  stories/shared-components/pill-button/PlusButton.stories.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Use a pill button to toggle the list of transcripts in the track panel of genome browser (#904)
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/track-panel-items/TrackPanelGene.tsx
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/track-panel-items/TrackPanelItem.scss
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/track-panel-items/TrackPanelItemsExpandLozenge.tsx
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/track-panel-items/track-panel-item-layout/GroupTrackPanelItemLayout.tsx
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/track-panel-items/track-panel-item-layout/TrackPanelItemLayout.scss
  src/shared/components/pill-button/PillButton.scss
  stories/shared-components/pill-button/PlusButton.stories.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Add example location links to species and genome browser pages (#907)
  src/content/app/genome-browser/components/interstitial/BrowserInterstitial.tsx
  src/content/app/genome-browser/components/interstitial/browser-interstitial-instructions/BrowserInterstitialInstructions.tsx
  src/content/app/genome-browser/state/focus-object/focusObjectSelectors.ts
  src/content/app/genome-browser/state/focus-object/focusObjectSlice.ts
  src/content/app/species/state/general/speciesGeneralHelper.ts
  src/shared/state/genome/genomeApiSlice.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Code pairing
  src/content/app/genome-browser/components/browser-sidebar-modal/BrowserSidebarModal.tsx
  src/content/app/genome-browser/components/browser-sidebar-modal/modal-views/BookmarksModal.scss
  src/content/app/genome-browser/components/browser-sidebar-modal/modal-views/navigate-modal/NavigateLocationModal.test.tsx
  src/content/app/genome-browser/components/browser-sidebar-modal/modal-views/navigate-modal/NavigateLocationModal.tsx
  src/content/app/genome-browser/components/browser-sidebar-modal/modal-views/navigate-modal/NavigateRegionModal.tsx
  src/shared/components/layout/sidebar-modal/SidebarModal.scss
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Start rethinking the region validation approach
  src/content/app/genome-browser/contexts/GenomeBrowserUrlCheckingContext.tsx
  src/content/app/genome-browser/state/api/genomeBrowserApiSlice.ts
  src/content/app/genome-browser/state/browser-url-validation/browserUrlValidationSlice.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Change error msg and disable enter if go button is disabled
  src/content/app/genome-browser/components/browser-sidebar-modal/modal-views/navigate-modal/NavigateLocationModal.tsx
  src/content/app/genome-browser/components/browser-sidebar-modal/modal-views/navigate-modal/NavigateModal.scss
  src/content/app/genome-browser/components/browser-sidebar-modal/modal-views/navigate-modal/NavigateRegionModal.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Add some tests
  src/content/app/genome-browser/components/browser-sidebar-modal/modal-views/navigate-modal/NavigateLocationModal.test.tsx
  src/content/app/genome-browser/components/browser-sidebar-modal/modal-views/navigate-modal/tests/NavigateLocationModal.test.tsx
  src/content/app/genome-browser/components/browser-sidebar-modal/modal-views/navigate-modal/tests/mockValidationServer.ts
  src/content/app/genome-browser/helpers/browserHelper.ts
  src/content/app/genome-browser/state/browser-sidebar-modal/browserSidebarModalSelectors.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Add more tests
  src/content/app/genome-browser/components/browser-sidebar-modal/modal-views/navigate-modal/tests/NavigateLocationModal.test.tsx
  src/content/app/genome-browser/components/browser-sidebar-modal/modal-views/navigate-modal/tests/mockValidationServer.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Fix user input handling containing commas — just rely on what the backend says
  src/content/app/genome-browser/components/browser-sidebar-modal/modal-views/navigate-modal/NavigateLocationModal.tsx
  src/content/app/genome-browser/components/browser-sidebar-modal/modal-views/navigate-modal/NavigateModal.scss
  src/content/app/genome-browser/components/browser-sidebar-modal/modal-views/navigate-modal/NavigateRegionModal.tsx
  src/content/app/genome-browser/components/browser-sidebar-modal/modal-views/navigate-modal/tests/NavigateLocationModal.test.tsx
  src/content/app/genome-browser/helpers/browserHelper.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Fix tests
  src/content/app/genome-browser/components/browser-sidebar-modal/modal-views/navigate-modal/tests/mockValidationServer.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Add tests; fix validateGenomicLocation
  src/content/app/genome-browser/components/browser-sidebar-modal/modal-views/navigate-modal/tests/NavigateLocationModal.test.tsx
  src/content/app/genome-browser/components/browser-sidebar-modal/modal-views/navigate-modal/tests/mockValidationServer.ts
  src/content/app/genome-browser/helpers/browserHelper.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Add tests for NavigateRegionModal
  src/content/app/genome-browser/components/browser-sidebar-modal/modal-views/navigate-modal/NavigateRegionModal.tsx
  src/content/app/genome-browser/components/browser-sidebar-modal/modal-views/navigate-modal/tests/NavigateRegionModal.test.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Prevent user from switching to a different region from within region navigator
  src/content/app/genome-browser/components/browser-sidebar-modal/modal-views/navigate-modal/NavigateRegionModal.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Proper background color for disabled SimpleSelect
  src/content/app/genome-browser/components/browser-sidebar-modal/modal-views/navigate-modal/NavigateLocationModal.tsx
  src/content/app/genome-browser/components/browser-sidebar-modal/modal-views/navigate-modal/NavigateModal.scss
  src/shared/components/simple-select/SimpleSelect.scss
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Remove unused code for interpreting validation errors
  src/content/app/genome-browser/components/browser-sidebar-modal/modal-views/navigate-modal/NavigateLocationModal.tsx
  src/content/app/genome-browser/components/browser-sidebar-modal/modal-views/navigate-modal/NavigateRegionModal.tsx
  src/content/app/genome-browser/helpers/browserHelper.test.ts
  src/content/app/genome-browser/helpers/browserHelper.ts
  tests/fixtures/browser.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Add new navigation panel to Genome browser (#894)
  src/content/app/genome-browser/components/browser-location-indicator/BrowserLocationIndicator.tsx
  src/content/app/genome-browser/components/browser-nav-button/BrowserNavButton.scss
  src/content/app/genome-browser/components/browser-nav-button/BrowserNavButton.test.tsx
  src/content/app/genome-browser/components/browser-nav-button/BrowserNavButton.tsx
  src/content/app/genome-browser/components/browser-nav-button/browserNavConfig.ts
  src/content/app/genome-browser/components/browser-reset/BrowserReset.scss
  src/content/app/genome-browser/components/browser-reset/BrowserReset.tsx
  src/content/app/genome-browser/components/browser-sidebar-modal/BrowserSidebarModal.tsx
  src/content/app/genome-browser/components/browser-sidebar-modal/modal-views/BookmarksModal.scss
  src/content/app/genome-browser/components/browser-sidebar-modal/modal-views/NavigateModal.tsx
  src/content/app/genome-browser/components/browser-sidebar-modal/modal-views/navigate-modal/NavigateLocationModal.tsx
  src/content/app/genome-browser/components/browser-sidebar-modal/modal-views/navigate-modal/NavigateModal.scss
  src/content/app/genome-browser/components/browser-sidebar-modal/modal-views/navigate-modal/NavigateRegionModal.tsx
  src/content/app/genome-browser/components/browser-sidebar-modal/modal-views/navigate-modal/tests/NavigateLocationModal.test.tsx
  src/content/app/genome-browser/components/browser-sidebar-modal/modal-views/navigate-modal/tests/NavigateRegionModal.test.tsx
  src/content/app/genome-browser/components/browser-sidebar-modal/modal-views/navigate-modal/tests/mockValidationServer.ts
  src/content/app/genome-browser/components/browser-sidebar-toolstrip/BrowserSidebarToolstrip.tsx
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/TrackPanelList.scss
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/TrackPanelList.test.tsx
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/TrackPanelList.tsx
  src/content/app/genome-browser/helpers/browserHelper.test.ts
  src/content/app/genome-browser/helpers/browserHelper.ts
  src/content/app/genome-browser/hooks/useGenomeBrowser.ts
  src/content/app/genome-browser/state/browser-nav/browserNavSlice.ts
  src/content/app/genome-browser/state/browser-sidebar-modal/browserSidebarModalSelectors.ts
  src/content/app/genome-browser/state/browser-sidebar-modal/browserSidebarModalSlice.ts
  src/shared/components/layout/sidebar-modal/SidebarModal.scss
  src/shared/components/layout/sidebar-modal/SidebarModal.tsx
  src/shared/components/simple-select/SimpleSelect.scss
  tests/fixtures/browser.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Extract hotjar script version into a variable
  src/content/html/ThirdParty.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Put the script into the document head
  src/content/html/ThirdParty.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update genome browser version to 0.5.4
  package-lock.json
  package.json
Due: none

Update genome browser version to 0.5.4 (#912)
  package-lock.json
  package.json
Due: none

Only add Hotjar script to the DOM after React has mounted (#911)
  src/content/html/ThirdParty.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Move validation of url elements into redux
  src/content/app/genome-browser/Browser.tsx
  src/content/app/genome-browser/hooks/useBrowserRouting.test.tsx
  src/content/app/genome-browser/hooks/useBrowserRouting.ts
  src/content/app/genome-browser/state/browser-url-validation/browserUrlValidationSelectors.ts
  src/content/app/genome-browser/state/browser-url-validation/browserUrlValidationSlice.ts
  src/content/app/genome-browser/state/genomeBrowserReducer.ts
  tests/fixtures/browser.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Cleanup
  src/content/app/genome-browser/Browser.test.tsx
  src/content/app/genome-browser/contexts/GenomeBrowserUrlCheckingContext.tsx
  src/content/app/genome-browser/hooks/useGenomeBrowserUrlCheck.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Add validation of componenets of genome browser page url
  src/content/app/genome-browser/Browser.test.tsx
  src/content/app/genome-browser/Browser.tsx
  src/content/app/genome-browser/contexts/GenomeBrowserIdsContext.tsx
  src/content/app/genome-browser/contexts/genome-browser-ids-context/useGenomeBrowserUrlValidator.ts
  src/content/app/genome-browser/contexts/genome-browser-ids-context/useParsedGenomeBrowserUrl.ts
  src/content/app/genome-browser/hooks/useBrowserRouting.test.tsx
  src/content/app/genome-browser/hooks/useBrowserRouting.ts
  src/content/app/genome-browser/hooks/useGenomeBrowserUrlCheck.ts
  src/content/app/genome-browser/state/api/genomeBrowserApiSlice.ts
  src/content/app/genome-browser/state/api/queries/regionQuery.ts
  src/shared/components/error-screen/url-errors/MissingFeatureError.tsx
  src/shared/state/genome/genomeApiSlice.ts
  src/shared/types/thoas/slice.ts
  tests/fixtures/entity-viewer/slice.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

show blast error when jobs in a submission fails
  src/content/app/tools/blast/components/listed-blast-submission/ListedBlastSubmission.scss
  src/content/app/tools/blast/components/listed-blast-submission/ListedBlastSubmission.tsx
  src/content/app/tools/blast/views/blast-submission-results/BlastSubmissionResults.tsx
  src/content/app/tools/blast/views/blast-submission-results/components/blast-results-per-sequence/BlastResultsPerSequence.scss
  src/content/app/tools/blast/views/blast-submission-results/components/blast-results-per-sequence/BlastResultsPerSequence.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

css adjustments and few pr review suggestions
  src/content/app/tools/blast/components/listed-blast-submission/ListedBlastSubmission.scss
  src/content/app/tools/blast/components/listed-blast-submission/ListedBlastSubmission.tsx
  src/content/app/tools/blast/views/blast-submission-results/BlastSubmissionResults.scss
  src/content/app/tools/blast/views/blast-submission-results/BlastSubmissionResults.tsx
  src/content/app/tools/blast/views/blast-submission-results/components/blast-results-per-sequence/BlastResultsPerSequence.scss
  src/content/app/tools/blast/views/blast-submission-results/components/blast-results-per-sequence/BlastResultsPerSequence.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

updates based on new design
  src/content/app/tools/blast/components/blast-settings/BlastSettings.scss
  src/content/app/tools/blast/components/listed-blast-submission/ListedBlastSubmission.scss
  src/content/app/tools/blast/components/listed-blast-submission/ListedBlastSubmission.tsx
  src/content/app/tools/blast/views/blast-submission-results/BlastSubmissionResults.tsx
  src/content/app/tools/blast/views/blast-submission-results/components/blast-results-per-sequence/BlastResultsPerSequence.scss
  src/content/app/tools/blast/views/blast-submission-results/components/blast-results-per-sequence/BlastResultsPerSequence.tsx
  src/content/app/tools/blast/views/blast-submission-results/components/single-blast-job-result/SingleBlastJobResult.scss
  src/content/app/tools/blast/views/blast-submission-results/components/single-blast-job-result/SingleBlastJobResult.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

cleanup
  src/content/app/tools/blast/views/blast-submission-results/BlastSubmissionResults.tsx
  src/content/app/tools/blast/views/blast-submission-results/components/blast-results-per-sequence/BlastResultsPerSequence.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

add missing css
  src/content/app/tools/blast/views/blast-submission-results/components/blast-results-per-sequence/BlastResultsPerSequence.scss
Due: prettier --write, stylelint

review suggestions
  src/content/app/tools/blast/components/listed-blast-submission/ListedBlastSubmission.tsx
  src/content/app/tools/blast/views/blast-submission-results/BlastSubmissionResults.scss
  src/content/app/tools/blast/views/blast-submission-results/components/blast-results-per-sequence/BlastResultsPerSequence.scss
  src/content/app/tools/blast/views/blast-submission-results/components/blast-results-per-sequence/BlastResultsPerSequence.tsx
  src/styles/_settings.scss
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Do not remove commas when passing chromosome location from url
  src/content/app/genome-browser/contexts/GenomeBrowserIdsContext.tsx
  src/content/app/genome-browser/contexts/genome-browser-ids-context/useGenomeBrowserUrlValidator.ts
  src/content/app/genome-browser/helpers/browserHelper.ts
  src/content/app/genome-browser/hooks/useBrowserRouting.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Move GenomeBrowserIdsContext in its own folder
  src/content/app/genome-browser/Browser.tsx
  src/content/app/genome-browser/contexts/genome-browser-ids-context/GenomeBrowserIdsContext.tsx
  src/content/app/genome-browser/hooks/useBrowserRouting.test.tsx
  src/content/app/genome-browser/hooks/useGenomeBrowserIds.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Fix behaviour when switching between species
  src/content/app/genome-browser/contexts/genome-browser-ids-context/useGenomeBrowserUrlValidator.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Add FASTA header with feature id when passing a sequence from genome browser to BLAST
  src/content/app/genome-browser/components/drawer/components/sequence-view/DrawerSequenceView.tsx
  src/content/app/genome-browser/components/drawer/components/sequence-view/GeneSequenceView.tsx
  src/content/app/genome-browser/components/drawer/components/sequence-view/TranscriptSequenceView.tsx
  src/shared/components/blast-sequence-button/BlastSequenceButton.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

review changes
  src/content/app/tools/blast/BlastPage.scss
  src/content/app/tools/blast/components/listed-blast-submission/ListedBlastSubmission.tsx
  src/content/app/tools/blast/views/blast-submission-results/BlastSubmissionResults.scss
  src/content/app/tools/blast/views/blast-submission-results/components/blast-results-per-sequence/BlastResultsPerSequence.scss
  src/content/app/tools/blast/views/blast-submission-results/components/single-blast-job-result/SingleBlastJobResult.scss
  src/content/app/tools/blast/views/blast-submission-results/components/single-blast-job-result/SingleBlastJobResult.tsx
  src/styles/_settings.scss
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

update track settings based on new design
  src/content/app/genome-browser/components/track-settings-panel/TrackSettingsPanel.scss
  src/content/app/genome-browser/components/track-settings-panel/track-settings-views/GeneTrackSettings.tsx
  src/content/app/genome-browser/components/track-settings-panel/track-settings-views/RegularTrackSettings.tsx
  src/content/app/genome-browser/components/track-settings-panel/useTrackSettings.ts
  src/content/app/genome-browser/state/track-settings/trackSettingsConstants.ts
  static/icons/icon_move_tracks.svg
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

A location is only allowed to have a start and an end coordinate
  src/content/app/genome-browser/helpers/browserHelper.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Show sequence type and indicate if reverse complement in BLAST header
  src/content/app/genome-browser/components/drawer/components/sequence-view/DrawerSequenceView.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

use blast width constants
  src/content/app/tools/blast/components/blast-settings/BlastSettings.scss
  src/content/app/tools/blast/components/blast-views-navigation/BlastViewsNavigation.scss
  src/content/app/tools/blast/components/listed-blast-submission/ListedBlastSubmission.scss
Due: prettier --write, stylelint

show blast settings params failed jobs
  src/content/app/tools/blast/views/blast-submission-results/components/blast-results-per-sequence/BlastResultsPerSequence.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Path conditions:
  eslint --max-warnings=0: any of: *.{ts,tsx}
  manage-licence-header add: any of: *.{ts,tsx}
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.scss)
  stylelint: any of: *.scss
