Repository Ensembl/ensembl-client: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

.lintstagedrc.json:

{
  "*.{ts,tsx}": [
    "eslint --max-warnings=0",
    "manage-licence-header add",
    "prettier --write"
  ],
  "*.scss": [
    "stylelint",
    "prettier --write"
  ]
}

Renamed AddFoundSpecies to AddSpecies
  src/content/app/new-species-selector/components/genome-selector-by-search-query/GenomeSelectorBySearchQuery.tsx
  src/content/app/new-species-selector/components/species-search-field/AddSpecies.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update GenomeSelectorBySearchQuery (#1032)
  src/content/app/new-species-selector/components/genome-selector-by-search-query/GenomeSelectorBySearchQuery.tsx
  src/content/app/new-species-selector/components/species-search-field/AddSpecies.tsx
  src/content/app/new-species-selector/components/species-search-field/SpeciesSearchField.scss
  src/content/app/new-species-selector/components/species-search-field/SpeciesSearchField.tsx
  src/content/app/new-species-selector/components/species-search-results-summary/SpeciesSearchResultsSummary.scss
  src/content/app/new-species-selector/components/species-search-results-summary/SpeciesSearchResultsSummary.tsx
  src/content/app/new-species-selector/views/species-selector-results-view/SpeciesSelectorResultsView.tsx
  src/shared/components/input/Input.scss
  src/shared/components/input/ShadedInput.test.tsx
  src/shared/components/input/ShadedInput.tsx
  src/shared/components/text-button/TextButton.scss
  src/shared/components/text-button/TextButton.tsx
  stories/shared-components/input/ShadedInputStory.tsx
  stories/shared-components/text-button/TextButton.stories.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Update species type column
  src/content/app/new-species-selector/components/species-search-results-table/SpeciesSearchResultsTable.tsx
  src/content/app/new-species-selector/state/species-selector-api-slice/speciesSelectorApiSlice.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update species type column (#1033)
  src/content/app/new-species-selector/components/species-search-results-table/SpeciesSearchResultsTable.tsx
  src/content/app/new-species-selector/state/species-selector-api-slice/speciesSelectorApiSlice.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Do not mutate popular species response
  src/content/app/new-species-selector/state/species-selector-api-slice/speciesSelectorApiSlice.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

spacing adjustments
  src/shared/components/variant-alleles-sequences/VariantAllelesSequences.scss
  src/shared/components/variant-alleles-sequences/VariantAllelesSequences.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

update formatting of variant allele and variant locations
  src/content/app/genome-browser/components/drawer/drawer-views/variant-summary/variant-location/VariantLocation.tsx
  src/shared/components/variant-alleles-sequences/VariantAllelesSequences.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

align colour block with label
  src/content/app/genome-browser/components/drawer/components/variant-colour/VariantColour.scss
Due: prettier --write, stylelint

Fix some gb problems when switching between species
  src/content/app/genome-browser/hooks/useGenomeBrowser.ts
  src/content/app/genome-browser/hooks/useGenomeBrowserTracks.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update code responsible for hiding unavailable tracks
  src/content/app/genome-browser/hooks/useGenomeBrowser.ts
  src/content/app/genome-browser/hooks/useGenomeBrowserTracks.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Pass variant start coordinate and region name to genome browser for focus variant (#1035)
  src/content/app/genome-browser/services/genome-browser-service/genomeBrowserCommands.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Add the filter field to species search results tables
  src/content/app/new-species-selector/components/genome-selector-by-search-query/GenomeSelectorBySearchQuery.scss
  src/content/app/new-species-selector/components/genome-selector-by-search-query/GenomeSelectorBySearchQuery.tsx
  src/content/app/new-species-selector/components/genome-selector-by-species-taxonomy-id/GenomeSelectorBySpeciesTaxonomyId.scss
  src/content/app/new-species-selector/components/genome-selector-by-species-taxonomy-id/GenomeSelectorBySpeciesTaxonomyId.tsx
  src/content/app/new-species-selector/components/genomes-filter-field/GenomesFilterField.tsx
  src/content/app/new-species-selector/components/selectable-genomes-table/filterGenomes.ts
  src/content/app/new-species-selector/components/selectable-genomes-table/useSelectableGenomesTable.ts
  src/content/app/new-species-selector/components/species-search-field/SpeciesSearchField.tsx
  src/content/app/new-species-selector/components/species-search-results-summary/SpeciesSearchResultsSummary.scss
  src/content/app/new-species-selector/components/species-search-results-summary/SpeciesSearchResultsSummary.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Add spinner to GenomeSelectorBySpeciesTaxonomyId
  src/content/app/new-species-selector/components/genome-selector-by-species-taxonomy-id/GenomeSelectorBySpeciesTaxonomyId.scss
  src/content/app/new-species-selector/components/genome-selector-by-species-taxonomy-id/GenomeSelectorBySpeciesTaxonomyId.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Add CircleLoader to GenomeSelectorBySearchQuery component
  src/content/app/new-species-selector/components/genome-selector-by-search-query/GenomeSelectorBySearchQuery.scss
  src/content/app/new-species-selector/components/genome-selector-by-search-query/GenomeSelectorBySearchQuery.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Rename a property (search result -> search results
  src/content/app/new-species-selector/components/genome-selector-by-search-query/GenomeSelectorBySearchQuery.tsx
  src/content/app/new-species-selector/components/species-search-results-summary/SpeciesSearchResultsSummary.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

better represent ref and alt alleles
  src/shared/components/variant-alleles-sequences/VariantAllelesSequences.scss
  src/shared/components/variant-alleles-sequences/VariantAllelesSequences.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Add a filter for the species search results table (#1036)
  src/content/app/new-species-selector/components/genome-selector-by-search-query/GenomeSelectorBySearchQuery.scss
  src/content/app/new-species-selector/components/genome-selector-by-search-query/GenomeSelectorBySearchQuery.tsx
  src/content/app/new-species-selector/components/genome-selector-by-species-taxonomy-id/GenomeSelectorBySpeciesTaxonomyId.scss
  src/content/app/new-species-selector/components/genome-selector-by-species-taxonomy-id/GenomeSelectorBySpeciesTaxonomyId.tsx
  src/content/app/new-species-selector/components/genomes-filter-field/GenomesFilterField.tsx
  src/content/app/new-species-selector/components/selectable-genomes-table/filterGenomes.ts
  src/content/app/new-species-selector/components/selectable-genomes-table/useSelectableGenomesTable.ts
  src/content/app/new-species-selector/components/species-search-field/SpeciesSearchField.tsx
  src/content/app/new-species-selector/components/species-search-results-summary/SpeciesSearchResultsSummary.scss
  src/content/app/new-species-selector/components/species-search-results-summary/SpeciesSearchResultsSummary.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Add sorting for the species table
  src/content/app/new-species-selector/components/genome-selector-by-search-query/GenomeSelectorBySearchQuery.tsx
  src/content/app/new-species-selector/components/genome-selector-by-species-taxonomy-id/GenomeSelectorBySpeciesTaxonomyId.tsx
  src/content/app/new-species-selector/components/selectable-genomes-table/useOrderedGenomes.ts
  src/content/app/new-species-selector/components/selectable-genomes-table/useSelectableGenomesTable.ts
  src/content/app/new-species-selector/components/species-search-results-table/SpeciesSearchResultsTable.scss
  src/content/app/new-species-selector/components/species-search-results-table/SpeciesSearchResultsTable.tsx
  src/shared/components/external-link/ExternalLink.scss
  src/shared/components/table/ColumnHead.scss
  src/shared/components/table/ColumnHead.tsx
  src/shared/components/table/Table.scss
  src/shared/components/table/index.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Fix typo in a comment
  src/content/app/genome-browser/hooks/useGenomeBrowserTracks.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Fix disappearing or extra genome browser tracks when switching species (#1034)
  src/content/app/genome-browser/hooks/useGenomeBrowser.ts
  src/content/app/genome-browser/hooks/useGenomeBrowserTracks.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

update formatting of variant allele and variant locations (#1029)
  src/content/app/genome-browser/components/drawer/components/variant-colour/VariantColour.scss
  src/content/app/genome-browser/components/drawer/drawer-views/variant-summary/variant-location/VariantLocation.tsx
  src/shared/components/variant-alleles-sequences/VariantAllelesSequences.scss
  src/shared/components/variant-alleles-sequences/VariantAllelesSequences.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Use new popular species endpoint
  src/content/app/new-species-selector/state/species-selector-api-slice/speciesSelectorApiSlice.ts
  src/content/app/new-species-selector/state/species-selector-api-slice/speciesSelectorSampleData.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Use new karyotype endpoint
  src/shared/state/genome/genomeApiSlice.ts
  src/shared/state/genome/genomeTypes.ts
  tests/data/browser/karyotype.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Fix tests for BrowserLocationIndicator
  src/content/app/genome-browser/components/browser-location-indicator/BrowserLocationIndicator.test.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Bring back outlines for focusable elements (#1039)
  src/shared/components/communication-framework/ConversationIcon.scss
  src/shared/components/communication-framework/ConversationIcon.tsx
  src/shared/components/help-popup/HelpPopupButton.scss
  src/shared/components/help-popup/HelpPopupButton.tsx
  src/styles/_normalize.scss
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Extract sort helpers for string and number comparison
  src/content/app/new-species-selector/components/selectable-genomes-table/useOrderedGenomes.ts
  src/shared/helpers/sortingHelpers.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Clean up; use ColumnHead component for VariantGroupLegend table
  src/content/app/genome-browser/components/drawer/drawer-views/variant-group-legend/VariantGroupLegend.tsx
  src/shared/components/table/ColumnHead.scss
  src/shared/components/table/Table.scss
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Extract SortOrder type into a file
  src/content/app/new-species-selector/components/selectable-genomes-table/useOrderedGenomes.ts
  src/shared/components/table/ColumnHead.tsx
  src/shared/types/sort-order.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Add sorting for the species table (#1037)
  src/content/app/genome-browser/components/drawer/drawer-views/variant-group-legend/VariantGroupLegend.tsx
  src/content/app/new-species-selector/components/genome-selector-by-search-query/GenomeSelectorBySearchQuery.tsx
  src/content/app/new-species-selector/components/genome-selector-by-species-taxonomy-id/GenomeSelectorBySpeciesTaxonomyId.tsx
  src/content/app/new-species-selector/components/selectable-genomes-table/useOrderedGenomes.ts
  src/content/app/new-species-selector/components/selectable-genomes-table/useSelectableGenomesTable.ts
  src/content/app/new-species-selector/components/species-search-results-table/SpeciesSearchResultsTable.scss
  src/content/app/new-species-selector/components/species-search-results-table/SpeciesSearchResultsTable.tsx
  src/shared/components/external-link/ExternalLink.scss
  src/shared/components/table/ColumnHead.scss
  src/shared/components/table/ColumnHead.tsx
  src/shared/components/table/Table.scss
  src/shared/helpers/sortingHelpers.ts
  src/shared/types/sort-order.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Use new metadata api endpoints (#1038)
  src/content/app/genome-browser/components/browser-location-indicator/BrowserLocationIndicator.test.tsx
  src/content/app/new-species-selector/state/species-selector-api-slice/speciesSelectorApiSlice.ts
  src/content/app/new-species-selector/state/species-selector-api-slice/speciesSelectorSampleData.ts
  src/shared/state/genome/genomeApiSlice.ts
  src/shared/state/genome/genomeTypes.ts
  tests/data/browser/karyotype.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Use new location validation endpoint from metadata api (replacement of region validation)
  src/content/app/genome-browser/components/browser-sidebar-modal/modal-views/navigate-modal/LocationNavigation.tsx
  src/content/app/genome-browser/components/browser-sidebar-modal/modal-views/navigate-modal/RegionNavigation.tsx
  src/content/app/genome-browser/components/browser-sidebar-modal/modal-views/navigate-modal/tests/LocationNavigation.test.tsx
  src/content/app/genome-browser/components/browser-sidebar-modal/modal-views/navigate-modal/tests/RegionNavigation.test.tsx
  src/content/app/genome-browser/components/browser-sidebar-modal/modal-views/navigate-modal/tests/mockValidationServer.ts
  src/content/app/genome-browser/helpers/browserHelper.ts
  tests/fixtures/browser.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Fix page metadata for Entity Viewer and Help page
  src/content/app/entity-viewer/EntityViewer.tsx
  src/content/app/entity-viewer/EntityViewerPage.tsx
  src/content/app/help/Help.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Set appropriate page title for entity viewer with no entity selected
  src/content/app/entity-viewer/EntityViewerPage.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Function name change
  src/content/app/entity-viewer/EntityViewerPage.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Switch to the new example features endpoint
  src/content/app/entity-viewer/components/example-links/ExampleLinks.tsx
  src/content/app/genome-browser/components/interstitial/BrowserInterstitial.tsx
  src/content/app/genome-browser/state/focus-object/focusObjectSelectors.ts
  src/content/app/species/state/api/speciesApiSlice.ts
  src/shared/state/genome/genomeApiSlice.ts
  src/shared/state/genome/genomeSelectors.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Use new location validation endpoint from metadata api (#1040)
  src/content/app/genome-browser/components/browser-sidebar-modal/modal-views/navigate-modal/LocationNavigation.tsx
  src/content/app/genome-browser/components/browser-sidebar-modal/modal-views/navigate-modal/RegionNavigation.tsx
  src/content/app/genome-browser/components/browser-sidebar-modal/modal-views/navigate-modal/tests/LocationNavigation.test.tsx
  src/content/app/genome-browser/components/browser-sidebar-modal/modal-views/navigate-modal/tests/RegionNavigation.test.tsx
  src/content/app/genome-browser/components/browser-sidebar-modal/modal-views/navigate-modal/tests/mockValidationServer.ts
  src/content/app/genome-browser/helpers/browserHelper.ts
  tests/fixtures/browser.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Freeze deploy on master
  .gitlab-ci.yml
Due: none

Freeze deploy on master (#1043)
  .gitlab-ci.yml
Due: none

Switch to the new example features endpoint (#1042)
  src/content/app/entity-viewer/components/example-links/ExampleLinks.tsx
  src/content/app/genome-browser/components/interstitial/BrowserInterstitial.tsx
  src/content/app/genome-browser/state/focus-object/focusObjectSelectors.ts
  src/content/app/species/state/api/speciesApiSlice.ts
  src/shared/state/genome/genomeApiSlice.ts
  src/shared/state/genome/genomeSelectors.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write
