Repository Ensembl/ensembl-client: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Add validation of focus location
  src/content/app/genome-browser/hooks/useGenomeBrowserUrlCheck.ts
  src/content/app/genome-browser/state/api/genomeBrowserApiSlice.ts
  src/content/app/genome-browser/state/api/queries/regionQuery.ts
  src/shared/types/thoas/slice.ts
  tests/fixtures/entity-viewer/slice.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

BrE spelling: recognize -> recognise
  src/shared/components/error-screen/url-errors/MissingFeatureError.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Add logo to Global Biodata Coalition to the home page
  src/content/home/Home.scss
  src/content/home/Home.tsx
  static/img/home/gbc-logo.svg
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Update the url on the logo
  src/content/home/Home.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Add styles for H3 in Help and About articles
  src/shared/components/help-article/HelpArticle.scss
Due: prettier --write, stylelint

Add styles for H3 in Help and About articles (#902)
  src/shared/components/help-article/HelpArticle.scss
Due: prettier --write, stylelint

Enable the menu with links to help articles for Help page in production
  src/content/app/help/components/help-menu/HelpMenu.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Enable the menu with links to help articles for Help page in production (#903)
  src/content/app/help/components/help-menu/HelpMenu.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Add logo to Global Biodata Coalition to the home page (#901)
  src/content/home/Home.scss
  src/content/home/Home.tsx
  static/img/home/gbc-logo.svg
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Update invalid location detection
  src/content/app/genome-browser/hooks/useGenomeBrowserUrlCheck.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Fix styling and validation issues
  src/content/app/genome-browser/components/browser-nav-button/BrowserNavButton.scss
  src/content/app/genome-browser/components/browser-sidebar-modal/modal-views/navigate-modal/NavigateLocationModal.tsx
  src/content/app/genome-browser/components/browser-sidebar-modal/modal-views/navigate-modal/NavigateModal.scss
  src/content/app/genome-browser/components/browser-sidebar-modal/modal-views/navigate-modal/NavigateRegionModal.tsx
  src/shared/components/layout/sidebar-modal/SidebarModal.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Show a screen when the location url parameter is invalid
  src/content/app/genome-browser/Browser.tsx
  src/content/app/genome-browser/hooks/useGenomeBrowserUrlCheck.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Use a pill button to toggle the list of transcripts in the track panel of genome browser
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/track-panel-items/TrackPanelGene.tsx
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/track-panel-items/TrackPanelItem.scss
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/track-panel-items/TrackPanelItemsExpandLozenge.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Update hook name
  src/content/app/genome-browser/hooks/useGenomeBrowserUrlCheck.ts
  src/content/app/genome-browser/state/api/genomeBrowserApiSlice.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Show contextual help button on the BLAST page
  src/content/app/tools/blast/components/blast-app-bar/BlastAppBar.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Make sure the help button shows both when species are selected and when not
  src/content/app/tools/blast/components/blast-app-bar/BlastAppBar.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Show contextual help button on the BLAST page (#905)
  src/content/app/tools/blast/components/blast-app-bar/BlastAppBar.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Add links from the BLAST table to genome browser
  src/content/app/tools/blast/components/blast-app-bar/BlastAppBar.tsx
  src/content/app/tools/blast/components/blast-species-selector/BlastSpeciesSelectorHeader.test.tsx
  src/content/app/tools/blast/state/blast-form/blastFormSlice.ts
  src/content/app/tools/blast/state/epics/tests/fixtures/blastSubmissionFixtures.ts
  src/content/app/tools/blast/views/blast-submission-results/components/single-blast-job-result/SingleBlastJobResult.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

PR suggestions
  src/content/app/genome-browser/components/browser-nav-button/BrowserNavButton.test.tsx
  src/content/app/genome-browser/components/browser-nav-button/BrowserNavButton.tsx
  src/content/app/genome-browser/components/browser-nav-button/browserNavConfig.ts
  src/content/app/genome-browser/components/browser-reset/BrowserReset.scss
  src/content/app/genome-browser/components/browser-sidebar-modal/BrowserSidebarModal.tsx
  src/content/app/genome-browser/components/browser-sidebar-modal/modal-views/navigate-modal/NavigateLocationModal.tsx
  src/content/app/genome-browser/components/browser-sidebar-modal/modal-views/navigate-modal/NavigateModal.scss
  src/content/app/genome-browser/components/browser-sidebar-modal/modal-views/navigate-modal/NavigateRegionModal.tsx
  src/content/app/genome-browser/components/browser-sidebar-toolstrip/BrowserSidebarToolstrip.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Add location links to species and genome browser pages
  src/content/app/genome-browser/components/interstitial/BrowserInterstitial.tsx
  src/content/app/genome-browser/components/interstitial/browser-interstitial-instructions/BrowserInterstitialInstructions.tsx
  src/content/app/genome-browser/state/focus-object/focusObjectSelectors.ts
  src/content/app/genome-browser/state/focus-object/focusObjectSlice.ts
  src/content/app/species/state/general/speciesGeneralHelper.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

PR suggestions and fix issues with navigation
  src/content/app/genome-browser/components/browser-sidebar-modal/modal-views/navigate-modal/NavigateLocationModal.tsx
  src/content/app/genome-browser/components/browser-sidebar-modal/modal-views/navigate-modal/NavigateModal.scss
  src/content/app/genome-browser/components/browser-sidebar-modal/modal-views/navigate-modal/NavigateRegionModal.tsx
  src/shared/components/simple-select/SimpleSelect.scss
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Add links from the BLAST table to genome browser (#906)
  src/content/app/tools/blast/components/blast-app-bar/BlastAppBar.tsx
  src/content/app/tools/blast/components/blast-species-selector/BlastSpeciesSelectorHeader.test.tsx
  src/content/app/tools/blast/state/blast-form/blastFormSlice.ts
  src/content/app/tools/blast/state/epics/tests/fixtures/blastSubmissionFixtures.ts
  src/content/app/tools/blast/views/blast-submission-results/components/single-blast-job-result/SingleBlastJobResult.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Fix more styling and navigation issues
  src/content/app/genome-browser/components/browser-nav-button/BrowserNavButton.scss
  src/content/app/genome-browser/components/browser-nav-button/BrowserNavButton.tsx
  src/content/app/genome-browser/components/browser-reset/BrowserReset.scss
  src/content/app/genome-browser/components/browser-sidebar-modal/BrowserSidebarModal.tsx
  src/content/app/genome-browser/components/browser-sidebar-modal/modal-views/navigate-modal/NavigateLocationModal.tsx
  src/content/app/genome-browser/components/browser-sidebar-modal/modal-views/navigate-modal/NavigateModal.scss
  src/content/app/genome-browser/components/browser-sidebar-modal/modal-views/navigate-modal/NavigateRegionModal.tsx
  src/content/app/genome-browser/hooks/useGenomeBrowser.ts
  src/shared/components/layout/sidebar-modal/SidebarModal.scss
  src/shared/components/layout/sidebar-modal/SidebarModal.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

PR suggestions
  src/content/app/genome-browser/state/focus-object/focusObjectSlice.ts
  src/content/app/species/state/general/speciesGeneralHelper.ts
  src/shared/state/genome/genomeApiSlice.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Only add Hotjar script to the DOM after React has mounted
  src/content/html/ThirdParty.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Add Change location link to TrackPanel
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/TrackPanelList.scss
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/TrackPanelList.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Fix focus location navigation and tests
  src/content/app/genome-browser/components/browser-sidebar-modal/modal-views/navigate-modal/NavigateLocationModal.tsx
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/TrackPanelList.test.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Fix tests
  src/content/app/genome-browser/components/interstitial/BrowserInterstitial.tsx
  src/shared/state/genome/genomeApiSlice.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Add reset behaviour to SimpleSelect
  src/shared/components/simple-select/SimpleSelect.test.tsx
  src/shared/components/simple-select/SimpleSelect.tsx
  stories/shared-components/simple-select/SimpleSelect.stories.scss
  stories/shared-components/simple-select/SimpleSelect.stories.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Clear IndexedDB on site reset
  src/registerServiceWorker.ts
  src/services/indexeddb-service.ts
  src/services/tests/indexeddb-service.test.ts
  src/shared/components/error-screen/GeneralErrorScreen.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Add the 'scope' option when registering the service worker
  src/registerServiceWorker.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Remove GroupTrackPanelItemLayout component
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/track-panel-items/track-panel-item-layout/GroupTrackPanelItemLayout.tsx
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/track-panel-items/track-panel-item-layout/TrackPanelItemLayout.scss
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Update tests
  src/shared/components/simple-select/SimpleSelect.test.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Add the 'scope' option when registering the service worker (#910)
  src/registerServiceWorker.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Make sure the placeholder is shown in the list of options and is disabled
  src/shared/components/simple-select/SimpleSelect.test.tsx
  src/shared/components/simple-select/SimpleSelect.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Enable programmatic reset for the SimpleSelect component (#908)
  src/shared/components/simple-select/SimpleSelect.test.tsx
  src/shared/components/simple-select/SimpleSelect.tsx
  stories/shared-components/simple-select/SimpleSelect.stories.scss
  stories/shared-components/simple-select/SimpleSelect.stories.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Submit form on enter
  src/content/app/genome-browser/components/browser-sidebar-modal/modal-views/navigate-modal/NavigateLocationModal.tsx
  src/content/app/genome-browser/components/browser-sidebar-modal/modal-views/navigate-modal/NavigateRegionModal.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Clear IndexedDB on site reset (#909)
  src/services/indexeddb-service.ts
  src/services/tests/indexeddb-service.test.ts
  src/shared/components/error-screen/GeneralErrorScreen.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Increase default font size for PillButton to 12, and remove space after +
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/track-panel-items/TrackPanelItemsExpandLozenge.tsx
  src/shared/components/pill-button/PillButton.scss
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Path conditions:
  eslint --max-warnings=0: any of: *.{ts,tsx}
  manage-licence-header add: any of: *.{ts,tsx}
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.scss)
  stylelint: any of: *.scss
