Repository Ensembl/ensembl-client: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

.lintstagedrc.json:

{
  "*.{ts,tsx}": [
    "eslint --max-warnings=0",
    "manage-licence-header add",
    "prettier --write"
  ],
  "*.scss": [
    "stylelint",
    "prettier --write"
  ]
}

few bug fixes
  src/content/app/genome-browser/components/browser-cog/BrowserCogList.tsx
  src/content/app/genome-browser/components/browser-track-config/BrowserTrackConfig.tsx
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/track-panel-items/TrackPanelGene.tsx
  src/content/app/genome-browser/components/track-panel/trackPanelConfig.ts
  src/content/app/genome-browser/hooks/useGenomeBrowser.ts
  src/content/app/genome-browser/services/browserStorageService.test.ts
  src/content/app/genome-browser/state/track-config/trackConfigSlice.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

fix bugs
  src/content/app/genome-browser/components/browser-cog/BrowserCogList.tsx
  src/content/app/genome-browser/components/browser-track-config/useBrowserTrackConfig.ts
  src/content/app/genome-browser/hooks/useGenomeBrowser.ts
  src/content/app/genome-browser/state/track-config/trackConfigSlice.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update styles; add Download button
  src/content/app/tools/blast/components/listed-blast-submission/ListedBlastSubmission.scss
  src/content/app/tools/blast/components/listed-blast-submission/ListedBlastSubmission.test.tsx
  src/content/app/tools/blast/components/listed-blast-submission/ListedBlastSubmission.tsx
  src/content/app/tools/blast/views/blast-unviewed-submissions/BlastUnviewedSubmissions.scss
  src/content/app/tools/blast/views/blast-unviewed-submissions/BlastUnviewedSubmissions.tsx
  src/shared/components/download-button/DownloadButton.scss
  src/shared/components/download-button/DownloadButton.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Test useBlastSettings
  src/content/app/tools/blast/components/blast-settings/useBlastSettings.test.tsx
  src/content/app/tools/blast/components/blast-settings/useBlastSettings.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Remove commented mock
  src/content/app/tools/blast/components/blast-settings/useBlastSettings.test.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Make sure to delete suubmission from IndexedDB as well as from redux
  src/content/app/tools/blast/components/listed-blast-submission/ListedBlastSubmission.test.tsx
  src/content/app/tools/blast/components/listed-blast-submission/ListedBlastSubmission.tsx
  src/content/app/tools/blast/state/blast-results/blastResultsSlice.ts
  src/content/app/tools/blast/views/blast-unviewed-submissions/BlastUnviewedSubmissions.scss
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Add BlastSubmissionResults page plus some styling changes
  src/content/app/tools/blast/BlastPage.tsx
  src/content/app/tools/blast/components/blast-views-navigation/BlastViewsNavigation.scss
  src/content/app/tools/blast/components/listed-blast-submission/ListedBlastSubmission.scss
  src/content/app/tools/blast/components/listed-blast-submission/ListedBlastSubmission.tsx
  src/content/app/tools/blast/views/blast-submission-results/BlastSubmissionResults.tsx
  src/content/app/tools/blast/views/blast-unviewed-submissions/BlastUnviewedSubmissions.scss
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Add link to submission results page
  src/content/app/tools/blast/components/listed-blast-submission/ListedBlastSubmission.test.tsx
  src/content/app/tools/blast/components/listed-blast-submission/ListedBlastSubmission.tsx
  src/shared/helpers/urlHelper.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Show a spinner while BLAST submission is in flight
  src/content/app/tools/blast/components/blast-job-submit/BlastJobSubmit.tsx
  src/content/app/tools/blast/views/blast-unviewed-submissions/BlastUnviewedSubmissions.scss
  src/content/app/tools/blast/views/blast-unviewed-submissions/BlastUnviewedSubmissions.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Update styling
  src/content/app/tools/blast/components/blast-submission-header-container/BlastSubmissionHeaderGrid.scss
  src/content/app/tools/blast/components/blast-views-navigation/BlastViewsNavigation.scss
  src/content/app/tools/blast/components/listed-blast-submission/ListedBlastSubmission.scss
Due: prettier --write, stylelint

Update a comment
  src/content/app/tools/blast/components/listed-blast-submission/ListedBlastSubmission.scss
Due: prettier --write, stylelint

clean up
  src/content/app/genome-browser/components/browser-cog/BrowserCogList.tsx
  src/content/app/genome-browser/components/browser-track-config/BrowserTrackConfig.tsx
  src/content/app/genome-browser/components/browser-track-config/track-config-views/GeneTrackConfig.tsx
  src/content/app/genome-browser/components/browser-track-config/track-config-views/RegularTrackConfig.tsx
  src/content/app/genome-browser/components/browser-track-config/track-config-views/TranscriptTrackConfig.tsx
  src/content/app/genome-browser/components/browser-track-config/useBrowserTrackConfig.ts
  src/content/app/genome-browser/hooks/useBrowserRouting.ts
  src/content/app/genome-browser/hooks/useGenomeBrowser.ts
  src/content/app/genome-browser/state/track-config/trackConfigSlice.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Move the 'seen' flag from job to submission
  src/content/app/tools/blast/state/blast-api/blastApiSlice.ts
  src/content/app/tools/blast/state/blast-results/blastResultsSlice.ts
  tests/fixtures/blast/blastSubmission.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update selector and styles
  src/content/app/tools/blast/components/listed-blast-submission/ListedBlastSubmission.scss
  src/content/app/tools/blast/state/blast-results/blastResultsSelectors.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Flex-end instead of just end
  src/content/app/tools/blast/components/listed-blast-submission/ListedBlastSubmission.scss
Due: prettier --write, stylelint

Update tests and group state update
  src/content/app/tools/blast/components/blast-settings/useBlastSettings.test.tsx
  src/content/app/tools/blast/components/blast-settings/useBlastSettings.ts
  src/content/app/tools/blast/state/blast-form/blastFormSlice.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Add the BlastSequenceButton component
  src/content/app/genome-browser/components/drawer/components/sequence-view/DrawerSequenceView.tsx
  src/content/app/genome-browser/components/drawer/components/sequence-view/GeneSequenceView.tsx
  src/content/app/genome-browser/components/drawer/components/sequence-view/TranscriptSequenceView.tsx
  src/content/app/tools/blast/state/blast-form/blastFormSlice.ts
  src/shared/components/blast-sequence-button/BlastSequenceButton.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Hide the BLAST button in production
  src/content/app/genome-browser/components/drawer/components/sequence-view/DrawerSequenceView.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Address some of the comments to the PR
  src/content/app/tools/blast/components/blast-submission-header-container/BlastSubmissionHeaderGrid.scss
  src/content/app/tools/blast/components/listed-blast-submission/ListedBlastSubmission.test.tsx
  src/content/app/tools/blast/components/listed-blast-submission/ListedBlastSubmission.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Update a CSS rule
  src/content/app/tools/blast/views/blast-unviewed-submissions/BlastUnviewedSubmissions.scss
Due: prettier --write, stylelint

Fix duplicate keystrokes
  src/content/app/tools/blast/components/listed-blast-submission/ListedBlastSubmission.test.tsx
  src/content/app/tools/blast/components/listed-blast-submission/ListedBlastSubmission.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Move date formatter into its own module
  src/content/app/tools/blast/components/listed-blast-submission/ListedBlastSubmission.tsx
  src/shared/helpers/formatters/dateFormatter.test.ts
  src/shared/helpers/formatters/dateFormatter.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Show unviewed blast submissions (#745)
  src/content/app/tools/blast/BlastPage.tsx
  src/content/app/tools/blast/components/blast-job-submit/BlastJobSubmit.tsx
  src/content/app/tools/blast/components/blast-settings/BlastSettings.scss
  src/content/app/tools/blast/components/blast-settings/BlastSettings.tsx
  src/content/app/tools/blast/components/blast-submission-header-container/BlastSubmissionHeaderGrid.scss
  src/content/app/tools/blast/components/blast-submission-header-container/BlastSubmissionHeaderGrid.tsx
  src/content/app/tools/blast/components/blast-views-navigation/BlastViewsNavigation.scss
  src/content/app/tools/blast/components/listed-blast-submission/ListedBlastSubmission.scss
  src/content/app/tools/blast/components/listed-blast-submission/ListedBlastSubmission.test.tsx
  src/content/app/tools/blast/components/listed-blast-submission/ListedBlastSubmission.tsx
  src/content/app/tools/blast/state/blast-api/blastApiSlice.ts
  src/content/app/tools/blast/state/blast-form/blastFormSlice.ts
  src/content/app/tools/blast/state/blast-results/blastResultsSlice.ts
  src/content/app/tools/blast/state/epics/tests/blastEpics.test.ts
  src/content/app/tools/blast/state/epics/tests/fixtures/blastSubmissionFixtures.ts
  src/content/app/tools/blast/types/blastSettings.ts
  src/content/app/tools/blast/views/blast-submission-results/BlastSubmissionResults.tsx
  src/content/app/tools/blast/views/blast-unviewed-submissions/BlastUnviewedSubmissions.scss
  src/content/app/tools/blast/views/blast-unviewed-submissions/BlastUnviewedSubmissions.tsx
  src/shared/components/button-link/ButtonLink.scss
  src/shared/components/download-button/DownloadButton.scss
  src/shared/components/download-button/DownloadButton.tsx
  src/shared/helpers/formatters/dateFormatter.test.ts
  src/shared/helpers/formatters/dateFormatter.ts
  src/shared/helpers/urlHelper.ts
  tests/fixtures/blast/blastSubmission.ts
  tests/fixtures/selected-species.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Add status indicator to BlastIcon
  src/header/launchbar/BlastLaunchbarButton.tsx
  src/header/launchbar/Launchbar.scss
  src/header/launchbar/Launchbar.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

more PR feedback
  src/content/app/tools/blast/views/blast-form/BlastForm.scss
  src/content/app/tools/blast/views/blast-form/BlastForm.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

fix border shadows when scrolling
  src/content/app/tools/blast/components/blast-input-sequences/BlastInputSequences.scss
  src/content/app/tools/blast/components/blast-species-selector/BlastSpeciesSelector.scss
  src/content/app/tools/blast/views/blast-form/BlastForm.scss
Due: prettier --write, stylelint

fix right padding
  src/content/app/tools/blast/views/blast-form/BlastForm.scss
Due: prettier --write, stylelint

change position to relative and use z-index and fix right margin
  src/content/app/tools/blast/views/blast-form/BlastForm.scss
  src/content/app/tools/shared/components/tools-top-bar/ToolsTopBar.scss
Due: prettier --write, stylelint

fix right alignment of buttons
  src/content/app/tools/blast/views/blast-form/BlastForm.scss
Due: prettier --write, stylelint

fix margin top this time
  src/content/app/tools/blast/views/blast-form/BlastForm.scss
  src/content/app/tools/shared/components/tools-top-bar/ToolsTopBar.scss
Due: prettier --write, stylelint

fix top margin
  src/content/app/tools/blast/views/blast-form/BlastForm.scss
  src/content/app/tools/shared/components/tools-top-bar/ToolsTopBar.scss
Due: prettier --write, stylelint

fix margin and padding
  src/content/app/tools/blast/components/blast-input-sequences/BlastInputSequences.scss
  src/content/app/tools/blast/components/blast-species-selector/BlastSpeciesSelector.scss
  src/content/app/tools/blast/views/blast-form/BlastForm.scss
Due: prettier --write, stylelint

new alert button
  src/shared/components/alert-button/AlertButton.scss
  src/shared/components/alert-button/AlertButton.test.tsx
  src/shared/components/alert-button/AlertButton.tsx
  src/shared/hooks/useShowTooltip.ts
  stories/shared-components/alert-button/AlertButton.stories.scss
  stories/shared-components/alert-button/AlertButton.stories.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

remove extra margin top that i forgot to remove
  src/content/app/tools/blast/views/blast-form/BlastForm.scss
Due: prettier --write, stylelint

add margin-top to unviewed jobs header
  src/content/app/tools/blast/components/blast-submission-header-container/BlastSubmissionHeaderGrid.scss
Due: prettier --write, stylelint

increase sequence limit to 50
  src/content/app/tools/blast/components/blast-input-sequences/BlastInputSequences.scss
  src/content/app/tools/blast/components/blast-input-sequences/BlastInputSequencesHeader.tsx
  src/content/app/tools/blast/utils/blastFormValidator.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

add 1px to top when scrolling
  src/content/app/tools/blast/components/blast-input-sequences/BlastInputSequences.scss
  src/content/app/tools/blast/components/blast-species-selector/BlastSpeciesSelector.scss
Due: prettier --write, stylelint

PR suggestions
  src/content/app/tools/blast/BlastPage.tsx
  src/content/app/tools/blast/state/blast-general/blastGeneralSelectors.ts
  src/content/app/tools/blast/state/blast-general/blastGeneralSlice.tsx
  src/header/launchbar/BlastLaunchbarButton.tsx
  src/header/launchbar/Launchbar.scss
  src/header/launchbar/Launchbar.tsx
  src/header/launchbar/LaunchbarButton.tsx
  src/header/launchbar/LaunchbarIconWithNotification.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

updated storybook with warning and error icon
  stories/shared-components/alert-button/AlertButton.stories.scss
  stories/shared-components/alert-button/AlertButton.stories.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

icon can be either an error icon (red) or warning icon (orange)
  src/shared/components/alert-button/AlertButton.scss
  src/shared/components/alert-button/AlertButton.test.tsx
  src/shared/components/alert-button/AlertButton.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint
