Repository Ensembl/ensembl-client: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Edits
  src/content/app/genome-browser/hooks/useGenomeBrowser.ts
  src/content/app/genome-browser/state/api/genomeBrowserApiSlice.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Remove track trigger dependencies (#1365)
  src/content/app/genome-browser/components/track-panel/components/track-panel-tabs/TrackPanelTabs.test.tsx
  src/content/app/genome-browser/hooks/useGenomeBrowser.ts
  src/content/app/genome-browser/hooks/useGenomeBrowserTracks.ts
  src/content/app/genome-browser/state/api/genomeBrowserApiSlice.ts
  src/content/app/genome-browser/state/types/tracks.ts
  tests/fixtures/genomes.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Add a tab for transcripts table to FeatureExplorer gene view
  src/content/app/entity-viewer/gene-view/GeneView.tsx
  src/content/app/entity-viewer/gene-view/components/gene-transcripts-table/GeneTranscriptsTable.module.css
  src/content/app/entity-viewer/gene-view/components/gene-transcripts-table/GeneTranscriptsTable.tsx
  src/content/app/entity-viewer/gene-view/components/gene-transcripts-table/geneTranscriptsTableDownload.ts
  src/content/app/entity-viewer/gene-view/components/gene-transcripts-table/transcriptTableHelpers.ts
  src/content/app/entity-viewer/gene-view/components/gene-view-tabs/GeneViewTabs.tsx
  src/content/app/entity-viewer/state/api/queries/defaultGeneQuery.ts
  src/content/app/entity-viewer/state/gene-view/view/geneViewViewSlice.ts
  src/shared/components/external-link/ExternalLink.module.css
  src/shared/components/external-link/ExternalLink.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Update styles
  src/content/app/entity-viewer/gene-view/components/gene-transcripts-table/GeneTranscriptsTable.module.css
Due: stylelint

Update label
  src/content/app/entity-viewer/gene-view/components/gene-transcripts-table/GeneTranscriptsTable.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Request all transcripts of a gene
  src/content/app/entity-viewer/gene-view/components/gene-transcripts-table/GeneTranscriptsTable.tsx
  src/content/app/entity-viewer/state/api/entityViewerThoasSlice.ts
  src/content/app/entity-viewer/state/api/queries/defaultGeneQuery.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update dependencies
  package-lock.json
  package.json
Due: none

In BLAST results for transcripts, add link in the results table to transcript views
  src/content/app/tools/blast/views/blast-submission-results/components/single-blast-job-result/SingleBlastJobResult.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Convert flanking and intronic sequences in the exons table to lower case
  src/content/app/entity-viewer/transcript-view/components/transcript-exons/exons-table/ExonsTable.tsx
  src/content/app/entity-viewer/transcript-view/components/transcript-exons/exons-table/exportExonsTable.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update dependencies (#1367)
  package-lock.json
  package.json
Due: none

Single input in rhp search
  src/shared/components/sidebar-search/SidebarSearch.module.css
  src/shared/components/sidebar-search/SidebarSearch.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

In BLAST results for transcripts, add link in the results table to transcript views (#1368)
  src/content/app/tools/blast/views/blast-submission-results/components/single-blast-job-result/SingleBlastJobResult.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Convert flanking and intronic sequences in the exons table to lower case (#1369)
  src/content/app/entity-viewer/transcript-view/components/transcript-exons/exons-table/ExonsTable.tsx
  src/content/app/entity-viewer/transcript-view/components/transcript-exons/exons-table/exportExonsTable.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

v3 genome search update (#1348)
  src/content/app/species-selector/components/genomes-download-button/GenomesDownloadButton.tsx
  src/content/app/species-selector/state/species-selector-api-slice/speciesSelectorApiSlice.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Add protein link to the table of transcripts
  src/content/app/entity-viewer/gene-view/components/gene-transcripts-table/GeneTranscriptsTable.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Fix the colour of svg image in ViewInApp component
  src/shared/components/view-in-app/ViewInApp.module.css
Due: stylelint

Fix the colour of svg image in ViewInApp component (#1371)
  src/shared/components/view-in-app/ViewInApp.module.css
Due: stylelint

Add filtering and sorting
  src/content/app/entity-viewer/gene-view/components/gene-transcripts-table/GeneTranscriptsTable.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

review comment fixes
  src/shared/components/sidebar-search/SidebarSearch.module.css
  src/shared/components/sidebar-search/SidebarSearch.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

fix
  src/shared/components/sidebar-search/SidebarSearch.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Stretch the table to fit all available space
  src/content/app/entity-viewer/gene-view/components/gene-transcripts-table/GeneTranscriptsTable.module.css
Due: stylelint

Add a tab for transcripts table to FeatureExplorer gene view (#1366)
  src/content/app/entity-viewer/gene-view/GeneView.tsx
  src/content/app/entity-viewer/gene-view/components/gene-transcripts-table/GeneTranscriptsTable.module.css
  src/content/app/entity-viewer/gene-view/components/gene-transcripts-table/GeneTranscriptsTable.tsx
  src/content/app/entity-viewer/gene-view/components/gene-transcripts-table/geneTranscriptsTableDownload.ts
  src/content/app/entity-viewer/gene-view/components/gene-transcripts-table/transcriptTableHelpers.ts
  src/content/app/entity-viewer/gene-view/components/gene-view-tabs/GeneViewTabs.tsx
  src/content/app/entity-viewer/state/api/entityViewerThoasSlice.ts
  src/content/app/entity-viewer/state/api/queries/defaultGeneQuery.ts
  src/content/app/entity-viewer/state/gene-view/view/geneViewViewSlice.ts
  src/shared/components/external-link/ExternalLink.module.css
  src/shared/components/external-link/ExternalLink.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Add sequence viewer page
  src/content/app/sequence-viewer/SequenceViewer.module.css
  src/content/app/sequence-viewer/SequenceViewer.tsx
  src/content/app/sequence-viewer/SequenceViewerPage.tsx
  src/header/launchbar/Launchbar.tsx
  src/routes/routesConfig.tsx
  src/shared/components/app-icon/AppIcon.module.css
  src/shared/components/app-icon/SequenceViewerIcon.tsx
  static/icons/icon_launchbar_sequence_viewer.svg
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Add sidebar for transcript view settings
  src/content/app/sequence-viewer/SequenceViewer.tsx
  src/content/app/sequence-viewer/components/sequence-viewer-sidebar/SequenceViewerSidebar.tsx
  src/content/app/sequence-viewer/components/sequence-viewer-sidebar/TranscriptSequenceSettings.tsx
  src/content/app/sequence-viewer/state/settings/settingsSlice.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Add gene and transcript sequence components
  src/content/app/genome-browser/state/api/genomeBrowserApiSlice.ts
  src/content/app/sequence-viewer/SequenceViewer.tsx
  src/content/app/sequence-viewer/components/gene-sequence/GeneSequence.tsx
  src/content/app/sequence-viewer/components/gene-sequence/gene-sequence.ts
  src/content/app/sequence-viewer/components/gene-sequence/useGeneSequence.ts
  src/content/app/sequence-viewer/components/transcript-sequence/TranscriptSequence.tsx
  src/content/app/sequence-viewer/components/transcript-sequence/transcript-sequence.ts
  src/content/app/sequence-viewer/components/transcript-sequence/useTranscriptSequence.ts
  src/content/app/sequence-viewer/types/transcriptView.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

work in progress
  src/content/app/genome-browser/state/api/queries/transcriptSummaryQuery.ts
  src/content/app/sequence-viewer/components/gene-sequence/gene-sequence.ts
  src/content/app/sequence-viewer/components/transcript-sequence/TranscriptSequence.module.css
  src/content/app/sequence-viewer/components/transcript-sequence/TranscriptSequence.tsx
  src/content/app/sequence-viewer/components/transcript-sequence/transcript-sequence.ts
  src/content/app/sequence-viewer/components/transcript-sequence/useTranscriptSequence.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Add redux state for sequence viewer settings
  src/content/app/sequence-viewer/state/sequenceViewerReducer.ts
  src/content/app/sequence-viewer/state/settings/settingsSelectors.ts
  src/content/app/sequence-viewer/state/settings/settingsSlice.ts
  src/root/rootReducer.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Add url parsing
  src/content/app/sequence-viewer/SequenceViewer.tsx
  src/content/app/sequence-viewer/components/location-sequence/LocationSequence.tsx
  src/content/app/sequence-viewer/components/sequence-viewer-app-bar/SequenceViewerAppBar.tsx
  src/content/app/sequence-viewer/contexts/SequenceViewerIdsContext.tsx
  src/content/app/sequence-viewer/contexts/useParsedSequenceViewerUrl.ts
  src/content/app/sequence-viewer/hooks/useSequenceViewerIds.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

cDNA: WIP with codex help
  src/content/app/sequence-viewer/components/transcript-sequence/transcript-sequence.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Add a sidebar settings component for gene sequences
  src/content/app/sequence-viewer/components/sequence-viewer-sidebar/GeneSequenceSettings.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Switch between genomic and cdna views for transcript
  src/content/app/sequence-viewer/components/transcript-sequence/TranscriptSequence.tsx
  src/content/app/sequence-viewer/components/transcript-sequence/transcript-sequence.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Fix styles of transcript table
  src/content/app/entity-viewer/gene-view/components/gene-transcripts-table/GeneTranscriptsTable.module.css
Due: stylelint

Fix the getter of uniprot xref
  src/content/app/entity-viewer/gene-view/components/gene-transcripts-table/transcriptTableHelpers.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

add right padding
  src/shared/components/sidebar-search/SidebarSearch.module.css
  src/shared/components/sidebar-search/SidebarSearch.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Improve right hand panel feature search (#1370)
  src/shared/components/sidebar-search/SidebarSearch.module.css
  src/shared/components/sidebar-search/SidebarSearch.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

update labels
  src/content/app/entity-viewer/transcript-view/components/transcript-view-sidebar/sidebar-modal/TranscriptViewSidebarModal.tsx
  src/shared/components/sidebar-search/SidebarSearch.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

update labels (#1372)
  src/content/app/entity-viewer/transcript-view/components/transcript-view-sidebar/sidebar-modal/TranscriptViewSidebarModal.tsx
  src/shared/components/sidebar-search/SidebarSearch.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

fix(vep): make an ungrouped consequence kind a build error
  src/content/app/tools/vep/views/vep-submission-results/useVepVariantTabularData.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

test(vep): cover motif details in the display renderer
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-annotation-detail/displaySpec.fixture.ts
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-annotation-detail/displaySpecRenderer.test.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

fix(vep): keep detail panels with their rows when transcripts expand
  src/content/app/tools/vep/views/vep-submission-results/VepSubmissionResults.tsx
  src/content/app/tools/vep/views/vep-submission-results/useVepVariantTabularData.test.ts
  src/content/app/tools/vep/views/vep-submission-results/useVepVariantTabularData.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Path conditions:
  eslint --max-warnings=0: any of: *.{ts,tsx}
  manage-licence-header add: any of: *.{ts,tsx}
  prettier --write: any of: *.{ts,tsx}
  stylelint: any of: *.css
