Repository Ensembl/ensembl-client: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

.lintstagedrc.json:

{
  "*.{ts,tsx}": [
    "eslint --max-warnings=0",
    "manage-licence-header add",
    "prettier --write"
  ],
  "*.css": [
    "stylelint"
  ]
}

Fix the integrity sha
  package-lock.json
Due: none

Update elements for genome browser navigation (#1318)
  package-lock.json
  package.json
  src/content/app/genome-browser/components/browser-bar/BrowserBar.module.css
  src/content/app/genome-browser/components/browser-bar/BrowserBar.test.tsx
  src/content/app/genome-browser/components/browser-bar/BrowserBar.tsx
  src/content/app/genome-browser/components/browser-location-indicator/BrowserLocationIndicator.browser.test.tsx
  src/content/app/genome-browser/components/browser-location-indicator/BrowserLocationIndicator.module.css
  src/content/app/genome-browser/components/browser-location-indicator/BrowserLocationIndicator.test.tsx
  src/content/app/genome-browser/components/browser-location-indicator/BrowserLocationIndicator.tsx
  src/content/app/genome-browser/components/browser-nav-buttons/GenomeBrowserNavigationButtons.tsx
  src/content/app/genome-browser/components/browser-sidebar-modal/BrowserSidebarModal.tsx
  src/content/app/genome-browser/components/browser-sidebar-modal/modal-views/NavigateModal.tsx
  src/content/app/genome-browser/components/browser-sidebar-modal/modal-views/navigate-modal/LocationNavigation.tsx
  src/content/app/genome-browser/components/browser-sidebar-modal/modal-views/navigate-modal/NavigateModal.module.css
  src/content/app/genome-browser/components/browser-sidebar-modal/modal-views/navigate-modal/NavigationButtons.module.css
  src/content/app/genome-browser/components/browser-sidebar-modal/modal-views/navigate-modal/NavigationButtons.tsx
  src/content/app/genome-browser/components/browser-sidebar-modal/modal-views/navigate-modal/RegionNavigation.tsx
  src/content/app/genome-browser/components/browser-sidebar-modal/modal-views/navigate-modal/tests/LocationNavigation.test.tsx
  src/content/app/genome-browser/components/browser-sidebar-modal/modal-views/navigate-modal/tests/NavigateModal.test.tsx
  src/content/app/genome-browser/components/browser-sidebar-modal/modal-views/navigate-modal/tests/RegionNavigation.test.tsx
  src/content/app/genome-browser/components/browser-sidebar-modal/modal-views/navigate-modal/tests/mockValidationServer.ts
  src/content/app/genome-browser/components/browser-sidebar-toolstrip/BrowserSidebarToolstrip.test.tsx
  src/content/app/genome-browser/components/browser-sidebar-toolstrip/BrowserSidebarToolstrip.tsx
  src/content/app/genome-browser/components/chromosome-navigator/ChromosomeNavigator.tsx
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/TrackPanelList.module.css
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/TrackPanelList.test.tsx
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/TrackPanelList.tsx
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/track-panel-items/TrackPanelLocationNavigation.module.css
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/track-panel-items/TrackPanelLocationNavigation.tsx
  src/content/app/genome-browser/state/browser-sidebar-modal/browserSidebarModalSlice.ts
  src/content/app/tools/blast/components/blast-genomic-hits-diagram/BlastGenomicHitsDiagram.tsx
  src/content/app/tools/blast/views/blast-submission-results/components/single-blast-job-result/useGroupedBlastHits.ts
  src/shared/components/feature-summary-strip/FeatureSummaryStrip.tsx
  src/shared/components/feature-summary-strip/GeneSummaryStrip.tsx
  src/shared/components/feature-summary-strip/TranscriptSummaryStrip.tsx
  src/shared/components/feature-summary-strip/VariantSummaryStrip.tsx
  src/shared/components/feature-summary-strip/types.ts
  src/shared/components/input/FlatInput.tsx
  src/shared/components/region-navigation-buttons/RegionNavigationButtons.tsx
  src/shared/state/genome/genomeApiSlice.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Rename entity viewer to feature explorer (#1315)
  .storybook/preview.ts
  README.md
  doc/architecture/decisions/0014-visualisation-library.md
  doc/architecture/decisions/0017-server-side-rendering.md
  src/content/app/contact-us/components/contact-us-top-bar/ContactUsTopBar.tsx
  src/content/app/entity-viewer/EntityViewer.tsx
  src/content/app/entity-viewer/contexts/entity-viewer-ids-context/EntityViewerIdsContextProvider.tsx
  src/content/app/entity-viewer/interstitial/entity-viewer-interstitial-instructions/EntityViewerInterstitialInstructions.tsx
  src/content/app/entity-viewer/shared/components/entity-viewer-app-bar/EntityViewerAppBar.tsx
  src/content/app/entity-viewer/shared/page-meta/buildPageMeta.ts
  src/content/app/entity-viewer/shared/server-fetch/entityViewerServerFetch.ts
  src/content/app/entity-viewer/state/general/entityViewerGeneralSlice.ts
  src/content/app/entity-viewer/transcript-view/components/transcript-function/TranscriptFunction.tsx
  src/content/app/entity-viewer/variant-view/VariantView.tsx
  src/content/app/help/components/help-menu/helpMenuFixture.ts
  src/content/app/help/components/labelled-app-icon/LabelledAppIcon.tsx
  src/content/app/search/components/feature-search-results/FeatureSearchResults.test.tsx
  src/content/app/search/components/feature-search-results/FeatureSearchResults.tsx
  src/content/home/Home.tsx
  src/global/globalConfig.ts
  src/header/launchbar/EntityViewerLaunchbarButton.tsx
  src/root/useRestoredReduxState.ts
  src/routes/routesConfig.tsx
  src/shared/components/view-in-app/ViewInApp.test.tsx
  src/shared/components/view-in-app/ViewInApp.tsx
  src/shared/helpers/urlHelper.ts
  src/shared/services/previouslyViewedObjectsStorageService.test.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Fix entity viewer sidebar slice, and remove unused code
  src/content/app/entity-viewer/state/sidebar/entityViewerSidebarSelectors.ts
  src/content/app/entity-viewer/state/sidebar/entityViewerSidebarSlice.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Fix entity viewer sidebar slice, and remove unused code (#1321)
  src/content/app/entity-viewer/state/sidebar/entityViewerSidebarSelectors.ts
  src/content/app/entity-viewer/state/sidebar/entityViewerSidebarSlice.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Do not use lodash to update species general redux slice
  src/content/app/species/state/general/speciesGeneralSlice.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Do not use lodash to update species general redux slice (#1322)
  src/content/app/species/state/general/speciesGeneralSlice.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Create parsedUrlParamsStore for genome browser
  src/content/app/genome-browser/contexts/genome-browser-ids-context/parsedUrlParamsStore.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update parsedUrlParamsStore
  src/content/app/genome-browser/contexts/genome-browser-ids-context/parsedUrlParamsStore.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Add a link at the top to the archives help page
  src/header/Header.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Change text of the 'find a feature' label
  src/content/app/search/components/feature-search-field/FeatureSearchField.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Correctly display total number of genomes in a group
  src/content/app/species-selector/components/genome-selector-by-genome-group-id/GenomeSelectorByGenomeGroupId.tsx
  src/content/app/species-selector/components/genome-selector-by-species-taxonomy-id/GenomeSelectorBySpeciesTaxonomyId.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Minor UI updates and fixes (#1323)
  src/content/app/search/components/feature-search-field/FeatureSearchField.tsx
  src/content/app/species-selector/components/genome-selector-by-genome-group-id/GenomeSelectorByGenomeGroupId.tsx
  src/content/app/species-selector/components/genome-selector-by-species-taxonomy-id/GenomeSelectorBySpeciesTaxonomyId.tsx
  src/header/Header.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Rename urls and UI labels that have the word 'species' to 'genome'
  src/content/app/entity-viewer/interstitial/entity-viewer-interstitial-instructions/EntityViewerInterstitialInstructions.tsx
  src/content/app/entity-viewer/shared/components/entity-viewer-sidebar/entity-viewer-sidebar-modal/EntityViewerSidebarModal.tsx
  src/content/app/genome-browser/components/browser-sidebar-modal/BrowserSidebarModal.tsx
  src/content/app/genome-browser/components/interstitial/browser-interstitial-instructions/BrowserInterstitialInstructions.tsx
  src/content/app/help/components/help-landing/HelpLanding.tsx
  src/content/app/help/components/labelled-app-icon/LabelledAppIcon.tsx
  src/content/app/regulatory-activity-viewer/RegulatoryActivityViewer.tsx
  src/content/app/species-selector/SpeciesSelectorPage.tsx
  src/content/app/species-selector/components/species-search-field/SpeciesSearchField.tsx
  src/content/app/species-selector/components/species-search-results-summary/SpeciesSearchResultsSummary.tsx
  src/content/app/species-selector/components/species-selector-app-bar/SpeciesSelectorAppBar.tsx
  src/content/app/species-selector/views/species-manager/SpeciesManager.tsx
  src/content/app/species/SpeciesPage.tsx
  src/content/app/species/SpeciesPageContent.tsx
  src/content/app/species/components/species-sidebar-modal/SpeciesSidebarModal.tsx
  src/content/app/species/components/species-sidebar-modal/modal-views/SpeciesSidebarSearch.tsx
  src/content/app/species/components/species-title-area/SpeciesTitleArea.tsx
  src/content/app/species/components/species-title-area/species-usage-toggle/SpeciesUsageToggle.tsx
  src/content/app/tools/blast/components/blast-selected-species-list/BlastSelectedSpeciesListHeader.tsx
  src/content/app/tools/blast/views/blast-form/BlastForm.tsx
  src/content/app/tools/blast/views/blast-submission-results/components/single-blast-job-result/SingleBlastJobResult.tsx
  src/content/app/tools/vep/VepPageContent.tsx
  src/content/app/tools/vep/views/vep-form/vep-form-species-section/VepFormSpeciesSection.tsx
  src/content/home/Home.tsx
  src/routes/routesConfig.tsx
  src/server/middleware/redirectMiddleware.ts
  src/server/static-files/robots.txt
  src/shared/components/error-screen/GeneralErrorScreen.tsx
  src/shared/helpers/urlHelper.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Second round of updates
  src/content/app/entity-viewer/interstitial/entity-viewer-interstitial-instructions/EntityViewerInterstitialInstructions.tsx
  src/content/app/species-selector/components/species-search-field/AddSpecies.tsx
  src/content/app/species-selector/components/species-search-results-summary/SpeciesSearchResultsSummary.tsx
  src/content/app/species-selector/components/species-selector-search-results-app-bar/SpeciesSelectorSearchResultsAppBar.tsx
  src/content/app/species-selector/views/species-manager/selected-genomes-table/SelectedGenomesTable.tsx
  src/content/app/species-selector/views/species-manager/species-manager-app-bar/SpeciesManagerAppBar.tsx
  src/content/app/species-selector/views/species-selector-main-view/SpeciesSelectorMainView.test.tsx
  src/content/app/species/components/species-main-view/SpeciesMainViewStats.tsx
  src/content/home/Home.tsx
  src/global/globalConfig.ts
  src/header/launchbar/SpeciesSelectorLaunchbarButton.tsx
  src/shared/components/error-screen/url-errors/MissingGenomeError.tsx
  src/shared/components/species-manager-indicator/SpeciesManagerIndicator.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Fix test
  src/content/app/species-selector/views/species-selector-main-view/SpeciesSelectorMainView.test.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update style of app buttons on the home screen
  src/content/home/Home.module.css
Due: stylelint

Lower-case for 'selector' in 'Genome selector'
  src/content/app/entity-viewer/interstitial/entity-viewer-interstitial-instructions/EntityViewerInterstitialInstructions.tsx
  src/content/app/genome-browser/components/interstitial/browser-interstitial-instructions/BrowserInterstitialInstructions.tsx
  src/content/app/species-selector/components/species-selector-app-bar/SpeciesSelectorAppBar.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Species -> genome in a label in VEP
  src/content/app/tools/vep/views/vep-form/VepForm.tsx
  src/content/app/tools/vep/views/vep-form/vep-form-species-section/VepFormSpeciesSection.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update wording in a tooltip
  src/content/app/species-selector/components/species-search-field/SpeciesSearchField.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Fix help article slug strings after renaming species to genome
  src/content/app/species-selector/components/species-selector-app-bar/SpeciesSelectorAppBar.tsx
  src/content/app/species-selector/components/species-selector-search-results-app-bar/SpeciesSelectorSearchResultsAppBar.tsx
  src/content/app/species-selector/views/species-manager/species-manager-app-bar/SpeciesManagerAppBar.tsx
  src/content/app/species/components/species-app-bar/SpeciesAppBar.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Bump versions of regulation apis
  src/content/app/regulatory-activity-viewer/services/region-data-service/regionDataService.ts
  src/content/app/regulatory-activity-viewer/state/api/activityViewerApiSlice.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Remove colour markers from track panel
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/track-panel-items/TrackPanelItem.module.css
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/track-panel-items/TrackPanelRegularItem.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Show blue colour markers for gene tracks
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/track-panel-items/TrackPanelItem.module.css
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/track-panel-items/TrackPanelRegularItem.tsx
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/track-panel-items/TrackPanelTranscript.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Remove the flag for hiding genome categories
  src/content/app/species-selector/views/species-selector-main-view/SpeciesSelectorMainView.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Remove the flag for hiding genome categories (#1326)
  src/content/app/species-selector/views/species-selector-main-view/SpeciesSelectorMainView.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Use a single colour marker
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/TrackPanelList.module.css
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/TrackPanelList.tsx
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/track-panel-items/TrackPanelItem.module.css
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/track-panel-items/TrackPanelRegularItem.tsx
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/track-panel-items/TrackPanelTranscript.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Bump GB version
  package-lock.json
  package.json
Due: none

Fix VEP form submission in Safari
  src/content/app/tools/vep/services/vepStorageService.ts
  src/content/app/tools/vep/state/vep-form/vepFormSlice.ts
  src/shared/helpers/indexedDbHelpers.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Fix VEP form submission in Safari (#1329)
  src/content/app/tools/vep/services/vepStorageService.ts
  src/content/app/tools/vep/state/vep-form/vepFormSlice.ts
  src/shared/helpers/indexedDbHelpers.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Revert to no colour markers
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/TrackPanelList.module.css
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/TrackPanelList.tsx
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/track-panel-items/TrackPanelRegularItem.tsx
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/track-panel-items/TrackPanelTranscript.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Remove transcript colour labels
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/track-panel-items/TrackPanelTranscript.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Remove unused prop
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/TrackPanelList.tsx
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/track-panel-items/TrackPanelRegularItem.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Add an indeterminate state for Checkbox component
  src/shared/components/checkbox/Checkbox.module.css
  src/shared/components/checkbox/Checkbox.tsx
  stories/shared-components/checkbox/Checkbox.stories.module.css
  stories/shared-components/checkbox/Checkbox.stories.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Remove colour prop from track type
  src/content/app/genome-browser/state/types/tracks.ts
  tests/fixtures/genomes.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Remove gene track colour markers (#1325)
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/TrackPanelList.tsx
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/track-panel-items/TrackPanelItem.module.css
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/track-panel-items/TrackPanelRegularItem.tsx
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/track-panel-items/TrackPanelTranscript.tsx
  src/content/app/genome-browser/state/types/tracks.ts
  tests/fixtures/genomes.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Update styles
  src/content/app/species-selector/views/species-manager/SpeciesManager.module.css
  src/content/app/species-selector/views/species-manager/SpeciesManager.tsx
  src/content/app/species-selector/views/species-manager/selected-genomes-table/SelectedGenomesTable.module.css
  src/content/app/species-selector/views/species-manager/selected-genomes-table/SelectedGenomesTable.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

No need to wrap an input field in an empty label
  src/content/app/species-selector/views/species-manager/SpeciesManager.module.css
  src/content/app/species-selector/views/species-manager/SpeciesManager.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Minor refactoring of SelectAllGenomesCheckbox in SelectedGenomesTable
  src/content/app/species-selector/views/species-manager/selected-genomes-table/SelectedGenomesTable.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write
