Repository Ensembl/ensembl-client: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

.lintstagedrc.json:

{
  "*.{ts,tsx}": [
    "eslint --max-warnings=0",
    "manage-licence-header add",
    "prettier --write"
  ],
  "*.css": [
    "stylelint"
  ]
}

Further fixes of genome browser navigation
  src/content/app/genome-browser/hooks/useBrowserRouting.ts
  src/content/app/genome-browser/hooks/useGenomeBrowserPosition.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Guard against invalid genome browser locations (negative start)
  src/content/app/genome-browser/components/browser-app-bar/BrowserAppBar.tsx
  src/content/app/genome-browser/hooks/useGenomeBrowserPosition.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Avoid early return
  src/content/app/genome-browser/hooks/useBrowserRouting.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

updates to species lozenge and tooltip
  src/content/app/entity-viewer/shared/components/entity-viewer-app-bar/EntityViewerAppBar.tsx
  src/content/app/genome-browser/components/browser-app-bar/BrowserAppBar.tsx
  src/content/app/regulatory-activity-viewer/components/activity-viewer-app-bar/ActivityViewerAppBar.tsx
  src/content/app/search/components/search-app-bar/SearchAppBar.tsx
  src/content/app/species-selector/components/species-selector-app-bar/SpeciesSelectorAppBar.tsx
  src/content/app/species-selector/components/species-selector-search-results-app-bar/SpeciesSelectorSearchResultsAppBar.tsx
  src/content/app/species/components/species-app-bar/SpeciesAppBar.tsx
  src/content/app/tools/blast/components/blast-app-bar/BlastAppBar.tsx
  src/content/app/tools/vep/components/vep-app-bar/VepAppBar.tsx
  src/shared/components/selected-species/SelectedSpecies.module.css
  src/shared/components/selected-species/SelectedSpecies.test.tsx
  src/shared/components/selected-species/SelectedSpecies.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

update help & docs slug
  src/content/app/entity-viewer/shared/components/entity-viewer-app-bar/EntityViewerAppBar.tsx
  src/content/app/help/components/help-menu/helpMenuFixture.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Fix genome browser navigation (#1316)
  src/content/app/genome-browser/components/browser-app-bar/BrowserAppBar.tsx
  src/content/app/genome-browser/hooks/useBrowserRouting.ts
  src/content/app/genome-browser/hooks/useGenomeBrowserPosition.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Use the regulation apis deployed by the regulation team
  config.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

delete genomes from species manager
  src/content/app/species-selector/views/species-manager/SpeciesManager.module.css
  src/content/app/species-selector/views/species-manager/SpeciesManager.tsx
  src/content/app/species-selector/views/species-manager/selected-genomes-table/SelectedGenomesTable.module.css
  src/content/app/species-selector/views/species-manager/selected-genomes-table/SelectedGenomesTable.tsx
  src/shared/components/checkbox/Checkbox.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

fix
  .storybook/preview.ts
  src/content/app/entity-viewer/interstitial/entity-viewer-interstitial-instructions/EntityViewerInterstitialInstructions.tsx
  src/content/app/entity-viewer/shared/page-meta/buildPageMeta.ts
  src/content/app/help/components/help-menu/helpMenuFixture.ts
  src/content/app/help/components/labelled-app-icon/LabelledAppIcon.tsx
  src/content/app/search/components/feature-search-results/FeatureSearchResults.test.tsx
  src/content/app/search/components/feature-search-results/FeatureSearchResults.tsx
  src/content/home/Home.tsx
  src/global/globalConfig.ts
  src/header/launchbar/EntityViewerLaunchbarButton.tsx
  src/shared/components/view-in-app/ViewInApp.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Bump the versions of regulation api endpoints
  src/content/app/regulatory-activity-viewer/services/region-data-service/regionDataService.ts
  src/content/app/regulatory-activity-viewer/state/api/activityViewerApiSlice.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update babel to version 8
  babel.config.js
  package-lock.json
  package.json
  src/content/app/entity-viewer/gene-view/components/gene-overview-image/GeneOverviewImage.tsx
  src/content/app/entity-viewer/gene-view/components/proteins-list/proteins-list-item-info/ProteinsListItemInfo.tsx
  src/content/app/entity-viewer/gene-view/components/unspliced-transcript/UnsplicedTranscript.tsx
  src/content/app/entity-viewer/shared/helpers/entity-helpers.ts
  src/content/app/entity-viewer/shared/helpers/transcripts-sorter.ts
  src/content/app/entity-viewer/state/api/queries/defaultGeneQuery.ts
  src/content/app/entity-viewer/state/api/queries/geneExternalReferencesQuery.ts
  src/content/app/entity-viewer/state/api/queries/geneSummaryQuery.ts
  src/content/app/entity-viewer/state/api/queries/proteinDomainsQuery.ts
  src/content/app/entity-viewer/state/api/queries/transcriptDefaultQuery.ts
  src/content/app/entity-viewer/state/api/queries/variantDefaultQuery.ts
  src/content/app/entity-viewer/transcript-view/components/gene-overview-image/GeneOverviewImage.tsx
  src/content/app/genome-browser/state/api/queries/geneSummaryQuery.ts
  src/content/app/genome-browser/state/api/queries/variantQuery.ts
  src/content/app/genome-browser/state/types/track-panel-gene.ts
  src/content/app/species-selector/speciesSelectorHelper.ts
  src/content/app/tools/vep/state/vep-api/queries/vepExampleVariantQuery.ts
  src/shared/hooks/useApiService.ts
  src/shared/workers/feature-sequence-download/queries/geneAndTranscriptsQuery.ts
  src/shared/workers/feature-sequence-download/queries/regionChecksumQuery.ts
  src/shared/workers/feature-sequence-download/queries/transcriptQueryForProtein.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Move the remove button into SpeciesLozenge component, and clean up SelectedSpecies
  src/shared/components/close-button/CloseButton.module.css
  src/shared/components/selected-species/SelectedSpecies.module.css
  src/shared/components/selected-species/SelectedSpecies.tsx
  src/shared/components/selected-species/SpeciesLozenge.module.css
  src/shared/components/selected-species/SpeciesLozenge.tsx
  static/icons/icon_close.svg
  stories/shared-components/species-lozenge/SpeciesLozenge.stories.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Fix tests
  src/shared/components/selected-species/SelectedSpecies.test.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Revert changes to useVisibleActiveSpecies
  src/shared/components/species-tabs-slider/useVisibleActiveSpecies.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Extract command for genome deletion into a hook
  src/content/app/entity-viewer/shared/components/entity-viewer-app-bar/EntityViewerAppBar.tsx
  src/content/app/genome-browser/components/browser-app-bar/BrowserAppBar.tsx
  src/content/app/regulatory-activity-viewer/components/activity-viewer-app-bar/ActivityViewerAppBar.tsx
  src/content/app/search/components/search-app-bar/SearchAppBar.tsx
  src/content/app/species-selector/components/species-selector-app-bar/SpeciesSelectorAppBar.tsx
  src/content/app/species-selector/hooks/useGenomeRemoval.ts
  src/content/app/species/components/species-app-bar/SpeciesAppBar.tsx
  src/content/app/tools/blast/components/blast-app-bar/BlastAppBar.tsx
  src/content/app/tools/vep/components/vep-app-bar/VepAppBar.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Add a delete button to species lozenge (#1317)
  src/content/app/entity-viewer/shared/components/entity-viewer-app-bar/EntityViewerAppBar.tsx
  src/content/app/genome-browser/components/browser-app-bar/BrowserAppBar.tsx
  src/content/app/regulatory-activity-viewer/components/activity-viewer-app-bar/ActivityViewerAppBar.tsx
  src/content/app/search/components/search-app-bar/SearchAppBar.tsx
  src/content/app/species-selector/components/species-selector-app-bar/SpeciesSelectorAppBar.tsx
  src/content/app/species-selector/hooks/useGenomeRemoval.ts
  src/content/app/species/components/species-app-bar/SpeciesAppBar.tsx
  src/content/app/tools/blast/components/blast-app-bar/BlastAppBar.tsx
  src/content/app/tools/vep/components/vep-app-bar/VepAppBar.tsx
  src/shared/components/close-button/CloseButton.module.css
  src/shared/components/selected-species/SelectedSpecies.test.tsx
  src/shared/components/selected-species/SelectedSpecies.tsx
  src/shared/components/selected-species/SpeciesLozenge.module.css
  src/shared/components/selected-species/SpeciesLozenge.tsx
  static/icons/icon_close.svg
  stories/shared-components/species-lozenge/SpeciesLozenge.stories.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Make the browser navigation buttons work
  src/content/app/genome-browser/components/browser-bar/BrowserBar.module.css
  src/content/app/genome-browser/components/browser-bar/BrowserBar.tsx
  src/content/app/genome-browser/components/browser-nav-buttons/GenomeBrowserNavigationButtons.tsx
  src/shared/components/region-navigation-buttons/RegionNavigationButtons.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Use changeBrowserLocation directly; check region length; and disable navigation buttons
  src/content/app/genome-browser/components/browser-nav-buttons/GenomeBrowserNavigationButtons.tsx
  src/shared/components/region-navigation-buttons/RegionNavigationButtons.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Reduce amount of information in the top browser bar
  src/content/app/genome-browser/components/browser-bar/BrowserBar.tsx
  src/shared/components/feature-summary-strip/FeatureSummaryStrip.tsx
  src/shared/components/feature-summary-strip/GeneSummaryStrip.tsx
  src/shared/components/feature-summary-strip/TranscriptSummaryStrip.tsx
  src/shared/components/feature-summary-strip/VariantSummaryStrip.tsx
  src/shared/components/feature-summary-strip/types.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Clean up
  src/content/app/genome-browser/components/browser-sidebar-modal/modal-views/NavigateModal.tsx
  src/content/app/genome-browser/components/browser-sidebar-modal/modal-views/navigate-modal/LocationNavigation.tsx
  src/content/app/genome-browser/components/browser-sidebar-modal/modal-views/navigate-modal/NavigateModal.module.css
  src/content/app/genome-browser/components/browser-sidebar-modal/modal-views/navigate-modal/NavigationButtons.module.css
  src/content/app/genome-browser/components/browser-sidebar-modal/modal-views/navigate-modal/NavigationButtons.tsx
  src/content/app/genome-browser/components/browser-sidebar-modal/modal-views/navigate-modal/RegionNavigation.tsx
  src/content/app/genome-browser/components/browser-sidebar-modal/modal-views/navigate-modal/tests/NavigateModal.test.tsx
  src/content/app/genome-browser/components/browser-sidebar-modal/modal-views/navigate-modal/tests/RegionNavigation.test.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Add editable location input to genome browser top bar
  src/content/app/genome-browser/components/browser-bar/BrowserBar.tsx
  src/content/app/genome-browser/components/browser-location-indicator/BrowserLocationIndicator.module.css
  src/content/app/genome-browser/components/browser-location-indicator/BrowserLocationIndicator.tsx
  src/shared/components/input/FlatInput.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Remove unused css class
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/track-panel-items/TrackPanelLocationNavigation.module.css
Due: stylelint

Create a track panel section for changing genome browser location
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/TrackPanelList.tsx
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/track-panel-items/TrackPanelLocationNavigation.module.css
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/track-panel-items/TrackPanelLocationNavigation.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Add tests for updated BrowserLocationIndicator
  src/content/app/genome-browser/components/browser-location-indicator/BrowserLocationIndicator.browser.test.tsx
  src/content/app/genome-browser/components/browser-location-indicator/BrowserLocationIndicator.test.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Skip failing tests
  src/content/app/genome-browser/components/browser-bar/BrowserBar.test.tsx
  src/content/app/genome-browser/components/browser-location-indicator/BrowserLocationIndicator.test.tsx
  src/content/app/genome-browser/components/browser-sidebar-toolstrip/BrowserSidebarToolstrip.test.tsx
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/TrackPanelList.test.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Remove navigate modal from sidebar
  src/content/app/genome-browser/components/browser-sidebar-modal/BrowserSidebarModal.tsx
  src/content/app/genome-browser/components/browser-sidebar-modal/modal-views/NavigateModal.tsx
  src/content/app/genome-browser/components/browser-sidebar-modal/modal-views/navigate-modal/LocationNavigation.tsx
  src/content/app/genome-browser/components/browser-sidebar-modal/modal-views/navigate-modal/NavigateModal.module.css
  src/content/app/genome-browser/components/browser-sidebar-modal/modal-views/navigate-modal/tests/LocationNavigation.test.tsx
  src/content/app/genome-browser/components/browser-sidebar-modal/modal-views/navigate-modal/tests/NavigateModal.test.tsx
  src/content/app/genome-browser/components/browser-sidebar-modal/modal-views/navigate-modal/tests/mockValidationServer.ts
  src/content/app/genome-browser/components/browser-sidebar-toolstrip/BrowserSidebarToolstrip.tsx
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/TrackPanelList.module.css
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/TrackPanelList.test.tsx
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/TrackPanelList.tsx
  src/content/app/genome-browser/state/browser-sidebar-modal/browserSidebarModalSlice.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Make an update to TrackPanelList to pass tests
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/TrackPanelList.test.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Delete tests for BrowserBar component
  src/content/app/genome-browser/components/browser-bar/BrowserBar.test.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Switch genome browser region when region name changes
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/track-panel-items/TrackPanelLocationNavigation.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update styles of region selector dropdown in sidebar
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/track-panel-items/TrackPanelLocationNavigation.module.css
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/track-panel-items/TrackPanelLocationNavigation.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Use the top-regions endpoint instead of the karyotype one
  src/content/app/genome-browser/components/chromosome-navigator/ChromosomeNavigator.tsx
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/track-panel-items/TrackPanelLocationNavigation.tsx
  src/content/app/tools/blast/components/blast-genomic-hits-diagram/BlastGenomicHitsDiagram.tsx
  src/content/app/tools/blast/views/blast-submission-results/components/single-blast-job-result/useGroupedBlastHits.ts
  src/shared/state/genome/genomeApiSlice.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update tests for BrowserSidebarToolstrip
  src/content/app/genome-browser/components/browser-sidebar-toolstrip/BrowserSidebarToolstrip.test.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Reset LocationNavigation when genome id changes, and suppress diagnostic logging from msw
  src/content/app/genome-browser/components/browser-location-indicator/BrowserLocationIndicator.browser.test.tsx
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/track-panel-items/TrackPanelLocationNavigation.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Hide the tooltip with wrong location message
  src/content/app/genome-browser/components/browser-location-indicator/BrowserLocationIndicator.tsx
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/track-panel-items/TrackPanelLocationNavigation.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Fix updates for GenomeBrowserNavigationButtons
  src/content/app/genome-browser/components/browser-nav-buttons/GenomeBrowserNavigationButtons.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Prevent unmounting of the location indicator
  src/content/app/genome-browser/components/browser-bar/BrowserBar.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update ensembl-genome-browser and ensembl-structural-variants
  package-lock.json
  package.json
Due: none

Blur the input after successful navigation
  src/content/app/genome-browser/components/browser-location-indicator/BrowserLocationIndicator.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Enable navigation using just start/end or region name in sidebar location input
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/track-panel-items/TrackPanelLocationNavigation.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update ensembl-elements-common package to fix aria labels for navigation buttons
  package-lock.json
  package.json
Due: none
