Repository Ensembl/ensembl-client: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Setup review for Ensembl-client
  gitlab-ci-templates/.setup-review-template.yaml
Due: none

Correct script for nginx&node setup
  gitlab-ci-templates/.setup-review-template.yaml
Due: none

See in in action - apply ( Test by creating k8s resources)
  gitlab-ci-templates/.setup-review-template.yaml
Due: none

Update review deploy template and use it
  .gitlab-ci.yml
Due: none

Correct nginx docker image
  .gitlab-ci.yml
Due: none

Add allele population frequencies component
  src/content/app/entity-viewer/state/api/entityViewerThoasSlice.ts
  src/content/app/entity-viewer/state/api/fixtures/mockPopulationAlelleFrequenciesData.ts
  src/content/app/entity-viewer/state/api/fixtures/mockPopulationsData.ts
  src/content/app/entity-viewer/state/api/queries/variantAlleleFrequenciesQuery.ts
  src/content/app/entity-viewer/state/api/queries/variantDefaultQuery.ts
  src/content/app/entity-viewer/state/api/queries/variantStudyPopulationsQuery.ts
  src/content/app/entity-viewer/state/entityViewerReducer.ts
  src/content/app/entity-viewer/state/variant-view/entityViewerVariantViewReducer.ts
  src/content/app/entity-viewer/state/variant-view/view/variantViewViewSelectors.ts
  src/content/app/entity-viewer/state/variant-view/view/variantViewViewSlice.ts
  src/content/app/entity-viewer/variant-view/VariantView.module.css
  src/content/app/entity-viewer/variant-view/VariantView.tsx
  src/content/app/entity-viewer/variant-view/population-allele-frequencies/PopulationAlleleFrequencies.module.css
  src/content/app/entity-viewer/variant-view/population-allele-frequencies/PopulationAlleleFrequencies.tsx
  src/content/app/entity-viewer/variant-view/population-allele-frequencies/usePopulationAlleleFrequenciesData.ts
  src/content/app/entity-viewer/variant-view/variant-image/VariantImage.module.css
  src/content/app/entity-viewer/variant-view/variant-view-navigation-panel/VariantViewNavigationPanel.module.css
  src/content/app/entity-viewer/variant-view/variant-view-navigation-panel/VariantViewNavigationPanel.tsx
  src/shared/components/panel/Panel.module.css
  src/shared/helpers/urlHelper.ts
  src/shared/types/variation-api/variantStudyPopulation.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Style updates
  src/content/app/entity-viewer/variant-view/population-allele-frequencies/PopulationAlleleFrequencies.module.css
  src/content/app/entity-viewer/variant-view/population-allele-frequencies/PopulationAlleleFrequencies.tsx
  src/content/app/entity-viewer/variant-view/variant-image/VariantImage.module.css
  src/content/app/entity-viewer/variant-view/variant-image/alternative-alleles/AlternativeAlleles.module.css
  src/content/app/entity-viewer/variant-view/variant-image/alternative-alleles/AlternativeAlleles.tsx
  src/content/app/entity-viewer/variant-view/variant-image/flanking-sequence/FlankingSequence.tsx
  src/content/app/entity-viewer/variant-view/variant-view-navigation-panel/VariantViewNavigationPanel.module.css
  src/content/app/entity-viewer/variant-view/variant-view-navigation-panel/variant-view-tab/VariantViewTab.module.css
  src/content/app/entity-viewer/variant-view/variant-view-sidebar/overview/VariantOverview.module.css
  src/content/app/entity-viewer/variant-view/variant-view-sidebar/overview/VariantOverview.tsx
  src/shared/components/panel/Panel.module.css
  src/shared/components/table/Table.module.css
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Update ellipses and allele links
  src/content/app/entity-viewer/variant-view/population-allele-frequencies/PopulationAlleleFrequencies.module.css
  src/content/app/entity-viewer/variant-view/variant-image/flanking-sequence/FlankingSequence.module.css
  src/content/app/entity-viewer/variant-view/variant-image/flanking-sequence/FlankingSequence.tsx
  src/content/app/entity-viewer/variant-view/variant-view-sidebar/overview/MainAccordion.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Delete mock data
  src/content/app/entity-viewer/state/api/fixtures/mockHomologyData.ts
  src/content/app/entity-viewer/state/api/fixtures/mockPopulationAlelleFrequenciesData.ts
  src/content/app/entity-viewer/state/api/fixtures/mockPopulationsData.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Delete commented out code
  src/content/app/entity-viewer/state/api/entityViewerThoasSlice.ts
  src/content/app/entity-viewer/state/api/queries/variantStudyPopulationsQuery.ts
  src/content/app/entity-viewer/variant-view/population-allele-frequencies/PopulationAlleleFrequencies.tsx
  src/content/app/entity-viewer/variant-view/population-allele-frequencies/usePopulationAlleleFrequenciesData.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Slight code refactoring; show spinner while loading; show 'no data' message
  src/content/app/entity-viewer/variant-view/population-allele-frequencies/PopulationAlleleFrequencies.tsx
  src/content/app/entity-viewer/variant-view/population-allele-frequencies/usePopulationAlleleFrequenciesData.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Further refactoring — no need to separate reference allele from alt alleles
  src/content/app/entity-viewer/variant-view/population-allele-frequencies/PopulationAlleleFrequencies.tsx
  src/content/app/entity-viewer/variant-view/population-allele-frequencies/usePopulationAlleleFrequenciesData.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Keep track of selected allele and view in redux
  src/content/app/entity-viewer/state/variant-view/entityViewerVariantViewReducer.ts
  src/content/app/entity-viewer/state/variant-view/general/variantViewGeneralSelectors.ts
  src/content/app/entity-viewer/state/variant-view/general/variantViewGeneralSlice.ts
  src/content/app/entity-viewer/state/variant-view/view/variantViewViewSlice.ts
  src/content/app/entity-viewer/variant-view/VariantView.tsx
  src/content/app/entity-viewer/variant-view/variant-view-navigation-panel/VariantViewNavigationPanel.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Refactor ExternalLink component
  src/content/app/entity-viewer/gene-view/components/default-transcripts-list/transcripts-list-item-info/TranscriptsListItemInfo.tsx
  src/content/app/entity-viewer/gene-view/components/gene-view-sidebar/external-references/GeneExternalReferences.module.css
  src/content/app/entity-viewer/gene-view/components/gene-view-sidebar/external-references/GeneExternalReferences.tsx
  src/content/app/entity-viewer/gene-view/components/gene-view-sidebar/overview/GeneOverview.module.css
  src/content/app/entity-viewer/gene-view/components/gene-view-sidebar/overview/GeneOverview.test.tsx
  src/content/app/entity-viewer/gene-view/components/gene-view-sidebar/overview/GeneOverview.tsx
  src/content/app/entity-viewer/gene-view/components/gene-view-sidebar/publications/GenePublications.tsx
  src/content/app/entity-viewer/gene-view/components/protein-domain-image/ProteinDomainImage.tsx
  src/content/app/entity-viewer/gene-view/components/proteins-list/proteins-list-item-info/ProteinsListItemInfo.module.css
  src/content/app/entity-viewer/gene-view/components/proteins-list/proteins-list-item-info/ProteinsListItemInfo.test.tsx
  src/content/app/entity-viewer/gene-view/components/proteins-list/proteins-list-item-info/ProteinsListItemInfo.tsx
  src/content/app/entity-viewer/variant-view/variant-view-sidebar/overview/VariantOverview.tsx
  src/content/app/genome-browser/components/drawer/drawer-views/gene-summary/GeneSummary.tsx
  src/content/app/genome-browser/components/drawer/drawer-views/track-details/TrackDetails.tsx
  src/content/app/genome-browser/components/drawer/drawer-views/transcript-summary/TranscriptSummary.tsx
  src/content/app/genome-browser/components/drawer/drawer-views/variant-group-legend/VariantGroupLegend.tsx
  src/content/app/genome-browser/components/drawer/drawer-views/variant-summary/VariantSummary.tsx
  src/content/app/species-selector/components/species-search-results-table/SpeciesSearchResultsTable.tsx
  src/content/app/species/components/species-page-sidebar/SpeciesPageSidebar.tsx
  src/shared/components/communication-framework/contact-us/ContactUs.tsx
  src/shared/components/external-link/ExternalLink.module.css
  src/shared/components/external-link/ExternalLink.test.tsx
  src/shared/components/external-link/ExternalLink.tsx
  src/shared/components/external-reference/ExternalReference.module.css
  src/shared/components/external-reference/ExternalReference.test.tsx
  src/shared/components/external-reference/ExternalReference.tsx
  stories/shared-components/external-link/ExternalLink.stories.tsx
  stories/shared-components/external-reference/ExternalReference.stories.module.css
  stories/shared-components/external-reference/ExternalReference.stories.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Exclude populations not studied for a given allele
  src/content/app/entity-viewer/variant-view/population-allele-frequencies/PopulationAlleleFrequencies.tsx
  src/content/app/entity-viewer/variant-view/population-allele-frequencies/usePopulationAlleleFrequenciesData.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Link text in external links has a font-size of 12px by default
  src/shared/components/external-link/ExternalLink.module.css
Due: stylelint

Add a table of allele frequencies to EntityViewer variant view (#1083)
  src/content/app/entity-viewer/state/api/entityViewerThoasSlice.ts
  src/content/app/entity-viewer/state/api/fixtures/mockHomologyData.ts
  src/content/app/entity-viewer/state/api/queries/variantAlleleFrequenciesQuery.ts
  src/content/app/entity-viewer/state/api/queries/variantDefaultQuery.ts
  src/content/app/entity-viewer/state/api/queries/variantStudyPopulationsQuery.ts
  src/content/app/entity-viewer/state/entityViewerReducer.ts
  src/content/app/entity-viewer/state/variant-view/entityViewerVariantViewReducer.ts
  src/content/app/entity-viewer/state/variant-view/general/variantViewGeneralSelectors.ts
  src/content/app/entity-viewer/state/variant-view/general/variantViewGeneralSlice.ts
  src/content/app/entity-viewer/variant-view/VariantView.module.css
  src/content/app/entity-viewer/variant-view/VariantView.tsx
  src/content/app/entity-viewer/variant-view/population-allele-frequencies/PopulationAlleleFrequencies.module.css
  src/content/app/entity-viewer/variant-view/population-allele-frequencies/PopulationAlleleFrequencies.tsx
  src/content/app/entity-viewer/variant-view/population-allele-frequencies/usePopulationAlleleFrequenciesData.ts
  src/content/app/entity-viewer/variant-view/variant-image/VariantImage.module.css
  src/content/app/entity-viewer/variant-view/variant-image/alternative-alleles/AlternativeAlleles.module.css
  src/content/app/entity-viewer/variant-view/variant-image/alternative-alleles/AlternativeAlleles.tsx
  src/content/app/entity-viewer/variant-view/variant-image/flanking-sequence/FlankingSequence.module.css
  src/content/app/entity-viewer/variant-view/variant-image/flanking-sequence/FlankingSequence.tsx
  src/content/app/entity-viewer/variant-view/variant-view-navigation-panel/VariantViewNavigationPanel.module.css
  src/content/app/entity-viewer/variant-view/variant-view-navigation-panel/VariantViewNavigationPanel.tsx
  src/content/app/entity-viewer/variant-view/variant-view-navigation-panel/variant-view-tab/VariantViewTab.module.css
  src/content/app/entity-viewer/variant-view/variant-view-sidebar/overview/MainAccordion.tsx
  src/content/app/entity-viewer/variant-view/variant-view-sidebar/overview/VariantOverview.module.css
  src/content/app/entity-viewer/variant-view/variant-view-sidebar/overview/VariantOverview.tsx
  src/shared/components/panel/Panel.module.css
  src/shared/components/table/Table.module.css
  src/shared/helpers/urlHelper.ts
  src/shared/types/variation-api/variantStudyPopulation.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

move Copy link above the vcf string
  src/shared/components/variant-vcf/VariantVCF.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Add assembly count to species page
  src/content/app/species/SpeciesPageContent.tsx
  src/content/app/species/components/species-main-view/SpeciesMainView.tsx
  src/content/app/species/components/species-title-area/SpeciesTitleArea.module.css
  src/content/app/species/components/species-title-area/SpeciesTitleArea.tsx
  src/shared/state/genome/genomeTypes.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

PR suggestion
  src/content/app/species/SpeciesPageContent.tsx
  src/content/app/species/components/species-main-view/SpeciesMainView.tsx
  src/content/app/species/components/species-title-area/SpeciesTitleArea.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update the icon vertical position, and move the icon inside of the link
  src/shared/components/external-link/ExternalLink.module.css
  src/shared/components/external-link/ExternalLink.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Remove commented out code
  src/shared/components/external-link/ExternalLink.module.css
Due: stylelint

Remove a couple of unnecessary CSS rules
  src/content/app/entity-viewer/gene-view/components/default-transcripts-list/transcripts-list-item-info/TranscriptsListItemInfo.module.css
  src/shared/components/external-link/ExternalLink.module.css
Due: stylelint

Use InfoPill component for assembly count
  src/content/app/species/components/species-title-area/SpeciesTitleArea.module.css
  src/content/app/species/components/species-title-area/SpeciesTitleArea.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

add change tolerance to variant entity viewer rh panel
  src/content/app/entity-viewer/variant-view/variant-view-sidebar/overview/MainAccordion.tsx
  src/content/app/entity-viewer/variant-view/variant-view-sidebar/overview/VariantOverview.module.css
  src/content/app/genome-browser/components/drawer/drawer-views/variant-summary/VariantSummary.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Refactor ExternalLink and ExternalReference components (#1084)
  src/content/app/entity-viewer/gene-view/components/default-transcripts-list/transcripts-list-item-info/TranscriptsListItemInfo.module.css
  src/content/app/entity-viewer/gene-view/components/default-transcripts-list/transcripts-list-item-info/TranscriptsListItemInfo.tsx
  src/content/app/entity-viewer/gene-view/components/gene-view-sidebar/external-references/GeneExternalReferences.module.css
  src/content/app/entity-viewer/gene-view/components/gene-view-sidebar/external-references/GeneExternalReferences.tsx
  src/content/app/entity-viewer/gene-view/components/gene-view-sidebar/overview/GeneOverview.module.css
  src/content/app/entity-viewer/gene-view/components/gene-view-sidebar/overview/GeneOverview.test.tsx
  src/content/app/entity-viewer/gene-view/components/gene-view-sidebar/overview/GeneOverview.tsx
  src/content/app/entity-viewer/gene-view/components/gene-view-sidebar/publications/GenePublications.tsx
  src/content/app/entity-viewer/gene-view/components/protein-domain-image/ProteinDomainImage.tsx
  src/content/app/entity-viewer/gene-view/components/proteins-list/proteins-list-item-info/ProteinsListItemInfo.module.css
  src/content/app/entity-viewer/gene-view/components/proteins-list/proteins-list-item-info/ProteinsListItemInfo.test.tsx
  src/content/app/entity-viewer/gene-view/components/proteins-list/proteins-list-item-info/ProteinsListItemInfo.tsx
  src/content/app/entity-viewer/variant-view/variant-view-sidebar/overview/VariantOverview.tsx
  src/content/app/genome-browser/components/drawer/drawer-views/gene-summary/GeneSummary.tsx
  src/content/app/genome-browser/components/drawer/drawer-views/track-details/TrackDetails.tsx
  src/content/app/genome-browser/components/drawer/drawer-views/transcript-summary/TranscriptSummary.tsx
  src/content/app/genome-browser/components/drawer/drawer-views/variant-group-legend/VariantGroupLegend.tsx
  src/content/app/genome-browser/components/drawer/drawer-views/variant-summary/VariantSummary.tsx
  src/content/app/species-selector/components/species-search-results-table/SpeciesSearchResultsTable.tsx
  src/content/app/species/components/species-page-sidebar/SpeciesPageSidebar.tsx
  src/shared/components/communication-framework/contact-us/ContactUs.tsx
  src/shared/components/external-link/ExternalLink.module.css
  src/shared/components/external-link/ExternalLink.test.tsx
  src/shared/components/external-link/ExternalLink.tsx
  src/shared/components/external-reference/ExternalReference.module.css
  src/shared/components/external-reference/ExternalReference.test.tsx
  src/shared/components/external-reference/ExternalReference.tsx
  stories/shared-components/external-link/ExternalLink.stories.tsx
  stories/shared-components/external-reference/ExternalReference.stories.module.css
  stories/shared-components/external-reference/ExternalReference.stories.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Add FTP links component with dummy data
  src/content/app/species/components/species-sidebar-modal/SpeciesSidebarModal.tsx
  src/content/app/species/components/species-sidebar-modal/modal-views/SpeciesSidebarDownloads.module.css
  src/content/app/species/components/species-sidebar-modal/modal-views/SpeciesSidebarDownloads.tsx
  src/content/app/species/components/species-sidebar-toolstrip/SpeciesSidebarToolstrip.tsx
  src/content/app/species/state/api/fixtures/mockFtpLinks.ts
  src/content/app/species/state/api/speciesApiSlice.ts
  src/content/app/species/state/api/speciesApiTypes.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

list all consequences for an transcript allele
  src/content/app/entity-viewer/state/api/entityViewerThoasSlice.ts
  src/content/app/entity-viewer/state/api/queries/variantTranscriptConsequenceQuery.ts
  src/content/app/entity-viewer/state/variant-view/general/variantViewGeneralSelectors.ts
  src/content/app/entity-viewer/state/variant-view/general/variantViewGeneralSlice.ts
  src/content/app/entity-viewer/variant-view/VariantView.tsx
  src/content/app/entity-viewer/variant-view/transcript-consequences/TranscriptConsequences.module.css
  src/content/app/entity-viewer/variant-view/transcript-consequences/TranscriptConsequences.tsx
  src/content/app/entity-viewer/variant-view/transcript-consequences/useTranscriptConsequencesData.ts
  src/content/app/entity-viewer/variant-view/variant-view-navigation-panel/VariantViewNavigationPanel.tsx
  src/content/app/entity-viewer/variant-view/variant-view-sidebar/overview/MainAccordion.tsx
  src/shared/types/variation-api/variantAllele.ts
  src/shared/types/variation-api/variantPredictedMolecularConsequence.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

move component outside of main react component
  src/content/app/entity-viewer/variant-view/variant-view-sidebar/overview/MainAccordion.tsx
  src/content/app/genome-browser/components/drawer/drawer-views/variant-summary/prepareVariantSummaryData.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Add assembly count to species page (#1086)
  src/content/app/species/components/species-title-area/SpeciesTitleArea.module.css
  src/content/app/species/components/species-title-area/SpeciesTitleArea.tsx
  src/shared/state/genome/genomeTypes.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

List all transcript consequences for a variant allele (#1089)
  src/content/app/entity-viewer/state/api/entityViewerThoasSlice.ts
  src/content/app/entity-viewer/state/api/queries/variantTranscriptConsequenceQuery.ts
  src/content/app/entity-viewer/state/variant-view/general/variantViewGeneralSelectors.ts
  src/content/app/entity-viewer/state/variant-view/general/variantViewGeneralSlice.ts
  src/content/app/entity-viewer/variant-view/VariantView.tsx
  src/content/app/entity-viewer/variant-view/transcript-consequences/TranscriptConsequences.module.css
  src/content/app/entity-viewer/variant-view/transcript-consequences/TranscriptConsequences.tsx
  src/content/app/entity-viewer/variant-view/transcript-consequences/useTranscriptConsequencesData.ts
  src/content/app/entity-viewer/variant-view/variant-view-navigation-panel/VariantViewNavigationPanel.tsx
  src/content/app/entity-viewer/variant-view/variant-view-sidebar/overview/MainAccordion.tsx
  src/shared/types/variation-api/variantAllele.ts
  src/shared/types/variation-api/variantPredictedMolecularConsequence.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Add change tolerance to variant entity viewer rh panel (#1087)
  src/content/app/entity-viewer/variant-view/variant-view-sidebar/overview/MainAccordion.tsx
  src/content/app/entity-viewer/variant-view/variant-view-sidebar/overview/VariantOverview.module.css
  src/content/app/genome-browser/components/drawer/drawer-views/variant-summary/VariantSummary.tsx
  src/content/app/genome-browser/components/drawer/drawer-views/variant-summary/prepareVariantSummaryData.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Revert and rename
  src/content/app/species/components/species-sidebar-modal/modal-views/SpeciesSidebarDownloads.module.css
  src/content/app/species/components/species-sidebar-modal/modal-views/SpeciesSidebarDownloads.tsx
  src/content/app/species/state/api/fixtures/mockFtpLinks.ts
  src/content/app/species/state/api/speciesApiSlice.ts
  src/content/app/species/state/api/speciesApiTypes.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Typo
  src/content/app/species/state/api/speciesApiSlice.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Rename Job for dev-2020
  .gitlab-ci.yml
Due: none

Create namespace if doesn't exist
  gitlab-ci-templates/.setup-review-template.yaml
Due: none

Switch to endpoint
  src/content/app/species/state/api/fixtures/mockFtpLinks.ts
  src/content/app/species/state/api/speciesApiSlice.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Revert branches
  .gitlab-ci.yml
Due: none

Update deploy-tools version for publishing assets
  .gitlab-ci.yml
Due: none

Correct branch from main to master
  .gitlab-ci.yml
Due: none

Path conditions:
  eslint --max-warnings=0: any of: *.{ts,tsx}
  manage-licence-header add: any of: *.{ts,tsx}
  prettier --write: any of: *.{ts,tsx}
  stylelint: any of: *.css
