Repository Ensembl/ensembl-client: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Cleanup Deploy template
  .gitlab-ci.yml
Due: none

Rules everywhere
  .gitlab-ci.yml
Due: none

Update sidebar styles
  src/content/app/entity-viewer/gene-view/components/gene-view-sidebar/overview/GeneOverview.module.css
  src/content/app/entity-viewer/variant-view/variant-view-sidebar/overview/VariantOverview.module.css
  src/content/app/genome-browser/components/drawer/drawer-views/variant-summary/variant-consequence/VariantConsequence.module.css
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/TrackPanelList.module.css
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/track-panel-items/TrackPanelItem.module.css
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/track-panel-items/track-panel-variant/TrackPanelVariant.module.css
  src/content/app/species/components/species-page-sidebar/SpeciesPageSidebar.module.css
  src/content/app/species/components/species-page-sidebar/SpeciesPageSidebar.tsx
  src/shared/components/copy/Copy.module.css
  src/shared/components/variant-vcf/VariantVCF.module.css
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Correct rules for nodeploy and update comments
  .gitlab-ci.yml
Due: none

PR suggestions
  src/content/app/entity-viewer/gene-view/components/gene-view-sidebar/overview/GeneOverview.module.css
  src/content/app/entity-viewer/variant-view/variant-view-sidebar/overview/VariantOverview.module.css
  src/content/app/genome-browser/components/drawer/drawer-views/variant-summary/VariantSummary.module.css
  src/content/app/genome-browser/components/drawer/drawer-views/variant-summary/VariantSummary.tsx
  src/content/app/genome-browser/components/drawer/drawer-views/variant-summary/variant-consequence/VariantConsequence.module.css
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/track-panel-items/TrackPanelItem.module.css
  src/shared/components/copy/Copy.module.css
  src/shared/components/variant-vcf/VariantVCF.module.css
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Add 'Get files' button to the sidebar, and add circle loader
  src/content/app/species/components/species-page-sidebar/SpeciesPageSidebar.module.css
  src/content/app/species/components/species-page-sidebar/SpeciesPageSidebar.tsx
  src/content/app/species/components/species-sidebar-modal/modal-views/SpeciesSidebarDownloads.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Review on newk8s (#1082)
  .gitlab-ci.yml
  gitlab-ci-templates/.setup-review-template.yaml
Due: none

Add FTP links component to the Species page (#1088)
  src/content/app/species/components/species-page-sidebar/SpeciesPageSidebar.module.css
  src/content/app/species/components/species-page-sidebar/SpeciesPageSidebar.tsx
  src/content/app/species/components/species-sidebar-modal/SpeciesSidebarModal.tsx
  src/content/app/species/components/species-sidebar-modal/modal-views/SpeciesSidebarDownloads.module.css
  src/content/app/species/components/species-sidebar-modal/modal-views/SpeciesSidebarDownloads.tsx
  src/content/app/species/components/species-sidebar-toolstrip/SpeciesSidebarToolstrip.tsx
  src/content/app/species/state/api/speciesApiSlice.ts
  src/content/app/species/state/api/speciesApiTypes.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Fetch genomic sequence
  src/content/app/entity-viewer/variant-view/transcript-consequences/TranscriptConsequences.module.css
  src/content/app/entity-viewer/variant-view/transcript-consequences/transcript-consequence-details/TranscriptConsequenceDetails.tsx
  src/content/app/entity-viewer/variant-view/transcript-consequences/transcript-variant-genomic-sequence/TranscriptVariantGenomicSequence.module.css
  src/content/app/entity-viewer/variant-view/transcript-consequences/transcript-variant-genomic-sequence/TranscriptVariantGenomicSequence.tsx
  src/content/app/entity-viewer/variant-view/transcript-consequences/useTranscriptDetails.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Variant transcript consequences — add genomic sequence and transcript diagram
  src/content/app/entity-viewer/state/api/entityViewerThoasSlice.ts
  src/content/app/entity-viewer/state/api/queries/variantPredictedMolecularConsequencesQuery.ts
  src/content/app/entity-viewer/state/api/queries/variantTranscriptConsequencesQueries.ts
  src/content/app/entity-viewer/variant-view/transcript-consequences/TranscriptConsequences.module.css
  src/content/app/entity-viewer/variant-view/transcript-consequences/TranscriptConsequences.tsx
  src/content/app/entity-viewer/variant-view/transcript-consequences/transcript-variant-diagram/TranscriptVariantDiagram.module.css
  src/content/app/entity-viewer/variant-view/transcript-consequences/transcript-variant-diagram/TranscriptVariantDiagram.tsx
  src/content/app/entity-viewer/variant-view/transcript-consequences/useTranscriptConsequencesData.ts
  src/content/app/entity-viewer/variant-view/variant-view-navigation-panel/VariantViewNavigationPanel.tsx
  src/shared/types/variation-api/variantAllele.ts
  src/shared/types/variation-api/variantPredictedMolecularConsequence.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Show transcript diagram in the expanded section of transcript consequences
  src/content/app/entity-viewer/variant-view/transcript-consequences/TranscriptConsequences.tsx
  src/content/app/entity-viewer/variant-view/transcript-consequences/transcript-consequence-details/TranscriptConsequenceDetails.tsx
  src/content/app/entity-viewer/variant-view/transcript-consequences/transcript-variant-diagram/TranscriptVariantDiagram.tsx
  src/content/app/entity-viewer/variant-view/transcript-consequences/transcript-variant-diagram/transcriptDrawingHelpers.ts
  src/content/app/entity-viewer/variant-view/transcript-consequences/useTranscriptConsequencesData.ts
  src/content/app/entity-viewer/variant-view/transcript-consequences/useTranscriptDetails.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Calculate the distance from variant start/end to genomic slice start/end
  src/content/app/entity-viewer/variant-view/transcript-consequences/TranscriptConsequences.tsx
  src/content/app/entity-viewer/variant-view/transcript-consequences/transcript-consequence-details/TranscriptConsequenceDetails.tsx
  src/content/app/entity-viewer/variant-view/transcript-consequences/transcript-variant-genomic-sequence/TranscriptVariantGenomicSequence.tsx
  src/content/app/entity-viewer/variant-view/transcript-consequences/useTranscriptDetails.test.ts
  src/content/app/entity-viewer/variant-view/transcript-consequences/useTranscriptDetails.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Display genomic sequence
  src/content/app/entity-viewer/variant-view/transcript-consequences/TranscriptConsequences.tsx
  src/content/app/entity-viewer/variant-view/transcript-consequences/transcript-consequence-details/TranscriptConsequenceDetails.module.css
  src/content/app/entity-viewer/variant-view/transcript-consequences/transcript-consequence-details/TranscriptConsequenceDetails.tsx
  src/content/app/entity-viewer/variant-view/transcript-consequences/transcript-variant-diagram/TranscriptVariantDiagram.tsx
  src/content/app/entity-viewer/variant-view/transcript-consequences/transcript-variant-genomic-sequence/TranscriptVariantGenomicSequence.module.css
  src/content/app/entity-viewer/variant-view/transcript-consequences/transcript-variant-genomic-sequence/TranscriptVariantGenomicSequence.tsx
  src/content/app/entity-viewer/variant-view/transcript-consequences/useTranscriptDetails.test.ts
  src/content/app/entity-viewer/variant-view/transcript-consequences/useTranscriptDetails.ts
  src/styles/design-tokens.css
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

move Copy link above the vcf string (#1085)
  src/shared/components/variant-vcf/VariantVCF.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Minor updates to logic, and to the display of transcript strand allele for deletions
  src/content/app/entity-viewer/variant-view/transcript-consequences/TranscriptConsequences.tsx
  src/content/app/entity-viewer/variant-view/transcript-consequences/transcript-consequence-details/TranscriptConsequenceDetails.tsx
  src/content/app/entity-viewer/variant-view/transcript-consequences/transcript-variant-genomic-sequence/TranscriptVariantGenomicSequence.tsx
  src/content/app/entity-viewer/variant-view/transcript-consequences/useTranscriptDetails.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Remove default copy font size
  src/shared/components/copy/Copy.module.css
Due: stylelint

Fix insertions; plus other minor improvements
  src/content/app/entity-viewer/variant-view/transcript-consequences/TranscriptConsequences.tsx
  src/content/app/entity-viewer/variant-view/transcript-consequences/transcript-variant-genomic-sequence/TranscriptVariantGenomicSequence.module.css
  src/content/app/entity-viewer/variant-view/transcript-consequences/transcript-variant-genomic-sequence/TranscriptVariantGenomicSequence.tsx
  src/content/app/entity-viewer/variant-view/transcript-consequences/useTranscriptDetails.test.ts
  src/content/app/entity-viewer/variant-view/transcript-consequences/useTranscriptDetails.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Clean up
  src/content/app/entity-viewer/state/api/queries/variantTranscriptConsequencesQueries.ts
  src/content/app/entity-viewer/variant-view/transcript-consequences/TranscriptConsequences.module.css
  src/content/app/entity-viewer/variant-view/transcript-consequences/TranscriptConsequences.tsx
  src/content/app/entity-viewer/variant-view/transcript-consequences/transcript-consequence-details/TranscriptConsequenceDetails.tsx
  src/content/app/entity-viewer/variant-view/transcript-consequences/transcript-variant-diagram/TranscriptVariantDiagram.tsx
  src/content/app/entity-viewer/variant-view/transcript-consequences/transcript-variant-diagram/transcriptDrawingHelpers.ts
  src/content/app/entity-viewer/variant-view/transcript-consequences/transcript-variant-genomic-sequence/TranscriptVariantGenomicSequence.module.css
  src/content/app/entity-viewer/variant-view/transcript-consequences/transcript-variant-genomic-sequence/TranscriptVariantGenomicSequence.tsx
  src/content/app/entity-viewer/variant-view/transcript-consequences/useTranscriptDetails.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Further adjustments to positioning logic
  src/content/app/entity-viewer/variant-view/transcript-consequences/transcript-variant-genomic-sequence/TranscriptVariantGenomicSequence.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Remove unnecessary styling in TrackPanelItem module
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/track-panel-items/TrackPanelItem.module.css
Due: stylelint

Update sidebar styles (#1090)
  src/content/app/entity-viewer/gene-view/components/gene-view-sidebar/overview/GeneOverview.module.css
  src/content/app/entity-viewer/variant-view/variant-view-sidebar/overview/VariantOverview.module.css
  src/content/app/genome-browser/components/drawer/drawer-views/variant-summary/VariantSummary.module.css
  src/content/app/genome-browser/components/drawer/drawer-views/variant-summary/VariantSummary.tsx
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/TrackPanelList.module.css
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/track-panel-items/TrackPanelItem.module.css
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/track-panel-items/track-panel-variant/TrackPanelVariant.module.css
  src/content/app/species/components/species-page-sidebar/SpeciesPageSidebar.module.css
  src/content/app/species/components/species-page-sidebar/SpeciesPageSidebar.tsx
  src/shared/components/variant-vcf/VariantVCF.module.css
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Correct the calculation of the variant end position in a transcript
  src/content/app/entity-viewer/variant-view/transcript-consequences/transcript-consequence-details/TranscriptConsequenceDetails.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Add more space around the diagrams; update position of the spinner
  src/content/app/entity-viewer/variant-view/transcript-consequences/TranscriptConsequences.module.css
  src/content/app/entity-viewer/variant-view/transcript-consequences/TranscriptConsequences.tsx
  src/content/app/entity-viewer/variant-view/transcript-consequences/transcript-consequence-details/TranscriptConsequenceDetails.module.css
  src/content/app/entity-viewer/variant-view/transcript-consequences/transcript-consequence-details/TranscriptConsequenceDetails.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Add transcript diagram and genomic sequence image for variant transcript consequence (#1091)
  src/content/app/entity-viewer/state/api/entityViewerThoasSlice.ts
  src/content/app/entity-viewer/state/api/queries/variantPredictedMolecularConsequencesQuery.ts
  src/content/app/entity-viewer/state/api/queries/variantTranscriptConsequencesQueries.ts
  src/content/app/entity-viewer/variant-view/transcript-consequences/TranscriptConsequences.module.css
  src/content/app/entity-viewer/variant-view/transcript-consequences/TranscriptConsequences.tsx
  src/content/app/entity-viewer/variant-view/transcript-consequences/transcript-consequence-details/TranscriptConsequenceDetails.module.css
  src/content/app/entity-viewer/variant-view/transcript-consequences/transcript-consequence-details/TranscriptConsequenceDetails.tsx
  src/content/app/entity-viewer/variant-view/transcript-consequences/transcript-variant-diagram/TranscriptVariantDiagram.module.css
  src/content/app/entity-viewer/variant-view/transcript-consequences/transcript-variant-diagram/TranscriptVariantDiagram.tsx
  src/content/app/entity-viewer/variant-view/transcript-consequences/transcript-variant-genomic-sequence/TranscriptVariantGenomicSequence.module.css
  src/content/app/entity-viewer/variant-view/transcript-consequences/transcript-variant-genomic-sequence/TranscriptVariantGenomicSequence.tsx
  src/content/app/entity-viewer/variant-view/transcript-consequences/useTranscriptConsequencesData.ts
  src/content/app/entity-viewer/variant-view/transcript-consequences/useTranscriptDetails.test.ts
  src/content/app/entity-viewer/variant-view/transcript-consequences/useTranscriptDetails.ts
  src/content/app/entity-viewer/variant-view/variant-view-navigation-panel/VariantViewNavigationPanel.tsx
  src/shared/types/variation-api/variantAllele.ts
  src/shared/types/variation-api/variantPredictedMolecularConsequence.ts
  src/styles/design-tokens.css
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Fix Setup Review
  gitlab-ci-templates/.setup-review-template.yaml
Due: none

Add BLAST section to the Help landing page
  src/content/app/help/components/help-landing/HelpLanding.module.css
  src/content/app/help/components/help-landing/HelpLanding.tsx
  src/content/app/help/components/labelled-app-icon/LabelledAppIcon.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Add BLAST section to the Help landing page (#1092)
  src/content/app/help/components/help-landing/HelpLanding.module.css
  src/content/app/help/components/help-landing/HelpLanding.tsx
  src/content/app/help/components/labelled-app-icon/LabelledAppIcon.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Add alignment for copy button
  src/shared/components/copy/Copy.module.css
  src/shared/components/copy/Copy.tsx
  src/shared/components/variant-vcf/VariantVCF.tsx
  stories/shared-components/copy/Copy.stories.module.css
  stories/shared-components/copy/Copy.stories.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Update copy button styles, and VariantVCF styles
  src/content/app/entity-viewer/variant-view/variant-view-sidebar/overview/VariantOverview.module.css
  src/shared/components/copy/Copy.module.css
  src/shared/components/variant-vcf/VariantVCF.module.css
Due: stylelint

remove INSDC label
  src/content/app/species/components/species-page-sidebar/SpeciesPageSidebar.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update the Copy button and the VariantVCF component (#1093)
  src/content/app/entity-viewer/variant-view/variant-view-sidebar/overview/VariantOverview.module.css
  src/shared/components/copy/Copy.module.css
  src/shared/components/copy/Copy.tsx
  src/shared/components/variant-vcf/VariantVCF.module.css
  src/shared/components/variant-vcf/VariantVCF.tsx
  stories/shared-components/copy/Copy.stories.module.css
  stories/shared-components/copy/Copy.stories.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

update download title
  src/content/app/entity-viewer/shared/components/entity-viewer-sidebar/entity-viewer-sidebar-modal/EntityViewerSidebarModal.tsx
  src/content/app/genome-browser/components/browser-sidebar-modal/BrowserSidebarModal.tsx
  src/content/app/genome-browser/components/browser-sidebar-toolstrip/BrowserSidebarToolstrip.tsx
  src/content/app/genome-browser/state/browser-sidebar-modal/browserSidebarModalSlice.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

remove INSDC label (#1094)
  src/content/app/species/components/species-page-sidebar/SpeciesPageSidebar.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

replace traces of "Downloads" text with "Download"
  src/content/app/entity-viewer/shared/components/entity-viewer-sidebar/entity-viewer-sidebar-modal/EntityViewerSidebarModal.tsx
  src/content/app/entity-viewer/shared/components/entity-viewer-sidebar/entity-viewer-sidebar-modal/modal-views/EntityViewerDownload.tsx
  src/content/app/entity-viewer/shared/components/entity-viewer-sidebar/entity-viewer-sidebar-toolstrip/EntityViewerSidebarToolstrip.tsx
  src/content/app/entity-viewer/state/gene-view/transcripts/geneViewTranscriptsSlice.ts
  src/content/app/entity-viewer/state/sidebar/entityViewerSidebarSlice.ts
  src/content/app/genome-browser/components/browser-sidebar-modal/BrowserSidebarModal.test.tsx
  src/content/app/genome-browser/components/browser-sidebar-modal/BrowserSidebarModal.tsx
  src/content/app/genome-browser/components/browser-sidebar-modal/modal-views/DownloadModal.tsx
  src/content/app/genome-browser/components/browser-sidebar-toolstrip/BrowserSidebarToolstrip.tsx
  src/content/app/genome-browser/state/browser-sidebar-modal/browserSidebarModalSlice.ts
  src/content/app/species/components/species-page-sidebar/SpeciesPageSidebar.tsx
  src/content/app/species/components/species-sidebar-modal/SpeciesSidebarModal.tsx
  src/content/app/species/components/species-sidebar-modal/modal-views/SpeciesSidebarDownload.module.css
  src/content/app/species/components/species-sidebar-modal/modal-views/SpeciesSidebarDownload.tsx
  src/content/app/species/components/species-sidebar-toolstrip/SpeciesSidebarToolstrip.tsx
  src/content/app/species/state/sidebar/speciesSidebarSlice.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Improve browser back button behaviour for species selector page
  src/content/app/species-selector/SpeciesSelector.tsx
  src/content/app/species-selector/components/popular-species-list/PopularSpeciesList.tsx
  src/content/app/species-selector/components/species-selector-search-results-app-bar/SpeciesSelectorSearchResultsAppBar.tsx
  src/content/app/species-selector/views/species-selector-main-view/SpeciesSelectorMainView.tsx
  src/content/app/species-selector/views/species-selector-results-view/SpeciesSelectorResultsView.tsx
  src/routes/routesConfig.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update download title (#1095)
  src/content/app/entity-viewer/shared/components/entity-viewer-sidebar/entity-viewer-sidebar-modal/EntityViewerSidebarModal.tsx
  src/content/app/entity-viewer/shared/components/entity-viewer-sidebar/entity-viewer-sidebar-modal/modal-views/EntityViewerDownload.tsx
  src/content/app/entity-viewer/shared/components/entity-viewer-sidebar/entity-viewer-sidebar-toolstrip/EntityViewerSidebarToolstrip.tsx
  src/content/app/entity-viewer/state/gene-view/transcripts/geneViewTranscriptsSlice.ts
  src/content/app/entity-viewer/state/sidebar/entityViewerSidebarSlice.ts
  src/content/app/genome-browser/components/browser-sidebar-modal/BrowserSidebarModal.test.tsx
  src/content/app/genome-browser/components/browser-sidebar-modal/BrowserSidebarModal.tsx
  src/content/app/genome-browser/components/browser-sidebar-modal/modal-views/DownloadModal.tsx
  src/content/app/genome-browser/components/browser-sidebar-toolstrip/BrowserSidebarToolstrip.tsx
  src/content/app/genome-browser/state/browser-sidebar-modal/browserSidebarModalSlice.ts
  src/content/app/species/components/species-page-sidebar/SpeciesPageSidebar.tsx
  src/content/app/species/components/species-sidebar-modal/SpeciesSidebarModal.tsx
  src/content/app/species/components/species-sidebar-modal/modal-views/SpeciesSidebarDownload.module.css
  src/content/app/species/components/species-sidebar-modal/modal-views/SpeciesSidebarDownload.tsx
  src/content/app/species/components/species-sidebar-toolstrip/SpeciesSidebarToolstrip.tsx
  src/content/app/species/state/sidebar/speciesSidebarSlice.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Refactor feature downloading
  config.ts
  src/content/app/entity-viewer/gene-view/components/proteins-list/proteins-list-item-info/ProteinsListItemInfo.tsx
  src/content/app/entity-viewer/shared/components/entity-viewer-sidebar/entity-viewer-sidebar-modal/modal-views/EntityViewerDownload.tsx
  src/content/app/genome-browser/components/drawer/drawer-views/gene-summary/GeneSummary.tsx
  src/content/app/genome-browser/components/drawer/drawer-views/transcript-summary/TranscriptSummary.tsx
  src/shared/components/instant-download/instant-download-fetch/fetchForGene.ts
  src/shared/components/instant-download/instant-download-fetch/fetchForProtein.ts
  src/shared/components/instant-download/instant-download-fetch/fetchForTranscript.ts
  src/shared/components/instant-download/instant-download-fetch/fetchRegulatoryFeature.ts
  src/shared/components/instant-download/instant-download-fetch/fetchSequenceChecksums.ts
  src/shared/components/instant-download/instant-download-gene/InstantDownloadGene.module.css
  src/shared/components/instant-download/instant-download-gene/InstantDownloadGene.tsx
  src/shared/components/instant-download/instant-download-protein/InstantDownloadProtein.tsx
  src/shared/components/instant-download/instant-download-regulation/InstantDownloadRegFeature.tsx
  src/shared/components/instant-download/instant-download-transcript/InstantDownloadTranscript.module.css
  src/shared/components/instant-download/instant-download-transcript/InstantDownloadTranscript.tsx
  src/shared/helpers/environment.ts
  src/shared/workers/feature-sequence-download/featureSequenceDownload.worker.ts
  src/shared/workers/feature-sequence-download/geneAndTranscriptsDownload.ts
  src/shared/workers/feature-sequence-download/genomicSequenceHelpers.ts
  src/shared/workers/feature-sequence-download/genomicSliceDownload.ts
  src/shared/workers/feature-sequence-download/proteinDownload.ts
  src/shared/workers/feature-sequence-download/queries/geneAndTranscriptsQuery.ts
  src/shared/workers/feature-sequence-download/queries/regionChecksumQuery.ts
  src/shared/workers/feature-sequence-download/queries/transcriptQueryForProtein.ts
  src/shared/workers/sequenceFetcher.worker.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Use react routes for species selector search
  src/content/app/species-selector/SpeciesSelector.tsx
  src/content/app/species-selector/components/popular-species-list/PopularSpeciesList.tsx
  src/content/app/species-selector/views/species-selector-main-view/SpeciesSelectorMainView.tsx
  src/content/app/species-selector/views/species-selector-results-view/SpeciesSelectorResultsView.tsx
  src/shared/helpers/urlHelper.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update checkbox theme, and grid styles for transcript download
  src/shared/components/instant-download/instant-download-gene/InstantDownloadGene.tsx
  src/shared/components/instant-download/instant-download-transcript/InstantDownloadTranscript.module.css
  src/shared/components/instant-download/instant-download-transcript/InstantDownloadTranscript.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Rename options fields from 'sequences' to 'sequenceTypes'
  src/shared/components/instant-download/instant-download-gene/InstantDownloadGene.tsx
  src/shared/components/instant-download/instant-download-protein/InstantDownloadProtein.tsx
  src/shared/components/instant-download/instant-download-transcript/InstantDownloadTranscript.tsx
  src/shared/workers/feature-sequence-download/featureSequenceDownload.worker.ts
  src/shared/workers/feature-sequence-download/geneAndTranscriptsDownload.ts
  src/shared/workers/feature-sequence-download/proteinDownload.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Path conditions:
  eslint --max-warnings=0: any of: *.{ts,tsx}
  manage-licence-header add: any of: *.{ts,tsx}
  prettier --write: any of: *.{ts,tsx}
  stylelint: any of: *.css
