Repository Ensembl/ensembl-client: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

.lintstagedrc.json:

{
  "*.{ts,tsx}": [
    "eslint --max-warnings=0",
    "manage-licence-header add",
    "prettier --write"
  ],
  "*.css": [
    "stylelint"
  ]
}

Add sorting by several additional columns
  src/content/app/species-selector/components/species-search-results-table/SpeciesSearchResultsTable.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Refactor BlastSpeciesSelector and VepSpeciesSelector: move from lazy query to regular query
  src/content/app/tools/blast/components/blast-species-selector/BlastSpeciesSelector.tsx
  src/content/app/tools/vep/views/vep-species-selector/VepSpeciesSelector.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Enable pagination for species search (#1290)
  src/content/app/species-selector/components/genome-selector-by-search-query/GenomeSelectorBySearchQuery.module.css
  src/content/app/species-selector/components/genome-selector-by-search-query/GenomeSelectorBySearchQuery.tsx
  src/content/app/species-selector/components/genome-selector-by-species-taxonomy-id/GenomeSelectorBySpeciesTaxonomyId.module.css
  src/content/app/species-selector/components/genome-selector-by-species-taxonomy-id/GenomeSelectorBySpeciesTaxonomyId.tsx
  src/content/app/species-selector/components/genomes-download-button/GenomesDownloadButton.tsx
  src/content/app/species-selector/components/popular-species-list/PopularSpeciesList.tsx
  src/content/app/species-selector/components/selectable-genomes-table/filterGenomes.ts
  src/content/app/species-selector/components/selectable-genomes-table/useOrderedGenomes.ts
  src/content/app/species-selector/components/selectable-genomes-table/useSelectableGenomesTable.ts
  src/content/app/species-selector/components/species-search-results-summary/SpeciesSearchResultsSummary.module.css
  src/content/app/species-selector/components/species-search-results-table-wrapper/SpeciesSearchResultsTableWrapper.module.css
  src/content/app/species-selector/components/species-search-results-table-wrapper/SpeciesSearchResultsTableWrapper.tsx
  src/content/app/species-selector/components/species-search-results-table/SpeciesSearchResultsTable.module.css
  src/content/app/species-selector/components/species-search-results-table/SpeciesSearchResultsTable.tsx
  src/content/app/species-selector/helpers/genomeSearchHelpers.ts
  src/content/app/species-selector/state/species-selector-api-slice/speciesSelectorApiSlice.ts
  src/content/app/species/components/species-title-area/SpeciesTitleArea.tsx
  src/content/app/tools/blast/components/blast-species-selector/BlastSpeciesSelector.module.css
  src/content/app/tools/blast/components/blast-species-selector/BlastSpeciesSelector.tsx
  src/content/app/tools/vep/views/vep-species-selector/VepSpeciesSelector.module.css
  src/content/app/tools/vep/views/vep-species-selector/VepSpeciesSelector.tsx
  src/shared/components/download-button/DownloadLink.tsx
  src/shared/components/pagination/Pagination.test.tsx
  src/shared/components/pagination/Pagination.tsx
  src/shared/components/pagination/PaginationWithPerPage.module.css
  src/shared/components/pagination/PaginationWithPerPage.tsx
  src/shared/components/pagination/PerPage.module.css
  src/shared/components/pagination/PerPage.tsx
  src/shared/components/species-name-parts-for-table/SpeciesNamePartsForTable.module.css
  src/shared/components/species-name-parts-for-table/SpeciesTypeForTable.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Update transcript default query
  src/content/app/entity-viewer/state/api/queries/transcriptDefaultQuery.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

transcript search changes
  src/content/app/species-selector/SpeciesSelector.tsx
  src/content/app/species-selector/components/species-search-field/SpeciesSearchField.module.css
  src/content/app/species-selector/components/species-search-field/SpeciesSearchField.tsx
  src/content/app/species-selector/components/species-search-field/SpeciesSearchFieldWithLinks.tsx
  src/content/app/species-selector/components/species-selector-app-bar/SpeciesSelectorAppBar.tsx
  src/content/app/species-selector/state/species-selector-feature-search-slice/speciesSelectorFeatureSearchSelectors.ts
  src/content/app/species-selector/state/species-selector-feature-search-slice/speciesSelectorFeatureSearchSlice.ts
  src/content/app/species-selector/views/species-selector-main-view/SpeciesSelectorMainView.tsx
  src/content/app/species-selector/views/species-selector-search-view/SpeciesSelectorSearchView.tsx
  src/shared/components/feature-search-results/FeatureSearchResults.module.css
  src/shared/components/feature-search-results/FeatureSearchResults.tsx
  src/shared/components/interstitial-search/InterstitialSearch.tsx
  src/shared/components/search-match/TranscriptSearchMatches.tsx
  src/shared/components/sidebar-search/SidebarSearch.tsx
  src/shared/helpers/featureSearchHelpers.ts
  src/shared/state/api-slices/graphqlApiSlice.ts
  src/shared/state/api-slices/searchApiSlice.ts
  src/shared/state/feature-search/featureSearchSelectors.ts
  src/shared/state/feature-search/featureSearchSlice.ts
  src/shared/types/search-api/search-match.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Add ExonsView component and useExonsData hook
  src/content/app/entity-viewer/transcript-view/components/transcript-exons/ExonsView.tsx
  src/content/app/entity-viewer/transcript-view/components/transcript-exons/useExonsData.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update useExonsData hook
  src/content/app/entity-viewer/transcript-view/components/transcript-exons/useExonsData.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update transcriptDefaultQuery
  src/content/app/entity-viewer/state/api/queries/transcriptDefaultQuery.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Add components
  src/content/app/entity-viewer/state/transcript-view/general/transcriptViewGeneralSlice.ts
  src/content/app/entity-viewer/transcript-view/TranscriptView.tsx
  src/content/app/entity-viewer/transcript-view/components/transcript-exons/ExonsView.module.css
  src/content/app/entity-viewer/transcript-view/components/transcript-exons/ExonsView.tsx
  src/content/app/entity-viewer/transcript-view/components/transcript-exons/exons-continuous/ExonsContinous.tsx
  src/content/app/entity-viewer/transcript-view/components/transcript-exons/exons-continuous/ExonsContinuous.module.css
  src/content/app/entity-viewer/transcript-view/components/transcript-exons/exons-table/ExonsTable.module.css
  src/content/app/entity-viewer/transcript-view/components/transcript-exons/exons-table/ExonsTable.tsx
  src/content/app/entity-viewer/transcript-view/components/transcript-view-tabs/TranscriptViewTabs.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Include introns in the display
  src/content/app/entity-viewer/state/api/queries/transcriptDefaultQuery.ts
  src/content/app/entity-viewer/transcript-view/components/transcript-exons/ExonsView.tsx
  src/content/app/entity-viewer/transcript-view/components/transcript-exons/exons-continuous/ExonsContinuous.module.css
  src/content/app/entity-viewer/transcript-view/components/transcript-exons/exons-table/ExonsTable.module.css
  src/content/app/entity-viewer/transcript-view/components/transcript-exons/exons-table/ExonsTable.tsx
  src/content/app/entity-viewer/transcript-view/components/transcript-exons/useExonsData.ts
  src/shared/components/panel/Panel.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Redesign ExonContinuous view; plus update some styles
  src/content/app/entity-viewer/transcript-view/components/transcript-exons/ExonsView.module.css
  src/content/app/entity-viewer/transcript-view/components/transcript-exons/ExonsView.tsx
  src/content/app/entity-viewer/transcript-view/components/transcript-exons/exons-continuous/ExonsContinous.tsx
  src/content/app/entity-viewer/transcript-view/components/transcript-exons/exons-continuous/ExonsContinuous.module.css
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Make tabular view the default
  src/content/app/entity-viewer/transcript-view/components/transcript-exons/ExonsView.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Use brand orange colour
  src/content/app/entity-viewer/transcript-view/components/transcript-exons/exons-continuous/ExonsContinuous.module.css
Due: stylelint

Add transcript to previously viewed objects
  src/content/app/entity-viewer/shared/components/entity-viewer-sidebar/entity-viewer-sidebar-modal/modal-views/EntityViewerBookmarks.tsx
  src/content/app/entity-viewer/state/bookmarks/entityViewerBookmarksSlice.ts
  src/content/app/entity-viewer/transcript-view/TranscriptView.tsx
  src/shared/helpers/urlHelper.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Add transcript download to the sidebar modal of entity viewer for transcript
  src/content/app/entity-viewer/transcript-view/components/transcript-view-sidebar/sidebar-modal/SidebarTranscriptDownload.module.css
  src/content/app/entity-viewer/transcript-view/components/transcript-view-sidebar/sidebar-modal/SidebarTranscriptDownload.tsx
  src/content/app/entity-viewer/transcript-view/components/transcript-view-sidebar/sidebar-modal/TranscriptViewSidebarModal.tsx
  src/shared/components/instant-download/instant-download-transcript/InstantDownloadTranscript.module.css
  src/shared/components/instant-download/instant-download-transcript/InstantDownloadTranscript.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Add search button to the sidebar for transcript view
  src/content/app/entity-viewer/gene-view/components/gene-view-sidebar/overview/GeneOverview.tsx
  src/content/app/entity-viewer/transcript-view/components/transcript-view-sidebar/sidebar-default/SidebarDefault.module.css
  src/content/app/entity-viewer/transcript-view/components/transcript-view-sidebar/sidebar-default/SidebarDefault.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Add ViewInApp to show gene links in the sidebar
  src/content/app/entity-viewer/transcript-view/components/transcript-view-sidebar/sidebar-default/SidebarDefault.module.css
  src/content/app/entity-viewer/transcript-view/components/transcript-view-sidebar/sidebar-default/SidebarDefault.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Update label to the left of gene/transcript image
  src/content/app/entity-viewer/transcript-view/components/gene-overview-image/GeneOverviewImage.module.css
  src/content/app/entity-viewer/transcript-view/components/gene-overview-image/GeneOverviewImage.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Add metadata fetching for transcript pages, and fix metadata updates when entity changes
  src/content/app/entity-viewer/EntityViewerPage.tsx
  src/content/app/entity-viewer/shared/server-fetch/entityViewerServerFetch.ts
  src/content/app/entity-viewer/state/api/entityViewerThoasSlice.ts
  src/content/app/entity-viewer/state/api/queries/transcriptPageMetaQuery.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Fix for 'view in' links
  src/content/app/entity-viewer/transcript-view/components/transcript-view-sidebar/sidebar-default/SidebarDefault.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Fix for links to previously viewed transcripts
  src/content/app/entity-viewer/shared/components/entity-viewer-sidebar/entity-viewer-sidebar-modal/modal-views/EntityViewerBookmarks.tsx
  src/shared/helpers/urlHelper.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Minor fixes
  src/content/app/entity-viewer/shared/server-fetch/entityViewerServerFetch.ts
  src/content/app/entity-viewer/state/api/entityViewerThoasSlice.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Entity Viewer for transcript: topbar and sidebar updates (#1299)
  src/content/app/entity-viewer/EntityViewerForTranscript.tsx
  src/content/app/entity-viewer/EntityViewerPage.tsx
  src/content/app/entity-viewer/gene-view/components/gene-view-sidebar/overview/GeneOverview.tsx
  src/content/app/entity-viewer/shared/components/entity-viewer-sidebar/entity-viewer-sidebar-modal/modal-views/EntityViewerBookmarks.tsx
  src/content/app/entity-viewer/shared/server-fetch/entityViewerServerFetch.ts
  src/content/app/entity-viewer/state/api/entityViewerThoasSlice.ts
  src/content/app/entity-viewer/state/api/queries/transcriptPageMetaQuery.ts
  src/content/app/entity-viewer/state/bookmarks/entityViewerBookmarksSlice.ts
  src/content/app/entity-viewer/state/transcript-view/sidebar/transcriptViewSidebarSlice.ts
  src/content/app/entity-viewer/transcript-view/TranscriptView.tsx
  src/content/app/entity-viewer/transcript-view/components/gene-overview-image/GeneOverviewImage.module.css
  src/content/app/entity-viewer/transcript-view/components/gene-overview-image/GeneOverviewImage.tsx
  src/content/app/entity-viewer/transcript-view/components/transcript-summary-strip/TranscriptSummaryStrip.module.css
  src/content/app/entity-viewer/transcript-view/components/transcript-summary-strip/TranscriptSummaryStrip.tsx
  src/content/app/entity-viewer/transcript-view/components/transcript-view-sidebar/TranscriptViewSidebar.tsx
  src/content/app/entity-viewer/transcript-view/components/transcript-view-sidebar/sidebar-default/SidebarDefault.module.css
  src/content/app/entity-viewer/transcript-view/components/transcript-view-sidebar/sidebar-default/SidebarDefault.tsx
  src/content/app/entity-viewer/transcript-view/components/transcript-view-sidebar/sidebar-modal/SidebarTranscriptDownload.module.css
  src/content/app/entity-viewer/transcript-view/components/transcript-view-sidebar/sidebar-modal/SidebarTranscriptDownload.tsx
  src/content/app/entity-viewer/transcript-view/components/transcript-view-sidebar/sidebar-modal/TranscriptViewSidebarModal.tsx
  src/content/app/entity-viewer/transcript-view/components/transcript-view-sidebar/sidebar-toolstrip/SidebarToolstrip.tsx
  src/shared/components/feature-summary-strip/GeneSummaryStrip.tsx
  src/shared/components/instant-download/instant-download-transcript/InstantDownloadTranscript.module.css
  src/shared/components/instant-download/instant-download-transcript/InstantDownloadTranscript.tsx
  src/shared/helpers/urlHelper.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Proxy all api requests to the review deployment during development
  src/content/app/genome-browser/components/browser-sidebar-modal/modal-views/BookmarksModal.test.tsx
  src/server/middleware/proxyMiddleware.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Complete the focus transcript integration
  src/content/app/genome-browser/components/browser-sidebar-modal/modal-views/BookmarksModal.test.tsx
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/TrackPanelList.test.tsx
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/TrackPanelList.tsx
  src/content/app/genome-browser/contexts/genome-browser-ids-context/useGenomeBrowserUrlValidator.ts
  src/content/app/genome-browser/hooks/useGenomeBrowserTracks.ts
  src/content/app/genome-browser/state/api/genomeBrowserApiSlice.ts
  src/content/app/genome-browser/state/browser-bookmarks/browserBookmarksSlice.ts
  src/content/app/genome-browser/state/focus-object/focusObjectSlice.ts
  src/shared/components/feature-summary-strip/FeatureSummaryStrip.test.tsx
  src/shared/components/feature-summary-strip/FeatureSummaryStrip.tsx
  src/shared/components/feature-summary-strip/TranscriptSummaryStrip.tsx
  src/shared/helpers/focusObjectHelpers.ts
  src/shared/types/focus-object/focusObjectTypes.ts
  tests/fixtures/focus-object.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Add focus transcript support to GB view
  src/content/app/genome-browser/hooks/useBrowserRouting.test.tsx
  src/content/app/genome-browser/services/genome-browser-service/genomeBrowserCommands.test.ts
  src/content/app/genome-browser/services/genome-browser-service/genomeBrowserCommands.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update summary strip for transcript
  src/shared/components/feature-summary-strip/FeatureSummaryStrip.tsx
  src/shared/components/feature-summary-strip/TranscriptSummaryStrip.tsx
  src/shared/types/focus-object/focusObjectTypes.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update transcript in right-hand sidebar
  src/content/app/genome-browser/components/drawer/Drawer.tsx
  src/content/app/genome-browser/components/drawer/drawer-views/gene-summary/GeneSummary.tsx
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/TrackPanelList.module.css
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/TrackPanelList.test.tsx
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/TrackPanelList.tsx
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/track-panel-items/TrackPanelItem.module.css
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/track-panel-items/track-panel-transcript/TrackPanelTranscript.tsx
  src/content/app/genome-browser/contexts/genome-browser-ids-context/useGenomeBrowserUrlValidator.ts
  src/content/app/genome-browser/state/api/genomeBrowserApiSlice.ts
  src/content/app/genome-browser/state/api/queries/geneSummaryQuery.ts
  src/content/app/genome-browser/state/api/queries/transcriptSummaryQuery.ts
  src/content/app/genome-browser/state/browser-bookmarks/browserBookmarksSlice.ts
  src/content/app/genome-browser/state/focus-object/focusObjectSlice.ts
  tests/fixtures/focus-object.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Fix lint errors in TrackSettingsPanel component
  src/content/app/genome-browser/components/track-settings-panel/TrackSettingsPanel.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

genome groups UI
  src/content/app/species-selector/components/genome-groups-list/GenomeGroupsList.module.css
  src/content/app/species-selector/components/genome-groups-list/GenomeGroupsList.tsx
  src/content/app/species-selector/components/popular-species-list/PopularSpeciesList.module.css
  src/content/app/species-selector/components/popular-species-list/PopularSpeciesList.tsx
  src/content/app/species-selector/state/species-selector-api-slice/speciesSelectorApiSlice.ts
  src/content/app/species-selector/views/species-selector-main-view/SpeciesSelectorMainView.module.css
  src/content/app/species-selector/views/species-selector-main-view/SpeciesSelectorMainView.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

fix
  src/content/app/species-selector/components/genome-groups-list/GenomeGroupsList.module.css
  src/content/app/species-selector/components/genome-groups-list/GenomeGroupsList.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

fix style
  src/content/app/species-selector/components/genome-groups-list/GenomeGroupsList.module.css
Due: stylelint

fixes
  src/content/app/species-selector/components/genome-groups-list/GenomeGroupsList.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Change focus track id for gene from 'focus' to more explicit 'focus-gene'
  src/content/app/genome-browser/components/browser-cog/BrowserCogList.test.tsx
  src/content/app/genome-browser/components/browser-cog/BrowserCogList.tsx
  src/content/app/genome-browser/components/track-panel/trackPanelConfig.ts
  src/content/app/genome-browser/hooks/useFocusTrack.ts
  src/content/app/genome-browser/hooks/useGenomeBrowserTracks.ts
  src/content/app/genome-browser/hooks/useGenomicTracks.ts
  src/content/app/genome-browser/services/genome-browser-service/types/trackSummary.ts
  src/content/app/genome-browser/state/track-settings/trackSettingsConstants.ts
  src/content/app/genome-browser/state/track-settings/trackSettingsSelectors.ts
  src/content/app/genome-browser/state/track-settings/trackSettingsSlice.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

fixes
  src/content/app/species-selector/components/genome-groups/GenomeGroups.module.css
  src/content/app/species-selector/components/genome-groups/GenomeGroups.tsx
  src/content/app/species-selector/views/species-selector-main-view/SpeciesSelectorMainView.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Remove a test from TrackPanelList test file
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/TrackPanelList.test.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Fixes for useGenomeBrowser hook: wrap exported functions in useCallback, and refactor useTrackIdToTrackPathMap
  src/content/app/genome-browser/hooks/useGenomeBrowser.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Use a custom TranscriptZmenu for focus transcript; add useDOMElement hook
  src/content/app/genome-browser/components/zmenu/Zmenu.tsx
  src/content/app/genome-browser/components/zmenu/zmenus/TranscriptZmenu.tsx
  src/content/app/genome-browser/services/genome-browser-service/types/zmenu.ts
  src/shared/hooks/useDOMElement.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Edits
  src/content/app/genome-browser/components/track-settings-panel/TrackSettingsPanel.tsx
  src/content/app/genome-browser/state/track-settings/trackSettingsConstants.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Added visual stability to track settings panels by sorting track summaries returned by genome browser
  src/content/app/genome-browser/components/browser-cog/BrowserCog.tsx
  src/content/app/genome-browser/components/browser-cog/BrowserCogList.tsx
  src/content/app/genome-browser/components/track-settings-panel/TrackSettingsPanel.tsx
  src/content/app/genome-browser/state/displayed-tracks/displayedTracksSelectors.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write
