Repository Ensembl/ensembl-client: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

add not found message
  src/shared/components/sidebar-search/SidebarSearch.module.css
  src/shared/components/sidebar-search/SidebarSearch.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

fix
  src/shared/components/sidebar-search/SidebarSearch.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Add genome counts to the home page
  src/content/home/Home.module.css
  src/content/home/Home.tsx
  src/header/launchbar/LaunchbarButton.tsx
  src/shared/components/app-icon/SpeciesSelectorIcon.tsx
  src/shared/components/genome-counts/GenomeCounts.module.css
  src/shared/components/genome-counts/GenomeCounts.tsx
  src/shared/state/release/releaseApiSlice.ts
  src/shared/state/release/releaseTypes.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Add HGSVC3 track to structural variants viewer (#1277)
  src/content/app/structural-variants/hooks/useStructuralVariantsTracks.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Show genome counts in species selector
  src/content/app/species-selector/views/species-selector-main-view/SpeciesSelectorMainView.module.css
  src/content/app/species-selector/views/species-selector-main-view/SpeciesSelectorMainView.tsx
  src/content/home/Home.module.css
  src/shared/components/genome-counts/GenomeCounts.module.css
  src/shared/components/genome-counts/GenomeCounts.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Update styles to support viewing Species Selector on narrower screens
  src/content/app/species-selector/components/species-search-field/SpeciesSearchField.module.css
  src/content/app/species-selector/views/species-selector-main-view/SpeciesSelectorMainView.module.css
  src/shared/components/genome-counts/GenomeCounts.module.css
  src/shared/components/genome-counts/GenomeCounts.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Update ensembl-structural-variants package to fix initial position on alt genome
  package-lock.json
  package.json
Due: none

Update the package
  package-lock.json
  package.json
Due: none

fixes
  src/content/app/genome-browser/components/interstitial/BrowserInterstitial.tsx
  src/content/app/species-selector/views/species-selector-search-view/SpeciesSelectorSearchView.module.css
  src/content/app/species-selector/views/species-selector-search-view/SpeciesSelectorSearchView.tsx
  src/shared/components/interstitial-search/InterstitialSearch.module.css
  src/shared/components/interstitial-search/InterstitialSearch.test.tsx
  src/shared/components/interstitial-search/InterstitialSearch.tsx
  src/shared/components/layout/sidebar-modal/SidebarModal.module.css
  src/shared/components/sidebar-search/SidebarSearch.tsx
  src/shared/helpers/fetchHelper.ts
  src/shared/state/api-slices/restSlice.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Forgot to install the package
  package-lock.json
  package.json
Due: none

indent css
  src/shared/components/search-match/SearchMatch.module.css
Due: stylelint

Update ensembl-structural-variants package to fix initial position on alt genome (#1279)
  package-lock.json
  package.json
Due: none

Use relative url for structural variants server
  config.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Add a check into Launchbar to decide on whether to render the bottom border
  src/header/launchbar/Launchbar.module.css
  src/header/launchbar/Launchbar.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Format total count on the home page
  src/shared/components/genome-counts/GenomeCounts.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update SpeciesSelectorSearchView
  src/content/app/species-selector/views/species-selector-search-view/SpeciesSelectorSearchView.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

fixes
  src/content/app/genome-browser/components/browser-sidebar-modal/modal-views/SearchModal.tsx
  src/shared/components/interstitial-search/InterstitialSearch.module.css
  src/shared/components/interstitial-search/InterstitialSearch.tsx
  src/shared/components/layout/sidebar-modal/SidebarModal.module.css
  src/shared/components/search-match/GeneSearchMatches.tsx
  src/shared/components/search-match/VariantSearchMatches.tsx
  src/shared/components/sidebar-search/SidebarSearch.module.css
  src/shared/components/sidebar-search/SidebarSearch.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

cleanup css
  src/shared/components/interstitial-search/InterstitialSearch.module.css
Due: stylelint

results param required
  src/shared/components/search-match/GeneSearchMatches.tsx
  src/shared/components/search-match/VariantSearchMatches.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Updated styles with designer
  src/content/app/species-selector/views/species-selector-main-view/SpeciesSelectorMainView.module.css
  src/shared/components/genome-counts/GenomeCounts.module.css
Due: stylelint

Rename class: .topRight -> .mainTopRight
  src/content/home/Home.module.css
  src/content/home/Home.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Add genome counts panel (#1278)
  src/content/app/species-selector/components/species-search-field/SpeciesSearchField.module.css
  src/content/app/species-selector/views/species-selector-main-view/SpeciesSelectorMainView.module.css
  src/content/app/species-selector/views/species-selector-main-view/SpeciesSelectorMainView.tsx
  src/content/home/Home.module.css
  src/content/home/Home.tsx
  src/header/launchbar/Launchbar.module.css
  src/header/launchbar/Launchbar.tsx
  src/header/launchbar/LaunchbarButton.tsx
  src/shared/components/app-icon/SpeciesSelectorIcon.tsx
  src/shared/components/genome-counts/GenomeCounts.module.css
  src/shared/components/genome-counts/GenomeCounts.tsx
  src/shared/state/release/releaseApiSlice.ts
  src/shared/state/release/releaseTypes.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

fix
  src/shared/components/search-match/GeneSearchMatches.tsx
  src/shared/components/search-match/SearchMatch.module.css
  src/shared/components/search-match/VariantSearchMatches.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Submit to exhaustive deps rule, and trim query string before search submission
  src/content/app/species-selector/views/species-selector-search-view/SpeciesSelectorSearchView.tsx
  src/shared/components/interstitial-search/InterstitialSearch.tsx
  src/shared/components/sidebar-search/SidebarSearch.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update styles
  src/content/app/structural-variants/components/structural-variants-sidebar/structural-variants-sidebar-modal/feature-search-modal/FeatureSearchForm.tsx
  src/content/app/structural-variants/components/structural-variants-sidebar/structural-variants-sidebar-modal/feature-search-modal/FeatureSearchModal.module.css
  src/content/app/structural-variants/components/structural-variants-sidebar/structural-variants-sidebar-modal/feature-search-modal/FeatureSearchModal.tsx
  src/shared/components/interstitial-search/InterstitialSearch.module.css
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

fix
  src/shared/state/api-slices/restSlice.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

update css
  src/content/app/species-selector/views/species-selector-search-view/SpeciesSelectorSearchView.module.css
Due: stylelint

Update dependencies
  package-lock.json
  package.json
Due: none

fix search state issue
  src/content/app/entity-viewer/interstitial/EntityViewerInterstitial.tsx
  src/content/app/entity-viewer/shared/components/entity-viewer-sidebar/entity-viewer-sidebar-modal/modal-views/EntityViewerSearch.tsx
  src/content/app/genome-browser/components/browser-sidebar-modal/modal-views/SearchModal.tsx
  src/content/app/genome-browser/components/interstitial/BrowserInterstitial.tsx
  src/content/app/species/components/species-sidebar-modal/modal-views/SpeciesSidebarSearch.tsx
  src/shared/components/interstitial-search/InterstitialSearch.tsx
  src/shared/components/sidebar-search/SidebarSearch.tsx
  src/shared/helpers/featureSearchHelpers.ts
  src/shared/state/feature-search/featureSearchSelectors.ts
  src/shared/state/feature-search/featureSearchSlice.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Add a new AutosuggestSearchField component
  src/shared/components/autosuggest-search-field-new/AutosuggestSearchField.module.css
  src/shared/components/autosuggest-search-field-new/AutosuggestSearchField.tsx
  src/shared/components/autosuggest-search-field-new/README.md
  src/shared/components/autosuggest-search-field-new/Suggestion.tsx
  src/shared/components/autosuggest-search-field-new/context/AutosuggestContext.tsx
  src/shared/components/autosuggest-search-field-new/context/autosuggestState.ts
  src/shared/components/autosuggest-search-field-new/context/eventBus.ts
  stories/shared-components/autosuggest-search-field-new/AutosuggestSearchField.stories.module.css
  stories/shared-components/autosuggest-search-field-new/AutosuggestSearchField.stories.tsx
  stories/shared-components/autosuggest-search-field-new/Suggestions.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

EventBus wasn't used after all
  src/shared/components/autosuggest-search-field-new/context/AutosuggestContext.tsx
  src/shared/components/autosuggest-search-field-new/context/eventBus.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

remove key
  src/content/app/entity-viewer/interstitial/EntityViewerInterstitial.tsx
  src/content/app/entity-viewer/shared/components/entity-viewer-sidebar/entity-viewer-sidebar-modal/modal-views/EntityViewerSearch.tsx
  src/content/app/genome-browser/components/browser-sidebar-modal/modal-views/SearchModal.tsx
  src/content/app/genome-browser/components/interstitial/BrowserInterstitial.tsx
  src/content/app/species/components/species-sidebar-modal/modal-views/SpeciesSidebarSearch.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Improve component's accessibility for screen readers
  src/shared/components/autosuggest-search-field-new/AutosuggestSearchField.tsx
  src/shared/components/autosuggest-search-field-new/Suggestion.tsx
  src/shared/components/autosuggest-search-field-new/context/autosuggestState.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Clean up
  src/shared/components/autosuggest-search-field-new/AutosuggestSearchField.module.css
  src/shared/components/autosuggest-search-field-new/AutosuggestSearchField.tsx
  src/shared/components/autosuggest-search-field/AutosuggestSearchField.module.css
  src/shared/components/autosuggest-search-field/AutosuggestSearchField.test.tsx
  src/shared/components/autosuggest-search-field/AutosuggestSearchField.tsx
  src/shared/components/autosuggest-search-field/AutosuggestionPanel.tsx
  src/shared/components/autosuggest-search-field/README.md
  src/shared/components/autosuggest-search-field/Suggestion.tsx
  src/shared/components/autosuggest-search-field/context/AutosuggestContext.tsx
  src/shared/components/autosuggest-search-field/context/autosuggestState.ts
  stories/shared-components/autosuggest-search-field-new/AutosuggestSearchField.stories.module.css
  stories/shared-components/autosuggest-search-field-new/AutosuggestSearchField.stories.tsx
  stories/shared-components/autosuggest-search-field/AutosuggestSearchField.stories.module.css
  stories/shared-components/autosuggest-search-field/AutosuggestSearchField.stories.tsx
  stories/shared-components/autosuggest-search-field/Suggestions.tsx
  stories/shared-components/autosuggest-search-field/autosuggestSearchField.md
  tests/data/species-selector/divisions.ts
  tests/data/species-selector/species-search.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Set up vitest browser mode
  Dockerfile
  package-lock.json
  package.json
  src/shared/components/autosuggest-search-field-new/tests/AutosuggestSearchField.test.tsx
  src/shared/components/autosuggest-search-field-new/tests/testData.ts
  tests/setup-browser.ts
  vitest.config.browser.mts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Input's role was changed from textbox to combobox
  src/shared/components/autosuggest-search-field-new/tests/AutosuggestSearchField.test.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Set up playwright in CI/CD environment
  .gitlab-ci.yml
Due: none

Rebase after removal of old autosuggest-search-field component and renaming of a directory
  src/shared/components/autosuggest-search-field/tests/AutosuggestSearchField.test.tsx
  src/shared/components/autosuggest-search-field/tests/testData.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update to Readme
  src/shared/components/autosuggest-search-field/README.md
Due: none

Path conditions:
  eslint --max-warnings=0: any of: *.{ts,tsx}
  manage-licence-header add: any of: *.{ts,tsx}
  prettier --write: any of: *.{ts,tsx}
  stylelint: any of: *.css
