Repository Ensembl/ensembl-client: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Improve BLAST table styling a bit
  src/content/app/tools/blast/views/blast-submission-results/components/blast-results-per-sequence/BlastResultsPerSequence.module.css
  src/content/app/tools/blast/views/blast-submission-results/components/single-blast-job-result/SingleBlastJobResult.module.css
Due: stylelint

POC for Sequence Viewer
  src/content/app/genome-browser/components/browser-nav-buttons/GenomeBrowserNavigationButtons.module.css
  src/content/app/genome-browser/components/browser-nav-buttons/GenomeBrowserNavigationButtons.tsx
  src/content/app/sequence-viewer/SequenceViewer.module.css
  src/content/app/sequence-viewer/SequenceViewer.tsx
  src/content/app/sequence-viewer/state/api/sequenceViewerApiSlice.ts
  src/routes/routesConfig.tsx
  src/shared/helpers/urlHelper.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Extended the poc
  src/content/app/entity-viewer/state/api/queries/defaultGeneQuery.ts
  src/content/app/sequence-viewer/SequenceViewer.module.css
  src/content/app/sequence-viewer/SequenceViewer.tsx
  src/content/app/sequence-viewer/state/api/sequenceViewerApiSlice.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

initial sequence viewer ideas
  src/content/app/entity-viewer/gene-view/GeneView.tsx
  src/content/app/entity-viewer/gene-view/components/default-transcripts-list/transcripts-list-item-info/TranscriptsListItemInfo.tsx
  src/content/app/entity-viewer/state/api/queries/defaultGeneQuery.ts
  src/content/app/entity-viewer/transcript-view/components/transcript-details/TranscriptDetails.tsx
  src/content/app/entity-viewer/transcript-view/components/transcript-view-sidebar/sidebar-default/SidebarDefault.tsx
  src/content/app/sequence-viewer/SequenceViewer.module.css
  src/content/app/sequence-viewer/SequenceViewer.tsx
  src/content/app/sequence-viewer/SequenceViewerPage.tsx
  src/content/app/sequence-viewer/state/api/sequenceViewerApiSlice.ts
  src/header/launchbar/Launchbar.tsx
  src/header/launchbar/SequenceViewerLaunchbarButton.tsx
  src/routes/routesConfig.tsx
  src/shared/components/app-icon/SequenceViewerIcon.tsx
  src/shared/components/view-in-app/ViewInApp.tsx
  src/shared/helpers/urlHelper.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

fix test failures
  src/content/app/sequence-viewer/SequenceViewer.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Remove old disabled UI elements that never got enabled
  src/content/app/entity-viewer/gene-view/components/gene-view-sidebar/overview/GeneOverview.tsx
  src/content/app/entity-viewer/gene-view/components/gene-view-sidebar/overview/MainAccordion.tsx
  src/content/app/entity-viewer/shared/components/entity-viewer-sidebar/entity-viewer-sidebar-toolstrip/EntityViewerSidebarToolstrip.tsx
  src/content/app/entity-viewer/variant-view/variant-view-sidebar/overview/MainAccordion.tsx
  src/content/app/entity-viewer/variant-view/variant-view-sidebar/overview/VariantOverview.module.css
  src/content/app/genome-browser/components/browser-sidebar-toolstrip/BrowserSidebarToolstrip.tsx
  src/content/app/structural-variants/components/structural-variants-sidebar/structural-variants-sidebar-toolstrip/StructuralVariantsSidebarToolstrip.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Fix tests
  src/content/app/genome-browser/components/browser-sidebar-toolstrip/BrowserSidebarToolstrip.test.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

docs(vep): correct comments in the regulatory consequences change
  src/content/app/tools/vep/views/vep-submission-results/VepSubmissionResults.tsx
  src/content/app/tools/vep/views/vep-submission-results/useVepVariantTabularData.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Add a dedicated toggle button for BLAST results table (#1375)
  src/content/app/tools/blast/views/blast-submission-results/BlastSubmissionResults.tsx
  src/content/app/tools/blast/views/blast-submission-results/components/blast-results-per-sequence/BlastResultsPerSequence.module.css
  src/content/app/tools/blast/views/blast-submission-results/components/single-blast-job-result/SingleBlastJobResult.module.css
  src/content/app/tools/blast/views/blast-submission-results/components/single-blast-job-result/SingleBlastJobResult.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Remove unused accordion state from entityViewerSidebarSlice
  src/content/app/entity-viewer/state/sidebar/entityViewerSidebarSlice.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Remove unused buttons from sidebar toolstrip on the genome page
  src/content/app/species/components/species-sidebar-toolstrip/SpeciesSidebarToolstrip.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Remove old disabled UI elements that never got enabled (#1376)
  src/content/app/entity-viewer/gene-view/components/gene-view-sidebar/overview/GeneOverview.tsx
  src/content/app/entity-viewer/gene-view/components/gene-view-sidebar/overview/MainAccordion.tsx
  src/content/app/entity-viewer/shared/components/entity-viewer-sidebar/entity-viewer-sidebar-toolstrip/EntityViewerSidebarToolstrip.tsx
  src/content/app/entity-viewer/state/sidebar/entityViewerSidebarSlice.ts
  src/content/app/entity-viewer/variant-view/variant-view-sidebar/overview/MainAccordion.tsx
  src/content/app/entity-viewer/variant-view/variant-view-sidebar/overview/VariantOverview.module.css
  src/content/app/genome-browser/components/browser-sidebar-toolstrip/BrowserSidebarToolstrip.test.tsx
  src/content/app/genome-browser/components/browser-sidebar-toolstrip/BrowserSidebarToolstrip.tsx
  src/content/app/species/components/species-sidebar-toolstrip/SpeciesSidebarToolstrip.tsx
  src/content/app/structural-variants/components/structural-variants-sidebar/structural-variants-sidebar-toolstrip/StructuralVariantsSidebarToolstrip.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Remove disabled share button from sidebar toolstrip in feature explorer view for transcript
  src/content/app/entity-viewer/transcript-view/components/transcript-view-sidebar/sidebar-toolstrip/SidebarToolstrip.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Add allowScripts section to package.json (in preparation for npm 12)
  package.json
Due: none

Update dependencies
  package-lock.json
  package.json
Due: none

Update vitest-related packages
  package-lock.json
  package.json
Due: none

Sentry major version update
  package-lock.json
  package.json
Due: none

Update dependencies (#1377)
  package-lock.json
  package.json
Due: none

Migrate regulation api endpoints
  src/content/app/regulatory-activity-viewer/components/activity-viewer-sidebar/sidebar-default-view/SidebarDefaultView.tsx
  src/content/app/regulatory-activity-viewer/helpers/prepare-feature-tracks/prepareFeatureTracks.ts
  src/content/app/regulatory-activity-viewer/services/region-data-service/fixtures/mockRegionDataResponse.ts
  src/content/app/regulatory-activity-viewer/services/region-data-service/regionDataService.test.ts
  src/content/app/regulatory-activity-viewer/services/region-data-service/regionDataService.ts
  src/content/app/regulatory-activity-viewer/services/region-data-service/useRegionOverviewData.ts
  src/content/app/regulatory-activity-viewer/state/api/activityViewerApiSlice.ts
  src/content/app/regulatory-activity-viewer/types/regionOverview.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Use annotated sequence server for fetching sequences. Start with gene sequence
  config.ts
  src/content/app/sequence-viewer/components/gene-sequence/GeneSequence.tsx
  src/content/app/sequence-viewer/components/gene-sequence/gene-sequence.ts
  src/content/app/sequence-viewer/components/gene-sequence/useGeneSequence.ts
  src/content/app/sequence-viewer/styles/sequence-viewer-common-styles.module.css
  src/content/app/sequence-viewer/types/annotatedSequenceApi.ts
  src/server/helpers/getConfigForClient.ts
  src/server/middleware/proxyMiddleware.ts
  src/styles/design-tokens.css
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Add transcript sequence
  src/content/app/sequence-viewer/components/gene-sequence/useGeneSequence.ts
  src/content/app/sequence-viewer/components/sequence-viewer-sidebar/TranscriptSequenceSettings.tsx
  src/content/app/sequence-viewer/components/transcript-sequence/TranscriptSequence.tsx
  src/content/app/sequence-viewer/components/transcript-sequence/transcript-sequence.ts
  src/content/app/sequence-viewer/components/transcript-sequence/useTranscriptSequence.ts
  src/content/app/sequence-viewer/state/api/sequenceViewerApiSlice.ts
  src/content/app/sequence-viewer/state/settings/settingsSlice.ts
  src/content/app/sequence-viewer/types/annotatedSequenceApi.ts
  src/content/app/sequence-viewer/types/transcriptView.ts
  src/content/app/sequence-viewer/utils/fetchAnnotatedSequence.ts
  src/styles/design-tokens.css
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Add sidebar modal for sequence viewer
  src/content/app/sequence-viewer/SequenceViewer.tsx
  src/content/app/sequence-viewer/components/sequence-viewer-sidebar/SequenceViewerSidebar.tsx
  src/content/app/sequence-viewer/components/sequence-viewer-sidebar/sidebar-modal/SequenceViewerSidebarModal.tsx
  src/content/app/sequence-viewer/components/sequence-viewer-sidebar/sidebar-modal/modal-views/SequenceViewerDownload.tsx
  src/content/app/sequence-viewer/components/sequence-viewer-sidebar/sidebar-modal/modal-views/SequenceViewerSearch.tsx
  src/content/app/sequence-viewer/components/sequence-viewer-sidebar/sidebar-toolstrip/SequenceViewerSidebarToolstrip.tsx
  src/content/app/sequence-viewer/state/sidebar/sequenceViewerSidebarSelectors.ts
  src/content/app/sequence-viewer/state/sidebar/sequenceViewerSidebarSlice.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Add sequence viewer button to search matches
  src/content/app/sequence-viewer/components/sequence-viewer-sidebar/sidebar-modal/modal-views/SequenceViewerSearch.tsx
  src/shared/components/search-match/GeneSearchMatches.tsx
  src/shared/components/search-match/TranscriptSearchMatches.tsx
  src/shared/components/view-in-app/ViewInApp.tsx
  src/shared/helpers/featureSearchHelpers.ts
  src/shared/helpers/urlHelper.ts
  src/shared/state/feature-search/featureSearchSlice.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Only show sequence viewer launchbar button in non-production environment
  src/header/launchbar/Launchbar.tsx
  src/header/launchbar/SequenceViewerLaunchbarButton.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Show sequence viewer button in Feature explorer
  src/content/app/entity-viewer/gene-view/GeneView.tsx
  src/content/app/entity-viewer/gene-view/components/default-transcripts-list/transcripts-list-item-info/TranscriptsListItemInfo.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

feat(vep): show transcript position and protein change in the results table
  src/content/app/tools/vep/types/vepResultsResponse.ts
  src/content/app/tools/vep/views/vep-submission-results/VepSubmissionResults.test.tsx
  src/content/app/tools/vep/views/vep-submission-results/VepSubmissionResults.tsx
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-protein-coding-features/VepResultsProteinCodingFeatures.module.css
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-protein-coding-features/VepResultsProteinCodingFeatures.test.tsx
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-protein-coding-features/VepResultsProteinCodingFeatures.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Fix the count for coding exons
  src/content/app/entity-viewer/shared/helpers/entity-helpers.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Fix type error, and update fetched transcript payload in the genome browser
  src/content/app/genome-browser/state/api/queries/transcriptSummaryQuery.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Feature explorer: fix the function that counts the number of coding exons (#1378)
  src/content/app/entity-viewer/shared/helpers/entity-helpers.ts
  src/content/app/genome-browser/state/api/queries/transcriptSummaryQuery.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

review comment updates
  CODING_STANDARDS.md
Due: none

Add Ensembl UI development skill (#1349)
  .agents/skills/ensembl-client-implementation-context/SKILL.md
  .agents/skills/ensembl-client-implementation-context/agents/openai.yaml
  .agents/skills/ensembl-client-standards-curator/SKILL.md
  .agents/skills/ensembl-client-standards-curator/agents/openai.yaml
  AGENTS.md
  CODING_STANDARDS.md
Due: none

docs(vep): trim the comments in the transcript position change
  src/content/app/tools/vep/types/vepResultsResponse.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

feat(vep): hide the Regulatory column unless the run chose a regulatory option
  src/content/app/tools/vep/types/vepResultsResponse.ts
  src/content/app/tools/vep/views/vep-submission-results/VepSubmissionResults.test.tsx
  src/content/app/tools/vep/views/vep-submission-results/VepSubmissionResults.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

VEP: add support for regulatory consequences (#1379)
  src/content/app/tools/vep/types/vepResultsResponse.ts
  src/content/app/tools/vep/views/vep-submission-results/VepSubmissionResults.test.tsx
  src/content/app/tools/vep/views/vep-submission-results/VepSubmissionResults.tsx
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-annotation-detail/VepResultsAnnotationDetail.tsx
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-annotation-detail/displaySpec.fixture.ts
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-annotation-detail/displaySpecRenderer.test.tsx
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-annotation-detail/displaySpecRenderer.tsx
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-regulatory-feature/VepResultsRegulatoryFeature.tsx
  src/content/app/tools/vep/views/vep-submission-results/useVepVariantTabularData.test.ts
  src/content/app/tools/vep/views/vep-submission-results/useVepVariantTabularData.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update dependencies with non-major version changes
  package-lock.json
  package.json
Due: none

Update msw
  package-lock.json
  package.json
  src/content/app/genome-browser/components/browser-location-indicator/BrowserLocationIndicator.browser.test.tsx
  src/content/app/genome-browser/components/drawer/components/sequence-view/TranscriptSequenceView.test.tsx
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/TrackPanelList.test.tsx
  src/content/app/genome-browser/components/track-panel/components/track-panel-tabs/TrackPanelTabs.test.tsx
  src/content/app/genome-browser/hooks/useBrowserRouting.test.tsx
  src/content/app/regulatory-activity-viewer/services/region-data-service/regionDataService.test.ts
  src/content/app/tools/blast/components/blast-settings/BlastSettings.test.tsx
  src/content/app/tools/blast/state/epics/blastEpics.ts
  src/content/app/tools/blast/state/epics/tests/blastEpics.test.ts
  src/content/app/tools/vep/state/vep-action-listeners/vepSubmissionStatusPolling.test.ts
  src/services/indexeddb-migrations/speciesStoreMigrations.test.ts
  tests/public/mockServiceWorker.js
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Add url parsing
  src/content/app/sequence-viewer/SequenceViewer.tsx
  src/content/app/sequence-viewer/components/location-sequence/LocationSequence.tsx
  src/content/app/sequence-viewer/components/sequence-viewer-app-bar/SequenceViewerAppBar.tsx
  src/content/app/sequence-viewer/contexts/SequenceViewerIdsContext.tsx
  src/content/app/sequence-viewer/contexts/useParsedSequenceViewerUrl.ts
  src/content/app/sequence-viewer/hooks/useSequenceViewerIds.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Add gene and transcript sequence components
  src/content/app/genome-browser/state/api/genomeBrowserApiSlice.ts
  src/content/app/sequence-viewer/SequenceViewer.tsx
  src/content/app/sequence-viewer/components/gene-sequence/GeneSequence.tsx
  src/content/app/sequence-viewer/components/gene-sequence/gene-sequence.ts
  src/content/app/sequence-viewer/components/gene-sequence/useGeneSequence.ts
  src/content/app/sequence-viewer/components/transcript-sequence/TranscriptSequence.tsx
  src/content/app/sequence-viewer/components/transcript-sequence/transcript-sequence.ts
  src/content/app/sequence-viewer/components/transcript-sequence/useTranscriptSequence.ts
  src/content/app/sequence-viewer/types/transcriptView.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Add sidebar for transcript view settings
  src/content/app/sequence-viewer/SequenceViewer.tsx
  src/content/app/sequence-viewer/components/sequence-viewer-sidebar/SequenceViewerSidebar.tsx
  src/content/app/sequence-viewer/components/sequence-viewer-sidebar/TranscriptSequenceSettings.tsx
  src/content/app/sequence-viewer/state/settings/settingsSlice.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Add redux state for sequence viewer settings
  src/content/app/sequence-viewer/state/sequenceViewerReducer.ts
  src/content/app/sequence-viewer/state/settings/settingsSelectors.ts
  src/content/app/sequence-viewer/state/settings/settingsSlice.ts
  src/root/rootReducer.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Path conditions:
  eslint --max-warnings=0: any of: *.{ts,tsx}
  manage-licence-header add: any of: *.{ts,tsx}
  prettier --write: any of: *.{ts,tsx}
  stylelint: any of: *.css
