Repository Ensembl/ensembl-client: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

.lintstagedrc.json:

{
  "*.{ts,tsx}": [
    "eslint --max-warnings=0",
    "manage-licence-header add",
    "prettier --write"
  ],
  "*.css": [
    "stylelint"
  ]
}

Swap zoom buttons around, and put back the 'Configure' button
  src/content/app/regulatory-activity-viewer/components/activity-viewer-sidebar/sidebar-navigation/SidebarNavigation.tsx
  src/content/app/regulatory-activity-viewer/components/main-content-bottom-view-controls/MainContentBottomViewControls.module.css
  src/content/app/regulatory-activity-viewer/components/main-content-bottom-view-controls/MainContentBottomViewControls.tsx
  src/content/app/regulatory-activity-viewer/components/region-overview/region-overview-zoom-buttons/RegionOverviewZoomButtons.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Exclude combined dimensions from the list of sortable dimensions
  src/content/app/regulatory-activity-viewer/components/activity-viewer-sidebar/configurations-view/epigenomes-order-configurator/EpigenomesOrderConfigurator.tsx
  src/content/app/regulatory-activity-viewer/components/epigenomes-activity/epigenomes-table/EpigenomesTable.tsx
  src/content/app/regulatory-activity-viewer/contexts/ActivityViewerEpigenomesContext.ts
  src/content/app/regulatory-activity-viewer/contexts/ActivityViewerEpigenomesContextProvider.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Restore sortable dimensions after they have been removed from the combined list
  src/content/app/regulatory-activity-viewer/contexts/ActivityViewerEpigenomesContextProvider.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Fix epigenomes order configurator, and add explanatory paragraphs
  src/content/app/regulatory-activity-viewer/components/activity-viewer-sidebar/configurations-view/combinable-metadata-dimensions/CombinableMetadataDimensions.module.css
  src/content/app/regulatory-activity-viewer/components/activity-viewer-sidebar/configurations-view/combinable-metadata-dimensions/CombinableMetadataDimensions.tsx
  src/content/app/regulatory-activity-viewer/components/activity-viewer-sidebar/configurations-view/epigenomes-order-configurator/EpigenomesOrderConfigurator.module.css
  src/content/app/regulatory-activity-viewer/components/activity-viewer-sidebar/configurations-view/epigenomes-order-configurator/EpigenomesOrderConfigurator.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Move configuration options of regulatory activity viewer into the sidebar
  src/content/app/regulatory-activity-viewer/RegulatoryActivityViewer.tsx
  src/content/app/regulatory-activity-viewer/components/activity-viewer-actions-selector/ActivityViewerActionsSelector.module.css
  src/content/app/regulatory-activity-viewer/components/activity-viewer-actions-selector/ActivityViewerActionsSelector.tsx
  src/content/app/regulatory-activity-viewer/components/activity-viewer-sidebar/ActivityViewerSidebar.tsx
  src/content/app/regulatory-activity-viewer/components/activity-viewer-sidebar/configurations-view/ConfigurationsView.module.css
  src/content/app/regulatory-activity-viewer/components/activity-viewer-sidebar/configurations-view/ConfigurationsView.tsx
  src/content/app/regulatory-activity-viewer/components/activity-viewer-sidebar/configurations-view/combinable-metadata-dimensions/CombinableMetadataDimensions.module.css
  src/content/app/regulatory-activity-viewer/components/activity-viewer-sidebar/configurations-view/combinable-metadata-dimensions/CombinableMetadataDimensions.tsx
  src/content/app/regulatory-activity-viewer/components/activity-viewer-sidebar/configurations-view/epigenome-filters/EpigenomeFilters.module.css
  src/content/app/regulatory-activity-viewer/components/activity-viewer-sidebar/configurations-view/epigenome-filters/EpigenomeFilters.tsx
  src/content/app/regulatory-activity-viewer/components/activity-viewer-sidebar/configurations-view/epigenome-filters/epigenome-metadata-dimension-panel/EpigenomeMetadataDimensionPanel.module.css
  src/content/app/regulatory-activity-viewer/components/activity-viewer-sidebar/configurations-view/epigenome-filters/epigenome-metadata-dimension-panel/EpigenomeMetadataDimensionPanel.tsx
  src/content/app/regulatory-activity-viewer/components/activity-viewer-sidebar/configurations-view/epigenome-filters/epigenome-selectable-metadata-item/EpigenomeSelectableMetadataItem.module.css
  src/content/app/regulatory-activity-viewer/components/activity-viewer-sidebar/configurations-view/epigenome-filters/epigenome-selectable-metadata-item/EpigenomeSelectableMetadataItem.tsx
  src/content/app/regulatory-activity-viewer/components/activity-viewer-sidebar/configurations-view/epigenome-filters/getEpigenomeCounts.ts
  src/content/app/regulatory-activity-viewer/components/activity-viewer-sidebar/configurations-view/epigenomes-order-configurator/EpigenomesOrderConfigurator.module.css
  src/content/app/regulatory-activity-viewer/components/activity-viewer-sidebar/configurations-view/epigenomes-order-configurator/EpigenomesOrderConfigurator.tsx
  src/content/app/regulatory-activity-viewer/components/activity-viewer-sidebar/epigenome-filters-view/EpigenomeFiltersView.module.css
  src/content/app/regulatory-activity-viewer/components/activity-viewer-sidebar/epigenome-filters-view/EpigenomeFiltersView.tsx
  src/content/app/regulatory-activity-viewer/components/activity-viewer-sidebar/sidebar-navigation/SidebarNavigation.tsx
  src/content/app/regulatory-activity-viewer/components/epigenome-selection-modal/EpigenomeSelectionModal.tsx
  src/content/app/regulatory-activity-viewer/components/epigenome-selection-panel/EpigenomeSelectionPanel.module.css
  src/content/app/regulatory-activity-viewer/components/main-content-bottom-view-controls/MainContentBottomViewControls.module.css
  src/content/app/regulatory-activity-viewer/components/main-content-bottom-view-controls/MainContentBottomViewControls.tsx
  src/content/app/regulatory-activity-viewer/state/ui/uiSelectors.ts
  src/content/app/regulatory-activity-viewer/state/ui/uiSlice.ts
  src/shared/components/collapsible-section/CollapsibleSection.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Remove AssayTargetLabel
  src/content/app/regulatory-activity-viewer/components/main-content-bottom-view-controls/MainContentBottomViewControls.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Epigenomes config sidebar (#1223)
  src/content/app/regulatory-activity-viewer/RegulatoryActivityViewer.tsx
  src/content/app/regulatory-activity-viewer/components/activity-viewer-actions-selector/ActivityViewerActionsSelector.module.css
  src/content/app/regulatory-activity-viewer/components/activity-viewer-actions-selector/ActivityViewerActionsSelector.tsx
  src/content/app/regulatory-activity-viewer/components/activity-viewer-sidebar/ActivityViewerSidebar.tsx
  src/content/app/regulatory-activity-viewer/components/activity-viewer-sidebar/configurations-view/ConfigurationsView.module.css
  src/content/app/regulatory-activity-viewer/components/activity-viewer-sidebar/configurations-view/ConfigurationsView.tsx
  src/content/app/regulatory-activity-viewer/components/activity-viewer-sidebar/configurations-view/combinable-metadata-dimensions/CombinableMetadataDimensions.module.css
  src/content/app/regulatory-activity-viewer/components/activity-viewer-sidebar/configurations-view/combinable-metadata-dimensions/CombinableMetadataDimensions.tsx
  src/content/app/regulatory-activity-viewer/components/activity-viewer-sidebar/configurations-view/epigenome-filters/EpigenomeFilters.module.css
  src/content/app/regulatory-activity-viewer/components/activity-viewer-sidebar/configurations-view/epigenome-filters/EpigenomeFilters.tsx
  src/content/app/regulatory-activity-viewer/components/activity-viewer-sidebar/configurations-view/epigenome-filters/epigenome-metadata-dimension-panel/EpigenomeMetadataDimensionPanel.module.css
  src/content/app/regulatory-activity-viewer/components/activity-viewer-sidebar/configurations-view/epigenome-filters/epigenome-metadata-dimension-panel/EpigenomeMetadataDimensionPanel.tsx
  src/content/app/regulatory-activity-viewer/components/activity-viewer-sidebar/configurations-view/epigenome-filters/epigenome-selectable-metadata-item/EpigenomeSelectableMetadataItem.module.css
  src/content/app/regulatory-activity-viewer/components/activity-viewer-sidebar/configurations-view/epigenome-filters/epigenome-selectable-metadata-item/EpigenomeSelectableMetadataItem.tsx
  src/content/app/regulatory-activity-viewer/components/activity-viewer-sidebar/configurations-view/epigenome-filters/getEpigenomeCounts.ts
  src/content/app/regulatory-activity-viewer/components/activity-viewer-sidebar/configurations-view/epigenomes-order-configurator/EpigenomesOrderConfigurator.module.css
  src/content/app/regulatory-activity-viewer/components/activity-viewer-sidebar/configurations-view/epigenomes-order-configurator/EpigenomesOrderConfigurator.tsx
  src/content/app/regulatory-activity-viewer/components/activity-viewer-sidebar/epigenome-filters-view/EpigenomeFiltersView.module.css
  src/content/app/regulatory-activity-viewer/components/activity-viewer-sidebar/epigenome-filters-view/EpigenomeFiltersView.tsx
  src/content/app/regulatory-activity-viewer/components/activity-viewer-sidebar/sidebar-navigation/SidebarNavigation.tsx
  src/content/app/regulatory-activity-viewer/components/epigenome-selection-modal/EpigenomeSelectionModal.tsx
  src/content/app/regulatory-activity-viewer/components/epigenome-selection-panel/EpigenomeSelectionPanel.module.css
  src/content/app/regulatory-activity-viewer/components/epigenomes-activity/epigenomes-table/EpigenomesTable.tsx
  src/content/app/regulatory-activity-viewer/components/main-content-bottom-view-controls/MainContentBottomViewControls.module.css
  src/content/app/regulatory-activity-viewer/components/main-content-bottom-view-controls/MainContentBottomViewControls.tsx
  src/content/app/regulatory-activity-viewer/components/region-overview/region-overview-zoom-buttons/RegionOverviewZoomButtons.tsx
  src/content/app/regulatory-activity-viewer/contexts/ActivityViewerEpigenomesContext.ts
  src/content/app/regulatory-activity-viewer/contexts/ActivityViewerEpigenomesContextProvider.tsx
  src/content/app/regulatory-activity-viewer/state/ui/uiSelectors.ts
  src/content/app/regulatory-activity-viewer/state/ui/uiSlice.ts
  src/shared/components/collapsible-section/CollapsibleSection.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Use relarive url for regulation api endpoints
  config.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update dependencies
  package-lock.json
  package.json
Due: none

Update routing conditions in EntityViewer to make sure active genome id is assigned if nothing selected
  src/content/app/entity-viewer/EntityViewer.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update typescript and typescript-eslint
  package-lock.json
  package.json
Due: none

Update dependencies (#1224)
  package-lock.json
  package.json
Due: none

Make sure the find function does not get called on a data array if it is undefined
  src/header/EnsemblReleaseVersion.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

select all and deselect all in species manager
  src/content/app/species-selector/views/species-manager/selected-genomes-table/SelectedGenomesTable.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

fix
  src/content/app/species-selector/views/species-manager/selected-genomes-table/SelectedGenomesTable.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

don't exit delete mode on deselect
  src/content/app/species-selector/views/species-manager/selected-genomes-table/SelectedGenomesTable.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Add select and deselect all buttons in species selector manager (#1225)
  src/content/app/species-selector/views/species-manager/selected-genomes-table/SelectedGenomesTable.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

navigate from species manage page to previous app
  src/content/app/species-selector/views/species-manager/selected-genomes-table/SelectedGenomesTable.tsx
  src/global/globalSelectors.ts
  src/global/globalSlice.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update dependencies
  package-lock.json
  package.json
  src/content/app/entity-viewer/variant-view/transcript-consequences/transcript-variant-cds/TranscriptVariantCDS.tsx
  src/content/app/entity-viewer/variant-view/transcript-consequences/transcript-variant-diagram/TranscriptVariantDiagram.tsx
  src/content/app/tools/blast/components/blast-sequence-alignment/tests/__snapshots__/blastSequenceAlignmentHelper.test.ts.snap
  src/content/app/tools/blast/utils/tests/__snapshots__/blastInputParser.test.ts.snap
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Fix CSS property names (highlighted by the linter)
  src/content/app/entity-viewer/gene-view/components/default-transcripts-list/transcripts-list-item-info/TranscriptsListItemInfo.module.css
  src/content/app/entity-viewer/gene-view/components/proteins-list/proteins-list-item/ProteinsListItem.module.css
  src/content/app/entity-viewer/interstitial/entity-viewer-interstitial-instructions/EntityViewerInterstitialInstructions.module.css
  src/content/app/genome-browser/components/drawer/components/sequence-view/DrawerSequenceView.module.css
  src/content/app/genome-browser/components/drawer/drawer-views/gene-summary/GeneSummary.module.css
  src/content/app/genome-browser/components/drawer/drawer-views/transcript-summary/TranscriptSummary.module.css
  src/content/app/genome-browser/components/drawer/drawer-views/variant-summary/VariantSummary.module.css
  src/content/app/genome-browser/components/interstitial/browser-interstitial-instructions/BrowserInterstitialInstructions.module.css
  src/content/app/species/components/species-title-area/SpeciesTitleArea.module.css
  src/content/app/tools/vep/views/vep-submissions/listed-vep-submission/ListedVepSubmission.module.css
  src/shared/components/checkbox-with-label/CheckboxWithLabel.module.css
  src/shared/components/instant-download/instant-download-transcript/InstantDownloadTranscript.module.css
  src/shared/components/layout/StandardAppLayout.module.css
  src/shared/components/radio-group/RadioGroup.module.css
Due: stylelint

Show population frequency of allele even if regional frequencies are unavailable
  src/content/app/entity-viewer/variant-view/population-allele-frequencies/PopulationAlleleFrequencies.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Add logging for the Node server (with Morgan)
  package-lock.json
  package.json
  src/server/server.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Unsubscribe from redux-toolkit-query during server-side requests
  src/content/app/about/AboutPage.tsx
  src/content/app/entity-viewer/shared/server-fetch/entityViewerServerFetch.ts
  src/content/app/help/HelpPage.tsx
  src/content/app/species/SpeciesPage.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Unsubscribe from redux-toolkit-query during server-side requests (#1227)
  src/content/app/about/AboutPage.tsx
  src/content/app/entity-viewer/shared/server-fetch/entityViewerServerFetch.ts
  src/content/app/help/HelpPage.tsx
  src/content/app/species/SpeciesPage.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update some tests
  src/content/app/regulatory-activity-viewer/services/region-data-service/regionDataService.test.ts
  src/content/app/tools/vep/state/vep-action-listeners/vepSubmissionStatusPolling.test.ts
  src/root/Root.test.tsx
  src/shared/components/data-table/components/table-controls/components/table-actions/components/find-in-table/FindInTable.test.tsx
  vitest.config.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Fix some more tests
  src/content/app/genome-browser/Browser.test.tsx
  src/content/app/tools/blast/components/listed-blast-submission/ListedBlastSubmission.test.tsx
  src/services/indexeddb-migrations/speciesStoreMigrations.test.ts
  src/services/tests/api-service.test.ts
  src/shared/hooks/tests/useShowTooltip.test.tsx
  tests/setup.ts
  tests/svgrMock.js
  tests/svgrMock.ts
  vitest.config.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Fix tests for Browser.tsx
  src/content/app/genome-browser/Browser.test.tsx
  tests/setup.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

variation search wip
  src/content/app/entity-viewer/gene-view/components/gene-view-sidebar/overview/GeneOverview.module.css
  src/content/app/entity-viewer/gene-view/components/gene-view-sidebar/overview/GeneOverview.tsx
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/TrackPanelList.tsx
  src/content/app/species-selector/SpeciesSelector.tsx
  src/content/app/species-selector/components/species-selector-app-bar/SpeciesSelectorAppBar.tsx
  src/content/app/species-selector/state/species-selector-general-slice/speciesSelectorGeneralSelectors.ts
  src/content/app/species-selector/views/species-selector-gene-search-view/SpeciesSelectorGeneSearchView.tsx
  src/content/app/species-selector/views/species-selector-search-view/SpeciesSelectorSearchView.module.css
  src/content/app/species-selector/views/species-selector-search-view/SpeciesSelectorSearchView.tsx
  src/content/app/species/components/species-page-sidebar/SpeciesPageSidebar.tsx
  src/shared/components/feature-search-form/FeatureSearchForm.module.css
  src/shared/components/feature-search-form/FeatureSearchForm.tsx
  src/shared/components/feature-search-result/FeatureSearchResult.module.css
  src/shared/components/feature-search-result/FeatureSearchResult.tsx
  src/shared/components/gene-search-panel/GeneSearchPanel.module.css
  src/shared/components/gene-search-panel/GeneSearchPanel.tsx
  src/shared/components/in-app-search/InAppSearch.module.css
  src/shared/components/in-app-search/InAppSearch.tsx
  src/shared/components/in-app-search/InAppSearchMatches.tsx
  src/shared/components/input/ShadedInput.tsx
  src/shared/components/search-button/SearchButton.module.css
  src/shared/components/search-button/SearchButton.tsx
  src/shared/helpers/urlHelper.ts
  src/shared/state/api-slices/searchApiSlice.ts
  src/shared/types/search-api/search-match.ts
  src/shared/types/search-api/search-modes.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

style fixes
  src/content/app/species-selector/views/species-selector-search-view/SpeciesSelectorSearchView.module.css
  src/shared/components/feature-search-form/FeatureSearchForm.module.css
  src/shared/components/feature-search-form/FeatureSearchForm.tsx
  src/shared/components/in-app-search/InAppSearch.module.css
  src/shared/components/in-app-search/InAppSearch.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

update url
  src/shared/state/api-slices/searchApiSlice.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

redux state fixes
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/TrackPanelList.test.tsx
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/TrackPanelList.tsx
  src/content/app/species-selector/components/species-selector-app-bar/SpeciesSelectorAppBar.tsx
  src/content/app/species-selector/state/species-selector-feature-search-slice/speciesSelectorFeatureSearchSelectors.ts
  src/content/app/species-selector/state/species-selector-feature-search-slice/speciesSelectorFeatureSearchSlice.ts
  src/content/app/species-selector/state/species-selector-gene-search-slice/speciesSelectorGeneSearchSelectors.ts
  src/content/app/species-selector/state/speciesSelectorReducer.ts
  src/content/app/species-selector/views/species-selector-search-view/SpeciesSelectorSearchView.tsx
  src/content/app/species/components/species-page-sidebar/SpeciesPageSidebar.tsx
  src/shared/components/feature-search-form/FeatureSearchForm.tsx
  src/shared/components/in-app-search/InAppSearch.test.tsx
  src/shared/components/in-app-search/InAppSearch.tsx
  src/shared/components/in-app-search/InAppSearchMatches.tsx
  src/shared/helpers/urlHelper.ts
  src/shared/state/in-app-search/inAppSearchSelectors.ts
  src/shared/state/in-app-search/inAppSearchSlice.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

in app search test todo
  src/shared/components/in-app-search/InAppSearch.test.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Fix tests in several files
  src/content/app/genome-browser/components/browser-location-indicator/BrowserLocationIndicator.test.tsx
  src/content/app/genome-browser/hooks/useBrowserRouting.test.tsx
  src/shared/components/feature-summary-strip/FeatureSummaryStrip.test.tsx
  src/shared/components/image-button/ImageButton.test.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Fix tests for BlastSettings.test.tsx
  src/content/app/tools/blast/components/blast-settings/BlastSettings.test.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update svgr mock
  tests/svgrMock.ts
  tests/svgrMock.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write
