Repository Ensembl/ensembl-client: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Remove centromeres data (#964)
  src/content/app/genome-browser/components/chromosome-navigator/ChromosomeNavigator.tsx
  src/shared/data/centromeres.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Another round of updates (most importantly, redux-toolkit to v 1.9.5)
  package-lock.json
  package.json
Due: none

Remove html-webpack-plugin
  package-lock.json
  package.json
Due: none

Update dependencies (#965)
  package-lock.json
  package.json
  webpack/client/production.ts
  webpack/server/production.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Fix width of inputs in navigation modal
  src/content/app/genome-browser/components/browser-sidebar-modal/modal-views/navigate-modal/NavigateModal.scss
Due: prettier --write, stylelint

Refactor Input component (#956)
  src/content/app/genome-browser/components/browser-sidebar-modal/modal-views/navigate-modal/LocationNavigation.tsx
  src/content/app/genome-browser/components/browser-sidebar-modal/modal-views/navigate-modal/NavigateModal.scss
  src/content/app/genome-browser/components/browser-sidebar-modal/modal-views/navigate-modal/RegionNavigation.tsx
  src/content/app/species-selector/components/species-search-field/SpeciesSearchField.scss
  src/shared/components/autosuggest-search-field/AutosuggestSearchField.test.tsx
  src/shared/components/autosuggest-search-field/AutosuggestSearchField.tsx
  src/shared/components/close-button/CloseButton.scss
  src/shared/components/data-table/components/table-controls/components/table-actions/components/find-in-table/FindInTable.scss
  src/shared/components/in-app-search/InAppSearch.scss
  src/shared/components/in-app-search/InAppSearch.tsx
  src/shared/components/input/FlatInput.test.tsx
  src/shared/components/input/FlatInput.tsx
  src/shared/components/input/Input.scss
  src/shared/components/input/Input.test.tsx
  src/shared/components/input/Input.tsx
  src/shared/components/pagination/Pagination.scss
  src/shared/components/pagination/Pagination.tsx
  src/shared/components/question-button/QuestionButton.scss
  src/shared/components/search-field/SearchField.scss
  src/shared/components/search-field/SearchField.tsx
  stories/shared-components/input/Input.stories.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Add chevrons to links that trigger meganav
  src/content/app/help/components/help-menu/HelpMenu.scss
  src/content/app/help/components/help-menu/HelpMenu.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Add gene search component
  config.ts
  src/content/app/species-selector/SpeciesSelector.scss
  src/content/app/species-selector/SpeciesSelector.tsx
  src/content/app/species-selector/components/species-selector-app-bar/SpeciesSelectorAppBar.test.tsx
  src/content/app/species-selector/components/species-selector-app-bar/SpeciesSelectorAppBar.tsx
  src/server/helpers/getConfigForClient.ts
  src/shared/components/gene-search-button/GeneSearchButton.scss
  src/shared/components/gene-search-button/GeneSearchButton.tsx
  src/shared/components/gene-search-button/GeneSearchCloseButton.tsx
  src/shared/components/gene-search-panel/GeneSearchPanel.scss
  src/shared/components/gene-search-panel/GeneSearchPanel.tsx
  src/shared/components/in-app-search/InAppSearchMatches.tsx
  src/shared/components/in-app-search/test/response-fixture.ts
  src/shared/state/api-slices/searchApiSlice.ts
  src/shared/state/in-app-search/inAppSearchSlice.ts
  src/shared/types/search-api/search-match.ts
  src/shared/types/search-api/search-meta.ts
  src/shared/types/search-api/search-results.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Add radio buttons
  src/shared/components/gene-search-panel/GeneSearchPanel.scss
  src/shared/components/gene-search-panel/GeneSearchPanel.tsx
  src/shared/components/radio-group/RadioGroup.scss
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Disable species lozenges
  src/content/app/species-selector/components/species-selector-app-bar/SpeciesSelectorAppBar.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update label styles
  src/content/app/species-selector/components/species-search-field/SpeciesSearchField.scss
  src/shared/components/gene-search-panel/GeneSearchPanel.scss
Due: prettier --write, stylelint

Update styles; remove FindGeneInstructions
  src/content/app/species-selector/components/find-gene-instructions/FindGeneInstructions.scss
  src/content/app/species-selector/components/find-gene-instructions/FindGeneInstructions.tsx
  src/content/app/species-selector/containers/species-search-panel/SpeciesSearchPanel.tsx
  src/shared/components/gene-search-panel/GeneSearchPanel.scss
  src/shared/components/gene-search-panel/GeneSearchPanel.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Fix HelpMenu test
  src/content/app/help/components/help-menu/HelpMenu.test.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Continue refactoring of the Input component
  src/content/app/species-selector/components/species-search-field/SpeciesSearchField.tsx
  src/shared/components/autosuggest-search-field/AutosuggestSearchField.scss
  src/shared/components/autosuggest-search-field/AutosuggestSearchField.tsx
  src/shared/components/in-app-search/InAppSearch.scss
  src/shared/components/in-app-search/InAppSearch.tsx
  src/shared/components/input/FlatInput.test.tsx
  src/shared/components/input/FlatInput.tsx
  src/shared/components/input/Input.scss
  src/shared/components/input/ShadedInput.test.tsx
  src/shared/components/input/ShadedInput.tsx
  src/shared/components/input/useClearInput.ts
  src/shared/components/question-button/QuestionButton.tsx
  src/shared/components/search-field/SearchField.test.tsx
  src/shared/components/search-field/SearchField.tsx
  src/shared/hooks/useForwardedRef.ts
  stories/shared-components/input/Input.stories.scss
  stories/shared-components/input/Input.stories.tsx
  stories/shared-components/question-button/QuestionButton.stories.tsx
  stories/shared-components/search-field/SearchField.stories.scss
  stories/shared-components/search-field/SearchField.stories.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Add breadcrumbs to About app
  src/content/app/about/About.scss
  src/content/app/about/About.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

show question mark only when there is helptext available
  src/content/app/genome-browser/components/drawer/drawer-views/gene-summary/GeneSummary.tsx
  src/shared/components/tooltip/Tooltip.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Fix tests for AutosuggestSearchField
  src/shared/components/autosuggest-search-field/AutosuggestSearchField.test.tsx
  src/shared/components/autosuggest-search-field/AutosuggestSearchField.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Fix tests for InAppSearch
  src/shared/components/in-app-search/InAppSearch.test.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

add label for biotype
  src/content/app/genome-browser/components/drawer/drawer-views/gene-summary/GeneSummary.scss
  src/content/app/genome-browser/components/drawer/drawer-views/gene-summary/GeneSummary.tsx
  src/content/app/genome-browser/components/drawer/drawer-views/transcript-summary/TranscriptSummary.scss
  src/content/app/genome-browser/components/drawer/drawer-views/transcript-summary/TranscriptSummary.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

update variant legend group ids
  src/content/app/genome-browser/components/drawer/drawer-views/variant-group-legend/VariantGroupLegend.scss
  src/content/app/genome-browser/constants/variantGroups.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Update variant legend group ids (#971)
  src/content/app/genome-browser/components/drawer/drawer-views/variant-group-legend/VariantGroupLegend.scss
  src/content/app/genome-browser/constants/variantGroups.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Update BLAST settings styles
  src/content/app/tools/blast/components/blast-settings/BlastSettings.scss
  src/content/app/tools/blast/components/blast-settings/BlastSettings.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Make input's clear button conditional on input length; and update placeholder behaviour
  src/shared/components/input/FlatInput.tsx
  src/shared/components/input/ShadedInput.tsx
  src/shared/components/input/useClearInput.ts
  src/shared/components/input/useInputFocus.ts
  src/shared/components/input/useInputPlaceholder.ts
  stories/shared-components/input/Input.stories.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Updated stories in Storybook to reflect behaviour of updated inputs
  stories/shared-components/input/FlatInputStory.tsx
  stories/shared-components/input/Input.stories.scss
  stories/shared-components/input/ShadedInputStory.tsx
  stories/shared-components/input/SimpleInputStories.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Add tests for useClearInput
  src/shared/components/input/useClearInput.test.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

update biotype type
  src/shared/components/question-button/QuestionButton.tsx
  src/shared/types/thoas/metadata.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Don't use classNames when not needed
  src/shared/components/gene-search-panel/GeneSearchPanel.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Make table of search results scrollable
  src/shared/components/gene-search-panel/GeneSearchPanel.scss
  src/shared/components/gene-search-panel/GeneSearchPanel.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Update styles of GeneSearchButton
  src/shared/components/close-button/CloseButton.scss
  src/shared/components/gene-search-button/GeneSearchButton.scss
  src/shared/components/gene-search-button/GeneSearchButton.tsx
  src/shared/components/gene-search-button/GeneSearchCloseButton.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Rename a variable
  src/shared/components/gene-search-panel/GeneSearchPanel.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Remove a margin at a breakpoint
  src/content/app/tools/blast/components/blast-settings/BlastSettings.scss
Due: prettier --write, stylelint

Update the gap property for flex
  src/content/app/tools/blast/components/blast-settings/BlastSettings.scss
Due: prettier --write, stylelint

PR suggestions
  src/content/app/help/components/help-menu/HelpMenu.scss
  src/content/app/help/components/help-menu/HelpMenu.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Fix chevron styling
  src/content/app/help/components/help-menu/HelpMenu.scss
  src/content/app/help/components/help-menu/HelpMenu.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Get location from react router
  src/content/app/help/components/help-menu/HelpMenu.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Use string trim
  src/content/app/help/components/help-menu/HelpMenu.test.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Remove redundant whitespace
  src/content/app/help/components/help-menu/HelpMenu.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Show hide helptext icon based on helptext availability (#970)
  src/content/app/genome-browser/components/drawer/drawer-views/gene-summary/GeneSummary.scss
  src/content/app/genome-browser/components/drawer/drawer-views/gene-summary/GeneSummary.tsx
  src/content/app/genome-browser/components/drawer/drawer-views/transcript-summary/TranscriptSummary.scss
  src/content/app/genome-browser/components/drawer/drawer-views/transcript-summary/TranscriptSummary.tsx
  src/shared/components/question-button/QuestionButton.tsx
  src/shared/components/tooltip/Tooltip.tsx
  src/shared/types/thoas/metadata.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Update comment
  src/content/app/species-selector/SpeciesSelector.scss
Due: prettier --write, stylelint

Path conditions:
  eslint --max-warnings=0: any of: *.{ts,tsx}
  manage-licence-header add: any of: *.{ts,tsx}
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.scss)
  stylelint: any of: *.scss
