Repository Ensembl/ensembl-client: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

.lintstagedrc.json:

{
  "*.{ts,tsx}": [
    "eslint --max-warnings=0",
    "manage-licence-header add",
    "prettier --write"
  ],
  "*.css": [
    "stylelint"
  ]
}

Update behaviour of location selector (fix bugs with edge cases)
  src/content/app/regulatory-activity-viewer/components/region-activity-section/region-detail-image/region-detail-regulatory-feature/RegionDetailRegulatoryFeature.tsx
  src/content/app/regulatory-activity-viewer/components/region-overview/region-overview-image/RegionOverviewImage.module.css
  src/content/app/regulatory-activity-viewer/components/region-overview/region-overview-image/RegionOverviewImage.tsx
  src/content/app/regulatory-activity-viewer/components/region-overview/region-overview-image/region-overview-gene/RegionOverviewGene.tsx
  src/content/app/regulatory-activity-viewer/components/region-overview/region-overview-image/region-overview-location-selector/RegionOverviewLocationSelector.tsx
  src/content/app/regulatory-activity-viewer/components/region-overview/region-overview-image/region-overview-location-selector/useLocationSelector.ts
  src/content/app/regulatory-activity-viewer/components/region-overview/region-overview-image/region-overview-location-selector/useLongPress.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Show popup at clicks on features in RegionOverview
  src/content/app/regulatory-activity-viewer/components/activity-viewer-popup/AcrivityViewerPopup.module.css
  src/content/app/regulatory-activity-viewer/components/activity-viewer-popup/ActivityViewerPopup.tsx
  src/content/app/regulatory-activity-viewer/components/activity-viewer-popup/GenePopupContent.tsx
  src/shared/components/pointer-box/PointerBox.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Update link to VEP contextual help
  src/content/app/tools/vep/components/vep-app-bar/VepAppBar.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Allow region selection from inert areas of region overview
  src/content/app/regulatory-activity-viewer/components/region-overview/region-overview-image/region-overview-location-selector/RegionOverviewLocationSelector.tsx
  src/content/app/regulatory-activity-viewer/components/region-overview/region-overview-image/region-overview-location-selector/useLocationSelector.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Cleanup
  src/content/app/regulatory-activity-viewer/components/region-activity-section/RegionActivitySection.tsx
  src/content/app/regulatory-activity-viewer/components/region-overview/region-overview-image/RegionOverviewImage.tsx
  src/content/app/regulatory-activity-viewer/components/region-overview/region-overview-image/region-overview-gene/RegionOverviewGene.tsx
  src/content/app/regulatory-activity-viewer/components/region-overview/region-overview-image/region-overview-location-selector/RegionOverviewLocationSelector.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Change type casting
  src/content/app/regulatory-activity-viewer/components/activity-viewer-popup/GenePopupContent.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Allow selection of a region detail in regulatory activity viewer (#1182)
  src/content/app/regulatory-activity-viewer/RegulatoryActivityViewer.tsx
  src/content/app/regulatory-activity-viewer/components/activity-viewer-popup/AcrivityViewerPopup.module.css
  src/content/app/regulatory-activity-viewer/components/activity-viewer-popup/ActivityViewerPopup.tsx
  src/content/app/regulatory-activity-viewer/components/activity-viewer-popup/GenePopupContent.tsx
  src/content/app/regulatory-activity-viewer/components/region-activity-section/RegionActivitySection.tsx
  src/content/app/regulatory-activity-viewer/components/region-activity-section/RegionActivitySectionImage.tsx
  src/content/app/regulatory-activity-viewer/components/region-activity-section/region-detail-image/RegionDetailImage.tsx
  src/content/app/regulatory-activity-viewer/components/region-activity-section/region-detail-image/region-detail-regulatory-feature/RegionDetailRegulatoryFeature.tsx
  src/content/app/regulatory-activity-viewer/components/region-overview/RegionOverview.tsx
  src/content/app/regulatory-activity-viewer/components/region-overview/region-overview-image/RegionOverviewImage.module.css
  src/content/app/regulatory-activity-viewer/components/region-overview/region-overview-image/RegionOverviewImage.tsx
  src/content/app/regulatory-activity-viewer/components/region-overview/region-overview-image/region-overview-gene/RegionOverviewGene.tsx
  src/content/app/regulatory-activity-viewer/components/region-overview/region-overview-image/region-overview-location-selector/RegionOverviewLocationSelector.tsx
  src/content/app/regulatory-activity-viewer/components/region-overview/region-overview-image/region-overview-location-selector/useLocationSelector.ts
  src/content/app/regulatory-activity-viewer/components/region-overview/region-overview-image/transcription-start-site/TranscriptionStartSite.tsx
  src/content/app/regulatory-activity-viewer/helpers/prepare-feature-tracks/prepareFeatureTracks.ts
  src/content/app/regulatory-activity-viewer/state/general/generalSelectors.ts
  src/content/app/regulatory-activity-viewer/state/general/generalSlice.ts
  src/content/app/regulatory-activity-viewer/state/region-detail/regionDetailSlice.ts
  src/content/app/regulatory-activity-viewer/state/region-detail/regionDetaillSelectors.ts
  src/content/app/regulatory-activity-viewer/state/regulatoryActivityViewerReducer.ts
  src/root/rootReducer.ts
  src/shared/components/pointer-box/PointerBox.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Update dependencies
  package-lock.json
  package.json
Due: none

Update Storybook
  package-lock.json
  package.json
Due: none

Update react router
  package-lock.json
  package.json
Due: none

Ran npm audit fix
  package-lock.json
Due: none

Update jsdom environment for tests with jest
  tests/fixed-jsdom-environment.js
Due: none

Update Express to version 5
  package-lock.json
  package.json
  src/server/server.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update Node to the latest LTS version
  .gitlab-ci.yml
  Dockerfile
  Dockerfile.node
  package-lock.json
Due: none

Don't force install npm@8.1.0 — it is too old now
  .gitlab-ci.yml
  Dockerfile
Due: none

Update dependencies (#1183)
  .gitlab-ci.yml
  Dockerfile
  Dockerfile.node
  package-lock.json
  package.json
  src/server/server.ts
  tests/fixed-jsdom-environment.js
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Extract a group of social media links into a dedicated component
  src/content/home/Home.module.css
  src/content/home/Home.tsx
  src/shared/components/social-media-links/SocialMediaLinks.module.css
  src/shared/components/social-media-links/SocialMediaLinks.tsx
  static/icons/icon_twitter.svg
  stories/shared-components/social-media-links/SocialMediaLinks.stories.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Add base CSS layer; show social media icons on the About page
  src/content/app/about/About.module.css
  src/content/app/about/About.tsx
  src/content/app/tools/vep/components/vep-top-bar/EnsemblVepVersion.tsx
  src/content/home/Home.module.css
  src/content/home/Home.tsx
  src/shared/components/communication-framework/contact-us/ContactUs.module.css
  src/shared/components/communication-framework/contact-us/ContactUs.tsx
  src/shared/components/social-media-links/SocialMediaLinks.module.css
  src/shared/components/social-media-links/SocialMediaLinks.tsx
  src/styles/base.css
  src/styles/layers.css
  src/styles/main.css
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Use SocialMediaLinks component in ContactUs view of communication panel
  src/shared/components/communication-framework/contact-us/ContactUs.module.css
  src/shared/components/communication-framework/contact-us/ContactUs.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Fix stylelint complaints
  src/content/app/tools/vep/components/vep-top-bar/VepTopBar.module.css
  src/styles/main.css
Due: stylelint

Update styles for social media links on the About page
  src/content/app/about/About.module.css
Due: stylelint

wip
  src/content/app/tools/biomart/Biomart.module.css
  src/content/app/tools/biomart/Biomart.tsx
  src/content/app/tools/biomart/BiomartPage.tsx
  src/content/app/tools/biomart/biomart-appbar/BiomartAppBar.module.css
  src/content/app/tools/biomart/biomart-appbar/BiomartAppBar.tsx
  src/content/app/tools/biomart/biomart-form/BiomartForm.module.css
  src/content/app/tools/biomart/biomart-form/BiomartForm.tsx
  src/content/app/tools/biomart/biomart-settings/BiomartSettings.module.css
  src/content/app/tools/biomart/biomart-settings/BiomartSettings.tsx
  src/content/app/tools/biomart/interstitial/BiomartInterstitialInstructions.module.css
  src/content/app/tools/biomart/interstitial/BiomartInterstitialInstructions.tsx
  src/content/app/tools/biomart/state/biomartReducer.ts
  src/content/app/tools/biomart/state/biomartSlice.ts
  src/header/launchbar/BiomartLaunchbarButton.tsx
  src/header/launchbar/Launchbar.tsx
  src/root/rootReducer.ts
  src/routes/routesConfig.tsx
  src/shared/components/app-icon/AppIcon.module.css
  src/shared/components/app-icon/BiomartIcon.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Update social media links (#1184)
  src/content/app/about/About.module.css
  src/content/app/about/About.tsx
  src/content/app/tools/vep/components/vep-top-bar/VepTopBar.module.css
  src/content/home/Home.module.css
  src/content/home/Home.tsx
  src/shared/components/communication-framework/contact-us/ContactUs.module.css
  src/shared/components/communication-framework/contact-us/ContactUs.tsx
  src/shared/components/social-media-links/SocialMediaLinks.module.css
  src/shared/components/social-media-links/SocialMediaLinks.tsx
  src/styles/base.css
  src/styles/layers.css
  src/styles/main.css
  static/icons/icon_twitter.svg
  stories/shared-components/social-media-links/SocialMediaLinks.stories.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Enable VEP button in production
  src/header/launchbar/VepLaunchbarButton.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

wip
  src/content/app/tools/biomart/Biomart.module.css
  src/content/app/tools/biomart/biomart-form/BiomartForm.module.css
  src/content/app/tools/biomart/biomart-form/BiomartForm.tsx
  src/content/app/tools/biomart/biomart-form/columns/BiomartColumnsHeader.module.css
  src/content/app/tools/biomart/biomart-form/columns/BiomartColumnsHeader.tsx
  src/content/app/tools/biomart/biomart-form/filters/BiomartFiltersHeader.module.css
  src/content/app/tools/biomart/biomart-form/filters/BiomartFiltersHeader.tsx
  src/content/app/tools/biomart/biomart-settings/BiomartSettings.module.css
  src/content/app/tools/biomart/interstitial/BiomartInterstitialInstructions.module.css
  src/content/app/tools/biomart/state/biomartApiSlice.ts
  src/content/app/tools/biomart/state/biomartSelectors.ts
  src/content/app/tools/biomart/state/biomartSlice.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Use a joined TSS arrow instead of arrows of different heights
  src/content/app/regulatory-activity-viewer/components/region-overview/region-overview-image/transcription-start-site/TranscriptionStartSite.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Render TSS in RegionOverview (Andrea's design)
  src/content/app/regulatory-activity-viewer/components/region-overview/region-overview-image/RegionOverviewImage.tsx
  src/content/app/regulatory-activity-viewer/components/region-overview/region-overview-image/transcription-start-site/TranscriptionStartSite.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Show TSS arrows in the Region in Detail panel
  src/content/app/regulatory-activity-viewer/components/region-activity-section/region-detail-image/RegionDetailImage.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Rename TranscriptionStartSite to TranscriptionStartSites; add comments
  src/content/app/regulatory-activity-viewer/components/region-activity-section/region-detail-image/RegionDetailImage.tsx
  src/content/app/regulatory-activity-viewer/components/region-overview/region-overview-image/RegionOverviewImage.tsx
  src/content/app/regulatory-activity-viewer/components/region-overview/region-overview-image/transcription-start-sites/TranscriptionStartSites.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update the display of transcription start sites (#1185)
  src/content/app/regulatory-activity-viewer/components/region-activity-section/region-detail-image/RegionDetailImage.tsx
  src/content/app/regulatory-activity-viewer/components/region-overview/region-overview-image/RegionOverviewImage.tsx
  src/content/app/regulatory-activity-viewer/components/region-overview/region-overview-image/transcription-start-site/TranscriptionStartSite.tsx
  src/content/app/regulatory-activity-viewer/components/region-overview/region-overview-image/transcription-start-sites/TranscriptionStartSites.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Refactor the Checkbox component
  src/shared/components/checkbox/Checkbox.module.css
  src/shared/components/checkbox/Checkbox.tsx
  stories/shared-components/checkbox/Checkbox.stories.module.css
  stories/shared-components/checkbox/Checkbox.stories.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Fix tests
  src/content/app/tools/blast/components/blast-app-bar/BlastAppBar.test.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Show notification about the beta site
  src/content/app/about/About.tsx
  src/content/app/help/Help.tsx
  src/content/home/Home.tsx
  src/services/indexeddb-service.ts
  src/shared/components/app-bar/AppBar.tsx
  src/shared/components/communication-framework/CommunicationPanel.module.css
  src/shared/components/communication-framework/CommunicationPanel.tsx
  src/shared/components/communication-framework/CommunicationPanelButton.module.css
  src/shared/components/communication-framework/CommunicationPanelButton.tsx
  src/shared/components/communication-framework/ConversationIcon.module.css
  src/shared/components/communication-framework/ConversationIcon.tsx
  src/shared/components/communication-framework/hooks/useNotifications.ts
  src/shared/components/communication-framework/notifications/Notification.module.css
  src/shared/components/communication-framework/notifications/Notification.tsx
  src/shared/components/communication-framework/notifications/Notifications.tsx
  src/shared/components/communication-framework/notifications/beta-intro-rapid-retirement/BetaIntroRapidRetirement.module.css
  src/shared/components/communication-framework/notifications/beta-intro-rapid-retirement/BetaIntroRapidRetirement.tsx
  src/shared/services/notificationsStorageConstants.ts
  src/shared/services/notificationsStorageService.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Add min-height to notification
  src/shared/components/communication-framework/notifications/Notification.module.css
Due: stylelint

Bump ensembl-website database version for IndexedDB
  src/services/indexeddb-service.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Add notifications support to CommunicationPanel (#1163)
  src/content/app/about/About.tsx
  src/content/app/help/Help.tsx
  src/content/app/tools/blast/components/blast-app-bar/BlastAppBar.test.tsx
  src/content/home/Home.tsx
  src/services/indexeddb-service.ts
  src/shared/components/app-bar/AppBar.tsx
  src/shared/components/communication-framework/CommunicationPanel.module.css
  src/shared/components/communication-framework/CommunicationPanel.tsx
  src/shared/components/communication-framework/CommunicationPanelButton.module.css
  src/shared/components/communication-framework/CommunicationPanelButton.tsx
  src/shared/components/communication-framework/ConversationIcon.module.css
  src/shared/components/communication-framework/ConversationIcon.tsx
  src/shared/components/communication-framework/hooks/useNotifications.ts
  src/shared/components/communication-framework/notifications/Notification.module.css
  src/shared/components/communication-framework/notifications/Notification.tsx
  src/shared/components/communication-framework/notifications/Notifications.tsx
  src/shared/components/communication-framework/notifications/beta-intro-rapid-retirement/BetaIntroRapidRetirement.module.css
  src/shared/components/communication-framework/notifications/beta-intro-rapid-retirement/BetaIntroRapidRetirement.tsx
  src/shared/services/notificationsStorageConstants.ts
  src/shared/services/notificationsStorageService.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

wip
  src/content/app/tools/biomart/Biomart.tsx
  src/content/app/tools/biomart/BiomartPage.tsx
  src/content/app/tools/biomart/biomart-form/BiomartForm.module.css
  src/content/app/tools/biomart/biomart-form/BiomartForm.tsx
  src/content/app/tools/biomart/biomart-form/columns/BiomartColumnsForm.tsx
  src/content/app/tools/biomart/biomart-form/columns/BiomartColumnsHeader.module.css
  src/content/app/tools/biomart/biomart-form/columns/BiomartColumnsHeader.tsx
  src/content/app/tools/biomart/biomart-form/filters/BiomartFiltersForm.tsx
  src/content/app/tools/biomart/biomart-form/filters/BiomartFiltersHeader.module.css
  src/content/app/tools/biomart/biomart-form/filters/BiomartFiltersHeader.tsx
  src/content/app/tools/biomart/biomart-form/filters/panels/BiomartMultiSelectFilter.tsx
  src/content/app/tools/biomart/biomart-form/filters/panels/gene/BiomartGenePanel.tsx
  src/content/app/tools/biomart/biomart-form/filters/panels/region/BiomartCoordinatesFilter.tsx
  src/content/app/tools/biomart/biomart-form/filters/panels/region/BiomartRegionPanel.tsx
  src/content/app/tools/biomart/interstitial/BiomartInterstitialInstructions.tsx
  src/content/app/tools/biomart/state/biomartReducer.ts
  src/content/app/tools/biomart/state/biomartSelectors.ts
  src/content/app/tools/biomart/state/biomartSlice.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

wip
  src/content/app/tools/biomart/biomart-form/columns/BiomartColumnsHeader.tsx
  src/content/app/tools/biomart/biomart-form/filters/BiomartFiltersHeader.tsx
  src/content/app/tools/biomart/biomart-form/filters/panels/BiomartMultiSelectFilter.tsx
  src/content/app/tools/biomart/biomart-form/filters/panels/gene/BiomartGenePanel.tsx
  src/content/app/tools/biomart/biomart-form/filters/panels/region/BiomartCoordinatesFilter.tsx
  src/content/app/tools/biomart/biomart-form/filters/panels/region/BiomartRegionPanel.tsx
  src/content/app/tools/biomart/state/biomartSelectors.ts
  src/content/app/tools/biomart/state/biomartSlice.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

wip
  src/content/app/tools/biomart/Biomart.module.css
  src/content/app/tools/biomart/Biomart.tsx
  src/content/app/tools/biomart/biomart-app-bar/BiomartAppBar.tsx
  src/content/app/tools/biomart/biomart-appbar/BiomartAppBar.module.css
  src/content/app/tools/biomart/biomart-interstitial/BiomartInterstitialInstructions.module.css
  src/content/app/tools/biomart/biomart-interstitial/BiomartInterstitialInstructions.tsx
  src/content/app/tools/biomart/biomart-preview-run/BiomartPreviewRun.module.css
  src/content/app/tools/biomart/biomart-preview-run/BiomartPreviewRun.tsx
  src/content/app/tools/biomart/biomart-settings/BiomartSettings.module.css
  src/content/app/tools/biomart/biomart-settings/BiomartSettings.tsx
  src/content/app/tools/biomart/state/biomartSlice.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

wip
  src/content/app/tools/biomart/Biomart.tsx
  src/content/app/tools/biomart/BiomartPage.tsx
  src/content/app/tools/biomart/biomart-form/BiomartForm.tsx
  src/content/app/tools/biomart/biomart-form/columns/BiomartColumnsHeader.tsx
  src/content/app/tools/biomart/biomart-form/filters/BiomartFiltersHeader.tsx
  src/content/app/tools/biomart/biomart-jobs/BiomartJobs.module.css
  src/content/app/tools/biomart/biomart-jobs/BiomartJobs.tsx
  src/content/app/tools/biomart/biomart-jobs/BiomartJobsNavigation.tsx
  src/content/app/tools/biomart/biomart-preview-run/BiomartPreviewRun.module.css
  src/content/app/tools/biomart/biomart-preview-run/BiomartPreviewRun.tsx
  src/content/app/tools/biomart/biomart-settings/BiomartSettings.module.css
  src/content/app/tools/biomart/biomart-settings/BiomartSettings.tsx
  src/content/app/tools/biomart/state/biomartSlice.ts
  src/shared/helpers/urlHelper.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint
