Repository Ensembl/ensembl-client: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

initial work to close zmenu when location change
  src/content/app/genome-browser/components/zmenu/Zmenu.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Fetch EntityViewer page title server-side
  config.ts
  src/content/app/entity-viewer/EntityViewerPage.tsx
  src/root/rootReducer.ts
  src/server/constants.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Prevent Zmenu from getting closed immediately
  src/content/app/genome-browser/components/zmenu/Zmenu.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

cleanup code
  src/content/app/genome-browser/components/zmenu/Zmenu.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Remove unnecessary variable
  src/content/app/entity-viewer/shared/components/entity-viewer-sidebar/entity-viewer-sidebar-modal/modal-views/EntityViewerBookmarks.test.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Rename setDataFromUrl method to setActiveIds for EntityViewer
  src/content/app/entity-viewer/EntityViewer.tsx
  src/content/app/entity-viewer/state/general/entityViewerGeneralSlice.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Remove misleading comment and rename a type
  src/content/app/entity-viewer/state/general/entityViewerGeneralSlice.ts
  src/content/app/genome-browser/components/browser-location-indicator/BrowserLocationIndicator.test.tsx
  src/content/app/genome-browser/components/browser-location-indicator/BrowserLocationIndicator.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update tests (remove errors due to missing restApi reducer)
  src/content/app/entity-viewer/gene-view/components/default-transcripts-list/transcripts-list-item-info/TranscriptsListItemInfo.test.tsx
  src/content/app/genome-browser/components/browser-cog/BrowserCogList.test.tsx
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/TrackPanelList.test.tsx
  tests/fixtures/browser.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Fix url for ViewInApp component next to the Gene Overview Image
  src/content/app/entity-viewer/gene-view/GeneView.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Remove commented code from useBrowseRouting
  src/content/app/genome-browser/hooks/useBrowserRouting.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

fix test by adding mockstate
  src/content/app/genome-browser/components/zmenu/Zmenu.test.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update src/content/app/entity-viewer/state/general/entityViewerGeneralSlice.ts
  src/content/app/entity-viewer/state/general/entityViewerGeneralSlice.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Use latest ensembl-genome-browser version
  package-lock.json
  package.json
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/track-panel-items/TrackPanelGene.tsx
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/track-panel-items/TrackPanelTranscript.tsx
  src/content/app/genome-browser/components/track-panel/trackPanelConfig.ts
  src/content/app/genome-browser/state/browser-general/browserGeneralSelectors.ts
  src/content/app/genome-browser/state/browser-general/browserGeneralSlice.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Remove unused code and comments from genomeSlice
  src/content/app/entity-viewer/gene-view/components/gene-view-sidebar/overview/GeneOverview.test.tsx
  src/shared/state/genome/genomeSlice.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

more fixes
  src/content/app/help/Help.scss
  src/content/home/Home.scss
  src/header/Header.scss
  src/header/launchbar/Launchbar.scss
  src/shared/components/app-bar/AppBar.scss
Due: prettier --write, stylelint

Update genome slice and selector
  src/shared/state/genome/genomeSelectors.ts
  src/shared/state/genome/genomeSlice.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Make sure never to commit active genome id if it is empty
  src/content/app/genome-browser/services/browserStorageService.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Add extra protection from closures in useGenomeBrowserPosition.ts
  src/content/app/genome-browser/hooks/useGenomeBrowserPosition.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Add an extra protection against outdated activeGenomeId in useBrowserRouting
  src/content/app/genome-browser/hooks/useBrowserRouting.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Make gene and transcript tracks update based on visible_transcripts outgoing action
  package-lock.json
  package.json
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/track-panel-items/TrackPanelGene.tsx
  src/content/app/genome-browser/components/track-panel/trackPanelConfig.ts
  src/content/app/genome-browser/hooks/useGenomeBrowser.ts
  src/content/app/genome-browser/state/browser-general/browserGeneralSelectors.ts
  src/content/app/genome-browser/state/browser-general/browserGeneralSlice.ts
  src/shared/components/visibility-icon/VisibilityIcon.scss
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Revert debugging related changes
  config.ts
  src/server/helpers/getConfigForClient.ts
  src/services/google-analytics/loadGoogleAnalytics.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

minor css fix from Andrea
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/TrackPanelList.scss
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/TrackPanelList.tsx
  src/shared/components/layout/StandardAppLayout.scss
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

PR review cleanups
  src/server/routes/unsupportedBrowserRouter.tsx
  src/services/analytics-service.ts
  src/services/google-analytics/index.ts
  src/services/google-analytics/loadGoogleAnalytics.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

PR review change
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/TrackPanelList.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Fix some issues in gene track eye behaviour
  package-lock.json
  package.json
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/track-panel-items/TrackPanelGene.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Pass dimensions along with the events
  src/analyticsHelper.ts
  src/content/app/App.tsx
  src/content/app/genome-browser/Browser.tsx
  src/server/views/unsupported-browser.html
  src/services/analytics-service.ts
  src/services/google-analytics/index.ts
  src/services/google-analytics/loadGoogleAnalytics.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

update classname
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/TrackPanelList.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

PR review cleanup
  src/services/google-analytics/index.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

rename global variable
  src/content/app/entity-viewer/gene-view/GeneView.scss
  src/content/app/help/Help.scss
  src/content/home/Home.scss
  src/content/unsupported-browser/components/topbar/Topbar.scss
  src/header/launchbar/Launchbar.scss
  src/shared/components/app-bar/AppBar.scss
  src/shared/components/species-tabs-wrapper/SingleLineSpeciesWrapper.scss
  src/styles/_settings.scss
Due: prettier --write, stylelint

Initial folder layout
  src/root/rootReducer.ts
  src/shared/components/table/Table.scss
  src/shared/components/table/Table.tsx
  src/shared/components/table/components/actions/Actions.tsx
  src/shared/components/table/components/actions/components/column-visibility-controller/ShowHideColumns.tsx
  src/shared/components/table/components/actions/components/download-table-data/DownloadTableData.tsx
  src/shared/components/table/components/actions/components/find-in-table/FindInTable.tsx
  src/shared/components/table/components/actions/components/popup-panel/PopupPanel.tsx
  src/shared/components/table/components/actions/components/table-filters/TableFilters.tsx
  src/shared/components/table/components/main/components/table-body/TableBody.tsx
  src/shared/components/table/components/main/components/table-cell/TableCell.tsx
  src/shared/components/table/components/main/components/table-header/TableHeader.tsx
  src/shared/components/table/components/main/components/table-header/components/individual-header-item/IndividualHeaderItem.tsx
  src/shared/components/table/components/main/components/table-row/TableRow.tsx
  src/shared/components/table/components/main/components/table-row/components/row-selector/RowSelector.tsx
  src/shared/components/table/components/main/components/table-row/components/row-visibility-controller/RowVisibilityController.tsx
  src/shared/components/table/components/pagination/Pagination.tsx
  src/shared/components/table/components/rows-per-page-selector/RowsPerPageSelector.tsx
  src/shared/components/table/helpers/table-helpers.ts
  src/shared/components/table/hooks/useTable.ts
  src/shared/components/table/state/tableSlice.ts
  src/shared/state/sharedComponentsReducer.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Include App and Species keys along with the events
  src/content/app/species-selector/hooks/useSpeciesSelectorAnalytics.ts
  src/content/app/species/hooks/useSpeciesAnalytics.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Cleanup type imports
  src/content/app/species-selector/hooks/useSpeciesSelectorAnalytics.ts
  src/content/app/species/hooks/useSpeciesAnalytics.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Cleanup the dataLayer array after every 100 events
  src/services/google-analytics/loadGoogleAnalytics.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Remove debug mode
  src/services/google-analytics/loadGoogleAnalytics.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

add padding bottom
  src/content/app/about/About.scss
  src/content/app/entity-viewer/components/example-links/ExampleLinks.scss
  src/content/app/entity-viewer/gene-view/components/default-transcripts-list/DefaultTranscriptsList.scss
  src/content/app/genome-browser/components/interstitial/BrowserInterstitial.scss
  src/content/app/help/components/help-landing/HelpLanding.scss
  src/content/app/species-selector/containers/popular-species-panel/PopularSpeciesPanel.scss
  src/content/app/species/components/species-main-view/SpeciesMainView.scss
  src/content/app/tools/blast/views/blast-form/BlastForm.scss
  src/shared/components/layout/StandardAppLayout.scss
  src/styles/_settings.scss
Due: prettier --write, stylelint

Create dummy content and reducer
  src/root/rootReducer.ts
  src/shared/components/table/Table.tsx
  src/shared/components/table/components/main/components/table-body/TableBody.tsx
  src/shared/components/table/components/main/components/table-cell/TableCell.tsx
  src/shared/components/table/components/main/components/table-header/TableHeader.tsx
  src/shared/components/table/components/main/components/table-header/components/table-header-cell/TableHeaderCell.tsx
  src/shared/components/table/components/main/components/table-row/TableRow.tsx
  src/shared/components/table/components/pagination/Pagination.tsx
  src/shared/components/table/components/table-controls/TableControls.scss
  src/shared/components/table/components/table-controls/TableControls.tsx
  src/shared/components/table/components/table-controls/components/pagination/Pagination.scss
  src/shared/components/table/components/table-controls/components/pagination/Pagination.tsx
  src/shared/components/table/components/table-controls/components/rows-per-page-selector/RowsPerPageSelector.scss
  src/shared/components/table/components/table-controls/components/rows-per-page-selector/RowsPerPageSelector.tsx
  src/shared/components/table/components/table-controls/components/table-actions/TableActions.tsx
  src/shared/components/table/components/table-controls/components/table-actions/components/column-visibility-controller/ShowHideColumns.tsx
  src/shared/components/table/components/table-controls/components/table-actions/components/download-table-data/DownloadTableData.tsx
  src/shared/components/table/components/table-controls/components/table-actions/components/find-in-table/FindInTable.tsx
  src/shared/components/table/components/table-controls/components/table-actions/components/popup-panel/PopupPanel.tsx
  src/shared/components/table/components/table-controls/components/table-actions/components/table-filters/TableFilters.tsx
  src/shared/components/table/state/tableReducer.ts
  src/shared/components/table/state/tableSlice.ts
  stories/shared-components/table/Table.stories.scss
  stories/shared-components/table/Table.stories.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Reset datalayer length to 1
  src/services/google-analytics/loadGoogleAnalytics.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

integrate ensembl-genome-browser 0.4.1
  package-lock.json
  package.json
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/track-panel-items/TrackPanelGene.tsx
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/track-panel-items/TrackPanelRegularItem.tsx
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/track-panel-items/TrackPanelTranscript.tsx
  src/content/app/genome-browser/components/track-panel/trackPanelConfig.ts
  src/content/app/genome-browser/hooks/useGenomeBrowser.ts
  src/content/app/genome-browser/services/browserStorageService.test.ts
  src/content/app/genome-browser/services/browserStorageService.ts
  src/content/app/genome-browser/state/browser-general/browserGeneralSelectors.ts
  src/content/app/genome-browser/state/browser-general/browserGeneralSlice.ts
  src/content/app/genome-browser/state/track-config/trackConfigSlice.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

fix tests
  tests/setup-jest.js
Due: none

Path conditions:
  eslint --max-warnings=0: any of: *.{ts,tsx}
  manage-licence-header add: any of: *.{ts,tsx}
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.scss)
  stylelint: any of: *.scss
