Repository Ensembl/ensembl-client: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Update ViewInApp component
  src/content/app/entity-viewer/gene-view/GeneView.tsx
  src/content/app/entity-viewer/gene-view/components/default-transcripts-list/transcripts-list-item-info/TranscriptsListItemInfo.tsx
  src/content/app/genome-browser/components/drawer/drawer-views/gene-summary/GeneSummary.tsx
  src/content/app/genome-browser/components/drawer/drawer-views/transcript-summary/TranscriptSummary.tsx
  src/content/app/genome-browser/components/zmenu/ZmenuAppLinks.tsx
  src/shared/components/gene-search-panel/GeneSearchPanel.tsx
  src/shared/components/in-app-search/InAppSearchMatches.tsx
  src/shared/components/view-in-app-popup/ViewInAppPopup.tsx
  src/shared/components/view-in-app/ViewInApp.scss
  src/shared/components/view-in-app/ViewInApp.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Remove unused CSS class
  src/content/app/entity-viewer/gene-view/GeneView.scss
  src/content/app/genome-browser/components/drawer/drawer-views/gene-summary/GeneSummary.scss
  src/content/app/genome-browser/components/drawer/drawer-views/transcript-summary/TranscriptSummary.scss
Due: prettier --write, stylelint

Avoid leaving external reference icon on previous line when line wrapping (#983)
  src/shared/components/help-article/HelpArticle.scss
Due: prettier --write, stylelint

Update ViewInApp component (#984)
  src/content/app/entity-viewer/gene-view/GeneView.scss
  src/content/app/entity-viewer/gene-view/GeneView.tsx
  src/content/app/entity-viewer/gene-view/components/default-transcripts-list/transcripts-list-item-info/TranscriptsListItemInfo.tsx
  src/content/app/genome-browser/components/drawer/drawer-views/gene-summary/GeneSummary.scss
  src/content/app/genome-browser/components/drawer/drawer-views/gene-summary/GeneSummary.tsx
  src/content/app/genome-browser/components/drawer/drawer-views/transcript-summary/TranscriptSummary.scss
  src/content/app/genome-browser/components/drawer/drawer-views/transcript-summary/TranscriptSummary.tsx
  src/content/app/genome-browser/components/zmenu/ZmenuAppLinks.tsx
  src/shared/components/gene-search-panel/GeneSearchPanel.tsx
  src/shared/components/in-app-search/InAppSearchMatches.tsx
  src/shared/components/view-in-app-popup/ViewInAppPopup.tsx
  src/shared/components/view-in-app/ViewInApp.scss
  src/shared/components/view-in-app/ViewInApp.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Add updated variant examples
  src/content/app/genome-browser/components/drawer/drawer-views/variant-summary/VariantSummary.tsx
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/track-panel-items/track-panel-variant/TrackPanelVariant.tsx
  src/content/app/genome-browser/state/api/genomeBrowserApiSlice.ts
  src/content/app/genome-browser/state/focus-object/focusObjectSlice.ts
  src/shared/components/feature-summary-strip/VariantSummaryStrip.tsx
  src/shared/types/focus-object/focusObjectTypes.ts
  src/shared/types/variation-api/variantAllelePopulationFrequency.ts
  src/shared/types/variation-api/variantStudyPopulation.ts
  tests/fixtures/variation/rs202155613.ts
  tests/fixtures/variation/rs699.ts
  tests/fixtures/variation/rs71197234.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update code to correctly display updated variant examples
  src/content/app/genome-browser/components/drawer/components/variant-colour/VariantColour.scss
  src/content/app/genome-browser/components/drawer/drawer-views/variant-summary/VariantSummary.scss
  src/content/app/genome-browser/components/drawer/drawer-views/variant-summary/VariantSummary.tsx
  src/content/app/genome-browser/components/drawer/drawer-views/variant-summary/prepareVariantSummaryData.ts
  src/content/app/genome-browser/components/drawer/drawer-views/variant-summary/variant-location/VariantLocation.tsx
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/track-panel-items/track-panel-variant/TrackPanelVariant.scss
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/track-panel-items/track-panel-variant/TrackPanelVariant.tsx
  src/shared/components/variant-alleles-sequences/VariantAllelesSequences.tsx
  src/shared/components/variant-vcf/VariantVCF.tsx
  src/shared/helpers/variantHelpers.ts
  stories/variation/variant-alleles-sequences/sampleData.ts
  stories/variation/variant-vcf/variantVCFSampleData.ts
  tests/fixtures/variation/rs202155613.ts
  tests/fixtures/variation/rs699.ts
  tests/fixtures/variation/rs71197234.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Make description and url fields of ExternalReference type nullable
  src/content/app/entity-viewer/gene-view/components/default-transcripts-list/transcripts-list-item-info/TranscriptsListItemInfo.tsx
  src/content/app/entity-viewer/gene-view/components/gene-view-sidebar/external-references/GeneExternalReferences.tsx
  src/content/app/genome-browser/components/drawer/drawer-views/transcript-summary/TranscriptSummary.tsx
  src/shared/components/external-reference/ExternalReference.tsx
  src/shared/types/thoas/externalReference.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update the code separating reference allele from alternative alleles
  src/shared/helpers/variantHelpers.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Remove redundant casting to boolean
  src/content/app/entity-viewer/gene-view/components/default-transcripts-list/transcripts-list-item-info/TranscriptsListItemInfo.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Added clinically significant phenotype assertions
  src/content/app/genome-browser/components/drawer/drawer-views/variant-summary/VariantSummary.tsx
  src/content/app/genome-browser/components/drawer/drawer-views/variant-summary/prepareVariantSummaryData.ts
  tests/fixtures/variation/rs202155613.ts
  tests/fixtures/variation/rs699.ts
  tests/fixtures/variation/rs71197234.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Make description and url fields of ExternalReference type nullable (#986)
  src/content/app/entity-viewer/gene-view/components/default-transcripts-list/transcripts-list-item-info/TranscriptsListItemInfo.tsx
  src/content/app/entity-viewer/gene-view/components/gene-view-sidebar/external-references/GeneExternalReferences.tsx
  src/content/app/genome-browser/components/drawer/drawer-views/transcript-summary/TranscriptSummary.tsx
  src/shared/components/external-reference/ExternalReference.tsx
  src/shared/types/thoas/externalReference.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

More variant examples (#985)
  src/content/app/genome-browser/components/drawer/components/variant-colour/VariantColour.scss
  src/content/app/genome-browser/components/drawer/drawer-views/variant-summary/VariantSummary.scss
  src/content/app/genome-browser/components/drawer/drawer-views/variant-summary/VariantSummary.tsx
  src/content/app/genome-browser/components/drawer/drawer-views/variant-summary/prepareVariantSummaryData.ts
  src/content/app/genome-browser/components/drawer/drawer-views/variant-summary/variant-location/VariantLocation.tsx
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/track-panel-items/track-panel-variant/TrackPanelVariant.scss
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/track-panel-items/track-panel-variant/TrackPanelVariant.tsx
  src/content/app/genome-browser/state/api/genomeBrowserApiSlice.ts
  src/content/app/genome-browser/state/focus-object/focusObjectSlice.ts
  src/shared/components/feature-summary-strip/VariantSummaryStrip.tsx
  src/shared/components/variant-alleles-sequences/VariantAllelesSequences.tsx
  src/shared/components/variant-vcf/VariantVCF.tsx
  src/shared/helpers/variantHelpers.ts
  src/shared/types/focus-object/focusObjectTypes.ts
  src/shared/types/variation-api/variant.ts
  src/shared/types/variation-api/variantAllelePopulationFrequency.ts
  stories/variation/variant-alleles-sequences/sampleData.ts
  stories/variation/variant-vcf/variantVCFSampleData.ts
  tests/fixtures/variation/rs202155613.ts
  tests/fixtures/variation/rs699.ts
  tests/fixtures/variation/rs71197234.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

add grey background to code snippets
  src/shared/components/help-article/HelpArticle.scss
Due: prettier --write, stylelint

Add Zmenu for regulatory features
  src/content/app/genome-browser/components/zmenu/Zmenu.tsx
  src/content/app/genome-browser/components/zmenu/zmenus/RegulationZmenu.tsx
  src/content/app/genome-browser/services/genome-browser-service/types/zmenu.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Add sequence download
  src/content/app/genome-browser/components/zmenu/ZmenuContent.tsx
  src/content/app/genome-browser/components/zmenu/zmenus/RegulationZmenu.tsx
  src/content/app/genome-browser/services/genome-browser-service/types/zmenu.ts
  src/shared/components/instant-download/instant-download-button/InstantDownloadButton.tsx
  src/shared/components/instant-download/instant-download-fetch/fetchRegulatoryFeature.ts
  src/shared/components/instant-download/instant-download-fetch/fetchSequenceChecksums.ts
  src/shared/components/instant-download/instant-download-gene/InstantDownloadGene.tsx
  src/shared/components/instant-download/instant-download-protein/InstantDownloadProtein.tsx
  src/shared/components/instant-download/instant-download-transcript/InstantDownloadRegFeature.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Fix type error
  src/shared/components/instant-download/instant-download-transcript/InstantDownloadTranscript.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Fix test
  src/content/app/genome-browser/components/zmenu/Zmenu.test.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Add styles for regulatory feature download
  src/content/app/genome-browser/components/zmenu/zmenus/RegulationZmenu.tsx
  src/shared/components/instant-download/instant-download-regulation/InstantDownloadRegFeature.scss
  src/shared/components/instant-download/instant-download-regulation/InstantDownloadRegFeature.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Update checkbox styles
  src/shared/components/instant-download/instant-download-regulation/InstantDownloadRegFeature.scss
  src/shared/components/instant-download/instant-download-regulation/InstantDownloadRegFeature.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Update zmenu
  src/shared/components/instant-download/instant-download-fetch/fetchRegulatoryFeature.ts
  src/shared/components/instant-download/instant-download-regulation/InstantDownloadRegFeature.scss
  src/shared/components/instant-download/instant-download-regulation/InstantDownloadRegFeature.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

add regulation legends
  src/content/app/genome-browser/components/drawer/Drawer.tsx
  src/content/app/genome-browser/components/drawer/drawer-views/regulation-legend/RegulationLegend.scss
  src/content/app/genome-browser/components/drawer/drawer-views/regulation-legend/RegulationLegend.tsx
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/TrackPanelList.tsx
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/track-panel-items/TrackPanelRegulationLegend.tsx
  src/content/app/genome-browser/components/track-panel/trackPanelConfig.ts
  src/content/app/genome-browser/constants/regulationLegends.ts
  src/content/app/genome-browser/state/drawer/types.ts
  src/styles/_settings.scss
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

test and colour update
  src/styles/_settings.scss
  tests/fixtures/genomes.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Update src/shared/components/instant-download/instant-download-fetch/fetchSequenceChecksums.ts
  src/shared/components/instant-download/instant-download-fetch/fetchSequenceChecksums.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

add legend definitions
  src/content/app/genome-browser/components/drawer/drawer-views/regulation-legend/RegulationLegend.scss
  src/content/app/genome-browser/components/drawer/drawer-views/regulation-legend/RegulationLegend.tsx
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/TrackPanelList.tsx
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/track-panel-items/TrackPanelRegulationLegend.tsx
  src/content/app/genome-browser/constants/regulationLegends.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

add regulation legends (#988)
  src/content/app/genome-browser/components/drawer/Drawer.tsx
  src/content/app/genome-browser/components/drawer/drawer-views/regulation-legend/RegulationLegend.scss
  src/content/app/genome-browser/components/drawer/drawer-views/regulation-legend/RegulationLegend.tsx
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/TrackPanelList.tsx
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/track-panel-items/TrackPanelRegulationLegend.tsx
  src/content/app/genome-browser/components/track-panel/trackPanelConfig.ts
  src/content/app/genome-browser/constants/regulationLegends.ts
  src/content/app/genome-browser/state/drawer/types.ts
  src/styles/_settings.scss
  tests/fixtures/genomes.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Add Zmenu for regulatory features (#987)
  src/content/app/genome-browser/components/drawer/Drawer.tsx
  src/content/app/genome-browser/components/drawer/drawer-views/regulation-legend/RegulationLegend.scss
  src/content/app/genome-browser/components/drawer/drawer-views/regulation-legend/RegulationLegend.tsx
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/TrackPanelList.tsx
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/track-panel-items/TrackPanelRegulationLegend.tsx
  src/content/app/genome-browser/components/track-panel/trackPanelConfig.ts
  src/content/app/genome-browser/components/zmenu/Zmenu.test.tsx
  src/content/app/genome-browser/components/zmenu/Zmenu.tsx
  src/content/app/genome-browser/components/zmenu/ZmenuContent.tsx
  src/content/app/genome-browser/components/zmenu/zmenus/RegulationZmenu.tsx
  src/content/app/genome-browser/constants/regulationLegends.ts
  src/content/app/genome-browser/services/genome-browser-service/types/zmenu.ts
  src/content/app/genome-browser/state/drawer/types.ts
  src/shared/components/instant-download/instant-download-button/InstantDownloadButton.tsx
  src/shared/components/instant-download/instant-download-fetch/fetchRegulatoryFeature.ts
  src/shared/components/instant-download/instant-download-fetch/fetchSequenceChecksums.ts
  src/shared/components/instant-download/instant-download-gene/InstantDownloadGene.tsx
  src/shared/components/instant-download/instant-download-protein/InstantDownloadProtein.tsx
  src/shared/components/instant-download/instant-download-regulation/InstantDownloadRegFeature.scss
  src/shared/components/instant-download/instant-download-regulation/InstantDownloadRegFeature.tsx
  src/shared/components/instant-download/instant-download-transcript/InstantDownloadTranscript.tsx
  src/styles/_settings.scss
  tests/fixtures/genomes.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

update about link text
  src/header/launchbar/Launchbar.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update dependencies
  package-lock.json
  package.json
Due: none

Downgrade react-router to 6.12.0; further updates to other packages
  package-lock.json
  package.json
Due: none

Remove babel-core bridge package
  package-lock.json
  package.json
Due: none

css adjustments
  src/header/launchbar/Launchbar.scss
Due: prettier --write, stylelint

update about link text (#990)
  src/header/launchbar/Launchbar.scss
  src/header/launchbar/Launchbar.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Update calls of faker methods
  src/content/app/entity-viewer/gene-view/components/default-transcripts-list/transcripts-list-item-info/TranscriptsListItemInfo.test.tsx
  src/content/app/genome-browser/components/browser-location-indicator/BrowserLocationIndicator.test.tsx
  src/content/app/genome-browser/components/browser-sidebar-modal/modal-views/BookmarksModal.test.tsx
  src/content/app/genome-browser/components/zmenu/Zmenu.test.tsx
  src/content/app/tools/blast/state/epics/tests/fixtures/blastSubmissionFixtures.ts
  src/content/app/tools/blast/utils/tests/blastFormValidator.test.ts
  src/shared/components/external-link/ExternalLink.test.tsx
  src/shared/components/external-reference/ExternalReference.test.tsx
  src/shared/components/in-app-search/InAppSearch.test.tsx
  src/shared/components/layout/StandardAppLayout.test.tsx
  src/shared/components/radio-group/RadioGroup.test.tsx
  src/shared/components/select/Select.test.tsx
  src/shared/components/select/helpers/select-helpers.spec.ts
  src/shared/components/selected-species/SelectedSpecies.test.tsx
  src/shared/components/tabs/Tabs.test.tsx
  src/shared/components/textarea/Textarea.test.tsx
  src/shared/helpers/formatters/numberFormater.test.ts
  src/shared/utils/tests/lruCache.test.ts
  tests/fixtures/blast/blastSubmission.ts
  tests/fixtures/browser.ts
  tests/fixtures/entity-viewer/gene.ts
  tests/fixtures/entity-viewer/product.ts
  tests/fixtures/entity-viewer/slice.ts
  tests/fixtures/entity-viewer/transcript.ts
  tests/fixtures/focus-object.ts
  tests/fixtures/genomes.ts
  tests/fixtures/popular-species.ts
  tests/fixtures/selected-species.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

use variable for bg color
  src/shared/components/help-article/HelpArticle.scss
Due: prettier --write, stylelint

Replace clinical significance section
  src/content/app/genome-browser/components/drawer/drawer-views/variant-summary/VariantSummary.scss
  src/content/app/genome-browser/components/drawer/drawer-views/variant-summary/VariantSummary.tsx
  src/content/app/genome-browser/components/drawer/drawer-views/variant-summary/prepareVariantSummaryData.ts
  static/icons/icon_has.svg
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Add grey background to code snippets (#989)
  src/shared/components/help-article/HelpArticle.scss
Due: prettier --write, stylelint

PR suggestions
  src/content/app/genome-browser/components/drawer/drawer-views/variant-summary/VariantSummary.tsx
  src/content/app/genome-browser/components/drawer/drawer-views/variant-summary/prepareVariantSummaryData.ts
  static/icons/icon_tick_circle.svg
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

More updates
  package-lock.json
  package.json
Due: none

Further updates
  package-lock.json
  package.json
Due: none

Path conditions:
  eslint --max-warnings=0: any of: *.{ts,tsx}
  manage-licence-header add: any of: *.{ts,tsx}
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.scss)
  stylelint: any of: *.scss
