Repository Ensembl/ensembl-client: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

.lintstagedrc.json:

{
  "*.{ts,tsx}": [
    "eslint --max-warnings=0",
    "manage-licence-header add",
    "prettier --write"
  ],
  "*.css": [
    "stylelint"
  ]
}

Update scrolling
  src/content/app/contact-us/ContactUs.module.css
  src/content/app/contact-us/ContactUs.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Remove ContactUs form from the communication panel
  src/shared/components/communication-framework/contact-us/ContactUs.tsx
  src/shared/components/communication-framework/contact-us/contact-us-form/ContactUsForm.module.css
  src/shared/components/communication-framework/contact-us/contact-us-form/hooks/useSavedForm.ts
  src/shared/components/communication-framework/contact-us/contact-us-form/index.ts
  src/shared/components/communication-framework/contact-us/contact-us-form/initial/ContactUsInitialForm.tsx
  src/shared/components/communication-framework/contact-us/contact-us-form/submission-success/SubmissionSuccess.module.css
  src/shared/components/communication-framework/contact-us/contact-us-form/submission-success/SubmissionSuccess.tsx
  src/shared/components/communication-framework/contact-us/contact-us-form/submit-slider/SubmitSlider.module.css
  src/shared/components/communication-framework/contact-us/contact-us-form/submit-slider/SubmitSlider.tsx
  src/shared/components/communication-framework/contact-us/contact-us-form/submitForm.ts
  src/shared/components/communication-framework/contact-us/preform-header/PreformHeader.module.css
  src/shared/components/communication-framework/contact-us/preform-header/PreformHeader.tsx
  src/shared/helpers/urlHelper.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Add Contact Us link to the top bar in the header
  src/header/Header.module.css
  src/header/Header.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Update styles in the top bar
  src/header/Header.module.css
  src/header/Header.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

More style updates
  src/header/Header.module.css
Due: stylelint

Remove the 'Close' button from the submission success screen
  src/content/app/contact-us/components/contact-us-form/submission-success/SubmissionSuccess.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Remove some unnecessary useCallback's; restore the actual form submission function
  src/content/app/about/About.module.css
  src/content/app/contact-us/components/contact-us-form/ContactUsForm.module.css
  src/content/app/contact-us/components/contact-us-form/default/ContactUsDefaultForm.tsx
  src/content/home/Home.module.css
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Make sure submission success message is always visible, even after form scroll
  src/content/app/contact-us/components/contact-us-form/submission-success/SubmissionSuccess.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Prefer example alignment location, if it is available
  src/content/app/structural-variants/components/structural-variants-top-bar/useTopBarState.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Use relative url for structural variants server
  config.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update dependencies
  package-lock.json
  package.json
Due: none

Update description of the species page with relevant information about the genome
  src/content/app/species/SpeciesPage.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Add LCP image on the home page to link rel preload
  src/content/home/HomePage.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Blue Sky -> Bluesky in alt text
  src/shared/components/social-media-links/SocialMediaLinks.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Remove the noEarlierThan helper function
  src/shared/utils/noEarlierThan.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Do not display example alignment location among example links in genome browser interstitial
  src/content/app/genome-browser/components/interstitial/BrowserInterstitial.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

logo update
  src/header/launchbar/Launchbar.module.css
  src/header/launchbar/Launchbar.tsx
  static/favicons/android-chrome-192x192.png
  static/favicons/android-chrome-512x512.png
  static/favicons/apple-touch-icon.png
  static/favicons/favicon-16x16.png
  static/favicons/favicon-32x32.png
  static/favicons/favicon.ico
  static/img/brand/ensembl_mark.svg
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Update types in LocationNavigation component (replace the deprecated FormEvent type)
  src/content/app/genome-browser/components/browser-sidebar-modal/modal-views/navigate-modal/LocationNavigation.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Turn 'Contact us' next to communication button into a link on Help and About page
  src/content/app/about/About.module.css
  src/content/app/about/About.tsx
  src/content/app/help/Help.module.css
  src/content/app/help/Help.tsx
  src/shared/components/communication-framework/CommunicationPanelButton.module.css
  src/shared/components/communication-framework/CommunicationPanelButton.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Make sure main container of About page gets loaded in the correct grid cell
  src/content/app/help/Help.module.css
Due: stylelint

Move the Contact Us form to its own page (#1274)
  src/content/app/about/About.module.css
  src/content/app/about/About.tsx
  src/content/app/contact-us/ContactUs.module.css
  src/content/app/contact-us/ContactUs.tsx
  src/content/app/contact-us/ContactUsPage.tsx
  src/content/app/contact-us/components/contact-us-form/ContactUsForm.module.css
  src/content/app/contact-us/components/contact-us-form/default/ContactUsDefaultForm.tsx
  src/content/app/contact-us/components/contact-us-form/hooks/useSavedForm.ts
  src/content/app/contact-us/components/contact-us-form/index.ts
  src/content/app/contact-us/components/contact-us-form/submission-success/SubmissionSuccess.module.css
  src/content/app/contact-us/components/contact-us-form/submission-success/SubmissionSuccess.tsx
  src/content/app/contact-us/components/contact-us-form/submit-slider/SubmitSlider.module.css
  src/content/app/contact-us/components/contact-us-form/submit-slider/SubmitSlider.tsx
  src/content/app/contact-us/components/contact-us-form/submitForm.ts
  src/content/app/contact-us/components/contact-us-top-bar/ContactUsTopBar.module.css
  src/content/app/contact-us/components/contact-us-top-bar/ContactUsTopBar.tsx
  src/content/app/help/Help.module.css
  src/content/app/help/Help.tsx
  src/content/home/Home.module.css
  src/content/home/Home.tsx
  src/header/Header.module.css
  src/header/Header.tsx
  src/routes/routesConfig.tsx
  src/shared/components/communication-framework/CommunicationPanelButton.module.css
  src/shared/components/communication-framework/CommunicationPanelButton.tsx
  src/shared/components/communication-framework/contact-us/ContactUs.tsx
  src/shared/components/communication-framework/contact-us/contact-us-form/index.ts
  src/shared/components/communication-framework/contact-us/contact-us-form/submission-success/SubmissionSuccess.module.css
  src/shared/components/communication-framework/contact-us/contact-us-form/submission-success/SubmissionSuccess.tsx
  src/shared/components/communication-framework/contact-us/contact-us-form/submit-slider/SubmitSlider.tsx
  src/shared/components/communication-framework/contact-us/preform-header/PreformHeader.module.css
  src/shared/components/help-article/HelpArticleGrid.module.css
  src/shared/components/social-media-links/SocialMediaLinks.module.css
  src/shared/components/social-media-links/SocialMediaLinks.tsx
  src/shared/helpers/urlHelper.ts
  static/icons/icon_blog.svg
  static/icons/icon_bluesky.svg
  static/icons/icon_linkedin.svg
  stories/shared-components/submit-slider/SubmitSlider.stories.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

fixes
  src/content/html/Meta.tsx
  src/header/launchbar/Launchbar.module.css
  static/favicons/favicon-16x16.png
  static/favicons/favicon-32x32.png
  static/favicons/favicon.svg
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

add ensembl mark in about page
  src/content/app/about/About.module.css
  src/content/app/about/About.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

wip
  src/shared/components/feature-search-form/FeatureSearchForm.module.css
  src/shared/components/feature-search-form/FeatureSearchForm.tsx
  src/shared/components/in-app-search/InAppSearch.module.css
  src/shared/components/in-app-search/InAppSearch.tsx
  src/shared/components/layout/sidebar-modal/SidebarModal.module.css
  src/shared/components/search-match/GeneSearchMatch.tsx
  src/shared/components/search-match/SearchMatch.module.css
  src/shared/components/search-match/VariantSearchMatch.tsx
  src/shared/components/sidebar-search-form/SidebarSearchForm.module.css
  src/shared/components/sidebar-search-form/SidebarSearchForm.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

fix
  src/content/app/about/About.module.css
  src/content/app/about/About.tsx
  src/header/launchbar/Launchbar.module.css
  src/header/launchbar/Launchbar.tsx
  src/shared/components/ensembl-mark-icon/EnsemblMarkIcon.module.css
  src/shared/components/ensembl-mark-icon/EnsemblMarkIcon.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

wip
  src/content/app/entity-viewer/interstitial/EntityViewerInterstitial.tsx
  src/content/app/entity-viewer/shared/components/entity-viewer-sidebar/entity-viewer-sidebar-modal/modal-views/EntityViewerSearch.tsx
  src/content/app/genome-browser/components/browser-sidebar-modal/modal-views/SearchModal.tsx
  src/content/app/genome-browser/components/browser-sidebar-toolstrip/BrowserSidebarToolstrip.tsx
  src/content/app/genome-browser/components/interstitial/BrowserInterstitial.tsx
  src/content/app/species/components/species-sidebar-modal/modal-views/SpeciesSidebarSearch.tsx
  src/root/rootReducer.ts
  src/shared/components/in-app-search/InAppSearch.test.tsx
  src/shared/components/in-app-search/InAppSearch.tsx
  src/shared/components/in-app-search/InAppSearchMatches.tsx
  src/shared/components/layout/sidebar-modal/SidebarModal.module.css
  src/shared/components/search-match/GeneSearchMatch.tsx
  src/shared/components/search-match/VariantSearchMatch.tsx
  src/shared/components/sidebar-search-form/SidebarSearchForm.tsx
  src/shared/helpers/featureSearchHelpers.ts
  src/shared/state/feature-search/featureSearchSelectors.ts
  src/shared/state/feature-search/featureSearchSlice.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

wip
  src/shared/components/feature-search-form/FeatureSearchForm.module.css
  src/shared/components/feature-search-form/FeatureSearchForm.tsx
  src/shared/components/sidebar-search-form/SidebarSearchForm.module.css
  src/shared/components/sidebar-search-form/SidebarSearchForm.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

fixes
  src/shared/components/ensembl-mark-icon/EnsemblMarkIcon.module.css
  src/shared/components/ensembl-mark-icon/EnsemblMarkIcon.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

fix
  src/root/rootReducer.ts
  src/shared/components/in-app-search/InAppSearch.test.tsx
  src/shared/state/feature-search/featureSearchSelectors.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

cleanup
  src/content/app/entity-viewer/interstitial/EntityViewerInterstitial.tsx
  src/content/app/entity-viewer/shared/components/entity-viewer-sidebar/entity-viewer-sidebar-modal/modal-views/EntityViewerSearch.tsx
  src/content/app/genome-browser/components/browser-sidebar-modal/modal-views/SearchModal.tsx
  src/content/app/genome-browser/components/interstitial/BrowserInterstitial.tsx
  src/content/app/species-selector/views/species-selector-search-view/SpeciesSelectorSearchView.module.css
  src/content/app/species-selector/views/species-selector-search-view/SpeciesSelectorSearchView.tsx
  src/content/app/species/components/species-sidebar-modal/modal-views/SpeciesSidebarSearch.tsx
  src/shared/components/feature-search-form/FeatureSearchForm.module.css
  src/shared/components/feature-search-form/FeatureSearchForm.tsx
  src/shared/components/in-app-search/InAppSearch.module.css
  src/shared/components/in-app-search/InAppSearch.test.tsx
  src/shared/components/in-app-search/InAppSearch.tsx
  src/shared/components/in-app-search/InAppSearchMatches.tsx
  src/shared/components/search-match/GeneSearchMatch.tsx
  src/shared/components/search-match/VariantSearchMatch.tsx
  src/shared/components/sidebar-search-form/SidebarSearchForm.tsx
  src/shared/helpers/featureSearchHelpers.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

pagination and fixes
  src/content/app/entity-viewer/interstitial/EntityViewerInterstitial.tsx
  src/content/app/entity-viewer/shared/components/entity-viewer-sidebar/entity-viewer-sidebar-modal/modal-views/EntityViewerSearch.tsx
  src/content/app/genome-browser/components/browser-sidebar-modal/modal-views/SearchModal.tsx
  src/content/app/genome-browser/components/interstitial/BrowserInterstitial.tsx
  src/content/app/species-selector/views/species-selector-search-view/SpeciesSelectorSearchView.tsx
  src/content/app/species/components/species-sidebar-modal/modal-views/SpeciesSidebarSearch.tsx
  src/content/app/structural-variants/components/structural-variants-sidebar/structural-variants-sidebar-modal/feature-search-modal/FeatureSearchModal.tsx
  src/content/app/structural-variants/components/structural-variants-sidebar/structural-variants-sidebar-modal/feature-search-modal/SearchMatches.tsx
  src/shared/components/interstitial-search/InterstitialSearch.module.css
  src/shared/components/interstitial-search/InterstitialSearch.test.tsx
  src/shared/components/interstitial-search/InterstitialSearch.tsx
  src/shared/components/interstitial-search/test/response-fixture.ts
  src/shared/components/sidebar-search/SidebarSearch.module.css
  src/shared/components/sidebar-search/SidebarSearch.tsx
  src/shared/helpers/featureSearchHelpers.ts
  src/shared/state/feature-search/featureSearchSelectors.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Add new ensembl mark logo and update favicon (#1275)
  src/content/app/about/About.module.css
  src/content/app/about/About.tsx
  src/header/launchbar/Launchbar.module.css
  src/header/launchbar/Launchbar.tsx
  src/shared/components/ensembl-mark-icon/EnsemblMarkIcon.module.css
  src/shared/components/ensembl-mark-icon/EnsemblMarkIcon.tsx
  static/favicons/android-chrome-192x192.png
  static/favicons/android-chrome-512x512.png
  static/favicons/apple-touch-icon.png
  static/favicons/favicon-16x16.png
  static/favicons/favicon-32x32.png
  static/favicons/favicon.ico
  static/favicons/favicon.svg
  static/img/brand/ensembl_mark.svg
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

fixes
  src/shared/components/sidebar-search/SidebarSearch.module.css
  src/shared/components/sidebar-search/SidebarSearch.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Suppress a stylelint warning
  src/shared/components/ensembl-mark-icon/EnsemblMarkIcon.module.css
Due: stylelint

Routine dependencies update
  package-lock.json
  package.json
Due: none

Add HGSVC3 track to structural variants viewer
  src/content/app/structural-variants/hooks/useStructuralVariantsTracks.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write
