Repository Ensembl/ensembl-client: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Bump genome browser package version (#1081)
  package-lock.json
  package.json
Due: none

Refactor feature sequence downloading, and add downloading of exons (#1096)
  config.ts
  src/content/app/entity-viewer/gene-view/components/proteins-list/proteins-list-item-info/ProteinsListItemInfo.tsx
  src/content/app/entity-viewer/shared/components/entity-viewer-sidebar/entity-viewer-sidebar-modal/modal-views/EntityViewerDownload.tsx
  src/content/app/genome-browser/components/drawer/drawer-views/gene-summary/GeneSummary.tsx
  src/content/app/genome-browser/components/drawer/drawer-views/transcript-summary/TranscriptSummary.tsx
  src/shared/components/instant-download/instant-download-fetch/fetchForGene.ts
  src/shared/components/instant-download/instant-download-fetch/fetchForProtein.ts
  src/shared/components/instant-download/instant-download-fetch/fetchForTranscript.ts
  src/shared/components/instant-download/instant-download-fetch/fetchRegulatoryFeature.ts
  src/shared/components/instant-download/instant-download-fetch/fetchSequenceChecksums.ts
  src/shared/components/instant-download/instant-download-gene/InstantDownloadGene.module.css
  src/shared/components/instant-download/instant-download-gene/InstantDownloadGene.tsx
  src/shared/components/instant-download/instant-download-protein/InstantDownloadProtein.tsx
  src/shared/components/instant-download/instant-download-regulation/InstantDownloadRegFeature.tsx
  src/shared/components/instant-download/instant-download-transcript/InstantDownloadTranscript.module.css
  src/shared/components/instant-download/instant-download-transcript/InstantDownloadTranscript.tsx
  src/shared/helpers/environment.ts
  src/shared/workers/feature-sequence-download/featureSequenceDownload.worker.ts
  src/shared/workers/feature-sequence-download/geneAndTranscriptsDownload.ts
  src/shared/workers/feature-sequence-download/genomicSequenceHelpers.ts
  src/shared/workers/feature-sequence-download/genomicSliceDownload.ts
  src/shared/workers/feature-sequence-download/proteinDownload.ts
  src/shared/workers/feature-sequence-download/queries/geneAndTranscriptsQuery.ts
  src/shared/workers/feature-sequence-download/queries/regionChecksumQuery.ts
  src/shared/workers/feature-sequence-download/queries/transcriptQueryForProtein.ts
  src/shared/workers/sequenceFetcher.worker.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Fix tests for SlideToggle
  src/shared/components/slide-toggle/SlideToggle.test.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update redux-dependent packages
  package-lock.json
  package.json
Due: none

Fix tests for TrackPanelTabs
  src/content/app/genome-browser/components/track-panel/components/track-panel-tabs/TrackPanelTabs.test.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Fix tests
  src/content/app/entity-viewer/gene-view/components/default-transcripts-list/default-transcripts-list-item/DefaultTranscriptListItem.test.tsx
  src/content/app/entity-viewer/gene-view/components/default-transcripts-list/transcripts-list-item-info/TranscriptsListItemInfo.test.tsx
  src/content/app/entity-viewer/gene-view/components/transcripts-filter/TranscriptsFilter.test.tsx
  src/content/app/genome-browser/Browser.test.tsx
  src/content/app/genome-browser/components/browser-image/BrowserImage.test.tsx
  src/content/app/genome-browser/components/browser-reset/BrowserReset.test.tsx
  src/content/app/genome-browser/components/browser-sidebar-modal/BrowserSidebarModal.test.tsx
  src/content/app/genome-browser/components/browser-sidebar-modal/modal-views/BookmarksModal.test.tsx
  src/content/app/genome-browser/components/browser-sidebar-toolstrip/BrowserSidebarToolstrip.test.tsx
  src/content/app/genome-browser/components/track-panel/TrackPanel.test.tsx
  src/content/app/genome-browser/components/zmenu/ZmenuContent.test.tsx
  src/content/app/species/components/species-title-area/species-usage-toggle/SpeciesUsageToggle.test.tsx
  src/shared/components/slide-toggle/SlideToggle.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update stylelint-related packages
  package-lock.json
  package.json
Due: none

Remove dependency on redux-mock-store, and update tests
  package-lock.json
  package.json
  src/content/app/entity-viewer/gene-view/components/gene-view-sidebar/publications/GenePublications.test.tsx
  src/content/app/entity-viewer/shared/components/entity-viewer-sidebar/entity-viewer-sidebar-modal/modal-views/EntityViewerBookmarks.test.tsx
  src/root/Root.test.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update dependencies
  package-lock.json
  package.json
  src/content/app/tools/blast/services/blastStorageService.test.ts
  src/services/indexeddb-service.ts
  src/services/tests/indexeddb-service.test.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Another round of updates
  package-lock.json
  package.json
Due: none

Update dependencies (#1065)
  package-lock.json
  package.json
  src/content/app/entity-viewer/gene-view/components/default-transcripts-list/default-transcripts-list-item/DefaultTranscriptListItem.test.tsx
  src/content/app/entity-viewer/gene-view/components/default-transcripts-list/transcripts-list-item-info/TranscriptsListItemInfo.test.tsx
  src/content/app/entity-viewer/gene-view/components/gene-view-sidebar/publications/GenePublications.test.tsx
  src/content/app/entity-viewer/gene-view/components/transcripts-filter/TranscriptsFilter.test.tsx
  src/content/app/entity-viewer/shared/components/entity-viewer-sidebar/entity-viewer-sidebar-modal/modal-views/EntityViewerBookmarks.test.tsx
  src/content/app/genome-browser/Browser.test.tsx
  src/content/app/genome-browser/components/browser-image/BrowserImage.test.tsx
  src/content/app/genome-browser/components/browser-reset/BrowserReset.test.tsx
  src/content/app/genome-browser/components/browser-sidebar-modal/BrowserSidebarModal.test.tsx
  src/content/app/genome-browser/components/browser-sidebar-modal/modal-views/BookmarksModal.test.tsx
  src/content/app/genome-browser/components/browser-sidebar-toolstrip/BrowserSidebarToolstrip.test.tsx
  src/content/app/genome-browser/components/track-panel/TrackPanel.test.tsx
  src/content/app/genome-browser/components/track-panel/components/track-panel-tabs/TrackPanelTabs.test.tsx
  src/content/app/genome-browser/components/zmenu/ZmenuContent.test.tsx
  src/content/app/species/components/species-title-area/species-usage-toggle/SpeciesUsageToggle.test.tsx
  src/content/app/tools/blast/services/blastStorageService.test.ts
  src/root/Root.test.tsx
  src/services/indexeddb-service.ts
  src/services/tests/indexeddb-service.test.ts
  src/shared/components/slide-toggle/SlideToggle.test.tsx
  src/shared/components/slide-toggle/SlideToggle.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Add gene search route to Species selector
  src/content/app/species-selector/SpeciesSelector.tsx
  src/content/app/species-selector/components/species-selector-app-bar/SpeciesSelectorAppBar.tsx
  src/content/app/species-selector/state/species-selector-search-slice/speciesSelectorSearchSlice.ts
  src/content/app/species-selector/state/species-selector-ui-slice/speciesSelectorUISelectors.ts
  src/content/app/species-selector/state/species-selector-ui-slice/speciesSelectorUISlice.ts
  src/content/app/species-selector/state/speciesSelectorReducer.ts
  src/content/app/species-selector/views/species-selector-gene-search-view/SpeciesSelectorGeneSearchView.tsx
  src/shared/components/gene-search-panel/GeneSearchPanel.tsx
  src/shared/helpers/urlHelper.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Fix gene search navigation in Species selector
  src/content/app/species-selector/views/species-selector-gene-search-view/SpeciesSelectorGeneSearchView.tsx
  src/shared/components/gene-search-panel/GeneSearchPanel.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Remove popular species from search slice and link assemblies count to search results page
  src/content/app/species-selector/components/genome-selector-by-species-taxonomy-id/GenomeSelectorBySpeciesTaxonomyId.tsx
  src/content/app/species-selector/components/popular-species-list/PopularSpeciesList.tsx
  src/content/app/species-selector/state/species-selector-search-slice/speciesSelectorSearchSelectors.ts
  src/content/app/species-selector/state/species-selector-search-slice/speciesSelectorSearchSlice.ts
  src/content/app/species-selector/views/species-selector-main-view/SpeciesSelectorMainView.tsx
  src/content/app/species-selector/views/species-selector-results-view/SpeciesSelectorResultsView.tsx
  src/content/app/species/components/species-title-area/SpeciesTitleArea.module.css
  src/content/app/species/components/species-title-area/SpeciesTitleArea.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Add CDS diagram for variant transcript consequence
  src/content/app/entity-viewer/state/api/entityViewerThoasSlice.ts
  src/content/app/entity-viewer/state/api/queries/variantPredictedMolecularConsequencesQuery.ts
  src/content/app/entity-viewer/state/api/queries/variantTranscriptConsequencesQueries.ts
  src/content/app/entity-viewer/variant-view/transcript-consequences/TranscriptConsequences.tsx
  src/content/app/entity-viewer/variant-view/transcript-consequences/transcript-consequence-details/TranscriptConsequenceDetails.tsx
  src/content/app/entity-viewer/variant-view/transcript-consequences/transcript-variant-cds/TranscriptVariantCDS.module.css
  src/content/app/entity-viewer/variant-view/transcript-consequences/transcript-variant-cds/TranscriptVariantCDS.tsx
  src/content/app/entity-viewer/variant-view/transcript-consequences/useTranscriptConsequencesData.ts
  src/shared/helpers/exon-helpers/exonHelpers.test.ts
  src/shared/helpers/exon-helpers/exonHelpers.ts
  src/shared/helpers/exon-helpers/fixtures/exons-cds-data-1.ts
  src/shared/helpers/exon-helpers/fixtures/exons-cds-data-2.ts
  src/shared/helpers/exon-helpers/fixtures/exons-cds-data-3.ts
  src/shared/helpers/exon-helpers/fixtures/exons-cds-data-4.ts
  src/shared/types/variation-api/variantPredictedMolecularConsequence.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Add label for variant location in CDS
  src/content/app/entity-viewer/variant-view/transcript-consequences/transcript-consequence-details/TranscriptConsequenceDetails.tsx
  src/content/app/entity-viewer/variant-view/transcript-consequences/transcript-variant-cds/TranscriptVariantCDS.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update labels
  src/content/app/entity-viewer/variant-view/transcript-consequences/transcript-consequence-details/TranscriptConsequenceDetails.tsx
  src/content/app/entity-viewer/variant-view/transcript-consequences/transcript-variant-cds/TranscriptVariantCDS.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update header bar styling for GB and EV
  src/content/app/entity-viewer/variant-view/variant-summary-strip/VariantSummaryStrip.module.css
  src/shared/components/feature-summary-strip/FeatureSummaryStrip.module.css
  src/shared/components/feature-summary-strip/LocationSummaryStrip.tsx
  src/shared/components/feature-summary-strip/VariantSummaryStrip.module.css
  src/shared/components/feature-summary-strip/VariantSummaryStrip.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Clean up comments
  src/content/app/entity-viewer/variant-view/transcript-consequences/transcript-variant-cds/TranscriptVariantCDS.tsx
  src/shared/types/variation-api/variantPredictedMolecularConsequence.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update variable names
  src/content/app/entity-viewer/variant-view/transcript-consequences/transcript-variant-cds/TranscriptVariantCDS.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Add image pull secret
  gitlab-ci-templates/.setup-review-template.yaml
Due: none

Typo
  gitlab-ci-templates/.setup-review-template.yaml
Due: none

Add ns
  gitlab-ci-templates/.setup-review-template.yaml
Due: none

Enable ns check
  gitlab-ci-templates/.setup-review-template.yaml
Due: none

Bump gb package
  package-lock.json
  package.json
Due: none

Add CDS diagram to transcript consequences view (#1099)
  src/content/app/entity-viewer/state/api/entityViewerThoasSlice.ts
  src/content/app/entity-viewer/state/api/queries/variantPredictedMolecularConsequencesQuery.ts
  src/content/app/entity-viewer/state/api/queries/variantTranscriptConsequencesQueries.ts
  src/content/app/entity-viewer/variant-view/transcript-consequences/TranscriptConsequences.tsx
  src/content/app/entity-viewer/variant-view/transcript-consequences/transcript-consequence-details/TranscriptConsequenceDetails.tsx
  src/content/app/entity-viewer/variant-view/transcript-consequences/transcript-variant-cds/TranscriptVariantCDS.module.css
  src/content/app/entity-viewer/variant-view/transcript-consequences/transcript-variant-cds/TranscriptVariantCDS.tsx
  src/content/app/entity-viewer/variant-view/transcript-consequences/useTranscriptConsequencesData.ts
  src/shared/helpers/exon-helpers/exonHelpers.test.ts
  src/shared/helpers/exon-helpers/exonHelpers.ts
  src/shared/helpers/exon-helpers/fixtures/exons-cds-data-1.ts
  src/shared/helpers/exon-helpers/fixtures/exons-cds-data-2.ts
  src/shared/helpers/exon-helpers/fixtures/exons-cds-data-3.ts
  src/shared/helpers/exon-helpers/fixtures/exons-cds-data-4.ts
  src/shared/types/variation-api/variantPredictedMolecularConsequence.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Use gene stable ids from transcript consequences to get lists of transcripts
  src/content/app/entity-viewer/state/api/entityViewerThoasSlice.ts
  src/content/app/entity-viewer/state/api/queries/variantTranscriptConsequencesQueries.ts
  src/content/app/entity-viewer/variant-view/transcript-consequences/TranscriptConsequences.module.css
  src/content/app/entity-viewer/variant-view/transcript-consequences/TranscriptConsequences.tsx
  src/content/app/entity-viewer/variant-view/transcript-consequences/transcript-consequence-details/TranscriptConsequenceDetails.tsx
  src/content/app/entity-viewer/variant-view/transcript-consequences/transcript-variant-diagram/TranscriptVariantDiagram.tsx
  src/content/app/entity-viewer/variant-view/transcript-consequences/useTranscriptConsequencesData.ts
  src/content/app/entity-viewer/variant-view/transcript-consequences/useTranscriptDetails.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

PR suggestions
  src/content/app/species-selector/components/popular-species-list/PopularSpeciesList.tsx
  src/content/app/species-selector/components/species-search-field/SpeciesSearchField.tsx
  src/content/app/species-selector/components/species-selector-app-bar/SpeciesSelectorAppBar.tsx
  src/content/app/species-selector/state/species-selector-general-slice/speciesSelectorGeneralSlice.ts
  src/content/app/species-selector/state/species-selector-search-slice/speciesSelectorSearchSelectors.ts
  src/content/app/species-selector/state/species-selector-search-slice/speciesSelectorSearchSlice.ts
  src/content/app/species-selector/state/speciesSelectorReducer.ts
  src/content/app/species-selector/views/species-selector-main-view/SpeciesSelectorMainView.tsx
  src/content/app/species-selector/views/species-selector-results-view/SpeciesSelectorResultsView.tsx
  src/content/app/species/components/species-title-area/SpeciesTitleArea.tsx
  src/shared/components/gene-search-panel/GeneSearchPanel.tsx
  src/shared/helpers/urlHelper.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Revert to optional
  gitlab-ci-templates/.setup-review-template.yaml
Due: none

Add review cleanup job
  .gitlab-ci.yml
Due: none

Update style rules
  src/content/app/entity-viewer/variant-view/transcript-consequences/TranscriptConsequences.module.css
Due: stylelint

PR suggestions 2
  src/content/app/species-selector/components/species-search-field/SpeciesSearchField.tsx
  src/content/app/species-selector/views/species-selector-results-view/SpeciesSelectorResultsView.tsx
  src/content/app/species/components/species-title-area/SpeciesTitleArea.module.css
  src/shared/components/info-pill/InfoPill.module.css
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

PR suggestions
  src/content/app/entity-viewer/variant-view/variant-summary-strip/VariantSummaryStrip.module.css
  src/shared/components/feature-summary-strip/FeatureSummaryStrip.module.css
  src/shared/components/feature-summary-strip/VariantSummaryStrip.module.css
  src/shared/components/feature-summary-strip/VariantSummaryStrip.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Update review setup (#1101)
  .gitlab-ci.yml
  gitlab-ci-templates/.setup-review-template.yaml
Due: none

Remove commented out code
  src/content/app/entity-viewer/state/api/entityViewerThoasSlice.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

String interpolation not needed
  src/content/app/entity-viewer/variant-view/transcript-consequences/TranscriptConsequences.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update calculations for CDS diagram
  src/content/app/entity-viewer/variant-view/transcript-consequences/transcript-variant-cds/TranscriptVariantCDS.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Use gene stable ids from transcript consequences to get lists of transcripts (#1102)
  src/content/app/entity-viewer/state/api/entityViewerThoasSlice.ts
  src/content/app/entity-viewer/state/api/queries/variantTranscriptConsequencesQueries.ts
  src/content/app/entity-viewer/variant-view/transcript-consequences/TranscriptConsequences.module.css
  src/content/app/entity-viewer/variant-view/transcript-consequences/TranscriptConsequences.tsx
  src/content/app/entity-viewer/variant-view/transcript-consequences/transcript-consequence-details/TranscriptConsequenceDetails.tsx
  src/content/app/entity-viewer/variant-view/transcript-consequences/transcript-variant-diagram/TranscriptVariantDiagram.tsx
  src/content/app/entity-viewer/variant-view/transcript-consequences/useTranscriptConsequencesData.ts
  src/content/app/entity-viewer/variant-view/transcript-consequences/useTranscriptDetails.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Fix the species assembly count alignment
  src/content/app/species/components/species-title-area/SpeciesTitleArea.module.css
Due: stylelint

Change CSS class name of variant name
  src/content/app/entity-viewer/variant-view/variant-summary-strip/VariantSummaryStrip.module.css
  src/content/app/entity-viewer/variant-view/variant-summary-strip/VariantSummaryStrip.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Path conditions:
  eslint --max-warnings=0: any of: *.{ts,tsx}
  manage-licence-header add: any of: *.{ts,tsx}
  prettier --write: any of: *.{ts,tsx}
  stylelint: any of: *.css
