Repository Ensembl/ensembl-client: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Increase trackPanelAccordion CSS specificity (#729)
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/TrackPanelList.scss
Due: prettier --write, stylelint

PR suggestions
  src/content/app/genome-browser/Browser.test.tsx
  src/content/app/genome-browser/Browser.tsx
  src/content/app/genome-browser/components/browser-sidebar-modal/modal-views/BookmarksModal.test.tsx
  src/content/app/genome-browser/components/browser-sidebar-modal/modal-views/BookmarksModal.tsx
  src/content/app/genome-browser/components/browser-sidebar-modal/services/browser-bookmarks-storage-service.test.ts
  src/content/app/genome-browser/components/browser-sidebar-modal/services/browser-bookmarks-storage-service.ts
  src/content/app/genome-browser/components/browser-sidebar-toolstrip/BrowserSidebarToolstrip.test.tsx
  src/content/app/genome-browser/components/drawer/drawer-views/DrawerBookmarks.tsx
  src/content/app/genome-browser/components/track-panel/components/track-panel-tabs/TrackPanelTabs.tsx
  src/content/app/genome-browser/services/browser-storage-service.ts
  src/content/app/genome-browser/state/browser-bookmarks/browserBookmarksSelectors.ts
  src/content/app/genome-browser/state/browser-bookmarks/browserBookmarksSlice.ts
  src/content/app/genome-browser/state/browser-general/browserGeneralSlice.ts
  src/content/app/genome-browser/state/browser-sidebar-modal/browserSidebarModalSelectors.ts
  src/content/app/genome-browser/state/browser-sidebar-modal/browserSidebarModalSlice.ts
  src/content/app/genome-browser/state/genomeBrowserReducer.ts
  src/content/app/genome-browser/state/track-panel/trackPanelSlice.ts
  tests/fixtures/browser.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Add tests for TranscriptSequenceView
  src/content/app/genome-browser/components/drawer/components/sequence-view/TranscriptSequenceView.test.tsx
  src/content/app/genome-browser/components/drawer/components/sequence-view/TranscriptSequenceView.tsx
  tests/fixtures/entity-viewer/transcript.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Change url from BrowserImage?
  src/content/app/genome-browser/components/browser-image/BrowserImage.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Renamed styles file and removed duplicate display style rule
  src/content/app/genome-browser/components/drawer/components/sequence-view/DrawerSequenceView.scss
  src/content/app/genome-browser/components/drawer/components/sequence-view/DrawerSequenceView.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Only consider reverse complement for genomic sequences
  src/content/app/genome-browser/state/drawer/drawer-sequence/drawerSequenceSelectors.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Only use strand for genomic sequences; and skip request if component is not expanded
  src/content/app/genome-browser/components/drawer/components/sequence-view/GeneSequenceView.tsx
  src/content/app/genome-browser/components/drawer/components/sequence-view/TranscriptSequenceView.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Remove comment and fix variable name
  src/content/app/genome-browser/components/drawer/components/sequence-view/GeneSequenceView.tsx
  src/shared/state/api-slices/refgetSlice.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Move subscription to genome browser location change into a separate hook
  src/content/app/genome-browser/components/browser-image/BrowserImage.tsx
  src/content/app/genome-browser/hooks/useGenomeBrowserPosition.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

dangerouslySetInnerHTML helps sequence wrapping in Chrome
  src/content/app/genome-browser/components/drawer/components/sequence-view/DrawerSequenceView.scss
  src/content/app/genome-browser/components/drawer/components/sequence-view/DrawerSequenceView.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Fix tests
  src/content/app/genome-browser/components/browser-image/BrowserImage.test.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Fix stale closures?
  src/content/app/genome-browser/hooks/useGenomeBrowserPosition.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update styles
  src/content/app/genome-browser/components/drawer/components/sequence-view/DrawerSequenceView.scss
Due: prettier --write, stylelint

Show sequences in genome browser drawer's sequence view (#731)
  src/content/app/genome-browser/components/drawer/components/sequence-view/DrawerSequenceView.scss
  src/content/app/genome-browser/components/drawer/components/sequence-view/DrawerSequenceView.tsx
  src/content/app/genome-browser/components/drawer/components/sequence-view/GeneSequenceView.tsx
  src/content/app/genome-browser/components/drawer/components/sequence-view/SequenceView.scss
  src/content/app/genome-browser/components/drawer/components/sequence-view/TranscriptSequenceView.test.tsx
  src/content/app/genome-browser/components/drawer/components/sequence-view/TranscriptSequenceView.tsx
  src/content/app/genome-browser/components/drawer/components/sequence-view/useDrawerSequenceSettings.ts
  src/content/app/genome-browser/components/drawer/drawer-views/gene-summary/GeneSummary.scss
  src/content/app/genome-browser/components/drawer/drawer-views/gene-summary/GeneSummary.tsx
  src/content/app/genome-browser/components/drawer/drawer-views/transcript-summary/TranscriptSummary.tsx
  src/content/app/genome-browser/components/track-panel/components/track-panel-bar/TrackPanelBar.test.tsx
  src/content/app/genome-browser/components/track-panel/components/track-panel-tabs/TrackPanelTabs.test.tsx
  src/content/app/genome-browser/state/drawer/drawer-sequence/drawerSequenceSelectors.ts
  src/content/app/genome-browser/state/drawer/drawer-sequence/drawerSequenceSlice.ts
  src/content/app/genome-browser/state/drawer/drawerReducer.ts
  src/content/app/genome-browser/state/drawer/drawerSelectors.ts
  src/shared/state/api-slices/refgetSlice.ts
  tests/fixtures/browser.ts
  tests/fixtures/entity-viewer/transcript.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Update the location parameter in the url when genome browser changes position (#732)
  src/content/app/genome-browser/components/browser-image/BrowserImage.test.tsx
  src/content/app/genome-browser/components/browser-image/BrowserImage.tsx
  src/content/app/genome-browser/hooks/useGenomeBrowserPosition.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Address PR issues
  src/content/app/genome-browser/components/browser-image/BrowserImage.tsx
  src/content/app/genome-browser/components/browser-sidebar-toolstrip/BrowserSidebarToolstrip.tsx
  src/content/app/genome-browser/constants/browserConstants.ts
  src/content/app/genome-browser/hooks/useGenomeBrowser.ts
  src/content/app/genome-browser/services/browser-bookmarks/browserBookmarksStorageService.test.ts
  src/content/app/genome-browser/services/browser-bookmarks/browserBookmarksStorageService.ts
  src/content/app/genome-browser/services/browserStorageService.test.ts
  src/content/app/genome-browser/services/browserStorageService.ts
  src/content/app/genome-browser/state/browser-bookmarks/browserBookmarksSelectors.ts
  src/content/app/genome-browser/state/browser-bookmarks/browserBookmarksSlice.ts
  src/content/app/genome-browser/state/browser-general/browserGeneralSlice.ts
  src/content/app/genome-browser/state/browser-sidebar-modal/browserSidebarModalSelectors.ts
  src/content/app/genome-browser/state/browser-sidebar-modal/browserSidebarModalSlice.ts
  src/content/app/genome-browser/state/track-config/trackConfigSlice.ts
  src/content/app/genome-browser/state/track-panel/trackPanelSlice.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Add spinner and error indicator
  src/content/app/genome-browser/components/drawer/components/sequence-view/DrawerSequenceView.scss
  src/content/app/genome-browser/components/drawer/components/sequence-view/DrawerSequenceView.tsx
  src/content/app/genome-browser/components/drawer/components/sequence-view/GeneSequenceView.tsx
  src/content/app/genome-browser/components/drawer/components/sequence-view/TranscriptSequenceView.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Use currentData instead of data in the RTK-query function
  src/content/app/genome-browser/components/drawer/components/sequence-view/GeneSequenceView.tsx
  src/content/app/genome-browser/components/drawer/components/sequence-view/TranscriptSequenceView.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Remove the AboutMenu component
  src/content/app/about/components/about-menu/AboutMenu.scss
  src/content/app/about/components/about-menu/AboutMenu.tsx
  src/server/middleware/proxyMiddleware.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Update styling of the error message and remove environment check
  src/content/app/genome-browser/components/drawer/components/sequence-view/DrawerSequenceView.scss
  src/content/app/genome-browser/components/drawer/drawer-views/gene-summary/GeneSummary.tsx
  src/content/app/genome-browser/components/drawer/drawer-views/transcript-summary/TranscriptSummary.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Add spinner and load error indicator to DrawerSequenceView (#733)
  src/content/app/genome-browser/components/drawer/components/sequence-view/DrawerSequenceView.scss
  src/content/app/genome-browser/components/drawer/components/sequence-view/DrawerSequenceView.tsx
  src/content/app/genome-browser/components/drawer/components/sequence-view/GeneSequenceView.tsx
  src/content/app/genome-browser/components/drawer/components/sequence-view/TranscriptSequenceView.tsx
  src/content/app/genome-browser/components/drawer/drawer-views/gene-summary/GeneSummary.tsx
  src/content/app/genome-browser/components/drawer/drawer-views/transcript-summary/TranscriptSummary.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Add meganav to About page (#727)
  src/content/app/about/About.scss
  src/content/app/about/About.tsx
  src/content/app/about/components/about-menu/AboutMenu.scss
  src/content/app/about/components/about-menu/AboutMenu.tsx
  src/shared/types/help-and-docs/menu.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Hide meganav for the Help app; but show it for the About app
  src/content/app/help/components/help-menu/HelpMenu.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Adapt drawer layout for smaller screens
  src/content/app/genome-browser/components/drawer/drawer-views/transcript-summary/TranscriptSummary.scss
  src/content/app/genome-browser/components/drawer/drawer-views/transcript-summary/TranscriptSummary.tsx
  src/shared/components/layout/StandardAppLayout.scss
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Increase close button z-index
  src/shared/components/layout/StandardAppLayout.scss
Due: prettier --write, stylelint

Update minor dependencies
  package-lock.json
  package.json
Due: none

Remove duplicated bookmarks functions from browserStorageService
  src/content/app/genome-browser/services/browser-bookmarks/browserBookmarksStorageService.test.ts
  src/content/app/genome-browser/services/browser-bookmarks/browserBookmarksStorageService.ts
  src/content/app/genome-browser/services/browserStorageService.ts
  src/content/app/genome-browser/state/browser-bookmarks/browserBookmarksSlice.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Minor fixes
  src/content/app/genome-browser/state/browser-bookmarks/browserBookmarksSlice.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Scroll BlastForm to top when changing between views
  src/content/app/tools/blast/components/blast-input-sequences/BlastInputSequencesHeader.tsx
  src/content/app/tools/blast/components/blast-species-selector/BlastSpeciesSelectorHeader.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Remove fixed summary
  src/content/app/genome-browser/components/drawer/drawer-views/transcript-summary/TranscriptSummary.scss
  src/content/app/genome-browser/components/drawer/drawer-views/transcript-summary/TranscriptSummary.tsx
  src/shared/components/layout/StandardAppLayout.scss
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Move scroll logic to BlastForm
  src/content/app/tools/blast/components/blast-input-sequences/BlastInputSequencesHeader.tsx
  src/content/app/tools/blast/components/blast-species-selector/BlastSpeciesSelectorHeader.tsx
  src/content/app/tools/blast/views/blast-form/BlastForm.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Use useRef
  src/content/app/tools/blast/views/blast-form/BlastForm.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Revert changes to BlastInputSequencesHeader
  src/content/app/tools/blast/components/blast-input-sequences/BlastInputSequencesHeader.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Set featureDetails width to 880px
  src/content/app/genome-browser/components/drawer/drawer-views/transcript-summary/TranscriptSummary.scss
  src/content/app/genome-browser/components/drawer/drawer-views/transcript-summary/TranscriptSummary.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Update GeneSummary
  src/content/app/genome-browser/components/drawer/drawer-views/gene-summary/GeneSummary.scss
  src/content/app/genome-browser/components/drawer/drawer-views/transcript-summary/TranscriptSummary.scss
  src/content/app/genome-browser/components/drawer/drawer-views/transcript-summary/TranscriptSummary.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Scroll BlastForm to top when changing between views (#737)
  src/content/app/tools/blast/views/blast-form/BlastForm.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

blast parameter layout for different screen size
  src/content/app/tools/blast/components/blast-settings/BlastSettings.scss
  src/content/app/tools/blast/components/blast-settings/BlastSettings.tsx
  src/content/app/tools/shared/components/tools-top-bar/ToolsTopBar.scss
  tests/fixtures/blast/blastSettingsConfig.json
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Calculate summary content width using css variables
  src/content/app/genome-browser/components/drawer/drawer-views/gene-summary/GeneSummary.scss
  src/content/app/genome-browser/components/drawer/drawer-views/transcript-summary/TranscriptSummary.scss
Due: prettier --write, stylelint

Path conditions:
  eslint --max-warnings=0: any of: *.{ts,tsx}
  manage-licence-header add: any of: *.{ts,tsx}
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.scss)
  stylelint: any of: *.scss
