Repository Ensembl/ensembl-client: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

.lintstagedrc.json:

{
  "*.{ts,tsx}": [
    "eslint --max-warnings=0",
    "manage-licence-header add",
    "prettier --write"
  ],
  "*.scss": [
    "stylelint",
    "prettier --write"
  ]
}

More PR suggestions
  src/content/app/tools/blast/BlastPage.tsx
  src/content/app/tools/blast/state/blast-general/blastGeneralSelectors.ts
  src/content/app/tools/blast/state/blast-general/blastGeneralSlice.tsx
  src/content/app/tools/blast/state/blastReducer.ts
  src/header/launchbar/BlastLaunchbarButton.tsx
  src/header/launchbar/Launchbar.scss
  src/header/launchbar/LaunchbarButtonWithNotification.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

blast single column layout for smaller screen (#744)
  src/content/app/tools/blast/components/blast-input-sequences/BlastInputSequences.scss
  src/content/app/tools/blast/components/blast-input-sequences/BlastInputSequencesHeader.tsx
  src/content/app/tools/blast/components/blast-species-selector/BlastSpeciesSelector.scss
  src/content/app/tools/blast/components/blast-species-selector/BlastSpeciesSelectorHeader.tsx
  src/content/app/tools/blast/components/blast-submission-header-container/BlastSubmissionHeaderGrid.scss
  src/content/app/tools/blast/views/blast-form/BlastForm.scss
  src/content/app/tools/blast/views/blast-form/BlastForm.tsx
  src/content/app/tools/shared/components/tools-top-bar/ToolsTopBar.scss
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

updated tests
  src/content/app/genome-browser/components/browser-cog/BrowserCogList.test.tsx
  src/content/app/genome-browser/components/browser-cog/BrowserCogList.tsx
  src/content/app/genome-browser/components/browser-track-config/BrowserTrackConfig.test.tsx
  src/content/app/genome-browser/components/browser-track-config/useBrowserTrackConfig.ts
  src/content/app/genome-browser/components/track-panel/TrackPanel.test.tsx
  src/content/app/genome-browser/components/track-panel/trackPanelConfig.ts
  src/content/app/genome-browser/hooks/useBrowserRouting.test.tsx
  src/content/app/genome-browser/state/track-config/trackConfigSlice.ts
  tests/fixtures/browser.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

do not wrap white space
  src/content/app/genome-browser/components/drawer/components/sequence-view/DrawerSequenceView.scss
Due: prettier --write, stylelint

rename expression tab to regulation
  src/content/app/genome-browser/components/track-panel/trackPanelConfig.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Make changes to the blast notification
  src/header/launchbar/BlastLaunchbarButton.tsx
  src/header/launchbar/Launchbar.scss
  src/header/launchbar/LaunchbarButtonWithNotification.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

fix double import
  src/content/app/tools/blast/components/blast-input-sequences/BlastInputSequencesHeader.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Test for hook instead of individual component using hook
  src/shared/components/alert-button/AlertButton.test.tsx
  src/shared/components/question-button/QuestionButton.test.tsx
  src/shared/hooks/tests/useShowTooltip.test.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

options to display only alertIcon with no tooltip and colour for either warning or error
  src/shared/components/alert-button/AlertButton.scss
  src/shared/components/alert-button/AlertButton.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

more story to alert icon, showing warning and bigger icon with no tooltip
  stories/shared-components/alert-button/AlertButton.stories.scss
  stories/shared-components/alert-button/AlertButton.stories.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

replace alert icon with shared component in unsupported-browser page
  src/shared/components/error-screen/ErrorScreen.scss
  src/shared/components/error-screen/GeneralErrorScreen.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

increase sequence limit to 50 (#753)
  src/content/app/tools/blast/components/blast-input-sequences/BlastInputSequences.scss
  src/content/app/tools/blast/components/blast-input-sequences/BlastInputSequencesHeader.tsx
  src/content/app/tools/blast/utils/blastFormValidator.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

review changes
  src/content/app/genome-browser/components/browser-cog/BrowserCogList.test.tsx
  src/content/app/genome-browser/components/browser-track-config/BrowserTrackConfig.test.tsx
  src/content/app/genome-browser/hooks/useBrowserRouting.ts
  src/content/app/genome-browser/state/track-config/trackConfigSlice.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

more fixes
  src/content/app/genome-browser/components/browser-track-config/services/browser-track-config-storage-service.ts
  src/content/app/genome-browser/state/track-config/trackConfigSelectors.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

update feature labels bug fix
  src/content/app/genome-browser/components/browser-track-config/useBrowserTrackConfig.ts
  src/content/app/genome-browser/hooks/useGenomeBrowser.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

add different track configs for different types of tracks
  src/content/app/genome-browser/components/browser-track-config/BrowserTrackConfig.test.tsx
  src/content/app/genome-browser/components/browser-track-config/track-config-views/GeneTrackConfig.tsx
  src/content/app/genome-browser/components/browser-track-config/useBrowserTrackConfig.ts
  src/content/app/genome-browser/hooks/useGenomeBrowser.ts
  src/content/app/genome-browser/state/track-config/trackConfigSlice.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

do not wrap white space (#754)
  src/content/app/genome-browser/components/drawer/components/sequence-view/DrawerSequenceView.scss
  src/content/app/genome-browser/components/track-panel/trackPanelConfig.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

passing class to style alertbutton and having props.level to define the different colours
  src/shared/components/alert-button/AlertButton.scss
  src/shared/components/alert-button/AlertButton.tsx
  src/shared/components/error-screen/ErrorScreen.scss
  src/shared/components/error-screen/GeneralErrorScreen.tsx
  stories/shared-components/alert-button/AlertButton.stories.scss
  stories/shared-components/alert-button/AlertButton.stories.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

PR feedback
  src/shared/components/alert-button/AlertButton.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

rename story const
  stories/shared-components/alert-button/AlertButton.stories.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

fix eslint warnings
  src/content/app/genome-browser/hooks/useGenomeBrowser.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Make notification styling better
  src/header/launchbar/Launchbar.scss
Due: prettier --write, stylelint

Move all code that is responsible for blast state update into the blast slice.
  src/content/app/genome-browser/components/drawer/components/sequence-view/DrawerSequenceView.scss
  src/content/app/genome-browser/components/drawer/components/sequence-view/DrawerSequenceView.tsx
  src/content/app/genome-browser/components/drawer/components/sequence-view/GeneSequenceView.tsx
  src/content/app/genome-browser/components/drawer/components/sequence-view/TranscriptSequenceView.test.tsx
  src/content/app/genome-browser/components/drawer/components/sequence-view/TranscriptSequenceView.tsx
  src/content/app/tools/blast/components/blast-input-sequences/BlastInputSequences.tsx
  src/content/app/tools/blast/components/blast-input-sequences/BlastInputSequencesHeader.tsx
  src/content/app/tools/blast/components/blast-input-sequences/useBlastInputSequences.test.tsx
  src/content/app/tools/blast/components/blast-input-sequences/useBlastInputSequences.ts
  src/content/app/tools/blast/components/blast-job-submit/BlastJobSubmit.tsx
  src/content/app/tools/blast/components/blast-settings/BlastSettings.tsx
  src/content/app/tools/blast/hooks/useBlastForm.ts
  src/content/app/tools/blast/state/blast-form/blastFormSlice.test.ts
  src/content/app/tools/blast/state/blast-form/blastFormSlice.ts
  src/shared/components/blast-sequence-button/BlastSequenceButton.scss
  src/shared/components/blast-sequence-button/BlastSequenceButton.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

More responsibilities for useBlastForm
  src/content/app/tools/blast/components/blast-settings/BlastSettings.tsx
  src/content/app/tools/blast/hooks/useBlastForm.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update comments
  src/content/app/tools/blast/state/blast-form/blastFormSlice.test.ts
  src/content/app/tools/blast/state/blast-form/blastFormSlice.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Delete commented block
  src/content/app/tools/blast/state/blast-form/blastFormSlice.test.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Prevent text wrapping for BlastSequenceButton label
  src/shared/components/blast-sequence-button/BlastSequenceButton.scss
Due: prettier --write, stylelint

Clean up more comments in blastFormSlice
  src/content/app/tools/blast/state/blast-form/blastFormSlice.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Change notification-dimension to notification-size
  src/header/launchbar/Launchbar.scss
Due: prettier --write, stylelint

Added alert button in storybook (#751)
  src/shared/components/alert-button/AlertButton.scss
  src/shared/components/alert-button/AlertButton.tsx
  src/shared/components/error-screen/ErrorScreen.scss
  src/shared/components/error-screen/GeneralErrorScreen.tsx
  src/shared/components/question-button/QuestionButton.test.tsx
  src/shared/hooks/tests/useShowTooltip.test.tsx
  src/shared/hooks/useShowTooltip.ts
  stories/shared-components/alert-button/AlertButton.stories.scss
  stories/shared-components/alert-button/AlertButton.stories.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Blast icon status (#750)
  src/header/launchbar/BlastLaunchbarButton.tsx
  src/header/launchbar/Launchbar.scss
  src/header/launchbar/Launchbar.tsx
  src/header/launchbar/LaunchbarButton.tsx
  src/header/launchbar/LaunchbarButtonWithNotification.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Add different track configs for different types of tracks (#755)
  src/content/app/genome-browser/components/browser-track-config/BrowserTrackConfig.test.tsx
  src/content/app/genome-browser/components/browser-track-config/track-config-views/GeneTrackConfig.tsx
  src/content/app/genome-browser/components/browser-track-config/useBrowserTrackConfig.ts
  src/content/app/genome-browser/hooks/useGenomeBrowser.ts
  src/content/app/genome-browser/state/track-config/trackConfigSlice.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

fix duplication of label (stable_id can be both version and unversioned)
  src/content/app/genome-browser/state/browser-bookmarks/browserBookmarksSlice.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Add enabled/disabled classes for BlastSequenceButton
  src/shared/components/blast-sequence-button/BlastSequenceButton.scss
  src/shared/components/blast-sequence-button/BlastSequenceButton.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Mark that there are no uncommitted sequences when sequences are committed to redux
  src/content/app/tools/blast/state/blast-form/blastFormSlice.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

fix duplication of label (stable_id can be both version and unversioned) (#756)
  src/content/app/genome-browser/state/browser-bookmarks/browserBookmarksSlice.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Add automatic switching for database selector (#748)
  src/content/app/genome-browser/components/drawer/components/sequence-view/DrawerSequenceView.scss
  src/content/app/genome-browser/components/drawer/components/sequence-view/DrawerSequenceView.tsx
  src/content/app/genome-browser/components/drawer/components/sequence-view/GeneSequenceView.tsx
  src/content/app/genome-browser/components/drawer/components/sequence-view/TranscriptSequenceView.test.tsx
  src/content/app/genome-browser/components/drawer/components/sequence-view/TranscriptSequenceView.tsx
  src/content/app/tools/blast/components/blast-input-sequences/BlastInputSequences.tsx
  src/content/app/tools/blast/components/blast-input-sequences/BlastInputSequencesHeader.tsx
  src/content/app/tools/blast/components/blast-input-sequences/useBlastInputSequences.test.tsx
  src/content/app/tools/blast/components/blast-input-sequences/useBlastInputSequences.ts
  src/content/app/tools/blast/components/blast-job-submit/BlastJobSubmit.tsx
  src/content/app/tools/blast/components/blast-settings/BlastSettings.tsx
  src/content/app/tools/blast/hooks/useBlastForm.ts
  src/content/app/tools/blast/state/blast-form/blastFormSlice.test.ts
  src/content/app/tools/blast/state/blast-form/blastFormSlice.ts
  src/shared/components/blast-sequence-button/BlastSequenceButton.scss
  src/shared/components/blast-sequence-button/BlastSequenceButton.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Update patch and minor version upgrades; fix typescript errors
  package-lock.json
  package.json
  src/content/app/custom-download/components/content-builder/ContentBuilder.tsx
  src/content/app/tools/blast/services/blastStorageService.ts
  src/content/app/tools/blast/state/blast-results/blastResultsSlice.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update packages with major version bumps
  package-lock.json
  package.json
Due: none

Update package-lock.js
  package-lock.json
Due: none
