Repository Ensembl/ensembl-client: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

.lintstagedrc.json:

{
  "*.{ts,tsx}": [
    "eslint --max-warnings=0",
    "manage-licence-header add",
    "prettier --write"
  ],
  "*.scss": [
    "stylelint",
    "prettier --write"
  ]
}

Migrated components of the Species page from SCSS to CSS
  src/content/app/species-selector/components/genome-selector-by-search-query/GenomeSelectorBySearchQuery.scss
  src/content/app/species-selector/components/genome-selector-by-species-taxonomy-id/GenomeSelectorBySpeciesTaxonomyId.scss
  src/content/app/species-selector/components/popular-species-button/PopularSpeciesButton.scss
  src/content/app/species-selector/components/popular-species-list/PopularSpeciesList.scss
  src/content/app/species-selector/components/species-search-field/SpeciesSearchField.scss
  src/content/app/species-selector/components/species-search-results-summary/SpeciesSearchResultsSummary.scss
  src/content/app/species-selector/components/species-search-results-table/SpeciesSearchResultsTable.scss
  src/content/app/species-selector/components/species-selector-app-bar/SpeciesSelectorAppBar.scss
  src/content/app/species-selector/components/species-selector-search-results-app-bar/SpeciesSelectorSearchResultsAppBar.scss
  src/content/app/species-selector/views/species-selector-main-view/SpeciesSelectorMainView.scss
  src/content/app/species/SpeciesPage.scss
  src/content/app/species/components/species-main-view/SpeciesMainView.module.css
  src/content/app/species/components/species-main-view/SpeciesMainView.tsx
  src/content/app/species/components/species-main-view/SpeciesMainViewStats.tsx
  src/content/app/species/components/species-page-sidebar/SpeciesPageSidebar.module.css
  src/content/app/species/components/species-page-sidebar/SpeciesPageSidebar.tsx
  src/content/app/species/components/species-stats/SpeciesStats.module.scss
  src/content/app/species/components/species-stats/SpeciesStats.tsx
  src/content/app/species/components/species-title-area/SpeciesTitleArea.module.css
  src/content/app/species/components/species-title-area/SpeciesTitleArea.tsx
  src/content/app/species/components/species-title-area/species-usage-toggle/SpeciesUsageToggle.module.scss
  src/content/app/species/components/species-title-area/species-usage-toggle/SpeciesUsageToggle.tsx
  src/content/app/tools/blast/components/blast-selected-species-list/BlastSelectedSpeciesList.scss
  src/content/app/tools/blast/components/blast-selected-species-list/BlastSelectedSpeciesListHeader.scss
  src/content/app/tools/blast/components/blast-species-selector/BlastSpeciesSelector.scss
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Migrate Species Selector components from scss to css
  src/content/app/species-selector/SpeciesSelector.module.css
  src/content/app/species-selector/SpeciesSelector.tsx
  src/content/app/species-selector/components/genome-selector-by-search-query/GenomeSelectorBySearchQuery.module.css
  src/content/app/species-selector/components/genome-selector-by-search-query/GenomeSelectorBySearchQuery.tsx
  src/content/app/species-selector/components/genome-selector-by-species-taxonomy-id/GenomeSelectorBySpeciesTaxonomyId.module.css
  src/content/app/species-selector/components/genome-selector-by-species-taxonomy-id/GenomeSelectorBySpeciesTaxonomyId.tsx
  src/content/app/species-selector/components/popular-species-button/PopularSpeciesButton.module.css
  src/content/app/species-selector/components/popular-species-button/PopularSpeciesButton.tsx
  src/content/app/species-selector/components/popular-species-list/PopularSpeciesList.module.css
  src/content/app/species-selector/components/popular-species-list/PopularSpeciesList.tsx
  src/content/app/species-selector/components/species-search-field/AddSpecies.tsx
  src/content/app/species-selector/components/species-search-field/SpeciesSearchField.module.css
  src/content/app/species-selector/components/species-search-field/SpeciesSearchField.tsx
  src/content/app/species-selector/components/species-search-results-summary/SpeciesSearchResultsSummary.module.css
  src/content/app/species-selector/components/species-search-results-summary/SpeciesSearchResultsSummary.tsx
  src/content/app/species-selector/components/species-search-results-table/SpeciesSearchResultsTable.module.css
  src/content/app/species-selector/components/species-search-results-table/SpeciesSearchResultsTable.tsx
  src/content/app/species-selector/components/species-selector-app-bar/SpeciesSelectorAppBar.module.css
  src/content/app/species-selector/components/species-selector-app-bar/SpeciesSelectorAppBar.tsx
  src/content/app/species-selector/components/species-selector-search-results-app-bar/SpeciesSelectorSearchResultsAppBar.module.css
  src/content/app/species-selector/components/species-selector-search-results-app-bar/SpeciesSelectorSearchResultsAppBar.tsx
  src/content/app/species-selector/views/species-selector-main-view/SpeciesSelectorMainView.module.css
  src/content/app/species-selector/views/species-selector-main-view/SpeciesSelectorMainView.tsx
  src/content/app/species/SpeciesPage.module.css
  src/content/app/species/SpeciesPageContent.tsx
  src/content/app/species/components/species-stats/SpeciesStats.module.css
  src/content/app/species/components/species-stats/SpeciesStats.tsx
  src/content/app/species/components/species-title-area/species-usage-toggle/SpeciesUsageToggle.module.css
  src/content/app/species/components/species-title-area/species-usage-toggle/SpeciesUsageToggle.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Migrate styles for unsupported browser page from SCSS to CSS
  src/content/unsupported-browser/UnsupportedBrowser.module.css
  src/content/unsupported-browser/UnsupportedBrowser.tsx
  src/content/unsupported-browser/components/supported-web-browser/SupportedWebBrowser.module.css
  src/content/unsupported-browser/components/supported-web-browser/SupportedWebBrowser.tsx
  src/content/unsupported-browser/components/topbar/Topbar.module.css
  src/content/unsupported-browser/components/topbar/Topbar.tsx
  src/content/unsupported-browser/index.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Fix mistakenly redefined css variables
  src/content/app/genome-browser/components/drawer/drawer-views/variant-group-legend/VariantGroupLegend.module.css
Due: none

Migrate scss to css modules in Help
  src/content/app/about/About.tsx
  src/content/app/help/Help.module.css
  src/content/app/help/Help.tsx
  src/content/app/help/components/help-landing/HelpLanding.module.css
  src/content/app/help/components/help-landing/HelpLanding.scss
  src/content/app/help/components/help-landing/HelpLanding.tsx
  src/content/app/help/components/help-menu/HelpMenu.module.css
  src/content/app/help/components/help-menu/HelpMenu.tsx
  src/content/app/help/components/labelled-app-icon/LabelledAppIcon.module.css
  src/content/app/help/components/labelled-app-icon/LabelledAppIcon.tsx
  src/shared/components/help-article/HelpArticle.scss
  src/shared/components/help-article/_helpArticleConstants.scss
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Migrate forgotten scss files for Blast and Help
  src/content/app/about/About.scss
  src/content/app/tools/blast/components/blast-input-sequences/BlastInputSequences.module.css
  src/content/app/tools/blast/components/blast-input-sequences/BlastInputSequences.tsx
  src/content/app/tools/blast/components/blast-input-sequences/BlastInputSequencesHeader.tsx
  src/content/app/tools/blast/components/blast-sequence-alignment/BlastSequenceAlignment.module.css
  src/content/app/tools/blast/components/blast-sequence-alignment/BlastSequenceAlignment.tsx
  src/shared/components/help-article/HelpArticle.module.css
  src/shared/components/help-article/HelpArticleGrid.module.css
  src/shared/components/help-article/HelpArticleGrid.scss
  src/shared/components/help-article/HelpArticleGrid.tsx
  src/shared/components/help-article/IndexArticle.tsx
  src/shared/components/help-article/RelatedArticles.tsx
  src/shared/components/help-article/TextArticle.tsx
  src/shared/components/help-article/VideoArticle.tsx
  src/shared/components/help-article/_helpArticleConstants.scss
  src/shared/components/help-article/helpArticleVariables.module.css
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Delete main.scss; migrate a Root, Header, and Launchbar scss to css
  src/content/app/App.tsx
  src/content/unsupported-browser/UnsupportedBrowser.module.css
  src/header/Header.module.css
  src/header/Header.tsx
  src/header/launchbar/Launchbar.module.css
  src/header/launchbar/Launchbar.tsx
  src/header/launchbar/LaunchbarButton.tsx
  src/header/launchbar/LaunchbarButtonWithNotification.tsx
  src/index.tsx
  src/root/Root.module.css
  src/root/Root.scss
  src/root/Root.tsx
  src/styles/_breakpoints.scss
  src/styles/_common.scss
  src/styles/_fonts.scss
  src/styles/_mixins.scss
  src/styles/_normalize.scss
  src/styles/_scrollbars.scss
  src/styles/design-tokens.css
  src/styles/main.css
  src/styles/main.scss
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

update home and about page
  src/content/app/about/About.module.css
  src/content/app/about/About.tsx
  src/content/home/Home.module.css
  src/content/home/Home.scss
  src/content/home/Home.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

review changes
  src/content/app/about/About.module.css
  src/content/home/Home.module.css
Due: none

remove unused class
  src/content/home/Home.module.css
Due: none

Remove uploadConstants scss file
  src/shared/components/upload/_uploadConstants.scss
Due: prettier --write, stylelint

Update Home & About styles migration (#1069)
  src/content/app/about/About.module.css
  src/content/app/about/About.tsx
  src/content/home/Home.module.css
  src/content/home/Home.scss
  src/content/home/Home.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Fix help article styles in Storybook
  stories/help/TextArticle.stories.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Adapt browser bar content to available width
  src/content/app/genome-browser/components/browser-bar/BrowserBar.module.css
  src/content/app/genome-browser/components/browser-bar/BrowserBar.tsx
  src/content/app/genome-browser/components/browser-location-indicator/BrowserLocationIndicator.module.css
  src/content/app/genome-browser/components/browser-location-indicator/BrowserLocationIndicator.tsx
  src/shared/components/feature-summary-strip/FeatureSummaryStrip.module.css
  src/shared/components/feature-summary-strip/FeatureSummaryStrip.tsx
  src/shared/components/feature-summary-strip/GeneSummaryStrip.tsx
  src/shared/components/feature-summary-strip/LocationSummaryStrip.tsx
  src/shared/components/feature-summary-strip/VariantSummaryStrip.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Fix tests
  src/content/app/genome-browser/components/browser-location-indicator/BrowserLocationIndicator.test.tsx
  src/content/app/genome-browser/components/browser-location-indicator/BrowserLocationIndicator.tsx
  src/shared/components/feature-summary-strip/FeatureSummaryStrip.test.tsx
  src/shared/components/feature-summary-strip/FeatureSummaryStrip.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update color for region name in BrowserLocationIndicator
  src/content/app/genome-browser/components/browser-location-indicator/BrowserLocationIndicator.module.css
Due: none

Update help menu behaviour
  src/content/app/help/components/help-menu/HelpMenu.module.css
  src/content/app/help/components/help-menu/HelpMenu.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Fix tests
  src/content/app/help/components/help-menu/HelpMenu.test.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Use scrollIntoView instead of scrollTo
  src/content/app/help/components/help-menu/HelpMenu.test.tsx
  src/content/app/help/components/help-menu/HelpMenu.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update browser bar (#1071)
  src/content/app/genome-browser/components/browser-bar/BrowserBar.module.css
  src/content/app/genome-browser/components/browser-bar/BrowserBar.tsx
  src/content/app/genome-browser/components/browser-location-indicator/BrowserLocationIndicator.module.css
  src/content/app/genome-browser/components/browser-location-indicator/BrowserLocationIndicator.test.tsx
  src/content/app/genome-browser/components/browser-location-indicator/BrowserLocationIndicator.tsx
  src/shared/components/feature-summary-strip/FeatureSummaryStrip.module.css
  src/shared/components/feature-summary-strip/FeatureSummaryStrip.test.tsx
  src/shared/components/feature-summary-strip/FeatureSummaryStrip.tsx
  src/shared/components/feature-summary-strip/GeneSummaryStrip.tsx
  src/shared/components/feature-summary-strip/LocationSummaryStrip.tsx
  src/shared/components/feature-summary-strip/VariantSummaryStrip.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update help menu behaviour (#1072)
  src/content/app/help/components/help-menu/HelpMenu.module.css
  src/content/app/help/components/help-menu/HelpMenu.test.tsx
  src/content/app/help/components/help-menu/HelpMenu.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Add EntityViewerForVariant component
  src/content/app/entity-viewer/EntityViewer.tsx
  src/content/app/entity-viewer/EntityViewerForGene.tsx
  src/content/app/entity-viewer/EntityViewerForVariant.tsx
  src/content/app/entity-viewer/variant-view/VariantView.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Fix styles of FeatureSummaryStrip in Genome Browser
  src/content/app/genome-browser/components/browser-location-indicator/BrowserLocationIndicator.module.css
  src/shared/components/feature-summary-strip/FeatureSummaryStrip.module.css
  src/shared/components/feature-summary-strip/VariantSummaryStrip.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

In BrowserLocationIndicator, guard against feature summary strip being null
  src/content/app/genome-browser/components/browser-location-indicator/BrowserLocationIndicator.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Fetch default variant data to display on EntityViewer page
  src/content/app/entity-viewer/EntityViewerForVariant.tsx
  src/content/app/entity-viewer/state/api/entityViewerThoasSlice.ts
  src/content/app/entity-viewer/state/api/queries/variantDefaultQuery.ts
  src/content/app/entity-viewer/variant-view/VariantView.module.css
  src/content/app/entity-viewer/variant-view/VariantView.tsx
  src/content/app/genome-browser/state/api/genomeBrowserApiSlice.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update server-side fetch for EntityViewer page for variant
  src/content/app/entity-viewer/EntityViewerPage.tsx
  src/content/app/entity-viewer/shared/page-meta/buildPageMeta.ts
  src/content/app/entity-viewer/shared/server-fetch/entityViewerServerFetch.ts
  src/content/app/entity-viewer/state/api/entityViewerThoasSlice.ts
  src/content/app/entity-viewer/state/api/queries/variantPageMetaQuery.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Add allele selection
  src/content/app/entity-viewer/variant-view/VariantView.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Add Google Analytics to Species Selector
  src/analyticsHelper.ts
  src/content/app/species-selector/components/genome-selector-by-species-taxonomy-id/GenomeSelectorBySpeciesTaxonomyId.tsx
  src/content/app/species-selector/components/popular-species-list/PopularSpeciesList.tsx
  src/content/app/species-selector/components/species-search-field/SpeciesSearchField.tsx
  src/content/app/species-selector/hooks/useSpeciesSelectorAnalytics.ts
  src/content/app/species-selector/speciesSelectorHelper.ts
  src/content/app/species-selector/views/species-selector-main-view/SpeciesSelectorMainView.tsx
  src/content/app/species-selector/views/species-selector-results-view/SpeciesSelectorResultsView.tsx
  src/services/analytics-service.ts
  src/services/google-analytics/index.ts
  src/services/google-analytics/loadGoogleAnalytics.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Correct total selected genomes count reporting
  src/content/app/species-selector/hooks/useSpeciesSelectorAnalytics.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Add Google Analytics to Species Selector (#1074)
  src/analyticsHelper.ts
  src/content/app/species-selector/components/genome-selector-by-species-taxonomy-id/GenomeSelectorBySpeciesTaxonomyId.tsx
  src/content/app/species-selector/components/popular-species-list/PopularSpeciesList.tsx
  src/content/app/species-selector/components/species-search-field/SpeciesSearchField.tsx
  src/content/app/species-selector/hooks/useSpeciesSelectorAnalytics.ts
  src/content/app/species-selector/speciesSelectorHelper.ts
  src/content/app/species-selector/views/species-selector-main-view/SpeciesSelectorMainView.tsx
  src/content/app/species-selector/views/species-selector-results-view/SpeciesSelectorResultsView.tsx
  src/services/analytics-service.ts
  src/services/google-analytics/index.ts
  src/services/google-analytics/loadGoogleAnalytics.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Add an initial, skeleton page for Variant Entity Viewer, with appropriate routing (#1073)
  src/content/app/entity-viewer/EntityViewer.tsx
  src/content/app/entity-viewer/EntityViewerForGene.tsx
  src/content/app/entity-viewer/EntityViewerForVariant.tsx
  src/content/app/entity-viewer/EntityViewerPage.tsx
  src/content/app/entity-viewer/shared/page-meta/buildPageMeta.ts
  src/content/app/entity-viewer/shared/server-fetch/entityViewerServerFetch.ts
  src/content/app/entity-viewer/state/api/entityViewerThoasSlice.ts
  src/content/app/entity-viewer/state/api/queries/variantDefaultQuery.ts
  src/content/app/entity-viewer/state/api/queries/variantPageMetaQuery.ts
  src/content/app/entity-viewer/variant-view/VariantView.module.css
  src/content/app/entity-viewer/variant-view/VariantView.tsx
  src/content/app/genome-browser/state/api/genomeBrowserApiSlice.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

add variant right hand panel overview content
  src/content/app/entity-viewer/EntityViewerForVariant.tsx
  src/content/app/entity-viewer/variant-view/variant-view-sidebar/VariantViewSideBar.tsx
  src/content/app/entity-viewer/variant-view/variant-view-sidebar/overview/MainAccordion.tsx
  src/content/app/entity-viewer/variant-view/variant-view-sidebar/overview/VariantOverview.module.css
  src/content/app/entity-viewer/variant-view/variant-view-sidebar/overview/VariantOverview.tsx
  src/content/app/genome-browser/components/drawer/components/variant-colour/VariantColour.tsx
  src/content/app/genome-browser/components/drawer/drawer-views/variant-summary/VariantSummary.tsx
  src/content/app/genome-browser/components/drawer/drawer-views/variant-summary/variant-consequence/VariantConsequence.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

cleanup
  src/content/app/entity-viewer/variant-view/variant-view-sidebar/overview/MainAccordion.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

review changes
  src/content/app/entity-viewer/variant-view/variant-view-sidebar/overview/MainAccordion.tsx
  src/content/app/entity-viewer/variant-view/variant-view-sidebar/overview/VariantOverview.module.css
  src/content/app/entity-viewer/variant-view/variant-view-sidebar/overview/VariantOverview.tsx
  src/content/app/genome-browser/components/drawer/drawer-views/variant-group-legend/VariantGroupLegend.tsx
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/track-panel-items/TrackPanelVariantGroupLegend.tsx
  src/content/app/genome-browser/constants/variantGroups.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write
