Repository Ensembl/ensembl-client: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Derive the list of gap penalties from match scores and scoring matrix value (#930)
  src/content/app/tools/blast/components/blast-job-lists-navigation/BlastJobListsNavigation.tsx
  src/content/app/tools/blast/components/blast-settings/BlastSettings.scss
  src/content/app/tools/blast/components/blast-settings/BlastSettings.test.tsx
  src/content/app/tools/blast/components/blast-settings/BlastSettings.tsx
  src/content/app/tools/blast/state/blast-form/blastFormSlice.test.ts
  src/content/app/tools/blast/state/blast-results/blastResultsSelectors.ts
  src/content/app/tools/blast/types/blastSettings.ts
  src/content/app/tools/blast/views/blast-form/BlastForm.tsx
  tests/fixtures/blast/blastSettingsConfig.json
  tests/fixtures/blast/blastSettingsConfig.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Use genome browser version with fixed memory bug
  package-lock.json
  package.json
Due: none

Add default sorting option for downloaded tables
  src/content/app/tools/blast/views/blast-submission-results/components/single-blast-job-result/SingleBlastJobResult.tsx
  src/shared/components/data-table/DataTable.test.tsx
  src/shared/components/data-table/components/main/components/table-header/components/table-header-cell/TableHeaderCell.tsx
  src/shared/components/data-table/components/table-controls/components/table-actions/TableActions.tsx
  src/shared/components/data-table/components/table-controls/components/table-actions/components/download-data/DownloadData.tsx
  src/shared/components/data-table/dataTableReducer.ts
  src/shared/components/data-table/dataTableTypes.ts
  src/shared/components/data-table/helpers/sortDataTableRows.ts
  src/shared/components/data-table/hooks/useDataTable.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update nav panel to new design (#931)
  src/content/app/entity-viewer/shared/components/entity-viewer-sidebar/entity-viewer-sidebar-modal/EntityViewerSidebarModal.tsx
  src/content/app/genome-browser/components/browser-sidebar-modal/BrowserSidebarModal.tsx
  src/content/app/genome-browser/components/browser-sidebar-modal/modal-views/NavigateModal.tsx
  src/content/app/genome-browser/components/browser-sidebar-modal/modal-views/navigate-modal/LocationNavigation.tsx
  src/content/app/genome-browser/components/browser-sidebar-modal/modal-views/navigate-modal/NavigateModal.scss
  src/content/app/genome-browser/components/browser-sidebar-modal/modal-views/navigate-modal/NavigationButtons.scss
  src/content/app/genome-browser/components/browser-sidebar-modal/modal-views/navigate-modal/NavigationButtons.tsx
  src/content/app/genome-browser/components/browser-sidebar-modal/modal-views/navigate-modal/RegionNavigation.tsx
  src/content/app/genome-browser/components/browser-sidebar-modal/modal-views/navigate-modal/tests/LocationNavigation.test.tsx
  src/content/app/genome-browser/components/browser-sidebar-modal/modal-views/navigate-modal/tests/NavigateModal.test.tsx
  src/content/app/genome-browser/components/browser-sidebar-modal/modal-views/navigate-modal/tests/RegionNavigation.test.tsx
  src/content/app/genome-browser/components/browser-sidebar-toolstrip/BrowserSidebarToolstrip.tsx
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/TrackPanelList.test.tsx
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/TrackPanelList.tsx
  src/content/app/genome-browser/state/browser-sidebar-modal/browserSidebarModalSlice.ts
  src/content/app/species/components/species-sidebar-modal/SpeciesSidebarModal.tsx
  src/shared/components/layout/sidebar-modal/SidebarModal.scss
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Sort BLAST table rows in the CSV generation script
  src/content/app/tools/blast/blast-download/createBlastCSVTable.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

No need to add defaultSortingOptionsForDownload to SingleBlastJobResult
  src/content/app/tools/blast/views/blast-submission-results/components/single-blast-job-result/SingleBlastJobResult.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Add default sorting option for downloaded tables (#933)
  src/content/app/tools/blast/blast-download/createBlastCSVTable.ts
  src/content/app/tools/blast/views/blast-submission-results/components/single-blast-job-result/SingleBlastJobResult.tsx
  src/shared/components/data-table/DataTable.test.tsx
  src/shared/components/data-table/components/main/components/table-header/components/table-header-cell/TableHeaderCell.tsx
  src/shared/components/data-table/components/table-controls/components/table-actions/TableActions.tsx
  src/shared/components/data-table/components/table-controls/components/table-actions/components/download-data/DownloadData.tsx
  src/shared/components/data-table/dataTableReducer.ts
  src/shared/components/data-table/dataTableTypes.ts
  src/shared/components/data-table/helpers/sortDataTableRows.ts
  src/shared/components/data-table/hooks/useDataTable.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Fix error in which a key could be checked on an undefined value
  src/content/app/genome-browser/hooks/useGenomicTracks.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Make blast submission in lists expanded by default
  src/content/app/tools/blast/components/blast-submission-header/BlastSubmissionHeader.tsx
  src/content/app/tools/blast/components/listed-blast-submission/ListedBlastSubmission.test.tsx
  src/content/app/tools/blast/components/listed-blast-submission/ListedBlastSubmission.tsx
  src/content/app/tools/blast/state/blast-results/blastResultsSlice.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Fix error in which a key could be checked on an undefined value (#934)
  src/content/app/genome-browser/hooks/useGenomicTracks.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

update database text
  tests/fixtures/blast/blastSettingsConfig.json
Due: none

Fix tests
  src/content/app/tools/blast/components/listed-blast-submission/ListedBlastSubmission.test.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Add a track config panel for the focus variant track
  package-lock.json
  src/content/app/genome-browser/components/browser-cog/BrowserCogList.tsx
  src/content/app/genome-browser/components/track-settings-panel/TrackSettingsPanel.tsx
  src/content/app/genome-browser/components/track-settings-panel/track-settings-views/VariantTrackSettings.tsx
  src/content/app/genome-browser/hooks/useGenomeBrowser.ts
  src/content/app/genome-browser/state/track-settings/trackSettingsConstants.ts
  src/content/app/genome-browser/state/track-settings/trackSettingsSlice.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update after type of TrackSummary has been fixed
  package-lock.json
  src/content/app/genome-browser/components/browser-cog/BrowserCogList.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update genome browser version
  package-lock.json
  package.json
Due: none

Remove defaultValue from SimpleSelect
  src/shared/components/simple-select/SimpleSelect.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

update database text (#936)
  tests/fixtures/blast/blastSettingsConfig.json
Due: none

Co-authored-by: Andrey Azov <andrey.azov@gmail.com>
  src/content/app/genome-browser/components/browser-sidebar-modal/modal-views/navigate-modal/LocationNavigation.tsx
  src/shared/components/simple-select/SimpleSelect.test.tsx
  src/shared/components/simple-select/SimpleSelect.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Styling fix for blast job status
  src/content/app/tools/blast/components/listed-blast-submission/ListedBlastSubmission.scss
  src/content/app/tools/blast/components/listed-blast-submission/ListedBlastSubmission.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

More suggestions
  src/shared/components/simple-select/SimpleSelect.test.tsx
  src/shared/components/simple-select/SimpleSelect.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Use the new Node global fetch api, and remove the dependency on cross-fetch
  package-lock.json
  package.json
  src/services/api-service.ts
  src/shared/state/api-slices/restSlice.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Change BLAST results download file from CSV to TSV
  src/content/app/tools/blast/blast-download/createBlastTSVTable.ts
  src/content/app/tools/blast/blast-download/submissionDownload.ts
  src/content/app/tools/blast/views/blast-submission-results/components/single-blast-job-result/SingleBlastJobResult.tsx
  src/shared/components/data-table/components/table-controls/components/table-actions/components/download-data/DownloadData.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Make blast submission in lists expanded by default (#935)
  src/content/app/tools/blast/components/blast-submission-header/BlastSubmissionHeader.tsx
  src/content/app/tools/blast/components/listed-blast-submission/ListedBlastSubmission.scss
  src/content/app/tools/blast/components/listed-blast-submission/ListedBlastSubmission.test.tsx
  src/content/app/tools/blast/components/listed-blast-submission/ListedBlastSubmission.tsx
  src/content/app/tools/blast/state/blast-results/blastResultsSlice.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Fix warning from incorrect SimpleSelect usage in tests of DataTable component (#938)
  src/content/app/genome-browser/components/browser-sidebar-modal/modal-views/navigate-modal/LocationNavigation.tsx
  src/shared/components/simple-select/SimpleSelect.test.tsx
  src/shared/components/simple-select/SimpleSelect.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Remove unnecessary string interpolation
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/TrackPanelList.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Move formatTSV to a helper file
  src/content/app/tools/blast/blast-download/createBlastTSVTable.ts
  src/shared/components/data-table/components/table-controls/components/table-actions/components/download-data/DownloadData.tsx
  src/shared/helpers/formatters/fileFormatter.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Toggle the focus variant track name
  src/content/app/genome-browser/components/track-settings-panel/track-settings-views/VariantTrackSettings.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Change gene-focus to focus-gene as a track type
  src/content/app/genome-browser/state/track-settings/trackSettingsConstants.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Integrate focus variant track (#937)
  package-lock.json
  package.json
  src/content/app/genome-browser/components/browser-cog/BrowserCogList.tsx
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/TrackPanelList.tsx
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/track-panel-items/TrackPanelVariant.tsx
  src/content/app/genome-browser/components/track-settings-panel/TrackSettingsPanel.tsx
  src/content/app/genome-browser/components/track-settings-panel/track-settings-views/VariantTrackSettings.tsx
  src/content/app/genome-browser/hooks/useFocusTrack.ts
  src/content/app/genome-browser/hooks/useGenomeBrowser.ts
  src/content/app/genome-browser/state/focus-object/focusObjectSlice.ts
  src/content/app/genome-browser/state/track-settings/trackSettingsConstants.ts
  src/content/app/genome-browser/state/track-settings/trackSettingsSlice.ts
  src/shared/types/focus-object/focusObjectTypes.ts
  src/store.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

variant legend initial commit
  src/content/app/genome-browser/components/drawer/Drawer.tsx
  src/content/app/genome-browser/components/drawer/drawer-views/variant-group-legend/VariantGroupLegend.scss
  src/content/app/genome-browser/components/drawer/drawer-views/variant-group-legend/VariantGroupLegend.tsx
  src/content/app/genome-browser/components/drawer/drawer-views/variant-group-legend/variantGroups.ts
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/TrackPanelList.tsx
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/track-panel-items/TrackPanelItem.scss
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/track-panel-items/TrackPanelRegularItem.tsx
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/track-panel-items/TrackPanelTranscript.tsx
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/track-panel-items/TrackPanelVariantGroupLegend.tsx
  src/content/app/genome-browser/state/drawer/types.ts
  src/shared/components/table/Table.scss
  src/styles/_settings.scss
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

add generic colour names
  src/content/app/genome-browser/components/drawer/drawer-views/variant-group-legend/VariantGroupLegend.scss
  src/content/app/genome-browser/components/drawer/drawer-views/variant-group-legend/variantGroups.ts
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/track-panel-items/TrackPanelVariantGroupLegend.tsx
  src/styles/_settings.scss
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Show different track panel tabs by default
  src/content/app/genome-browser/state/browser-general/browserGeneralSlice.ts
  src/content/app/genome-browser/state/track-panel/trackPanelSlice.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

rename fileFormatter to tabularFileFormatter
  src/content/app/tools/blast/blast-download/createBlastTSVTable.ts
  src/shared/components/data-table/components/table-controls/components/table-actions/components/download-data/DownloadData.tsx
  src/shared/helpers/formatters/tabularFileFormatter.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Variant legends (#940)
  src/content/app/genome-browser/components/drawer/Drawer.tsx
  src/content/app/genome-browser/components/drawer/drawer-views/variant-group-legend/VariantGroupLegend.scss
  src/content/app/genome-browser/components/drawer/drawer-views/variant-group-legend/VariantGroupLegend.tsx
  src/content/app/genome-browser/components/drawer/drawer-views/variant-group-legend/variantGroups.ts
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/TrackPanelList.tsx
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/track-panel-items/TrackPanelItem.scss
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/track-panel-items/TrackPanelRegularItem.tsx
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/track-panel-items/TrackPanelTranscript.tsx
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/track-panel-items/TrackPanelVariantGroupLegend.tsx
  src/content/app/genome-browser/state/drawer/types.ts
  src/shared/components/table/Table.scss
  src/styles/_settings.scss
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Use redux and browser storage to store settings for focus variant track panel
  src/content/app/genome-browser/components/track-settings-panel/TrackSettingsPanel.test.tsx
  src/content/app/genome-browser/components/track-settings-panel/track-settings-views/VariantTrackSettings.tsx
  src/content/app/genome-browser/hooks/useFocusTrack.ts
  src/content/app/genome-browser/hooks/useGenomicTracks.ts
  src/content/app/genome-browser/services/track-settings/trackSettingsStorageConstants.ts
  src/content/app/genome-browser/state/track-settings/trackSettingsConstants.ts
  src/content/app/genome-browser/state/track-settings/trackSettingsSelectors.ts
  src/content/app/genome-browser/state/track-settings/trackSettingsSlice.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Pass the track name setting to focus variant track
  src/content/app/genome-browser/hooks/useFocusTrack.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Change BLAST results download file from CSV to TSV (#941)
  src/content/app/tools/blast/blast-download/createBlastTSVTable.ts
  src/content/app/tools/blast/blast-download/submissionDownload.ts
  src/content/app/tools/blast/views/blast-submission-results/components/single-blast-job-result/SingleBlastJobResult.tsx
  src/shared/components/data-table/components/table-controls/components/table-actions/components/download-data/DownloadData.tsx
  src/shared/helpers/formatters/tabularFileFormatter.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update blast error message for failed submission
  src/content/app/tools/blast/components/blast-submission-header/BlastSubmissionHeader.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Show different track panel tabs by default (#939)
  src/content/app/genome-browser/state/browser-general/browserGeneralSlice.ts
  src/content/app/genome-browser/state/track-panel/trackPanelSlice.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update the test
  src/shared/components/tabs/Tabs.test.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Path conditions:
  eslint --max-warnings=0: any of: *.{ts,tsx}
  manage-licence-header add: any of: *.{ts,tsx}
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.scss)
  stylelint: any of: *.scss
