Repository Ensembl/ensembl-client: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Fix excessive/out-of-sync messages to the genome browser about transcript ids in the focus track
  src/content/app/genome-browser/components/track-settings-panel/useTrackSettings.ts
  src/content/app/genome-browser/hooks/useFocusTrack.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Use correct id for focus gene track when sending command to genome browser
  src/content/app/genome-browser/hooks/useFocusTrack.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

rename
  src/content/app/species-selector/components/genome-groups/GenomeGroups.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Add genome group categories view in home page (#1300)
  src/content/app/species-selector/components/genome-groups/GenomeGroups.module.css
  src/content/app/species-selector/components/genome-groups/GenomeGroups.tsx
  src/content/app/species-selector/components/popular-species-list/PopularSpeciesList.module.css
  src/content/app/species-selector/components/popular-species-list/PopularSpeciesList.tsx
  src/content/app/species-selector/state/species-selector-api-slice/speciesSelectorApiSlice.ts
  src/content/app/species-selector/views/species-selector-main-view/SpeciesSelectorMainView.module.css
  src/content/app/species-selector/views/species-selector-main-view/SpeciesSelectorMainView.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Fix the id of the focus track when sending focus track settings to the genome browser
  src/content/app/genome-browser/components/drawer/drawer-views/gene-summary/GeneSummary.tsx
  src/content/app/genome-browser/hooks/useFocusTrack.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Undo change in proxy middleware
  src/server/middleware/proxyMiddleware.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update some packages
  package-lock.json
  package.json
Due: none

Bump major version of http-proxy-middleware
  package-lock.json
  package.json
Due: none

Update more dependencies
  package-lock.json
  package.json
Due: none

Bump major version of lint-staged
  package-lock.json
  package.json
Due: none

Update vitest and related packages
  package-lock.json
  package.json
Due: none

Update dependencies (#1301)
  package-lock.json
  package.json
Due: none

Update GitHub action
  .github/workflows/delete_gitlab_branch.yaml
Due: none

Update GitHub action (#1302)
  .github/workflows/delete_gitlab_branch.yaml
Due: none

remove feature search page button
  src/content/app/species-selector/components/species-search-field/SpeciesSearchField.module.css
  src/content/app/species-selector/components/species-selector-app-bar/SpeciesSelectorAppBar.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

updates
  src/content/app/entity-viewer/transcript-view/components/transcript-view-sidebar/sidebar-default/SidebarDefault.tsx
  src/content/app/species-selector/components/species-search-field/SpeciesSearchField.module.css
  src/shared/components/feature-search-results/FeatureSearchResults.tsx
  src/shared/components/search-match/TranscriptSearchMatches.tsx
  src/shared/state/api-slices/searchApiSlice.ts
  src/shared/types/search-api/search-match.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

fixes
  src/shared/components/feature-search-results/FeatureSearchResults.module.css
  src/shared/state/api-slices/searchApiSlice.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

remove no results
  src/shared/components/feature-search-results/FeatureSearchResults.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

cleanup
  src/shared/state/api-slices/graphqlApiSlice.ts
  src/shared/state/api-slices/searchApiSlice.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

retain state
  src/content/app/species-selector/views/species-selector-search-view/SpeciesSelectorSearchView.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

review comment fixes
  src/content/app/species-selector/components/species-search-field/SpeciesSearchField.module.css
  src/shared/components/search-match/TranscriptSearchMatches.tsx
  src/shared/state/api-slices/searchApiSlice.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Update client to use regulatory annotation api version 0.9
  src/content/app/regulatory-activity-viewer/services/region-data-service/regionDataService.ts
  src/content/app/regulatory-activity-viewer/state/api/activityViewerApiSlice.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Use relative url for regulation api endpoints
  config.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

updates
  src/content/app/species-selector/SpeciesSelector.tsx
  src/content/app/species-selector/components/species-search-field/SpeciesSearchField.module.css
  src/content/app/species-selector/components/species-search-field/SpeciesSearchFieldWithLinks.tsx
  src/content/app/species-selector/components/species-selector-app-bar/SpeciesSelectorAppBar.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

transcript focus gb link in ev
  src/content/app/entity-viewer/transcript-view/TranscriptView.tsx
  src/content/app/entity-viewer/transcript-view/components/transcript-details/TranscriptDetails.module.css
  src/content/app/entity-viewer/transcript-view/components/transcript-details/TranscriptDetails.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Fix species switch in Genome Browser
  src/content/app/genome-browser/contexts/genome-browser-ids-context/useGenomeBrowserUrlValidator.ts
  src/content/app/genome-browser/hooks/useBrowserRouting.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

updates
  src/content/app/species-selector/views/species-selector-search-view/SpeciesSelectorSearchView.tsx
  src/shared/components/feature-search-results/FeatureSearchResults.tsx
  src/shared/components/search-match/GeneSearchMatches.tsx
  src/shared/components/search-match/TranscriptSearchMatches.tsx
  src/shared/components/search-match/VariantSearchMatches.tsx
  src/shared/components/text-button/TextButton.tsx
  src/shared/state/api-slices/searchApiSlice.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

use spread opr
  src/shared/state/api-slices/searchApiSlice.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

updates
  src/shared/state/api-slices/queries/transcriptSearchQuery.ts
  src/shared/state/api-slices/searchApiSlice.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

update transcript search result
  src/shared/components/feature-search-results/FeatureSearchResults.module.css
  src/shared/components/feature-search-results/FeatureSearchResults.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Fix species switch in Genome Browser (#1305)
  src/content/app/genome-browser/contexts/genome-browser-ids-context/useGenomeBrowserUrlValidator.ts
  src/content/app/genome-browser/hooks/useBrowserRouting.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

update
  src/shared/components/search-match/TranscriptSearchMatches.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

transcript sidebar result update
  src/shared/components/search-match/TranscriptSearchMatches.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Implement transcript search in species selector, Interstitial and sidebar (#1303)
  src/content/app/entity-viewer/transcript-view/TranscriptView.tsx
  src/content/app/entity-viewer/transcript-view/components/transcript-details/TranscriptDetails.module.css
  src/content/app/entity-viewer/transcript-view/components/transcript-details/TranscriptDetails.tsx
  src/content/app/entity-viewer/transcript-view/components/transcript-view-sidebar/sidebar-default/SidebarDefault.tsx
  src/content/app/species-selector/SpeciesSelector.tsx
  src/content/app/species-selector/components/species-search-field/SpeciesSearchField.module.css
  src/content/app/species-selector/components/species-search-field/SpeciesSearchField.tsx
  src/content/app/species-selector/components/species-search-field/SpeciesSearchFieldWithLinks.tsx
  src/content/app/species-selector/components/species-selector-app-bar/SpeciesSelectorAppBar.tsx
  src/content/app/species-selector/state/species-selector-feature-search-slice/speciesSelectorFeatureSearchSelectors.ts
  src/content/app/species-selector/state/species-selector-feature-search-slice/speciesSelectorFeatureSearchSlice.ts
  src/content/app/species-selector/views/species-selector-main-view/SpeciesSelectorMainView.tsx
  src/content/app/species-selector/views/species-selector-search-view/SpeciesSelectorSearchView.tsx
  src/shared/components/feature-search-results/FeatureSearchResults.module.css
  src/shared/components/feature-search-results/FeatureSearchResults.tsx
  src/shared/components/interstitial-search/InterstitialSearch.tsx
  src/shared/components/search-match/GeneSearchMatches.tsx
  src/shared/components/search-match/TranscriptSearchMatches.tsx
  src/shared/components/sidebar-search/SidebarSearch.tsx
  src/shared/components/text-button/TextButton.tsx
  src/shared/helpers/featureSearchHelpers.ts
  src/shared/state/api-slices/graphqlApiSlice.ts
  src/shared/state/api-slices/queries/transcriptSearchQuery.ts
  src/shared/state/api-slices/searchApiSlice.ts
  src/shared/state/feature-search/featureSearchSelectors.ts
  src/shared/state/feature-search/featureSearchSlice.ts
  src/shared/types/search-api/search-match.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

remove highlightedTrackId reference
  src/content/app/genome-browser/components/zmenu/Zmenu.test.tsx
  src/content/app/genome-browser/components/zmenu/Zmenu.tsx
  src/content/app/genome-browser/components/zmenu/zmenus/GeneAndOneTranscriptZmenu.tsx
  src/content/app/genome-browser/state/track-panel/trackPanelSlice.ts
  src/shared/components/search-match/GeneSearchMatches.tsx
  src/shared/components/search-match/VariantSearchMatches.tsx
  tests/fixtures/browser.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Fix messaging to the genome browser about position updates
  src/content/app/genome-browser/hooks/useBrowserRouting.ts
  src/content/app/genome-browser/hooks/useGenomeBrowserPosition.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Remove direct call to redux for updating the target position from useGenomeBrowserPosition
  src/content/app/genome-browser/hooks/useGenomeBrowserPosition.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Fix the disabling of focus gene transcripts that happen on navigation from entity viewer to genome browser
  src/content/app/genome-browser/hooks/useFocusTrack.ts
  src/header/launchbar/GenomeBrowserLaunchbarButton.tsx
  src/header/launchbar/Launchbar.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Remove an unnecessary check
  src/content/app/genome-browser/hooks/useFocusTrack.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Path conditions:
  eslint --max-warnings=0: any of: *.{ts,tsx}
  manage-licence-header add: any of: *.{ts,tsx}
  prettier --write: any of: *.{ts,tsx}
  stylelint: any of: *.css
