Repository Ensembl/ensembl-client: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

.lintstagedrc.json:

{
  "*.{ts,tsx}": [
    "eslint --max-warnings=0",
    "manage-licence-header add",
    "prettier --write"
  ],
  "*.scss": [
    "stylelint",
    "prettier --write"
  ]
}

Add "view in genome browser" button to variant zmenu (#1008)
  src/content/app/genome-browser/components/zmenu/Zmenu.scss
  src/content/app/genome-browser/components/zmenu/Zmenu.test.tsx
  src/content/app/genome-browser/components/zmenu/ZmenuAppLinks.tsx
  src/content/app/genome-browser/components/zmenu/ZmenuContent.tsx
  src/content/app/genome-browser/components/zmenu/zmenus/GeneAndOneTranscriptZmenu.tsx
  src/content/app/genome-browser/components/zmenu/zmenus/VariantZmenu.tsx
  src/content/app/genome-browser/services/genome-browser-service/types/zmenu.ts
  src/shared/components/view-in-app/ViewInApp.tsx
  src/shared/helpers/focusObjectHelpers.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Update species search field behaviour
  src/content/app/new-species-selector/components/species-search-field/SpeciesSearchField.scss
  src/content/app/new-species-selector/components/species-search-field/SpeciesSearchField.tsx
  src/content/app/new-species-selector/components/species-search-results-table/SpeciesSearchResultsTable.scss
  src/content/app/new-species-selector/components/species-search-results-table/SpeciesSearchResultsTable.tsx
  src/content/app/new-species-selector/state/species-selector-search-slice/speciesSelectorSearchSlice.ts
  src/content/app/new-species-selector/views/species-selector-results-view/SpeciesSelectorResultsView.tsx
  src/shared/components/external-link/DisabledExternalLink.scss
  src/shared/components/external-link/DisabledExternalLink.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Use assembly accession id for genome id in temporary genome data for predictability
  src/content/app/new-species-selector/state/species-selector-api-slice/speciesSelectorSampleData.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update gitlab-ci
  .gitlab-ci.yml
Due: none

Update colours for the rows of selected genomes
  src/content/app/new-species-selector/components/species-search-results-table/SpeciesSearchResultsTable.scss
Due: prettier --write, stylelint

Update search field behaviour in new species selector (#1011)
  src/content/app/new-species-selector/components/species-search-field/SpeciesSearchField.scss
  src/content/app/new-species-selector/components/species-search-field/SpeciesSearchField.tsx
  src/content/app/new-species-selector/components/species-search-results-table/SpeciesSearchResultsTable.scss
  src/content/app/new-species-selector/components/species-search-results-table/SpeciesSearchResultsTable.tsx
  src/content/app/new-species-selector/state/species-selector-api-slice/speciesSelectorSampleData.ts
  src/content/app/new-species-selector/state/species-selector-search-slice/speciesSelectorSearchSlice.ts
  src/content/app/new-species-selector/views/species-selector-results-view/SpeciesSelectorResultsView.tsx
  src/shared/components/external-link/DisabledExternalLink.scss
  src/shared/components/external-link/DisabledExternalLink.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Update deployment rules
  .gitlab-ci.yml
Due: none

Fix invalid syntax
  .gitlab-ci.yml
Due: none

Remove reference to temporary branch from gitlab-ci
  .gitlab-ci.yml
Due: none

Use correct env for publish jobs
  .gitlab-ci.yml
Due: none

Test the Publish jobs for staging
  .gitlab-ci.yml
Due: none

One more test
  .gitlab-ci.yml
Due: none

Deploy staging on dev - revert branch changes
  .gitlab-ci.yml
Due: none

Remove the extra space between 'name' and ':'
  .gitlab-ci.yml
Due: none

Update all deployments in gitlab-ci.yaml for the new k8s cluster (#1010)
  .gitlab-ci.yml
Due: none

Add circular and linear fraction indicators
  src/shared/components/fraction-indicator/CircularFractionIndicator.scss
  src/shared/components/fraction-indicator/CircularFractionIndicator.tsx
  src/shared/components/fraction-indicator/LinearFractionIndicator.scss
  src/shared/components/fraction-indicator/LinearFractionIndicator.tsx
  stories/shared-components/fraction-indicator/FractionIndicator.stories.scss
  stories/shared-components/fraction-indicator/FractionIndicator.stories.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Post-code-review updates
  src/shared/components/fraction-indicator/CircularFractionIndicator.scss
  src/shared/components/fraction-indicator/CircularFractionIndicator.tsx
  src/shared/components/fraction-indicator/CircularProportionIndicator.scss
  src/shared/components/fraction-indicator/CircularProportionIndicator.tsx
  src/shared/components/fraction-indicator/LinearFractionIndicator.scss
  src/shared/components/fraction-indicator/LinearFractionIndicator.tsx
  src/shared/components/fraction-indicator/LinearProportionIndicator.scss
  src/shared/components/fraction-indicator/LinearProportionIndicator.tsx
  stories/shared-components/fraction-indicator/FractionIndicator.stories.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Rename story files
  stories/shared-components/fraction-indicator/ProportionIndicator.stories.scss
  stories/shared-components/fraction-indicator/ProportionIndicator.stories.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Add ProportionIndicator component and its versions (#1012)
  src/shared/components/fraction-indicator/CircularProportionIndicator.scss
  src/shared/components/fraction-indicator/CircularProportionIndicator.tsx
  src/shared/components/fraction-indicator/LinearProportionIndicator.scss
  src/shared/components/fraction-indicator/LinearProportionIndicator.tsx
  stories/shared-components/fraction-indicator/ProportionIndicator.stories.scss
  stories/shared-components/fraction-indicator/ProportionIndicator.stories.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Add gene homology table
  src/content/app/entity-viewer/gene-view/components/gene-homology/GeneHomology.tsx
  src/content/app/entity-viewer/gene-view/components/gene-homology/GeneHomologyTable.scss
  src/content/app/entity-viewer/gene-view/components/gene-homology/GeneHomologyTable.tsx
  src/content/app/entity-viewer/gene-view/components/gene-relationships/GeneRelationships.tsx
  src/content/app/entity-viewer/gene-view/components/gene-view-tabs/GeneViewTabs.tsx
  src/content/app/entity-viewer/state/api/entityViewerThoasSlice.ts
  src/content/app/entity-viewer/state/api/fixtures/mockHomologyData.ts
  src/content/app/entity-viewer/state/api/types/geneHomology.ts
  src/content/app/entity-viewer/state/gene-view/view/geneViewViewSlice.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Add help text for column headings
  src/content/app/entity-viewer/gene-view/components/gene-homology/GeneHomologyTable.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Disable homology tab in production
  src/content/app/entity-viewer/gene-view/components/gene-homology/GeneHomology.tsx
  src/content/app/entity-viewer/gene-view/components/gene-relationships/GeneRelationships.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Remove jobs for hh-wp14
  .gitlab-ci.yml
Due: none

Update decimals and use query instead of target in stats columns
  src/content/app/entity-viewer/gene-view/components/gene-homology/GeneHomologyTable.tsx
  src/shared/components/fraction-indicator/CircularProportionIndicator.tsx
  src/shared/components/fraction-indicator/LinearProportionIndicator.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Add metadata api ingress
  gitlab-ci-templates/.setup-review-template.yaml
Due: none

apply metadata api ingress
  gitlab-ci-templates/.setup-review-template.yaml
Due: none

Remove hh wp14 jobs & add metadata api ingress for review app (#1014)
  .gitlab-ci.yml
  gitlab-ci-templates/.setup-review-template.yaml
Due: none

Rename fraction-indicator directory to proportion-indicator
  src/content/app/entity-viewer/gene-view/components/gene-homology/GeneHomologyTable.tsx
  src/shared/components/proportion-indicator/CircularProportionIndicator.scss
  src/shared/components/proportion-indicator/CircularProportionIndicator.tsx
  src/shared/components/proportion-indicator/LinearProportionIndicator.scss
  src/shared/components/proportion-indicator/LinearProportionIndicator.tsx
  stories/shared-components/proportion-indicator/ProportionIndicator.stories.scss
  stories/shared-components/proportion-indicator/ProportionIndicator.stories.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Add gene homology table with mock data (#1013)
  src/content/app/entity-viewer/gene-view/components/gene-homology/GeneHomology.tsx
  src/content/app/entity-viewer/gene-view/components/gene-homology/GeneHomologyTable.scss
  src/content/app/entity-viewer/gene-view/components/gene-homology/GeneHomologyTable.tsx
  src/content/app/entity-viewer/gene-view/components/gene-relationships/GeneRelationships.tsx
  src/content/app/entity-viewer/gene-view/components/gene-view-tabs/GeneViewTabs.tsx
  src/content/app/entity-viewer/state/api/entityViewerThoasSlice.ts
  src/content/app/entity-viewer/state/api/fixtures/mockHomologyData.ts
  src/content/app/entity-viewer/state/api/types/geneHomology.ts
  src/content/app/entity-viewer/state/gene-view/view/geneViewViewSlice.ts
  src/shared/components/proportion-indicator/CircularProportionIndicator.scss
  src/shared/components/proportion-indicator/CircularProportionIndicator.tsx
  src/shared/components/proportion-indicator/LinearProportionIndicator.scss
  src/shared/components/proportion-indicator/LinearProportionIndicator.tsx
  stories/shared-components/proportion-indicator/ProportionIndicator.stories.scss
  stories/shared-components/proportion-indicator/ProportionIndicator.stories.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Use the variation graphql api
  config.ts
  src/content/app/genome-browser/components/drawer/drawer-views/variant-summary/VariantSummary.tsx
  src/content/app/genome-browser/components/drawer/drawer-views/variant-summary/prepareVariantSummaryData.ts
  src/content/app/genome-browser/components/drawer/drawer-views/variant-summary/variant-consequence/VariantConsequence.tsx
  src/content/app/genome-browser/state/api/genomeBrowserApiSlice.ts
  src/content/app/genome-browser/state/api/queries/variantQuery.ts
  src/server/helpers/getConfigForClient.ts
  src/shared/components/feature-summary-strip/VariantSummaryStrip.tsx
  src/shared/helpers/formatters/regionFormatter.ts
  src/shared/types/core-api/externalReference.ts
  src/shared/types/variation-api/variant.ts
  tests/fixtures/entity-viewer/external-reference.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update gene homology example
  src/content/app/entity-viewer/gene-view/components/gene-homology/GeneHomologyTable.tsx
  src/content/app/entity-viewer/state/api/fixtures/mockHomologyData.ts
  src/content/app/entity-viewer/state/api/types/geneHomology.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Fixed common_name field in the homology example data
  src/content/app/entity-viewer/state/api/fixtures/mockHomologyData.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Add IBM Plex Mono Semibold font
  src/styles/_fonts.scss
  static/fonts/ibm-plex-mono/IBMPlexMono-SemiBold-Latin1.woff
  static/fonts/ibm-plex-mono/IBMPlexMono-SemiBold-Latin1.woff2
Due: prettier --write, stylelint

Update gene homology example (#1015)
  src/content/app/entity-viewer/gene-view/components/gene-homology/GeneHomologyTable.tsx
  src/content/app/entity-viewer/state/api/fixtures/mockHomologyData.ts
  src/content/app/entity-viewer/state/api/types/geneHomology.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Add IBM Plex Mono Light font
  src/styles/_fonts.scss
  static/fonts/ibm-plex-mono/IBMPlexMono-Light-Latin1.woff
  static/fonts/ibm-plex-mono/IBMPlexMono-Light-Latin1.woff2
Due: prettier --write, stylelint

Update font name in CSS declaration
  src/styles/_fonts.scss
Due: prettier --write, stylelint

Use variation graphql api instead of mock variation data (#1016)
  config.ts
  src/content/app/genome-browser/components/drawer/drawer-views/variant-summary/VariantSummary.tsx
  src/content/app/genome-browser/components/drawer/drawer-views/variant-summary/prepareVariantSummaryData.ts
  src/content/app/genome-browser/components/drawer/drawer-views/variant-summary/variant-consequence/VariantConsequence.tsx
  src/content/app/genome-browser/state/api/genomeBrowserApiSlice.ts
  src/content/app/genome-browser/state/api/queries/variantQuery.ts
  src/server/helpers/getConfigForClient.ts
  src/shared/components/feature-summary-strip/VariantSummaryStrip.tsx
  src/shared/helpers/formatters/regionFormatter.ts
  src/shared/types/core-api/externalReference.ts
  src/shared/types/variation-api/variant.ts
  tests/fixtures/entity-viewer/external-reference.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Add IBM Plex Mono Light and Semibold fonts (#1017)
  src/styles/_fonts.scss
  static/fonts/ibm-plex-mono/IBMPlexMono-Light-Latin1.woff
  static/fonts/ibm-plex-mono/IBMPlexMono-Light-Latin1.woff2
  static/fonts/ibm-plex-mono/IBMPlexMono-SemiBold-Latin1.woff
  static/fonts/ibm-plex-mono/IBMPlexMono-SemiBold-Latin1.woff2
Due: prettier --write, stylelint

Update dependencies
  package-lock.json
  package.json
Due: none
