Repository Ensembl/ensembl-client: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

.lintstagedrc.json:

{
  "*.{ts,tsx}": [
    "eslint --max-warnings=0",
    "manage-licence-header add",
    "prettier --write"
  ],
  "*.scss": [
    "stylelint",
    "prettier --write"
  ]
}

Render BLAST hits diagram inside of sequence boxes
  src/content/app/tools/blast/components/blast-hits-diagram/BlastHitsDiagram.scss
  src/content/app/tools/blast/components/blast-hits-diagram/BlastHitsDiagram.tsx
  src/content/app/tools/blast/state/blast-api/blastApiSlice.ts
  src/content/app/tools/blast/types/blastJob.ts
  src/content/app/tools/blast/views/blast-submission-results/BlastSubmissionResults.scss
  src/content/app/tools/blast/views/blast-submission-results/BlastSubmissionResults.tsx
  stories/blast/blast-hits-diagram/BlastHitsDiagram.stories.tsx
  stories/blast/blast-hits-diagram/blastGenomic.json
  stories/blast/blast-hits-diagram/blastGenomic2.json
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Experiment with an alternative implementation of the table
  src/shared/components/table/Table.scss
  src/shared/components/table/Table.tsx
  src/shared/components/table/TableBody.tsx
  src/shared/components/table/TableCell.tsx
  src/shared/components/table/TableHead.tsx
  src/shared/components/table/TableHeaderCell.tsx
  src/shared/components/table/TableRow.tsx
  src/shared/components/table/index.ts
  static/icons/icon_arrow.svg
  stories/shared-components/table/Table.stories.scss
  stories/shared-components/table/Table.stories.tsx
  stories/shared-components/table/fakeData.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Updates on the table
  src/shared/components/table/Table.scss
  src/shared/components/table/TableCell.tsx
  src/shared/components/table/TableRowSelectorCell.tsx
  src/shared/components/table/useSelectableRows.ts
  stories/shared-components/table/Table.stories.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Add table to blast results
  src/content/app/tools/blast/views/blast-submission-results/BlastSubmissionResults.scss
  src/content/app/tools/blast/views/blast-submission-results/BlastSubmissionResults.tsx
  src/shared/components/table/Table.scss
  src/shared/components/table/Table.tsx
  src/shared/components/table/components/main/components/table-body/TableBody.tsx
  src/shared/components/table/components/main/components/table-header/TableHeader.scss
  src/shared/components/table/components/main/components/table-header/TableHeader.tsx
  src/shared/components/table/components/main/components/table-header/components/table-header-cell/TableHeaderCell.tsx
  src/shared/components/table/components/main/components/table-row/TableRow.tsx
  src/shared/components/table/components/table-controls/components/rows-per-page-selector/RowsPerPageSelector.tsx
  src/shared/components/table/state/tableReducer.ts
  stories/shared-components/table/Table.stories.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Start BlastSequenceAlignment component
  src/content/app/tools/blast/components/blast-sequence-alignment/BlastSequenceAlignment.tsx
  src/content/app/tools/blast/components/blast-sequence-alignment/blastSequenceAlignmentHelper.test.ts
  src/content/app/tools/blast/components/blast-sequence-alignment/blastSequenceAlignmentHelper.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update calculations
  src/content/app/tools/blast/components/blast-sequence-alignment/blastSequenceAlignmentHelper.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Add option to disable certain actions
  src/content/app/tools/blast/views/blast-submission-results/BlastSubmissionResults.tsx
  src/shared/components/table/Table.tsx
  src/shared/components/table/components/table-controls/components/table-actions/TableActions.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

add tooltips
  src/content/app/tools/blast/views/blast-submission-results/BlastSubmissionResults.tsx
  src/shared/components/table/state/tableReducer.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Refactor alignment generation code
  src/content/app/tools/blast/components/blast-sequence-alignment/blastSequenceAlignmentHelper.ts
  src/content/app/tools/blast/components/blast-sequence-alignment/blastSequenceAlignmentTypes.ts
  src/content/app/tools/blast/components/blast-sequence-alignment/formatters/simpleStringFormatter.ts
  src/content/app/tools/blast/components/blast-sequence-alignment/tests/__snapshots__/blastSequenceAlignmentHelper.test.ts.snap
  src/content/app/tools/blast/components/blast-sequence-alignment/tests/blast-alignment-fixtures/multiLineAlignment.ts
  src/content/app/tools/blast/components/blast-sequence-alignment/tests/blast-alignment-fixtures/shortAlignment.ts
  src/content/app/tools/blast/components/blast-sequence-alignment/tests/blastSequenceAlignmentHelper.test.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Header onclick cleanup
  src/content/app/tools/blast/views/blast-submission-results/BlastSubmissionResults.scss
  src/shared/components/table/components/main/components/table-header/TableHeader.scss
  src/shared/components/table/components/main/components/table-header/components/table-header-cell/TableHeaderCell.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Update tests, and create a story to demonstrate the use of the component
  src/content/app/tools/blast/components/blast-sequence-alignment/BlastSequenceAlignment.tsx
  src/content/app/tools/blast/components/blast-sequence-alignment/blastSequenceAlignmentHelper.ts
  src/content/app/tools/blast/components/blast-sequence-alignment/formatters/simpleStringFormatter.ts
  src/content/app/tools/blast/components/blast-sequence-alignment/tests/__snapshots__/blastSequenceAlignmentHelper.test.ts.snap
  src/content/app/tools/blast/components/blast-sequence-alignment/tests/blastSequenceAlignmentHelper.test.ts
  src/content/app/tools/blast/state/blast-api/blastApiSlice.ts
  src/content/app/tools/blast/types/blastJob.ts
  src/content/app/tools/blast/types/blastSettings.ts
  stories/blast/blast-sequence-alignment/BlastSequenceAlignment.stories.tsx
  stories/blast/blast-sequence-alignment/sampleData.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update styles
  src/content/app/tools/blast/components/blast-sequence-alignment/BlastSequenceAlignment.scss
  src/content/app/tools/blast/components/blast-sequence-alignment/BlastSequenceAlignment.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Fix useRefWithRerender hook (#795)
  src/content/app/genome-browser/components/zmenu/Zmenu.tsx
  src/shared/hooks/tests/useRefWithRerender.test.tsx
  src/shared/hooks/useRefWithRerender.ts
  stories/shared-components/tooltip/Tooltip.stories.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Fix GB refocus issue
  src/content/app/genome-browser/components/browser-sidebar-modal/modal-views/BookmarksModal.tsx
  src/header/launchbar/Launchbar.scss
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

passing fakeGenomeId instead of hardcoding and typescript update
  tests/fixtures/browser.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

creating more tracks for Genomic
  tests/fixtures/genomes.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

updating test to use real redux store and fetching the data
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/TrackPanelList.test.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

blast error fix - reset sequence validity flags on sequences change (#786)
  src/content/app/tools/blast/components/blast-input-sequences/BlastInputSequence.tsx
  src/content/app/tools/blast/components/blast-input-sequences/BlastInputSequences.tsx
  src/content/app/tools/blast/views/blast-form/BlastFormContext.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Rename variable
  src/content/app/tools/blast/components/blast-hits-diagram/BlastHitsDiagram.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Fix canvas overflow
  src/content/app/genome-browser/components/browser-image/BrowserImage.scss
  src/content/app/genome-browser/components/browser-image/BrowserImage.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Implement sticky header
  src/shared/components/table/Table.scss
  src/shared/components/table/TableHeaderCell.tsx
  stories/shared-components/table/Table.stories.scss
  stories/shared-components/table/Table.stories.tsx
  stories/shared-components/table/fakeData.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Update comments describing components' purposes
  src/shared/components/table/TableBody.tsx
  src/shared/components/table/TableHead.tsx
  src/shared/components/table/TableHeaderCell.tsx
  src/shared/components/table/TableRow.tsx
  src/shared/components/table/TableRowSelectorCell.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Reuse a type, and remove an unused file
  src/content/app/tools/blast/components/blast-sequence-alignment/blastSequenceAlignmentHelper.ts
  src/content/app/tools/blast/types/blastApiResponse.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Add a comment to clarify an awkwardness in code
  src/content/app/tools/blast/components/blast-sequence-alignment/blastSequenceAlignmentHelper.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Fix alignment line end position calculation, and update labels
  src/content/app/tools/blast/components/blast-sequence-alignment/BlastSequenceAlignment.tsx
  src/content/app/tools/blast/components/blast-sequence-alignment/blastSequenceAlignmentHelper.ts
  src/content/app/tools/blast/components/blast-sequence-alignment/formatters/simpleStringFormatter.ts
  src/content/app/tools/blast/components/blast-sequence-alignment/tests/__snapshots__/blastSequenceAlignmentHelper.test.ts.snap
  src/content/app/tools/blast/components/blast-sequence-alignment/tests/blastSequenceAlignmentHelper.test.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Blast hits diagram (#796)
  src/content/app/tools/blast/components/blast-hits-diagram/BlastHitsDiagram.scss
  src/content/app/tools/blast/components/blast-hits-diagram/BlastHitsDiagram.tsx
  src/content/app/tools/blast/state/blast-api/blastApiSlice.ts
  src/content/app/tools/blast/types/blastJob.ts
  src/content/app/tools/blast/views/blast-submission-results/BlastSubmissionResults.scss
  src/content/app/tools/blast/views/blast-submission-results/BlastSubmissionResults.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Remove BlastSequenceAlignment storybook file
  stories/blast/blast-sequence-alignment/BlastSequenceAlignment.stories.tsx
  stories/blast/blast-sequence-alignment/sampleData.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Use sticky position for header
  src/shared/components/table/Table.scss
  src/shared/components/table/Table.tsx
  src/shared/components/table/components/main/components/table-header/TableHeader.scss
  src/shared/components/table/components/main/components/table-header/components/table-header-cell/TableHeaderCell.tsx
  src/shared/components/table/state/tableReducer.ts
  stories/shared-components/table/Table.stories.scss
  stories/shared-components/table/Table.stories.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Add Blast sequence alignment (#798)
  src/content/app/tools/blast/components/blast-sequence-alignment/BlastSequenceAlignment.scss
  src/content/app/tools/blast/components/blast-sequence-alignment/BlastSequenceAlignment.tsx
  src/content/app/tools/blast/components/blast-sequence-alignment/blastSequenceAlignmentHelper.ts
  src/content/app/tools/blast/components/blast-sequence-alignment/blastSequenceAlignmentTypes.ts
  src/content/app/tools/blast/components/blast-sequence-alignment/formatters/simpleStringFormatter.ts
  src/content/app/tools/blast/components/blast-sequence-alignment/tests/__snapshots__/blastSequenceAlignmentHelper.test.ts.snap
  src/content/app/tools/blast/components/blast-sequence-alignment/tests/blast-alignment-fixtures/multiLineAlignment.ts
  src/content/app/tools/blast/components/blast-sequence-alignment/tests/blast-alignment-fixtures/shortAlignment.ts
  src/content/app/tools/blast/components/blast-sequence-alignment/tests/blastSequenceAlignmentHelper.test.ts
  src/content/app/tools/blast/types/blastSettings.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Refactor
  src/content/app/genome-browser/components/zmenu/ZmenuAppLinks.tsx
  src/shared/components/image-button/ImageButton.tsx
  src/shared/components/view-in-app/ViewInApp.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Fix canvas overflow (#801)
  src/content/app/genome-browser/components/browser-image/BrowserImage.scss
  src/content/app/genome-browser/components/browser-image/BrowserImage.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

PR feedback
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/TrackPanelList.test.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Add sequence alignment text
  src/content/app/tools/blast/views/blast-submission-results/BlastSubmissionResults.scss
  src/content/app/tools/blast/views/blast-submission-results/BlastSubmissionResults.tsx
  src/shared/components/table/Table.scss
  src/shared/components/table/Table.tsx
  src/shared/components/table/components/main/components/table-header/TableHeader.scss
  src/shared/components/table/components/main/components/table-header/TableHeader.tsx
  src/shared/components/table/components/table-controls/TableControls.scss
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Show checkboxes in the unique column
  src/content/app/tools/blast/views/blast-submission-results/BlastSubmissionResults.tsx
  src/shared/components/table/components/main/components/table-body/TableBody.tsx
  src/shared/components/table/components/main/components/table-header/TableHeader.tsx
  src/shared/components/table/components/main/components/table-row/TableRow.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update genome browser to version 0.4.4
  package-lock.json
  package.json
Due: none

Update the sticky header styles
  src/shared/components/table/Table.scss
  src/shared/components/table/Table.tsx
  src/shared/components/table/TableHead.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Create a simpler table
  src/shared/components/table/RowFooter.tsx
  src/shared/components/table/Table.scss
  src/shared/components/table/Table.tsx
  src/shared/components/table/TableBody.tsx
  src/shared/components/table/TableCell.tsx
  src/shared/components/table/TableHead.tsx
  src/shared/components/table/TableHeaderCell.tsx
  src/shared/components/table/TableRow.tsx
  src/shared/components/table/TableRowSelectorCell.tsx
  src/shared/components/table/index.ts
  src/shared/components/table/useSelectableRows.ts
  stories/shared-components/table/Table.stories.scss
  stories/shared-components/table/Table.stories.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Update table styles
  src/shared/components/table/Table.scss
Due: prettier --write, stylelint

Remove a comment
  src/shared/components/table/Table.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

More control over hiding columns
  .vscode/settings.json
  src/content/app/tools/blast/views/blast-submission-results/BlastSubmissionResults.tsx
  src/shared/components/table/components/table-controls/components/table-actions/components/show-hide-columns/ShowHideColumns.tsx
  src/shared/components/table/state/tableReducer.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write
