Repository Ensembl/ensembl-client: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

wip
  src/content/app/tools/biomart/biomart-jobs/BiomartJobs.module.css
  src/content/app/tools/biomart/biomart-jobs/BiomartJobs.tsx
  src/content/app/tools/biomart/biomart-settings/BiomartSettings.module.css
  src/content/app/tools/biomart/biomart-settings/BiomartSettings.tsx
  src/content/app/tools/biomart/state/biomartSlice.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Extract a CheckboxWithLabel component; update components that use Checkbox as dependency
  src/content/app/entity-viewer/gene-view/components/transcripts-filter/TranscriptsFilter.tsx
  src/content/app/genome-browser/components/drawer/components/sequence-view/DrawerSequenceView.tsx
  src/content/app/species-selector/components/species-search-results-table/SpeciesSearchResultsTable.tsx
  src/content/app/species-selector/views/species-manager/selected-genomes-table/SelectedGenomesTable.tsx
  src/content/app/tools/blast/components/blast-settings/BlastSettings.tsx
  src/content/app/tools/vep/views/vep-form/vep-form-options-section/vep-form-gene-options/VepFormGeneOptions.tsx
  src/shared/components/checkbox-with-label/CheckboxWithLabel.module.css
  src/shared/components/checkbox-with-label/CheckboxWithLabel.tsx
  src/shared/components/checkbox/Checkbox.module.css
  src/shared/components/checkbox/Checkbox.tsx
  src/shared/components/data-table/components/main/components/table-row/components/row-selector/RowSelector.tsx
  src/shared/components/data-table/components/table-controls/components/table-actions/components/show-hide-columns/ShowHideColumns.tsx
  src/shared/components/instant-download/instant-download-gene/InstantDownloadGene.tsx
  src/shared/components/instant-download/instant-download-protein/InstantDownloadProtein.tsx
  src/shared/components/instant-download/instant-download-regulation/InstantDownloadRegFeature.tsx
  src/shared/components/instant-download/instant-download-transcript/InstantDownloadTranscript.tsx
  stories/shared-components/checkbox-with-label/CheckboxWithLabel.stories.module.css
  stories/shared-components/checkbox-with-label/CheckboxWithLabel.stories.tsx
  stories/shared-components/checkbox/Checkbox.stories.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Fix types and tests
  src/shared/components/checkbox-with-label/CheckboxWithLabel.test.tsx
  src/shared/components/checkbox-with-label/CheckboxWithLabel.tsx
  src/shared/components/checkbox/Checkbox.test.tsx
  stories/shared-components/loading-button/LoadingButton.stories.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Add comment explaining the purpose of the CheckboxWithLabel component
  src/shared/components/checkbox-with-label/CheckboxWithLabel.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Fix more tests
  src/shared/components/data-table/components/table-controls/components/table-actions/components/show-hide-columns/ShowHideColumns.test.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update stylelint rules, and remove a duplicate CSS rule
  src/content/app/tools/vep/views/vep-form/VepForm.module.css
  src/shared/components/checkbox/Checkbox.module.css
  stylelint.config.js
Due: stylelint

Update styles for gene search
  src/content/app/entity-viewer/shared/components/entity-viewer-sidebar/entity-viewer-sidebar-modal/modal-views/EntityViewerSearch.tsx
  src/shared/components/in-app-search/InAppSearch.module.css
  src/shared/components/in-app-search/InAppSearch.tsx
  src/shared/components/in-app-search/InAppSearchMatches.tsx
  src/shared/components/layout/sidebar-modal/SidebarModal.module.css
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Update typescript plus minor and point version changes
  package-lock.json
  package.json
Due: none

Update react-router to version 7; change [hash] to [fullhash] in webpack configs
  package-lock.json
  package.json
  scripts/start.ts
  src/server/routes/viewsRouter.tsx
  webpack/client/common.ts
  webpack/server/common.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update dependencies (#1187)
  package-lock.json
  package.json
  scripts/start.ts
  src/server/routes/viewsRouter.tsx
  webpack/client/common.ts
  webpack/server/common.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Fix minor accessibility errors on the home page
  src/content/home/Home.tsx
  src/header/Header.tsx
  src/shared/components/social-media-links/SocialMediaLinks.tsx
  webpack/client/common.ts
  webpack/server/common.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Refactor checkboxes to make them more accessible (#1186)
  src/content/app/entity-viewer/gene-view/components/transcripts-filter/TranscriptsFilter.tsx
  src/content/app/genome-browser/components/drawer/components/sequence-view/DrawerSequenceView.tsx
  src/content/app/species-selector/components/species-search-results-table/SpeciesSearchResultsTable.tsx
  src/content/app/species-selector/views/species-manager/selected-genomes-table/SelectedGenomesTable.tsx
  src/content/app/tools/blast/components/blast-settings/BlastSettings.tsx
  src/content/app/tools/vep/views/vep-form/VepForm.module.css
  src/content/app/tools/vep/views/vep-form/vep-form-options-section/vep-form-gene-options/VepFormGeneOptions.tsx
  src/shared/components/checkbox-with-label/CheckboxWithLabel.module.css
  src/shared/components/checkbox-with-label/CheckboxWithLabel.test.tsx
  src/shared/components/checkbox-with-label/CheckboxWithLabel.tsx
  src/shared/components/checkbox/Checkbox.module.css
  src/shared/components/checkbox/Checkbox.test.tsx
  src/shared/components/checkbox/Checkbox.tsx
  src/shared/components/data-table/components/main/components/table-row/components/row-selector/RowSelector.tsx
  src/shared/components/data-table/components/table-controls/components/table-actions/components/show-hide-columns/ShowHideColumns.test.tsx
  src/shared/components/data-table/components/table-controls/components/table-actions/components/show-hide-columns/ShowHideColumns.tsx
  src/shared/components/instant-download/instant-download-gene/InstantDownloadGene.tsx
  src/shared/components/instant-download/instant-download-protein/InstantDownloadProtein.tsx
  src/shared/components/instant-download/instant-download-regulation/InstantDownloadRegFeature.tsx
  src/shared/components/instant-download/instant-download-transcript/InstantDownloadTranscript.tsx
  stories/shared-components/checkbox-with-label/CheckboxWithLabel.stories.module.css
  stories/shared-components/checkbox-with-label/CheckboxWithLabel.stories.tsx
  stories/shared-components/checkbox/Checkbox.stories.tsx
  stories/shared-components/loading-button/LoadingButton.stories.tsx
  stylelint.config.js
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Prevent tabbing into the closed drawer
  src/shared/components/layout/StandardAppLayout.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Prevent the stretching of buttons inside CSS grid on Species Page
  src/content/app/species/SpeciesPage.module.css
  src/content/app/species/components/species-title-area/SpeciesTitleArea.module.css
Due: stylelint

Use html dialog element for the Modal component
  src/shared/components/help-popup/HelpPopupButton.tsx
  src/shared/components/modal/Modal.module.css
  src/shared/components/modal/Modal.tsx
  stories/shared-components/modal/Modal.stories.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Update search modals on Species page and Genome browser page to fix scrolling issue
  src/content/app/genome-browser/components/browser-sidebar-modal/modal-views/SearchModal.tsx
  src/content/app/species/components/species-sidebar-modal/modal-views/SpeciesSidebarSearch.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Add epigenome selection
  src/content/app/regulatory-activity-viewer/RegulatoryActivityViewer.tsx
  src/content/app/regulatory-activity-viewer/components/epigenome-selection-panel/EpigenomeSelectionPanel.module.css
  src/content/app/regulatory-activity-viewer/components/epigenome-selection-panel/EpigenomeSelectionPanel.tsx
  src/content/app/regulatory-activity-viewer/components/epigenome-selection-panel/epigenome-metadata-dimension-panel/EpigenomeMetadataDimensionPanel.module.css
  src/content/app/regulatory-activity-viewer/components/epigenome-selection-panel/epigenome-metadata-dimension-panel/EpigenomeMetadataDimensionPanel.tsx
  src/content/app/regulatory-activity-viewer/components/epigenome-selection-panel/epigenome-selectable-metadata-item/EpigenomeSelectableMetadataItem.module.css
  src/content/app/regulatory-activity-viewer/components/epigenome-selection-panel/epigenome-selectable-metadata-item/EpigenomeSelectableMetadataItem.tsx
  src/content/app/regulatory-activity-viewer/components/epigenome-selection-panel/getEpigenomeCounts.ts
  src/content/app/regulatory-activity-viewer/components/selected-epigenomes/SelectedEpigenomes.tsx
  src/content/app/regulatory-activity-viewer/components/selected-epigenomes/combineEpigenomes.ts
  src/content/app/regulatory-activity-viewer/state/api/activityViewerApiSlice.ts
  src/content/app/regulatory-activity-viewer/state/epigenome-selection/epigenomeSelectionSelectors.ts
  src/content/app/regulatory-activity-viewer/state/epigenome-selection/epigenomeSelectionSlice.ts
  src/content/app/regulatory-activity-viewer/types/epigenome.ts
  src/content/app/regulatory-activity-viewer/types/epigenomeMetadataDimensions.ts
  tests/fixtures/activity-viewer/epigenomes-metadata/mockHumanBaseEpigenomes.ts
  tests/fixtures/activity-viewer/epigenomes-metadata/mockHumanEpigenomeMetadataDimensions.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Update the shape of epigenomes and epigenome metadata, and fix type errors
  src/content/app/regulatory-activity-viewer/components/epigenome-selection-panel/EpigenomeSelectionPanel.tsx
  src/content/app/regulatory-activity-viewer/components/epigenome-selection-panel/epigenome-metadata-dimension-panel/EpigenomeMetadataDimensionPanel.tsx
  src/content/app/regulatory-activity-viewer/components/epigenome-selection-panel/getEpigenomeCounts.ts
  src/content/app/regulatory-activity-viewer/components/selected-epigenomes/SelectedEpigenomes.tsx
  src/content/app/regulatory-activity-viewer/components/selected-epigenomes/combineEpigenomes.ts
  src/content/app/regulatory-activity-viewer/state/api/activityViewerApiSlice.ts
  src/content/app/regulatory-activity-viewer/types/epigenome.ts
  src/content/app/regulatory-activity-viewer/types/epigenomeMetadataDimensions.ts
  tests/fixtures/activity-viewer/epigenomes-metadata/mockHumanBaseEpigenomes.ts
  tests/fixtures/activity-viewer/epigenomes-metadata/mockHumanEpigenomeMetadataDimensions.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Updates to the presentation of selected epigenomes
  src/content/app/regulatory-activity-viewer/RegulatoryActivityViewer.tsx
  src/content/app/regulatory-activity-viewer/components/activity-viewer-sidebar/epigenome-filters-view/EpigenomeFiltersView.module.css
  src/content/app/regulatory-activity-viewer/components/activity-viewer-sidebar/epigenome-filters-view/EpigenomeFiltersView.tsx
  src/content/app/regulatory-activity-viewer/components/activity-viewer-sidebar/sidebar-default-view/SidebarDefaultView.tsx
  src/content/app/regulatory-activity-viewer/components/activity-viewer-sidebar/sidebar-navigation/SidebarNavigation.module.css
  src/content/app/regulatory-activity-viewer/components/activity-viewer-sidebar/sidebar-navigation/SidebarNavigation.tsx
  src/content/app/regulatory-activity-viewer/components/epigenome-selection-modal/EpigenomeSelectionModal.tsx
  src/content/app/regulatory-activity-viewer/components/epigenome-selection-panel/EpigenomeSelectionPanel.module.css
  src/content/app/regulatory-activity-viewer/components/epigenome-selection-panel/EpigenomeSelectionPanel.tsx
  src/content/app/regulatory-activity-viewer/components/epigenome-selection-panel/epigenome-metadata-dimension-panel/EpigenomeMetadataDimensionPanel.module.css
  src/content/app/regulatory-activity-viewer/components/main-content-bottom-view-controls/MainContentBottomViewControls.module.css
  src/content/app/regulatory-activity-viewer/components/main-content-bottom-view-controls/MainContentBottomViewControls.tsx
  src/content/app/regulatory-activity-viewer/components/selected-epigenomes/SelectedEpigenomes.module.css
  src/content/app/regulatory-activity-viewer/components/selected-epigenomes/SelectedEpigenomes.tsx
  src/content/app/regulatory-activity-viewer/state/ui/uiSelectors.ts
  src/content/app/regulatory-activity-viewer/state/ui/uiSlice.ts
  src/shared/components/collapsible-section/CollapsibleSection.module.css
  src/shared/components/collapsible-section/CollapsibleSection.tsx
  src/shared/components/delete-button/DeleteButton.module.css
  stories/shared-components/collapsible-section/CollapsibleSection.stories.module.css
  stories/shared-components/collapsible-section/CollapsibleSection.stories.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Add fix for IndexedDB
  src/services/indexeddb-service.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Use the Node server to serve robots.txt and a Google site verification html
  src/server/routes/seoRouter.ts
  src/server/server.ts
  src/server/static-files/google-site-verification.txt
  src/server/static-files/robots.txt
  webpack/paths.ts
  webpack/server/common.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Bring back the combining of epigenomes
  src/content/app/regulatory-activity-viewer/components/selected-epigenomes/SelectedEpigenomes.module.css
  src/content/app/regulatory-activity-viewer/components/selected-epigenomes/SelectedEpigenomes.tsx
  src/content/app/regulatory-activity-viewer/state/epigenome-selection/epigenomeSelectionSlice.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Serve different robots.txt files depending on environment
  src/server/helpers/getConfigForClient.ts
  src/server/helpers/getConfigForServer.ts
  src/server/routes/seoRouter.ts
  src/server/static-files/restrictive-robots.txt
  webpack/client/production.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update epigenome selection slice to depend on genome ids
  src/content/app/regulatory-activity-viewer/RegulatoryActivityViewer.tsx
  src/content/app/regulatory-activity-viewer/components/activity-viewer-sidebar/ActivityViewerSidebar.tsx
  src/content/app/regulatory-activity-viewer/components/activity-viewer-sidebar/epigenome-filters-view/EpigenomeFiltersView.tsx
  src/content/app/regulatory-activity-viewer/components/epigenome-selection-modal/EpigenomeSelectionModal.tsx
  src/content/app/regulatory-activity-viewer/components/epigenome-selection-panel/EpigenomeSelectionPanel.tsx
  src/content/app/regulatory-activity-viewer/components/selected-epigenomes/SelectedEpigenomes.tsx
  src/content/app/regulatory-activity-viewer/state/epigenome-selection/epigenomeSelectionSelectors.ts
  src/content/app/regulatory-activity-viewer/state/epigenome-selection/epigenomeSelectionSlice.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Pre-select epigenomes if none are selected and metadata api payload contains default selection instructions
  src/content/app/regulatory-activity-viewer/RegulatoryActivityViewer.tsx
  src/content/app/regulatory-activity-viewer/hooks/usePreselectedEpigenomes.ts
  src/content/app/regulatory-activity-viewer/state/epigenome-selection/epigenomeSelectionSelectors.ts
  src/content/app/regulatory-activity-viewer/types/epigenomeMetadataDimensions.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Minor cleanup; plus create combined epigenome ids
  src/content/app/regulatory-activity-viewer/components/selected-epigenomes/SelectedEpigenomes.tsx
  src/content/app/regulatory-activity-viewer/components/selected-epigenomes/combineEpigenomes.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Better check for when to set default epigenomes
  src/content/app/regulatory-activity-viewer/hooks/usePreselectedEpigenomes.ts
  src/content/app/regulatory-activity-viewer/state/epigenome-selection/epigenomeSelectionSelectors.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Add epigenome selection in Regulatory activity viewer (#1188)
  src/content/app/regulatory-activity-viewer/RegulatoryActivityViewer.tsx
  src/content/app/regulatory-activity-viewer/components/activity-viewer-sidebar/ActivityViewerSidebar.tsx
  src/content/app/regulatory-activity-viewer/components/activity-viewer-sidebar/epigenome-filters-view/EpigenomeFiltersView.module.css
  src/content/app/regulatory-activity-viewer/components/activity-viewer-sidebar/epigenome-filters-view/EpigenomeFiltersView.tsx
  src/content/app/regulatory-activity-viewer/components/activity-viewer-sidebar/sidebar-default-view/SidebarDefaultView.tsx
  src/content/app/regulatory-activity-viewer/components/activity-viewer-sidebar/sidebar-navigation/SidebarNavigation.module.css
  src/content/app/regulatory-activity-viewer/components/activity-viewer-sidebar/sidebar-navigation/SidebarNavigation.tsx
  src/content/app/regulatory-activity-viewer/components/epigenome-selection-modal/EpigenomeSelectionModal.tsx
  src/content/app/regulatory-activity-viewer/components/epigenome-selection-panel/EpigenomeSelectionPanel.module.css
  src/content/app/regulatory-activity-viewer/components/epigenome-selection-panel/EpigenomeSelectionPanel.tsx
  src/content/app/regulatory-activity-viewer/components/epigenome-selection-panel/epigenome-metadata-dimension-panel/EpigenomeMetadataDimensionPanel.module.css
  src/content/app/regulatory-activity-viewer/components/epigenome-selection-panel/epigenome-metadata-dimension-panel/EpigenomeMetadataDimensionPanel.tsx
  src/content/app/regulatory-activity-viewer/components/epigenome-selection-panel/epigenome-selectable-metadata-item/EpigenomeSelectableMetadataItem.module.css
  src/content/app/regulatory-activity-viewer/components/epigenome-selection-panel/epigenome-selectable-metadata-item/EpigenomeSelectableMetadataItem.tsx
  src/content/app/regulatory-activity-viewer/components/epigenome-selection-panel/getEpigenomeCounts.ts
  src/content/app/regulatory-activity-viewer/components/main-content-bottom-view-controls/MainContentBottomViewControls.module.css
  src/content/app/regulatory-activity-viewer/components/main-content-bottom-view-controls/MainContentBottomViewControls.tsx
  src/content/app/regulatory-activity-viewer/components/selected-epigenomes/SelectedEpigenomes.module.css
  src/content/app/regulatory-activity-viewer/components/selected-epigenomes/SelectedEpigenomes.tsx
  src/content/app/regulatory-activity-viewer/components/selected-epigenomes/combineEpigenomes.ts
  src/content/app/regulatory-activity-viewer/hooks/usePreselectedEpigenomes.ts
  src/content/app/regulatory-activity-viewer/state/api/activityViewerApiSlice.ts
  src/content/app/regulatory-activity-viewer/state/epigenome-selection/epigenomeSelectionSelectors.ts
  src/content/app/regulatory-activity-viewer/state/epigenome-selection/epigenomeSelectionSlice.ts
  src/content/app/regulatory-activity-viewer/state/ui/uiSelectors.ts
  src/content/app/regulatory-activity-viewer/state/ui/uiSlice.ts
  src/content/app/regulatory-activity-viewer/types/epigenome.ts
  src/content/app/regulatory-activity-viewer/types/epigenomeMetadataDimensions.ts
  src/shared/components/collapsible-section/CollapsibleSection.module.css
  src/shared/components/collapsible-section/CollapsibleSection.tsx
  src/shared/components/delete-button/DeleteButton.module.css
  stories/shared-components/collapsible-section/CollapsibleSection.stories.module.css
  stories/shared-components/collapsible-section/CollapsibleSection.stories.tsx
  tests/fixtures/activity-viewer/epigenomes-metadata/mockHumanBaseEpigenomes.ts
  tests/fixtures/activity-viewer/epigenomes-metadata/mockHumanEpigenomeMetadataDimensions.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Fix Safari bug with updating IndexedDB records that contain files (blobs)
  babel.config.js
  src/content/app/tools/vep/services/vepStorageService.ts
  src/content/app/tools/vep/state/vep-form/vepFormSlice.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

attributes integration
  biomart_filters.json
  src/content/app/tools/biomart/state/biomartApiSlice.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Fix Safari bug with updating IndexedDB records that contain files (blobs) (#1189)
  babel.config.js
  src/content/app/tools/vep/services/vepStorageService.ts
  src/content/app/tools/vep/state/vep-form/vepFormSlice.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update cleanup job
  .gitlab-ci.yml
Due: none

Apply minor version updates
  package-lock.json
  package.json
Due: none

Remove @react-spring/web from dependencies
  package-lock.json
  package.json
Due: none

Apply patch updates
  package-lock.json
  package.json
Due: none

Applied major version updates (react 18 -> 19)
  package-lock.json
  package.json
Due: none

Remove last uses of react-spring
  src/content/app/genome-browser/components/browser-cog/BrowserCog.tsx
  src/content/app/genome-browser/components/browser-cog/BrowserCogList.module.css
  src/content/app/genome-browser/components/track-settings-panel/TrackSettingsPanel.tsx
  src/content/app/genome-browser/components/track-settings-panel/track-settings-views/GeneTrackSettings.tsx
  src/content/app/genome-browser/components/track-settings-panel/track-settings-views/RegularTrackSettings.tsx
  src/content/app/genome-browser/components/track-settings-panel/track-settings-views/VariantTrackSettings.tsx
  src/shared/components/communication-framework/contact-us/contact-us-form/submit-slider/SubmitSlider.module.css
  src/shared/components/communication-framework/contact-us/contact-us-form/submit-slider/SubmitSlider.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Fix type errors
  src/content/app/genome-browser/components/browser-location-indicator/BrowserLocationIndicator.tsx
  src/content/app/genome-browser/components/browser-track-legend/BrowserTrackLegend.tsx
  src/content/app/genome-browser/components/zmenu/Zmenu.tsx
  src/content/app/genome-browser/components/zmenu/ZmenuController.tsx
  src/shared/components/accordion/components/Accordion.test.tsx
  src/shared/components/accordion/components/Accordion.tsx
  src/shared/components/accordion/components/AccordionContext.tsx
  src/shared/components/accordion/components/AccordionItemButton.tsx
  src/shared/components/accordion/components/AccordionItemPanel.tsx
  src/shared/components/accordion/components/AccordionItemState.tsx
  src/shared/components/accordion/components/ItemContext.tsx
  src/shared/components/communication-framework/communicationPanelContext.ts
  src/shared/components/communication-framework/contact-us/contact-us-form/initial/ContactUsInitialForm.tsx
  src/shared/components/communication-framework/contact-us/contact-us-form/submit-slider/SubmitSlider.tsx
  src/shared/components/download-button/DownloadLink.tsx
  src/shared/components/feature-summary-strip/FeatureSummaryStrip.tsx
  src/shared/components/help-article/TextArticle.tsx
  src/shared/components/input/useClearInput.ts
  src/shared/components/input/useInputFocus.ts
  src/shared/components/input/useInputPlaceholder.ts
  src/shared/components/layout/StandardAppLayout.tsx
  src/shared/components/show-hide/ShowHide.tsx
  src/shared/components/species-tabs-slider/useSliderGestures.ts
  src/shared/components/species-tabs-slider/useSpeciesTabsSlider.ts
  src/shared/components/species-tabs-slider/useVisibleActiveSpecies.ts
  src/shared/components/upload/hooks/useFileDrop.ts
  src/shared/hooks/useApiService.ts
  src/shared/hooks/useHover.tsx
  src/shared/hooks/useOutsideClick.tsx
  src/shared/hooks/usePrevious.ts
  src/shared/hooks/useResizeObserver.ts
  stories/shared-components/pointer-box/pointerBoxPositioningStory.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Stop using forwardRef
  src/content/app/genome-browser/components/track-settings-panel/track-settings-views/GeneTrackSettings.tsx
  src/content/app/genome-browser/components/track-settings-panel/track-settings-views/RegularTrackSettings.tsx
  src/content/app/genome-browser/components/track-settings-panel/track-settings-views/VariantTrackSettings.tsx
  src/shared/components/delete-button/DeleteButton.tsx
  src/shared/components/download-button/DownloadButton.tsx
  src/shared/components/feature-summary-strip/FeatureSummaryStrip.test.tsx
  src/shared/components/feature-summary-strip/FeatureSummaryStrip.tsx
  src/shared/components/feature-summary-strip/GeneSummaryStrip.tsx
  src/shared/components/feature-summary-strip/LocationSummaryStrip.tsx
  src/shared/components/feature-summary-strip/VariantSummaryStrip.tsx
  src/shared/components/input/FlatInput.tsx
  src/shared/components/input/Input.tsx
  src/shared/components/input/ShadedInput.tsx
  src/shared/components/pill-button/PillButton.tsx
  src/shared/components/simple-select/SimpleSelect.tsx
  src/shared/components/text-button/TextButton.tsx
  src/shared/components/textarea/ShadedTextarea.tsx
  src/shared/components/textarea/Textarea.tsx
  src/shared/hooks/useForwardedRef.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Path conditions:
  eslint --max-warnings=0: any of: *.{ts,tsx}
  manage-licence-header add: any of: *.{ts,tsx}
  prettier --write: any of: *.{ts,tsx}
  stylelint: any of: *.css
