Repository Ensembl/ensembl-client: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

.lintstagedrc.json:

{
  "*.{ts,tsx}": [
    "eslint --max-warnings=0",
    "manage-licence-header add",
    "prettier --write"
  ],
  "*.scss": [
    "stylelint",
    "prettier --write"
  ]
}

PR feedback
  src/shared/components/deletion-confirmation/DeletionConfirmation.scss
Due: prettier --write, stylelint

needs -> need
  src/shared/components/data-table/hooks/useDataTable.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

PR feedback
  src/shared/components/deletion-confirmation/DeletionConfirmation.scss
  src/shared/components/deletion-confirmation/DeletionConfirmation.test.tsx
  src/shared/components/deletion-confirmation/DeletionConfirmation.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

updating test after making changes to component
  src/shared/components/deletion-confirmation/DeletionConfirmation.test.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Shared Pagination component
  src/shared/components/data-table/components/table-controls/TableControls.tsx
  src/shared/components/data-table/hooks/useDataTable.ts
  src/shared/components/pagination/Pagination.scss
  src/shared/components/pagination/Pagination.test.tsx
  src/shared/components/pagination/Pagination.tsx
  stories/shared-components/pagination/Pagination.stories.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

lastPageNumber cannot be 0
  src/shared/components/data-table/components/table-controls/TableControls.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update type names
  src/content/app/tools/blast/components/blast-hits-diagram/BlastHitsDiagram.tsx
  src/content/app/tools/blast/components/listed-blast-submission/ListedBlastSubmission.tsx
  src/content/app/tools/blast/services/blastStorageService.ts
  src/content/app/tools/blast/state/blast-results/blastResultsSlice.ts
  src/content/app/tools/blast/state/epics/blastEpics.ts
  src/content/app/tools/blast/types/blastJob.ts
  src/content/app/tools/blast/views/blast-submission-results/BlastSubmissionResults.tsx
  src/content/app/tools/blast/views/blast-submission-results/components/blast-results-per-sequence/BlastResultsPerSequence.tsx
  src/content/app/tools/blast/views/blast-submission-results/components/single-blast-job-result/SingleBlastJobResult.tsx
  tests/fixtures/blast/blastSubmission.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

update component in sttorybook after code change
  stories/shared-components/deletion-confirmation/DeletionConfirmation.stories.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Add onSearchSubmit callback to InAppSearch
  src/shared/components/in-app-search/InAppSearch.test.tsx
  src/shared/components/in-app-search/InAppSearch.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Test cleanups
  src/shared/components/pagination/Pagination.test.tsx
  src/shared/components/pagination/Pagination.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Add onSearchSubmit callback to InAppSearch (#829)
  src/shared/components/in-app-search/InAppSearch.test.tsx
  src/shared/components/in-app-search/InAppSearch.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Optionally pass feature
  src/content/app/genome-browser/Browser.test.tsx
  src/content/app/genome-browser/Browser.tsx
  src/content/app/genome-browser/components/browser-app-bar/BrowserAppBar.tsx
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/TrackPanelList.tsx
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/track-panel-items/TrackPanelRegularItem.tsx
  src/content/app/genome-browser/components/track-panel/components/track-panel-tabs/TrackPanelTabs.test.tsx
  src/content/app/genome-browser/components/track-panel/components/track-panel-tabs/TrackPanelTabs.tsx
  src/content/app/genome-browser/components/track-settings-panel/TrackSettingsPanel.test.tsx
  src/content/app/genome-browser/components/track-settings-panel/useTrackSettings.ts
  src/content/app/genome-browser/hooks/useGenomeBrowserAnalytics.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Show submission header while all submission's jobs are being loaded
  src/content/app/tools/blast/views/blast-submission-results/BlastSubmissionResults.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Blast submission can be undefined
  src/content/app/tools/blast/state/blast-results/blastResultsSelectors.ts
  src/content/app/tools/blast/views/blast-submission-results/BlastSubmissionResults.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

layout for long warning text
  src/shared/components/deletion-confirmation/DeletionConfirmation.scss
  src/shared/components/deletion-confirmation/DeletionConfirmation.tsx
  stories/shared-components/deletion-confirmation/DeletionConfirmation.stories.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

more tweak to layout
  src/shared/components/deletion-confirmation/DeletionConfirmation.scss
  src/shared/components/deletion-confirmation/DeletionConfirmation.tsx
  stories/shared-components/deletion-confirmation/DeletionConfirmation.scss
  stories/shared-components/deletion-confirmation/DeletionConfirmation.stories.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Use the latest version of 0.5.1 genome browser
  package-lock.json
Due: none

According section tracking update
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/TrackPanelList.tsx
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/track-panel-items/TrackPanelRegularItem.tsx
  src/content/app/genome-browser/hooks/useGenomeBrowserAnalytics.ts
  src/shared/components/accordion/components/AccordionItemButton.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Use genome UUIDs and rename url_slug to genome_tag (#813)
  package-lock.json
  package.json
  src/content/app/entity-viewer/hooks/useEntityViewerIds.ts
  src/content/app/entity-viewer/shared/components/entity-viewer-app-bar/EntityViewerAppBar.tsx
  src/content/app/genome-browser/components/zmenu/Zmenu.tsx
  src/content/app/genome-browser/hooks/useBrowserRouting.test.tsx
  src/content/app/genome-browser/hooks/useBrowserRouting.ts
  src/content/app/genome-browser/hooks/useGenomeBrowserIds.ts
  src/content/app/species-selector/components/popular-species-button/PopularSpeciesButton.tsx
  src/content/app/species-selector/components/species-search-field/SpeciesSearchField.test.tsx
  src/content/app/species-selector/components/species-search-match/SpeciesSearchMatch.test.tsx
  src/content/app/species-selector/components/species-selector-app-bar/SpeciesSelectorAppBar.tsx
  src/content/app/species-selector/state/speciesSelectorEpics.ts
  src/content/app/species-selector/state/speciesSelectorSlice.ts
  src/content/app/species-selector/types/species-search.ts
  src/content/app/species/SpeciesPageContent.tsx
  src/content/app/species/sample-data.ts
  src/content/app/tools/blast/components/blast-app-bar/BlastAppBar.test.tsx
  src/content/app/tools/blast/components/blast-species-selector/speciesList.ts
  src/shared/components/error-screen/url-errors/MissingGenomeError.tsx
  src/shared/components/in-app-search/test/response-fixture.ts
  src/shared/state/genome/genomeApiSlice.ts
  src/shared/state/genome/genomeSelectors.ts
  src/shared/state/genome/genomeSlice.ts
  src/shared/state/genome/genomeTypes.ts
  stories/shared-components/species-tabs-wrapper/speciesData.ts
  tests/fixtures/browser.ts
  tests/fixtures/popular-species.ts
  tests/fixtures/selected-species.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Enable automatic retries for 500 errors
  src/shared/state/api-slices/restSlice.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Address remaining code review comments
  src/content/app/tools/blast/views/blast-submission-results/components/blast-results-per-sequence/BlastResultsPerSequence.tsx
  src/shared/state/api-slices/restSlice.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Load all BLAST results within a submission before displaying (#827)
  src/content/app/tools/blast/components/blast-hits-diagram/BlastHitsDiagram.tsx
  src/content/app/tools/blast/state/blast-api/blastApiSlice.ts
  src/content/app/tools/blast/state/blast-results/blastResultsSelectors.ts
  src/content/app/tools/blast/state/blast-results/blastResultsSlice.ts
  src/content/app/tools/blast/state/epics/blastEpics.ts
  src/content/app/tools/blast/types/blastJob.ts
  src/content/app/tools/blast/views/blast-submission-results/BlastSubmissionResults.scss
  src/content/app/tools/blast/views/blast-submission-results/BlastSubmissionResults.tsx
  src/content/app/tools/blast/views/blast-submission-results/components/blast-results-per-sequence/BlastResultsPerSequence.tsx
  src/content/app/tools/blast/views/blast-submission-results/components/single-blast-job-result/SingleBlastJobResult.tsx
  src/shared/state/api-slices/restSlice.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Make ruler's labels white in EntityViewer context
  src/content/app/entity-viewer/gene-view/components/gene-overview-image/GeneOverviewImage.scss
Due: prettier --write, stylelint

Customise units label and the colors for the ruler
  src/content/app/entity-viewer/gene-view/components/base-pairs-ruler/BasePairsRuler.scss
  src/content/app/entity-viewer/gene-view/components/base-pairs-ruler/BasePairsRuler.tsx
  src/content/app/entity-viewer/gene-view/components/gene-overview-image/GeneOverviewImage.tsx
  src/content/app/tools/blast/views/blast-submission-results/components/blast-results-per-sequence/BlastResultsPerSequence.scss
  src/content/app/tools/blast/views/blast-submission-results/components/blast-results-per-sequence/BlastResultsPerSequence.tsx
  stories/entity-viewer/base-pairs-ruler/BasePairsRuler.stories.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Rename BasePairsRuler to FeatureLengthRuler
  src/content/app/entity-viewer/gene-view/GeneView.tsx
  src/content/app/entity-viewer/gene-view/components/default-transcripts-list/DefaultTranscriptsList.tsx
  src/content/app/entity-viewer/gene-view/components/default-transcripts-list/default-transcripts-list-item/DefaultTranscriptListItem.tsx
  src/content/app/entity-viewer/gene-view/components/gene-overview-image/GeneOverviewImage.tsx
  src/content/app/tools/blast/views/blast-submission-results/components/blast-results-per-sequence/BlastResultsPerSequence.tsx
  src/shared/components/feature-length-ruler/FeatureLengthRuler.scss
  src/shared/components/feature-length-ruler/FeatureLengthRuler.test.tsx
  src/shared/components/feature-length-ruler/FeatureLengthRuler.tsx
  src/shared/components/feature-length-ruler/featureLengthRulerHelper.test.ts
  src/shared/components/feature-length-ruler/featureLengthRulerHelper.ts
  stories/shared-components/feature-length-ruler/FeatureLengthRuler.stories.scss
  stories/shared-components/feature-length-ruler/FeatureLengthRuler.stories.tsx
  tests/fixtures/entity-viewer/gene.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Update the FeatureLengthRuler story
  stories/shared-components/feature-length-ruler/FeatureLengthRuler.stories.scss
  stories/shared-components/feature-length-ruler/FeatureLengthRuler.stories.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

status -> isExpanded
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/TrackPanelList.tsx
  src/content/app/genome-browser/hooks/useGenomeBrowserAnalytics.ts
  src/shared/components/accordion/components/AccordionItemButton.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Fix select/deselect all
  src/content/app/tools/blast/views/blast-submission-results/components/single-blast-job-result/SingleBlastJobResult.scss
  src/content/app/tools/blast/views/blast-submission-results/components/single-blast-job-result/SingleBlastJobResult.tsx
  src/shared/components/data-table/components/main/components/table-row/components/row-visibility-controller/RowVisibilityController.tsx
  src/shared/components/data-table/hooks/useDataTable.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

feedback
  src/shared/components/deletion-confirmation/DeletionConfirmation.test.tsx
  src/shared/components/deletion-confirmation/DeletionConfirmation.tsx
  stories/shared-components/deletion-confirmation/DeletionConfirmation.stories.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Rename to First 5 transcripts
  src/content/app/genome-browser/components/track-settings-panel/track-settings-views/GeneTrackSettings.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

feedback
  src/shared/components/deletion-confirmation/DeletionConfirmation.test.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Skip request to track categories if genomeId is null
  src/content/app/genome-browser/hooks/useGenomeBrowserTracks.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Fix types
  src/content/app/genome-browser/hooks/useGenomeBrowserTracks.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

create delete confirmation component and added to storybook (#828)
  src/shared/components/deletion-confirmation/DeletionConfirmation.scss
  src/shared/components/deletion-confirmation/DeletionConfirmation.test.tsx
  src/shared/components/deletion-confirmation/DeletionConfirmation.tsx
  stories/shared-components/deletion-confirmation/DeletionConfirmation.scss
  stories/shared-components/deletion-confirmation/DeletionConfirmation.stories.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

deleting job confirmation message
  src/content/app/tools/blast/components/blast-submission-header/BlastSubmissionHeader.scss
  src/content/app/tools/blast/components/blast-submission-header/BlastSubmissionHeader.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Fix GB in-app search bug selecting current feature
  src/content/app/genome-browser/state/browser-general/browserGeneralSlice.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

PR feedback
  src/content/app/tools/blast/components/blast-app-bar/BlastAppBar.test.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

aligning buttons
  src/content/app/tools/shared/components/tools-top-bar/ToolsTopBar.scss
Due: prettier --write, stylelint

move blastview to redux
  src/content/app/tools/blast/components/blast-app-bar/BlastAppBar.test.tsx
  src/content/app/tools/blast/components/blast-app-bar/BlastAppBar.tsx
  src/content/app/tools/blast/components/blast-submission-header/BlastSubmissionHeader.tsx
  src/content/app/tools/blast/components/listed-blast-submission/ListedBlastSubmission.test.tsx
  src/content/app/tools/blast/state/general/blastGeneralSelectors.ts
  src/content/app/tools/blast/state/general/blastGeneralSlice.ts
  src/content/app/tools/blast/views/blast-form/BlastForm.tsx
  src/content/app/tools/blast/views/blast-submission-results/BlastSubmissionResults.tsx
  src/content/app/tools/blast/views/blast-submissions/BlastSubmissions.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write
