Repository Ensembl/ensembl-client: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

.lintstagedrc.json:

{
  "*.{ts,tsx}": [
    "eslint --max-warnings=0",
    "manage-licence-header add",
    "prettier --write"
  ],
  "*.scss": [
    "stylelint",
    "prettier --write"
  ]
}

Remove unused file
  stories/shared-components/table/fakeData.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update to version 0.5.0
  package-lock.json
  package.json
Due: none

Update commit hash in package-lock for 0.5.0
  package-lock.json
Due: none

Update tests for TrackPanelList component (#800)
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/TrackPanelList.test.tsx
  tests/fixtures/browser.ts
  tests/fixtures/genomes.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Add a simple table shared component (#803)
  src/shared/components/table/RowFooter.tsx
  src/shared/components/table/Table.scss
  src/shared/components/table/Table.tsx
  src/shared/components/table/index.ts
  static/icons/icon_arrow.svg
  stories/shared-components/table/Table.stories.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Prevent ShowHide line wrapping
  src/shared/components/show-hide/ShowHide.scss
Due: prettier --write, stylelint

Use simple table
  src/content/app/tools/blast/views/blast-submission-results/BlastSubmissionResults.tsx
  src/shared/components/data-table/DataTable.scss
  src/shared/components/data-table/DataTable.tsx
  src/shared/components/data-table/components/main/components/table-cell/TableCell.tsx
  src/shared/components/data-table/components/main/components/table-header/TableHeader.tsx
  src/shared/components/data-table/components/main/components/table-row/TableRow.tsx
  src/shared/components/table/Table.scss
  src/shared/components/table/Table.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Remove thead tr border
  src/shared/components/table/Table.scss
Due: prettier --write, stylelint

Update genome browser to version 0.5.0 (#802)
  package-lock.json
  package.json
Due: none

show hide blast alignments in result view
  src/content/app/tools/blast/views/blast-submission-results/BlastSubmissionResults.scss
  src/content/app/tools/blast/views/blast-submission-results/BlastSubmissionResults.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Prevent ShowHide line wrapping (#804)
  src/shared/components/show-hide/ShowHide.scss
Due: prettier --write, stylelint

ViewInApp minor refactor
  src/content/app/genome-browser/components/zmenu/ZmenuAppLinks.tsx
  src/shared/components/view-in-app/ViewInApp.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Fix tests
  src/content/app/genome-browser/components/browser-sidebar-modal/modal-views/BookmarksModal.test.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Remove comments
  src/shared/components/view-in-app/ViewInApp.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Put back events
  src/shared/components/view-in-app/ViewInApp.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

PR feedback
  src/content/app/tools/blast/views/blast-submission-results/BlastSubmissionResults.scss
  src/content/app/tools/blast/views/blast-submission-results/BlastSubmissionResults.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Separate file for types
  src/content/app/tools/blast/views/blast-submission-results/BlastSubmissionResults.tsx
  src/shared/components/data-table/DataTable.tsx
  src/shared/components/data-table/components/main/components/table-body/TableBody.tsx
  src/shared/components/data-table/components/main/components/table-header/TableHeader.tsx
  src/shared/components/data-table/components/main/components/table-header/components/table-header-cell/TableHeaderCell.tsx
  src/shared/components/data-table/components/main/components/table-row/TableRow.tsx
  src/shared/components/data-table/components/main/components/table-row/components/row-selector/RowSelector.tsx
  src/shared/components/data-table/components/main/components/table-row/components/row-visibility-controller/RowVisibilityController.tsx
  src/shared/components/data-table/components/table-controls/components/rows-per-page-selector/RowsPerPageSelector.tsx
  src/shared/components/data-table/components/table-controls/components/table-actions/TableActions.tsx
  src/shared/components/data-table/components/table-controls/components/table-actions/components/find-in-table/FindInTable.tsx
  src/shared/components/data-table/components/table-controls/components/table-actions/components/popup-panel/PopupPanel.tsx
  src/shared/components/data-table/dataTableReducer.ts
  src/shared/components/data-table/dataTableTypes.ts
  stories/shared-components/data-table/DataTable.stories.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update stories
  src/shared/components/data-table/DataTable.tsx
  src/shared/components/data-table/components/main/components/table-header/TableHeader.scss
  src/shared/components/data-table/components/table-controls/components/table-actions/components/find-in-table/FindInTable.tsx
  stories/shared-components/data-table/DataTable.stories.scss
  stories/shared-components/data-table/DataTable.stories.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

classname variable
  src/content/app/tools/blast/views/blast-submission-results/BlastSubmissionResults.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Use find instead of filter to get 'speciesInfo'
  src/content/app/tools/blast/views/blast-submission-results/BlastSubmissionResults.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

rearrange import
  src/content/app/tools/blast/views/blast-submission-results/BlastSubmissionResults.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Use Infinity instead of 0
  src/shared/components/data-table/components/main/components/table-body/TableBody.tsx
  src/shared/components/data-table/components/main/components/table-header/TableHeader.tsx
  src/shared/components/data-table/components/main/components/table-row/TableRow.tsx
  src/shared/components/data-table/components/table-controls/components/pagination/Pagination.tsx
  src/shared/components/data-table/components/table-controls/components/rows-per-page-selector/RowsPerPageSelector.tsx
  src/shared/components/data-table/dataTableTypes.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

PR review cleanups
  src/shared/components/data-table/DataTable.tsx
  src/shared/components/data-table/components/main/components/table-body/TableBody.tsx
  src/shared/components/data-table/components/table-controls/components/rows-per-page-selector/RowsPerPageSelector.tsx
  src/shared/components/data-table/components/table-controls/components/table-actions/TableActions.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Make sequence box in BLAST results view collapsible (#805)
  src/content/app/tools/blast/views/blast-submission-results/BlastSubmissionResults.scss
  src/content/app/tools/blast/views/blast-submission-results/BlastSubmissionResults.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Use svg for sort arrow
  src/shared/components/data-table/components/main/components/table-header/TableHeader.scss
  src/shared/components/data-table/components/main/components/table-header/components/table-header-cell/TableHeaderCell.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Fix header background
  src/shared/components/data-table/DataTable.scss
  src/shared/components/data-table/DataTable.tsx
  src/shared/components/data-table/components/main/components/table-header/TableHeader.tsx
  stories/shared-components/data-table/DataTable.stories.scss
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Mark BLAST submission as seen when visitor views it
  src/content/app/tools/blast/BlastPage.tsx
  src/content/app/tools/blast/components/blast-views-navigation/BlastViewsNavigation.tsx
  src/content/app/tools/blast/services/blastStorageService.ts
  src/content/app/tools/blast/state/blast-results/blastResultsSelectors.ts
  src/content/app/tools/blast/state/blast-results/blastResultsSlice.ts
  src/content/app/tools/blast/views/blast-submission-results/BlastSubmissionResults.tsx
  src/content/app/tools/blast/views/blast-submissions/BlastSubmissions.scss
  src/content/app/tools/blast/views/blast-submissions/BlastSubmissions.tsx
  src/content/app/tools/blast/views/blast-unviewed-submissions/BlastUnviewedSubmissions.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Change helptext
  src/content/app/tools/blast/views/blast-submission-results/BlastSubmissionResults.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Cleanups
  src/content/app/genome-browser/components/zmenu/ZmenuAppLinks.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Use navigate
  src/content/app/genome-browser/components/zmenu/ZmenuAppLinks.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

PR review cleanups
  src/content/app/tools/blast/views/blast-submission-results/BlastSubmissionResults.scss
  src/content/app/tools/blast/views/blast-submission-results/BlastSubmissionResults.tsx
  src/shared/components/data-table/DataTable.scss
  src/shared/components/data-table/components/main/components/table-header/TableHeader.scss
  src/shared/components/data-table/components/main/components/table-header/TableHeader.tsx
  src/shared/components/data-table/components/main/components/table-header/components/table-header-cell/TableHeaderCell.tsx
  src/shared/components/data-table/components/table-controls/components/rows-per-page-selector/RowsPerPageSelector.tsx
  src/shared/components/data-table/components/table-controls/components/table-actions/components/download-table-data/DownloadTableData.tsx
  src/shared/components/data-table/components/table-controls/components/table-actions/components/popup-panel/PopupPanel.scss
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Put back z-ndex
  src/shared/components/data-table/DataTable.scss
  src/shared/components/data-table/components/table-controls/components/table-actions/components/popup-panel/PopupPanel.scss
Due: prettier --write, stylelint

Fix GB refocus issue (#799)
  src/content/app/genome-browser/components/browser-sidebar-modal/modal-views/BookmarksModal.test.tsx
  src/content/app/genome-browser/components/browser-sidebar-modal/modal-views/BookmarksModal.tsx
  src/content/app/genome-browser/components/zmenu/ZmenuAppLinks.tsx
  src/header/launchbar/Launchbar.scss
  src/shared/components/image-button/ImageButton.tsx
  src/shared/components/view-in-app/ViewInApp.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Mark BLAST submission as seen when visitor views it (#806)
  src/content/app/tools/blast/BlastPage.tsx
  src/content/app/tools/blast/components/blast-views-navigation/BlastViewsNavigation.tsx
  src/content/app/tools/blast/services/blastStorageService.ts
  src/content/app/tools/blast/state/blast-results/blastResultsSelectors.ts
  src/content/app/tools/blast/state/blast-results/blastResultsSlice.ts
  src/content/app/tools/blast/views/blast-submission-results/BlastSubmissionResults.tsx
  src/content/app/tools/blast/views/blast-submissions/BlastSubmissions.scss
  src/content/app/tools/blast/views/blast-submissions/BlastSubmissions.tsx
  src/content/app/tools/blast/views/blast-unviewed-submissions/BlastUnviewedSubmissions.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Add refget proxy k8s manifests.
  gitlab-ci-templates/.setup-review-template.yaml
Due: none

Create ChevronButton
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/track-panel-items/track-panel-item-layout/GroupTrackPanelItemLayout.tsx
  src/shared/components/chevron-button/ChevronButton.scss
  src/shared/components/chevron-button/ChevronButton.test.tsx
  src/shared/components/chevron-button/ChevronButton.tsx
  src/shared/components/chevron/Chevron.test.tsx
  src/shared/components/data-table/components/table-controls/components/pagination/Pagination.tsx
  src/shared/components/layout/StandardAppLayout.tsx
  stories/shared-components/chevron/Chevron.stories.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Classname for invdividual columns
  src/content/app/tools/blast/views/blast-submission-results/BlastSubmissionResults.scss
  src/content/app/tools/blast/views/blast-submission-results/BlastSubmissionResults.tsx
  src/shared/components/data-table/DataTable.scss
  src/shared/components/data-table/components/main/components/table-header/components/table-header-cell/TableHeaderCell.tsx
  src/shared/components/data-table/components/main/components/table-row/TableRow.tsx
  src/shared/components/data-table/dataTableTypes.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

PR review cleanups
  src/content/app/tools/blast/views/blast-submission-results/BlastSubmissionResults.tsx
  src/shared/components/table/Table.scss
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Fix undefined transcript in TrackPanelGene
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/track-panel-items/TrackPanelGene.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write
