Repository Ensembl/ensembl-client: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Add documentation
  README.md
  doc/testing.md
Due: none

Update copy of the doc
  doc/testing.md
Due: none

Enable both test runs: node tests and browser tests
  package.json
  src/shared/components/autosuggest-search-field/tests/AutosuggestSearchField.browser.test.tsx
  vitest.config.browser.mts
  vitest.config.mts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update and rename the dockerfile
  Dockerfile
  Dockerfile.local
Due: none

Structural variants: only show some genome browser tracks by default
  src/content/app/structural-variants/contexts/StructuralVariantsImageContext.tsx
  src/content/app/structural-variants/hooks/useStructuralVariantsTracks.ts
  src/content/app/structural-variants/state/tracks/tracksSlice.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Add an extra button for opening up the tracks configuration view
  src/content/app/structural-variants/components/structural-variants-main/StructuralVariantsMain.module.css
  src/content/app/structural-variants/components/structural-variants-main/StructuralVariantsMain.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Reset suggestions state on autosuggest submission through keyboard
  src/shared/components/autosuggest-search-field/AutosuggestSearchField.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Rewrite the search autosuggest component (#1280)
  src/shared/components/autosuggest-search-field/AutosuggestSearchField.module.css
  src/shared/components/autosuggest-search-field/AutosuggestSearchField.test.tsx
  src/shared/components/autosuggest-search-field/AutosuggestSearchField.tsx
  src/shared/components/autosuggest-search-field/AutosuggestionPanel.tsx
  src/shared/components/autosuggest-search-field/README.md
  src/shared/components/autosuggest-search-field/Suggestion.tsx
  src/shared/components/autosuggest-search-field/context/AutosuggestContext.tsx
  src/shared/components/autosuggest-search-field/context/autosuggestState.ts
  stories/shared-components/autosuggest-search-field/AutosuggestSearchField.stories.module.css
  stories/shared-components/autosuggest-search-field/AutosuggestSearchField.stories.tsx
  stories/shared-components/autosuggest-search-field/Suggestions.tsx
  stories/shared-components/autosuggest-search-field/autosuggestSearchField.md
  tests/data/species-selector/divisions.ts
  tests/data/species-selector/species-search.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Set up vitest browser mode
  .gitlab-ci.yml
  Dockerfile
  Dockerfile.local
  README.md
  doc/testing.md
  package-lock.json
  package.json
  src/shared/components/autosuggest-search-field/tests/AutosuggestSearchField.browser.test.tsx
  src/shared/components/autosuggest-search-field/tests/testData.ts
  tests/setup-browser.ts
  vitest.config.browser.mts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Add short variants legend to the sidebar
  src/content/app/structural-variants/components/structural-variants-sidebar/short-variants-legend/ShortVariantsLegend.module.css
  src/content/app/structural-variants/components/structural-variants-sidebar/short-variants-legend/ShortVariantsLegend.tsx
  src/content/app/structural-variants/components/structural-variants-sidebar/sidebar-default-view/SidebarDefaultView.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Correct styles
  src/content/app/structural-variants/components/structural-variants-sidebar/short-variants-legend/ShortVariantsLegend.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Fix test coverage npm script for vitest
  package-lock.json
  package.json
Due: none

Structural variants: updates after user feedback (#1282)
  src/content/app/structural-variants/components/structural-variants-main/StructuralVariantsMain.module.css
  src/content/app/structural-variants/components/structural-variants-main/StructuralVariantsMain.tsx
  src/content/app/structural-variants/components/structural-variants-sidebar/short-variants-legend/ShortVariantsLegend.module.css
  src/content/app/structural-variants/components/structural-variants-sidebar/short-variants-legend/ShortVariantsLegend.tsx
  src/content/app/structural-variants/components/structural-variants-sidebar/sidebar-default-view/SidebarDefaultView.tsx
  src/content/app/structural-variants/contexts/StructuralVariantsImageContext.tsx
  src/content/app/structural-variants/hooks/useStructuralVariantsTracks.ts
  src/content/app/structural-variants/state/tracks/tracksSlice.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Fix test coverage npm script for vitest (#1283)
  package-lock.json
  package.json
Due: none

chore: add cross-env dependency and update script commands for cross-platform compatibility
  package-lock.json
  package.json
Due: none

revert package-lock.json
  package-lock.json
Due: none

First round of updates
  package-lock.json
  package.json
Due: none

Update typescript
  package-lock.json
  package.json
Due: none

Update vitest
  package-lock.json
  package.json
Due: none

Type fixes after typescript update
  src/shared/helpers/navigationHelpers.ts
  tsconfig.json
  typings/assets.d.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Make sure @vitest/coverage-v8 is installed
  package-lock.json
  package.json
Due: none

Update some of dependencies via npm audit fix
  package-lock.json
Due: none

Update paths in tsconfig.tooling.json
  tsconfig.tooling.json
Due: none

Update tsconfig.tooling.json
  tsconfig.tooling.json
Due: none

Use relative path for structural vatiants api base url
  config.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update dependencies (#1286)
  package-lock.json
  package.json
  src/shared/helpers/navigationHelpers.ts
  tsconfig.json
  tsconfig.tooling.json
  typings/assets.d.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

WIP with components
  src/content/app/structural-variants/components/structural-variants-main/StructuralVariantsMain.tsx
  src/content/app/structural-variants/hooks/useStructuralVariantsRouting.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Some updates to reactive state to make it work
  src/content/app/structural-variants/components/structural-variants-image/StructuralVariantsImage.tsx
  src/content/app/structural-variants/components/structural-variants-main/StructuralVariantsMain.tsx
  src/content/app/structural-variants/hooks/useMagic.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Working
  src/content/app/structural-variants/components/structural-variants-nav-buttons/StructuralVariantsNavButtons.tsx
  src/content/app/structural-variants/components/structural-variants-sidebar/structural-variants-sidebar-modal/feature-search-modal/SearchMatches.tsx
  src/content/app/structural-variants/hooks/useMagic.ts
  src/content/app/structural-variants/hooks/useStructuralVariantsRouting.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Initial work on aligning to region with a different name
  src/content/app/structural-variants/hooks/useMagic.ts
  src/content/app/structural-variants/state/api/structuralVariantsApiSlice.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Observable state working
  src/content/app/structural-variants/hooks/useMagic.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update package version of ensembl-structural-variants
  package-lock.json
  package.json
Due: none

Rename useMagic to parsedUrlParamsStore, and refactor to use the useSyncExternalStore hook
  src/content/app/structural-variants/components/structural-variants-main/StructuralVariantsMain.tsx
  src/content/app/structural-variants/components/structural-variants-sidebar/structural-variants-sidebar-modal/feature-search-modal/SearchMatches.tsx
  src/content/app/structural-variants/hooks/parsedUrlParamsStore.ts
  src/content/app/structural-variants/hooks/useParsedUrlParamsStore.ts
  src/content/app/structural-variants/hooks/useStructuralVariantsRouting.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Minor cleanup
  src/content/app/structural-variants/hooks/parsedUrlParamsStore.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Add comments and remove unnecessary exports from parsedUrlParamsStore
  src/content/app/structural-variants/hooks/parsedUrlParamsStore.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Handle no alignments
  src/content/app/structural-variants/StructuralVariants.tsx
  src/content/app/structural-variants/components/structural-variants-interstitial/StructuralVariantsInterstitial.tsx
  src/content/app/structural-variants/hooks/useMagic.ts
  src/content/app/structural-variants/hooks/useStructuralVariantsRouting.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Remove a comment
  src/content/app/structural-variants/hooks/useMagic.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Regenerate package-lock.json
  package-lock.json
Due: none

Another update to package-lock.json
  package-lock.json
Due: none

Show genome suppression message on species page for suppressed genomes
  src/content/app/species/SpeciesPageContent.tsx
  src/content/app/species/components/species-page-sidebar/SpeciesPageSidebar.module.css
  src/content/app/species/components/species-page-sidebar/SpeciesPageSidebar.tsx
  src/shared/state/genome/genomeTypes.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Path conditions:
  eslint --max-warnings=0: any of: *.{ts,tsx}
  manage-licence-header add: any of: *.{ts,tsx}
  prettier --write: any of: *.{ts,tsx}
  stylelint: any of: *.css
