Repository Ensembl/ensembl-client: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Add gene search to species home page (#820)
  src/content/app/entity-viewer/hooks/useEntityViewerAnalytics.ts
  src/content/app/species/SpeciesPageContent.tsx
  src/content/app/species/components/species-main-view/SpeciesMainView.scss
  src/content/app/species/components/species-page-sidebar/SpeciesPageSidebar.scss
  src/content/app/species/components/species-page-sidebar/SpeciesPageSidebar.tsx
  src/content/app/species/components/species-sidebar-modal/SpeciesSidebarModal.tsx
  src/content/app/species/components/species-sidebar-modal/modal-views/SpeciesSidebarSearch.tsx
  src/content/app/species/components/species-sidebar-toolstrip/SpeciesSidebarToolstrip.tsx
  src/content/app/species/components/species-title-area/SpeciesTitleArea.scss
  src/content/app/species/components/species-title-area/SpeciesTitleArea.tsx
  src/content/app/species/components/species-title-area/species-remove/SpeciesRemove.test.tsx
  src/content/app/species/hooks/useSpeciesAnalytics.ts
  src/content/app/species/state/sidebar/speciesSidebarSelectors.ts
  src/content/app/species/state/sidebar/speciesSidebarSlice.ts
  src/global/globalConfig.ts
  src/shared/state/in-app-search/inAppSearchSlice.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Use BLAST config to get labels
  src/content/app/tools/blast/components/blast-submission-header/BlastSubmissionHeader.tsx
  src/content/app/tools/blast/views/blast-submission-results/components/job-parameters/JobParameters.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Add loading states to the DownloadButton (#839)
  src/shared/components/download-button/DownloadButton.scss
  src/shared/components/download-button/DownloadButton.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Remove the comment from BlastJobSubmit component
  src/content/app/tools/blast/components/blast-job-submit/BlastJobSubmit.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Clear BLAST form upon submission (#844)
  src/content/app/tools/blast/components/blast-job-submit/BlastJobSubmit.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Disable species lozenge on blast small screens (#835)
  src/content/app/tools/blast/components/blast-app-bar/BlastAppBar.test.tsx
  src/content/app/tools/blast/components/blast-app-bar/BlastAppBar.tsx
  src/content/app/tools/blast/views/blast-form/BlastForm.scss
  src/content/app/tools/blast/views/blast-form/BlastForm.tsx
  src/content/app/tools/blast/views/blast-form/blastFormConstants.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Update ToolboxExpandableContent
  src/content/app/genome-browser/components/zmenu/Zmenu.scss
  src/content/app/genome-browser/components/zmenu/Zmenu.tsx
  src/shared/components/toolbox/toolbox-expandable-content/ToolboxExpandableContent.scss
  src/shared/components/toolbox/toolbox-expandable-content/ToolboxExpandableContent.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Set min, max width for GB zmenu (#845)
  src/content/app/genome-browser/components/zmenu/Zmenu.scss
  src/content/app/genome-browser/components/zmenu/Zmenu.tsx
  src/shared/components/toolbox/toolbox-expandable-content/ToolboxExpandableContent.scss
  src/shared/components/toolbox/toolbox-expandable-content/ToolboxExpandableContent.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Store BLAST search sensitivity in IndexedDB and display it in submission result (#840)
  src/content/app/tools/blast/components/blast-job-submit/BlastJobSubmit.test.tsx
  src/content/app/tools/blast/components/blast-job-submit/BlastJobSubmit.tsx
  src/content/app/tools/blast/components/blast-submission-header/BlastSubmissionHeader.tsx
  src/content/app/tools/blast/state/blast-api/blastApiSlice.ts
  src/content/app/tools/blast/state/blast-results/blastResultsSlice.ts
  src/content/app/tools/blast/state/epics/tests/fixtures/blastSubmissionFixtures.ts
  src/content/app/tools/blast/views/blast-submission-results/BlastSubmissionResults.tsx
  src/content/app/tools/blast/views/blast-submission-results/components/blast-results-per-sequence/BlastResultsPerSequence.tsx
  src/content/app/tools/blast/views/blast-submission-results/components/job-parameters/JobParameters.tsx
  tests/fixtures/blast/blastSubmission.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Enable BLAST in production
  src/content/app/genome-browser/components/drawer/components/sequence-view/DrawerSequenceView.tsx
  src/header/launchbar/Launchbar.tsx
  src/root/rootEpic.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Enable BLAST in production (#846)
  src/content/app/genome-browser/components/drawer/components/sequence-view/DrawerSequenceView.tsx
  src/header/launchbar/Launchbar.tsx
  src/root/rootEpic.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Test onStateChange
  src/shared/components/data-table/DataTable.test.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

use shared component for removing species confirmation message
  src/content/app/species/components/species-title-area/SpeciesTitleArea.scss
  src/content/app/species/components/species-title-area/SpeciesTitleArea.tsx
  src/content/app/species/components/species-title-area/species-remove/SpeciesRemove.scss
  src/content/app/species/components/species-title-area/species-remove/SpeciesRemove.test.tsx
  src/content/app/species/components/species-title-area/species-remove/SpeciesRemove.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Download table data
  src/content/app/tools/blast/views/blast-submission-results/components/single-blast-job-result/SingleBlastJobResult.tsx
  src/shared/components/data-table/DataTable.tsx
  src/shared/components/data-table/components/table-controls/components/table-actions/TableActions.tsx
  src/shared/components/data-table/components/table-controls/components/table-actions/components/download-data/DownloadData.scss
  src/shared/components/data-table/components/table-controls/components/table-actions/components/download-data/DownloadData.tsx
  src/shared/components/data-table/dataTableTypes.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Let parent handle download
  src/content/app/tools/blast/blast-download/submissionDownload.ts
  src/content/app/tools/blast/views/blast-submission-results/BlastSubmissionResults.tsx
  src/content/app/tools/blast/views/blast-submission-results/components/blast-results-per-sequence/BlastResultsPerSequence.tsx
  src/content/app/tools/blast/views/blast-submission-results/components/single-blast-job-result/SingleBlastJobResult.tsx
  src/shared/components/data-table/DataTable.tsx
  src/shared/components/data-table/components/table-controls/components/table-actions/TableActions.tsx
  src/shared/components/data-table/components/table-controls/components/table-actions/components/download-data/DownloadData.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Import reorder
  src/shared/components/data-table/components/table-controls/components/table-actions/components/download-data/DownloadData.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

PR feedback - fix vertical jump
  src/content/app/species/components/species-title-area/SpeciesTitleArea.scss
Due: prettier --write, stylelint

PR Feedback - remove extra rows
  src/content/app/species/components/species-title-area/SpeciesTitleArea.scss
Due: prettier --write, stylelint

remove span for grid-column
  src/content/app/species/components/species-title-area/SpeciesTitleArea.scss
Due: prettier --write, stylelint

Add app diemension to homepage analytics
  src/content/home/hooks/useHomeAnalytics.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Download single file
  src/content/app/tools/blast/views/blast-submission-results/components/single-blast-job-result/SingleBlastJobResult.tsx
  src/shared/components/data-table/components/table-controls/components/table-actions/components/download-data/DownloadData.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Create useGlobalAnalytics
  src/content/app/App.tsx
  src/global/hooks/useGlobalAnalytics.ts
  src/shared/components/help-popup/HelpPopupButton.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Add FASTA header to blast result in job list pages
  src/content/app/tools/blast/components/listed-blast-submission/ListedBlastSubmission.scss
  src/content/app/tools/blast/components/listed-blast-submission/ListedBlastSubmission.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Update search
  src/shared/components/data-table/DataTable.test.tsx
  src/shared/components/data-table/components/table-controls/TableControls.tsx
  src/shared/components/data-table/components/table-controls/components/table-actions/components/find-in-table/FindInTable.test.tsx
  src/shared/components/data-table/dataTableReducer.ts
  src/shared/components/data-table/hooks/useDataTable.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update getReactNodeText
  src/content/app/tools/blast/blast-download/submissionDownload.ts
  src/content/app/tools/blast/views/blast-submission-results/components/single-blast-job-result/SingleBlastJobResult.tsx
  src/shared/components/data-table/components/table-controls/components/table-actions/components/download-data/DownloadData.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Use set to store IDs
  src/shared/components/data-table/components/main/components/table-header/TableHeader.tsx
  src/shared/components/data-table/components/main/components/table-row/TableRow.test.tsx
  src/shared/components/data-table/components/main/components/table-row/TableRow.tsx
  src/shared/components/data-table/components/main/components/table-row/components/row-selector/RowSelector.tsx
  src/shared/components/data-table/components/main/components/table-row/components/row-visibility-controller/RowVisibilityController.tsx
  src/shared/components/data-table/components/table-controls/components/table-actions/components/show-hide-columns/ShowHideColumns.test.tsx
  src/shared/components/data-table/components/table-controls/components/table-actions/components/show-hide-columns/ShowHideColumns.tsx
  src/shared/components/data-table/dataTableReducer.ts
  src/shared/components/data-table/dataTableTypes.ts
  src/shared/components/data-table/hooks/useDataTable.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Add FASTA header to blast result in job list pages (#850)
  src/content/app/tools/blast/components/listed-blast-submission/ListedBlastSubmission.scss
  src/content/app/tools/blast/components/listed-blast-submission/ListedBlastSubmission.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Update displayed rows checker test
  src/shared/components/data-table/DataTable.test.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

protein -> pep
  src/content/app/tools/blast/blast-download/submissionDownload.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

More events
  src/global/hooks/useGlobalAnalytics.ts
  src/header/hooks/useHeaderAnalytics.ts
  src/header/launchbar/Launchbar.tsx
  src/header/launchbar/LaunchbarButton.tsx
  src/shared/components/communication-framework/ConversationIcon.tsx
  src/shared/components/communication-framework/contact-us/ContactUs.tsx
  src/shared/components/communication-framework/contact-us/contact-us-form/initial/ContactUsInitialForm.tsx
  src/shared/components/help-popup/HelpPopupBody.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Store list of visible transcript ids in focus gene object
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/track-panel-items/TrackPanelGene.tsx
  src/content/app/genome-browser/hooks/useFocusTrack.ts
  src/content/app/genome-browser/state/focus-object/focusObjectSelectors.ts
  src/content/app/genome-browser/state/focus-object/focusObjectSlice.ts
  src/content/app/genome-browser/state/focus-object/isGeneFocusObject.ts
  src/shared/types/focus-object/focusObjectTypes.ts
  tests/fixtures/focus-object.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

PR review cleanups
  src/content/app/tools/blast/views/blast-submission-results/components/single-blast-job-result/SingleBlastJobResult.tsx
  src/shared/components/data-table/DataTable.tsx
  src/shared/components/data-table/components/table-controls/components/table-actions/components/download-data/DownloadData.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Prevent onStateChange callback on initial render
  src/shared/components/data-table/DataTable.test.tsx
  src/shared/components/data-table/DataTable.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Track search
  src/content/app/genome-browser/components/browser-sidebar-modal/modal-views/SearchModal.tsx
  src/content/app/genome-browser/components/interstitial/BrowserInterstitial.tsx
  src/content/app/genome-browser/hooks/useGenomeBrowserAnalytics.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Change the 'pre-release' label in the header to 'beta'
  src/header/Header.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Change the 'pre-release' label in the header to 'beta' (#851)
  src/header/Header.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

use hook useresizeobserver, stzeobserver but still WIP
  src/content/app/species/components/species-title-area/SpeciesTitleArea.scss
  src/content/app/species/components/species-title-area/SpeciesTitleArea.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Fix useResizeObserver
  src/content/app/species/components/species-title-area/SpeciesTitleArea.tsx
  src/shared/hooks/useResizeObserver.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Get appName from redu
  src/global/hooks/useGlobalAnalytics.ts
  src/root/rootReducer.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Track only when article is present
  src/shared/components/help-popup/HelpPopupBody.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Path conditions:
  eslint --max-warnings=0: any of: *.{ts,tsx}
  manage-licence-header add: any of: *.{ts,tsx}
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.scss)
  stylelint: any of: *.scss
