Repository Ensembl/ensembl-client: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Add protein diagram to entity viewer for transcript (#1295)
  src/content/app/entity-viewer/gene-view/components/proteins-list/proteins-list-item-info/ProteinsListItemInfo.tsx
  src/content/app/entity-viewer/shared/helpers/entity-helpers.ts
  src/content/app/entity-viewer/transcript-view/TranscriptView.tsx
  src/content/app/entity-viewer/transcript-view/components/transcript-function/TranscriptFunction.module.css
  src/content/app/entity-viewer/transcript-view/components/transcript-function/TranscriptFunction.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Add default sidebar content for transcript
  src/content/app/entity-viewer/EntityViewerForTranscript.tsx
  src/content/app/entity-viewer/state/api/queries/transcriptDefaultQuery.ts
  src/content/app/entity-viewer/state/transcript-view/sidebar/transcriptViewSidebarSelectors.ts
  src/content/app/entity-viewer/state/transcript-view/sidebar/transcriptViewSidebarSlice.ts
  src/content/app/entity-viewer/transcript-view/components/transcript-view-sidebar/TranscriptViewSidebar.tsx
  src/content/app/entity-viewer/transcript-view/components/transcript-view-sidebar/sidebar-default/SidebarDefault.module.css
  src/content/app/entity-viewer/transcript-view/components/transcript-view-sidebar/sidebar-default/SidebarDefault.tsx
  src/shared/components/sidebar-section-heading/SidebarSectionHeading.module.css
  src/shared/components/sidebar-section-heading/SidebarSectionHeading.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Add sidebar external references
  src/content/app/entity-viewer/EntityViewerForTranscript.tsx
  src/content/app/entity-viewer/state/api/entityViewerThoasSlice.ts
  src/content/app/entity-viewer/state/api/queries/geneExternalReferencesQuery.ts
  src/content/app/entity-viewer/state/api/queries/transcriptExternalReferencesQuery.ts
  src/content/app/entity-viewer/state/transcript-view/sidebar/transcriptViewSidebarSlice.ts
  src/content/app/entity-viewer/transcript-view/components/transcript-view-sidebar-tabs/TranscriptViewSidebarTabs.tsx
  src/content/app/entity-viewer/transcript-view/components/transcript-view-sidebar/TranscriptViewSidebar.tsx
  src/content/app/entity-viewer/transcript-view/components/transcript-view-sidebar/sidebar-external-references/SidebarExternalReferences.module.css
  src/content/app/entity-viewer/transcript-view/components/transcript-view-sidebar/sidebar-external-references/SidebarExternalReferences.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Clean up TranscriptViewSidebarTabs
  src/content/app/entity-viewer/state/transcript-view/sidebar/transcriptViewSidebarSelectors.ts
  src/content/app/entity-viewer/state/transcript-view/sidebar/transcriptViewSidebarSlice.ts
  src/content/app/entity-viewer/transcript-view/components/transcript-view-sidebar-tabs/TranscriptViewSidebarTabs.module.css
  src/content/app/entity-viewer/transcript-view/components/transcript-view-sidebar-tabs/TranscriptViewSidebarTabs.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Enable opening and closing of the sidebar
  src/content/app/entity-viewer/EntityViewerForTranscript.tsx
  src/content/app/entity-viewer/state/transcript-view/sidebar/transcriptViewSidebarSlice.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Entity Viewer for transcript: add sidebar content (#1296)
  src/content/app/entity-viewer/EntityViewerForTranscript.tsx
  src/content/app/entity-viewer/state/api/entityViewerThoasSlice.ts
  src/content/app/entity-viewer/state/api/queries/geneExternalReferencesQuery.ts
  src/content/app/entity-viewer/state/api/queries/transcriptDefaultQuery.ts
  src/content/app/entity-viewer/state/api/queries/transcriptExternalReferencesQuery.ts
  src/content/app/entity-viewer/state/transcript-view/sidebar/transcriptViewSidebarSelectors.ts
  src/content/app/entity-viewer/state/transcript-view/sidebar/transcriptViewSidebarSlice.ts
  src/content/app/entity-viewer/transcript-view/components/transcript-view-sidebar-tabs/TranscriptViewSidebarTabs.module.css
  src/content/app/entity-viewer/transcript-view/components/transcript-view-sidebar-tabs/TranscriptViewSidebarTabs.tsx
  src/content/app/entity-viewer/transcript-view/components/transcript-view-sidebar/TranscriptViewSidebar.tsx
  src/content/app/entity-viewer/transcript-view/components/transcript-view-sidebar/sidebar-default/SidebarDefault.module.css
  src/content/app/entity-viewer/transcript-view/components/transcript-view-sidebar/sidebar-default/SidebarDefault.tsx
  src/content/app/entity-viewer/transcript-view/components/transcript-view-sidebar/sidebar-external-references/SidebarExternalReferences.module.css
  src/content/app/entity-viewer/transcript-view/components/transcript-view-sidebar/sidebar-external-references/SidebarExternalReferences.tsx
  src/shared/components/sidebar-section-heading/SidebarSectionHeading.module.css
  src/shared/components/sidebar-section-heading/SidebarSectionHeading.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Update styles for the positioning of table pagination
  src/content/app/species-selector/components/genome-selector-by-search-query/GenomeSelectorBySearchQuery.module.css
  src/content/app/species-selector/components/genome-selector-by-search-query/GenomeSelectorBySearchQuery.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

More style updates
  src/content/app/species-selector/components/genome-selector-by-species-taxonomy-id/GenomeSelectorBySpeciesTaxonomyId.module.css
  src/content/app/species-selector/components/genome-selector-by-species-taxonomy-id/GenomeSelectorBySpeciesTaxonomyId.tsx
  src/content/app/tools/blast/components/blast-species-selector/BlastSpeciesSelector.module.css
  src/content/app/tools/blast/components/blast-species-selector/BlastSpeciesSelector.tsx
  src/content/app/tools/vep/views/vep-species-selector/VepSpeciesSelector.module.css
  src/content/app/tools/vep/views/vep-species-selector/VepSpeciesSelector.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Switch to the version 2 of species search api
  src/content/app/species-selector/state/species-selector-api-slice/speciesSelectorApiSlice.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Change endpoint path
  src/content/app/species-selector/state/species-selector-api-slice/speciesSelectorApiSlice.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Fix url for genomes download button
  src/content/app/species-selector/components/genomes-download-button/GenomesDownloadButton.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Remove the ShowMore, and add the Reference column
  src/content/app/species-selector/components/genome-selector-by-search-query/GenomeSelectorBySearchQuery.tsx
  src/content/app/species-selector/components/genome-selector-by-species-taxonomy-id/GenomeSelectorBySpeciesTaxonomyId.tsx
  src/content/app/species-selector/components/species-search-results-table/SpeciesSearchResultsTable.tsx
  src/content/app/tools/blast/components/blast-species-selector/BlastSpeciesSelector.tsx
  src/content/app/tools/vep/views/vep-species-selector/VepSpeciesSelector.tsx
  src/shared/components/species-name-parts-for-table/SpeciesTypeForTable.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Force table to take 100% width
  src/content/app/species-selector/components/genome-selector-by-search-query/GenomeSelectorBySearchQuery.module.css
  src/content/app/species-selector/components/genome-selector-by-species-taxonomy-id/GenomeSelectorBySpeciesTaxonomyId.module.css
  src/content/app/tools/blast/components/blast-species-selector/BlastSpeciesSelector.module.css
  src/content/app/tools/vep/views/vep-species-selector/VepSpeciesSelector.module.css
Due: stylelint

Move reusable table wrapper styles into a dedicated component
  src/content/app/species-selector/components/genome-selector-by-search-query/GenomeSelectorBySearchQuery.module.css
  src/content/app/species-selector/components/genome-selector-by-search-query/GenomeSelectorBySearchQuery.tsx
  src/content/app/species-selector/components/genome-selector-by-species-taxonomy-id/GenomeSelectorBySpeciesTaxonomyId.module.css
  src/content/app/species-selector/components/genome-selector-by-species-taxonomy-id/GenomeSelectorBySpeciesTaxonomyId.tsx
  src/content/app/species-selector/components/species-search-results-table-wrapper/SpeciesSearchResultsTableWrapper.module.css
  src/content/app/species-selector/components/species-search-results-table-wrapper/SpeciesSearchResultsTableWrapper.tsx
  src/content/app/tools/blast/components/blast-species-selector/BlastSpeciesSelector.module.css
  src/content/app/tools/blast/components/blast-species-selector/BlastSpeciesSelector.tsx
  src/content/app/tools/vep/views/vep-species-selector/VepSpeciesSelector.module.css
  src/content/app/tools/vep/views/vep-species-selector/VepSpeciesSelector.tsx
  src/shared/components/species-name-parts-for-table/SpeciesTypeForTable.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Prevent line wrapping for certain fields in species search results table
  src/content/app/species-selector/components/species-search-results-table/SpeciesSearchResultsTable.module.css
  src/content/app/species-selector/components/species-search-results-table/SpeciesSearchResultsTable.tsx
  src/shared/components/species-name-parts-for-table/SpeciesNamePartsForTable.module.css
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Add sorting by several additional columns
  src/content/app/species-selector/components/species-search-results-table/SpeciesSearchResultsTable.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update some dependencies
  package-lock.json
  package.json
Due: none

Update vitest packages
  package-lock.json
  package.json
Due: none

Update dependencies (#1298)
  package-lock.json
  package.json
Due: none

Add transcript summary strip to the top bar
  src/content/app/entity-viewer/EntityViewerForTranscript.tsx
  src/content/app/entity-viewer/transcript-view/components/transcript-summary-strip/TranscriptSummaryStrip.module.css
  src/content/app/entity-viewer/transcript-view/components/transcript-summary-strip/TranscriptSummaryStrip.tsx
  src/shared/components/feature-summary-strip/GeneSummaryStrip.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Start filling in sidebar modal
  src/content/app/entity-viewer/EntityViewerForTranscript.tsx
  src/content/app/entity-viewer/state/transcript-view/sidebar/transcriptViewSidebarSlice.ts
  src/content/app/entity-viewer/transcript-view/components/transcript-view-sidebar/TranscriptViewSidebar.tsx
  src/content/app/entity-viewer/transcript-view/components/transcript-view-sidebar/sidebar-modal/TranscriptViewSidebarModal.tsx
  src/content/app/entity-viewer/transcript-view/components/transcript-view-sidebar/sidebar-toolstrip/SidebarToolstrip.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Remove client-side logic for filtering genomes
  src/content/app/species-selector/components/genome-selector-by-search-query/GenomeSelectorBySearchQuery.tsx
  src/content/app/species-selector/components/genome-selector-by-species-taxonomy-id/GenomeSelectorBySpeciesTaxonomyId.tsx
  src/content/app/species-selector/components/selectable-genomes-table/filterGenomes.ts
  src/content/app/species-selector/components/selectable-genomes-table/useSelectableGenomesTable.ts
  src/content/app/tools/blast/components/blast-species-selector/BlastSpeciesSelector.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Remove GenomesFilterField
  src/content/app/species-selector/components/genome-selector-by-search-query/GenomeSelectorBySearchQuery.module.css
  src/content/app/species-selector/components/genome-selector-by-search-query/GenomeSelectorBySearchQuery.tsx
  src/content/app/species-selector/components/genome-selector-by-species-taxonomy-id/GenomeSelectorBySpeciesTaxonomyId.tsx
  src/content/app/species-selector/components/genomes-filter-field/GenomesFilterField.tsx
  src/content/app/tools/blast/components/blast-species-selector/BlastSpeciesSelector.module.css
  src/content/app/tools/blast/components/blast-species-selector/BlastSpeciesSelector.tsx
  src/shared/components/pagination/Pagination.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Enable paginated species search results for BLAST and VEP
  src/content/app/species-selector/components/genome-selector-by-search-query/GenomeSelectorBySearchQuery.tsx
  src/content/app/species-selector/state/species-selector-api-slice/speciesSelectorApiSlice.ts
  src/content/app/tools/blast/components/blast-species-selector/BlastSpeciesSelector.module.css
  src/content/app/tools/blast/components/blast-species-selector/BlastSpeciesSelector.tsx
  src/content/app/tools/vep/views/vep-species-selector/VepSpeciesSelector.module.css
  src/content/app/tools/vep/views/vep-species-selector/VepSpeciesSelector.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Add pagination to GenomeSelectorBySearchQuery
  src/content/app/species-selector/components/genome-selector-by-search-query/GenomeSelectorBySearchQuery.module.css
  src/content/app/species-selector/components/genome-selector-by-search-query/GenomeSelectorBySearchQuery.tsx
  src/content/app/species-selector/components/species-search-results-summary/SpeciesSearchResultsSummary.module.css
  src/content/app/species-selector/state/species-selector-api-slice/speciesSelectorApiSlice.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Add per-page dropdown to different species search pages
  src/content/app/species-selector/components/genome-selector-by-search-query/GenomeSelectorBySearchQuery.tsx
  src/content/app/species-selector/components/genome-selector-by-species-taxonomy-id/GenomeSelectorBySpeciesTaxonomyId.tsx
  src/content/app/species-selector/helpers/genomeSearchHelpers.ts
  src/content/app/tools/blast/components/blast-species-selector/BlastSpeciesSelector.tsx
  src/content/app/tools/vep/views/vep-species-selector/VepSpeciesSelector.tsx
  src/shared/components/pagination/Pagination.test.tsx
  src/shared/components/pagination/PaginationWithPerPage.module.css
  src/shared/components/pagination/PaginationWithPerPage.tsx
  src/shared/components/pagination/PerPage.module.css
  src/shared/components/pagination/PerPage.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Enable sorting via requests to the server
  src/content/app/species-selector/components/genome-selector-by-search-query/GenomeSelectorBySearchQuery.tsx
  src/content/app/species-selector/components/genome-selector-by-species-taxonomy-id/GenomeSelectorBySpeciesTaxonomyId.tsx
  src/content/app/species-selector/components/selectable-genomes-table/useOrderedGenomes.ts
  src/content/app/species-selector/components/selectable-genomes-table/useSelectableGenomesTable.ts
  src/content/app/species-selector/components/species-search-results-table/SpeciesSearchResultsTable.tsx
  src/content/app/species-selector/helpers/genomeSearchHelpers.ts
  src/content/app/species-selector/state/species-selector-api-slice/speciesSelectorApiSlice.ts
  src/content/app/tools/blast/components/blast-species-selector/BlastSpeciesSelector.tsx
  src/content/app/tools/vep/views/vep-species-selector/VepSpeciesSelector.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Add pagination to GenomeSelectorBySpeciesTaxonomyId
  src/content/app/species-selector/components/genome-selector-by-species-taxonomy-id/GenomeSelectorBySpeciesTaxonomyId.module.css
  src/content/app/species-selector/components/genome-selector-by-species-taxonomy-id/GenomeSelectorBySpeciesTaxonomyId.tsx
  src/content/app/species-selector/state/species-selector-api-slice/speciesSelectorApiSlice.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Add download button
  src/content/app/species-selector/components/genome-selector-by-search-query/GenomeSelectorBySearchQuery.module.css
  src/content/app/species-selector/components/genome-selector-by-search-query/GenomeSelectorBySearchQuery.tsx
  src/content/app/species-selector/components/genome-selector-by-species-taxonomy-id/GenomeSelectorBySpeciesTaxonomyId.module.css
  src/content/app/species-selector/components/genome-selector-by-species-taxonomy-id/GenomeSelectorBySpeciesTaxonomyId.tsx
  src/content/app/species-selector/components/genomes-download-button/GenomesDownloadButton.tsx
  src/shared/components/download-button/DownloadLink.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Finish renaming exports from speciesSelectorApiSlice
  src/content/app/species-selector/components/popular-species-list/PopularSpeciesList.tsx
  src/content/app/species-selector/state/species-selector-api-slice/speciesSelectorApiSlice.ts
  src/content/app/species/components/species-title-area/SpeciesTitleArea.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Minor syntax update
  src/content/app/species-selector/components/genome-selector-by-search-query/GenomeSelectorBySearchQuery.tsx
  src/content/app/species-selector/components/genome-selector-by-species-taxonomy-id/GenomeSelectorBySpeciesTaxonomyId.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Path conditions:
  eslint --max-warnings=0: any of: *.{ts,tsx}
  manage-licence-header add: any of: *.{ts,tsx}
  prettier --write: any of: *.{ts,tsx}
  stylelint: any of: *.css
