Repository Ensembl/ensembl-client: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

.lintstagedrc.json:

{
  "*.{ts,tsx}": [
    "eslint --max-warnings=0",
    "manage-licence-header add",
    "prettier --write"
  ],
  "*.css": [
    "stylelint"
  ]
}

Some updates
  src/content/app/regulatory-activity-viewer/components/region-overview/RegionOverview.module.css
  src/content/app/regulatory-activity-viewer/components/region-overview/RegionOverview.tsx
  src/content/app/regulatory-activity-viewer/components/region-overview/region-overview-image/RegionOverviewImage.tsx
  src/content/app/regulatory-activity-viewer/components/region-overview/region-overview-zoom-buttons/RegionOverviewZoomButtons.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Use isFetching instead of isLoading to get epigenome activity data
  src/content/app/regulatory-activity-viewer/components/region-activity-section/useRegionActivityData.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Use data instead of currentData in the sidebar to avoid flickering
  src/content/app/regulatory-activity-viewer/components/activity-viewer-sidebar/sidebar-default-view/SidebarDefaultView.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Avoid showing too many genes in the sidebar
  src/content/app/regulatory-activity-viewer/components/activity-viewer-sidebar/sidebar-default-view/SidebarDefaultView.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Add a couple of memoizations
  src/content/app/regulatory-activity-viewer/RegulatoryActivityViewer.tsx
  src/content/app/regulatory-activity-viewer/RegulatoryActivityViewerPage.tsx
  src/content/app/regulatory-activity-viewer/components/region-overview/RegionOverview.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update the overlaid table of epigenomes
  src/content/app/regulatory-activity-viewer/RegulatoryActivityViewer.module.css
  src/content/app/regulatory-activity-viewer/RegulatoryActivityViewer.tsx
  src/content/app/regulatory-activity-viewer/components/region-activity-section/RegionActivitySection.module.css
  src/content/app/regulatory-activity-viewer/components/region-activity-section/epigenomes-table/EpigenomesTable.module.css
  src/content/app/regulatory-activity-viewer/components/region-activity-section/epigenomes-table/EpigenomesTable.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Add text to epigenome labels
  src/content/app/regulatory-activity-viewer/components/region-activity-section/RegionActivitySection.tsx
  src/content/app/regulatory-activity-viewer/components/selected-epigenomes/epigenomes-sorter/EpigenomeLabels.module.css
  src/content/app/regulatory-activity-viewer/components/selected-epigenomes/epigenomes-sorter/EpigenomeLabels.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Add epigenomes table overlay for activity data view
  src/content/app/regulatory-activity-viewer/components/region-activity-section/RegionActivitySection.module.css
  src/content/app/regulatory-activity-viewer/components/region-activity-section/RegionActivitySection.tsx
  src/content/app/regulatory-activity-viewer/components/region-activity-section/epigenomes-table/EpigenomesTable.module.css
  src/content/app/regulatory-activity-viewer/components/region-activity-section/epigenomes-table/EpigenomesTable.tsx
  src/content/app/regulatory-activity-viewer/components/selected-epigenomes/SelectedEpigenomes.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Add option to show all columns in the overlay table
  src/content/app/regulatory-activity-viewer/components/region-activity-section/epigenomes-table/EpigenomesTable.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Make sidebar use the region data service and the hook for getting data out of it
  src/content/app/regulatory-activity-viewer/components/activity-viewer-sidebar/sidebar-default-view/SidebarDefaultView.tsx
  src/content/app/regulatory-activity-viewer/services/region-data-service/regionDataService.ts
  src/content/app/regulatory-activity-viewer/services/region-data-service/test-component/useRegionOverviewData.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update epigenome labelling in regulatory activity viewer (#1206)
  src/content/app/regulatory-activity-viewer/RegulatoryActivityViewer.module.css
  src/content/app/regulatory-activity-viewer/RegulatoryActivityViewer.tsx
  src/content/app/regulatory-activity-viewer/components/region-activity-section/RegionActivitySection.module.css
  src/content/app/regulatory-activity-viewer/components/region-activity-section/RegionActivitySection.tsx
  src/content/app/regulatory-activity-viewer/components/region-activity-section/epigenomes-table/EpigenomesTable.module.css
  src/content/app/regulatory-activity-viewer/components/region-activity-section/epigenomes-table/EpigenomesTable.tsx
  src/content/app/regulatory-activity-viewer/components/selected-epigenomes/SelectedEpigenomes.tsx
  src/content/app/regulatory-activity-viewer/components/selected-epigenomes/epigenomes-sorter/EpigenomeLabels.module.css
  src/content/app/regulatory-activity-viewer/components/selected-epigenomes/epigenomes-sorter/EpigenomeLabels.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Update dependencies
  package-lock.json
  package.json
Due: none

Add colors for sorting dimensions to the epigenomes table
  src/content/app/regulatory-activity-viewer/components/region-activity-section/epigenomes-table/EpigenomesTable.module.css
  src/content/app/regulatory-activity-viewer/components/region-activity-section/epigenomes-table/EpigenomesTable.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Add pointer to sidebar navigation tabs
  src/content/app/regulatory-activity-viewer/components/activity-viewer-sidebar/sidebar-navigation/SidebarNavigation.module.css
  src/content/app/regulatory-activity-viewer/components/activity-viewer-sidebar/sidebar-navigation/SidebarNavigation.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Show colours in overlay epigenomes table, and add pointer to sidebar navigation tabs (#1207)
  src/content/app/regulatory-activity-viewer/components/activity-viewer-sidebar/sidebar-navigation/SidebarNavigation.module.css
  src/content/app/regulatory-activity-viewer/components/activity-viewer-sidebar/sidebar-navigation/SidebarNavigation.tsx
  src/content/app/regulatory-activity-viewer/components/region-activity-section/epigenomes-table/EpigenomesTable.module.css
  src/content/app/regulatory-activity-viewer/components/region-activity-section/epigenomes-table/EpigenomesTable.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Update regulation api endpoints
  src/content/app/regulatory-activity-viewer/state/api/activityViewerApiSlice.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Add the forgotten z-index
  src/content/app/regulatory-activity-viewer/RegulatoryActivityViewer.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Add position sticky to region overview
  src/content/app/regulatory-activity-viewer/RegulatoryActivityViewer.module.css
  src/content/app/regulatory-activity-viewer/RegulatoryActivityViewer.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Add focus gene info
  src/content/app/regulatory-activity-viewer/RegulatoryActivityViewer.tsx
  src/content/app/regulatory-activity-viewer/components/activity-viewer-focus-feature-info/ActivityViewerFocusFeatureInfo.module.css
  src/content/app/regulatory-activity-viewer/components/activity-viewer-focus-feature-info/ActivityViewerFocusFeatureInfo.tsx
  src/content/app/regulatory-activity-viewer/components/activity-viewer-popup/activity-viewer-popup-content/GenePopupContent.tsx
  src/content/app/regulatory-activity-viewer/components/activity-viewer-popup/activityViewerPopupMessageTypes.ts
  src/content/app/regulatory-activity-viewer/components/activity-viewer-sidebar/sidebar-default-view/SidebarDefaultView.module.css
  src/content/app/regulatory-activity-viewer/components/activity-viewer-sidebar/sidebar-default-view/SidebarDefaultView.tsx
  src/content/app/regulatory-activity-viewer/components/region-overview/RegionOverview.tsx
  src/content/app/regulatory-activity-viewer/components/region-overview/region-overview-image/RegionOverviewImage.tsx
  src/content/app/regulatory-activity-viewer/contexts/ActivityViewerIdContext.ts
  src/content/app/regulatory-activity-viewer/contexts/ActivityViewerIdContextProvider.tsx
  src/content/app/regulatory-activity-viewer/state/api/activityViewerApiSlice.ts
  src/content/app/regulatory-activity-viewer/types/regionOverview.ts
  src/shared/components/gene-name/GeneName.module.css
  src/shared/components/gene-name/GeneName.tsx
  src/shared/helpers/formatters/strandFormatter.ts
  src/shared/helpers/urlHelper.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Use real data for gene expression level
  src/content/app/regulatory-activity-viewer/components/gene-expression-levels/GeneExpressionLevels.tsx
  src/content/app/regulatory-activity-viewer/state/api/activityViewerApiSlice.ts
  src/content/app/regulatory-activity-viewer/types/epigenomeActivity.ts
  src/content/app/regulatory-activity-viewer/types/epigenomeGeneActivity.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Display release in species search results table
  src/content/app/species-selector/components/selectable-genomes-table/useOrderedGenomes.ts
  src/content/app/species-selector/components/species-search-results-table/SpeciesSearchResultsTable.module.css
  src/content/app/species-selector/components/species-search-results-table/SpeciesSearchResultsTable.tsx
  src/content/app/species-selector/types/speciesSearchMatch.ts
  src/shared/components/species-name-parts-for-table/GenomeReleaseForTable.tsx
  src/shared/components/species-name-parts-for-table/GenomeReleaseTypeForTable.tsx
  src/shared/components/species-name-parts-for-table/SpeciesNamePartsForTable.module.css
  src/shared/state/genome/genomeTypes.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Update styles for tables
  src/content/app/species-selector/views/species-manager/selected-genomes-table/SelectedGenomesTable.module.css
  src/shared/components/external-link/DisabledExternalLink.module.css
  src/shared/components/species-name-parts-for-table/SpeciesNamePartsForTable.module.css
  src/shared/components/table/Table.module.css
Due: stylelint

Add release pill to species lozenge
  src/shared/components/selected-species/SpeciesLozenge.module.css
  src/shared/components/selected-species/SpeciesLozenge.tsx
  src/shared/components/species-name/fixtures/speciesTestData.ts
  src/shared/types/release.ts
  stories/shared-components/species-lozenge/SpeciesLozenge.stories.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Undo commented line in css
  src/content/app/species-selector/components/species-search-results-table/SpeciesSearchResultsTable.module.css
Due: stylelint

Remove unused CSS classes
  src/content/app/regulatory-activity-viewer/components/activity-viewer-focus-feature-info/ActivityViewerFocusFeatureInfo.module.css
Due: stylelint

Make region overview stick at the top, and display focus gene information (#1208)
  src/content/app/regulatory-activity-viewer/RegulatoryActivityViewer.module.css
  src/content/app/regulatory-activity-viewer/RegulatoryActivityViewer.tsx
  src/content/app/regulatory-activity-viewer/components/activity-viewer-focus-feature-info/ActivityViewerFocusFeatureInfo.module.css
  src/content/app/regulatory-activity-viewer/components/activity-viewer-focus-feature-info/ActivityViewerFocusFeatureInfo.tsx
  src/content/app/regulatory-activity-viewer/components/activity-viewer-popup/activity-viewer-popup-content/GenePopupContent.tsx
  src/content/app/regulatory-activity-viewer/components/activity-viewer-popup/activityViewerPopupMessageTypes.ts
  src/content/app/regulatory-activity-viewer/components/activity-viewer-sidebar/sidebar-default-view/SidebarDefaultView.module.css
  src/content/app/regulatory-activity-viewer/components/activity-viewer-sidebar/sidebar-default-view/SidebarDefaultView.tsx
  src/content/app/regulatory-activity-viewer/components/gene-expression-levels/GeneExpressionLevels.tsx
  src/content/app/regulatory-activity-viewer/components/region-overview/RegionOverview.tsx
  src/content/app/regulatory-activity-viewer/components/region-overview/region-overview-image/RegionOverviewImage.tsx
  src/content/app/regulatory-activity-viewer/contexts/ActivityViewerIdContext.ts
  src/content/app/regulatory-activity-viewer/contexts/ActivityViewerIdContextProvider.tsx
  src/content/app/regulatory-activity-viewer/state/api/activityViewerApiSlice.ts
  src/content/app/regulatory-activity-viewer/types/epigenomeActivity.ts
  src/content/app/regulatory-activity-viewer/types/epigenomeGeneActivity.ts
  src/content/app/regulatory-activity-viewer/types/regionOverview.ts
  src/shared/components/gene-name/GeneName.module.css
  src/shared/components/gene-name/GeneName.tsx
  src/shared/helpers/urlHelper.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Update species search matches and species lozenges (#1209)
  src/content/app/species-selector/components/selectable-genomes-table/useOrderedGenomes.ts
  src/content/app/species-selector/components/species-search-results-table/SpeciesSearchResultsTable.tsx
  src/content/app/species-selector/types/speciesSearchMatch.ts
  src/content/app/species-selector/views/species-manager/selected-genomes-table/SelectedGenomesTable.module.css
  src/shared/components/external-link/DisabledExternalLink.module.css
  src/shared/components/selected-species/SpeciesLozenge.module.css
  src/shared/components/selected-species/SpeciesLozenge.tsx
  src/shared/components/species-name-parts-for-table/GenomeReleaseForTable.tsx
  src/shared/components/species-name-parts-for-table/GenomeReleaseTypeForTable.tsx
  src/shared/components/species-name-parts-for-table/SpeciesNamePartsForTable.module.css
  src/shared/components/species-name-parts-for-table/index.tsx
  src/shared/components/species-name/fixtures/speciesTestData.ts
  src/shared/components/table/Table.module.css
  src/shared/state/genome/genomeTypes.ts
  src/shared/types/release.ts
  stories/shared-components/species-lozenge/SpeciesLozenge.stories.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Start developing region data service
  src/content/app/regulatory-activity-viewer/services/region-data-service/fixtures/mockRegionDataResponse.ts
  src/content/app/regulatory-activity-viewer/services/region-data-service/regionDataService.test.ts
  src/content/app/regulatory-activity-viewer/services/region-data-service/regionDataService.ts
  src/content/app/regulatory-activity-viewer/services/region-data-service/test-component/Test.tsx
  src/content/app/regulatory-activity-viewer/services/region-data-service/test-component/useRegionOverviewData.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Clean up some code in regionDataService
  src/content/app/regulatory-activity-viewer/services/region-data-service/binsHelper.test.ts
  src/content/app/regulatory-activity-viewer/services/region-data-service/binsHelper.ts
  src/content/app/regulatory-activity-viewer/services/region-data-service/regionDataService.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Select region features from state in a hook
  src/content/app/regulatory-activity-viewer/services/region-data-service/regionDataService.ts
  src/content/app/regulatory-activity-viewer/services/region-data-service/test-component/Test.tsx
  src/content/app/regulatory-activity-viewer/services/region-data-service/test-component/useRegionOverviewData.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Do not fetch region data if it is already available
  src/content/app/regulatory-activity-viewer/services/region-data-service/regionDataService.ts
  src/content/app/regulatory-activity-viewer/services/region-data-service/test-component/Test.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Add low-res gene representation for region overview
  src/content/app/regulatory-activity-viewer/components/region-overview/region-overview-image/RegionOverviewImage.tsx
  src/content/app/regulatory-activity-viewer/components/region-overview/region-overview-image/region-overview-gene-lowres/RegionOverviewGeneLowRes.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Avoid react errors due to identical keys of histone gapped peaks
  src/content/app/regulatory-activity-viewer/components/epigenomes-activity/EpigenomesActivityImage.tsx
  src/content/app/regulatory-activity-viewer/components/epigenomes-activity/prepareActivityDataForDisplay.ts
  src/content/app/regulatory-activity-viewer/components/region-overview/region-overview-image/region-overview-gene/RegionOverviewGene.tsx
  src/content/app/regulatory-activity-viewer/components/region-overview/region-overview-image/transcription-start-sites/TranscriptionStartSites.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Calculate extended location (three viewports), and pass it to region overview image component
  src/content/app/regulatory-activity-viewer/components/region-overview/RegionOverview.tsx
  src/content/app/regulatory-activity-viewer/components/region-overview/calculateRequestLocation.ts
  src/content/app/regulatory-activity-viewer/components/region-overview/region-overview-image/RegionOverviewImage.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update location query parameter in url when user narrows down selection
  src/content/app/regulatory-activity-viewer/components/region-overview/RegionOverview.tsx
  src/content/app/regulatory-activity-viewer/components/region-overview/calculateRequestLocation.ts
  src/content/app/regulatory-activity-viewer/components/region-overview/region-overview-image/RegionOverviewImage.tsx
  src/content/app/regulatory-activity-viewer/components/region-overview/region-overview-image/region-overview-location-selector/RegionOverviewLocationSelector.tsx
  src/content/app/regulatory-activity-viewer/helpers/prepare-feature-tracks/prepareFeatureTracks.ts
  src/content/app/regulatory-activity-viewer/services/region-data-service/test-component/useRegionOverviewData.ts
  src/content/app/regulatory-activity-viewer/state/region-detail/regionDetailSlice.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write
