Repository Ensembl/ensembl-client: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

.lintstagedrc.json:

{
  "*.{ts,tsx}": [
    "eslint --max-warnings=0",
    "manage-licence-header add",
    "prettier --write"
  ],
  "*.scss": [
    "stylelint",
    "prettier --write"
  ]
}

Use the same root redux reducer for both server-side and client-side
  src/server/serverSideReduxStore.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Remove export of createServerSideRootReducer function
  src/root/rootReducer.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Fill in species search field with popular species name
  src/content/app/new-species-selector/components/popular-species-list/PopularSpeciesList.tsx
  src/content/app/new-species-selector/components/species-search-field/SpeciesSearchField.tsx
  src/content/app/new-species-selector/state/species-selector-search-slice/speciesSelectorSearchSlice.ts
  src/content/app/new-species-selector/views/species-selector-main-view/SpeciesSelectorMainView.tsx
  src/content/app/new-species-selector/views/species-selector-results-view/SpeciesSelectorResultsView.scss
  src/content/app/new-species-selector/views/species-selector-results-view/SpeciesSelectorResultsView.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Use the same root redux reducer for both server-side and client-side (#1002)
  src/root/rootReducer.ts
  src/server/serverSideReduxStore.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Minor style updates
  src/content/app/new-species-selector/components/species-selector-search-results-app-bar/SpeciesSelectorSearchResultsAppBar.scss
  src/content/app/new-species-selector/components/species-selector-search-results-app-bar/SpeciesSelectorSearchResultsAppBar.tsx
  src/shared/components/app-bar/AppBar.scss
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Updates to new species selector (#1003)
  src/content/app/new-species-selector/components/popular-species-list/PopularSpeciesList.tsx
  src/content/app/new-species-selector/components/species-search-field/SpeciesSearchField.tsx
  src/content/app/new-species-selector/components/species-search-results-table/SpeciesSearchResultsTable.tsx
  src/content/app/new-species-selector/components/species-selector-search-results-app-bar/SpeciesSelectorSearchResultsAppBar.scss
  src/content/app/new-species-selector/components/species-selector-search-results-app-bar/SpeciesSelectorSearchResultsAppBar.tsx
  src/content/app/new-species-selector/state/species-selector-api-slice/speciesSelectorApiSlice.ts
  src/content/app/new-species-selector/state/species-selector-api-slice/speciesSelectorSampleData.ts
  src/content/app/new-species-selector/state/species-selector-search-slice/speciesSelectorSearchSlice.ts
  src/content/app/new-species-selector/views/species-selector-main-view/SpeciesSelectorMainView.tsx
  src/content/app/new-species-selector/views/species-selector-results-view/SpeciesSelectorResultsView.scss
  src/content/app/new-species-selector/views/species-selector-results-view/SpeciesSelectorResultsView.tsx
  src/shared/components/app-bar/AppBar.scss
  src/shared/components/table/dot/Dot.scss
  src/shared/components/table/dot/EmptyDot.tsx
  src/shared/components/table/dot/SolidDot.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Start getting species statistics from the server
  config.ts
  src/content/app/species/components/species-main-view/SpeciesMainViewStats.tsx
  src/content/app/species/state/api/speciesApiSlice.ts
  src/content/app/species/state/api/speciesApiTypes.ts
  src/content/app/species/state/general/speciesGeneralSelectors.ts
  src/content/app/species/state/general/speciesGeneralSlice.ts
  src/server/helpers/getConfigForClient.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Stop using hard-coded species stats
  src/content/app/species/state/api/speciesApiSlice.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Remove mock species stats data
  src/content/app/species/sample-data.ts
  src/content/app/species/state/api/speciesApiSlice.ts
  src/content/app/species/state/general/speciesGeneralHelper.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Enforce the order of statistics sections
  src/content/app/species/state/api/speciesApiSlice.ts
  src/content/app/species/state/general/speciesGeneralHelper.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Fetch species statistics from the backend (#995)
  config.ts
  src/content/app/species/components/species-main-view/SpeciesMainViewStats.tsx
  src/content/app/species/sample-data.ts
  src/content/app/species/state/api/speciesApiSlice.ts
  src/content/app/species/state/api/speciesApiTypes.ts
  src/content/app/species/state/general/speciesGeneralHelper.ts
  src/content/app/species/state/general/speciesGeneralSelectors.ts
  src/content/app/species/state/general/speciesGeneralSlice.ts
  src/server/helpers/getConfigForClient.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

CSS modifications for species title area
  src/content/app/species/components/species-title-area/SpeciesTitleArea.scss
  src/content/app/species/components/species-title-area/SpeciesTitleArea.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Update species title position
  src/content/app/species/components/species-main-view/SpeciesMainView.scss
  src/content/app/species/components/species-title-area/SpeciesTitleArea.scss
Due: prettier --write, stylelint

Update species stats layout for small screens
  src/content/app/species/components/species-main-view/SpeciesMainView.scss
  src/content/app/species/components/species-main-view/SpeciesMainViewStats.tsx
  src/content/app/species/components/species-stats/SpeciesStats.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

More CSS updates
  src/content/app/species/components/species-main-view/SpeciesMainView.scss
Due: prettier --write, stylelint

Use new variant id schema
  src/content/app/genome-browser/contexts/genome-browser-ids-context/useGenomeBrowserUrlValidator.ts
  src/content/app/genome-browser/services/genome-browser-service/genomeBrowserCommands.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

More variant string manipulation
  src/content/app/genome-browser/state/api/genomeBrowserApiSlice.ts
  src/content/app/genome-browser/state/focus-object/focusObjectSlice.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

No need to have reference allele sequence in the id
  src/content/app/genome-browser/contexts/genome-browser-ids-context/useGenomeBrowserUrlValidator.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

No need for the title area to have position sticky
  src/content/app/species/components/species-title-area/SpeciesTitleArea.scss
Due: prettier --write, stylelint

Undo unnecessary styles
  src/content/app/species/components/species-main-view/SpeciesMainView.scss
Due: prettier --write, stylelint

Use Intl NumberFormat for number formatting
  src/content/app/species/state/general/speciesGeneralHelper.ts
  src/shared/helpers/formatters/numberFormatter.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update .gitlab-ci to migrate to the new kubernetes cluster
  .gitlab-ci.yml
Due: none

Comment out master
  .gitlab-ci.yml
Due: none

Comment out Node:Live
  .gitlab-ci.yml
Due: none

Update Species page layout for smaller screens (#1005)
  src/content/app/species/components/species-main-view/SpeciesMainView.scss
  src/content/app/species/components/species-main-view/SpeciesMainViewStats.tsx
  src/content/app/species/components/species-stats/SpeciesStats.tsx
  src/content/app/species/components/species-title-area/SpeciesTitleArea.scss
  src/content/app/species/components/species-title-area/SpeciesTitleArea.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Variant id constituents cannot be empty
  src/content/app/genome-browser/contexts/genome-browser-ids-context/useGenomeBrowserUrlValidator.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Remove temporary branch and return master
  .gitlab-ci.yml
Due: none

Use new variant id schema (#1004)
  src/content/app/genome-browser/contexts/genome-browser-ids-context/useGenomeBrowserUrlValidator.ts
  src/content/app/genome-browser/services/genome-browser-service/genomeBrowserCommands.ts
  src/content/app/genome-browser/state/api/genomeBrowserApiSlice.ts
  src/content/app/genome-browser/state/focus-object/focusObjectSlice.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Remove unnecessary variable
  .gitlab-ci.yml
Due: none

Update .gitlab-ci configuration for deployment to new kubernetes cluster (#1007)
  .gitlab-ci.yml
Due: none

Rename getCommaSeparatedNumber to formatNumber
  src/content/app/entity-viewer/gene-view/components/default-transcripts-list/transcripts-list-item-info/TranscriptsListItemInfo.tsx
  src/content/app/genome-browser/components/browser-location-indicator/BrowserLocationIndicator.test.tsx
  src/content/app/genome-browser/components/browser-location-indicator/BrowserLocationIndicator.tsx
  src/content/app/genome-browser/components/chromosome-navigator/ChromosomeNavigator.test.tsx
  src/content/app/genome-browser/components/chromosome-navigator/chromosomeNavigatorHelper.ts
  src/content/app/genome-browser/components/drawer/drawer-views/transcript-summary/TranscriptSummary.tsx
  src/content/app/new-species-selector/components/species-search-results-table/SpeciesSearchResultsTable.tsx
  src/content/app/species/state/general/speciesGeneralHelper.ts
  src/shared/components/data-table/components/main/components/table-header/TableHeader.tsx
  src/shared/components/feature-length-ruler/FeatureLengthRuler.tsx
  src/shared/components/in-app-search/InAppSearch.tsx
  src/shared/helpers/formatters/numberFormater.test.ts
  src/shared/helpers/formatters/numberFormatter.ts
  src/shared/helpers/formatters/regionFormatter.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Use Intl NumberFormat for number formatting (#1006)
  src/content/app/entity-viewer/gene-view/components/default-transcripts-list/transcripts-list-item-info/TranscriptsListItemInfo.tsx
  src/content/app/genome-browser/components/browser-location-indicator/BrowserLocationIndicator.test.tsx
  src/content/app/genome-browser/components/browser-location-indicator/BrowserLocationIndicator.tsx
  src/content/app/genome-browser/components/chromosome-navigator/ChromosomeNavigator.test.tsx
  src/content/app/genome-browser/components/chromosome-navigator/chromosomeNavigatorHelper.ts
  src/content/app/genome-browser/components/drawer/drawer-views/transcript-summary/TranscriptSummary.tsx
  src/content/app/new-species-selector/components/species-search-results-table/SpeciesSearchResultsTable.tsx
  src/content/app/species/state/general/speciesGeneralHelper.ts
  src/shared/components/data-table/components/main/components/table-header/TableHeader.tsx
  src/shared/components/feature-length-ruler/FeatureLengthRuler.tsx
  src/shared/components/in-app-search/InAppSearch.tsx
  src/shared/helpers/formatters/numberFormater.test.ts
  src/shared/helpers/formatters/numberFormatter.ts
  src/shared/helpers/formatters/regionFormatter.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Add view-in-app button to variant zmenu
  src/content/app/genome-browser/components/zmenu/Zmenu.scss
  src/content/app/genome-browser/components/zmenu/ZmenuAppLinks.tsx
  src/content/app/genome-browser/components/zmenu/ZmenuContent.tsx
  src/content/app/genome-browser/components/zmenu/zmenus/GeneAndOneTranscriptZmenu.tsx
  src/content/app/genome-browser/components/zmenu/zmenus/VariantZmenu.tsx
  src/content/app/genome-browser/services/genome-browser-service/types/zmenu.ts
  src/server/middleware/proxyMiddleware.ts
  src/shared/components/view-in-app/ViewInApp.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Skip a failing test
  src/content/app/genome-browser/components/zmenu/Zmenu.test.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update Zmenu test
  src/content/app/genome-browser/components/zmenu/Zmenu.test.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Only show view-in-app variant zmenu button in non-production environments
  src/content/app/genome-browser/components/zmenu/zmenus/VariantZmenu.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Undo development changes to proxy middleware
  src/server/middleware/proxyMiddleware.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Move logic for generating variant focus object id into a helper function
  src/content/app/genome-browser/components/zmenu/zmenus/VariantZmenu.tsx
  src/shared/helpers/focusObjectHelpers.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Make ViewInAppPopup render at the top level of document body
  src/shared/components/pointer-box/PointerBox.tsx
  src/shared/components/view-in-app-popup/ViewInAppPopup.tsx
  src/shared/hooks/useOutsideClick.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Fix non-detectable clicks on ViewInAppPopup's buttons (#1009)
  src/shared/components/pointer-box/PointerBox.tsx
  src/shared/components/view-in-app-popup/ViewInAppPopup.tsx
  src/shared/hooks/useOutsideClick.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write
