Repository Ensembl/ensembl-client: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Integrate genome browser version 0.6.0 (#920)
  package-lock.json
  package.json
  src/content/app/genome-browser/components/browser-image/BrowserImage.tsx
  src/content/app/genome-browser/components/browser-track-legend/BrowserTrackLegend.scss
  src/content/app/genome-browser/components/browser-track-legend/BrowserTrackLegend.tsx
  src/content/app/genome-browser/components/zmenu/Zmenu.test.tsx
  src/content/app/genome-browser/components/zmenu/Zmenu.tsx
  src/content/app/genome-browser/components/zmenu/ZmenuController.tsx
  src/content/app/genome-browser/hooks/useFocusTrack.ts
  src/content/app/genome-browser/hooks/useGenomeBrowserTracks.ts
  src/shared/components/pointer-box/pointer-box-helper.ts
  src/shared/components/tooltip/Tooltip.tsx
  src/shared/components/tooltip/tooltip-types.ts
  tests/fixtures/browser.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Update launchbar buttons; have a dedicated SpeciesSelectorLaunchbarButton
  src/header/launchbar/Launchbar.scss
  src/header/launchbar/Launchbar.tsx
  src/header/launchbar/LaunchbarButton.tsx
  src/header/launchbar/SpeciesSelectorLaunchbarButton.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Update launchbar buttons, and add a dedicated SpeciesSelectorLaunchbarButton (#926)
  src/header/launchbar/Launchbar.scss
  src/header/launchbar/Launchbar.tsx
  src/header/launchbar/LaunchbarButton.tsx
  src/header/launchbar/SpeciesSelectorLaunchbarButton.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Enable genome browser navigation buttons
  src/content/app/genome-browser/components/browser-nav-button/BrowserNavButton.test.tsx
  src/content/app/genome-browser/components/browser-nav-button/BrowserNavButton.tsx
  src/content/app/genome-browser/components/browser-sidebar-modal/modal-views/navigate-modal/GenomeBrowserNavigationButtons.scss
  src/content/app/genome-browser/components/browser-sidebar-modal/modal-views/navigate-modal/GenomeBrowserNavigationButtons.tsx
  src/content/app/genome-browser/components/browser-sidebar-modal/modal-views/navigate-modal/NavigateModal.scss
  src/content/app/genome-browser/components/browser-sidebar-modal/modal-views/navigate-modal/NavigateRegionModal.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Close track settings panel on outside click (#925)
  src/content/app/genome-browser/components/browser-cog/BrowserCog.test.tsx
  src/content/app/genome-browser/components/browser-cog/BrowserCog.tsx
  src/content/app/genome-browser/components/browser-cog/BrowserCogList.tsx
  src/content/app/genome-browser/components/track-settings-panel/TrackSettingsPanel.test.tsx
  src/content/app/genome-browser/components/track-settings-panel/TrackSettingsPanel.tsx
  src/content/app/genome-browser/components/track-settings-panel/track-settings-views/GeneTrackSettings.tsx
  src/content/app/genome-browser/components/track-settings-panel/track-settings-views/RegularTrackSettings.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Do not exceed region length
  src/content/app/genome-browser/components/browser-sidebar-modal/modal-views/navigate-modal/GenomeBrowserNavigationButtons.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Use browser's current position instead of the target position
  src/content/app/genome-browser/components/browser-sidebar-modal/modal-views/navigate-modal/GenomeBrowserNavigationButtons.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Fix tests
  src/content/app/genome-browser/components/browser-sidebar-modal/modal-views/navigate-modal/tests/NavigateRegionModal.test.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update genome browser to version 0.6.1
  package-lock.json
  package.json
  src/content/app/genome-browser/components/browser-track-legend/BrowserTrackLegend.tsx
  src/content/app/genome-browser/components/zmenu/ZmenuController.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Remove TODO comments
  src/content/app/genome-browser/components/browser-sidebar-modal/modal-views/navigate-modal/GenomeBrowserNavigationButtons.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update genome browser to version 0.6.1 (#927)
  package-lock.json
  package.json
  src/content/app/genome-browser/components/browser-track-legend/BrowserTrackLegend.tsx
  src/content/app/genome-browser/components/zmenu/ZmenuController.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Start with focus variant track
  package-lock.json
  package.json
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/TrackPanelList.tsx
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/track-panel-items/TrackPanelVariant.tsx
  src/content/app/genome-browser/hooks/useFocusTrack.ts
  src/content/app/genome-browser/state/focus-object/focusObjectSlice.ts
  src/shared/types/focus-object/focusObjectTypes.ts
  src/store.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Disable checkboxes
  src/shared/components/data-table/components/main/components/table-row/components/row-selector/RowSelector.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Fix BLAST results table for cDNA
  src/content/app/tools/blast/views/blast-submission-results/components/single-blast-job-result/SingleBlastJobResult.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update styles
  src/shared/components/checkbox/Checkbox.scss
Due: prettier --write, stylelint

Update styles
  src/shared/components/data-table/components/main/components/table-row/components/row-selector/RowSelector.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update copy and style of row selection column
  src/shared/components/data-table/components/main/components/table-header/TableHeader.scss
  src/shared/components/data-table/components/main/components/table-header/TableHeader.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Enable genome browser navigation buttons (#914)
  src/content/app/genome-browser/components/browser-nav-button/BrowserNavButton.test.tsx
  src/content/app/genome-browser/components/browser-nav-button/BrowserNavButton.tsx
  src/content/app/genome-browser/components/browser-sidebar-modal/modal-views/navigate-modal/GenomeBrowserNavigationButtons.scss
  src/content/app/genome-browser/components/browser-sidebar-modal/modal-views/navigate-modal/GenomeBrowserNavigationButtons.tsx
  src/content/app/genome-browser/components/browser-sidebar-modal/modal-views/navigate-modal/NavigateModal.scss
  src/content/app/genome-browser/components/browser-sidebar-modal/modal-views/navigate-modal/NavigateRegionModal.tsx
  src/content/app/genome-browser/components/browser-sidebar-modal/modal-views/navigate-modal/tests/NavigateRegionModal.test.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Co-authored-by: Andrey Azov <andrey.azov@gmail.com>
  src/content/app/tools/blast/components/blast-settings/BlastSettings.tsx
  src/content/app/tools/blast/state/blast-api/blastApiSlice.ts
  src/content/app/tools/blast/types/blastSettings.ts
  src/content/app/tools/blast/views/blast-form/BlastForm.tsx
  tests/fixtures/blast/blastSettingsConfig.json
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Fix BLAST results table for cDNA (#929)
  src/content/app/tools/blast/views/blast-submission-results/components/single-blast-job-result/SingleBlastJobResult.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

update nav panel to new design
  src/content/app/genome-browser/components/browser-sidebar-modal/BrowserSidebarModal.tsx
  src/content/app/genome-browser/components/browser-sidebar-modal/modal-views/NavigateModal.tsx
  src/content/app/genome-browser/components/browser-sidebar-modal/modal-views/navigate-modal/NavigateLocationModal.tsx
  src/content/app/genome-browser/components/browser-sidebar-modal/modal-views/navigate-modal/NavigateModal.scss
  src/content/app/genome-browser/components/browser-sidebar-modal/modal-views/navigate-modal/NavigateRegionModal.tsx
  src/content/app/genome-browser/components/browser-sidebar-toolstrip/BrowserSidebarToolstrip.tsx
  src/content/app/genome-browser/state/browser-sidebar-modal/browserSidebarModalSlice.ts
  src/shared/components/layout/sidebar-modal/SidebarModal.scss
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

css updates
  src/content/app/genome-browser/components/browser-sidebar-modal/modal-views/navigate-modal/GenomeBrowserNavigationButtons.scss
  src/content/app/genome-browser/components/browser-sidebar-modal/modal-views/navigate-modal/GenomeBrowserNavigationButtons.tsx
  src/content/app/genome-browser/components/browser-sidebar-modal/modal-views/navigate-modal/NavigateModal.scss
  src/content/app/genome-browser/components/browser-sidebar-modal/modal-views/navigate-modal/NavigateRegionModal.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

cleanup
  src/content/app/genome-browser/components/browser-sidebar-modal/BrowserSidebarModal.tsx
  src/content/app/genome-browser/components/browser-sidebar-toolstrip/BrowserSidebarToolstrip.tsx
  src/content/app/genome-browser/state/browser-sidebar-modal/browserSidebarModalSlice.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update match scores and matrix to use jDispatcher values
  tests/fixtures/blast/blastSettingsConfig.json
Due: none

Update types in a test file
  src/content/app/tools/blast/state/blast-form/blastFormSlice.test.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

stop re-rendering if props not changed
  src/content/app/genome-browser/components/browser-sidebar-modal/modal-views/NavigateModal.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

update tests and rename components
  src/content/app/genome-browser/components/browser-sidebar-modal/BrowserSidebarModal.tsx
  src/content/app/genome-browser/components/browser-sidebar-modal/modal-views/NavigateModal.tsx
  src/content/app/genome-browser/components/browser-sidebar-modal/modal-views/navigate-modal/LocationNavigation.tsx
  src/content/app/genome-browser/components/browser-sidebar-modal/modal-views/navigate-modal/NavigationButtons.scss
  src/content/app/genome-browser/components/browser-sidebar-modal/modal-views/navigate-modal/NavigationButtons.tsx
  src/content/app/genome-browser/components/browser-sidebar-modal/modal-views/navigate-modal/RegionNavigation.tsx
  src/content/app/genome-browser/components/browser-sidebar-modal/modal-views/navigate-modal/tests/LocationNavigation.test.tsx
  src/content/app/genome-browser/components/browser-sidebar-modal/modal-views/navigate-modal/tests/NavigateModal.test.tsx
  src/content/app/genome-browser/components/browser-sidebar-modal/modal-views/navigate-modal/tests/RegionNavigation.test.tsx
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/TrackPanelList.test.tsx
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/TrackPanelList.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Disable checkboxes in the row selection column of the DataTable component (#928)
  src/shared/components/checkbox/Checkbox.scss
  src/shared/components/data-table/components/main/components/table-header/TableHeader.scss
  src/shared/components/data-table/components/main/components/table-header/TableHeader.tsx
  src/shared/components/data-table/components/main/components/table-row/components/row-selector/RowSelector.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Add tests for the BlastSettings component
  src/content/app/tools/blast/components/blast-job-lists-navigation/BlastJobListsNavigation.tsx
  src/content/app/tools/blast/components/blast-settings/BlastSettings.test.tsx
  src/content/app/tools/blast/state/blast-form/blastFormSlice.test.ts
  src/content/app/tools/blast/state/blast-results/blastResultsSelectors.ts
  tests/fixtures/blast/blastSettingsConfig.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Match default values of BLAST with the current site
  src/content/app/tools/blast/components/blast-settings/BlastSettings.tsx
  tests/fixtures/blast/blastSettingsConfig.json
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Cleanup gap options
  src/content/app/tools/blast/components/blast-settings/BlastSettings.test.tsx
  src/content/app/tools/blast/components/blast-settings/BlastSettings.tsx
  src/content/app/tools/blast/types/blastSettings.ts
  tests/fixtures/blast/blastSettingsConfig.json
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update a comment
  tests/fixtures/blast/blastSettingsConfig.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

review changes
  src/content/app/entity-viewer/shared/components/entity-viewer-sidebar/entity-viewer-sidebar-modal/EntityViewerSidebarModal.tsx
  src/content/app/genome-browser/components/browser-sidebar-modal/BrowserSidebarModal.tsx
  src/content/app/species/components/species-sidebar-modal/SpeciesSidebarModal.tsx
  src/shared/components/layout/sidebar-modal/SidebarModal.scss
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Update genome browser to version 0.6.2
  package-lock.json
  package.json
Due: none

Update genome browser version
  package-lock.json
  package.json
Due: none

Remove 'gapalign' from presets for tblastx
  src/content/app/tools/blast/components/blast-settings/BlastSettings.tsx
  tests/fixtures/blast/blastSettingsConfig.json
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Remove gapalign from tblastx
  tests/fixtures/blast/blastSettingsConfig.json
  tests/fixtures/blast/blastSettingsConfig.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

case correction
  src/content/app/genome-browser/components/browser-sidebar-modal/modal-views/navigate-modal/LocationNavigation.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Stop using mock config in blast api slice
  src/content/app/tools/blast/state/blast-api/blastApiSlice.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Fix gap penalties select elem being cut off
  src/content/app/tools/blast/components/blast-settings/BlastSettings.scss
  src/content/app/tools/blast/components/blast-settings/BlastSettings.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Path conditions:
  eslint --max-warnings=0: any of: *.{ts,tsx}
  manage-licence-header add: any of: *.{ts,tsx}
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.scss)
  stylelint: any of: *.scss
