Repository Ensembl/ensembl-client: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

.lintstagedrc.json:

{
  "*.{ts,tsx}": [
    "eslint --max-warnings=0",
    "manage-licence-header add",
    "prettier --write"
  ],
  "*.scss": [
    "stylelint",
    "prettier --write"
  ]
}

initial commit
  doc/architecture/decisions/0019-BLAST-database-files.md
  doc/architecture/decisions/0020-BLAST-download-formats.md
Due: none

Dispatch on local element
  src/content/app/App.tsx
  src/global/hooks/useGlobalAnalytics.ts
  src/shared/components/communication-framework/ConversationIcon.tsx
  src/shared/components/communication-framework/contact-us/ContactUs.tsx
  src/shared/components/communication-framework/contact-us/contact-us-form/initial/ContactUsInitialForm.tsx
  src/shared/components/help-popup/HelpPopupBody.scss
  src/shared/components/help-popup/HelpPopupBody.tsx
  src/shared/components/help-popup/HelpPopupButton.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Update useGlobalAnalytics and App.tsx
  src/content/app/App.tsx
  src/global/hooks/useGlobalAnalytics.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Rename analyticsRef to elementRef
  src/shared/components/communication-framework/ConversationIcon.tsx
  src/shared/components/communication-framework/contact-us/ContactUs.tsx
  src/shared/components/communication-framework/contact-us/contact-us-form/initial/ContactUsInitialForm.tsx
  src/shared/components/help-popup/HelpPopupBody.tsx
  src/shared/components/help-popup/HelpPopupButton.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Attach ref used for analytics to the top-level element of ContactUsInitialForm
  src/shared/components/communication-framework/contact-us/contact-us-form/initial/ContactUsInitialForm.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

fix css after useResizeObserver hook
  src/content/app/species/components/species-title-area/SpeciesTitleArea.scss
  src/content/app/species/components/species-title-area/SpeciesTitleArea.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Track sidebar toggle
  src/content/app/genome-browser/Browser.test.tsx
  src/content/app/genome-browser/Browser.tsx
  src/content/app/genome-browser/hooks/useGenomeBrowserAnalytics.ts
  src/shared/components/layout/StandardAppLayout.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Move tracking code in components into their own functions
  src/shared/components/communication-framework/ConversationIcon.tsx
  src/shared/components/communication-framework/contact-us/ContactUs.tsx
  src/shared/components/communication-framework/contact-us/contact-us-form/initial/ContactUsInitialForm.tsx
  src/shared/components/help-popup/HelpPopupButton.tsx
  src/shared/components/layout/StandardAppLayout.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Analytics - filling the gaps (#849)
  src/content/app/App.tsx
  src/content/app/genome-browser/Browser.test.tsx
  src/content/app/genome-browser/Browser.tsx
  src/content/app/genome-browser/components/browser-sidebar-modal/modal-views/SearchModal.tsx
  src/content/app/genome-browser/components/interstitial/BrowserInterstitial.tsx
  src/content/app/genome-browser/hooks/useGenomeBrowserAnalytics.ts
  src/content/home/hooks/useHomeAnalytics.ts
  src/global/hooks/useGlobalAnalytics.ts
  src/header/hooks/useHeaderAnalytics.ts
  src/header/launchbar/Launchbar.tsx
  src/header/launchbar/LaunchbarButton.tsx
  src/root/rootReducer.ts
  src/shared/components/communication-framework/ConversationIcon.tsx
  src/shared/components/communication-framework/contact-us/ContactUs.tsx
  src/shared/components/communication-framework/contact-us/contact-us-form/initial/ContactUsInitialForm.tsx
  src/shared/components/help-popup/HelpPopupBody.scss
  src/shared/components/help-popup/HelpPopupBody.tsx
  src/shared/components/help-popup/HelpPopupButton.tsx
  src/shared/components/layout/StandardAppLayout.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Update timeout logic
  src/shared/components/data-table/components/table-controls/components/table-actions/components/download-data/DownloadData.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

updates
  doc/architecture/decisions/0019-BLAST-database-files.md
  doc/architecture/decisions/0020-BLAST-download-formats.md
Due: none

fix import order
  src/content/app/species/components/species-title-area/SpeciesTitleArea.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

display submission name and adapt to small screen
  src/content/app/tools/blast/components/blast-job-submit/BlastJobSubmit.tsx
  src/content/app/tools/blast/components/blast-settings/BlastSettings.tsx
  src/content/app/tools/blast/components/blast-submission-header/BlastSubmissionHeader.scss
  src/content/app/tools/blast/components/blast-submission-header/BlastSubmissionHeader.tsx
  src/content/app/tools/blast/state/blast-api/blastApiSlice.ts
  src/content/app/tools/blast/state/blast-results/blastResultsSlice.ts
  tests/fixtures/blast/blastSubmission.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

fix test
  src/content/app/tools/blast/components/blast-job-submit/BlastJobSubmit.test.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

EV species change link tracking
  src/content/app/entity-viewer/hooks/useEntityViewerAnalytics.ts
  src/content/app/entity-viewer/shared/components/entity-viewer-app-bar/EntityViewerAppBar.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Add a storage service for track settings that uses IndexedDB
  package-lock.json
  package.json
  src/content/app/genome-browser/services/track-settings/trackSettingsStorageConstants.ts
  src/content/app/genome-browser/services/track-settings/trackSettingsStorageService.test.ts
  src/content/app/genome-browser/services/track-settings/trackSettingsStorageService.ts
  src/services/indexeddb-service.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

PR feedback
  src/content/app/tools/blast/components/blast-job-submit/BlastJobSubmit.test.tsx
  src/content/app/tools/blast/components/blast-submission-header/BlastSubmissionHeader.scss
  src/content/app/tools/blast/components/blast-submission-header/BlastSubmissionHeader.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

EV species change link tracking (#853)
  src/content/app/entity-viewer/hooks/useEntityViewerAnalytics.ts
  src/content/app/entity-viewer/shared/components/entity-viewer-app-bar/EntityViewerAppBar.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Use controlled loading button
  src/shared/components/data-table/components/table-controls/components/table-actions/components/download-data/DownloadData.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Use hsp_bit_score
  src/content/app/tools/blast/views/blast-submission-results/components/single-blast-job-result/SingleBlastJobResult.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

More customization for the label of FeatureLengthRuler
  src/content/app/entity-viewer/gene-view/components/gene-overview-image/GeneOverviewImage.scss
  src/content/app/tools/blast/views/blast-submission-results/components/blast-results-per-sequence/BlastResultsPerSequence.scss
  src/content/app/tools/blast/views/blast-submission-results/components/blast-results-per-sequence/BlastResultsPerSequence.tsx
  src/shared/components/feature-length-ruler/FeatureLengthRuler.scss
  src/shared/components/feature-length-ruler/FeatureLengthRuler.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Enable more customisation of FeatureLengthRuler label
  src/content/app/entity-viewer/gene-view/components/gene-overview-image/GeneOverviewImage.tsx
  src/content/app/tools/blast/views/blast-submission-results/components/blast-results-per-sequence/BlastResultsPerSequence.tsx
  src/shared/components/feature-length-ruler/FeatureLengthRuler.tsx
  stories/shared-components/feature-length-ruler/FeatureLengthRuler.stories.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update label offset on BLAST results page
  src/content/app/tools/blast/views/blast-submission-results/components/blast-results-per-sequence/BlastResultsPerSequence.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Check allowComponentResetRef inside setTimeout
  src/shared/components/data-table/components/table-controls/components/table-actions/components/download-data/DownloadData.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Handle parent state updates
  src/shared/components/data-table/DataTable.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update species removal confirmation (#847)
  src/content/app/species/components/species-title-area/SpeciesTitleArea.scss
  src/content/app/species/components/species-title-area/SpeciesTitleArea.tsx
  src/content/app/species/components/species-title-area/species-remove/SpeciesRemove.scss
  src/content/app/species/components/species-title-area/species-remove/SpeciesRemove.test.tsx
  src/content/app/species/components/species-title-area/species-remove/SpeciesRemove.tsx
  src/shared/hooks/useResizeObserver.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Download table data (#848)
  src/content/app/tools/blast/blast-download/submissionDownload.ts
  src/content/app/tools/blast/views/blast-submission-results/BlastSubmissionResults.tsx
  src/content/app/tools/blast/views/blast-submission-results/components/blast-results-per-sequence/BlastResultsPerSequence.tsx
  src/content/app/tools/blast/views/blast-submission-results/components/single-blast-job-result/SingleBlastJobResult.tsx
  src/shared/components/data-table/DataTable.tsx
  src/shared/components/data-table/components/table-controls/components/table-actions/TableActions.tsx
  src/shared/components/data-table/components/table-controls/components/table-actions/components/download-data/DownloadData.scss
  src/shared/components/data-table/components/table-controls/components/table-actions/components/download-data/DownloadData.tsx
  src/shared/components/data-table/dataTableTypes.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Make the label of FeatureLengthRuler more customizable (#855)
  src/content/app/entity-viewer/gene-view/components/gene-overview-image/GeneOverviewImage.scss
  src/content/app/entity-viewer/gene-view/components/gene-overview-image/GeneOverviewImage.tsx
  src/content/app/tools/blast/views/blast-submission-results/components/blast-results-per-sequence/BlastResultsPerSequence.scss
  src/content/app/tools/blast/views/blast-submission-results/components/blast-results-per-sequence/BlastResultsPerSequence.tsx
  src/shared/components/feature-length-ruler/FeatureLengthRuler.scss
  src/shared/components/feature-length-ruler/FeatureLengthRuler.tsx
  stories/shared-components/feature-length-ruler/FeatureLengthRuler.stories.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

minor update
  src/global/globalConfig.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Test state changes made by the parent component
  src/shared/components/data-table/DataTable.test.tsx
  src/shared/components/data-table/DataTable.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Add focus object storage service
  src/content/app/genome-browser/services/focus-objects/focusObjectStorageConstants.ts
  src/content/app/genome-browser/services/focus-objects/focusObjectStorageService.test.ts
  src/content/app/genome-browser/services/focus-objects/focusObjectStorageService.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Use updated redux state and new storage services in components
  src/content/app/genome-browser/components/browser-cog/BrowserCog.tsx
  src/content/app/genome-browser/components/browser-cog/BrowserCogList.tsx
  src/content/app/genome-browser/components/track-settings-panel/TrackSettingsPanel.test.tsx
  src/content/app/genome-browser/components/track-settings-panel/TrackSettingsPanel.tsx
  src/content/app/genome-browser/components/track-settings-panel/track-settings-views/GeneTrackSettings.tsx
  src/content/app/genome-browser/components/track-settings-panel/track-settings-views/RegularTrackSettings.tsx
  src/content/app/genome-browser/components/track-settings-panel/useTrackSettings.ts
  src/content/app/genome-browser/hooks/useFocusTrack.ts
  src/content/app/genome-browser/hooks/useGenomeBrowser.ts
  src/content/app/genome-browser/hooks/useGenomeBrowserTracks.ts
  src/content/app/genome-browser/hooks/useGenomicTracks.ts
  src/content/app/genome-browser/services/focus-objects/focusObjectStorageService.test.ts
  src/content/app/genome-browser/services/track-settings/trackSettingsStorageConstants.ts
  src/content/app/genome-browser/services/track-settings/trackSettingsStorageService.test.ts
  src/content/app/genome-browser/services/track-settings/trackSettingsStorageService.ts
  src/content/app/genome-browser/state/focus-object/focusObjectSlice.ts
  src/content/app/genome-browser/state/track-settings/trackSettingsConstants.ts
  src/content/app/genome-browser/state/track-settings/trackSettingsSelectors.ts
  src/content/app/genome-browser/state/track-settings/trackSettingsSlice.ts
  src/services/indexeddb-service.ts
  tests/fixtures/browser.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Retrieve saved focus object data
  src/content/app/genome-browser/components/track-settings-panel/services/trackSettingsStorageService.ts
  src/content/app/genome-browser/hooks/useGenomeBrowserTracks.ts
  src/content/app/genome-browser/state/browser-general/browserGeneralSlice.ts
  src/content/app/genome-browser/state/focus-object/focusObjectSlice.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Delete stored focus objects for genome when a genome is removed
  src/content/app/genome-browser/state/browser-general/browserGeneralSlice.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Remove mention of custom download from gitlab-ci.yml
  .gitlab-ci.yml
Due: none

add more BLAST ADRs
  doc/architecture/decisions/0021-BLAST-sequence-formats.md
  doc/architecture/decisions/0022-BLAST-input-parameters.md
  doc/architecture/decisions/0023-BLAST-species-sequence-interactions.md
Due: none

Use stored information about track visibility when booting genome browser
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/track-panel-items/TrackPanelRegularItem.tsx
  src/content/app/genome-browser/hooks/useFocusTrack.ts
  src/content/app/genome-browser/hooks/useGenomeBrowser.ts
  src/content/app/genome-browser/hooks/useGenomeBrowserTracks.ts
  src/content/app/genome-browser/hooks/useGenomicTracks.ts
  src/content/app/genome-browser/services/track-settings/trackSettingsStorageConstants.ts
  src/content/app/genome-browser/services/track-settings/trackSettingsStorageService.ts
  src/content/app/genome-browser/state/browser-general/browserGeneralSlice.ts
  src/content/app/genome-browser/state/track-settings/trackSettingsConstants.ts
  src/content/app/genome-browser/state/track-settings/trackSettingsSelectors.ts
  src/content/app/genome-browser/state/track-settings/trackSettingsSlice.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Fix tests
  src/content/app/genome-browser/components/track-settings-panel/TrackSettingsPanel.test.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Remove code for saving trackStates to browser local storage
  src/content/app/genome-browser/components/track-panel/trackPanelConfig.ts
  src/content/app/genome-browser/services/browserStorageService.test.ts
  src/content/app/genome-browser/services/browserStorageService.ts
  src/content/app/genome-browser/state/browser-general/browserGeneralSelectors.ts
  src/content/app/genome-browser/state/browser-general/browserGeneralSlice.ts
  tests/fixtures/browser.ts
  tests/fixtures/track-panel.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write
