Repository Ensembl/ensembl-client: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

.lintstagedrc.json:

{
  "*.{ts,tsx}": [
    "eslint --max-warnings=0",
    "manage-licence-header add",
    "prettier --write"
  ],
  "*.scss": [
    "stylelint",
    "prettier --write"
  ]
}

Ignore outdated genome browser messages for location change
  src/content/app/genome-browser/hooks/useGenomeBrowserPosition.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

BLAST table state
  src/content/app/tools/blast/views/blast-submission-results/BlastSubmissionResults.tsx
  src/shared/components/data-table/DataTable.tsx
  src/shared/components/data-table/components/main/components/table-body/TableBody.tsx
  src/shared/components/data-table/dataTableReducer.ts
  src/shared/components/data-table/dataTableTypes.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Create GB analytics hook
  src/content/app/entity-viewer/hooks/useEntityViewerAnalytics.ts
  src/content/app/genome-browser/components/browser-cog/BrowserCog.tsx
  src/content/app/genome-browser/components/browser-region-editor/BrowserRegionEditor.tsx
  src/content/app/genome-browser/components/browser-region-field/BrowserRegionField.tsx
  src/content/app/genome-browser/components/browser-sidebar-modal/modal-views/BookmarksModal.tsx
  src/content/app/genome-browser/components/drawer/drawer-views/DrawerBookmarks.tsx
  src/content/app/genome-browser/components/track-settings-panel/useTrackSettings.ts
  src/content/app/genome-browser/hooks/useGenomeBrowserAnalytics.ts
  src/content/app/genome-browser/state/track-panel/trackPanelSlice.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Fix tests
  src/content/app/genome-browser/components/browser-cog/BrowserCog.test.tsx
  src/content/app/genome-browser/components/browser-cog/BrowserCogList.test.tsx
  src/content/app/genome-browser/components/browser-location-indicator/BrowserLocationIndicator.test.tsx
  src/content/app/genome-browser/components/browser-region-editor/BrowserRegionEditor.test.tsx
  src/content/app/genome-browser/components/browser-region-field/BrowserRegionField.test.tsx
  src/content/app/genome-browser/components/drawer/components/sequence-view/TranscriptSequenceView.test.tsx
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/TrackPanelList.test.tsx
  src/content/app/genome-browser/components/track-panel/components/track-panel-tabs/TrackPanelTabs.test.tsx
  src/content/app/genome-browser/components/track-settings-panel/TrackSettingsPanel.test.tsx
  src/content/app/genome-browser/hooks/useBrowserRouting.test.tsx
  src/content/app/tools/blast/state/epics/tests/blastEpics.test.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Fix undefined transcript in TrackPanelGene (#807)
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/track-panel-items/TrackPanelGene.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Ignore outdated genome browser messages for location change (#808)
  src/content/app/genome-browser/hooks/useGenomeBrowserPosition.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Display all tracks returned from the track api by default
  src/content/app/genome-browser/Browser.tsx
  src/content/app/genome-browser/components/track-panel/TrackPanel.tsx
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/track-panel-items/TrackPanelRegularItem.tsx
  src/content/app/genome-browser/hooks/useGenomicTracks.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Add remaining events
  src/content/app/genome-browser/Browser.test.tsx
  src/content/app/genome-browser/Browser.tsx
  src/content/app/genome-browser/components/browser-app-bar/BrowserAppBar.tsx
  src/content/app/genome-browser/components/browser-reset/BrowserReset.test.tsx
  src/content/app/genome-browser/components/browser-reset/BrowserReset.tsx
  src/content/app/genome-browser/components/browser-sidebar-toolstrip/BrowserSidebarToolstrip.test.tsx
  src/content/app/genome-browser/components/browser-sidebar-toolstrip/BrowserSidebarToolstrip.tsx
  src/content/app/genome-browser/components/drawer/components/sequence-view/DrawerSequenceView.tsx
  src/content/app/genome-browser/components/drawer/drawer-views/gene-summary/GeneSummary.tsx
  src/content/app/genome-browser/components/drawer/drawer-views/transcript-summary/TranscriptSummary.tsx
  src/content/app/genome-browser/components/interstitial/browser-interstitial-instructions/BrowserInterstitialInstructions.tsx
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/TrackPanelList.tsx
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/track-panel-items/TrackPanelGene.tsx
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/track-panel-items/TrackPanelRegularItem.tsx
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/track-panel-items/TrackPanelTranscript.tsx
  src/content/app/genome-browser/hooks/useGenomeBrowserAnalytics.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Maintain table state in the parent component
  src/content/app/tools/blast/views/blast-submission-results/BlastSubmissionResults.tsx
  src/shared/components/data-table/DataTable.tsx
  src/shared/components/data-table/dataTableReducer.ts
  src/shared/components/data-table/dataTableTypes.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Fix types
  src/content/app/tools/blast/views/blast-submission-results/BlastSubmissionResults.tsx
  src/shared/components/chevron-button/ChevronButton.scss
  src/shared/components/chevron-button/ChevronButton.tsx
  src/shared/components/chevron/Chevron.scss
  src/shared/components/data-table/DataTable.tsx
  stories/shared-components/data-table/DataTable.stories.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Update all track settings in useGenomicTracks hook
  src/content/app/genome-browser/Browser.test.tsx
  src/content/app/genome-browser/components/track-panel/TrackPanel.tsx
  src/content/app/genome-browser/hooks/useGenomicTracks.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Send track settings for the focus track
  src/content/app/genome-browser/hooks/useFocusTrack.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Cleanup
  src/content/app/genome-browser/components/track-panel/TrackPanel.tsx
  src/content/app/genome-browser/hooks/useFocusTrack.ts
  src/content/app/genome-browser/hooks/useGenomeBrowser.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Add a comment explaining the purpose of the useGenomicTracks hook
  src/content/app/genome-browser/hooks/useGenomicTracks.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Add GH action script
  .github/workflows/delete_gitlab_branch.yaml
Due: none

Typo
  .github/workflows/delete_gitlab_branch.yaml
Due: none

Pass getVisibilityIconHelpText as a prop
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/track-panel-items/TrackPanelGene.tsx
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/track-panel-items/track-panel-item-layout/SimpleTrackPanelItemLayout.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Cleanup
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/track-panel-items/track-panel-item-layout/SimpleTrackPanelItemLayout.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Refactor a function
  src/content/app/genome-browser/hooks/useGenomicTracks.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Remove empty object left over from a reduce
  src/content/app/genome-browser/hooks/useGenomicTracks.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update manifest checkout branch
  gitlab-ci-templates/.setup-review-template.yaml
Due: none

PR review cleanups
  src/content/app/tools/blast/views/blast-submission-results/BlastSubmissionResults.tsx
  src/shared/components/chevron-button/ChevronButton.scss
  src/shared/components/chevron-button/ChevronButton.test.tsx
  src/shared/components/chevron-button/ChevronButton.tsx
  src/shared/components/chevron/Chevron.scss
  src/shared/components/data-table/components/main/components/table-header/components/table-header-cell/TableHeaderCell.tsx
  src/shared/components/data-table/dataTableTypes.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Add refget proxy k8s manifests. (#752)
  gitlab-ci-templates/.setup-review-template.yaml
Due: none

PR review changes
  src/content/app/entity-viewer/hooks/useEntityViewerAnalytics.ts
  src/content/app/entity-viewer/shared/components/entity-viewer-sidebar/entity-viewer-sidebar-modal/modal-views/EntityViewerBookmarks.test.tsx
  src/content/app/entity-viewer/shared/components/entity-viewer-sidebar/entity-viewer-sidebar-modal/modal-views/EntityViewerBookmarks.tsx
  src/content/app/genome-browser/components/browser-app-bar/BrowserAppBar.tsx
  src/content/app/genome-browser/components/browser-reset/BrowserReset.test.tsx
  src/content/app/genome-browser/components/browser-reset/BrowserReset.tsx
  src/content/app/genome-browser/components/browser-sidebar-modal/modal-views/BookmarksModal.test.tsx
  src/content/app/genome-browser/components/drawer/drawer-views/gene-summary/GeneSummary.tsx
  src/content/app/genome-browser/components/drawer/drawer-views/transcript-summary/TranscriptSummary.tsx
  src/content/app/genome-browser/components/track-settings-panel/useTrackSettings.ts
  src/content/app/genome-browser/hooks/useBrowserRouting.test.tsx
  src/content/app/genome-browser/hooks/useGenomeBrowserAnalytics.ts
  src/content/app/genome-browser/state/track-settings/trackSettingsSlice.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Remove mock and fix error
  src/content/app/genome-browser/components/track-panel/components/track-panel-tabs/TrackPanelTabs.tsx
  src/content/app/genome-browser/hooks/useBrowserRouting.test.tsx
  src/content/app/genome-browser/state/track-panel/trackPanelSlice.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Various refactoring
  src/content/app/genome-browser/Browser.test.tsx
  src/content/app/genome-browser/Browser.tsx
  src/content/app/genome-browser/components/browser-cog/BrowserCog.tsx
  src/content/app/genome-browser/components/browser-cog/BrowserCogList.tsx
  src/content/app/genome-browser/components/browser-cog/useBrowserCogList.ts
  src/content/app/genome-browser/components/track-settings-panel/TrackSettingsPanel.tsx
  src/content/app/genome-browser/hooks/useGenomeBrowserIds.ts
  src/content/app/genome-browser/hooks/useGenomeBrowserTracks.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Make sure to hide tracks if they aren't defined for a given genome id
  src/content/app/genome-browser/hooks/useGenomeBrowserTracks.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

PR review cleanups
  src/content/app/entity-viewer/hooks/useEntityViewerAnalytics.ts
  src/content/app/entity-viewer/shared/components/entity-viewer-sidebar/entity-viewer-sidebar-modal/modal-views/EntityViewerBookmarks.test.tsx
  src/content/app/entity-viewer/shared/components/entity-viewer-sidebar/entity-viewer-sidebar-modal/modal-views/EntityViewerBookmarks.tsx
  src/content/app/genome-browser/hooks/useGenomeBrowserAnalytics.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Don't import enums as type
  src/content/app/genome-browser/hooks/useGenomeBrowserAnalytics.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Pass helptext as prop
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/track-panel-items/TrackPanelGene.tsx
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/track-panel-items/track-panel-item-layout/SimpleTrackPanelItemLayout.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update helptext for individual transcripts
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/track-panel-items/TrackPanelTranscript.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update tooltip text for the eye next to the gene in right-hand panel (#812)
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/track-panel-items/TrackPanelGene.tsx
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/track-panel-items/TrackPanelTranscript.tsx
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/track-panel-items/track-panel-item-layout/SimpleTrackPanelItemLayout.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Add unviewed jobs button to BLAST form
  src/content/app/tools/blast/components/blast-settings/BlastSettings.scss
  src/content/app/tools/blast/components/blast-settings/BlastSettings.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Display blast parameters
  src/content/app/genome-browser/components/drawer/components/sequence-view/DrawerSequenceView.scss
  src/content/app/genome-browser/components/drawer/components/sequence-view/DrawerSequenceView.tsx
  src/content/app/tools/blast/components/blast-settings/BlastSettings.tsx
  src/content/app/tools/blast/views/blast-submission-results/BlastSubmissionResults.scss
  src/content/app/tools/blast/views/blast-submission-results/BlastSubmissionResults.tsx
  src/shared/components/copy/Copy.scss
  src/shared/components/copy/Copy.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Separate component for navigaition buttons
  src/content/app/tools/blast/components/blast-navigation-buttons/BlastNavigationButtons.scss
  src/content/app/tools/blast/components/blast-navigation-buttons/BlastNavigationButtons.tsx
  src/content/app/tools/blast/components/blast-settings/BlastSettings.scss
  src/content/app/tools/blast/components/blast-settings/BlastSettings.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Fix restore defaults
  src/shared/components/data-table/components/table-controls/components/table-actions/TableActions.tsx
  src/shared/components/data-table/dataTableReducer.ts
  src/shared/components/data-table/dataTableTypes.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

PR review cleanups
  src/content/app/tools/blast/views/blast-submission-results/BlastSubmissionResults.tsx
  src/shared/components/chevron-button/ChevronButton.scss
  src/shared/components/data-table/components/main/components/table-header/TableHeader.scss
  src/shared/components/data-table/components/main/components/table-header/TableHeader.tsx
  src/shared/components/data-table/components/table-controls/TableControls.scss
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Display all tracks returned from the track api by default (#810)
  src/content/app/genome-browser/Browser.test.tsx
  src/content/app/genome-browser/Browser.tsx
  src/content/app/genome-browser/components/browser-cog/BrowserCog.tsx
  src/content/app/genome-browser/components/browser-cog/BrowserCogList.tsx
  src/content/app/genome-browser/components/browser-cog/useBrowserCogList.ts
  src/content/app/genome-browser/components/track-panel/TrackPanel.tsx
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/track-panel-items/TrackPanelRegularItem.tsx
  src/content/app/genome-browser/components/track-settings-panel/TrackSettingsPanel.tsx
  src/content/app/genome-browser/hooks/useFocusTrack.ts
  src/content/app/genome-browser/hooks/useGenomeBrowser.ts
  src/content/app/genome-browser/hooks/useGenomeBrowserIds.ts
  src/content/app/genome-browser/hooks/useGenomeBrowserTracks.ts
  src/content/app/genome-browser/hooks/useGenomicTracks.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Cleanup comments
  src/content/app/tools/blast/views/blast-submission-results/BlastSubmissionResults.tsx
  src/shared/components/data-table/components/main/components/table-cell/TableCell.tsx
  src/shared/components/data-table/components/main/components/table-header/TableHeader.tsx
  src/shared/components/data-table/components/main/components/table-row/TableRow.tsx
  src/shared/components/data-table/components/table-controls/components/table-actions/TableActions.tsx
  src/shared/components/data-table/components/table-controls/components/table-actions/components/popup-panel/PopupPanel.tsx
  src/shared/components/data-table/components/table-controls/components/table-actions/components/show-hide-columns/ShowHideColumns.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Temporary fix for flashing action dropdown
  src/shared/components/data-table/components/table-controls/components/table-actions/TableActions.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write
