Repository Ensembl/ensembl-client: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Update styles for example VCF input
  src/content/app/tools/vep/views/vep-form/vep-form-variants-section/VepFormVariantsSection.module.css
  src/content/app/tools/vep/views/vep-form/vep-form-variants-section/VepFormVariantsSection.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Add example VCF string
  src/content/app/tools/vep/state/vep-api/vepApiSlice.ts
  src/content/app/tools/vep/views/vep-form/vep-form-variants-section/VepFormVariantsSection.module.css
  src/content/app/tools/vep/views/vep-form/vep-form-variants-section/VepFormVariantsSection.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Use a dedicated query for building VCF string for example variant; and move re request to a parent component
  src/content/app/tools/vep/state/vep-api/queries/vepExampleVariantQuery.ts
  src/content/app/tools/vep/state/vep-api/vepApiSlice.ts
  src/content/app/tools/vep/views/vep-form/vep-form-variants-section/VepFormVariantsSection.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Show example VCF input for VEP if available (#1159)
  src/content/app/tools/vep/state/vep-api/queries/vepExampleVariantQuery.ts
  src/content/app/tools/vep/state/vep-api/vepApiSlice.ts
  src/content/app/tools/vep/views/vep-form/vep-form-variants-section/VepFormVariantsSection.module.css
  src/content/app/tools/vep/views/vep-form/vep-form-variants-section/VepFormVariantsSection.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Preserve temporary VEP form id on VEP form reset
  src/content/app/tools/vep/state/vep-form/vepFormSlice.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Do not show top grey bar for species selector view for VEP
  src/content/app/tools/vep/VepPageContent.module.css
  src/content/app/tools/vep/VepPageContent.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Create const arrays for submission statuses; only show server-side submission id in submission lists
  src/content/app/tools/vep/components/vep-submission-header/VepSubmissionHeader.tsx
  src/content/app/tools/vep/types/vepSubmission.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update CSS for submission lists
  src/content/app/tools/vep/components/vep-submission-header/VepSubmissionHeader.module.css
  src/content/app/tools/vep/views/vep-submissions/listed-vep-submission/ListedVepSubmission.module.css
Due: stylelint

Add deletion confirmation
  src/content/app/tools/vep/components/vep-submission-header/VepSubmissionHeader.module.css
  src/content/app/tools/vep/components/vep-submission-header/VepSubmissionHeader.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Proper scrolling for vep submissions list
  src/content/app/tools/vep/views/vep-submissions/VepSubmissions.module.css
  src/content/app/tools/vep/views/vep-submissions/VepSubmissions.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Update styles for VEP submissions list, and add confirmation dialog for submission deletion (#1158)
  src/content/app/tools/vep/VepPageContent.module.css
  src/content/app/tools/vep/VepPageContent.tsx
  src/content/app/tools/vep/components/vep-submission-header/VepSubmissionHeader.module.css
  src/content/app/tools/vep/components/vep-submission-header/VepSubmissionHeader.tsx
  src/content/app/tools/vep/types/vepSubmission.ts
  src/content/app/tools/vep/views/vep-submissions/VepSubmissions.module.css
  src/content/app/tools/vep/views/vep-submissions/VepSubmissions.tsx
  src/content/app/tools/vep/views/vep-submissions/listed-vep-submission/ListedVepSubmission.module.css
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Fix polling in case of error response; continue status polling on startup
  src/content/app/tools/vep/state/vep-action-listeners/vepActionListeners.ts
  src/content/app/tools/vep/state/vep-action-listeners/vepSubmissionStatusPolling.test.ts
  src/content/app/tools/vep/state/vep-action-listeners/vepSubmissionStatusPolling.ts
  src/content/app/tools/vep/state/vep-submissions/vepSubmissionsSlice.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Fix polling in case of error response; continue status polling on startup (#1160)
  src/content/app/tools/vep/state/vep-action-listeners/vepActionListeners.ts
  src/content/app/tools/vep/state/vep-action-listeners/vepSubmissionStatusPolling.test.ts
  src/content/app/tools/vep/state/vep-action-listeners/vepSubmissionStatusPolling.ts
  src/content/app/tools/vep/state/vep-submissions/vepSubmissionsSlice.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Add DownloadLink button, and use it in VEP submissions list
  src/content/app/tools/vep/components/vep-submission-header/VepSubmissionHeader.tsx
  src/server/middleware/proxyMiddleware.ts
  src/shared/components/download-button/DownloadButton.module.css
  src/shared/components/download-button/DownloadLink.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Revert proxy middleware target
  src/server/middleware/proxyMiddleware.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Enable download of VEP submissions (#1161)
  src/content/app/tools/vep/components/vep-submission-header/VepSubmissionHeader.tsx
  src/shared/components/download-button/DownloadButton.module.css
  src/shared/components/download-button/DownloadLink.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Updates for VEP results page - add header, and VepResultsAllele component
  src/content/app/tools/vep/components/vep-submission-header/VepSubmissionHeader.module.css
  src/content/app/tools/vep/components/vep-submission-header/VepSubmissionHeader.tsx
  src/content/app/tools/vep/state/vep-api/vepApiSlice.ts
  src/content/app/tools/vep/state/vep-submissions/vepSubmissionsSelectors.ts
  src/content/app/tools/vep/views/vep-submission-results/VepSubmissionResults.module.css
  src/content/app/tools/vep/views/vep-submission-results/VepSubmissionResults.tsx
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-allele/VepResultsAllele.module.css
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-allele/VepResultsAllele.tsx
  src/content/app/tools/vep/views/vep-submission-results/useVepVariantTabularData.ts
  src/server/middleware/proxyMiddleware.ts
  src/shared/helpers/urlHelper.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Separate VEP submissions list into unviewed submissions and viewed submissions
  src/content/app/tools/vep/VepPageContent.tsx
  src/content/app/tools/vep/components/vep-top-bar/VepTopBarNavButtons.tsx
  src/content/app/tools/vep/views/vep-submission-results/VepSubmissionResults.tsx
  src/content/app/tools/vep/views/vep-submissions/VepSubmissions.tsx
  src/shared/helpers/urlHelper.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

For collapsed transcripts, make sure to select one transcript per gene
  src/content/app/tools/vep/views/vep-submission-results/useVepVariantTabularData.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Scope transcripts within genes within alternative alleles
  src/content/app/tools/vep/components/vep-submit-button/VepSubmitButton.tsx
  src/content/app/tools/vep/views/vep-submission-results/VepSubmissionResults.tsx
  src/content/app/tools/vep/views/vep-submission-results/useVepVariantTabularData.ts
  src/server/middleware/proxyMiddleware.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Remove comment
  src/content/app/tools/vep/state/vep-api/vepApiSlice.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update VEP results page (#1162)
  src/content/app/tools/vep/VepPageContent.tsx
  src/content/app/tools/vep/components/vep-submission-header/VepSubmissionHeader.module.css
  src/content/app/tools/vep/components/vep-submission-header/VepSubmissionHeader.tsx
  src/content/app/tools/vep/components/vep-submit-button/VepSubmitButton.tsx
  src/content/app/tools/vep/components/vep-top-bar/VepTopBarNavButtons.tsx
  src/content/app/tools/vep/state/vep-api/vepApiSlice.ts
  src/content/app/tools/vep/state/vep-submissions/vepSubmissionsSelectors.ts
  src/content/app/tools/vep/views/vep-submission-results/VepSubmissionResults.module.css
  src/content/app/tools/vep/views/vep-submission-results/VepSubmissionResults.tsx
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-allele/VepResultsAllele.module.css
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-allele/VepResultsAllele.tsx
  src/content/app/tools/vep/views/vep-submission-results/useVepVariantTabularData.ts
  src/content/app/tools/vep/views/vep-submissions/VepSubmissions.tsx
  src/shared/helpers/urlHelper.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Show notification about the beta site
  src/content/app/about/About.tsx
  src/content/app/help/Help.tsx
  src/content/home/Home.tsx
  src/services/indexeddb-service.ts
  src/shared/components/app-bar/AppBar.tsx
  src/shared/components/communication-framework/CommunicationPanel.module.css
  src/shared/components/communication-framework/CommunicationPanel.tsx
  src/shared/components/communication-framework/CommunicationPanelButton.module.css
  src/shared/components/communication-framework/CommunicationPanelButton.tsx
  src/shared/components/communication-framework/ConversationIcon.module.css
  src/shared/components/communication-framework/ConversationIcon.tsx
  src/shared/components/communication-framework/hooks/useNotifications.ts
  src/shared/components/communication-framework/notifications/Notification.module.css
  src/shared/components/communication-framework/notifications/Notification.tsx
  src/shared/components/communication-framework/notifications/Notifications.tsx
  src/shared/components/communication-framework/notifications/beta-intro-rapid-retirement/BetaIntroRapidRetirement.module.css
  src/shared/components/communication-framework/notifications/beta-intro-rapid-retirement/BetaIntroRapidRetirement.tsx
  src/shared/services/notificationsStorageConstants.ts
  src/shared/services/notificationsStorageService.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Fix tests
  src/content/app/tools/blast/components/blast-app-bar/BlastAppBar.test.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Add min-height to notification
  src/shared/components/communication-framework/notifications/Notification.module.css
Due: stylelint

First batch of updates
  package.json
Due: none

Update eslint, and fix redux-toolkit types
  .eslintrc.js
  eslint.config.js
  package-lock.json
  package.json
  src/content/app/tools/blast/state/blast-api/blastApiSlice.ts
  src/shared/state/api-slices/restSlice.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update the husky command in package json ('husky install' command is deprecated)
  package.json
Due: none

Remove bash-related lines from husky/pre-commit file
  .husky/pre-commit
Due: none

Update package-lock.json
  package-lock.json
Due: none

Update typescript to v.5.6; plus some minor updates of other dependencies
  package-lock.json
  package.json
Due: none

Update sentry/browser
  package-lock.json
  package.json
Due: none

Bumped msw version
  package-lock.json
  package.json
Due: none

The final round of updates
  package-lock.json
  package.json
Due: none

Update dependencies (#1164)
  .eslintrc.js
  .husky/pre-commit
  eslint.config.js
  package-lock.json
  package.json
  src/content/app/tools/blast/state/blast-api/blastApiSlice.ts
  src/shared/state/api-slices/restSlice.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Remove the 'Change' link to the right of SpeciesTabsSlider
  src/content/app/entity-viewer/hooks/useEntityViewerAnalytics.ts
  src/content/app/entity-viewer/shared/components/entity-viewer-app-bar/EntityViewerAppBar.tsx
  src/content/app/genome-browser/components/browser-app-bar/BrowserAppBar.tsx
  src/content/app/genome-browser/hooks/useGenomeBrowserAnalytics.ts
  src/content/app/tools/blast/components/blast-app-bar/BlastAppBar.tsx
  src/shared/components/species-tabs-wrapper/SpeciesTabsWrapper.module.css
  src/shared/components/species-tabs-wrapper/SpeciesTabsWrapper.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Update tools top bar and extract VepInputSummary
  src/content/app/tools/shared/components/tools-top-bar/ToolsTopBar.module.css
  src/content/app/tools/shared/components/tools-top-bar/ToolsTopBar.tsx
  src/content/app/tools/vep/components/vep-input-summary/VepInputSummary.module.css
  src/content/app/tools/vep/components/vep-input-summary/VepInputSummary.tsx
  src/content/app/tools/vep/components/vep-top-bar/VepGenericTopBar.tsx
  src/content/app/tools/vep/components/vep-top-bar/VepTopBar.module.css
  src/content/app/tools/vep/views/vep-submission-results/VepSubmissionResults.module.css
  src/content/app/tools/vep/views/vep-submission-results/VepSubmissionResults.tsx
  src/content/app/tools/vep/views/vep-submissions/listed-vep-submission/ListedVepSubmission.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Update comparison in the Pagination component
  src/shared/components/pagination/Pagination.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Some clean-up
  src/content/app/tools/shared/components/tools-top-bar/ToolsTopBar.module.css
  src/content/app/tools/vep/components/vep-top-bar/VepTopBar.module.css
  src/content/app/tools/vep/views/vep-submission-results/VepSubmissionResults.module.css
  src/content/app/tools/vep/views/vep-submission-results/VepSubmissionResults.tsx
  src/shared/components/loader/CircleLoader.module.css
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Fix per_page out-of-bounds errors
  src/content/app/tools/vep/views/vep-submission-results/hooks/useVepResultsPagination.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Path conditions:
  eslint --max-warnings=0: any of: *.{ts,tsx}
  manage-licence-header add: any of: *.{ts,tsx}
  prettier --write: any of: *.{ts,tsx}
  stylelint: any of: *.css
