Repository Ensembl/ensembl-client: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Bump eslint versions
  package-lock.json
  package.json
Due: none

Update redux-toolkit
  package-lock.json
  package.json
Due: none

Update dependencies (#1236)
  .gitlab-ci.yml
  .storybook/main.js
  .storybook/main.ts
  .storybook/manager.js
  .storybook/manager.ts
  .storybook/preview.js
  .storybook/preview.ts
  .storybook/webpack.js
  .storybook/webpack.ts
  Dockerfile
  Dockerfile.node
  package-lock.json
  package.json
  src/content/app/tools/blast/state/blast-api/blastApiSlice.ts
  src/shared/state/api-slices/restSlice.ts
  tsconfig.json
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

allele frequency UI fix
  src/content/app/entity-viewer/variant-view/population-allele-frequencies/PopulationAlleleFrequencies.module.css
  src/content/app/entity-viewer/variant-view/population-allele-frequencies/PopulationAlleleFrequencies.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

cleanup
  src/content/app/entity-viewer/variant-view/population-allele-frequencies/PopulationAlleleFrequencies.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

fix
  src/content/app/entity-viewer/variant-view/population-allele-frequencies/PopulationAlleleFrequencies.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

ux Improvements
  src/content/home/Home.module.css
  src/content/home/Home.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Add empty page for structural variants viewer
  src/content/app/structural-variants/StructuralVariants.tsx
  src/content/app/structural-variants/StructuralVariantsPage.tsx
  src/content/app/structural-variants/components/structural-variants-app-bar/StructuralVariantsAppBar.tsx
  src/content/app/structural-variants/components/structural-variants-top-bar/StructuralVariantsTopBar.module.css
  src/content/app/structural-variants/components/structural-variants-top-bar/StructuralVariantsTopBar.tsx
  src/global/globalConfig.ts
  src/routes/routesConfig.tsx
  src/shared/components/app-icon/ActivityViewerIcon.tsx
  src/shared/components/app-icon/AlignmentsViewerIcon.tsx
  static/icons/icon_launchbar_activity_viewer.svg
  static/icons/icon_launchbar_alignments_viewer.svg
  stories/shared-components/app-icon/AppIcon.stories.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

switch to showhide component
  src/content/app/entity-viewer/variant-view/population-allele-frequencies/PopulationAlleleFrequencies.module.css
  src/content/app/entity-viewer/variant-view/population-allele-frequencies/PopulationAlleleFrequencies.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Add buttons to launchbar
  src/header/launchbar/AlignmentsViewerLaunchbarButton.tsx
  src/header/launchbar/Launchbar.tsx
  src/shared/helpers/urlHelper.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update app icon images
  src/shared/components/app-icon/AppIcon.module.css
  src/shared/components/app-icon/GlobalSearchIcon.tsx
  static/icons/icon_launchbar_activity_viewer.svg
  static/icons/icon_launchbar_alignments_viewer.svg
  static/icons/icon_launchbar_entity_viewer.svg
  static/icons/icon_launchbar_search.svg
  static/icons/icon_launchbar_sequence_viewer.svg
  static/icons/icon_launchbar_variants_viewer.svg
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Update dependencies
  package-lock.json
  package.json
Due: none

update showhide style
  src/content/app/entity-viewer/variant-view/population-allele-frequencies/PopulationAlleleFrequencies.module.css
  src/content/app/entity-viewer/variant-view/population-allele-frequencies/PopulationAlleleFrequencies.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Refactor to remove need for useEffect
  src/content/app/entity-viewer/variant-view/population-allele-frequencies/PopulationAlleleFrequencies.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Remove references to accordion from styles
  src/content/app/entity-viewer/variant-view/population-allele-frequencies/PopulationAlleleFrequencies.module.css
  src/content/app/entity-viewer/variant-view/population-allele-frequencies/PopulationAlleleFrequencies.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Update styles: remove the 30px top margin from the first section
  src/content/app/entity-viewer/variant-view/population-allele-frequencies/PopulationAlleleFrequencies.module.css
Due: stylelint

Fix entity viewer allele frequency UI (#1237)
  src/content/app/entity-viewer/variant-view/population-allele-frequencies/PopulationAlleleFrequencies.module.css
  src/content/app/entity-viewer/variant-view/population-allele-frequencies/PopulationAlleleFrequencies.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

show track name by default
  src/content/app/genome-browser/state/track-settings/trackSettingsSlice.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

update default values
  src/content/app/genome-browser/state/track-settings/trackSettingsConstants.ts
  src/content/app/genome-browser/state/track-settings/trackSettingsSlice.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

fix
  src/content/app/genome-browser/state/track-settings/trackSettingsSlice.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

fix test
  src/content/app/genome-browser/services/track-settings/trackSettingsStorageService.test.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Show track name by default in GB (#1239)
  src/content/app/genome-browser/services/track-settings/trackSettingsStorageService.test.ts
  src/content/app/genome-browser/state/track-settings/trackSettingsConstants.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Add a mostly blank page for structural variants (#1238)
  src/content/app/structural-variants/StructuralVariants.tsx
  src/content/app/structural-variants/StructuralVariantsPage.tsx
  src/content/app/structural-variants/components/structural-variants-app-bar/StructuralVariantsAppBar.tsx
  src/content/app/structural-variants/components/structural-variants-top-bar/StructuralVariantsTopBar.module.css
  src/content/app/structural-variants/components/structural-variants-top-bar/StructuralVariantsTopBar.tsx
  src/global/globalConfig.ts
  src/header/launchbar/AlignmentsViewerLaunchbarButton.tsx
  src/header/launchbar/Launchbar.tsx
  src/routes/routesConfig.tsx
  src/shared/components/app-icon/ActivityViewerIcon.tsx
  src/shared/components/app-icon/AlignmentsViewerIcon.tsx
  src/shared/components/app-icon/AppIcon.module.css
  src/shared/components/app-icon/GlobalSearchIcon.tsx
  src/shared/helpers/urlHelper.ts
  static/icons/icon_launchbar_activity_viewer.svg
  static/icons/icon_launchbar_alignments_viewer.svg
  static/icons/icon_launchbar_entity_viewer.svg
  static/icons/icon_launchbar_search.svg
  static/icons/icon_launchbar_sequence_viewer.svg
  static/icons/icon_launchbar_variants_viewer.svg
  stories/shared-components/app-icon/AppIcon.stories.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

fixes
  config.ts
  src/content/app/genome-browser/components/zmenu/Zmenu.module.css
  src/content/app/genome-browser/components/zmenu/zmenus/RegulationZmenu.tsx
  src/server/helpers/getConfigForClient.ts
  src/shared/helpers/urlHelper.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

fix
  src/shared/helpers/urlHelper.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Add regulatory activity external link in GB Zmenu (#1232)
  src/content/app/genome-browser/components/zmenu/Zmenu.module.css
  src/content/app/genome-browser/components/zmenu/zmenus/RegulationZmenu.tsx
  src/shared/helpers/urlHelper.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

ux-improvements
  src/content/app/genome-browser/components/browser-bar/BrowserBar.tsx
  src/content/app/genome-browser/components/drawer/drawer-views/gene-summary/GeneSummary.module.css
  src/content/app/genome-browser/components/drawer/drawer-views/gene-summary/GeneSummary.tsx
  src/shared/components/feature-summary-strip/FeatureSummaryStrip.module.css
  src/shared/components/feature-summary-strip/FeatureSummaryStrip.tsx
  src/shared/components/feature-summary-strip/GeneSummaryStrip.tsx
  src/shared/components/feature-summary-strip/LocationSummaryStrip.tsx
  src/shared/components/feature-summary-strip/VariantSummaryStrip.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

ev homology table no data
  src/content/app/entity-viewer/gene-view/components/gene-homology/GeneHomology.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

fix
  src/content/app/entity-viewer/gene-view/components/gene-homology/GeneHomology.module.css
Due: stylelint

UX Improvements (#1240)
  src/content/app/entity-viewer/gene-view/components/gene-homology/GeneHomology.module.css
  src/content/app/entity-viewer/gene-view/components/gene-homology/GeneHomology.tsx
  src/content/app/genome-browser/components/browser-bar/BrowserBar.tsx
  src/content/app/genome-browser/components/drawer/drawer-views/gene-summary/GeneSummary.module.css
  src/content/app/genome-browser/components/drawer/drawer-views/gene-summary/GeneSummary.tsx
  src/content/home/Home.module.css
  src/content/home/Home.tsx
  src/shared/components/feature-summary-strip/FeatureSummaryStrip.module.css
  src/shared/components/feature-summary-strip/FeatureSummaryStrip.tsx
  src/shared/components/feature-summary-strip/GeneSummaryStrip.tsx
  src/shared/components/feature-summary-strip/LocationSummaryStrip.tsx
  src/shared/components/feature-summary-strip/VariantSummaryStrip.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Update dependencies (#1241)
  package-lock.json
  package.json
Due: none

Create an api slice
  src/content/app/structural-variants/state/api/structuralVariantsApiSlice.ts
  src/content/app/structural-variants/types/genomeGroup.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Try ens-sv-alignments component
  config.ts
  package-lock.json
  package.json
  src/content/app/structural-variants/StructuralVariants.tsx
  src/content/app/structural-variants/components/structural-variants-image/StructuralVariantsImage.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Fix types
  src/server/helpers/getConfigForClient.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Set up the genome selection for structural variants
  src/content/app/structural-variants/components/structural-variants-top-bar/StructuralVariantsTopBar.module.css
  src/content/app/structural-variants/components/structural-variants-top-bar/StructuralVariantsTopBar.tsx
  src/content/app/structural-variants/state/api/structuralVariantsApiSlice.ts
  src/content/app/structural-variants/state/general/structuralVariantsGeneralSelectors.ts
  src/content/app/structural-variants/state/general/structuralVariantsGeneralSlice.ts
  src/content/app/structural-variants/state/structuralVariantsReducer.ts
  src/root/rootReducer.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Path conditions:
  eslint --max-warnings=0: any of: *.{ts,tsx}
  manage-licence-header add: any of: *.{ts,tsx}
  prettier --write: any of: *.{ts,tsx}
  stylelint: any of: *.css
