Repository Ensembl/ensembl-client: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Rename a test file and fix failing test
  src/shared/components/upload/FileDropZone.test.tsx
  src/shared/components/upload/Upload.module.css
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Add component resembling FileDropZone to show attached files
  src/content/app/tools/blast/components/blast-input-sequences/BlastInputSequence.module.css
  src/content/app/tools/vep/views/vep-form/vep-form-variants-section/VepFormVariantsSection.module.css
  src/content/app/tools/vep/views/vep-form/vep-form-variants-section/VepFormVariantsSection.tsx
  src/shared/components/upload/FileDropZoneOutline.module.css
  src/shared/components/upload/FileDropZoneOutline.tsx
  src/shared/components/upload/Upload.module.css
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Variants section should start as collapsed
  src/content/app/tools/vep/views/vep-form/vep-form-variants-section/VepFormVariantsSection.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Change method for case-insensitive substring check
  src/content/app/species-selector/components/selectable-genomes-table/filterGenomes.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Add a comment
  src/content/app/species-selector/components/selectable-genomes-table/filterGenomes.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update FileDropZone stories
  stories/shared-components/upload/FileDropZone.stories.module.css
  stories/shared-components/upload/FileDropZone.stories.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Add VEP results table
  src/content/app/tools/vep/VepPageContent.tsx
  src/content/app/tools/vep/state/vep-api/fixtures/mockVepResults.ts
  src/content/app/tools/vep/state/vep-api/vepApiSlice.ts
  src/content/app/tools/vep/types/vepResultsResponse.ts
  src/content/app/tools/vep/views/vep-submission-results/VepSubmissionResults.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Change method for case-insensitive substring check (#1146)
  src/content/app/species-selector/components/selectable-genomes-table/filterGenomes.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Move VariantColor to shared components; create shared VariantConsequence component
  src/content/app/genome-browser/components/drawer/drawer-views/variant-summary/variant-consequence/VariantConsequence.tsx
  src/content/app/tools/vep/views/vep-submission-results/VepSubmissionResults.tsx
  src/shared/components/variant-color/VariantColor.module.css
  src/shared/components/variant-color/VariantColor.tsx
  src/shared/components/variant-consequence/VariantConsequence.module.css
  src/shared/components/variant-consequence/VariantConsequence.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Update VEP results table
  src/content/app/tools/vep/views/vep-submission-results/VepSubmissionResults.module.css
  src/content/app/tools/vep/views/vep-submission-results/VepSubmissionResults.tsx
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-gene/VepResultsGene.module.css
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-gene/VepResultsGene.tsx
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-location/VepResultsLocation.module.css
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-location/VepResultsLocation.tsx
  src/shared/components/text-button/TextButton.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Minor updates (comments and styles)
  src/content/app/tools/vep/state/vep-api/vepApiSlice.ts
  src/content/app/tools/vep/types/vepResultsResponse.ts
  src/content/app/tools/vep/views/vep-submission-results/VepSubmissionResults.module.css
  src/content/app/tools/vep/views/vep-submission-results/VepSubmissionResults.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Fix a typo in a comment
  src/shared/components/upload/FileDropZoneOutline.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update ViewInAppPopup component
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-gene/VepResultsGene.module.css
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-gene/VepResultsGene.tsx
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-location/VepResultsLocation.module.css
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-location/VepResultsLocation.tsx
  src/shared/components/view-in-app-popup/ViewInAppPopup.module.css
  src/shared/components/view-in-app-popup/ViewInAppPopup.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Update styles to make content of VEP results box scrollable
  src/content/app/tools/vep/VepPageContent.module.css
  src/content/app/tools/vep/views/vep-submission-results/VepSubmissionResults.module.css
Due: stylelint

Add the variants section to the VEP input form (#1145)
  src/content/app/tools/blast/components/blast-input-sequences/BlastInputSequence.module.css
  src/content/app/tools/vep/views/vep-form/VepForm.tsx
  src/content/app/tools/vep/views/vep-form/vep-form-variants-section/VepFormVariantsSection.module.css
  src/content/app/tools/vep/views/vep-form/vep-form-variants-section/VepFormVariantsSection.tsx
  src/shared/components/upload/FileDropZone.module.css
  src/shared/components/upload/FileDropZone.test.tsx
  src/shared/components/upload/FileDropZone.tsx
  src/shared/components/upload/FileDropZoneOutline.module.css
  src/shared/components/upload/FileDropZoneOutline.tsx
  src/shared/components/upload/Upload.module.css
  src/shared/components/upload/Upload.tsx
  stories/shared-components/upload/FileDropZone.stories.module.css
  stories/shared-components/upload/FileDropZone.stories.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Remove unused CSS class
  src/content/app/species/components/species-main-view/SpeciesMainView.module.css
  src/content/app/species/components/species-main-view/SpeciesMainViewStats.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Update dependencies
  package-lock.json
  package.json
  src/shared/helpers/formatters/numberFormatter.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Move logic for reshaping VEP results tabular data into a hook
  src/content/app/tools/vep/state/vep-api/fixtures/mockVepResults.ts
  src/content/app/tools/vep/state/vep-api/vepApiSlice.ts
  src/content/app/tools/vep/types/vepResultsResponse.ts
  src/content/app/tools/vep/views/vep-submission-results/VepSubmissionResults.tsx
  src/content/app/tools/vep/views/vep-submission-results/useVepVariantTabularData.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Enable expansion and collapsing of transcripts
  src/content/app/tools/vep/views/vep-submission-results/VepSubmissionResults.module.css
  src/content/app/tools/vep/views/vep-submission-results/VepSubmissionResults.tsx
  src/content/app/tools/vep/views/vep-submission-results/useVepVariantTabularData.ts
  src/shared/components/pill/Pill.module.css
  src/shared/components/pill/Pill.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Update styles
  src/content/app/tools/vep/views/vep-submission-results/VepSubmissionResults.module.css
Due: stylelint

Update comments
  src/content/app/tools/vep/views/vep-submission-results/useVepVariantTabularData.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Remove unnecessary comment
  src/content/app/tools/vep/views/vep-submission-results/useVepVariantTabularData.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Move logic for reshaping VEP results tabular data into a hook (#1149)
  src/content/app/tools/vep/state/vep-api/fixtures/mockVepResults.ts
  src/content/app/tools/vep/state/vep-api/vepApiSlice.ts
  src/content/app/tools/vep/types/vepResultsResponse.ts
  src/content/app/tools/vep/views/vep-submission-results/VepSubmissionResults.module.css
  src/content/app/tools/vep/views/vep-submission-results/VepSubmissionResults.tsx
  src/content/app/tools/vep/views/vep-submission-results/useVepVariantTabularData.ts
  src/shared/components/pill/Pill.module.css
  src/shared/components/pill/Pill.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Change 'Vep' -> 'VEP' in a label
  src/content/app/tools/vep/views/vep-submission-results/VepSubmissionResults.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Vep results table (#1147)
  src/content/app/genome-browser/components/drawer/drawer-views/variant-summary/variant-consequence/VariantConsequence.tsx
  src/content/app/species/components/species-main-view/SpeciesMainView.module.css
  src/content/app/species/components/species-main-view/SpeciesMainViewStats.tsx
  src/content/app/tools/vep/VepPageContent.module.css
  src/content/app/tools/vep/VepPageContent.tsx
  src/content/app/tools/vep/state/vep-api/fixtures/mockVepResults.ts
  src/content/app/tools/vep/state/vep-api/vepApiSlice.ts
  src/content/app/tools/vep/types/vepResultsResponse.ts
  src/content/app/tools/vep/views/vep-submission-results/VepSubmissionResults.module.css
  src/content/app/tools/vep/views/vep-submission-results/VepSubmissionResults.tsx
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-gene/VepResultsGene.module.css
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-gene/VepResultsGene.tsx
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-location/VepResultsLocation.tsx
  src/content/app/tools/vep/views/vep-submission-results/useVepVariantTabularData.ts
  src/shared/components/pill/Pill.module.css
  src/shared/components/pill/Pill.tsx
  src/shared/components/text-button/TextButton.tsx
  src/shared/components/variant-color/VariantColor.module.css
  src/shared/components/variant-color/VariantColor.tsx
  src/shared/components/variant-consequence/VariantConsequence.module.css
  src/shared/components/variant-consequence/VariantConsequence.tsx
  src/shared/components/view-in-app-popup/ViewInAppPopup.module.css
  src/shared/components/view-in-app-popup/ViewInAppPopup.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Update dependencies (#1148)
  package-lock.json
  package.json
  src/shared/helpers/formatters/numberFormatter.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Increase file size to 251mb
  src/shared/components/communication-framework/contact-us/contact-us-form/hooks/useSavedForm.ts
  src/shared/components/communication-framework/contact-us/contact-us-form/initial/ContactUsInitialForm.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Enable VEP form submission
  src/content/app/tools/vep/components/form-section/FormSection.module.css
  src/content/app/tools/vep/components/vep-submit-button/VepSubmitButton.tsx
  src/content/app/tools/vep/state/vep-api/fixtures/mockVepFormConfig.ts
  src/content/app/tools/vep/state/vep-api/vepApiSlice.ts
  src/content/app/tools/vep/state/vep-form/vepFormSlice.ts
  src/content/app/tools/vep/types/vepFormConfig.ts
  src/content/app/tools/vep/types/vepSubmission.ts
  src/content/app/tools/vep/views/vep-form/VepForm.module.css
  src/content/app/tools/vep/views/vep-form/VepForm.tsx
  src/content/app/tools/vep/views/vep-form/vep-form-options-section/VepFormOptionsSection.module.css
  src/content/app/tools/vep/views/vep-form/vep-form-options-section/VepFormOptionsSection.tsx
  src/content/app/tools/vep/views/vep-form/vep-form-options-section/vep-form-gene-options/VepFormGeneOptions.tsx
  src/content/app/tools/vep/views/vep-form/vep-form-variants-section/VepFormVariantsSection.tsx
  src/content/app/tools/vep/views/vep-submission-results/VepSubmissionResults.tsx
  src/shared/components/show-hide/ShowHide.module.css
  src/shared/components/show-hide/ShowHide.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Update VEP submission form
  src/content/app/tools/vep/components/vep-submit-button/VepSubmitButton.tsx
  src/content/app/tools/vep/components/vep-top-bar/VepTopBar.tsx
  src/content/app/tools/vep/state/vep-api/vepApiSlice.ts
  src/content/app/tools/vep/types/vepSubmission.ts
  src/content/app/tools/vep/views/vep-form/VepForm.module.css
  src/content/app/tools/vep/views/vep-form/vep-form-options-section/VepFormOptionsSection.tsx
  src/content/app/tools/vep/views/vep-form/vep-form-variants-section/VepFormVariantsSection.module.css
  src/content/app/tools/vep/views/vep-form/vep-form-variants-section/VepFormVariantsSection.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Add a function for actual form submission
  src/content/app/tools/vep/state/vep-api/vepApiSlice.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Reuse a CSS variable
  src/content/app/tools/vep/views/vep-form/VepForm.module.css
Due: stylelint

Move an eslint disable comment to a different line
  src/content/app/tools/vep/state/vep-api/vepApiSlice.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update CSS to fix Safari bug
  src/content/app/tools/vep/components/vep-top-bar/VepTopBar.module.css
Due: stylelint

Fix vep submission endpoint url
  src/content/app/tools/vep/state/vep-api/vepApiSlice.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Add submission name to redux, and switch to sending the submission to tools api
  src/content/app/tools/vep/components/vep-top-bar/VepTopBar.tsx
  src/content/app/tools/vep/state/vep-api/vepApiSlice.ts
  src/content/app/tools/vep/state/vep-form/vepFormSelectors.ts
  src/content/app/tools/vep/state/vep-form/vepFormSlice.ts
  src/content/app/tools/vep/views/vep-form/VepForm.tsx
  src/content/app/tools/vep/views/vep-form/vep-submission-name/VepSubmissionName.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Remove unnecessary comment
  src/content/app/tools/vep/views/vep-form/vep-form-options-section/VepFormOptionsSection.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Vep form submission (#1150)
  src/content/app/tools/vep/components/form-section/FormSection.module.css
  src/content/app/tools/vep/components/vep-submit-button/VepSubmitButton.tsx
  src/content/app/tools/vep/components/vep-top-bar/VepTopBar.module.css
  src/content/app/tools/vep/components/vep-top-bar/VepTopBar.tsx
  src/content/app/tools/vep/state/vep-api/fixtures/mockVepFormConfig.ts
  src/content/app/tools/vep/state/vep-api/vepApiSlice.ts
  src/content/app/tools/vep/state/vep-form/vepFormSlice.ts
  src/content/app/tools/vep/types/vepFormConfig.ts
  src/content/app/tools/vep/types/vepSubmission.ts
  src/content/app/tools/vep/views/vep-form/VepForm.module.css
  src/content/app/tools/vep/views/vep-form/VepForm.tsx
  src/content/app/tools/vep/views/vep-form/vep-form-options-section/VepFormOptionsSection.module.css
  src/content/app/tools/vep/views/vep-form/vep-form-options-section/VepFormOptionsSection.tsx
  src/content/app/tools/vep/views/vep-form/vep-form-options-section/vep-form-gene-options/VepFormGeneOptions.tsx
  src/content/app/tools/vep/views/vep-form/vep-form-variants-section/VepFormVariantsSection.module.css
  src/content/app/tools/vep/views/vep-form/vep-form-variants-section/VepFormVariantsSection.tsx
  src/content/app/tools/vep/views/vep-form/vep-submission-name/VepSubmissionName.tsx
  src/content/app/tools/vep/views/vep-submission-results/VepSubmissionResults.tsx
  src/shared/components/show-hide/ShowHide.module.css
  src/shared/components/show-hide/ShowHide.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Select species for VEP analysis by pressing a species tab
  src/content/app/tools/vep/components/vep-app-bar/VepAppBar.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

VEP form updates (WIP)
  src/content/app/tools/vep/views/vep-form/VepForm.module.css
  src/content/app/tools/vep/views/vep-form/vep-form-options-section/VepFormOptionsSection.module.css
  src/content/app/tools/vep/views/vep-form/vep-form-options-section/VepFormOptionsSection.tsx
  src/content/app/tools/vep/views/vep-form/vep-form-options-section/vep-form-gene-options/VepFormGeneOptions.tsx
  src/content/app/tools/vep/views/vep-form/vep-form-variants-section/VepFormVariantsSection.module.css
  src/shared/components/pseudo-radio-button/PseudoRadioButton.module.css
  src/shared/components/pseudo-radio-button/PseudoRadioButton.tsx
  src/shared/components/textarea/Textarea.module.css
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Further VEP form updates; enabled submission of attached file
  src/content/app/tools/vep/state/vep-form/vepFormSlice.ts
  src/content/app/tools/vep/views/vep-form/vep-form-options-section/VepFormOptionsSection.module.css
  src/content/app/tools/vep/views/vep-form/vep-form-options-section/VepFormOptionsSection.tsx
  src/content/app/tools/vep/views/vep-form/vep-form-options-section/vep-form-gene-options/VepFormGeneOptions.tsx
  src/content/app/tools/vep/views/vep-form/vep-form-variants-section/VepFormVariantsSection.tsx
  src/shared/components/pseudo-radio-button/PseudoRadioButton.module.css
  src/shared/components/pseudo-radio-button/PseudoRadioButton.tsx
  src/shared/components/pseudo-radio-button/PseudoRadioButtonGroup.module.css
  src/shared/components/pseudo-radio-button/PseudoRadioButtonGroup.tsx
  src/shared/components/pseudo-radio-button/index.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Path conditions:
  eslint --max-warnings=0: any of: *.{ts,tsx}
  manage-licence-header add: any of: *.{ts,tsx}
  prettier --write: any of: *.{ts,tsx}
  stylelint: any of: *.css
