Repository Ensembl/ensembl-client: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Show genome suppression message on species page for suppressed genomes (#1287)
  src/content/app/species/SpeciesPageContent.tsx
  src/content/app/species/components/species-page-sidebar/SpeciesPageSidebar.module.css
  src/content/app/species/components/species-page-sidebar/SpeciesPageSidebar.tsx
  src/shared/state/genome/genomeTypes.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Replace meta.total_count with meta.total_hits for genome search
  src/content/app/species-selector/components/species-search-results-summary/SpeciesSearchResultsSummary.tsx
  src/content/app/species-selector/state/species-selector-api-slice/speciesSelectorApiSlice.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Replace meta.total_count with meta.total_hits for genome search (#1288)
  src/content/app/species-selector/components/species-search-results-summary/SpeciesSearchResultsSummary.tsx
  src/content/app/species-selector/state/species-selector-api-slice/speciesSelectorApiSlice.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Move genomic location parsing to the beginning of url params validation pipeline
  src/content/app/structural-variants/hooks/parsedUrlParamsStore.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Handle resetting of parsed url params when url doesn't contain minimum required parameters
  src/content/app/structural-variants/hooks/parsedUrlParamsStore.ts
  src/content/app/structural-variants/hooks/useStructuralVariantsRouting.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Enable Alignments viewer / Structural variants button in Launchbar, and add contextual help
  src/content/app/structural-variants/components/structural-variants-app-bar/StructuralVariantsAppBar.tsx
  src/header/launchbar/AlignmentsViewerLaunchbarButton.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Structural variants: support alignments between top-level regions with different names (#1285)
  package-lock.json
  package.json
  src/content/app/structural-variants/StructuralVariants.tsx
  src/content/app/structural-variants/components/structural-variants-image/StructuralVariantsImage.tsx
  src/content/app/structural-variants/components/structural-variants-interstitial/StructuralVariantsInterstitial.tsx
  src/content/app/structural-variants/components/structural-variants-main/StructuralVariantsMain.tsx
  src/content/app/structural-variants/components/structural-variants-nav-buttons/StructuralVariantsNavButtons.tsx
  src/content/app/structural-variants/components/structural-variants-sidebar/structural-variants-sidebar-modal/feature-search-modal/SearchMatches.tsx
  src/content/app/structural-variants/hooks/parsedUrlParamsStore.ts
  src/content/app/structural-variants/hooks/useParsedUrlParamsStore.ts
  src/content/app/structural-variants/hooks/useStructuralVariantsRouting.ts
  src/content/app/structural-variants/state/api/structuralVariantsApiSlice.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

fix css
  src/shared/components/sidebar-search/SidebarSearch.module.css
Due: stylelint

update feature search slice
  src/content/app/entity-viewer/shared/components/entity-viewer-sidebar/entity-viewer-sidebar-modal/modal-views/EntityViewerSearch.tsx
  src/content/app/genome-browser/components/browser-sidebar-modal/modal-views/SearchModal.tsx
  src/content/app/species/components/species-sidebar-modal/modal-views/SpeciesSidebarSearch.tsx
  src/shared/components/interstitial-search/InterstitialSearch.tsx
  src/shared/components/search-match/GeneSearchMatches.tsx
  src/shared/components/search-match/VariantSearchMatches.tsx
  src/shared/components/sidebar-search/SidebarSearch.tsx
  src/shared/state/feature-search/featureSearchSelectors.ts
  src/shared/state/feature-search/featureSearchSlice.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Add sv server to review cleanup
  .gitlab-ci.yml
Due: none

remove onMatchNavigation prop in Interstitial
  src/shared/components/interstitial-search/InterstitialSearch.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update pathname for structural variants / alignments server
  config.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update search UI in right hand panel (#1276)
  src/content/app/entity-viewer/interstitial/EntityViewerInterstitial.tsx
  src/content/app/entity-viewer/shared/components/entity-viewer-sidebar/entity-viewer-sidebar-modal/modal-views/EntityViewerSearch.tsx
  src/content/app/genome-browser/components/browser-sidebar-modal/modal-views/SearchModal.tsx
  src/content/app/genome-browser/components/browser-sidebar-toolstrip/BrowserSidebarToolstrip.tsx
  src/content/app/genome-browser/components/interstitial/BrowserInterstitial.tsx
  src/content/app/species-selector/views/species-selector-search-view/SpeciesSelectorSearchView.module.css
  src/content/app/species-selector/views/species-selector-search-view/SpeciesSelectorSearchView.tsx
  src/content/app/species/components/species-sidebar-modal/modal-views/SpeciesSidebarSearch.tsx
  src/content/app/structural-variants/components/structural-variants-sidebar/structural-variants-sidebar-modal/feature-search-modal/FeatureSearchForm.tsx
  src/content/app/structural-variants/components/structural-variants-sidebar/structural-variants-sidebar-modal/feature-search-modal/FeatureSearchModal.module.css
  src/content/app/structural-variants/components/structural-variants-sidebar/structural-variants-sidebar-modal/feature-search-modal/FeatureSearchModal.tsx
  src/content/app/structural-variants/components/structural-variants-sidebar/structural-variants-sidebar-modal/feature-search-modal/SearchMatches.tsx
  src/root/rootReducer.ts
  src/shared/components/feature-search-form/FeatureSearchForm.module.css
  src/shared/components/feature-search-form/FeatureSearchForm.tsx
  src/shared/components/in-app-search/InAppSearch.module.css
  src/shared/components/in-app-search/InAppSearch.tsx
  src/shared/components/in-app-search/InAppSearchMatches.tsx
  src/shared/components/interstitial-search/InterstitialSearch.module.css
  src/shared/components/interstitial-search/InterstitialSearch.test.tsx
  src/shared/components/interstitial-search/InterstitialSearch.tsx
  src/shared/components/interstitial-search/test/response-fixture.ts
  src/shared/components/layout/sidebar-modal/SidebarModal.module.css
  src/shared/components/search-match/GeneSearchMatches.tsx
  src/shared/components/search-match/SearchMatch.module.css
  src/shared/components/search-match/VariantSearchMatches.tsx
  src/shared/components/sidebar-search/SidebarSearch.module.css
  src/shared/components/sidebar-search/SidebarSearch.tsx
  src/shared/helpers/featureSearchHelpers.ts
  src/shared/helpers/fetchHelper.ts
  src/shared/state/api-slices/restSlice.ts
  src/shared/state/feature-search/featureSearchSelectors.ts
  src/shared/state/feature-search/featureSearchSlice.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Structural variants: update api path and ci/cd script (#1289)
  .gitlab-ci.yml
  config.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update some dependencies
  package-lock.json
  package.json
Due: none

Update vitest-related packages
  package-lock.json
  package.json
Due: none

More updates
  package-lock.json
  package.json
Due: none

Update dependencies (#1291)
  package-lock.json
  package.json
Due: none

Enable paginated species search results for BLAST and VEP
  src/content/app/species-selector/components/genome-selector-by-search-query/GenomeSelectorBySearchQuery.tsx
  src/content/app/species-selector/state/species-selector-api-slice/speciesSelectorApiSlice.ts
  src/content/app/tools/blast/components/blast-species-selector/BlastSpeciesSelector.module.css
  src/content/app/tools/blast/components/blast-species-selector/BlastSpeciesSelector.tsx
  src/content/app/tools/vep/views/vep-species-selector/VepSpeciesSelector.module.css
  src/content/app/tools/vep/views/vep-species-selector/VepSpeciesSelector.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Add pagination to GenomeSelectorBySearchQuery
  src/content/app/species-selector/components/genome-selector-by-search-query/GenomeSelectorBySearchQuery.module.css
  src/content/app/species-selector/components/genome-selector-by-search-query/GenomeSelectorBySearchQuery.tsx
  src/content/app/species-selector/components/species-search-results-summary/SpeciesSearchResultsSummary.module.css
  src/content/app/species-selector/state/species-selector-api-slice/speciesSelectorApiSlice.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Add pagination to GenomeSelectorBySpeciesTaxonomyId
  src/content/app/species-selector/components/genome-selector-by-species-taxonomy-id/GenomeSelectorBySpeciesTaxonomyId.module.css
  src/content/app/species-selector/components/genome-selector-by-species-taxonomy-id/GenomeSelectorBySpeciesTaxonomyId.tsx
  src/content/app/species-selector/state/species-selector-api-slice/speciesSelectorApiSlice.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Finish renaming exports from speciesSelectorApiSlice
  src/content/app/species-selector/components/popular-species-list/PopularSpeciesList.tsx
  src/content/app/species-selector/state/species-selector-api-slice/speciesSelectorApiSlice.ts
  src/content/app/species/components/species-title-area/SpeciesTitleArea.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Remove GenomesFilterField
  src/content/app/species-selector/components/genome-selector-by-search-query/GenomeSelectorBySearchQuery.module.css
  src/content/app/species-selector/components/genome-selector-by-search-query/GenomeSelectorBySearchQuery.tsx
  src/content/app/species-selector/components/genome-selector-by-species-taxonomy-id/GenomeSelectorBySpeciesTaxonomyId.tsx
  src/content/app/species-selector/components/genomes-filter-field/GenomesFilterField.tsx
  src/content/app/tools/blast/components/blast-species-selector/BlastSpeciesSelector.module.css
  src/content/app/tools/blast/components/blast-species-selector/BlastSpeciesSelector.tsx
  src/shared/components/pagination/Pagination.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Remove client-side logic for filtering genomes
  src/content/app/species-selector/components/genome-selector-by-search-query/GenomeSelectorBySearchQuery.tsx
  src/content/app/species-selector/components/genome-selector-by-species-taxonomy-id/GenomeSelectorBySpeciesTaxonomyId.tsx
  src/content/app/species-selector/components/selectable-genomes-table/filterGenomes.ts
  src/content/app/species-selector/components/selectable-genomes-table/useSelectableGenomesTable.ts
  src/content/app/tools/blast/components/blast-species-selector/BlastSpeciesSelector.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Add skeleton page for transcript
  src/content/app/entity-viewer/EntityViewer.tsx
  src/content/app/entity-viewer/EntityViewerForTranscript.tsx
  src/content/app/entity-viewer/contexts/entity-viewer-ids-context/EntityViewerIdsContext.ts
  src/content/app/entity-viewer/transcript-view/TranscriptView.tsx
  src/shared/helpers/focusObjectHelpers.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

More skeletons
  src/content/app/entity-viewer/state/api/entityViewerThoasSlice.ts
  src/content/app/entity-viewer/state/api/queries/defaultGeneQuery.ts
  src/content/app/entity-viewer/state/api/queries/transcriptDefaultQuery.ts
  src/content/app/entity-viewer/transcript-view/TranscriptView.module.css
  src/content/app/entity-viewer/transcript-view/TranscriptView.tsx
  src/content/app/entity-viewer/transcript-view/components/transcript-function/TranscriptFunction.module.css
  src/content/app/entity-viewer/transcript-view/components/transcript-function/TranscriptFunction.tsx
  src/content/app/entity-viewer/transcript-view/components/transcript-view-tabs/TranscriptViewTabs.module.css
  src/content/app/entity-viewer/transcript-view/components/transcript-view-tabs/TranscriptViewTabs.tsx
  src/content/app/entity-viewer/transcript-view/hooks/useTranscriptViewIds.ts
  src/shared/components/tabs/Tabs.module.css
  src/shared/components/tabs/Tabs.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Transcript as focus object in Entity viewer - first steps (#1292)
  src/content/app/entity-viewer/EntityViewer.tsx
  src/content/app/entity-viewer/EntityViewerForTranscript.tsx
  src/content/app/entity-viewer/contexts/entity-viewer-ids-context/EntityViewerIdsContext.ts
  src/content/app/entity-viewer/state/api/entityViewerThoasSlice.ts
  src/content/app/entity-viewer/state/api/queries/defaultGeneQuery.ts
  src/content/app/entity-viewer/state/api/queries/transcriptDefaultQuery.ts
  src/content/app/entity-viewer/transcript-view/TranscriptView.module.css
  src/content/app/entity-viewer/transcript-view/TranscriptView.tsx
  src/content/app/entity-viewer/transcript-view/components/transcript-function/TranscriptFunction.module.css
  src/content/app/entity-viewer/transcript-view/components/transcript-function/TranscriptFunction.tsx
  src/content/app/entity-viewer/transcript-view/components/transcript-view-tabs/TranscriptViewTabs.module.css
  src/content/app/entity-viewer/transcript-view/components/transcript-view-tabs/TranscriptViewTabs.tsx
  src/content/app/entity-viewer/transcript-view/hooks/useTranscriptViewIds.ts
  src/shared/components/tabs/Tabs.module.css
  src/shared/components/tabs/Tabs.tsx
  src/shared/helpers/focusObjectHelpers.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Add gene image
  src/content/app/entity-viewer/gene-view/constants/geneViewConstants.ts
  src/content/app/entity-viewer/state/api/queries/transcriptDefaultQuery.ts
  src/content/app/entity-viewer/transcript-view/TranscriptView.tsx
  src/content/app/entity-viewer/transcript-view/components/gene-overview-image/GeneOverviewImage.module.css
  src/content/app/entity-viewer/transcript-view/components/gene-overview-image/GeneOverviewImage.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Display unspliced transcript in the main section
  src/content/app/entity-viewer/gene-view/components/gene-overview-image/GeneOverviewImage.module.css
  src/content/app/entity-viewer/gene-view/components/gene-overview-image/GeneOverviewImage.tsx
  src/content/app/entity-viewer/gene-view/components/unspliced-transcript/UnsplicedTranscript.tsx
  src/content/app/entity-viewer/transcript-view/TranscriptView.tsx
  src/content/app/entity-viewer/transcript-view/components/gene-overview-image/GeneOverviewImage.tsx
  src/content/app/entity-viewer/transcript-view/components/transcript-details/TranscriptDetails.module.css
  src/content/app/entity-viewer/transcript-view/components/transcript-details/TranscriptDetails.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Display transcript info panel
  src/content/app/entity-viewer/transcript-view/TranscriptView.module.css
  src/content/app/entity-viewer/transcript-view/TranscriptView.tsx
  src/content/app/entity-viewer/transcript-view/components/transcript-details/TranscriptDetails.module.css
  src/content/app/entity-viewer/transcript-view/components/transcript-details/TranscriptDetails.tsx
  src/content/app/entity-viewer/transcript-view/components/transcript-details/transcript-info-panel/TranscriptInfoPanel.module.css
  src/content/app/entity-viewer/transcript-view/components/transcript-details/transcript-info-panel/TranscriptInfoPanel.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Remove commented out code
  src/content/app/entity-viewer/transcript-view/components/gene-overview-image/GeneOverviewImage.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

EV for transcript: add gene image, transcript image, transcript info panel (#1293)
  src/content/app/entity-viewer/gene-view/components/unspliced-transcript/UnsplicedTranscript.tsx
  src/content/app/entity-viewer/gene-view/constants/geneViewConstants.ts
  src/content/app/entity-viewer/state/api/queries/transcriptDefaultQuery.ts
  src/content/app/entity-viewer/transcript-view/TranscriptView.module.css
  src/content/app/entity-viewer/transcript-view/TranscriptView.tsx
  src/content/app/entity-viewer/transcript-view/components/gene-overview-image/GeneOverviewImage.module.css
  src/content/app/entity-viewer/transcript-view/components/gene-overview-image/GeneOverviewImage.tsx
  src/content/app/entity-viewer/transcript-view/components/transcript-details/TranscriptDetails.module.css
  src/content/app/entity-viewer/transcript-view/components/transcript-details/TranscriptDetails.tsx
  src/content/app/entity-viewer/transcript-view/components/transcript-details/transcript-info-panel/TranscriptInfoPanel.module.css
  src/content/app/entity-viewer/transcript-view/components/transcript-details/transcript-info-panel/TranscriptInfoPanel.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Add routing and storage of the view in redux
  src/content/app/entity-viewer/state/entityViewerReducer.ts
  src/content/app/entity-viewer/state/transcript-view/entityViewerTranscriptViewReducer.ts
  src/content/app/entity-viewer/state/transcript-view/general/transcriptViewGeneralSelectors.ts
  src/content/app/entity-viewer/state/transcript-view/general/transcriptViewGeneralSlice.ts
  src/content/app/entity-viewer/transcript-view/TranscriptView.tsx
  src/content/app/entity-viewer/transcript-view/components/transcript-view-tabs/TranscriptViewTabs.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Minor style updates (some paddings)
  src/content/app/entity-viewer/transcript-view/TranscriptView.module.css
  src/content/app/entity-viewer/transcript-view/components/transcript-details/TranscriptDetails.module.css
Due: stylelint

Enable sorting via requests to the server
  src/content/app/species-selector/components/genome-selector-by-search-query/GenomeSelectorBySearchQuery.tsx
  src/content/app/species-selector/components/genome-selector-by-species-taxonomy-id/GenomeSelectorBySpeciesTaxonomyId.tsx
  src/content/app/species-selector/components/selectable-genomes-table/useOrderedGenomes.ts
  src/content/app/species-selector/components/selectable-genomes-table/useSelectableGenomesTable.ts
  src/content/app/species-selector/components/species-search-results-table/SpeciesSearchResultsTable.tsx
  src/content/app/species-selector/helpers/genomeSearchHelpers.ts
  src/content/app/species-selector/state/species-selector-api-slice/speciesSelectorApiSlice.ts
  src/content/app/tools/blast/components/blast-species-selector/BlastSpeciesSelector.tsx
  src/content/app/tools/vep/views/vep-species-selector/VepSpeciesSelector.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Add focus transcript support to GB view
  src/content/app/genome-browser/hooks/useBrowserRouting.test.tsx
  src/content/app/genome-browser/services/genome-browser-service/genomeBrowserCommands.test.ts
  src/content/app/genome-browser/services/genome-browser-service/genomeBrowserCommands.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Add per-page dropdown to different species search pages
  src/content/app/species-selector/components/genome-selector-by-search-query/GenomeSelectorBySearchQuery.tsx
  src/content/app/species-selector/components/genome-selector-by-species-taxonomy-id/GenomeSelectorBySpeciesTaxonomyId.tsx
  src/content/app/species-selector/helpers/genomeSearchHelpers.ts
  src/content/app/tools/blast/components/blast-species-selector/BlastSpeciesSelector.tsx
  src/content/app/tools/vep/views/vep-species-selector/VepSpeciesSelector.tsx
  src/shared/components/pagination/Pagination.test.tsx
  src/shared/components/pagination/PaginationWithPerPage.module.css
  src/shared/components/pagination/PaginationWithPerPage.tsx
  src/shared/components/pagination/PerPage.module.css
  src/shared/components/pagination/PerPage.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

EV for transcript: add routing, and store active view in redux (#1294)
  src/content/app/entity-viewer/state/entityViewerReducer.ts
  src/content/app/entity-viewer/state/transcript-view/entityViewerTranscriptViewReducer.ts
  src/content/app/entity-viewer/state/transcript-view/general/transcriptViewGeneralSelectors.ts
  src/content/app/entity-viewer/state/transcript-view/general/transcriptViewGeneralSlice.ts
  src/content/app/entity-viewer/transcript-view/TranscriptView.module.css
  src/content/app/entity-viewer/transcript-view/TranscriptView.tsx
  src/content/app/entity-viewer/transcript-view/components/transcript-details/TranscriptDetails.module.css
  src/content/app/entity-viewer/transcript-view/components/transcript-view-tabs/TranscriptViewTabs.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Add download button
  src/content/app/species-selector/components/genome-selector-by-search-query/GenomeSelectorBySearchQuery.module.css
  src/content/app/species-selector/components/genome-selector-by-search-query/GenomeSelectorBySearchQuery.tsx
  src/content/app/species-selector/components/genome-selector-by-species-taxonomy-id/GenomeSelectorBySpeciesTaxonomyId.module.css
  src/content/app/species-selector/components/genome-selector-by-species-taxonomy-id/GenomeSelectorBySpeciesTaxonomyId.tsx
  src/content/app/species-selector/components/genomes-download-button/GenomesDownloadButton.tsx
  src/shared/components/download-button/DownloadLink.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Add protein diagram to entity viewer for transcript
  src/content/app/entity-viewer/gene-view/components/proteins-list/proteins-list-item-info/ProteinsListItemInfo.tsx
  src/content/app/entity-viewer/shared/helpers/entity-helpers.ts
  src/content/app/entity-viewer/transcript-view/TranscriptView.tsx
  src/content/app/entity-viewer/transcript-view/components/transcript-function/TranscriptFunction.module.css
  src/content/app/entity-viewer/transcript-view/components/transcript-function/TranscriptFunction.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Path conditions:
  eslint --max-warnings=0: any of: *.{ts,tsx}
  manage-licence-header add: any of: *.{ts,tsx}
  prettier --write: any of: *.{ts,tsx}
  stylelint: any of: *.css
