Repository Ensembl/ensembl-client: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

.lintstagedrc.json:

{
  "*.{ts,tsx}": [
    "eslint --max-warnings=0",
    "manage-licence-header add",
    "prettier --write"
  ],
  "*.scss": [
    "stylelint",
    "prettier --write"
  ]
}

Global padding for blast
  src/content/app/tools/blast/BlastPage.scss
  src/content/app/tools/blast/BlastPage.tsx
  src/content/app/tools/blast/views/blast-form/BlastForm.scss
  src/content/app/tools/blast/views/blast-submission-results/BlastSubmissionResults.scss
  src/content/app/tools/blast/views/blast-submissions/BlastSubmissions.scss
  src/styles/_settings.scss
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

rename classname
  src/content/app/tools/blast/BlastPage.scss
  src/content/app/tools/blast/BlastPage.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

adding height 100% to make it clearer when debugging
  src/content/app/tools/blast/BlastPage.scss
Due: prettier --write, stylelint

Update genome browser to 0.5.2
  package-lock.json
  package.json
  src/content/app/genome-browser/components/browser-image/BrowserImage.tsx
  src/content/app/genome-browser/components/genome-browser-error/GenomeBrowserError.scss
  src/content/app/genome-browser/components/genome-browser-error/GenomeBrowserError.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Add support for BLAST submission errors
  src/content/app/tools/blast/blast-download/submissionDownload.ts
  src/content/app/tools/blast/components/blast-submission-header/BlastSubmissionHeader.tsx
  src/content/app/tools/blast/components/listed-blast-submission/ListedBlastSubmission.tsx
  src/content/app/tools/blast/services/blastStorageService.ts
  src/content/app/tools/blast/state/blast-api/blastApiSlice.ts
  src/content/app/tools/blast/state/blast-results/blastResultsSelectors.ts
  src/content/app/tools/blast/state/blast-results/blastResultsSlice.ts
  src/content/app/tools/blast/state/epics/blastEpics.ts
  src/content/app/tools/blast/state/epics/tests/blastEpics.test.ts
  src/content/app/tools/blast/utils/blastSubmisionTypeNarrowing.ts
  src/content/app/tools/blast/views/blast-submission-results/BlastSubmissionResults.tsx
  src/header/launchbar/BlastLaunchbarButton.tsx
  tests/fixtures/blast/blastSubmission.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update styles for notification about failed submission; and don't show submission id if it's client-generated
  src/content/app/tools/blast/components/blast-submission-header/BlastSubmissionHeader.scss
  src/content/app/tools/blast/components/blast-submission-header/BlastSubmissionHeader.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Fix tracks disappearing when drawer opened
  src/content/app/genome-browser/hooks/useGenomicTracks.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Annotate type import
  src/content/app/tools/blast/components/blast-submission-header/BlastSubmissionHeader.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update doc title numbers
  doc/blast/0001-BLAST-database-files.md
  doc/blast/0002-BLAST-download-formats.md
  doc/blast/0003-BLAST-input-parameters.md
  doc/blast/0004-BLAST-sequence-formats.md
  doc/blast/0005-BLAST-species-sequence-interactions.md
Due: none

Fix tracks disappearing when returning from interstitial
  src/content/app/genome-browser/hooks/useGenomicTracks.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update dependencies
  package-lock.json
  package.json
  src/shared/components/autosuggest-search-field/AutosuggestSearchField.tsx
  src/shared/components/button-link/ButtonLink.tsx
  src/shared/components/uploaded-file/UploadedFile.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update launchbar button for Entity Viewer to avoid the flickering interstitial
  src/header/launchbar/EntityViewerLaunchbarButton.tsx
  src/header/launchbar/Launchbar.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

add scrollbar-gutter to stop content moving to left
  src/content/app/tools/blast/BlastPage.scss
  src/content/app/tools/blast/views/blast-form/BlastForm.scss
  src/content/app/tools/blast/views/blast-submission-results/BlastSubmissionResults.scss
  src/content/app/tools/blast/views/blast-submissions/BlastSubmissions.scss
Due: prettier --write, stylelint

Remove unnecessary comment
  src/content/app/genome-browser/hooks/useGenomicTracks.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

More exact links for species lozenges in EntityViewer
  src/content/app/entity-viewer/shared/components/entity-viewer-app-bar/EntityViewerAppBar.tsx
  src/content/app/entity-viewer/state/gene-view/view/geneViewViewSelectors.ts
  src/header/launchbar/EntityViewerLaunchbarButton.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update logic for determining whether a launchbar button is active
  src/header/launchbar/EntityViewerLaunchbarButton.tsx
  src/header/launchbar/LaunchbarButton.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Remove typesafe-actions and react-cookie
  package-lock.json
  package.json
  src/index.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Fix tracks disappearing when drawer opened (#885)
  src/content/app/genome-browser/hooks/useGenomicTracks.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update package-lock
  package-lock.json
Due: none

update database value for softmasked sequences
  tests/fixtures/blast/blastSettingsConfig.json
Due: none

Minor cleanup
  src/content/app/tools/blast/state/blast-api/blastApiSlice.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update genome browser to 0.5.2 (#882)
  package-lock.json
  package.json
  src/content/app/genome-browser/components/browser-image/BrowserImage.tsx
  src/content/app/genome-browser/components/genome-browser-error/GenomeBrowserError.scss
  src/content/app/genome-browser/components/genome-browser-error/GenomeBrowserError.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

updated config
  src/content/app/tools/blast/types/blastSettings.ts
  tests/fixtures/blast/blastSettingsConfig.json
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

more updates on config
  tests/fixtures/blast/blastSettingsConfig.json
Due: none

Blast ADRs (#865)
  doc/blast/0001-BLAST-database-files.md
  doc/blast/0002-BLAST-download-formats.md
  doc/blast/0003-BLAST-input-parameters.md
  doc/blast/0004-BLAST-sequence-formats.md
  doc/blast/0005-BLAST-species-sequence-interactions.md
Due: none

Update dependencies (#886)
  package-lock.json
  package.json
  src/index.tsx
  src/shared/components/autosuggest-search-field/AutosuggestSearchField.tsx
  src/shared/components/button-link/ButtonLink.tsx
  src/shared/components/uploaded-file/UploadedFile.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Add proper handling of BLAST submission errors (#884)
  src/content/app/tools/blast/blast-download/submissionDownload.ts
  src/content/app/tools/blast/components/blast-submission-header/BlastSubmissionHeader.scss
  src/content/app/tools/blast/components/blast-submission-header/BlastSubmissionHeader.tsx
  src/content/app/tools/blast/components/listed-blast-submission/ListedBlastSubmission.tsx
  src/content/app/tools/blast/services/blastStorageService.ts
  src/content/app/tools/blast/state/blast-api/blastApiSlice.ts
  src/content/app/tools/blast/state/blast-results/blastResultsSelectors.ts
  src/content/app/tools/blast/state/blast-results/blastResultsSlice.ts
  src/content/app/tools/blast/state/epics/blastEpics.ts
  src/content/app/tools/blast/state/epics/tests/blastEpics.test.ts
  src/content/app/tools/blast/utils/blastSubmisionTypeNarrowing.ts
  src/content/app/tools/blast/views/blast-submission-results/BlastSubmissionResults.tsx
  src/header/launchbar/BlastLaunchbarButton.tsx
  tests/fixtures/blast/blastSubmission.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Focus locations — initial commit
  package-lock.json
  package.json
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/TrackPanelList.test.tsx
  src/content/app/genome-browser/hooks/useFocusTrack.ts
  src/content/app/genome-browser/hooks/useGenomeBrowser.ts
  src/content/app/genome-browser/state/focus-object/focusObjectSlice.ts
  src/shared/components/feature-summary-strip/FeatureSummaryStrip.test.tsx
  src/shared/components/feature-summary-strip/FeatureSummaryStrip.tsx
  src/shared/components/feature-summary-strip/LocationSummaryStrip.tsx
  src/shared/components/feature-summary-strip/index.ts
  src/shared/types/focus-object/focusObjectTypes.ts
  tests/fixtures/focus-object.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Exclude focus track from check for which tracks to hide
  package-lock.json
  src/content/app/genome-browser/hooks/useGenomeBrowserTracks.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Fix test for FeatureSummaryStrip
  src/shared/components/feature-summary-strip/FeatureSummaryStrip.test.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update tests for BookmarksModal
  src/content/app/genome-browser/components/browser-sidebar-modal/modal-views/BookmarksModal.test.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Handle genome browser update of a (non-focus) location
  package-lock.json
  src/content/app/genome-browser/hooks/useBrowserRouting.ts
  src/content/app/genome-browser/hooks/useGenomeBrowser.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Move margin from findAGene class
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/TrackPanelList.scss
Due: prettier --write, stylelint

Replace 'all' chunks with initial for the vendors module:
  webpack/client/production.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Exclude Opera Mini from the list of supported browsers
  package.json
Due: none

Set minor version of corejs in babel config
  babel.config.js
Due: none

Bring back the 404 http status code for missing routes
  src/server/routes/viewsRouter.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

calculate scrollbar width, set css variable and then calculate padding right
  src/content/app/tools/blast/BlastPage.scss
  src/root/Root.tsx
  src/shared/components/layout/StandardAppLayout.scss
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint
