Repository Ensembl/ensembl-client: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Update dependencies
  package-lock.json
  package.json
Due: none

Update dependencies (#1244)
  package-lock.json
  package.json
Due: none

Set up genome selection for structural variants (#1243)
  src/content/app/structural-variants/components/structural-variants-top-bar/StructuralVariantsTopBar.module.css
  src/content/app/structural-variants/components/structural-variants-top-bar/StructuralVariantsTopBar.tsx
  src/content/app/structural-variants/state/api/structuralVariantsApiSlice.ts
  src/content/app/structural-variants/state/general/structuralVariantsGeneralSelectors.ts
  src/content/app/structural-variants/state/general/structuralVariantsGeneralSlice.ts
  src/content/app/structural-variants/state/structuralVariantsReducer.ts
  src/content/app/structural-variants/types/genomeGroup.ts
  src/root/rootReducer.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Try ens-sv-alignments component
  config.ts
  package-lock.json
  package.json
  src/content/app/structural-variants/StructuralVariants.tsx
  src/content/app/structural-variants/components/structural-variants-image/StructuralVariantsImage.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Fix types
  src/server/helpers/getConfigForClient.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Try ens-sv-alignments component (#1242)
  config.ts
  package-lock.json
  package.json
  src/content/app/structural-variants/StructuralVariants.tsx
  src/content/app/structural-variants/components/structural-variants-image/StructuralVariantsImage.tsx
  src/server/helpers/getConfigForClient.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Move sv top bar logic into a dedicated hook
  src/content/app/structural-variants/StructuralVariants.tsx
  src/content/app/structural-variants/components/structural-variants-top-bar/StructuralVariantsTopBar.tsx
  src/content/app/structural-variants/components/structural-variants-top-bar/useTopBarState.ts
  src/content/app/structural-variants/hooks/useStateFromUrl.ts
  src/content/app/structural-variants/state/general/structuralVariantsGeneralSlice.ts
  src/content/app/structural-variants/types/location.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Special treatment for location; add the submit action
  src/content/app/structural-variants/components/structural-variants-top-bar/StructuralVariantsTopBar.module.css
  src/content/app/structural-variants/components/structural-variants-top-bar/StructuralVariantsTopBar.tsx
  src/content/app/structural-variants/components/structural-variants-top-bar/useTopBarState.ts
  src/content/app/structural-variants/state/general/structuralVariantsGeneralSlice.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Clean up location draft string before committing
  src/content/app/structural-variants/components/structural-variants-top-bar/useTopBarState.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Renamed a hook to have routing in its name; update url after selection confirmed
  src/content/app/structural-variants/StructuralVariants.tsx
  src/content/app/structural-variants/components/structural-variants-top-bar/useTopBarState.ts
  src/content/app/structural-variants/hooks/useStructuralVariantsRouting.ts
  src/content/app/structural-variants/state/general/structuralVariantsGeneralSlice.ts
  src/shared/helpers/urlHelper.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Move the 'type' annotation outside of named imports
  src/content/app/structural-variants/components/structural-variants-top-bar/StructuralVariantsTopBar.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Updated CI to use nginx+brotli for review env
  .gitlab-ci.yml
Due: none

Update genome selection for structural variants (#1245)
  src/content/app/structural-variants/StructuralVariants.tsx
  src/content/app/structural-variants/components/structural-variants-top-bar/StructuralVariantsTopBar.module.css
  src/content/app/structural-variants/components/structural-variants-top-bar/StructuralVariantsTopBar.tsx
  src/content/app/structural-variants/components/structural-variants-top-bar/useTopBarState.ts
  src/content/app/structural-variants/hooks/useStructuralVariantsRouting.ts
  src/content/app/structural-variants/state/general/structuralVariantsGeneralSlice.ts
  src/content/app/structural-variants/types/location.ts
  src/shared/helpers/urlHelper.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Update nginx Build
  .gitlab-ci.yml
  Dockerfile.nginx
Due: none

Update nginx build for review deployments (#1247)
  .gitlab-ci.yml
  Dockerfile.nginx
Due: none

Fix initialization of the genome browser page
  src/content/app/genome-browser/components/track-panel/trackPanelConfig.ts
  src/content/app/genome-browser/hooks/useFocusTrack.ts
  src/content/app/genome-browser/hooks/useGenomeBrowserTracks.ts
  src/content/app/genome-browser/state/track-settings/trackSettingsConstants.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Fix tests
  src/content/app/genome-browser/services/track-settings/trackSettingsStorageService.test.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Fix initialization of the genome browser page (#1248)
  src/content/app/genome-browser/components/track-panel/trackPanelConfig.ts
  src/content/app/genome-browser/hooks/useFocusTrack.ts
  src/content/app/genome-browser/hooks/useGenomeBrowserTracks.ts
  src/content/app/genome-browser/services/track-settings/trackSettingsStorageService.test.ts
  src/content/app/genome-browser/state/track-settings/trackSettingsConstants.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Avoid calling a method on an undefined object
  src/content/app/genome-browser/hooks/useFocusTrack.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Enable the structural variants sandwich
  package-lock.json
  src/content/app/structural-variants/components/structural-variants-image/StructuralVariantsImage.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update endpoint of regulatory annotation api (v.0.5 -> v.0.6)
  src/content/app/regulatory-activity-viewer/services/region-data-service/regionDataService.ts
  src/content/app/regulatory-activity-viewer/state/api/activityViewerApiSlice.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update package-lock.json
  package-lock.json
Due: none

Use relative url for regulation api endpoints
  config.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Enable the structural variants sandwich
  src/content/app/structural-variants/components/structural-variants-image/StructuralVariantsImage.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Wire up ens-sv-browser
  src/content/app/structural-variants/StructuralVariants.tsx
  src/content/app/structural-variants/components/structural-variants-image/StructuralVariantsImage.tsx
  src/content/app/structural-variants/components/structural-variants-main/StructuralVariantsMain.tsx
  src/content/app/structural-variants/components/structural-variants-top-bar/useTopBarState.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Place sv-browser in StandardAppLayout; replace sv-browser component when region name changes
  src/content/app/structural-variants/StructuralVariants.module.css
  src/content/app/structural-variants/StructuralVariants.tsx
  src/content/app/structural-variants/components/structural-variants-image/StructuralVariantsImage.module.css
  src/content/app/structural-variants/components/structural-variants-image/StructuralVariantsImage.tsx
  src/content/app/structural-variants/components/structural-variants-main/StructuralVariantsMain.module.css
  src/content/app/structural-variants/components/structural-variants-main/StructuralVariantsMain.tsx
  src/content/app/structural-variants/components/structural-variants-top-bar/StructuralVariantsTopBar.module.css
  src/content/app/structural-variants/components/structural-variants-top-bar/StructuralVariantsTopBar.tsx
  src/content/app/structural-variants/hooks/useStructuralVariantsRouting.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Use alt genome location from url when initializing structural variants component
  src/content/app/structural-variants/StructuralVariants.tsx
  src/content/app/structural-variants/components/structural-variants-image/StructuralVariantsImage.tsx
  src/content/app/structural-variants/components/structural-variants-main/StructuralVariantsMain.tsx
  src/content/app/structural-variants/components/structural-variants-top-bar/useTopBarState.ts
  src/content/app/structural-variants/hooks/useStructuralVariantsRouting.ts
  src/content/app/structural-variants/state/general/structuralVariantsGeneralSelectors.ts
  src/content/app/structural-variants/state/general/structuralVariantsGeneralSlice.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Remember to update a ref during component's rendering
  src/content/app/structural-variants/components/structural-variants-image/StructuralVariantsImage.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Structural variants: wire up the ens-sv-browser component (#1249)
  src/content/app/structural-variants/StructuralVariants.module.css
  src/content/app/structural-variants/StructuralVariants.tsx
  src/content/app/structural-variants/components/structural-variants-image/StructuralVariantsImage.module.css
  src/content/app/structural-variants/components/structural-variants-image/StructuralVariantsImage.tsx
  src/content/app/structural-variants/components/structural-variants-main/StructuralVariantsMain.module.css
  src/content/app/structural-variants/components/structural-variants-main/StructuralVariantsMain.tsx
  src/content/app/structural-variants/components/structural-variants-top-bar/StructuralVariantsTopBar.module.css
  src/content/app/structural-variants/components/structural-variants-top-bar/StructuralVariantsTopBar.tsx
  src/content/app/structural-variants/components/structural-variants-top-bar/useTopBarState.ts
  src/content/app/structural-variants/hooks/useStructuralVariantsRouting.ts
  src/content/app/structural-variants/state/general/structuralVariantsGeneralSelectors.ts
  src/content/app/structural-variants/state/general/structuralVariantsGeneralSlice.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Add navigation buttons for the structural variants viewer
  package-lock.json
  package.json
  src/content/app/structural-variants/StructuralVariants.module.css
  src/content/app/structural-variants/StructuralVariants.tsx
  src/content/app/structural-variants/components/structural-variants-image/StructuralVariantsImage.module.css
  src/content/app/structural-variants/components/structural-variants-image/StructuralVariantsImage.tsx
  src/content/app/structural-variants/components/structural-variants-main/StructuralVariantsMain.module.css
  src/content/app/structural-variants/components/structural-variants-main/StructuralVariantsMain.tsx
  src/content/app/structural-variants/components/structural-variants-nav-buttons/StructuralVariantsNavButtons.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Update package hash, and add a minor css tweak
  package-lock.json
  src/content/app/structural-variants/components/structural-variants-main/StructuralVariantsMain.module.css
Due: stylelint

Add navigation buttons for the structural variants viewer (#1250)
  package-lock.json
  package.json
  src/content/app/structural-variants/StructuralVariants.module.css
  src/content/app/structural-variants/StructuralVariants.tsx
  src/content/app/structural-variants/components/structural-variants-image/StructuralVariantsImage.module.css
  src/content/app/structural-variants/components/structural-variants-image/StructuralVariantsImage.tsx
  src/content/app/structural-variants/components/structural-variants-main/StructuralVariantsMain.module.css
  src/content/app/structural-variants/components/structural-variants-main/StructuralVariantsMain.tsx
  src/content/app/structural-variants/components/structural-variants-nav-buttons/StructuralVariantsNavButtons.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Use react's event binding for custom elements
  src/content/app/structural-variants/components/structural-variants-image/StructuralVariantsImage.tsx
  src/content/app/structural-variants/components/structural-variants-nav-buttons/StructuralVariantsNavButtons.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Start url validation
  src/content/app/structural-variants/hooks/useStructuralVariantsRouting.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Always update redux with data retrieved from url parameters
  src/content/app/structural-variants/hooks/useStructuralVariantsRouting.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Remove unused methods from structuralVariantsGeneralSlice
  src/content/app/structural-variants/state/general/structuralVariantsGeneralSlice.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Show a rudimental message for when url parameters are invalid
  src/content/app/structural-variants/StructuralVariants.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Add validation of url parameters for structural variants view (#1251)
  src/content/app/structural-variants/StructuralVariants.tsx
  src/content/app/structural-variants/hooks/useStructuralVariantsRouting.ts
  src/content/app/structural-variants/state/general/structuralVariantsGeneralSlice.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Path conditions:
  eslint --max-warnings=0: any of: *.{ts,tsx}
  manage-licence-header add: any of: *.{ts,tsx}
  prettier --write: any of: *.{ts,tsx}
  stylelint: any of: *.css
