Repository Ensembl/ensembl-client: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Move parent-customizable class to top-level ImageButton element; and use plain width and height CSS properties
  src/shared/components/image-button/ImageButton.scss
  src/shared/components/image-button/ImageButton.tsx
  stories/shared-components/image-button/ImageButton.stories.scss
  stories/shared-components/image-button/ImageButton.stories.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

props.description -> description
  src/shared/components/image-button/ImageButton.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Remove commented lines
  src/shared/components/image-button/ImageButton.scss
Due: prettier --write, stylelint

Fix tests
  src/shared/components/image-button/ImageButton.test.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Updtes to VisibilityIcon button
  src/shared/components/visibility-icon/VisibilityIcon.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Fix another test
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/track-panel-items/track-panel-item-layout/SimpleTrackPanelItemLayout.test.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Silence linter for ImageButton.scss
  src/shared/components/image-button/ImageButton.scss
Due: prettier --write, stylelint

update on species availability check
  src/content/app/tools/blast/components/blast-species-selector/BlastSpeciesSelector.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Add Hotjar tracking script
  src/server/routes/viewsRouter.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

initial commit
  src/content/app/tools/blast/components/blast-settings/BlastSettings.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

PR suggestions
  src/content/app/genome-browser/Browser.tsx
  src/content/app/genome-browser/contexts/GenomeBrowserContext.tsx
  src/content/app/genome-browser/contexts/GenomeBrowserIdsContext.tsx
  src/content/app/genome-browser/hooks/useBrowserRouting.test.tsx
  src/content/app/genome-browser/hooks/useGenomeBrowser.ts
  src/content/app/genome-browser/hooks/useGenomeBrowserIds.ts
  tests/fixtures/browser.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Add Hotjar tracking script (#872)
  src/server/routes/viewsRouter.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

More PR suggestions
  src/content/app/genome-browser/components/browser-cog/BrowserCogList.tsx
  src/content/app/genome-browser/contexts/GenomeBrowserIdsContext.tsx
  src/content/app/genome-browser/hooks/useGenomeBrowserIds.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Refactor useGenomeBrowserIds hook (#862)
  src/content/app/genome-browser/Browser.tsx
  src/content/app/genome-browser/contexts/GenomeBrowserContext.tsx
  src/content/app/genome-browser/contexts/GenomeBrowserIdsContext.tsx
  src/content/app/genome-browser/hooks/useBrowserRouting.test.tsx
  src/content/app/genome-browser/hooks/useGenomeBrowser.ts
  src/content/app/genome-browser/hooks/useGenomeBrowserIds.ts
  tests/fixtures/browser.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

PR comments
  doc/architecture/decisions/0019-BLAST-database-files.md
  doc/architecture/decisions/0020-BLAST-download-formats.md
  doc/architecture/decisions/0021-BLAST-sequence-formats.md
  doc/architecture/decisions/0022-BLAST-input-parameters.md
  doc/architecture/decisions/0023-BLAST-species-sequence-interactions.md
Due: none

Update ImageButton component (#867)
  src/content/app/genome-browser/components/browser-reset/BrowserReset.scss
  src/content/app/genome-browser/components/browser-reset/BrowserReset.tsx
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/track-panel-items/track-panel-item-layout/SimpleTrackPanelItemLayout.test.tsx
  src/header/launchbar/Launchbar.scss
  src/header/launchbar/LaunchbarButton.tsx
  src/shared/components/image-button/ImageButton.scss
  src/shared/components/image-button/ImageButton.test.tsx
  src/shared/components/image-button/ImageButton.tsx
  src/shared/components/layout/StandardAppLayout.scss
  src/shared/components/visibility-icon/VisibilityIcon.scss
  src/shared/components/visibility-icon/VisibilityIcon.test.tsx
  src/shared/components/visibility-icon/VisibilityIcon.tsx
  stories/shared-components/image-button/ImageButton.stories.scss
  stories/shared-components/image-button/ImageButton.stories.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

PR feedback
  src/content/app/genome-browser/components/browser-sidebar-toolstrip/BrowserSidebarToolstrip.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

update GB toolstrip
  src/content/app/genome-browser/components/browser-sidebar-modal/BrowserSidebarModal.tsx
  src/content/app/genome-browser/components/browser-sidebar-modal/modal-views/NavigateModal.tsx
  src/content/app/genome-browser/components/browser-sidebar-modal/modal-views/PersonalDataModal.tsx
  src/content/app/genome-browser/components/browser-sidebar-toolstrip/BrowserSidebarToolstrip.test.tsx
  src/content/app/genome-browser/components/browser-sidebar-toolstrip/BrowserSidebarToolstrip.tsx
  src/content/app/genome-browser/state/browser-sidebar-modal/browserSidebarModalSlice.ts
  src/shared/components/layout/StandardAppLayout.scss
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

PR feedback
  src/shared/components/layout/StandardAppLayout.scss
Due: prettier --write, stylelint

Fix tests
  src/content/app/tools/blast/components/blast-species-selector/BlastSpeciesSelector.test.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Check popular species list length rather than the presence of popular species list
  src/content/app/tools/blast/components/blast-species-selector/BlastSpeciesSelector.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Same check for popular species in SpeciesSelector
  src/content/app/species-selector/containers/popular-species-panel/PopularSpeciesPanel.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

reorganise; and pr suggestion updates
  doc/architecture/decisions/0022-BLAST-input-parameters.md
  documentation/0001-BLAST-database-files.md
  documentation/0002-BLAST-download-formats.md
  documentation/0003-BLAST-input-parameters.md
  documentation/0004-BLAST-sequence-formats.md
  documentation/0005-BLAST-species-sequence-interactions.md
Due: none

updates to description doc
  tests/fixtures/blast/blastSettingsConfig.json
Due: none

Add find genes instructions to species selector
  src/content/app/species-selector/components/find-gene-instructions/FindGeneInstructions.scss
  src/content/app/species-selector/components/find-gene-instructions/FindGeneInstructions.tsx
  src/content/app/species-selector/components/species-search-field/SpeciesSearchField.scss
  src/content/app/species-selector/components/species-search-field/SpeciesSearchField.tsx
  src/content/app/species-selector/containers/species-search-panel/SpeciesSearchPanel.scss
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

keep description in config; review suggestions
  src/content/app/tools/blast/components/blast-settings/BlastSettings.tsx
  tests/fixtures/blast/blastSettingsConfig.json
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Blast species list (#871)
  src/content/app/species-selector/containers/popular-species-panel/PopularSpeciesPanel.tsx
  src/content/app/tools/blast/components/blast-species-selector/BlastSpeciesSelector.test.tsx
  src/content/app/tools/blast/components/blast-species-selector/BlastSpeciesSelector.tsx
  src/content/app/tools/blast/components/blast-species-selector/speciesList.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

revised icon size
  src/shared/components/layout/StandardAppLayout.scss
  src/styles/main.scss
Due: prettier --write, stylelint

PR suggestions
  src/content/app/species-selector/components/find-gene-instructions/FindGeneInstructions.scss
  src/content/app/species-selector/components/find-gene-instructions/FindGeneInstructions.tsx
  src/content/app/species-selector/components/species-search-field/SpeciesSearchField.scss
  src/content/app/species-selector/components/species-search-field/SpeciesSearchField.tsx
  src/content/app/species-selector/containers/species-search-panel/SpeciesSearchPanel.scss
  src/content/app/species-selector/containers/species-search-panel/SpeciesSearchPanel.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Fix for styles
  src/content/app/tools/blast/components/blast-submission-header/BlastSubmissionHeader.scss
Due: prettier --write, stylelint

PR feedback
  src/shared/components/image-button/ImageButton.scss
Due: prettier --write, stylelint

remove extra classname
  src/content/app/genome-browser/components/browser-sidebar-modal/modal-views/NavigateModal.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Make sure not to update a submission if it has been deleted
  src/content/app/tools/blast/state/blast-results/blastResultsSlice.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

update icons in GB sidebar toolstrip (#873)
  src/content/app/genome-browser/components/browser-sidebar-modal/BrowserSidebarModal.tsx
  src/content/app/genome-browser/components/browser-sidebar-modal/modal-views/NavigateModal.tsx
  src/content/app/genome-browser/components/browser-sidebar-modal/modal-views/PersonalDataModal.tsx
  src/content/app/genome-browser/components/browser-sidebar-toolstrip/BrowserSidebarToolstrip.test.tsx
  src/content/app/genome-browser/components/browser-sidebar-toolstrip/BrowserSidebarToolstrip.tsx
  src/content/app/genome-browser/state/browser-sidebar-modal/browserSidebarModalSlice.ts
  src/shared/components/image-button/ImageButton.scss
  src/shared/components/layout/StandardAppLayout.scss
  src/styles/main.scss
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Don't try to update a job in a deleted BLAST submission in BLAST storage
  src/content/app/tools/blast/services/blastStorageService.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Handle old blast submissions (#870)
  src/content/app/tools/blast/components/blast-submission-header/BlastSubmissionHeader.scss
  src/content/app/tools/blast/components/blast-submission-header/BlastSubmissionHeader.tsx
  src/content/app/tools/blast/components/blast-views-navigation/BlastViewsNavigation.scss
  src/content/app/tools/blast/components/blast-views-navigation/BlastViewsNavigation.tsx
  src/content/app/tools/blast/components/listed-blast-submission/ListedBlastSubmission.test.tsx
  src/content/app/tools/blast/services/blastStorageService.test.ts
  src/content/app/tools/blast/services/blastStorageService.ts
  src/content/app/tools/blast/services/blastStorageServiceConstants.ts
  src/content/app/tools/blast/state/blast-results/blastResultsSlice.ts
  src/content/app/tools/blast/state/epics/blastEpics.ts
  src/content/app/tools/blast/state/epics/tests/blastEpics.test.ts
  src/content/app/tools/blast/utils/blastResultsAvailability.ts
  src/content/app/tools/blast/views/blast-submission-results/BlastSubmissionResults.tsx
  src/content/app/tools/blast/views/blast-submission-results/components/missing-blast-submission-error/MissingBlastSubmissionError.scss
  src/content/app/tools/blast/views/blast-submission-results/components/missing-blast-submission-error/MissingBlastSubmissionError.tsx
  src/services/indexeddb-service.ts
  src/shared/components/alert-button/AlertButton.scss
  src/shared/constants/timeConstants.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

review comments
  src/content/app/tools/blast/components/blast-settings/BlastSettings.scss
  src/content/app/tools/blast/components/blast-settings/BlastSettings.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

PR suggestions 2
  src/content/app/species-selector/components/find-gene-instructions/FindGeneInstructions.scss
  src/content/app/species-selector/components/species-search-field/SpeciesSearchField.scss
  src/content/app/species-selector/components/species-search-field/SpeciesSearchField.tsx
  src/content/app/species-selector/containers/species-search-panel/SpeciesSearchPanel.scss
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

remove html tags from description
  tests/fixtures/blast/blastSettingsConfig.json
Due: none

Stop polling for job statuses when BLAST submission is deleted
  src/content/app/tools/blast/state/epics/blastEpics.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Path conditions:
  eslint --max-warnings=0: any of: *.{ts,tsx}
  manage-licence-header add: any of: *.{ts,tsx}
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.scss)
  stylelint: any of: *.scss
