Repository Ensembl/ensembl-client: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Update the UI of the DownloadButton
  src/shared/components/download-button/DownloadButton.scss
  src/shared/components/download-button/DownloadButton.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

store search sensitivity in local storage, show it in the result
  src/content/app/tools/blast/components/blast-job-submit/BlastJobSubmit.test.tsx
  src/content/app/tools/blast/components/blast-job-submit/BlastJobSubmit.tsx
  src/content/app/tools/blast/components/blast-submission-header/BlastSubmissionHeader.tsx
  src/content/app/tools/blast/state/blast-api/blastApiSlice.ts
  src/content/app/tools/blast/state/blast-results/blastResultsSlice.ts
  src/content/app/tools/blast/state/epics/tests/fixtures/blastSubmissionFixtures.ts
  src/content/app/tools/blast/views/blast-submission-results/BlastSubmissionResults.tsx
  src/content/app/tools/blast/views/blast-submission-results/components/blast-results-per-sequence/BlastResultsPerSequence.tsx
  src/content/app/tools/blast/views/blast-submission-results/components/job-parameters/JobParameters.tsx
  tests/fixtures/blast/blastSubmission.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Add the runAsyncVisualTask utility
  src/shared/hooks/tests/useAsyncTask.test.ts
  src/shared/hooks/useAsyncTask.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Remove the commented out code
  src/shared/components/download-button/DownloadButton.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Move runAsyncVisualTask into its own utility file
  src/shared/hooks/useAsyncVisualTask.ts
  src/shared/utils/runAsyncVisualTask.ts
  src/shared/utils/tests/runAsyncVisualTask.test.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Rename promise$ to task$
  src/shared/utils/runAsyncVisualTask.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Test DataTable.tsx
  src/shared/components/data-table/DataTable.test.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Add missing app dimension to EV tracking events (#838)
  src/content/app/entity-viewer/hooks/useEntityViewerAnalytics.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Fix duplicate import
  src/content/app/entity-viewer/hooks/useEntityViewerAnalytics.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update useEntityViewerAnalytics.ts
  src/content/app/entity-viewer/hooks/useEntityViewerAnalytics.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update an import statement
  src/content/app/entity-viewer/hooks/useEntityViewerAnalytics.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Remove duplicate import from useEntityViewerAnalytics (#842)
  src/content/app/entity-viewer/hooks/useEntityViewerAnalytics.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

change preset type to object in state
  src/content/app/tools/blast/components/blast-job-submit/BlastJobSubmit.test.tsx
  src/content/app/tools/blast/components/blast-job-submit/BlastJobSubmit.tsx
  src/content/app/tools/blast/components/blast-settings/BlastSettings.tsx
  src/content/app/tools/blast/components/blast-submission-header/BlastSubmissionHeader.tsx
  src/content/app/tools/blast/hooks/useBlastForm.ts
  src/content/app/tools/blast/state/blast-api/blastApiSlice.ts
  src/content/app/tools/blast/state/blast-form/blastFormSlice.ts
  src/content/app/tools/blast/state/blast-results/blastResultsSlice.ts
  src/content/app/tools/blast/state/epics/tests/fixtures/blastSubmissionFixtures.ts
  src/content/app/tools/blast/views/blast-submission-results/components/blast-results-per-sequence/BlastResultsPerSequence.tsx
  src/content/app/tools/blast/views/blast-submission-results/components/job-parameters/JobParameters.tsx
  tests/fixtures/blast/blastSubmission.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

add new hook to get genomeIdForUrl
  src/content/app/species/hooks/useSpeciesIds.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

css modifications
  src/content/app/species/components/species-main-view/SpeciesMainView.scss
  src/content/app/species/components/species-title-area/SpeciesTitleArea.scss
Due: prettier --write, stylelint

more css changes
  src/content/app/species/components/species-main-view/SpeciesMainView.scss
Due: prettier --write, stylelint

add gene search to species home page
  src/content/app/species/SpeciesPageContent.tsx
  src/content/app/species/components/species-main-view/SpeciesMainView.scss
  src/content/app/species/components/species-sidebar-modal/SpeciesSidebarModal.tsx
  src/content/app/species/components/species-sidebar-modal/modal-views/SpeciesSidebarSearch.tsx
  src/content/app/species/components/species-sidebar-overview/SpeciesSidebarOverview.scss
  src/content/app/species/components/species-sidebar-overview/SpeciesSidebarOverview.tsx
  src/content/app/species/components/species-sidebar-toolstrip/SpeciesSidebarToolstrip.tsx
  src/content/app/species/components/species-title-area/SpeciesTitleArea.scss
  src/content/app/species/components/species-title-area/SpeciesTitleArea.tsx
  src/content/app/species/hooks/useSpeciesAnalytics.ts
  src/content/app/species/state/sidebar/speciesSidebarSelectors.ts
  src/content/app/species/state/sidebar/speciesSidebarSlice.ts
  src/shared/state/in-app-search/inAppSearchSlice.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

remove unwanted redux code
  src/content/app/species-selector/state/speciesSelectorSelectors.ts
  src/content/app/species-selector/state/speciesSelectorSlice.ts
  src/content/app/species/components/species-title-area/SpeciesTitleArea.tsx
  src/content/app/species/components/species-title-area/species-remove/SpeciesRemove.test.tsx
  src/content/app/species/components/species-title-area/species-remove/SpeciesRemove.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Remove mixins in SpeciesMainView
  src/content/app/species/components/species-main-view/SpeciesMainView.scss
Due: prettier --write, stylelint

review suggestions
  src/content/app/species/components/species-sidebar-modal/SpeciesSidebarModal.tsx
  src/content/app/species/components/species-sidebar-modal/modal-views/SpeciesSidebarSearch.tsx
  src/content/app/species/components/species-sidebar-toolstrip/SpeciesSidebarToolstrip.tsx
  src/content/app/species/components/species-title-area/SpeciesTitleArea.scss
  src/content/app/species/components/species-title-area/SpeciesTitleArea.tsx
  src/content/app/species/components/species-title-area/species-remove/SpeciesRemove.test.tsx
  src/content/app/species/hooks/useSpeciesIds.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

more updates
  src/content/app/species/components/species-title-area/SpeciesTitleArea.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

update method
  src/content/app/species/components/species-sidebar-modal/SpeciesSidebarModal.tsx
  src/content/app/species/components/species-title-area/SpeciesTitleArea.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

css fixes for species remove
  src/content/app/species-selector/state/speciesSelectorSelectors.ts
  src/content/app/species-selector/state/speciesSelectorSlice.ts
  src/content/app/species/components/species-title-area/SpeciesTitleArea.scss
  src/content/app/species/components/species-title-area/SpeciesTitleArea.tsx
  src/content/app/species/components/species-title-area/species-remove/SpeciesRemove.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Prevent the stretching of geneSearchWrapper to the full width of the CSS grid
  src/content/app/species/components/species-title-area/SpeciesTitleArea.scss
Due: prettier --write, stylelint

rename of component
  src/content/app/species/SpeciesPageContent.tsx
  src/content/app/species/components/species-page-sidebar/SpeciesPageSidebar.scss
  src/content/app/species/components/species-page-sidebar/SpeciesPageSidebar.tsx
  src/content/app/species/components/species-title-area/SpeciesTitleArea.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

review suggestions
  src/content/app/species/components/species-sidebar-toolstrip/SpeciesSidebarToolstrip.tsx
  src/content/app/species/state/sidebar/speciesSidebarSlice.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

analytics updated
  src/content/app/entity-viewer/hooks/useEntityViewerAnalytics.ts
  src/content/app/entity-viewer/shared/components/entity-viewer-sidebar/entity-viewer-sidebar-toolstrip/EntityViewerSidebarToolstrip.tsx
  src/content/app/species/components/species-sidebar-toolstrip/SpeciesSidebarToolstrip.tsx
  src/content/app/species/hooks/useSpeciesAnalytics.ts
  src/global/globalConfig.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

review suggestion
  src/content/app/species/hooks/useSpeciesAnalytics.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

pr suggestion
  src/content/app/species/hooks/useSpeciesAnalytics.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

update ga
  src/content/app/species/hooks/useSpeciesAnalytics.ts
  src/global/globalConfig.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

udpate ga; typo correction
  src/content/app/species/hooks/useSpeciesAnalytics.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

missed changes while removing conflicts
  src/content/app/entity-viewer/hooks/useEntityViewerAnalytics.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Increase clickable area for sequence header in BLAST result
  src/content/app/tools/blast/views/blast-submission-results/components/blast-results-per-sequence/BlastResultsPerSequence.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Clear BLAST form upon submission
  src/content/app/tools/blast/components/blast-job-submit/BlastJobSubmit.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Go back to the js solution; fix some styles
  src/content/app/tools/blast/components/blast-app-bar/BlastAppBar.scss
  src/content/app/tools/blast/components/blast-app-bar/BlastAppBar.test.tsx
  src/content/app/tools/blast/components/blast-app-bar/BlastAppBar.tsx
  src/content/app/tools/blast/views/blast-form/BlastForm.scss
  src/content/app/tools/blast/views/blast-form/BlastForm.tsx
  src/content/app/tools/blast/views/blast-form/blastFormConstants.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Remove unnecessary CSS rules
  src/shared/components/download-button/DownloadButton.scss
Due: prettier --write, stylelint

Increase clickable area for sequence header in BLAST result (#843)
  src/content/app/tools/blast/views/blast-submission-results/components/blast-results-per-sequence/BlastResultsPerSequence.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Revert "change preset type to object in state"
  src/content/app/tools/blast/components/blast-job-submit/BlastJobSubmit.test.tsx
  src/content/app/tools/blast/components/blast-job-submit/BlastJobSubmit.tsx
  src/content/app/tools/blast/components/blast-settings/BlastSettings.tsx
  src/content/app/tools/blast/components/blast-submission-header/BlastSubmissionHeader.tsx
  src/content/app/tools/blast/hooks/useBlastForm.ts
  src/content/app/tools/blast/state/blast-api/blastApiSlice.ts
  src/content/app/tools/blast/state/blast-form/blastFormSlice.ts
  src/content/app/tools/blast/state/blast-results/blastResultsSlice.ts
  src/content/app/tools/blast/state/epics/tests/fixtures/blastSubmissionFixtures.ts
  src/content/app/tools/blast/views/blast-submission-results/components/blast-results-per-sequence/BlastResultsPerSequence.tsx
  src/content/app/tools/blast/views/blast-submission-results/components/job-parameters/JobParameters.tsx
  tests/fixtures/blast/blastSubmission.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

set max and min width for zmenu
  src/content/app/genome-browser/components/zmenu/Zmenu.scss
  src/content/app/genome-browser/components/zmenu/Zmenu.tsx
  src/shared/components/toolbox/toolbox-expandable-content/ToolboxExpandableContent.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Path conditions:
  eslint --max-warnings=0: any of: *.{ts,tsx}
  manage-licence-header add: any of: *.{ts,tsx}
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.scss)
  stylelint: any of: *.scss
