Repository Ensembl/ensembl-client: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

.lintstagedrc.json:

{
  "*.{ts,tsx}": [
    "eslint --max-warnings=0",
    "manage-licence-header add",
    "prettier --write"
  ],
  "*.css": [
    "stylelint"
  ]
}

Code review
  src/content/app/genome-browser/hooks/useBrowserRouting.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Fix bugs with messaging to the genome browser (#1307)
  src/content/app/genome-browser/hooks/useBrowserRouting.ts
  src/content/app/genome-browser/hooks/useFocusTrack.ts
  src/content/app/genome-browser/hooks/useGenomeBrowserPosition.ts
  src/header/launchbar/GenomeBrowserLaunchbarButton.tsx
  src/header/launchbar/Launchbar.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update transcript default query
  src/content/app/entity-viewer/state/api/queries/transcriptDefaultQuery.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Make tabular view the default
  src/content/app/entity-viewer/transcript-view/components/transcript-exons/ExonsView.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Add ExonsView component and useExonsData hook
  src/content/app/entity-viewer/transcript-view/components/transcript-exons/ExonsView.tsx
  src/content/app/entity-viewer/transcript-view/components/transcript-exons/useExonsData.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Include introns in the display
  src/content/app/entity-viewer/state/api/queries/transcriptDefaultQuery.ts
  src/content/app/entity-viewer/transcript-view/components/transcript-exons/ExonsView.tsx
  src/content/app/entity-viewer/transcript-view/components/transcript-exons/exons-continuous/ExonsContinuous.module.css
  src/content/app/entity-viewer/transcript-view/components/transcript-exons/exons-table/ExonsTable.module.css
  src/content/app/entity-viewer/transcript-view/components/transcript-exons/exons-table/ExonsTable.tsx
  src/content/app/entity-viewer/transcript-view/components/transcript-exons/useExonsData.ts
  src/shared/components/panel/Panel.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Update useExonsData hook
  src/content/app/entity-viewer/transcript-view/components/transcript-exons/useExonsData.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Enable table download as csv
  src/content/app/entity-viewer/transcript-view/components/transcript-exons/exons-table/ExonsTable.module.css
  src/content/app/entity-viewer/transcript-view/components/transcript-exons/exons-table/ExonsTable.tsx
  src/content/app/entity-viewer/transcript-view/components/transcript-exons/exons-table/exportExonsTable.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Update transcriptDefaultQuery
  src/content/app/entity-viewer/state/api/queries/transcriptDefaultQuery.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Add components
  src/content/app/entity-viewer/state/transcript-view/general/transcriptViewGeneralSlice.ts
  src/content/app/entity-viewer/transcript-view/TranscriptView.tsx
  src/content/app/entity-viewer/transcript-view/components/transcript-exons/ExonsView.module.css
  src/content/app/entity-viewer/transcript-view/components/transcript-exons/ExonsView.tsx
  src/content/app/entity-viewer/transcript-view/components/transcript-exons/exons-continuous/ExonsContinous.tsx
  src/content/app/entity-viewer/transcript-view/components/transcript-exons/exons-continuous/ExonsContinuous.module.css
  src/content/app/entity-viewer/transcript-view/components/transcript-exons/exons-table/ExonsTable.module.css
  src/content/app/entity-viewer/transcript-view/components/transcript-exons/exons-table/ExonsTable.tsx
  src/content/app/entity-viewer/transcript-view/components/transcript-view-tabs/TranscriptViewTabs.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Use brand orange colour
  src/content/app/entity-viewer/transcript-view/components/transcript-exons/exons-continuous/ExonsContinuous.module.css
Due: stylelint

Redesign ExonContinuous view; plus update some styles
  src/content/app/entity-viewer/transcript-view/components/transcript-exons/ExonsView.module.css
  src/content/app/entity-viewer/transcript-view/components/transcript-exons/ExonsView.tsx
  src/content/app/entity-viewer/transcript-view/components/transcript-exons/exons-continuous/ExonsContinous.tsx
  src/content/app/entity-viewer/transcript-view/components/transcript-exons/exons-continuous/ExonsContinuous.module.css
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Update data fetching and expanding/collapsing of sequences
  src/content/app/entity-viewer/state/api/entityViewerThoasSlice.ts
  src/content/app/entity-viewer/transcript-view/components/transcript-exons/ExonsView.module.css
  src/content/app/entity-viewer/transcript-view/components/transcript-exons/ExonsView.tsx
  src/content/app/entity-viewer/transcript-view/components/transcript-exons/exonHelpers.ts
  src/content/app/entity-viewer/transcript-view/components/transcript-exons/exons-table/ExonsTable.module.css
  src/content/app/entity-viewer/transcript-view/components/transcript-exons/exons-table/ExonsTable.tsx
  src/content/app/entity-viewer/transcript-view/components/transcript-exons/useExonsData.ts
  src/content/app/entity-viewer/transcript-view/components/transcript-exons/useExonsDataReducer.ts
  src/content/app/entity-viewer/transcript-view/components/transcript-view-tabs/TranscriptViewTabs.tsx
  src/shared/state/api-slices/refgetSlice.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Move intron type into its own file
  src/content/app/entity-viewer/state/api/queries/transcriptDefaultQuery.ts
  src/shared/types/core-api/intron.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

More cleanup
  src/content/app/entity-viewer/transcript-view/components/transcript-exons/useExonsData.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

More cleanup, and an error message
  src/content/app/entity-viewer/transcript-view/components/transcript-exons/ExonsView.tsx
  src/content/app/entity-viewer/transcript-view/components/transcript-exons/useExonsData.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Clean up
  src/content/app/entity-viewer/transcript-view/components/transcript-exons/exons-table/ExonsTable.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Add a function for creating slices from sequences
  src/shared/helpers/sequenceHelpers.test.ts
  src/shared/helpers/sequenceHelpers.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Add loading spinner and exons count
  src/content/app/entity-viewer/transcript-view/components/transcript-exons/ExonsView.module.css
  src/content/app/entity-viewer/transcript-view/components/transcript-exons/ExonsView.tsx
  src/content/app/entity-viewer/transcript-view/components/transcript-exons/exons-table/ExonsTable.module.css
  src/content/app/entity-viewer/transcript-view/components/transcript-exons/exons-table/ExonsTable.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Enable showing and hiding of exons; update the download button
  src/content/app/entity-viewer/transcript-view/components/transcript-exons/exons-table/ExonsTable.module.css
  src/content/app/entity-viewer/transcript-view/components/transcript-exons/exons-table/ExonsTable.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Some cleanup
  src/content/app/entity-viewer/transcript-view/components/transcript-exons/ExonsView.tsx
  src/content/app/entity-viewer/transcript-view/components/transcript-exons/exons-continuous/ExonsContinous.tsx
  src/content/app/entity-viewer/transcript-view/components/transcript-exons/exons-continuous/ExonsContinuous.module.css
  src/content/app/entity-viewer/transcript-view/components/transcript-exons/exons-table/ExonsTable.tsx
  src/content/app/entity-viewer/transcript-view/components/transcript-exons/exons-table/exportExonsTable.ts
  src/content/app/entity-viewer/transcript-view/components/transcript-exons/useExonsData.ts
  src/content/app/entity-viewer/transcript-view/components/transcript-exons/useExonsDataReducer.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Use strand on exons themselves rather than on the transcript, to account for possibility of trans-splicing
  src/content/app/entity-viewer/state/api/queries/transcriptDefaultQuery.ts
  src/content/app/entity-viewer/transcript-view/components/gene-overview-image/GeneOverviewImage.tsx
  src/content/app/entity-viewer/transcript-view/components/transcript-exons/exons-table/ExonsTable.tsx
  src/content/app/entity-viewer/transcript-view/components/transcript-exons/exons-table/exportExonsTable.ts
  src/content/app/entity-viewer/transcript-view/components/transcript-exons/useExonsData.ts
  src/content/app/entity-viewer/variant-view/variant-view-sidebar/overview/MainAccordion.tsx
  src/shared/helpers/formatters/strandFormatter.test.ts
  src/shared/state/api-slices/refgetSlice.ts
  src/shared/types/core-api/strand.ts
  tests/fixtures/browser.ts
  tests/fixtures/entity-viewer/slice.ts
  tests/fixtures/focus-object.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

remove highlightedTrackId reference (#1306)
  src/content/app/genome-browser/components/zmenu/Zmenu.test.tsx
  src/content/app/genome-browser/components/zmenu/Zmenu.tsx
  src/content/app/genome-browser/components/zmenu/zmenus/GeneAndOneTranscriptZmenu.tsx
  src/content/app/genome-browser/state/track-panel/trackPanelSlice.ts
  src/shared/components/search-match/GeneSearchMatches.tsx
  src/shared/components/search-match/VariantSearchMatches.tsx
  tests/fixtures/browser.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Add search field for feature to species selector.
  src/content/app/species-selector/SpeciesSelector.tsx
  src/content/app/species-selector/components/species-search-field/SpeciesSearchField.tsx
  src/content/app/species-selector/components/species-search-field/SpeciesSearchFieldWithLinks.tsx
  src/content/app/species-selector/components/species-selector-app-bar/SpeciesSelectorAppBar.tsx
  src/content/app/species-selector/views/species-selector-main-view/SpeciesSelectorMainView.test.tsx
  src/content/app/species-selector/views/species-selector-main-view/SpeciesSelectorMainView.tsx
  src/content/app/species-selector/views/species-selector-search-results-view/SpeciesSelectorSearchResultsView.module.css
  src/content/app/species-selector/views/species-selector-search-results-view/SpeciesSelectorSearchResultsView.test.tsx
  src/content/app/species-selector/views/species-selector-search-results-view/SpeciesSelectorSearchResultsView.tsx
  src/content/search/SearchPage.module.css
  src/content/search/SearchPage.tsx
  src/content/search/components/search-app-bar/SearchAppBar.tsx
  src/content/search/views/search-main-view/SearchMainView.module.css
  src/content/search/views/search-main-view/SearchMainView.test.tsx
  src/content/search/views/search-main-view/SearchMainView.tsx
  src/content/search/views/search-results-view/SearchResultsView.module.css
  src/content/search/views/search-results-view/SearchResultsView.test.tsx
  src/content/search/views/search-results-view/SearchResultsView.tsx
  src/header/launchbar/Launchbar.test.tsx
  src/header/launchbar/Launchbar.tsx
  src/routes/routesConfig.tsx
  src/shared/components/feature-search-results/FeatureSearchResults.module.css
  src/shared/components/feature-search-results/FeatureSearchResults.test.tsx
  src/shared/components/feature-search-results/FeatureSearchResults.tsx
  src/shared/components/table/Table.module.css
  src/shared/components/view-in-app/ViewInApp.module.css
  src/shared/components/view-in-app/ViewInApp.tsx
  src/shared/helpers/urlHelper.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Fix startup errors
  src/content/app/entity-viewer/transcript-view/components/transcript-details/TranscriptDetails.module.css
  src/content/app/species-selector/views/species-selector-search-results-view/SpeciesSelectorSearchResultsView.test.tsx
  src/content/app/species-selector/views/species-selector-search-results-view/SpeciesSelectorSearchResultsView.tsx
  src/content/search/components/search-app-bar/SearchAppBar.tsx
  src/content/search/views/search-results-view/SearchResultsView.test.tsx
  src/content/search/views/search-results-view/SearchResultsView.tsx
  src/shared/components/feature-search-results/FeatureSearchResults.module.css
  src/shared/components/feature-search-results/FeatureSearchResults.test.tsx
  src/shared/components/search-match/SearchMatch.module.css
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Fix genome browser launchbar button
  src/shared/helpers/urlHelper.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Add icons to search boxes
  src/content/app/species-selector/components/species-search-field/SpeciesSearchField.module.css
  src/content/app/species-selector/components/species-search-field/SpeciesSearchFieldWithLinks.tsx
  src/content/app/species-selector/views/species-selector-main-view/SpeciesSelectorMainView.module.css
  src/content/app/species-selector/views/species-selector-main-view/SpeciesSelectorMainView.tsx
  src/content/search/components/search-app-bar/SearchAppBar.module.css
  src/content/search/views/search-main-view/SearchMainView.test.tsx
  src/content/search/views/search-main-view/SearchMainView.tsx
  src/header/launchbar/Launchbar.test.tsx
  src/header/launchbar/Launchbar.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Update feature search icon
  src/content/app/species-selector/components/species-search-field/SpeciesSearchField.module.css
  src/content/app/species-selector/components/species-search-field/SpeciesSearchFieldWithLinks.tsx
  src/content/app/species-selector/views/species-selector-main-view/SpeciesSelectorMainView.tsx
  src/content/search/views/search-main-view/SearchMainView.module.css
  src/content/search/views/search-main-view/SearchMainView.tsx
  src/shared/components/app-icon/FeatureSearchIcon.tsx
  static/icons/icon_feature_search.svg
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Added close buttons and updated text size
  src/content/app/species-selector/components/species-search-field/SpeciesSearchField.module.css
  src/content/app/species-selector/views/species-selector-search-results-view/SpeciesSelectorSearchResultsView.module.css
  src/content/app/species-selector/views/species-selector-search-results-view/SpeciesSelectorSearchResultsView.test.tsx
  src/content/app/species-selector/views/species-selector-search-results-view/SpeciesSelectorSearchResultsView.tsx
  src/content/search/views/search-results-view/SearchResultsView.module.css
  src/content/search/views/search-results-view/SearchResultsView.test.tsx
  src/content/search/views/search-results-view/SearchResultsView.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

add alt text to search icons
  src/content/app/species-selector/views/species-selector-main-view/SpeciesSelectorMainView.tsx
  src/content/search/views/search-main-view/SearchMainView.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

species search results link
  src/content/app/species-selector/components/genome-groups/GenomeGroups.module.css
  src/content/app/species-selector/components/genome-groups/GenomeGroups.tsx
  src/content/app/species-selector/components/genome-selector-by-genome-group-id/GenomeSelectorByGenomeGroupId.module.css
  src/content/app/species-selector/components/genome-selector-by-genome-group-id/GenomeSelectorByGenomeGroupId.tsx
  src/content/app/species-selector/components/genomes-download-button/GenomesDownloadButton.tsx
  src/content/app/species-selector/state/species-selector-api-slice/speciesSelectorApiSlice.ts
  src/content/app/species-selector/views/species-selector-results-view/SpeciesSelectorResultsView.tsx
  src/shared/helpers/urlHelper.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

update import
  src/content/app/species-selector/components/genome-groups/GenomeGroups.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Fixed redirect issue when no species selected.
  src/content/app/species-selector/state/species-selector-general-slice/speciesSelectorGeneralSelectors.ts
  src/content/app/species-selector/state/species-selector-general-slice/speciesSelectorGeneralSlice.ts
  src/content/app/species-selector/views/species-selector-search-results-view/SpeciesSelectorSearchResultsView.test.tsx
  src/content/app/species-selector/views/species-selector-search-results-view/SpeciesSelectorSearchResultsView.tsx
  src/content/search/views/search-results-view/SearchResultsView.test.tsx
  src/content/search/views/search-results-view/SearchResultsView.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

fix
  src/content/app/species-selector/components/genome-groups/GenomeGroups.module.css
  src/content/app/species-selector/components/genome-groups/GenomeGroups.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

fix
  src/content/app/species-selector/components/genome-groups/GenomeGroups.module.css
Due: stylelint

Link genome groups to genome results table (#1308)
  src/content/app/species-selector/components/genome-groups/GenomeGroups.tsx
  src/content/app/species-selector/components/genome-selector-by-genome-group-id/GenomeSelectorByGenomeGroupId.module.css
  src/content/app/species-selector/components/genome-selector-by-genome-group-id/GenomeSelectorByGenomeGroupId.tsx
  src/content/app/species-selector/components/genomes-download-button/GenomesDownloadButton.tsx
  src/content/app/species-selector/state/species-selector-api-slice/speciesSelectorApiSlice.ts
  src/content/app/species-selector/views/species-selector-results-view/SpeciesSelectorResultsView.tsx
  src/shared/helpers/urlHelper.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Fix upstream/downstream sequences for reverse strand
  src/content/app/entity-viewer/transcript-view/components/transcript-exons/useExonsData.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Fix missing array join
  src/content/app/entity-viewer/transcript-view/components/transcript-exons/exonHelpers.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Fixed issues raised in pull request comments
  src/content/app/species-selector/components/species-search-field/SpeciesSearchField.module.css
  src/content/app/species-selector/components/species-search-field/SpeciesSearchField.tsx
  src/content/app/species-selector/components/species-search-field/SpeciesSearchFieldWithLinks.tsx
  src/content/app/species-selector/views/species-selector-main-view/SpeciesSelectorMainView.module.css
  src/content/app/species-selector/views/species-selector-main-view/SpeciesSelectorMainView.tsx
  src/content/app/species-selector/views/species-selector-search-results-view/SpeciesSelectorSearchResultsView.module.css
  src/content/app/species-selector/views/species-selector-search-results-view/SpeciesSelectorSearchResultsView.test.tsx
  src/content/app/species-selector/views/species-selector-search-results-view/SpeciesSelectorSearchResultsView.tsx
  src/content/search/SearchPage.tsx
  src/content/search/views/search-main-view/SearchMainView.tsx
  src/content/search/views/search-results-view/SearchResultsView.test.tsx
  src/content/search/views/search-results-view/SearchResultsView.tsx
  src/header/launchbar/Launchbar.test.tsx
  src/shared/components/app-icon/FeatureSearchIcon.tsx
  src/shared/components/feature-search-results-view/FeatureSearchResultsView.module.css
  src/shared/components/feature-search-results-view/FeatureSearchResultsView.tsx
  static/icons/icon_feature_search.svg
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

fix routing issues for PR
  src/content/app/species-selector/components/species-search-field/SpeciesSearchField.tsx
  src/content/app/species-selector/components/species-search-field/SpeciesSearchFieldWithLinks.tsx
  src/content/app/species-selector/views/species-selector-main-view/SpeciesSelectorMainView.test.tsx
  src/content/app/species-selector/views/species-selector-main-view/SpeciesSelectorMainView.tsx
  src/content/app/species-selector/views/species-selector-search-results-view/SpeciesSelectorSearchResultsView.tsx
  src/content/search/views/search-main-view/SearchMainView.test.tsx
  src/content/search/views/search-main-view/SearchMainView.tsx
  src/content/search/views/search-results-view/SearchResultsView.test.tsx
  src/content/search/views/search-results-view/SearchResultsView.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write
