Repository Ensembl/ensembl-client: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Remove production check for multiple transcripts (#781)
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/track-panel-items/TrackPanelGene.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

move track settings radio buttons into individul components
  src/content/app/genome-browser/components/browser-cog/BrowserCog.test.tsx
  src/content/app/genome-browser/components/browser-cog/BrowserCog.tsx
  src/content/app/genome-browser/components/browser-cog/BrowserCogList.test.tsx
  src/content/app/genome-browser/components/browser-cog/BrowserCogList.tsx
  src/content/app/genome-browser/components/browser-cog/useBrowserCogList.ts
  src/content/app/genome-browser/components/browser-track-config/BrowserTrackConfig.tsx
  src/content/app/genome-browser/components/browser-track-config/track-config-views/GeneTrackConfig.tsx
  src/content/app/genome-browser/components/browser-track-config/track-config-views/RegularTrackConfig.tsx
  src/content/app/genome-browser/components/browser-track-config/track-config-views/TranscriptTrackConfig.tsx
  src/content/app/genome-browser/components/track-panel/TrackPanel.test.tsx
  src/content/app/genome-browser/components/track-panel/TrackPanel.tsx
  src/content/app/genome-browser/components/track-settings-panel/TrackSettingsPanel.scss
  src/content/app/genome-browser/components/track-settings-panel/TrackSettingsPanel.test.tsx
  src/content/app/genome-browser/components/track-settings-panel/TrackSettingsPanel.tsx
  src/content/app/genome-browser/components/track-settings-panel/services/trackSettingsStorageService.ts
  src/content/app/genome-browser/components/track-settings-panel/track-config-views/RegularTrackConfig.tsx
  src/content/app/genome-browser/components/track-settings-panel/track-config-views/TranscriptTrackConfig.tsx
  src/content/app/genome-browser/components/track-settings-panel/track-settings-views/GeneTrackSettings.tsx
  src/content/app/genome-browser/components/track-settings-panel/track-settings-views/RegularTrackSettings.tsx
  src/content/app/genome-browser/components/track-settings-panel/track-settings-views/TranscriptTrackSettings.tsx
  src/content/app/genome-browser/components/track-settings-panel/useTrackSettings.ts
  src/content/app/genome-browser/hooks/useGenomeBrowser.ts
  src/content/app/genome-browser/state/browser-general/browserGeneralSlice.ts
  src/content/app/genome-browser/state/genomeBrowserReducer.ts
  src/content/app/genome-browser/state/track-settings/trackSettingsSelectors.ts
  src/content/app/genome-browser/state/track-settings/trackSettingsSlice.ts
  tests/fixtures/browser.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

update broken tests
  src/content/app/genome-browser/components/browser-cog/BrowserCog.test.tsx
  tests/fixtures/browser.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

remove unused code
  src/content/app/genome-browser/components/track-settings-panel/track-config-views/RegularTrackConfig.tsx
  src/content/app/genome-browser/components/track-settings-panel/track-config-views/TranscriptTrackConfig.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

move TrackSettings Radio buttons into its own component
  src/content/app/genome-browser/components/track-settings-panel/track-settings-views/GeneTrackSettings.tsx
  src/content/app/genome-browser/components/track-settings-panel/track-settings-views/RegularTrackSettings.tsx
  src/content/app/genome-browser/components/track-settings-panel/track-settings-views/TranscriptTrackSettings.tsx
  src/content/app/genome-browser/components/track-settings-panel/track-settings-views/components/track-settings-radio-options/TrackSettingsRadioOptions.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

update component name
  src/content/app/genome-browser/components/track-settings-panel/TrackSettingsPanel.test.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

remove Transcript track settings component
  src/content/app/genome-browser/components/track-settings-panel/track-settings-views/TranscriptTrackSettings.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

pr review suggestions
  src/content/app/genome-browser/components/browser-cog/BrowserCog.tsx
  src/content/app/genome-browser/components/track-settings-panel/track-settings-views/GeneTrackSettings.tsx
  src/content/app/genome-browser/components/track-settings-panel/track-settings-views/RegularTrackSettings.tsx
  src/content/app/genome-browser/components/track-settings-panel/track-settings-views/components/global-track-switch/GlobalTrackSwitch.tsx
  src/content/app/genome-browser/state/track-settings/trackSettingsSlice.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update src/content/app/genome-browser/components/track-panel/components/track-panel-list/track-panel-items/TrackPanelGene.tsx
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/track-panel-items/TrackPanelGene.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update styles for the missing genome/feature screen
  src/shared/components/error-screen/url-errors/UrlError.scss
Due: prettier --write, stylelint

Rename a css class
  src/shared/components/error-screen/url-errors/MissingFeatureError.tsx
  src/shared/components/error-screen/url-errors/MissingGenomeError.tsx
  src/shared/components/error-screen/url-errors/UrlError.scss
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

rename shouldJump to bringIntoView
  src/content/app/genome-browser/hooks/useGenomeBrowser.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

update package-lock.json
  package-lock.json
Due: none

Helptip
  src/shared/components/question-button/QuestionButton.tsx
  src/shared/components/table/Table.scss
  src/shared/components/table/Table.tsx
  src/shared/components/table/components/main/components/table-header/TableHeader.scss
  src/shared/components/table/components/main/components/table-header/TableHeader.tsx
  src/shared/components/table/components/main/components/table-header/components/table-header-cell/TableHeaderCell.tsx
  src/shared/components/table/components/main/components/table-row/components/row-selector/RowSelector.tsx
  src/shared/components/table/components/table-controls/TableControls.scss
  src/shared/components/table/components/table-controls/TableControls.tsx
  src/shared/components/table/components/table-controls/components/table-actions/TableActions.tsx
  src/shared/components/table/components/table-controls/components/table-actions/components/popup-panel/PopupPanel.scss
  src/shared/components/table/state/tableReducer.ts
  stories/shared-components/table/Table.stories.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Make sure ButtonLink component matches the url precisely
  src/content/app/tools/blast/BlastPage.tsx
  src/shared/components/button-link/ButtonLink.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Retain expanded state
  src/content/app/tools/blast/components/listed-blast-submission/ListedBlastSubmission.tsx
  src/content/app/tools/blast/state/blast-results/blastResultsSlice.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Fix tests
  src/content/app/tools/blast/components/listed-blast-submission/ListedBlastSubmission.test.tsx
  tests/fixtures/blast/blastSubmission.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Column sorting
  src/shared/components/table/components/main/components/table-body/TableBody.tsx
  src/shared/components/table/components/main/components/table-header/TableHeader.scss
  src/shared/components/table/components/main/components/table-header/components/table-header-cell/TableHeaderCell.tsx
  src/shared/components/table/state/tableReducer.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Fix server-side status codes for EntityViewer
  src/content/app/entity-viewer/EntityViewerPage.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Scrolling with fixed header
  src/shared/components/table/Table.scss
  src/shared/components/table/components/main/components/table-header/TableHeader.scss
  src/shared/components/table/components/main/components/table-header/components/table-header-cell/TableHeaderCell.tsx
  src/shared/components/table/components/main/components/table-row/TableRow.tsx
  src/shared/components/table/state/tableReducer.ts
  stories/shared-components/table/Table.stories.scss
  stories/shared-components/table/Table.stories.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Fix show hide rows on page change
  src/shared/components/table/Table.scss
  src/shared/components/table/components/main/components/table-body/TableBody.tsx
  src/shared/components/table/components/main/components/table-header/TableHeader.scss
  src/shared/components/table/components/main/components/table-header/components/table-header-cell/TableHeaderCell.tsx
  src/shared/components/table/components/table-controls/components/table-actions/components/popup-panel/PopupPanel.scss
  stories/shared-components/table/Table.stories.scss
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Fix type error
  src/shared/components/table/Table.scss
  src/shared/components/table/Table.tsx
  src/shared/components/table/components/main/components/table-row/components/row-visibility-controller/RowVisibilityController.tsx
  src/shared/components/table/state/tableReducer.ts
  stories/shared-components/table/Table.stories.scss
  stories/shared-components/table/Table.stories.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Fix focussing of gene in GB
  src/content/app/genome-browser/hooks/useGenomeBrowser.ts
  src/shared/components/in-app-search/InAppSearchMatches.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Migrate GA to GA4 (#772)
  src/analyticsHelper.ts
  src/content/app/App.tsx
  src/content/app/genome-browser/Browser.tsx
  src/content/app/species-selector/hooks/useSpeciesSelectorAnalytics.ts
  src/content/app/species/hooks/useSpeciesAnalytics.ts
  src/server/routes/unsupportedBrowserRouter.tsx
  src/server/views/unsupported-browser.html
  src/services/analytics-service.ts
  src/services/google-analytics/index.ts
  src/services/google-analytics/loadGoogleAnalytics.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Fix column bumping
  src/shared/components/table/Table.tsx
  src/shared/components/table/components/main/components/table-body/TableBody.tsx
  src/shared/components/table/components/main/components/table-header/TableHeader.tsx
  src/shared/components/table/components/main/components/table-row/TableRow.tsx
  src/shared/components/table/components/main/components/table-row/components/row-selector/RowSelector.tsx
  src/shared/components/table/components/main/components/table-row/components/row-visibility-controller/RowVisibilityController.tsx
  src/shared/components/table/state/tableReducer.ts
  stories/shared-components/table/Table.stories.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Remove unused key from state
  src/shared/components/table/state/tableReducer.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Some cleanups
  .vscode/settings.json
  src/shared/components/table/Table.tsx
  src/shared/components/table/components/main/components/table-body/TableBody.tsx
  src/shared/components/table/components/main/components/table-header/TableHeader.tsx
  src/shared/components/table/components/main/components/table-header/components/table-header-cell/TableHeaderCell.tsx
  src/shared/components/table/components/main/components/table-row/TableRow.tsx
  src/shared/components/table/components/main/components/table-row/components/row-selector/RowSelector.tsx
  src/shared/components/table/components/main/components/table-row/components/row-visibility-controller/RowVisibilityController.tsx
  src/shared/components/table/components/table-controls/TableControls.tsx
  src/shared/components/table/helpers/table-helpers.ts
  stories/shared-components/table/Table.stories.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

review comments udpate
  src/content/app/genome-browser/components/track-settings-panel/track-settings-views/GeneTrackSettings.tsx
  src/content/app/genome-browser/components/track-settings-panel/track-settings-views/RegularTrackSettings.tsx
  src/content/app/genome-browser/components/track-settings-panel/track-settings-views/components/global-track-switch/GlobalTrackSwitch.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update settings.json
  .vscode/settings.json
Due: none

Separate section for submission UI state
  src/content/app/tools/blast/components/listed-blast-submission/ListedBlastSubmission.tsx
  src/content/app/tools/blast/state/blast-results/blastResultsSlice.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Remove unnecessary async
  src/content/app/tools/blast/components/listed-blast-submission/ListedBlastSubmission.test.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

blast error fix having the validityflags reset on sequences change
  src/content/app/tools/blast/components/blast-input-sequences/BlastInputSequence.tsx
  src/content/app/tools/blast/components/blast-input-sequences/BlastInputSequences.tsx
  src/content/app/tools/blast/views/blast-form/BlastFormContext.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

forgot to remove one line
  src/content/app/tools/blast/components/blast-input-sequences/BlastInputSequences.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Add option to pass custom rendered for individual columns
  src/shared/components/table/components/main/components/table-row/TableRow.tsx
  src/shared/components/table/state/tableReducer.ts
  stories/shared-components/table/Table.stories.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Fix server-side status codes for EntityViewer (#784)
  src/content/app/entity-viewer/EntityViewerPage.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

class rename
  src/content/app/genome-browser/components/track-settings-panel/TrackSettingsPanel.scss
Due: prettier --write, stylelint

Update show hide
  src/content/app/entity-viewer/gene-view/GeneView.scss
  src/content/app/entity-viewer/gene-view/GeneView.tsx
  src/content/app/entity-viewer/gene-view/components/default-transcripts-list/transcripts-list-item-info/TranscriptsListItemInfo.scss
  src/content/app/entity-viewer/gene-view/components/default-transcripts-list/transcripts-list-item-info/TranscriptsListItemInfo.tsx
  src/content/app/entity-viewer/gene-view/components/gene-view-sidebar/external-references/GeneExternalReferences.scss
  src/content/app/entity-viewer/gene-view/components/gene-view-sidebar/external-references/GeneExternalReferences.tsx
  src/content/app/genome-browser/components/drawer/components/sequence-view/DrawerSequenceView.tsx
  src/content/app/help/components/help-landing/HelpLanding.scss
  src/content/app/help/components/help-landing/HelpLanding.tsx
  src/shared/components/chevron/Chevron.scss
  src/shared/components/show-hide/ShowHide.scss
  src/shared/components/show-hide/ShowHide.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Move logic for telling genome browser which transcripts to display into dedicated hook
  src/content/app/genome-browser/Browser.tsx
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/track-panel-items/TrackPanelGene.tsx
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/track-panel-items/TrackPanelTranscript.tsx
  src/content/app/genome-browser/components/zmenu/ZmenuContent.tsx
  src/content/app/genome-browser/hooks/useFocusTrack.ts
  src/content/app/genome-browser/hooks/useGenomeBrowser.ts
  src/content/app/genome-browser/state/browser-general/browserGeneralSelectors.ts
  src/shared/helpers/focusObjectHelpers.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Path conditions:
  eslint --max-warnings=0: any of: *.{ts,tsx}
  manage-licence-header add: any of: *.{ts,tsx}
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.scss)
  stylelint: any of: *.scss
