Repository Ensembl/ensembl-client: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Add types for variant payload
  src/content/app/entity-viewer/state/api/entityViewerThoasSlice.ts
  src/content/app/genome-browser/components/drawer/components/variant-colour/VariantColour.scss
  src/content/app/genome-browser/components/drawer/components/variant-colour/VariantColour.tsx
  src/content/app/genome-browser/components/drawer/drawer-views/variant-summary/variant-consequence/VariantConsequence.scss
  src/content/app/genome-browser/components/drawer/drawer-views/variant-summary/variant-consequence/VariantConsequence.tsx
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/track-panel-items/TrackPanelVariant.tsx
  src/content/app/genome-browser/hooks/useBrowserRouting.test.tsx
  src/content/app/genome-browser/state/api/genomeBrowserApiSlice.ts
  src/content/app/genome-browser/state/api/queries/variantQuery.ts
  src/root/rootReducer.ts
  src/server/serverSideReduxStore.ts
  src/shared/state/api-slices/graphqlApiSlice.ts
  src/shared/state/api-slices/thoasSlice.ts
  src/shared/types/thoas/externalDb.ts
  src/store.ts
  tests/fixtures/variation/variant.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Update species stats for 108 release (#959)
  src/content/app/species/sample-data.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Replace homology help text
  src/content/app/species/state/general/speciesGeneralHelper.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Create new variants for Input component
  src/content/app/genome-browser/components/browser-sidebar-modal/modal-views/navigate-modal/LocationNavigation.tsx
  src/content/app/genome-browser/components/browser-sidebar-modal/modal-views/navigate-modal/RegionNavigation.tsx
  src/shared/components/autosuggest-search-field/AutosuggestSearchField.tsx
  src/shared/components/in-app-search/InAppSearch.tsx
  src/shared/components/input/FlatInput.test.tsx
  src/shared/components/input/FlatInput.tsx
  src/shared/components/input/Input.scss
  src/shared/components/input/Input.test.tsx
  src/shared/components/input/Input.tsx
  src/shared/components/search-field/SearchField.tsx
  stories/shared-components/input/Input.stories.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Fix default input styling
  src/shared/components/input/Input.scss
Due: prettier --write, stylelint

Update species stats for 108 release (#961)
  src/content/app/species/sample-data.ts
  src/content/app/species/state/general/speciesGeneralHelper.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Added variant information in the sidebar; starting the drawer
  src/content/app/genome-browser/components/drawer/Drawer.tsx
  src/content/app/genome-browser/components/drawer/drawer-views/variant-summary/VariantSummary.scss
  src/content/app/genome-browser/components/drawer/drawer-views/variant-summary/VariantSummary.tsx
  src/content/app/genome-browser/components/drawer/drawer-views/variant-summary/variant-alleles-sequences/VariantAllelesSequences.tsx
  src/content/app/genome-browser/components/drawer/drawer-views/variant-summary/variant-consequence/VariantConsequence.scss
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/TrackPanelList.tsx
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/track-panel-items/TrackPanelVariant.tsx
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/track-panel-items/track-panel-variant/TrackPanelVariant.scss
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/track-panel-items/track-panel-variant/TrackPanelVariant.tsx
  src/content/app/genome-browser/state/drawer/types.ts
  src/shared/helpers/formatters/regionFormatter.ts
  tests/fixtures/variation/variant.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Add Attributes section to EV sidebar (#960)
  src/content/app/entity-viewer/gene-view/components/gene-view-sidebar/overview/GeneOverview.scss
  src/content/app/entity-viewer/gene-view/components/gene-view-sidebar/overview/GeneOverview.test.tsx
  src/content/app/entity-viewer/gene-view/components/gene-view-sidebar/overview/GeneOverview.tsx
  src/content/app/entity-viewer/state/api/queries/geneOverviewQuery.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Update variant details
  src/content/app/genome-browser/components/drawer/drawer-views/variant-summary/VariantSummary.scss
  src/content/app/genome-browser/components/drawer/drawer-views/variant-summary/VariantSummary.tsx
  src/content/app/genome-browser/components/drawer/drawer-views/variant-summary/variant-consequence/VariantConsequence.tsx
  src/content/app/genome-browser/components/drawer/drawer-views/variant-summary/variant-location/VariantLocation.tsx
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/track-panel-items/track-panel-variant/TrackPanelVariant.tsx
  src/content/app/genome-browser/state/api/genomeBrowserApiSlice.ts
  src/shared/types/thoas/metadata.ts
  src/shared/types/variation-api/variantAllele.ts
  tests/fixtures/variation/variant.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Update variant summary
  src/content/app/genome-browser/components/drawer/drawer-views/variant-summary/VariantSummary.tsx
  src/content/app/genome-browser/components/drawer/drawer-views/variant-summary/variant-vcf/VariantVCF.tsx
  src/shared/types/variation-api/variant.ts
  tests/fixtures/variation/variant.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Move looping logic into own file
  src/content/app/genome-browser/components/drawer/drawer-views/variant-summary/VariantSummary.tsx
  src/content/app/genome-browser/components/drawer/drawer-views/variant-summary/prepareVariantSummaryData.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Add a Copy button for the VCF string
  src/content/app/genome-browser/components/drawer/drawer-views/variant-summary/VariantSummary.tsx
  src/content/app/genome-browser/components/drawer/drawer-views/variant-summary/variant-vcf/VariantVCF.tsx
  src/shared/components/copy/Copy.scss
  src/shared/components/copy/Copy.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Update styles
  src/content/app/genome-browser/components/drawer/drawer-views/variant-summary/VariantSummary.scss
  src/content/app/genome-browser/components/drawer/drawer-views/variant-summary/VariantSummary.tsx
  src/shared/components/copy/Copy.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Update CSS rule
  src/content/app/genome-browser/components/drawer/drawer-views/variant-summary/VariantSummary.scss
Due: prettier --write, stylelint

PR suggestions
  src/content/app/species-selector/components/species-search-field/SpeciesSearchField.scss
  src/content/app/species-selector/components/species-search-field/SpeciesSearchField.tsx
  src/shared/components/autosuggest-search-field/AutosuggestSearchField.tsx
  src/shared/components/input/FlatInput.test.tsx
  src/shared/components/input/Input.scss
  src/shared/components/input/ShadedInput.test.tsx
  src/shared/components/question-button/QuestionButton.scss
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Add variant summary strip to genome browser
  src/content/app/genome-browser/components/drawer/drawer-views/variant-summary/variant-consequence/VariantConsequence.tsx
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/track-panel-items/track-panel-variant/TrackPanelVariant.tsx
  src/content/app/genome-browser/state/api/genomeBrowserApiSlice.ts
  src/content/app/genome-browser/state/browser-general/browserGeneralSelectors.ts
  src/content/app/genome-browser/state/focus-object/focusObjectSlice.ts
  src/shared/components/feature-summary-strip/FeatureSummaryStrip.tsx
  src/shared/components/feature-summary-strip/VariantSummaryStrip.tsx
  src/shared/components/feature-summary-strip/index.ts
  src/shared/types/focus-object/focusObjectTypes.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

PR suggestions
  src/content/app/genome-browser/components/drawer/drawer-views/variant-summary/variant-consequence/VariantConsequence.tsx
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/track-panel-items/track-panel-variant/TrackPanelVariant.tsx
  src/content/app/genome-browser/state/focus-object/focusObjectSlice.ts
  src/shared/components/feature-summary-strip/VariantSummaryStrip.tsx
  src/shared/types/focus-object/focusObjectTypes.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Revert some changes
  src/content/app/genome-browser/state/api/genomeBrowserApiSlice.ts
  src/content/app/genome-browser/state/browser-general/browserGeneralSelectors.ts
  src/content/app/genome-browser/state/focus-object/focusObjectSlice.ts
  src/shared/components/feature-summary-strip/VariantSummaryStrip.tsx
  src/shared/types/focus-object/focusObjectTypes.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Change VariantConsequence prop withColour to withoutColour
  src/content/app/genome-browser/components/drawer/drawer-views/variant-summary/variant-consequence/VariantConsequence.tsx
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/track-panel-items/track-panel-variant/TrackPanelVariant.tsx
  src/shared/components/feature-summary-strip/VariantSummaryStrip.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Use mode to determine size of input in InAppSearch
  src/content/app/entity-viewer/interstitial/EntityViewerInterstitial.tsx
  src/content/app/genome-browser/components/interstitial/BrowserInterstitial.tsx
  src/shared/components/in-app-search/InAppSearch.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Change back to withColour
  src/content/app/genome-browser/components/drawer/drawer-views/variant-summary/variant-consequence/VariantConsequence.tsx
  src/shared/components/feature-summary-strip/VariantSummaryStrip.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Suggestions for icons in inputs
  src/shared/components/close-button/CloseButton.scss
  src/shared/components/input/FlatInput.tsx
  src/shared/components/input/Input.scss
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Make 30px default size for input box
  src/shared/components/input/Input.scss
Due: prettier --write, stylelint

Use destructured values
  src/shared/state/api-slices/graphqlApiSlice.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Add clinical significance
  src/content/app/genome-browser/components/drawer/drawer-views/variant-summary/VariantSummary.scss
  src/content/app/genome-browser/components/drawer/drawer-views/variant-summary/VariantSummary.tsx
  src/content/app/genome-browser/components/drawer/drawer-views/variant-summary/prepareVariantSummaryData.ts
  src/shared/types/variation-api/variantAllelePhenotypeAssertion.ts
  tests/fixtures/variation/variant.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Remove an unnecessary useEffect
  src/content/app/genome-browser/hooks/useFocusTrack.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Add space within the VCF string
  src/content/app/genome-browser/components/drawer/drawer-views/variant-summary/VariantSummary.tsx
  src/content/app/genome-browser/components/drawer/drawer-views/variant-summary/variant-vcf/VariantVCF.scss
  src/content/app/genome-browser/components/drawer/drawer-views/variant-summary/variant-vcf/VariantVCF.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Change the padding of flat and small inputs
  src/shared/components/input/Input.scss
Due: prettier --write, stylelint

Remove variant type placeholder; global -> is_global; add space in a string
  src/content/app/genome-browser/components/drawer/drawer-views/variant-summary/VariantSummary.tsx
  src/shared/types/variation-api/variantStudyPopulation.ts
  tests/fixtures/variation/variant.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Moved variantGroups into genome browser's constants directory
  src/content/app/genome-browser/components/drawer/components/variant-colour/VariantColour.tsx
  src/content/app/genome-browser/components/drawer/drawer-views/variant-group-legend/VariantGroupLegend.tsx
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/track-panel-items/TrackPanelVariantGroupLegend.tsx
  src/content/app/genome-browser/constants/variantGroups.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Add focus variant details to the genome browser navigation bar (#963)
  src/content/app/genome-browser/components/drawer/drawer-views/variant-summary/variant-consequence/VariantConsequence.tsx
  src/content/app/genome-browser/state/browser-general/browserGeneralSelectors.ts
  src/content/app/genome-browser/state/focus-object/focusObjectSlice.ts
  src/shared/components/feature-summary-strip/FeatureSummaryStrip.tsx
  src/shared/components/feature-summary-strip/VariantSummaryStrip.tsx
  src/shared/components/feature-summary-strip/index.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Remove centromeres data
  src/content/app/genome-browser/components/chromosome-navigator/ChromosomeNavigator.tsx
  src/shared/data/centromeres.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Remove @types/react-router-hash-link and update Storybook
  package-lock.json
  package.json
Due: none

Remove redundant inputWrapper CSS class
  src/shared/components/input/FlatInput.tsx
  src/shared/components/input/Input.scss
  src/shared/components/input/ShadedInput.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Update more dependencies
  package-lock.json
  package.json
Due: none

Rebuild package-lock to update dependencies of dependencies
  package-lock.json
Due: none

Remove image-webpack-loader
  package-lock.json
  package.json
  webpack/client/production.ts
  webpack/server/production.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Cleanup
  src/shared/components/data-table/components/table-controls/components/table-actions/components/find-in-table/FindInTable.scss
  src/shared/components/input/Input.tsx
  src/shared/components/pagination/Pagination.scss
  src/shared/components/pagination/Pagination.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Path conditions:
  eslint --max-warnings=0: any of: *.{ts,tsx}
  manage-licence-header add: any of: *.{ts,tsx}
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.scss)
  stylelint: any of: *.scss
