Repository Ensembl/ensembl-client: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Use cleanup functions in callback refs
  src/shared/components/modal/Modal.tsx
  src/shared/components/upload/hooks/useFileDrop.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Minor updates to SubmitSlider styles and logic
  src/shared/components/communication-framework/contact-us/contact-us-form/submit-slider/SubmitSlider.module.css
  src/shared/components/communication-framework/contact-us/contact-us-form/submit-slider/SubmitSlider.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Further dependencies updates
  package-lock.json
  package.json
Due: none

Fix types for useFileDrop hook
  src/shared/components/upload/hooks/useFileDrop.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

React warns against empty string passed as src attribute of img element
  src/shared/components/image-button/ImageButton.test.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Typo
  .gitlab-ci.yml
Due: none

Fix problem due to input re-rendering
  src/shared/components/input/FlatInput.tsx
  src/shared/components/input/ShadedInput.tsx
  src/shared/components/input/useClearInput.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Move stage to jobs
  .gitlab-ci.yml
  gitlab-ci-templates/.setup-review-template.yaml
Due: none

Remove old rule
  .gitlab-ci.yml
Due: none

More updates of dependencies
  package-lock.json
  package.json
Due: none

Add SubmitSlider to Storybook
  stories/shared-components/submit-slider/SubmitSlider.stories.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Fix error in contact us form / useFileDrop hook
  src/shared/components/communication-framework/contact-us/contact-us-form/initial/ContactUsInitialForm.tsx
  src/shared/components/upload/hooks/useFileDrop.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Fix types
  src/shared/components/communication-framework/contact-us/contact-us-form/initial/ContactUsInitialForm.tsx
  src/shared/components/upload/hooks/useFileDrop.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

submiut job
  src/content/app/tools/biomart/biomart-form/BiomartForm.module.css
  src/content/app/tools/biomart/biomart-form/filters/panels/gene/BiomartGenePanel.tsx
  src/content/app/tools/biomart/biomart-form/filters/panels/gene/BiomartIdentifierFilter.tsx
  src/content/app/tools/biomart/biomart-form/filters/panels/region/BiomartCoordinatesFilter.tsx
  src/content/app/tools/biomart/biomart-jobs/BiomartJobs.tsx
  src/content/app/tools/biomart/biomart-preview-run/BiomartPreviewRun.tsx
  src/content/app/tools/biomart/biomart-settings/BiomartSettings.tsx
  src/content/app/tools/biomart/state/biomartApiSlice.ts
  src/content/app/tools/biomart/state/biomartSelectors.ts
  src/content/app/tools/biomart/state/biomartSlice.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Further updates of dependencies
  package-lock.json
  package.json
Due: none

Fix a callback ref: return a cleanup function instead of calling it
  src/shared/components/communication-framework/contact-us/contact-us-form/initial/ContactUsInitialForm.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Minor dependencies' update
  package-lock.json
  package.json
Due: none

Fix screen flashing during route changes due to lazy loading of modules
  src/content/app/App.tsx
  src/content/home/HomePage.tsx
  src/index.tsx
  src/shared/hooks/useHasMounted.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Fix screen flashing during route changes due to lazy loading of modules (#1192)
  src/content/app/App.tsx
  src/content/home/HomePage.tsx
  src/index.tsx
  src/shared/hooks/useHasMounted.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Draw open chromatin signals
  src/content/app/regulatory-activity-viewer/RegulatoryActivityViewer.tsx
  src/content/app/regulatory-activity-viewer/components/epigenomes-activity/EpigenomesActivity.tsx
  src/content/app/regulatory-activity-viewer/components/epigenomes-activity/EpigenomesActivityImage.tsx
  src/content/app/regulatory-activity-viewer/components/epigenomes-activity/prepareActivityDataForDisplay.ts
  src/content/app/regulatory-activity-viewer/state/api/activityViewerApiSlice.ts
  src/content/app/regulatory-activity-viewer/types/epigenomeActivity.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Draw open chromatin peaks and histone narrow peaks
  src/content/app/regulatory-activity-viewer/components/epigenomes-activity/EpigenomesActivityImage.tsx
  src/content/app/regulatory-activity-viewer/components/epigenomes-activity/epigenomeActivityImageConstants.ts
  src/content/app/regulatory-activity-viewer/components/epigenomes-activity/prepareActivityDataForDisplay.ts
  src/content/app/regulatory-activity-viewer/types/epigenomeActivity.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Display gapped peaks
  src/content/app/regulatory-activity-viewer/components/epigenomes-activity/EpigenomesActivityImage.tsx
  src/content/app/regulatory-activity-viewer/components/epigenomes-activity/epigenomeActivityImageConstants.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Display epigenomes activity in the middle column
  src/content/app/regulatory-activity-viewer/RegulatoryActivityViewer.tsx
  src/content/app/regulatory-activity-viewer/components/epigenomes-activity/EpigenomesActivity.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Add useTransition to the EpigenomesActivity component
  src/content/app/regulatory-activity-viewer/components/epigenomes-activity/EpigenomesActivity.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Combine region details data and epigenomes activity data in a single hook useRegionActivityData
  src/content/app/regulatory-activity-viewer/RegulatoryActivityViewer.tsx
  src/content/app/regulatory-activity-viewer/components/epigenomes-activity/EpigenomesActivityImage.tsx
  src/content/app/regulatory-activity-viewer/components/epigenomes-activity/prepareActivityDataForDisplay.ts
  src/content/app/regulatory-activity-viewer/components/region-activity-section/RegionActivitySection.module.css
  src/content/app/regulatory-activity-viewer/components/region-activity-section/RegionActivitySection.tsx
  src/content/app/regulatory-activity-viewer/components/region-activity-section/useRegionActivityData.ts
  src/content/app/regulatory-activity-viewer/state/api/activityViewerApiSlice.ts
  src/content/app/regulatory-activity-viewer/types/regionOverview.ts
  tests/fixtures/activity-viewer/mockRegionOverviewDense.ts
  tests/fixtures/activity-viewer/mockRegionOverviewSparse.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Update cleanup job (#1191)
  .gitlab-ci.yml
  gitlab-ci-templates/.setup-review-template.yaml
Due: none

Use species selector icon in species manager's table of selected genomes
  src/content/app/species-selector/views/species-manager/selected-genomes-table/SelectedGenomesTable.module.css
  src/content/app/species-selector/views/species-manager/selected-genomes-table/SelectedGenomesTable.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Update VEP launchbar icon. Provisional; broken; will need new icon from Andrea
  static/icons/icon_launchbar_vep.svg
Due: none

Update constants
  src/content/app/regulatory-activity-viewer/components/epigenomes-activity/EpigenomesActivityImage.tsx
  src/content/app/regulatory-activity-viewer/components/epigenomes-activity/epigenomeActivityImageConstants.ts
  src/content/app/regulatory-activity-viewer/components/epigenomes-activity/prepareActivityDataForDisplay.ts
  src/shared/components/loader/CircleLoader.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Add new VEP icon
  src/shared/components/app-icon/AppIcon.module.css
  static/icons/icon_launchbar_vep.svg
Due: stylelint

Add VerticallyCenteredCellContent component
  src/content/app/species-selector/views/species-manager/selected-genomes-table/SelectedGenomesTable.module.css
  src/content/app/species-selector/views/species-manager/selected-genomes-table/SelectedGenomesTable.tsx
  src/shared/components/table/VerticallyCenteredCellContent.module.css
  src/shared/components/table/VerticallyCenteredCellContent.tsx
  src/shared/components/table/index.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Add app bar with selected species to the regulatory activity viewer
  src/content/app/regulatory-activity-viewer/RegulatoryActivityViewer.module.css
  src/content/app/regulatory-activity-viewer/RegulatoryActivityViewer.tsx
  src/content/app/regulatory-activity-viewer/components/activity-viewer-app-bar/ActivityViewerAppBar.tsx
  src/global/globalConfig.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

filters reset fix
  src/content/app/tools/biomart/state/biomartSlice.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update icons and add component for vertical alignment of table cell content (#1193)
  src/content/app/species-selector/views/species-manager/selected-genomes-table/SelectedGenomesTable.module.css
  src/content/app/species-selector/views/species-manager/selected-genomes-table/SelectedGenomesTable.tsx
  src/shared/components/app-icon/AppIcon.module.css
  src/shared/components/table/VerticallyCenteredCellContent.module.css
  src/shared/components/table/VerticallyCenteredCellContent.tsx
  src/shared/components/table/index.ts
  static/icons/icon_launchbar_vep.svg
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Fetch region overview data from the api
  config.ts
  src/content/app/regulatory-activity-viewer/RegulatoryActivityViewer.tsx
  src/content/app/regulatory-activity-viewer/components/activity-viewer-sidebar/sidebar-default-view/SidebarDefaultView.tsx
  src/content/app/regulatory-activity-viewer/components/region-activity-section/RegionActivitySection.tsx
  src/content/app/regulatory-activity-viewer/components/region-activity-section/useRegionActivityData.ts
  src/content/app/regulatory-activity-viewer/components/region-overview/RegionOverview.tsx
  src/content/app/regulatory-activity-viewer/contexts/ActivityViewerIdContext.ts
  src/content/app/regulatory-activity-viewer/contexts/ActivityViewerIdContextProvider.tsx
  src/content/app/regulatory-activity-viewer/hooks/useActivityViewerIds.ts
  src/content/app/regulatory-activity-viewer/hooks/useActivityViewerRouting.ts
  src/content/app/regulatory-activity-viewer/state/api/activityViewerApiSlice.ts
  src/content/app/regulatory-activity-viewer/state/general/generalSlice.ts
  src/server/helpers/getConfigForClient.ts
  src/server/middleware/proxyMiddleware.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Use url with hostname for regulation apis
  config.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Fetch base epigenomes and epigenome metadata dimensions from api
  src/content/app/regulatory-activity-viewer/components/activity-viewer-sidebar/epigenome-filters-view/EpigenomeFiltersView.tsx
  src/content/app/regulatory-activity-viewer/components/epigenome-selection-panel/EpigenomeSelectionPanel.tsx
  src/content/app/regulatory-activity-viewer/components/selected-epigenomes/SelectedEpigenomes.tsx
  src/content/app/regulatory-activity-viewer/hooks/useEpigenomesData.ts
  src/content/app/regulatory-activity-viewer/hooks/usePreselectedEpigenomes.ts
  src/content/app/regulatory-activity-viewer/state/api/activityViewerApiSlice.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Fix types; remove older mocks
  src/content/app/regulatory-activity-viewer/components/epigenome-selection-panel/epigenome-metadata-dimension-panel/EpigenomeMetadataDimensionPanel.tsx
  src/content/app/regulatory-activity-viewer/components/epigenome-selection-panel/getEpigenomeCounts.ts
  src/content/app/regulatory-activity-viewer/types/epigenomeMetadataDimensions.ts
  tests/fixtures/activity-viewer/epigenomes-metadata/mockHumanBaseEpigenomes.ts
  tests/fixtures/activity-viewer/epigenomes-metadata/mockHumanEpigenomeMetadataDimensions.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Path conditions:
  eslint --max-warnings=0: any of: *.{ts,tsx}
  manage-licence-header add: any of: *.{ts,tsx}
  prettier --write: any of: *.{ts,tsx}
  stylelint: any of: *.css
