Repository Ensembl/ensembl-client: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Fix Browser tests
  src/content/app/genome-browser/Browser.test.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Fix tests for ZmenuContent
  src/content/app/genome-browser/components/zmenu/ZmenuContent.test.tsx
  src/content/app/genome-browser/components/zmenu/ZmenuContent.tsx
  src/content/app/genome-browser/hooks/useGenomeBrowser.ts
  tests/components/LocationDisplay.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Make sure genomeBrowser is defined
  src/content/app/genome-browser/hooks/useFocusTrack.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Skip call to setting focus gene if focus object id is an empty string
  src/content/app/genome-browser/hooks/useFocusTrack.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update ui state
  src/content/app/tools/blast/components/listed-blast-submission/ListedBlastSubmission.test.tsx
  src/content/app/tools/blast/components/listed-blast-submission/ListedBlastSubmission.tsx
  src/content/app/tools/blast/state/blast-results/blastResultsSelectors.ts
  src/content/app/tools/blast/state/blast-results/blastResultsSlice.ts
  tests/fixtures/blast/blastSubmission.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Move onclick to wrapper
  src/shared/components/show-hide/ShowHide.scss
  src/shared/components/show-hide/ShowHide.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Use the updated version of ensembl-genome-browser
  package-lock.json
Due: none

Handle toggling between visible and invisible gene and transcripts
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/track-panel-items/TrackPanelGene.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Fix error re track status
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/track-panel-items/TrackPanelGene.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update eye behaviour for gene
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/track-panel-items/TrackPanelGene.tsx
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/track-panel-items/track-panel-item-layout/SimpleTrackPanelItemLayout.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Include the 'matchDescendantPaths' prop
  src/shared/components/button-link/ButtonLink.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update ensembl-genome-browser to 0.4.3
  package-lock.json
  package.json
Due: none

move track settings radio buttons into individul components (#777)
  src/content/app/genome-browser/components/browser-cog/BrowserCog.test.tsx
  src/content/app/genome-browser/components/browser-cog/BrowserCog.tsx
  src/content/app/genome-browser/components/browser-cog/BrowserCogList.test.tsx
  src/content/app/genome-browser/components/browser-cog/BrowserCogList.tsx
  src/content/app/genome-browser/components/browser-cog/useBrowserCogList.ts
  src/content/app/genome-browser/components/browser-track-config/BrowserTrackConfig.tsx
  src/content/app/genome-browser/components/browser-track-config/track-config-views/GeneTrackConfig.tsx
  src/content/app/genome-browser/components/browser-track-config/track-config-views/RegularTrackConfig.tsx
  src/content/app/genome-browser/components/browser-track-config/track-config-views/TranscriptTrackConfig.tsx
  src/content/app/genome-browser/components/track-panel/TrackPanel.test.tsx
  src/content/app/genome-browser/components/track-panel/TrackPanel.tsx
  src/content/app/genome-browser/components/track-settings-panel/TrackSettingsPanel.scss
  src/content/app/genome-browser/components/track-settings-panel/TrackSettingsPanel.test.tsx
  src/content/app/genome-browser/components/track-settings-panel/TrackSettingsPanel.tsx
  src/content/app/genome-browser/components/track-settings-panel/services/trackSettingsStorageService.ts
  src/content/app/genome-browser/components/track-settings-panel/track-settings-views/GeneTrackSettings.tsx
  src/content/app/genome-browser/components/track-settings-panel/track-settings-views/RegularTrackSettings.tsx
  src/content/app/genome-browser/components/track-settings-panel/track-settings-views/components/global-track-switch/GlobalTrackSwitch.tsx
  src/content/app/genome-browser/components/track-settings-panel/useTrackSettings.ts
  src/content/app/genome-browser/hooks/useGenomeBrowser.ts
  src/content/app/genome-browser/state/browser-general/browserGeneralSlice.ts
  src/content/app/genome-browser/state/genomeBrowserReducer.ts
  src/content/app/genome-browser/state/track-settings/trackSettingsSelectors.ts
  src/content/app/genome-browser/state/track-settings/trackSettingsSlice.ts
  tests/fixtures/browser.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Update behaviour for gene eye click
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/track-panel-items/TrackPanelGene.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update display and cursor styles
  src/shared/components/show-hide/ShowHide.scss
Due: prettier --write, stylelint

Make sure the ShowHide component does not stretch in TranscriptListItemInfo
  src/content/app/entity-viewer/gene-view/components/default-transcripts-list/transcripts-list-item-info/TranscriptsListItemInfo.scss
Due: prettier --write, stylelint

Make sure ButtonLink component matches the url precisely (#783)
  src/content/app/tools/blast/BlastPage.tsx
  src/shared/components/button-link/ButtonLink.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update show hide (#787)
  src/content/app/entity-viewer/gene-view/GeneView.scss
  src/content/app/entity-viewer/gene-view/GeneView.tsx
  src/content/app/entity-viewer/gene-view/components/default-transcripts-list/transcripts-list-item-info/TranscriptsListItemInfo.scss
  src/content/app/entity-viewer/gene-view/components/default-transcripts-list/transcripts-list-item-info/TranscriptsListItemInfo.tsx
  src/content/app/entity-viewer/gene-view/components/gene-view-sidebar/external-references/GeneExternalReferences.scss
  src/content/app/entity-viewer/gene-view/components/gene-view-sidebar/external-references/GeneExternalReferences.tsx
  src/content/app/genome-browser/components/drawer/components/sequence-view/DrawerSequenceView.tsx
  src/content/app/help/components/help-landing/HelpLanding.scss
  src/content/app/help/components/help-landing/HelpLanding.tsx
  src/shared/components/chevron/Chevron.scss
  src/shared/components/show-hide/ShowHide.scss
  src/shared/components/show-hide/ShowHide.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Update the Chevron component
  src/content/app/entity-viewer/gene-view/components/proteins-list/proteins-list-item-info/ProteinsListItemInfo.tsx
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/track-panel-items/track-panel-item-layout/GroupTrackPanelItemLayout.tsx
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/track-panel-items/track-panel-item-layout/TrackPanelItemLayout.scss
  src/content/app/help/components/help-menu/HelpMenu.scss
  src/content/app/help/components/help-menu/HelpMenu.tsx
  src/shared/components/app-bar/AppBar.scss
  src/shared/components/app-bar/AppBar.tsx
  src/shared/components/chevron/Chevron.scss
  src/shared/components/chevron/Chevron.test.tsx
  src/shared/components/chevron/Chevron.tsx
  src/shared/components/communication-framework/contact-us/contact-us-form/submit-slider/SubmitSlider.scss
  src/shared/components/communication-framework/contact-us/contact-us-form/submit-slider/SubmitSlider.tsx
  src/shared/components/expandable-section/ExpandableSection.scss
  src/shared/components/expandable-section/ExpandableSection.tsx
  src/shared/components/show-hide/ShowHide.scss
  src/shared/components/show-hide/ShowHide.tsx
  stories/shared-components/chevron/Chevron.stories.scss
  stories/shared-components/chevron/Chevron.stories.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Update the Chevron component (#788)
  src/content/app/entity-viewer/gene-view/components/proteins-list/proteins-list-item-info/ProteinsListItemInfo.tsx
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/track-panel-items/track-panel-item-layout/GroupTrackPanelItemLayout.tsx
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/track-panel-items/track-panel-item-layout/TrackPanelItemLayout.scss
  src/content/app/help/components/help-menu/HelpMenu.scss
  src/content/app/help/components/help-menu/HelpMenu.tsx
  src/shared/components/app-bar/AppBar.scss
  src/shared/components/app-bar/AppBar.tsx
  src/shared/components/chevron/Chevron.scss
  src/shared/components/chevron/Chevron.test.tsx
  src/shared/components/chevron/Chevron.tsx
  src/shared/components/communication-framework/contact-us/contact-us-form/submit-slider/SubmitSlider.scss
  src/shared/components/communication-framework/contact-us/contact-us-form/submit-slider/SubmitSlider.tsx
  src/shared/components/expandable-section/ExpandableSection.scss
  src/shared/components/expandable-section/ExpandableSection.tsx
  src/shared/components/show-hide/ShowHide.scss
  src/shared/components/show-hide/ShowHide.tsx
  stories/shared-components/chevron/Chevron.stories.scss
  stories/shared-components/chevron/Chevron.stories.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Make sure at least one transcript is shown when re-focussing on a gene
  src/content/app/genome-browser/hooks/useFocusTrack.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update show hide usage
  src/content/app/tools/blast/components/listed-blast-submission/ListedBlastSubmission.scss
  src/content/app/tools/blast/components/listed-blast-submission/ListedBlastSubmission.tsx
  src/shared/components/show-hide/ShowHide.scss
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Import reorder
  src/content/app/tools/blast/components/listed-blast-submission/ListedBlastSubmission.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

make the state update a bit more robust by only updating state when sequences change
  src/content/app/tools/blast/components/blast-input-sequences/BlastInputSequences.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Species home page UI improvement
  src/content/app/species/SpeciesPage.scss
  src/content/app/species/SpeciesPageContent.tsx
  src/content/app/species/components/species-title-area/SpeciesTitleArea.scss
  src/content/app/species/components/species-title-area/species-remove/SpeciesRemove.scss
  src/content/app/species/components/species-title-area/species-remove/SpeciesRemove.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Add scrollbar gutter
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/TrackPanelList.scss
  src/shared/components/layout/StandardAppLayout.scss
Due: prettier --write, stylelint

Update types for genomic track
  src/content/app/genome-browser/components/browser-cog/useBrowserCogList.ts
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/TrackPanelList.tsx
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/track-panel-items/TrackPanelRegularItem.tsx
  src/content/app/genome-browser/state/api/genomeBrowserApiSlice.ts
  src/content/app/genome-browser/state/types/tracks.ts
  src/server/middleware/proxyMiddleware.ts
  tests/fixtures/genomes.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Remove FocusObjectTrack type
  src/shared/types/focus-object/focusObjectTypes.ts
  tests/fixtures/track-panel.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Remove cogs position from redux
  src/content/app/genome-browser/components/browser-cog/BrowserCogList.test.tsx
  src/content/app/genome-browser/components/browser-cog/BrowserCogList.tsx
  src/content/app/genome-browser/components/browser-cog/useBrowserCogList.ts
  src/content/app/genome-browser/components/track-settings-panel/TrackSettingsPanel.test.tsx
  src/content/app/genome-browser/components/track-settings-panel/useTrackSettings.ts
  src/content/app/genome-browser/state/track-settings/trackSettingsSelectors.ts
  src/content/app/genome-browser/state/track-settings/trackSettingsSlice.ts
  tests/fixtures/browser.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Remove the code removing the 'track:' prefix
  src/content/app/genome-browser/components/drawer/sampleData.ts
  src/content/app/genome-browser/hooks/useGenomeBrowser.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Undo dev changes to proxy middleware
  src/server/middleware/proxyMiddleware.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Remove the 'track:' prefix from track ids (#785)
  src/content/app/genome-browser/components/browser-cog/useBrowserCogList.ts
  src/content/app/genome-browser/components/drawer/sampleData.ts
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/TrackPanelList.tsx
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/track-panel-items/TrackPanelRegularItem.tsx
  src/content/app/genome-browser/hooks/useGenomeBrowser.ts
  src/content/app/genome-browser/state/api/genomeBrowserApiSlice.ts
  src/content/app/genome-browser/state/types/tracks.ts
  src/shared/types/focus-object/focusObjectTypes.ts
  tests/fixtures/genomes.ts
  tests/fixtures/track-panel.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Move the code that plucks stable ids from transcripts into a function
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/track-panel-items/TrackPanelGene.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Prevent sidebar loader scrollbar
  src/shared/components/loader/SidebarLoader.scss
Due: prettier --write, stylelint

PR review cleanups
  src/content/app/tools/blast/components/listed-blast-submission/ListedBlastSubmission.scss
  src/content/app/tools/blast/components/listed-blast-submission/ListedBlastSubmission.test.tsx
  src/content/app/tools/blast/state/blast-results/blastResultsSlice.ts
  src/shared/components/show-hide/ShowHide.scss
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Update useBrowserCogList.ts
  src/content/app/genome-browser/components/browser-cog/useBrowserCogList.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update ensembl-genome-browser to 0.4.3 (#782)
  package-lock.json
  package.json
  src/content/app/genome-browser/Browser.test.tsx
  src/content/app/genome-browser/Browser.tsx
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/track-panel-items/TrackPanelGene.tsx
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/track-panel-items/TrackPanelTranscript.tsx
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/track-panel-items/track-panel-item-layout/SimpleTrackPanelItemLayout.tsx
  src/content/app/genome-browser/components/zmenu/ZmenuContent.test.tsx
  src/content/app/genome-browser/components/zmenu/ZmenuContent.tsx
  src/content/app/genome-browser/hooks/useFocusTrack.ts
  src/content/app/genome-browser/hooks/useGenomeBrowser.ts
  src/content/app/genome-browser/state/browser-general/browserGeneralSelectors.ts
  src/shared/components/in-app-search/InAppSearchMatches.tsx
  src/shared/helpers/focusObjectHelpers.ts
  tests/components/LocationDisplay.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

PR feedback
  src/content/app/species/SpeciesPage.scss
  src/content/app/species/SpeciesPageContent.tsx
  src/content/app/species/components/species-main-view/SpeciesMainView.scss
  src/content/app/species/components/species-main-view/SpeciesMainView.tsx
  src/content/app/species/components/species-title-area/SpeciesTitleArea.scss
  src/content/app/species/components/species-title-area/species-remove/SpeciesRemove.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Don't set zmenu if there is no transcript
  src/content/app/genome-browser/components/zmenu/ZmenuController.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

update remove species button in test
  src/content/app/species/components/species-title-area/species-remove/SpeciesRemove.test.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Path conditions:
  eslint --max-warnings=0: any of: *.{ts,tsx}
  manage-licence-header add: any of: *.{ts,tsx}
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.scss)
  stylelint: any of: *.scss
