Repository Ensembl/ensembl-client: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

.lintstagedrc.json:

{
  "*.{ts,tsx}": [
    "eslint --max-warnings=0",
    "manage-licence-header add",
    "prettier --write"
  ],
  "*.css": [
    "stylelint"
  ]
}

Activity viewer metadata sort (#1200)
  src/content/app/regulatory-activity-viewer/components/activity-viewer-actions-selector/ActivityViewerActionsSelector.module.css
  src/content/app/regulatory-activity-viewer/components/activity-viewer-actions-selector/ActivityViewerActionsSelector.tsx
  src/content/app/regulatory-activity-viewer/components/epigenomes-activity/prepareActivityDataForDisplay.ts
  src/content/app/regulatory-activity-viewer/components/main-content-bottom-view-controls/MainContentBottomViewControls.tsx
  src/content/app/regulatory-activity-viewer/components/region-activity-section/RegionActivitySection.tsx
  src/content/app/regulatory-activity-viewer/components/region-activity-section/useRegionActivityData.ts
  src/content/app/regulatory-activity-viewer/components/region-overview/region-overview-image/region-overview-location-selector/RegionOverviewLocationSelector.tsx
  src/content/app/regulatory-activity-viewer/components/selected-epigenomes/SelectedEpigenomes.tsx
  src/content/app/regulatory-activity-viewer/components/selected-epigenomes/epigenomes-sorter/EpigenomeLabels.module.css
  src/content/app/regulatory-activity-viewer/components/selected-epigenomes/epigenomes-sorter/EpigenomeLabels.tsx
  src/content/app/regulatory-activity-viewer/components/selected-epigenomes/epigenomes-sorter/sortEpigenomes.ts
  src/content/app/regulatory-activity-viewer/contexts/ActivityViewerEpigenomesContext.ts
  src/content/app/regulatory-activity-viewer/contexts/ActivityViewerEpigenomesContextProvider.tsx
  src/content/app/regulatory-activity-viewer/contexts/ActivityViewerIdContextProvider.tsx
  src/content/app/regulatory-activity-viewer/state/epigenome-selection/epigenomeSelectionSelectors.ts
  src/content/app/regulatory-activity-viewer/state/epigenome-selection/epigenomeSelectionSlice.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Start adding an interstitial screen for regulatory activity viewer
  src/content/app/regulatory-activity-viewer/RegulatoryActivityViewer.tsx
  src/content/app/regulatory-activity-viewer/components/activity-viewer-interstitial/ActivityViewerInterstitial.module.css
  src/content/app/regulatory-activity-viewer/components/activity-viewer-interstitial/ActivityViewerInterstitial.tsx
  src/content/app/regulatory-activity-viewer/contexts/ActivityViewerIdContext.ts
  src/content/app/regulatory-activity-viewer/contexts/ActivityViewerIdContextProvider.tsx
  src/content/app/regulatory-activity-viewer/hooks/useActivityViewerRouting.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Slightly update the interstitial screen for regulatory activity viewer
  src/content/app/regulatory-activity-viewer/components/activity-viewer-interstitial/ActivityViewerInterstitial.module.css
  src/content/app/regulatory-activity-viewer/components/activity-viewer-interstitial/ActivityViewerInterstitial.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Some refactoring
  src/content/app/regulatory-activity-viewer/components/activity-viewer-interstitial/ActivityViewerInterstitial.tsx
  src/content/app/regulatory-activity-viewer/contexts/ActivityViewerIdContext.ts
  src/content/app/regulatory-activity-viewer/contexts/ActivityViewerIdContextProvider.tsx
  src/content/app/regulatory-activity-viewer/hooks/useActivityViewerRouting.ts
  src/content/app/regulatory-activity-viewer/state/api/activityViewerApiSlice.ts
  src/shared/helpers/genomicLocationHelpers.test.ts
  src/shared/helpers/genomicLocationHelpers.ts
  src/shared/helpers/urlHelper.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Change buttons text; add configure button to sidebar
  src/content/app/regulatory-activity-viewer/components/activity-viewer-sidebar/epigenome-filters-view/EpigenomeFiltersView.module.css
  src/content/app/regulatory-activity-viewer/components/activity-viewer-sidebar/epigenome-filters-view/EpigenomeFiltersView.tsx
  src/content/app/regulatory-activity-viewer/components/main-content-bottom-view-controls/MainContentBottomViewControls.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Switch to data visualisation view if user interacts with region location selector
  src/content/app/regulatory-activity-viewer/components/region-overview/region-overview-image/region-overview-location-selector/RegionOverviewLocationSelector.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Read the `location` url parameter to display regulatory activity data (#1201)
  src/content/app/regulatory-activity-viewer/RegulatoryActivityViewer.tsx
  src/content/app/regulatory-activity-viewer/components/activity-viewer-interstitial/ActivityViewerInterstitial.module.css
  src/content/app/regulatory-activity-viewer/components/activity-viewer-interstitial/ActivityViewerInterstitial.tsx
  src/content/app/regulatory-activity-viewer/components/activity-viewer-sidebar/epigenome-filters-view/EpigenomeFiltersView.module.css
  src/content/app/regulatory-activity-viewer/components/activity-viewer-sidebar/epigenome-filters-view/EpigenomeFiltersView.tsx
  src/content/app/regulatory-activity-viewer/components/main-content-bottom-view-controls/MainContentBottomViewControls.tsx
  src/content/app/regulatory-activity-viewer/components/region-overview/region-overview-image/region-overview-location-selector/RegionOverviewLocationSelector.tsx
  src/content/app/regulatory-activity-viewer/contexts/ActivityViewerIdContext.ts
  src/content/app/regulatory-activity-viewer/contexts/ActivityViewerIdContextProvider.tsx
  src/content/app/regulatory-activity-viewer/state/api/activityViewerApiSlice.ts
  src/shared/helpers/genomicLocationHelpers.test.ts
  src/shared/helpers/genomicLocationHelpers.ts
  src/shared/helpers/urlHelper.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Update dependencies
  package-lock.json
  package.json
  src/content/app/entity-viewer/gene-view/components/proteins-list/proteins-list-item/ProteinsListItem.module.css
  src/content/app/genome-browser/components/zmenu/Zmenu.module.css
Due: stylelint

Add 'genome' section to url path for regulatory activity viewer
  src/content/app/regulatory-activity-viewer/contexts/ActivityViewerIdContextProvider.tsx
  src/shared/helpers/urlHelper.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

When no filters are selected, page should show the full list of epigenomes
  src/content/app/regulatory-activity-viewer/helpers/filter-epigenomes/filterEpigenomes.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Pressing on the Configure button should change sidebar contents
  src/content/app/regulatory-activity-viewer/components/main-content-bottom-view-controls/MainContentBottomViewControls.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Add gene expression level indicators
  src/content/app/regulatory-activity-viewer/components/gene-expression-levels/GeneExpressionLevels.tsx
  src/content/app/regulatory-activity-viewer/components/gene-expression-levels/geneExpressionLevelConstants.ts
  src/content/app/regulatory-activity-viewer/components/region-activity-section/RegionActivitySection.module.css
  src/content/app/regulatory-activity-viewer/components/region-activity-section/RegionActivitySection.tsx
  src/content/app/regulatory-activity-viewer/components/selected-epigenomes/epigenomes-sorter/EpigenomeLabels.module.css
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Add a heading (in svg) for gene expression levels
  src/content/app/regulatory-activity-viewer/components/gene-expression-levels/GeneExpressionLevels.tsx
  src/content/app/regulatory-activity-viewer/components/region-activity-section/RegionActivitySection.module.css
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Add gene expression level indicators with mock data (#1202)
  src/content/app/regulatory-activity-viewer/components/gene-expression-levels/GeneExpressionLevels.tsx
  src/content/app/regulatory-activity-viewer/components/gene-expression-levels/geneExpressionLevelConstants.ts
  src/content/app/regulatory-activity-viewer/components/main-content-bottom-view-controls/MainContentBottomViewControls.tsx
  src/content/app/regulatory-activity-viewer/components/region-activity-section/RegionActivitySection.module.css
  src/content/app/regulatory-activity-viewer/components/region-activity-section/RegionActivitySection.tsx
  src/content/app/regulatory-activity-viewer/components/selected-epigenomes/epigenomes-sorter/EpigenomeLabels.module.css
  src/content/app/regulatory-activity-viewer/contexts/ActivityViewerIdContextProvider.tsx
  src/content/app/regulatory-activity-viewer/helpers/filter-epigenomes/filterEpigenomes.ts
  src/shared/helpers/urlHelper.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Show button linking to regulatory activity viewer from genome browser zmenu
  src/content/app/genome-browser/components/zmenu/ZmenuAppLinks.tsx
  src/content/app/genome-browser/components/zmenu/zmenus/GeneAndOneTranscriptZmenu.tsx
  src/shared/components/view-in-app/ViewInApp.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Fix types
  src/shared/components/in-app-search/InAppSearchMatches.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Correct conditional
  src/content/app/genome-browser/components/zmenu/ZmenuAppLinks.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Add navigation from genome browser to regulatory activity viewer (#1203)
  src/content/app/genome-browser/components/zmenu/ZmenuAppLinks.tsx
  src/content/app/genome-browser/components/zmenu/zmenus/GeneAndOneTranscriptZmenu.tsx
  src/shared/components/in-app-search/InAppSearchMatches.tsx
  src/shared/components/view-in-app/ViewInApp.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Temporarily disable everything other than region overview in regulatory activity viewer
  src/content/app/regulatory-activity-viewer/RegulatoryActivityViewer.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Add TranslateRegionOverviewContents component
  src/content/app/regulatory-activity-viewer/components/region-overview/region-overview-image/RegionOverviewImage.tsx
  src/content/app/regulatory-activity-viewer/components/region-overview/region-overview-image/TranslateRegionOverviewContents.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Add the region drag logic
  src/content/app/regulatory-activity-viewer/components/region-overview/RegionOverview.tsx
  src/content/app/regulatory-activity-viewer/components/region-overview/region-overview-image/RegionOverviewImage.tsx
  src/content/app/regulatory-activity-viewer/components/region-overview/region-overview-image/TranslateRegionOverviewContents.tsx
  src/content/app/regulatory-activity-viewer/components/region-overview/region-overview-image/region-overview-location-selector/useLocationSelector.ts
  src/content/app/regulatory-activity-viewer/components/region-overview/region-overview-image/regionOverviewImageHelpers.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Fix location selection with a brush in region overview image
  src/content/app/regulatory-activity-viewer/components/region-overview/region-overview-image/region-overview-location-selector/useLocationSelector.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Add RegionOverviewZoomButtons
  src/content/app/regulatory-activity-viewer/components/region-overview/region-overview-zoom-buttons/RegionOverviewZoomButtons.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Add zoom in and out buttons
  src/content/app/regulatory-activity-viewer/components/region-overview/RegionOverview.tsx
  src/content/app/regulatory-activity-viewer/components/region-overview/region-overview-zoom-buttons/RegionOverviewZoomButtons.module.css
  src/content/app/regulatory-activity-viewer/components/region-overview/region-overview-zoom-buttons/RegionOverviewZoomButtons.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Change useEffect to useLayoutEffect for update
  src/content/app/regulatory-activity-viewer/components/region-overview/region-overview-image/TranslateRegionOverviewContents.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Do not use an effect to update the state
  src/content/app/regulatory-activity-viewer/components/region-overview/region-overview-image/TranslateRegionOverviewContents.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Replace circles with rectangles for regulatory features
  src/content/app/regulatory-activity-viewer/components/region-overview/region-overview-image/RegionOverviewImage.tsx
  src/content/app/regulatory-activity-viewer/components/region-overview/region-overview-image/region-overview-regulatory-feature/RegionOverviewRegulatoryFeature.tsx
  src/content/app/regulatory-activity-viewer/components/region-overview/region-overview-image/regionOverviewImageConstants.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Show all exons, using their 'CDS counts', in region overview
  src/content/app/regulatory-activity-viewer/components/region-overview/region-overview-image/region-overview-gene/RegionOverviewGene.tsx
  src/content/app/regulatory-activity-viewer/components/region-overview/region-overview-image/regionOverviewImageConstants.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Fix popup message in region overview; and add a popup message for regulatory features
  src/content/app/regulatory-activity-viewer/components/activity-viewer-popup/ActivityViewerPopup.tsx
  src/content/app/regulatory-activity-viewer/components/activity-viewer-popup/activity-viewer-popup-content/AcrivityViewerPopupContent.module.css
  src/content/app/regulatory-activity-viewer/components/activity-viewer-popup/activity-viewer-popup-content/ActivityViewerPopupContent.tsx
  src/content/app/regulatory-activity-viewer/components/activity-viewer-popup/activity-viewer-popup-content/GenePopupContent.tsx
  src/content/app/regulatory-activity-viewer/components/activity-viewer-popup/activity-viewer-popup-content/RegulatoryFeaturePopupContent.tsx
  src/content/app/regulatory-activity-viewer/components/activity-viewer-popup/activityViewerPopupMessageTypes.ts
  src/content/app/regulatory-activity-viewer/components/region-overview/RegionOverview.tsx
  src/content/app/regulatory-activity-viewer/components/region-overview/region-overview-image/RegionOverviewImage.module.css
  src/content/app/regulatory-activity-viewer/components/region-overview/region-overview-image/RegionOverviewImage.tsx
  src/content/app/regulatory-activity-viewer/components/region-overview/region-overview-image/region-overview-gene/RegionOverviewGene.tsx
  src/content/app/regulatory-activity-viewer/components/region-overview/region-overview-image/region-overview-regulatory-feature/RegionOverviewRegulatoryFeature.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Bring back epigenome activity viz
  src/content/app/regulatory-activity-viewer/RegulatoryActivityViewer.tsx
  src/content/app/regulatory-activity-viewer/components/region-activity-section/RegionActivitySection.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update dependencies
  package-lock.json
  package.json
Due: none
