Repository Ensembl/ensembl-client: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Update styles to only make the table of VEP results scrollable
  src/content/app/tools/vep/views/vep-submission-results/VepSubmissionResults.module.css
Due: stylelint

Add pagination to VEP results page
  src/content/app/tools/vep/views/vep-submission-results/VepSubmissionResults.module.css
  src/content/app/tools/vep/views/vep-submission-results/VepSubmissionResults.tsx
  src/shared/components/loader/CircleLoader.module.css
  src/shared/components/loader/CircleLoader.tsx
  src/shared/components/pagination/Pagination.tsx
  src/shared/components/species-name/SpeciesName.module.css
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Clear invalid page or per_page params from the url
  src/content/app/tools/vep/views/vep-submission-results/hooks/useVepResultsPagination.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update pagination
  src/content/app/tools/vep/views/vep-submission-results/VepSubmissionResults.module.css
  src/content/app/tools/vep/views/vep-submission-results/VepSubmissionResults.tsx
  src/content/app/tools/vep/views/vep-submission-results/hooks/useVepResultsPagination.ts
  src/shared/components/pagination/Pagination.module.css
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Vep results pagination (#1165)
  src/content/app/entity-viewer/hooks/useEntityViewerAnalytics.ts
  src/content/app/entity-viewer/shared/components/entity-viewer-app-bar/EntityViewerAppBar.tsx
  src/content/app/genome-browser/components/browser-app-bar/BrowserAppBar.tsx
  src/content/app/genome-browser/hooks/useGenomeBrowserAnalytics.ts
  src/content/app/tools/blast/components/blast-app-bar/BlastAppBar.tsx
  src/content/app/tools/shared/components/tools-top-bar/ToolsTopBar.module.css
  src/content/app/tools/shared/components/tools-top-bar/ToolsTopBar.tsx
  src/content/app/tools/vep/components/vep-input-summary/VepInputSummary.module.css
  src/content/app/tools/vep/components/vep-input-summary/VepInputSummary.tsx
  src/content/app/tools/vep/components/vep-top-bar/VepGenericTopBar.tsx
  src/content/app/tools/vep/components/vep-top-bar/VepTopBar.module.css
  src/content/app/tools/vep/views/vep-submission-results/VepSubmissionResults.module.css
  src/content/app/tools/vep/views/vep-submission-results/VepSubmissionResults.tsx
  src/content/app/tools/vep/views/vep-submission-results/hooks/useVepResultsPagination.ts
  src/content/app/tools/vep/views/vep-submissions/listed-vep-submission/ListedVepSubmission.tsx
  src/shared/components/loader/CircleLoader.module.css
  src/shared/components/loader/CircleLoader.tsx
  src/shared/components/pagination/Pagination.module.css
  src/shared/components/pagination/Pagination.tsx
  src/shared/components/species-name/SpeciesName.module.css
  src/shared/components/species-tabs-wrapper/SpeciesTabsWrapper.module.css
  src/shared/components/species-tabs-wrapper/SpeciesTabsWrapper.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Enable edit/rerun
  src/content/app/tools/blast/components/blast-submission-header/BlastSubmissionHeader.module.css
  src/content/app/tools/blast/components/blast-submission-header/BlastSubmissionHeader.tsx
  src/content/app/tools/vep/components/vep-submission-header/VepSubmissionHeader.tsx
  src/content/app/tools/vep/state/vep-form/vepFormSlice.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Enable edit/rerun (#1166)
  src/content/app/tools/blast/components/blast-submission-header/BlastSubmissionHeader.module.css
  src/content/app/tools/blast/components/blast-submission-header/BlastSubmissionHeader.tsx
  src/content/app/tools/vep/components/vep-submission-header/VepSubmissionHeader.tsx
  src/content/app/tools/vep/state/vep-form/vepFormSlice.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Bump GB version
  package-lock.json
  package.json
Due: none

Bump GB version (#1167)
  package-lock.json
  package.json
Due: none

Display message for when submission results have expired, and clear out old submissions
  src/content/app/tools/blast/components/blast-submission-header/BlastSubmissionHeader.tsx
  src/content/app/tools/blast/components/listed-blast-submission/ListedBlastSubmission.test.tsx
  src/content/app/tools/shared/components/help-messages/UnavailableResults.tsx
  src/content/app/tools/shared/constants/displayedMessages.ts
  src/content/app/tools/vep/components/vep-submission-header/VepSubmissionHeader.module.css
  src/content/app/tools/vep/components/vep-submission-header/VepSubmissionHeader.tsx
  src/content/app/tools/vep/state/vep-action-listeners/vepActionListeners.ts
  src/content/app/tools/vep/state/vep-submissions/vepSubmissionsSlice.ts
  src/content/app/tools/vep/types/vepSubmission.ts
  src/content/app/tools/vep/utils/vepResultsAvailability.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Remove unused function
  src/content/app/tools/vep/utils/vepResultsAvailability.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Use vep config endpoint to populate form parameters
  src/content/app/tools/vep/state/vep-api/vepApiSlice.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Display message for when submission results have expired, and clear out old submissions (#1169)
  src/content/app/tools/blast/components/blast-submission-header/BlastSubmissionHeader.tsx
  src/content/app/tools/blast/components/listed-blast-submission/ListedBlastSubmission.test.tsx
  src/content/app/tools/shared/components/help-messages/UnavailableResults.tsx
  src/content/app/tools/shared/constants/displayedMessages.ts
  src/content/app/tools/vep/components/vep-submission-header/VepSubmissionHeader.module.css
  src/content/app/tools/vep/components/vep-submission-header/VepSubmissionHeader.tsx
  src/content/app/tools/vep/state/vep-action-listeners/vepActionListeners.ts
  src/content/app/tools/vep/state/vep-submissions/vepSubmissionsSlice.ts
  src/content/app/tools/vep/types/vepSubmission.ts
  src/content/app/tools/vep/utils/vepResultsAvailability.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Use vep config endpoint to populate form parameters (#1170)
  src/content/app/tools/vep/state/vep-api/vepApiSlice.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update Copy button
  src/shared/components/copy/Copy.module.css
  src/shared/components/copy/Copy.tsx
  src/shared/components/variant-vcf/VariantVCF.tsx
  stories/shared-components/copy/Copy.stories.module.css
  stories/shared-components/copy/Copy.stories.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Add Copy button to the popup pointing at an allele
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-allele/VepResultsAllele.module.css
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-allele/VepResultsAllele.tsx
  src/shared/components/variant-vcf/VariantVCF.module.css
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Update Copy button's font size and the duration of the 'copied' state
  src/shared/components/copy/Copy.module.css
  src/shared/components/copy/Copy.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Update Copy button (#1168)
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-allele/VepResultsAllele.module.css
  src/content/app/tools/vep/views/vep-submission-results/components/vep-results-allele/VepResultsAllele.tsx
  src/shared/components/copy/Copy.module.css
  src/shared/components/copy/Copy.tsx
  src/shared/components/variant-vcf/VariantVCF.module.css
  src/shared/components/variant-vcf/VariantVCF.tsx
  stories/shared-components/copy/Copy.stories.module.css
  stories/shared-components/copy/Copy.stories.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Add a screen for a VEP submission whose results either do not exist or have expired
  src/content/app/tools/vep/components/missing-vep-submission-error/MissingVepSubmissionError.module.css
  src/content/app/tools/vep/components/missing-vep-submission-error/MissingVepSubmissionError.tsx
  src/content/app/tools/vep/state/vep-action-listeners/vepActionListeners.ts
  src/content/app/tools/vep/state/vep-submissions/vepSubmissionsSelectors.ts
  src/content/app/tools/vep/state/vep-submissions/vepSubmissionsSlice.ts
  src/content/app/tools/vep/utils/vepResultsAvailability.ts
  src/content/app/tools/vep/views/vep-submission-results/VepSubmissionResults.tsx
  src/content/app/tools/vep/views/vep-submissions/listed-vep-submission/ListedVepSubmission.tsx
  src/shared/hooks/useShowTooltip.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Use dedicated components for species name parts in species search results table
  src/content/app/species-selector/components/species-search-results-table/SpeciesSearchResultsTable.module.css
  src/content/app/species-selector/components/species-search-results-table/SpeciesSearchResultsTable.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Bump IndexedDB version; minor CSS fix
  src/content/app/tools/vep/views/vep-submission-results/VepSubmissionResults.module.css
  src/services/indexeddb-service.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Add a screen for a VEP submission whose results either do not exist or have expired (#1171)
  src/content/app/tools/vep/components/missing-vep-submission-error/MissingVepSubmissionError.module.css
  src/content/app/tools/vep/components/missing-vep-submission-error/MissingVepSubmissionError.tsx
  src/content/app/tools/vep/state/vep-action-listeners/vepActionListeners.ts
  src/content/app/tools/vep/state/vep-submissions/vepSubmissionsSelectors.ts
  src/content/app/tools/vep/state/vep-submissions/vepSubmissionsSlice.ts
  src/content/app/tools/vep/utils/vepResultsAvailability.ts
  src/content/app/tools/vep/views/vep-submission-results/VepSubmissionResults.tsx
  src/content/app/tools/vep/views/vep-submissions/listed-vep-submission/ListedVepSubmission.tsx
  src/shared/hooks/useShowTooltip.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Update layout and styles to fix VEP results table loading overlay
  src/content/app/tools/vep/views/vep-submission-results/VepSubmissionResults.module.css
  src/content/app/tools/vep/views/vep-submission-results/VepSubmissionResults.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Update layout and styles to fix VEP results table loading overlay (#1173)
  src/content/app/tools/vep/views/vep-submission-results/VepSubmissionResults.module.css
  src/content/app/tools/vep/views/vep-submission-results/VepSubmissionResults.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Use dedicated components for species name parts in species search results table (#1172)
  src/content/app/species-selector/components/species-search-results-table/SpeciesSearchResultsTable.module.css
  src/content/app/species-selector/components/species-search-results-table/SpeciesSearchResultsTable.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Use actual species genome ids instead of hard-coded ones in the table of VEP results
  src/content/app/tools/vep/views/vep-submission-results/VepSubmissionResults.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Fix errors during submission status update
  src/content/app/tools/vep/state/vep-action-listeners/vepActionListeners.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

VEP fixes (#1174)
  src/content/app/tools/vep/state/vep-action-listeners/vepActionListeners.ts
  src/content/app/tools/vep/views/vep-submission-results/VepSubmissionResults.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Add a web browser tab identifier, and use it for temporary submission id
  src/content/app/tools/vep/state/vep-form/vepFormSlice.ts
  src/global/globalSelectors.ts
  src/global/globalSlice.ts
  src/root/useRestoredReduxState.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Move onSubmit logic for VEP into a thunk
  src/content/app/tools/vep/components/vep-submit-button/VepSubmitButton.tsx
  src/content/app/tools/vep/state/vep-form/vepFormSlice.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Delete outdated temporary submissions; remove unused VEP storage service methods and delete tests for it
  src/content/app/tools/vep/services/vepStorageService.test.ts
  src/content/app/tools/vep/services/vepStorageService.ts
  src/content/app/tools/vep/services/vepStorageServiceConstants.ts
  src/content/app/tools/vep/state/vep-form/vepFormSlice.ts
  src/global/globalSlice.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Do not throw error when there are no example variants
  src/content/app/tools/vep/state/vep-api/vepApiSlice.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Add BrowserTabIdService to persist browser tab id over tab's lifetime
  src/global/globalSlice.ts
  src/services/browser-tab-id-service.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update the handling of ids used to store VEP submission data (#1175)
  src/content/app/tools/vep/components/vep-submit-button/VepSubmitButton.tsx
  src/content/app/tools/vep/services/vepStorageService.test.ts
  src/content/app/tools/vep/services/vepStorageService.ts
  src/content/app/tools/vep/services/vepStorageServiceConstants.ts
  src/content/app/tools/vep/state/vep-api/vepApiSlice.ts
  src/content/app/tools/vep/state/vep-form/vepFormSlice.ts
  src/global/globalSelectors.ts
  src/global/globalSlice.ts
  src/root/useRestoredReduxState.ts
  src/services/browser-tab-id-service.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Setup activity viewer
  src/content/app/activity-viewer/ActivityViewer.tsx
  src/content/app/activity-viewer/ActivityViewerPage.tsx
  src/content/app/activity-viewer/types/regionOverview.ts
  src/header/launchbar/Launchbar.tsx
  src/routes/routesConfig.tsx
  tests/fixtures/activity-viewer/mockRegionOverview.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Add RegionOverviewImage displaying regulatory features
  src/content/app/activity-viewer/ActivityViewer.tsx
  src/content/app/activity-viewer/components/region-overview/RegionOverview.module.css
  src/content/app/activity-viewer/components/region-overview/RegionOverview.tsx
  src/content/app/activity-viewer/components/region-overview/prepareRegionOverviewTracks.ts
  src/content/app/activity-viewer/components/region-overview/region-overview-image/RegionOverviewImage.module.css
  src/content/app/activity-viewer/components/region-overview/region-overview-image/RegionOverviewImage.tsx
  src/content/app/activity-viewer/components/region-overview/useRegionOverviewImageData.ts
  src/content/app/activity-viewer/state/api/activityViewerApiSlice.ts
  src/content/app/activity-viewer/types/regionOverview.ts
  tests/fixtures/activity-viewer/mockRegionOverview.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Add activity viewer sidebar; read width of region overview image container from DOM
  src/content/app/activity-viewer/ActivityViewer.tsx
  src/content/app/activity-viewer/components/activity-viewer-sidebar/ActivityViewerSidebar.module.css
  src/content/app/activity-viewer/components/activity-viewer-sidebar/ActivityViewerSidebar.tsx
  src/content/app/activity-viewer/components/region-overview/RegionOverview.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Rename activity-viewer -> regulatory-activity-viewer
  src/content/app/regulatory-activity-viewer/RegulatoryActivityViewer.tsx
  src/content/app/regulatory-activity-viewer/RegulatoryActivityViewerPage.tsx
  src/content/app/regulatory-activity-viewer/components/activity-viewer-sidebar/ActivityViewerSidebar.module.css
  src/content/app/regulatory-activity-viewer/components/activity-viewer-sidebar/ActivityViewerSidebar.tsx
  src/content/app/regulatory-activity-viewer/components/region-overview/RegionOverview.module.css
  src/content/app/regulatory-activity-viewer/components/region-overview/RegionOverview.tsx
  src/content/app/regulatory-activity-viewer/components/region-overview/prepareRegionOverviewTracks.ts
  src/content/app/regulatory-activity-viewer/components/region-overview/region-overview-image/RegionOverviewImage.module.css
  src/content/app/regulatory-activity-viewer/components/region-overview/region-overview-image/RegionOverviewImage.tsx
  src/content/app/regulatory-activity-viewer/components/region-overview/useRegionOverviewImageData.ts
  src/content/app/regulatory-activity-viewer/state/api/activityViewerApiSlice.ts
  src/content/app/regulatory-activity-viewer/types/regionOverview.ts
  src/routes/routesConfig.tsx
  tests/fixtures/activity-viewer/mockRegionOverview.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Update gitlab-ci to remove the dev branch and switch from master to main
  .gitlab-ci.yml
Due: none

Update types and mock response
  src/content/app/regulatory-activity-viewer/types/regionOverview.ts
  tests/fixtures/activity-viewer/mockRegionOverview.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Path conditions:
  eslint --max-warnings=0: any of: *.{ts,tsx}
  manage-licence-header add: any of: *.{ts,tsx}
  prettier --write: any of: *.{ts,tsx}
  stylelint: any of: *.css
