Repository Ensembl/ensembl-client: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Add instructions for finding a gene to Species Selector (#874)
  src/content/app/species-selector/components/find-gene-instructions/FindGeneInstructions.scss
  src/content/app/species-selector/components/find-gene-instructions/FindGeneInstructions.tsx
  src/content/app/species-selector/components/species-search-field/SpeciesSearchField.scss
  src/content/app/species-selector/components/species-search-field/SpeciesSearchField.tsx
  src/content/app/species-selector/containers/species-search-panel/SpeciesSearchPanel.scss
  src/content/app/species-selector/containers/species-search-panel/SpeciesSearchPanel.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Show help text for BLAST params labels in a tooltip (#875)
  src/content/app/tools/blast/components/blast-settings/BlastSettings.scss
  src/content/app/tools/blast/components/blast-settings/BlastSettings.tsx
  tests/fixtures/blast/blastSettingsConfig.json
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Add test to verify stopped polling
  src/content/app/tools/blast/state/epics/tests/blastEpics.test.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Use React 18's own SSR
  package-lock.json
  package.json
  src/content/app/about/AboutPage.tsx
  src/content/app/entity-viewer/EntityViewerPage.tsx
  src/content/app/entity-viewer/state/entityViewerReducer.ts
  src/content/app/entity-viewer/state/pageMeta/entityViewerPageMetaSlice.ts
  src/content/app/genome-browser/BrowserPage.tsx
  src/content/app/help/HelpPage.tsx
  src/content/app/species-selector/SpeciesSelectorPage.tsx
  src/content/app/species/SpeciesPage.tsx
  src/content/app/tools/blast/BlastPage.tsx
  src/content/home/HomePage.tsx
  src/content/html/Html.tsx
  src/content/html/Meta.tsx
  src/content/html/ThirdParty.tsx
  src/index.tsx
  src/root/Root.tsx
  src/root/rootReducer.ts
  src/server/routes/viewsRouter.tsx
  src/shared/state/page-meta/pageMetaSelectors.ts
  src/shared/state/page-meta/pageMetaSlice.ts
  webpack/client/common.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

store submitted blast sequences as header and value
  src/content/app/tools/blast/components/blast-job-submit/BlastJobSubmit.test.tsx
  src/content/app/tools/blast/components/blast-job-submit/BlastJobSubmit.tsx
  src/content/app/tools/blast/components/blast-submission-header/BlastSubmissionHeader.tsx
  src/content/app/tools/blast/components/listed-blast-submission/ListedBlastSubmission.tsx
  src/content/app/tools/blast/state/blast-api/blastApiSlice.ts
  src/content/app/tools/blast/state/blast-results/blastResultsSlice.ts
  src/content/app/tools/blast/views/blast-submission-results/components/blast-results-per-sequence/BlastResultsPerSequence.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Stop polling for job statuses when BLAST submission is deleted (#876)
  src/content/app/tools/blast/state/epics/blastEpics.ts
  src/content/app/tools/blast/state/epics/tests/blastEpics.test.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

PR Feedback
  src/content/app/tools/blast/components/blast-job-submit/BlastJobSubmit.tsx
  src/content/app/tools/blast/components/blast-submission-header/BlastSubmissionHeader.tsx
  src/content/app/tools/blast/components/listed-blast-submission/ListedBlastSubmission.tsx
  src/content/app/tools/blast/state/blast-api/blastApiSlice.ts
  src/content/app/tools/blast/types/parsedInputSequence.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Fix scrolling for blast submission and result
  src/content/app/tools/blast/components/blast-submission-header/BlastSubmissionHeader.scss
  src/content/app/tools/blast/views/blast-submission-results/BlastSubmissionResults.scss
  src/content/app/tools/blast/views/blast-submission-results/BlastSubmissionResults.tsx
  src/content/app/tools/blast/views/blast-submissions/BlastSubmissions.scss
  src/content/app/tools/blast/views/blast-submissions/BlastSubmissions.tsx
  src/styles/_scrollbars.scss
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

PR feedback
  src/content/app/tools/blast/components/blast-job-submit/BlastJobSubmit.tsx
  src/content/app/tools/blast/components/listed-blast-submission/ListedBlastSubmission.tsx
  src/content/app/tools/blast/state/blast-api/blastApiSlice.ts
  src/content/app/tools/blast/types/parsedInputSequence.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Fix tooltip randomly appearing over the Blast launchbar button
  src/header/launchbar/LaunchbarButton.tsx
  src/header/launchbar/LaunchbarButtonWithNotification.tsx
  src/shared/components/app-icon/BlastIcon.tsx
  src/shared/hooks/useHover.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

No need to check isHovering in handleMouseEnter
  src/shared/hooks/useHover.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Remove scroll-behavior not needed here
  src/content/app/tools/blast/views/blast-submissions/BlastSubmissions.scss
Due: prettier --write, stylelint

Enable entry point for unsupported browsers
  src/content/html/Html.tsx
  src/content/unsupported-browser/UnsupportedBrowserHtml.tsx
  src/content/unsupported-browser/index.tsx
  src/root/Root.tsx
  src/server/helpers/readWebpackManifest.ts
  src/server/routes/unsupportedBrowserRouter.tsx
  src/server/routes/viewsRouter.tsx
  src/server/views/unsupported-browser.html
  webpack/server/common.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Explicitly use contenthash in webpack config
  src/content/html/Html.tsx
  webpack/client/production.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

reorganisation
  doc/blast/0001-BLAST-database-files.md
  doc/blast/0002-BLAST-download-formats.md
  doc/blast/0003-BLAST-input-parameters.md
  doc/blast/0004-BLAST-sequence-formats.md
  doc/blast/0005-BLAST-species-sequence-interactions.md
Due: none

PR feedback
  src/content/app/tools/blast/components/blast-submission-header/BlastSubmissionHeader.scss
Due: prettier --write, stylelint

rename parsedInputSequence.ts to blastSequence.ts
  src/content/app/tools/blast/components/blast-input-sequences/BlastInputSequence.tsx
  src/content/app/tools/blast/components/blast-job-submit/BlastJobSubmit.tsx
  src/content/app/tools/blast/components/listed-blast-submission/ListedBlastSubmission.tsx
  src/content/app/tools/blast/hooks/useBlastForm.ts
  src/content/app/tools/blast/state/blast-api/blastApiSlice.ts
  src/content/app/tools/blast/state/blast-form/blastFormSlice.ts
  src/content/app/tools/blast/types/blastSequence.ts
  src/content/app/tools/blast/utils/blastFormValidator.ts
  src/content/app/tools/blast/utils/blastInputParser.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

show - when description is null for protein family
  src/content/app/entity-viewer/gene-view/components/protein-domain-image/ProteinDomainImage.test.tsx
  src/content/app/entity-viewer/gene-view/components/protein-domain-image/ProteinDomainImage.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Contenthash in server-side webpack
  webpack/server/production.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Use image webpack loader?
  webpack/server/production.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update a comment
  webpack/server/production.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Fix tooltip randomly appearing over the Blast launchbar button (#880)
  src/header/launchbar/LaunchbarButton.tsx
  src/header/launchbar/LaunchbarButtonWithNotification.tsx
  src/shared/components/app-icon/BlastIcon.tsx
  src/shared/hooks/useHover.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Only send the top-level css chunk in the assets manifest
  src/content/html/Html.tsx
  src/server/routes/viewsRouter.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Remove unused packages
  package-lock.json
  package.json
  src/content/html/Html.tsx
  src/root/Root.test.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Disable hot module replacement on the client
  babel.config.js
  src/content/unsupported-browser/UnsupportedBrowserHtml.tsx
  src/index.tsx
  src/server/helpers/getConfigForClient.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Further clean-up; add code to enable metadata for all pages
  babel.config.js
  src/content/app/about/AboutPage.tsx
  src/content/app/genome-browser/BrowserPage.tsx
  src/content/app/help/HelpPage.tsx
  src/content/app/species-selector/SpeciesSelectorPage.tsx
  src/content/app/tools/blast/BlastPage.tsx
  src/content/home/HomePage.tsx
  src/content/html/Html.tsx
  src/index.tsx
  src/routes/routesConfig.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Fix scrolling for blast submission and result (#879)
  src/content/app/tools/blast/components/blast-submission-header/BlastSubmissionHeader.scss
  src/content/app/tools/blast/views/blast-submission-results/BlastSubmissionResults.scss
  src/content/app/tools/blast/views/blast-submission-results/BlastSubmissionResults.tsx
  src/content/app/tools/blast/views/blast-submissions/BlastSubmissions.scss
  src/content/app/tools/blast/views/blast-submissions/BlastSubmissions.tsx
  src/styles/_scrollbars.scss
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

remove header from submitted sequence if there is no header
  src/content/app/tools/blast/components/blast-job-submit/BlastJobSubmit.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Cleanup
  src/content/app/about/AboutPage.tsx
  src/content/app/entity-viewer/EntityViewerPage.tsx
  src/content/app/help/HelpPage.tsx
  src/content/app/species-selector/SpeciesSelectorPage.tsx
  src/content/app/tools/blast/BlastPage.tsx
  src/content/home/HomePage.tsx
  src/server/helpers/readWebpackManifest.ts
  src/server/routes/viewsRouter.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update a comment
  src/server/routes/viewsRouter.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Further cleanup
  src/content/app/entity-viewer/EntityViewerPage.tsx
  src/content/app/species-selector/SpeciesSelectorPage.tsx
  webpack/client/common.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

PR feedback
  src/content/app/tools/blast/components/blast-job-submit/BlastJobSubmit.tsx
  src/content/app/tools/blast/state/blast-results/blastResultsSlice.ts
  src/content/app/tools/blast/views/blast-submission-results/components/blast-results-per-sequence/BlastResultsPerSequence.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

sort the protein domain by description
  src/content/app/entity-viewer/gene-view/components/protein-domain-image/ProteinDomainImage.tsx
  src/shared/types/thoas/product.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

PR feedback
  src/content/app/entity-viewer/gene-view/components/protein-domain-image/ProteinDomainImage.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

store submitted blast sequences as header and value (#877)
  src/content/app/tools/blast/components/blast-input-sequences/BlastInputSequence.tsx
  src/content/app/tools/blast/components/blast-job-submit/BlastJobSubmit.test.tsx
  src/content/app/tools/blast/components/blast-job-submit/BlastJobSubmit.tsx
  src/content/app/tools/blast/components/blast-submission-header/BlastSubmissionHeader.tsx
  src/content/app/tools/blast/components/listed-blast-submission/ListedBlastSubmission.tsx
  src/content/app/tools/blast/hooks/useBlastForm.ts
  src/content/app/tools/blast/state/blast-api/blastApiSlice.ts
  src/content/app/tools/blast/state/blast-form/blastFormSlice.ts
  src/content/app/tools/blast/state/blast-results/blastResultsSlice.ts
  src/content/app/tools/blast/types/blastSequence.ts
  src/content/app/tools/blast/utils/blastFormValidator.ts
  src/content/app/tools/blast/utils/blastInputParser.ts
  src/content/app/tools/blast/views/blast-submission-results/components/blast-results-per-sequence/BlastResultsPerSequence.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Add default page title to Entity Viewer
  src/content/app/entity-viewer/EntityViewerPage.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Display "-" when a protein family does not have a description (#881)
  src/content/app/entity-viewer/gene-view/components/protein-domain-image/ProteinDomainImage.test.tsx
  src/content/app/entity-viewer/gene-view/components/protein-domain-image/ProteinDomainImage.tsx
  src/shared/types/thoas/product.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Use React 18's own apis for server-side rendering (#878)
  babel.config.js
  package-lock.json
  package.json
  src/content/app/about/AboutPage.tsx
  src/content/app/entity-viewer/EntityViewerPage.tsx
  src/content/app/entity-viewer/state/entityViewerReducer.ts
  src/content/app/entity-viewer/state/pageMeta/entityViewerPageMetaSlice.ts
  src/content/app/genome-browser/BrowserPage.tsx
  src/content/app/help/HelpPage.tsx
  src/content/app/species-selector/SpeciesSelectorPage.tsx
  src/content/app/species/SpeciesPage.tsx
  src/content/app/tools/blast/BlastPage.tsx
  src/content/home/HomePage.tsx
  src/content/html/Html.tsx
  src/content/html/Meta.tsx
  src/content/html/ThirdParty.tsx
  src/content/unsupported-browser/UnsupportedBrowserHtml.tsx
  src/content/unsupported-browser/index.tsx
  src/index.tsx
  src/root/Root.test.tsx
  src/root/Root.tsx
  src/root/rootReducer.ts
  src/routes/routesConfig.tsx
  src/server/helpers/getConfigForClient.ts
  src/server/helpers/readWebpackManifest.ts
  src/server/routes/unsupportedBrowserRouter.tsx
  src/server/routes/viewsRouter.tsx
  src/server/views/unsupported-browser.html
  src/shared/state/page-meta/pageMetaSelectors.ts
  src/shared/state/page-meta/pageMetaSlice.ts
  webpack/client/common.ts
  webpack/client/production.ts
  webpack/server/common.ts
  webpack/server/production.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

generic text for job errors
  doc/blast/0003-BLAST-input-parameters.md
Due: none

Path conditions:
  eslint --max-warnings=0: any of: *.{ts,tsx}
  manage-licence-header add: any of: *.{ts,tsx}
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.scss)
  stylelint: any of: *.scss
