Repository Ensembl/ensembl-client: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Fix tests for useShowTooltip
  src/shared/hooks/tests/useShowTooltip.test.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Possibly fix a test
  src/content/app/genome-browser/components/drawer/components/sequence-view/TranscriptSequenceView.test.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Fix tests for TranscriptSequenceView
  src/content/app/genome-browser/components/drawer/components/sequence-view/TranscriptSequenceView.test.tsx
  tests/fixtures/entity-viewer/slice.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Remove unnecessary acts
  src/shared/components/in-app-search/InAppSearch.test.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Remove the extra button wrapper in BlastLaunchbarButton.tsx
  src/header/launchbar/BlastLaunchbarButton.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Remove the extra button wrapper in BlastLaunchbarButton (#758)
  src/header/launchbar/BlastLaunchbarButton.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update ensembl-genome-browser to 0.3.0
  package-lock.json
  package.json
Due: none

Update species lozenges
  src/shared/components/selected-species/SelectedSpecies.scss
  src/shared/components/selected-species/SelectedSpecies.tsx
  src/shared/components/selected-species/SelectedSpeciesLozenge.scss
  src/shared/components/selected-species/SelectedSpeciesLozenge.tsx
  src/shared/components/species-tabs-wrapper/MultiLineSpeciesWrapper.scss
  stories/shared-components/selected-species/SelectedSpecies.stories.scss
  stories/shared-components/selected-species/SelectedSpecies.stories.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Fix tests
  src/shared/components/selected-species/SelectedSpecies.test.tsx
  src/shared/components/selected-species/SelectedSpeciesContent.tsx
  src/shared/components/selected-species/selected-species-common.scss
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Use SelectedSpeciesLozenge component in BLAST app bar
  src/content/app/tools/blast/components/blast-app-bar/BlastAppBar.tsx
  src/shared/components/selected-species/SelectedSpecies.tsx
  src/shared/components/selected-species/index.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

use real version
  package.json
Due: none

update package-lock.json
  package-lock.json
Due: none

Update ensembl-genome-browser to 0.3.0 (#759)
  package-lock.json
  package.json
Due: none

PR suggestions
  package.json
  src/content/app/genome-browser/components/browser-cog/BrowserCogList.test.tsx
  src/content/app/genome-browser/components/browser-cog/BrowserCogList.tsx
  src/content/app/genome-browser/components/browser-track-config/BrowserTrackConfig.test.tsx
  src/content/app/genome-browser/components/browser-track-config/BrowserTrackConfig.tsx
  src/content/app/genome-browser/components/browser-track-config/services/browser-track-config-storage-service.ts
  src/content/app/genome-browser/components/browser-track-config/track-config-views/GeneTrackConfig.tsx
  src/content/app/genome-browser/components/browser-track-config/track-config-views/RegularTrackConfig.tsx
  src/content/app/genome-browser/components/browser-track-config/track-config-views/TranscriptTrackConfig.tsx
  src/content/app/genome-browser/components/browser-track-config/useBrowserTrackConfig.ts
  src/content/app/genome-browser/hooks/useBrowserRouting.ts
  src/content/app/genome-browser/hooks/useGenomeBrowser.ts
  src/content/app/genome-browser/state/track-config/trackConfigSelectors.ts
  src/content/app/genome-browser/state/track-config/trackConfigSlice.ts
  src/root/useRestoredReduxState.ts
  src/shared/state/genome/genomeSlice.ts
  tests/fixtures/browser.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Changes
  src/shared/components/selected-species/SelectedSpeciesLozenge.scss
  src/shared/components/selected-species/SelectedSpeciesLozenge.tsx
  src/shared/components/selected-species/selectedSpeciesHelpers.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Handle species deletion
  src/content/app/genome-browser/components/browser-track-config/services/browserTrackConfigStorageService.ts
  src/content/app/genome-browser/state/browser-general/browserGeneralSlice.ts
  src/content/app/genome-browser/state/track-config/trackConfigSlice.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

In progress...
  src/content/app/genome-browser/components/browser-cog/useBrowserCogList.ts
  src/content/app/genome-browser/state/track-config/trackConfigSlice.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Multiple fixes
  src/content/app/genome-browser/components/browser-cog/BrowserCogList.tsx
  src/content/app/genome-browser/components/browser-cog/useBrowserCogList.ts
  src/content/app/genome-browser/components/browser-track-config/BrowserTrackConfig.test.tsx
  src/content/app/genome-browser/components/browser-track-config/BrowserTrackConfig.tsx
  src/content/app/genome-browser/components/browser-track-config/useBrowserTrackConfig.ts
  src/content/app/genome-browser/hooks/useGenomeBrowser.ts
  src/content/app/genome-browser/state/track-config/trackConfigSelectors.ts
  src/content/app/genome-browser/state/track-config/trackConfigSlice.ts
  src/root/useRestoredReduxState.ts
  src/shared/state/genome/genomeSlice.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

more fixes
  src/content/app/genome-browser/components/browser-cog/useBrowserCogList.ts
  src/content/app/genome-browser/components/browser-track-config/services/browserTrackConfigStorageService.ts
  src/content/app/genome-browser/hooks/useGenomeBrowser.ts
  src/content/app/genome-browser/state/track-config/trackConfigSelectors.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Save track configs
  src/content/app/genome-browser/components/browser-cog/useBrowserCogList.ts
  src/content/app/genome-browser/components/browser-track-config/useBrowserTrackConfig.ts
  src/content/app/genome-browser/state/track-config/trackConfigSlice.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

fix fix applyToAll for several transcripts
  src/content/app/genome-browser/components/browser-track-config/track-config-views/GeneTrackConfig.tsx
  src/content/app/genome-browser/components/browser-track-config/track-config-views/RegularTrackConfig.tsx
  src/content/app/genome-browser/components/browser-track-config/track-config-views/TranscriptTrackConfig.tsx
  src/content/app/genome-browser/components/browser-track-config/useBrowserTrackConfig.ts
  src/content/app/genome-browser/state/track-config/trackConfigSelectors.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Do not use genome id ref
  src/content/app/genome-browser/components/browser-cog/BrowserCogList.tsx
  src/content/app/genome-browser/components/browser-cog/useBrowserCogList.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

more PR related changes
  src/content/app/genome-browser/components/browser-cog/BrowserCogList.tsx
  src/content/app/genome-browser/components/browser-cog/useBrowserCogList.ts
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/track-panel-items/TrackPanelGene.tsx
  src/content/app/genome-browser/components/track-panel/trackPanelConfig.ts
  src/content/app/genome-browser/hooks/useGenomeBrowser.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

restore several transcripts on browser refresh
  src/content/app/genome-browser/hooks/useGenomeBrowser.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update redux state
  src/content/app/genome-browser/state/track-config/trackConfigSelectors.ts
  src/content/app/genome-browser/state/track-config/trackConfigSlice.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Fix type errors
  src/content/app/genome-browser/components/browser-track-config/BrowserTrackConfig.test.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Close track config panel when switching between genomes
  src/content/app/genome-browser/components/browser-cog/BrowserCogList.tsx
  src/content/app/genome-browser/components/browser-track-config/track-config-views/GeneTrackConfig.tsx
  src/content/app/genome-browser/state/track-config/trackConfigSlice.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

selectedCog -> trackId in redux
  src/content/app/genome-browser/components/browser-track-config/useBrowserTrackConfig.ts
  src/content/app/genome-browser/state/track-config/trackConfigSlice.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Fix tests
  src/content/app/genome-browser/components/browser-track-config/BrowserTrackConfig.test.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

More test fixes
  src/content/app/genome-browser/components/browser-cog/BrowserCogList.test.tsx
  tests/fixtures/browser.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

initial work
  src/content/app/tools/blast/components/blast-input-sequences/BlastInputSequence.scss
  src/content/app/tools/blast/components/blast-input-sequences/BlastInputSequence.tsx
  src/content/app/tools/blast/components/blast-input-sequences/BlastInputSequences.scss
  src/content/app/tools/blast/components/blast-input-sequences/BlastInputSequences.tsx
  src/content/app/tools/blast/components/blast-input-sequences/BlastInputSequencesHeader.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

more review cleanup
  src/content/app/genome-browser/components/browser-track-config/BrowserTrackConfig.test.tsx
  src/content/app/genome-browser/hooks/useGenomeBrowser.ts
  src/content/app/genome-browser/state/track-config/trackConfigSlice.ts
  src/shared/state/genome/genomeSlice.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Fix the lozenges
  src/shared/components/selected-species/SelectedSpeciesLozenge.scss
Due: prettier --write, stylelint

Maintain track label state on browser refresh (#747)
  src/content/app/genome-browser/components/browser-cog/BrowserCogList.test.tsx
  src/content/app/genome-browser/components/browser-cog/BrowserCogList.tsx
  src/content/app/genome-browser/components/browser-cog/useBrowserCogList.ts
  src/content/app/genome-browser/components/browser-track-config/BrowserTrackConfig.test.tsx
  src/content/app/genome-browser/components/browser-track-config/BrowserTrackConfig.tsx
  src/content/app/genome-browser/components/browser-track-config/services/browserTrackConfigStorageService.ts
  src/content/app/genome-browser/components/browser-track-config/track-config-views/GeneTrackConfig.tsx
  src/content/app/genome-browser/components/browser-track-config/track-config-views/RegularTrackConfig.tsx
  src/content/app/genome-browser/components/browser-track-config/track-config-views/TranscriptTrackConfig.tsx
  src/content/app/genome-browser/components/browser-track-config/useBrowserTrackConfig.ts
  src/content/app/genome-browser/components/track-panel/TrackPanel.test.tsx
  src/content/app/genome-browser/components/track-panel/TrackPanel.tsx
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/track-panel-items/TrackPanelGene.tsx
  src/content/app/genome-browser/components/track-panel/trackPanelConfig.ts
  src/content/app/genome-browser/hooks/useBrowserRouting.test.tsx
  src/content/app/genome-browser/hooks/useBrowserRouting.ts
  src/content/app/genome-browser/hooks/useGenomeBrowser.ts
  src/content/app/genome-browser/services/browserStorageService.test.ts
  src/content/app/genome-browser/state/browser-general/browserGeneralSlice.ts
  src/content/app/genome-browser/state/track-config/trackConfigSelectors.ts
  src/content/app/genome-browser/state/track-config/trackConfigSlice.ts
  src/shared/state/genome/genomeSlice.ts
  tests/fixtures/browser.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Line height tweak
  src/shared/components/selected-species/SelectedSpeciesLozenge.scss
Due: prettier --write, stylelint

GB version update - 0.3.1-test
  package-lock.json
  package.json
  src/content/app/genome-browser/components/browser-track-config/BrowserTrackConfig.test.tsx
  src/content/app/genome-browser/components/browser-track-config/track-config-views/GeneTrackConfig.tsx
  src/content/app/genome-browser/components/browser-track-config/useBrowserTrackConfig.ts
  src/content/app/genome-browser/hooks/useGenomeBrowser.ts
  src/content/app/genome-browser/state/track-config/trackConfigSlice.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

variable renaming
  src/content/app/genome-browser/components/browser-track-config/useBrowserTrackConfig.ts
  src/content/app/genome-browser/state/track-config/trackConfigSlice.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

replace with function expression
  src/content/app/genome-browser/components/browser-track-config/track-config-views/GeneTrackConfig.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Path conditions:
  eslint --max-warnings=0: any of: *.{ts,tsx}
  manage-licence-header add: any of: *.{ts,tsx}
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.scss)
  stylelint: any of: *.scss
