Repository Ensembl/ensembl-client: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

.lintstagedrc.json:

{
  "*.{ts,tsx}": [
    "eslint --max-warnings=0",
    "manage-licence-header add",
    "prettier --write"
  ],
  "*.scss": [
    "stylelint",
    "prettier --write"
  ]
}

Spacing adjustments after design review (#773)
  src/content/app/about/About.scss
  src/content/app/entity-viewer/components/example-links/ExampleLinks.scss
  src/content/app/entity-viewer/gene-view/GeneView.scss
  src/content/app/entity-viewer/gene-view/components/default-transcripts-list/DefaultTranscriptsList.scss
  src/content/app/genome-browser/components/browser-cog/BrowserCogList.scss
  src/content/app/genome-browser/components/interstitial/BrowserInterstitial.scss
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/TrackPanelList.scss
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/TrackPanelList.tsx
  src/content/app/help/Help.scss
  src/content/app/help/components/help-landing/HelpLanding.scss
  src/content/app/species-selector/containers/popular-species-panel/PopularSpeciesPanel.scss
  src/content/app/species/components/species-main-view/SpeciesMainView.scss
  src/content/app/tools/blast/views/blast-form/BlastForm.scss
  src/content/home/Home.scss
  src/content/unsupported-browser/components/topbar/Topbar.scss
  src/header/Header.scss
  src/header/launchbar/Launchbar.scss
  src/shared/components/app-bar/AppBar.scss
  src/shared/components/layout/StandardAppLayout.scss
  src/shared/components/species-tabs-wrapper/SingleLineSpeciesWrapper.scss
  src/styles/_settings.scss
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Remove cleanup
  src/services/google-analytics/loadGoogleAnalytics.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Enable collapsing of BLAST job boxes
  src/content/app/tools/blast/components/listed-blast-submission/ListedBlastSubmission.scss
  src/content/app/tools/blast/components/listed-blast-submission/ListedBlastSubmission.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Display job statuses
  src/content/app/tools/blast/components/listed-blast-submission/ListedBlastSubmission.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

use previous and created new test (still wip)
  src/content/app/genome-browser/components/zmenu/Zmenu.test.tsx
  src/content/app/genome-browser/components/zmenu/Zmenu.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

fix test
  src/content/app/genome-browser/components/zmenu/Zmenu.test.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

PR suggestions
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/track-panel-items/TrackPanelGene.tsx
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/track-panel-items/TrackPanelTranscript.tsx
  src/content/app/genome-browser/components/track-panel/trackPanelConfig.ts
  src/content/app/genome-browser/hooks/useGenomeBrowser.ts
  src/content/app/genome-browser/services/browserStorageService.test.ts
  src/content/app/genome-browser/state/browser-general/browserGeneralSelectors.ts
  src/content/app/genome-browser/state/browser-general/browserGeneralSlice.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Move setup-jest imports to the top
  tests/setup-jest.js
Due: none

Remove focus check in toggleTrack
  src/content/app/genome-browser/hooks/useGenomeBrowser.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update tests
  src/content/app/tools/blast/components/listed-blast-submission/ListedBlastSubmission.test.tsx
  src/content/app/tools/blast/components/listed-blast-submission/ListedBlastSubmission.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Move side effects to thunks in browserGeneralSlice
  src/content/app/genome-browser/state/browser-general/browserGeneralSlice.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Add pagination
  src/shared/components/chevron/Chevron.scss
  src/shared/components/chevron/Chevron.tsx
  src/shared/components/table/Table.scss
  src/shared/components/table/Table.tsx
  src/shared/components/table/components/main/components/table-body/TableBody.tsx
  src/shared/components/table/components/main/components/table-cell/TableCell.tsx
  src/shared/components/table/components/main/components/table-header/TableHeader.tsx
  src/shared/components/table/components/main/components/table-row/TableRow.tsx
  src/shared/components/table/components/main/components/table-row/components/row-selector/RowSelector.tsx
  src/shared/components/table/components/table-controls/TableControls.tsx
  src/shared/components/table/components/table-controls/components/pagination/Pagination.scss
  src/shared/components/table/components/table-controls/components/pagination/Pagination.tsx
  src/shared/components/table/components/table-controls/components/rows-per-page-selector/RowsPerPageSelector.tsx
  src/shared/components/table/components/table-controls/components/table-actions/TableActions.tsx
  src/shared/components/table/state/tableReducer.ts
  stories/shared-components/table/Table.stories.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Separate story for expanded
  stories/shared-components/table/Table.stories.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Find in table
  src/shared/components/table/components/main/components/table-header/TableHeader.tsx
  src/shared/components/table/components/table-controls/components/pagination/Pagination.scss
  src/shared/components/table/components/table-controls/components/rows-per-page-selector/RowsPerPageSelector.scss
  src/shared/components/table/components/table-controls/components/rows-per-page-selector/RowsPerPageSelector.tsx
  src/shared/components/table/components/table-controls/components/table-actions/TableActions.tsx
  src/shared/components/table/components/table-controls/components/table-actions/components/find-in-table/FindInTable.scss
  src/shared/components/table/components/table-controls/components/table-actions/components/find-in-table/FindInTable.tsx
  stories/shared-components/table/Table.stories.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

More PR suggestions
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/track-panel-items/TrackPanelGene.tsx
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/track-panel-items/TrackPanelTranscript.tsx
  src/content/app/genome-browser/components/track-panel/trackPanelConfig.ts
  src/content/app/genome-browser/state/browser-general/browserGeneralSelectors.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Small change
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/track-panel-items/TrackPanelGene.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Show hide columns
  src/shared/components/table/components/main/components/table-header/TableHeader.tsx
  src/shared/components/table/components/main/components/table-row/TableRow.tsx
  src/shared/components/table/components/table-controls/components/table-actions/TableActions.tsx
  src/shared/components/table/components/table-controls/components/table-actions/components/column-visibility-controller/ShowHideColumns.tsx
  src/shared/components/table/components/table-controls/components/table-actions/components/popup-panel/PopupPanel.scss
  src/shared/components/table/components/table-controls/components/table-actions/components/popup-panel/PopupPanel.tsx
  src/shared/components/table/components/table-controls/components/table-actions/components/show-hide-columns/ShowHideColumns.scss
  src/shared/components/table/components/table-controls/components/table-actions/components/show-hide-columns/ShowHideColumns.tsx
  src/shared/components/table/state/tableReducer.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Implement show hide columns
  src/shared/components/table/Table.scss
  src/shared/components/table/components/main/components/table-row/TableRow.tsx
  src/shared/components/table/components/main/components/table-row/components/row-selector/RowSelector.scss
  src/shared/components/table/components/main/components/table-row/components/row-selector/RowSelector.tsx
  src/shared/components/table/components/main/components/table-row/components/row-visibility-controller/RowVisibilityController.scss
  src/shared/components/table/components/main/components/table-row/components/row-visibility-controller/RowVisibilityController.tsx
  src/shared/components/table/components/table-controls/components/table-actions/TableActions.tsx
  src/shared/components/table/state/tableReducer.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

PR review cleanups
  src/content/app/tools/blast/components/listed-blast-submission/ListedBlastSubmission.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Minor cleanup
  src/content/app/genome-browser/components/zmenu/Zmenu.test.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Zmenu bugfixes (#775)
  src/content/app/genome-browser/components/zmenu/Zmenu.test.tsx
  src/content/app/genome-browser/components/zmenu/Zmenu.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

A couple of PR changes
  src/content/app/genome-browser/state/browser-general/browserGeneralSelectors.ts
  src/content/app/genome-browser/state/browser-general/browserGeneralSlice.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

fix wrong updateObjectTrackStates call
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/track-panel-items/TrackPanelGene.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update transcript track eye behaviour (#771)
  package-lock.json
  package.json
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/track-panel-items/TrackPanelGene.tsx
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/track-panel-items/TrackPanelRegularItem.tsx
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/track-panel-items/TrackPanelTranscript.tsx
  src/content/app/genome-browser/components/track-panel/trackPanelConfig.ts
  src/content/app/genome-browser/hooks/useGenomeBrowser.ts
  src/content/app/genome-browser/services/browserStorageService.test.ts
  src/content/app/genome-browser/services/browserStorageService.ts
  src/content/app/genome-browser/state/browser-general/browserGeneralSelectors.ts
  src/content/app/genome-browser/state/browser-general/browserGeneralSlice.ts
  src/content/app/genome-browser/state/track-config/trackConfigSlice.ts
  src/shared/components/visibility-icon/VisibilityIcon.scss
  tests/setup-jest.js
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Remove production check for multiple transcripts
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/track-panel-items/TrackPanelGene.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Add support for missing genomes and features
  gitlab-ci-templates/.setup-review-template.yaml
  src/content/app/entity-viewer/EntityViewer.tsx
  src/content/app/entity-viewer/EntityViewerPage.tsx
  src/content/app/entity-viewer/hooks/useEntityViewerIds.ts
  src/content/app/entity-viewer/hooks/useEntityViewerUrlChecks.ts
  src/content/app/entity-viewer/state/api/entityViewerThoasSlice.ts
  src/content/app/entity-viewer/state/api/queries/genePageMetaQuery.ts
  src/content/app/entity-viewer/state/general/entityViewerGeneralSlice.ts
  src/content/app/genome-browser/Browser.test.tsx
  src/content/app/genome-browser/Browser.tsx
  src/content/app/genome-browser/hooks/useGenomeBrowserIds.tsx
  src/content/app/genome-browser/hooks/useGenomeBrowserUrlCheck.ts
  src/content/app/genome-browser/state/browser-general/browserGeneralSelectors.ts
  src/content/app/genome-browser/state/browser-general/browserGeneralSlice.ts
  src/content/app/species-selector/components/popular-species-button/PopularSpeciesButton.tsx
  src/content/app/species-selector/state/speciesSelectorEpics.ts
  src/content/app/species-selector/state/speciesSelectorSelectors.ts
  src/content/app/species-selector/state/speciesSelectorSlice.ts
  src/content/app/species/SpeciesPage.tsx
  src/content/app/species/SpeciesPageContent.tsx
  src/root/rootReducer.ts
  src/routes/routesConfig.tsx
  src/server/routes/viewsRouter.tsx
  src/server/serverSideReduxStore.ts
  src/shared/components/alert-button/AlertButton.scss
  src/shared/components/button-link/ButtonLink.scss
  src/shared/components/error-screen/ErrorScreen.scss
  src/shared/components/error-screen/images/general-error-1.jpg
  src/shared/components/error-screen/images/general-error-2.jpg
  src/shared/components/error-screen/images/general-error-3.jpg
  src/shared/components/error-screen/url-errors/MissingFeatureError.tsx
  src/shared/components/error-screen/url-errors/MissingGenomeError.tsx
  src/shared/components/error-screen/url-errors/UrlError.scss
  src/shared/components/selected-species/selectedSpeciesHelpers.ts
  src/shared/helpers/focusObjectHelpers.ts
  src/shared/state/api-slices/thoasSlice.ts
  src/shared/state/genome/genomeSelectors.ts
  stories/shared-components/alert-button/AlertButton.stories.scss
  tests/fixtures/browser.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Add pagiantion
  src/shared/components/table/components/main/components/table-body/TableBody.tsx
  src/shared/components/table/components/main/components/table-header/TableHeader.tsx
  src/shared/components/table/components/main/components/table-row/TableRow.tsx
  src/shared/components/table/components/table-controls/components/pagination/Pagination.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update ensembl-genome-browser to 0.4.2
  package-lock.json
  package.json
Due: none

Show selected species in BrowserAppBar even if user is on a missing genome page
  src/content/app/genome-browser/components/browser-app-bar/BrowserAppBar.tsx
  src/content/app/genome-browser/hooks/useGenomeBrowserUrlCheck.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Sticky header
  src/shared/components/table/Table.scss
  src/shared/components/table/Table.tsx
  src/shared/components/table/components/main/components/table-header/TableHeader.tsx
  src/shared/components/table/components/table-controls/TableControls.scss
  stories/shared-components/table/Table.stories.scss
  stories/shared-components/table/Table.stories.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Make individual transcripts work
  package-lock.json
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/track-panel-items/TrackPanelGene.tsx
  src/content/app/genome-browser/hooks/useGenomeBrowser.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update stories/shared-components/alert-button/AlertButton.stories.scss
  stories/shared-components/alert-button/AlertButton.stories.scss
Due: prettier --write, stylelint

Only update transcript ids if they belong to current gene
  package-lock.json
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/track-panel-items/TrackPanelGene.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Extract genome error status checking into a single function
  src/content/app/entity-viewer/EntityViewerPage.tsx
  src/content/app/genome-browser/hooks/useGenomeBrowserIds.tsx
  src/content/app/species/SpeciesPage.tsx
  src/content/app/species/SpeciesPageContent.tsx
  src/shared/state/genome/genomeApiSlice.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

PR review cleanups
  src/content/app/tools/blast/components/listed-blast-submission/ListedBlastSubmission.scss
  src/content/app/tools/blast/components/listed-blast-submission/ListedBlastSubmission.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Update styles for the active and the disabled states of ButtonLink
  src/shared/components/button-link/ButtonLink.scss
Due: prettier --write, stylelint

Use stringified visible transcripts as a useEffect dependency
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/track-panel-items/TrackPanelGene.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Remove commented code
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/track-panel-items/TrackPanelGene.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write
