Repository Ensembl/ensembl-client: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Update visuals for epigenome activity
  src/content/app/regulatory-activity-viewer/components/epigenomes-activity/EpigenomesActivityContainer.module.css
  src/content/app/regulatory-activity-viewer/components/epigenomes-activity/EpigenomesActivityImage.tsx
  src/content/app/regulatory-activity-viewer/components/epigenomes-activity/EpigenomesActivityImageContainer.tsx
  src/content/app/regulatory-activity-viewer/components/epigenomes-activity/epigenomes-table/EpigenomesTable.module.css
  src/content/app/regulatory-activity-viewer/components/epigenomes-activity/epigenomes-table/EpigenomesTable.tsx
  src/content/app/regulatory-activity-viewer/components/epigenomes-activity/epigenomes-table/EpigenomesTableToggle.module.css
  src/content/app/regulatory-activity-viewer/components/epigenomes-activity/epigenomes-table/EpigenomesTableToggle.tsx
  src/content/app/regulatory-activity-viewer/components/epigenomes-activity/epigenomes-table/epigenomesTableState.ts
  src/content/app/regulatory-activity-viewer/components/main-content-bottom-view-controls/MainContentBottomViewControls.module.css
  src/content/app/regulatory-activity-viewer/components/main-content-bottom-view-controls/MainContentBottomViewControls.tsx
  src/content/app/regulatory-activity-viewer/components/region-activity-section/RegionActivitySection.module.css
  src/content/app/regulatory-activity-viewer/components/region-activity-section/RegionActivitySection.tsx
  src/content/app/regulatory-activity-viewer/components/region-overview/RegionOverview.tsx
  src/content/app/regulatory-activity-viewer/components/selected-epigenomes/SelectedEpigenomes.tsx
  src/content/app/regulatory-activity-viewer/components/selected-epigenomes/epigenomes-sorter/EpigenomeLabels.module.css
  src/content/app/regulatory-activity-viewer/components/selected-epigenomes/epigenomes-sorter/EpigenomeLabels.tsx
  src/content/app/regulatory-activity-viewer/state/ui/uiSelectors.ts
  src/content/app/regulatory-activity-viewer/state/ui/uiSlice.ts
  src/global/globalConfig.ts
  src/shared/components/close-button/CloseButton.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Update regulation legend
  src/content/app/genome-browser/constants/regulationLegend.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update stuff in the middle section
  src/content/app/regulatory-activity-viewer/RegulatoryActivityViewer.tsx
  src/content/app/regulatory-activity-viewer/components/activity-viewer-actions-selector/ActivityViewerActionsSelector.tsx
  src/content/app/regulatory-activity-viewer/components/epigenomes-activity/epigenomes-table/EpigenomesTable.module.css
  src/content/app/regulatory-activity-viewer/components/main-content-bottom-view-controls/MainContentBottomViewControls.module.css
  src/content/app/regulatory-activity-viewer/components/main-content-bottom-view-controls/MainContentBottomViewControls.tsx
  src/content/app/regulatory-activity-viewer/components/selected-epigenomes/SelectedEpigenomes.module.css
  src/content/app/regulatory-activity-viewer/components/selected-epigenomes/SelectedEpigenomes.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Fix code for combining of epigenomes
  src/content/app/regulatory-activity-viewer/contexts/ActivityViewerEpigenomesContextProvider.tsx
  src/content/app/regulatory-activity-viewer/helpers/combine-epigenomes/combineEpigenomes.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Use relarive url for regulation api endpoints
  config.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update top bar, region overview, and sidebar
  src/content/app/regulatory-activity-viewer/RegulatoryActivityViewer.tsx
  src/content/app/regulatory-activity-viewer/components/activity-viewer-focus-feature-info/ActivityViewerFocusFeatureInfo.module.css
  src/content/app/regulatory-activity-viewer/components/activity-viewer-focus-feature-info/ActivityViewerFocusFeatureInfo.tsx
  src/content/app/regulatory-activity-viewer/components/activity-viewer-sidebar/epigenome-filters-view/EpigenomeFiltersView.module.css
  src/content/app/regulatory-activity-viewer/components/activity-viewer-sidebar/sidebar-default-view/SidebarDefaultView.tsx
  src/content/app/regulatory-activity-viewer/components/activity-viewer-top-bar/ActivityViewerTopBar.module.css
  src/content/app/regulatory-activity-viewer/components/activity-viewer-top-bar/ActivityViewerTopBar.tsx
  src/content/app/regulatory-activity-viewer/components/region-activity-section/RegionActivitySection.module.css
  src/content/app/regulatory-activity-viewer/components/region-activity-section/RegionActivitySection.tsx
  src/content/app/regulatory-activity-viewer/components/region-overview/RegionOverview.module.css
  src/content/app/regulatory-activity-viewer/components/region-overview/RegionOverview.tsx
  src/content/app/regulatory-activity-viewer/components/region-overview/region-overview-zoom-buttons/RegionOverviewZoomButtons.module.css
  src/content/app/regulatory-activity-viewer/components/region-overview/region-overview-zoom-buttons/RegionOverviewZoomButtons.tsx
  src/content/app/regulatory-activity-viewer/components/selected-epigenomes/epigenomes-sorter/EpigenomeLabels.module.css
  src/shared/components/collapsible-section/CollapsibleSection.module.css
  src/shared/components/gene-name/GeneName.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Updates for the sidebar, and to show a spinner for the regulatory activity visualisation
  src/content/app/regulatory-activity-viewer/components/activity-viewer-middle-column-loader/ActivityViewerMiddleColumnLoader.module.css
  src/content/app/regulatory-activity-viewer/components/activity-viewer-middle-column-loader/ActivityViewerMiddleColumnLoader.tsx
  src/content/app/regulatory-activity-viewer/components/activity-viewer-sidebar/activity-tracks-legend/ActivityTracksLegend.module.css
  src/content/app/regulatory-activity-viewer/components/activity-viewer-sidebar/activity-tracks-legend/ActivityTracksLegend.tsx
  src/content/app/regulatory-activity-viewer/components/activity-viewer-sidebar/sidebar-default-view/SidebarDefaultView.module.css
  src/content/app/regulatory-activity-viewer/components/activity-viewer-sidebar/sidebar-default-view/SidebarDefaultView.tsx
  src/content/app/regulatory-activity-viewer/components/epigenomes-activity/EpigenomesActivityContainer.module.css
  src/content/app/regulatory-activity-viewer/components/epigenomes-activity/EpigenomesActivityImageContainer.tsx
  src/content/app/regulatory-activity-viewer/components/epigenomes-activity/epigenomes-table/EpigenomesTable.tsx
  src/content/app/regulatory-activity-viewer/components/region-activity-section/RegionActivitySection.tsx
  src/content/app/regulatory-activity-viewer/components/region-activity-section/useRegionActivityData.ts
  src/content/app/regulatory-activity-viewer/state/ui/uiSelectors.ts
  src/content/app/regulatory-activity-viewer/state/ui/uiSlice.ts
  src/content/app/regulatory-activity-viewer/types/epigenomeActivity.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Memoize EpigenomesActivityImageContainer
  src/content/app/regulatory-activity-viewer/components/epigenomes-activity/EpigenomesActivityImageContainer.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update regulation track legend (#1217)
  src/content/app/genome-browser/constants/regulationLegend.ts
  src/content/app/species/state/api/speciesApiTypes.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Reduced re-rendering; added buttons to sidebar toolstrip; rounded the corners on region overview
  src/content/app/regulatory-activity-viewer/RegulatoryActivityViewer.tsx
  src/content/app/regulatory-activity-viewer/components/activity-viewer-sidebar-toolstrip/ActivityViewerSidebarToolstrip.tsx
  src/content/app/regulatory-activity-viewer/components/region-overview/RegionOverview.tsx
  src/content/app/regulatory-activity-viewer/components/region-overview/region-overview-image/RegionOverviewImage.tsx
  src/content/app/regulatory-activity-viewer/components/region-overview/region-overview-image/TranslateRegionOverviewContents.tsx
  src/content/app/regulatory-activity-viewer/components/selected-epigenomes/SelectedEpigenomes.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Slightly improve position of zoom-in notice; update description of launchbar button
  src/content/app/regulatory-activity-viewer/components/region-activity-section/RegionActivitySection.tsx
  src/header/launchbar/LaunchbarButton.tsx
  src/header/launchbar/RegulationViewerLaunchbarButton.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Change name of a field: selectedAt -> addedAt
  src/content/app/species-selector/state/species-selector-general-slice/speciesSelectorGeneralSelectors.ts
  src/content/app/species-selector/state/species-selector-general-slice/speciesSelectorGeneralSlice.ts
  src/content/app/species-selector/state/speciesSelectorEpics.ts
  src/content/app/species-selector/types/committedItem.ts
  src/content/app/tools/blast/components/blast-species-selector/BlastSpeciesSelectorModal.tsx
  src/content/app/tools/blast/state/blast-form/blastFormSlice.ts
  src/content/app/tools/vep/types/vepSubmission.ts
  src/services/indexeddb-migrations/speciesStoreMigrations.test.ts
  src/services/indexeddb-migrations/speciesStoreMigrations.ts
  src/shared/components/species-name/fixtures/speciesTestData.ts
  stories/shared-components/species-tabs-slider/speciesData.ts
  tests/fixtures/selected-species.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Fix species lozenge order with a timestamp (#1216)
  src/content/app/species-selector/state/species-selector-general-slice/speciesSelectorGeneralSelectors.ts
  src/content/app/species-selector/state/species-selector-general-slice/speciesSelectorGeneralSlice.ts
  src/content/app/species-selector/state/speciesSelectorEpics.ts
  src/content/app/species-selector/types/committedItem.ts
  src/content/app/tools/blast/components/blast-species-selector/BlastSpeciesSelectorModal.tsx
  src/content/app/tools/blast/state/blast-form/blastFormSlice.ts
  src/content/app/tools/vep/types/vepSubmission.ts
  src/services/indexeddb-migrations/dbUpdateScheduler.ts
  src/services/indexeddb-migrations/speciesStoreMigrations.test.ts
  src/services/indexeddb-migrations/speciesStoreMigrations.ts
  src/services/indexeddb-service.ts
  src/shared/components/species-name/fixtures/speciesTestData.ts
  stories/shared-components/species-tabs-slider/speciesData.ts
  tests/fixtures/selected-species.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update dependencies
  .storybook/main.js
  .storybook/manager.js
  package-lock.json
  package.json
  src/shared/components/accordion/components/AccordionItemHeading.test.tsx
  src/shared/components/data-table/DataTable.test.tsx
  src/shared/components/data-table/components/main/components/table-row/TableRow.test.tsx
  src/shared/components/data-table/components/table-controls/components/table-actions/components/show-hide-columns/ShowHideColumns.test.tsx
  src/shared/components/expandable-section/ExpandableSection.test.tsx
  src/shared/components/image-button/ImageButton.test.tsx
  src/shared/components/pagination/Pagination.test.tsx
  src/shared/components/tabs/Tabs.test.tsx
  stories/shared-components/upload/FileDropZone.stories.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update dependencies (#1219)
  .storybook/main.js
  .storybook/manager.js
  package-lock.json
  package.json
  src/shared/components/accordion/components/AccordionItemHeading.test.tsx
  src/shared/components/data-table/DataTable.test.tsx
  src/shared/components/data-table/components/main/components/table-row/TableRow.test.tsx
  src/shared/components/data-table/components/table-controls/components/table-actions/components/show-hide-columns/ShowHideColumns.test.tsx
  src/shared/components/expandable-section/ExpandableSection.test.tsx
  src/shared/components/image-button/ImageButton.test.tsx
  src/shared/components/pagination/Pagination.test.tsx
  src/shared/components/tabs/Tabs.test.tsx
  stories/shared-components/upload/FileDropZone.stories.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Some further minor dependencies update
  package-lock.json
  package.json
Due: none

Cosmetic updates for regulatory activity viewer
  src/content/app/regulatory-activity-viewer/RegulatoryActivityViewer.module.css
  src/content/app/regulatory-activity-viewer/components/activity-viewer-focus-feature-info/ActivityViewerFocusFeatureInfo.module.css
  src/content/app/regulatory-activity-viewer/components/activity-viewer-focus-feature-info/ActivityViewerFocusFeatureInfo.tsx
  src/content/app/regulatory-activity-viewer/components/activity-viewer-sidebar/activity-tracks-legend/ActivityTracksLegend.module.css
  src/content/app/regulatory-activity-viewer/components/activity-viewer-sidebar/activity-tracks-legend/ActivityTracksLegend.tsx
  src/content/app/regulatory-activity-viewer/components/activity-viewer-sidebar/regulatory-feature-legend/RegulatoryFeatureLegend.module.css
  src/content/app/regulatory-activity-viewer/components/activity-viewer-sidebar/regulatory-feature-legend/RegulatoryFeatureLegend.tsx
  src/content/app/regulatory-activity-viewer/components/activity-viewer-sidebar/sidebar-default-view/SidebarDefaultView.tsx
  src/content/app/regulatory-activity-viewer/components/activity-viewer-top-bar/ActivityViewerTopBar.module.css
  src/content/app/regulatory-activity-viewer/components/main-content-bottom-view-controls/MainContentBottomViewControls.module.css
  src/content/app/regulatory-activity-viewer/components/main-content-bottom-view-controls/MainContentBottomViewControls.tsx
  src/shared/components/legend/Legend.module.css
  src/shared/components/legend/Legend.tsx
  src/shared/components/legend/LegendItem.tsx
  src/shared/components/legend/LegendMarker.tsx
  src/shared/components/legend/index.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Move epigenomes count to bottom row if middle section splits into two rows
  src/content/app/regulatory-activity-viewer/components/main-content-bottom-view-controls/MainContentBottomViewControls.module.css
Due: stylelint

Add a couple of paddings
  src/content/app/regulatory-activity-viewer/components/main-content-bottom-view-controls/MainContentBottomViewControls.module.css
Due: stylelint

Show gene extent if it gene extends beyond merged exons
  src/content/app/regulatory-activity-viewer/components/region-overview/region-overview-image/region-overview-gene/RegionOverviewGene.tsx
  src/content/app/regulatory-activity-viewer/types/regionOverview.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Fix data bug related to distributing genes and regulatory features that overlap several bins
  src/content/app/regulatory-activity-viewer/services/region-data-service/regionDataService.ts
  src/content/app/regulatory-activity-viewer/services/region-data-service/useRegionOverviewData.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Make sure to not use stale gene activity data
  src/content/app/regulatory-activity-viewer/components/gene-expression-levels/GeneExpressionLevels.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Fix tests
  src/content/app/regulatory-activity-viewer/services/region-data-service/regionDataService.test.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Updates for regulatory activity viewer (#1220)
  src/content/app/regulatory-activity-viewer/RegulatoryActivityViewer.module.css
  src/content/app/regulatory-activity-viewer/components/activity-viewer-focus-feature-info/ActivityViewerFocusFeatureInfo.module.css
  src/content/app/regulatory-activity-viewer/components/activity-viewer-focus-feature-info/ActivityViewerFocusFeatureInfo.tsx
  src/content/app/regulatory-activity-viewer/components/activity-viewer-sidebar/activity-tracks-legend/ActivityTracksLegend.module.css
  src/content/app/regulatory-activity-viewer/components/activity-viewer-sidebar/activity-tracks-legend/ActivityTracksLegend.tsx
  src/content/app/regulatory-activity-viewer/components/activity-viewer-sidebar/regulatory-feature-legend/RegulatoryFeatureLegend.module.css
  src/content/app/regulatory-activity-viewer/components/activity-viewer-sidebar/regulatory-feature-legend/RegulatoryFeatureLegend.tsx
  src/content/app/regulatory-activity-viewer/components/activity-viewer-sidebar/sidebar-default-view/SidebarDefaultView.tsx
  src/content/app/regulatory-activity-viewer/components/activity-viewer-top-bar/ActivityViewerTopBar.module.css
  src/content/app/regulatory-activity-viewer/components/gene-expression-levels/GeneExpressionLevels.tsx
  src/content/app/regulatory-activity-viewer/components/main-content-bottom-view-controls/MainContentBottomViewControls.module.css
  src/content/app/regulatory-activity-viewer/components/main-content-bottom-view-controls/MainContentBottomViewControls.tsx
  src/content/app/regulatory-activity-viewer/components/region-overview/region-overview-image/region-overview-gene/RegionOverviewGene.tsx
  src/content/app/regulatory-activity-viewer/services/region-data-service/regionDataService.test.ts
  src/content/app/regulatory-activity-viewer/services/region-data-service/regionDataService.ts
  src/content/app/regulatory-activity-viewer/services/region-data-service/useRegionOverviewData.ts
  src/content/app/regulatory-activity-viewer/types/regionOverview.ts
  src/shared/components/legend/Legend.module.css
  src/shared/components/legend/Legend.tsx
  src/shared/components/legend/LegendItem.tsx
  src/shared/components/legend/LegendMarker.tsx
  src/shared/components/legend/index.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Update dependencies
  package-lock.json
  package.json
Due: none

Fix the display of the 404 screen for missing gene
  src/content/app/entity-viewer/hooks/useEntityViewerUrlChecks.ts
  src/content/app/entity-viewer/services/entity-viewer-storage-service.ts
  src/content/app/entity-viewer/state/general/entityViewerGeneralSlice.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Relax check for missing gene
  src/content/app/entity-viewer/hooks/useEntityViewerUrlChecks.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update logic for setting active ids in Entity Viewer
  src/content/app/entity-viewer/EntityViewer.tsx
  src/content/app/entity-viewer/state/general/entityViewerGeneralSlice.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Properly remove active entity id from localstorage
  src/content/app/entity-viewer/services/entity-viewer-storage-service.ts
  src/content/app/entity-viewer/state/general/entityViewerGeneralSlice.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Properly remove active entity id from localstorage
  src/content/app/entity-viewer/EntityViewer.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Bump regulation (epigenomes) api version
  config.ts
  src/content/app/regulatory-activity-viewer/state/api/activityViewerApiSlice.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Show labels fetched from backend, and do not display gene expression data for no value
  src/content/app/regulatory-activity-viewer/components/gene-expression-levels/GeneExpressionLevels.tsx
  src/content/app/regulatory-activity-viewer/components/selected-epigenomes/epigenomes-sorter/EpigenomeLabels.tsx
  src/content/app/regulatory-activity-viewer/components/selected-epigenomes/epigenomes-sorter/sortEpigenomes.ts
  src/content/app/regulatory-activity-viewer/contexts/ActivityViewerEpigenomesContext.ts
  src/content/app/regulatory-activity-viewer/contexts/ActivityViewerEpigenomesContextProvider.tsx
  src/content/app/regulatory-activity-viewer/state/api/activityViewerApiSlice.ts
  src/content/app/regulatory-activity-viewer/types/epigenome.ts
  src/content/app/regulatory-activity-viewer/types/epigenomeGeneActivity.ts
  src/content/app/regulatory-activity-viewer/types/epigenomeLabels.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Slight rewording
  src/shared/components/error-screen/url-errors/MissingFeatureError.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Fix the display of the 404 screen for missing gene (#1221)
  src/content/app/entity-viewer/EntityViewer.tsx
  src/content/app/entity-viewer/hooks/useEntityViewerUrlChecks.ts
  src/content/app/entity-viewer/services/entity-viewer-storage-service.ts
  src/content/app/entity-viewer/state/general/entityViewerGeneralSlice.ts
  src/shared/components/error-screen/url-errors/MissingFeatureError.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Fetch epigenome labels from the api (#1222)
  src/content/app/regulatory-activity-viewer/components/gene-expression-levels/GeneExpressionLevels.tsx
  src/content/app/regulatory-activity-viewer/components/selected-epigenomes/epigenomes-sorter/EpigenomeLabels.tsx
  src/content/app/regulatory-activity-viewer/components/selected-epigenomes/epigenomes-sorter/sortEpigenomes.ts
  src/content/app/regulatory-activity-viewer/contexts/ActivityViewerEpigenomesContext.ts
  src/content/app/regulatory-activity-viewer/contexts/ActivityViewerEpigenomesContextProvider.tsx
  src/content/app/regulatory-activity-viewer/state/api/activityViewerApiSlice.ts
  src/content/app/regulatory-activity-viewer/types/epigenome.ts
  src/content/app/regulatory-activity-viewer/types/epigenomeGeneActivity.ts
  src/content/app/regulatory-activity-viewer/types/epigenomeLabels.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update label name (Filters -> Filter)
  src/content/app/regulatory-activity-viewer/components/activity-viewer-sidebar/configurations-view/ConfigurationsView.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Path conditions:
  eslint --max-warnings=0: any of: *.{ts,tsx}
  manage-licence-header add: any of: *.{ts,tsx}
  prettier --write: any of: *.{ts,tsx}
  stylelint: any of: *.css
