Repository Ensembl/ensembl-client: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Add VEP form reset
  src/content/app/tools/vep/state/vep-form/vepFormSlice.ts
  src/content/app/tools/vep/views/vep-form/VepForm.tsx
  src/content/app/tools/vep/views/vep-form/vep-form-reset-button/VepFormResetButton.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Show max upload size; warn when file is larger; close variant section on reset
  src/content/app/tools/vep/views/vep-form/vep-form-variants-section/VepFormVariantsSection.module.css
  src/content/app/tools/vep/views/vep-form/vep-form-variants-section/VepFormVariantsSection.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Disable species lozenges outside of VEP form view
  src/content/app/tools/vep/components/vep-app-bar/VepAppBar.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Remove forgotten comment
  src/shared/components/pseudo-radio-button/PseudoRadioButtonGroup.module.css
Due: stylelint

Move config-fetching logic into hook
  src/content/app/tools/vep/components/vep-top-bar/VepTopBar.tsx
  src/content/app/tools/vep/state/vep-api/vepApiSlice.ts
  src/content/app/tools/vep/state/vep-form/vepFormSlice.ts
  src/content/app/tools/vep/views/vep-form/VepForm.tsx
  src/content/app/tools/vep/views/vep-form/useVepFormConfig.ts
  src/content/app/tools/vep/views/vep-form/vep-form-options-section/VepFormOptionsSection.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Only show spinner in the options section if variants input is committed
  src/content/app/tools/vep/views/vep-form/vep-form-options-section/VepFormOptionsSection.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Vep form bugfixes and improvements (#1151)
  src/content/app/tools/vep/components/vep-app-bar/VepAppBar.tsx
  src/content/app/tools/vep/components/vep-top-bar/VepTopBar.tsx
  src/content/app/tools/vep/state/vep-api/vepApiSlice.ts
  src/content/app/tools/vep/state/vep-form/vepFormSlice.ts
  src/content/app/tools/vep/views/vep-form/VepForm.module.css
  src/content/app/tools/vep/views/vep-form/VepForm.tsx
  src/content/app/tools/vep/views/vep-form/useVepFormConfig.ts
  src/content/app/tools/vep/views/vep-form/vep-form-options-section/VepFormOptionsSection.module.css
  src/content/app/tools/vep/views/vep-form/vep-form-options-section/VepFormOptionsSection.tsx
  src/content/app/tools/vep/views/vep-form/vep-form-options-section/vep-form-gene-options/VepFormGeneOptions.tsx
  src/content/app/tools/vep/views/vep-form/vep-form-reset-button/VepFormResetButton.tsx
  src/content/app/tools/vep/views/vep-form/vep-form-variants-section/VepFormVariantsSection.module.css
  src/content/app/tools/vep/views/vep-form/vep-form-variants-section/VepFormVariantsSection.tsx
  src/shared/components/pseudo-radio-button/PseudoRadioButton.module.css
  src/shared/components/pseudo-radio-button/PseudoRadioButton.tsx
  src/shared/components/pseudo-radio-button/PseudoRadioButtonGroup.module.css
  src/shared/components/pseudo-radio-button/PseudoRadioButtonGroup.tsx
  src/shared/components/pseudo-radio-button/index.ts
  src/shared/components/textarea/Textarea.module.css
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Reset the input committed flag when user clears the variants input
  src/content/app/tools/vep/views/vep-form/vep-form-variants-section/VepFormVariantsSection.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Fix species deletion from species manager table
  src/content/app/species-selector/views/species-manager/useFilteredGenomes.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Fix species deletion from species manager table (#1152)
  src/content/app/species-selector/views/species-manager/useFilteredGenomes.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Add VEP storage service to store VEP submissions in indexedDB
  src/content/app/tools/vep/components/vep-submit-button/VepSubmitButton.tsx
  src/content/app/tools/vep/services/vepStorageService.test.ts
  src/content/app/tools/vep/services/vepStorageService.ts
  src/content/app/tools/vep/services/vepStorageServiceConstants.ts
  src/content/app/tools/vep/state/vep-api/vepApiSlice.ts
  src/content/app/tools/vep/state/vep-form/vepFormSelectors.ts
  src/content/app/tools/vep/state/vep-form/vepFormSlice.ts
  src/content/app/tools/vep/types/vepSubmission.ts
  src/content/app/tools/vep/views/vep-form/VepForm.tsx
  src/content/app/tools/vep/views/vep-form/vep-form-variants-section/VepFormVariantsSection.tsx
  src/services/indexeddb-service.ts
  tests/fixtures/vep/mockVepFormConfig.ts
  tests/fixtures/vep/mockVepResults.ts
  tests/fixtures/vep/vepSubmission.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Check that lozenge event to expand/collapse transcripts came from focus track
  src/content/app/genome-browser/hooks/useFocusTrack.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update tests for VEP storage service
  src/content/app/tools/vep/services/vepStorageService.test.ts
  src/content/app/tools/vep/services/vepStorageService.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Add VEP submissions redux state
  src/content/app/tools/vep/VepPageContent.tsx
  src/content/app/tools/vep/services/vepStorageService.ts
  src/content/app/tools/vep/state/vep-form/vepFormSlice.ts
  src/content/app/tools/vep/state/vep-submissions/vepSubmissionsSelectors.ts
  src/content/app/tools/vep/state/vep-submissions/vepSubmissionsSlice.ts
  src/content/app/tools/vep/types/vepSubmission.ts
  src/content/app/tools/vep/views/vep-submissions/VepSubmissions.module.css
  src/content/app/tools/vep/views/vep-submissions/VepSubmissions.tsx
  src/root/Root.tsx
  src/root/useRestoredReduxState.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Add VEP submissions view
  src/content/app/tools/vep/components/vep-submit-button/VepSubmitButton.tsx
  src/content/app/tools/vep/services/vepStorageService.ts
  src/content/app/tools/vep/state/vep-form/vepFormSlice.ts
  src/content/app/tools/vep/state/vep-submissions/vepSubmissionsSlice.ts
  src/content/app/tools/vep/views/vep-submissions/VepSubmissions.module.css
  src/content/app/tools/vep/views/vep-submissions/VepSubmissions.tsx
  src/content/app/tools/vep/views/vep-submissions/listed-vep-submission/ListedVepSubmission.module.css
  src/content/app/tools/vep/views/vep-submissions/listed-vep-submission/ListedVepSubmission.tsx
  src/shared/helpers/urlHelper.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Remove unused vepStorageService methods and update tests
  src/content/app/tools/vep/services/vepStorageService.test.ts
  src/content/app/tools/vep/services/vepStorageService.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Remove commented out test
  src/content/app/tools/vep/services/vepStorageService.test.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update/cleanup comments
  src/content/app/tools/vep/services/vepStorageService.test.ts
  src/content/app/tools/vep/services/vepStorageService.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Fix expansion/collapsing of transcripts in the focus gene track of genome browser (#1153)
  src/content/app/genome-browser/hooks/useFocusTrack.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

add gene symbol to search results table
  src/shared/components/gene-search-panel/GeneSearchPanel.module.css
  src/shared/components/gene-search-panel/GeneSearchPanel.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

do not transform gene symbol case
  src/shared/components/gene-search-panel/GeneSearchPanel.module.css
Due: stylelint

padding to margin
  src/shared/components/gene-search-panel/GeneSearchPanel.module.css
Due: stylelint

add gene symbol to search results table (#1155)
  src/shared/components/gene-search-panel/GeneSearchPanel.module.css
  src/shared/components/gene-search-panel/GeneSearchPanel.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Update name of a client-side submission status
  src/content/app/tools/vep/types/vepSubmission.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Fix failing vepStorageService test
  src/content/app/tools/vep/services/vepStorageService.test.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Use indexedDB to store VEP submissions, and add an initial display of VEP submissions list (#1154)
  src/content/app/tools/vep/VepPageContent.tsx
  src/content/app/tools/vep/components/vep-submit-button/VepSubmitButton.tsx
  src/content/app/tools/vep/services/vepStorageService.test.ts
  src/content/app/tools/vep/services/vepStorageService.ts
  src/content/app/tools/vep/services/vepStorageServiceConstants.ts
  src/content/app/tools/vep/state/vep-api/vepApiSlice.ts
  src/content/app/tools/vep/state/vep-form/vepFormSelectors.ts
  src/content/app/tools/vep/state/vep-form/vepFormSlice.ts
  src/content/app/tools/vep/state/vep-submissions/vepSubmissionsSelectors.ts
  src/content/app/tools/vep/state/vep-submissions/vepSubmissionsSlice.ts
  src/content/app/tools/vep/types/vepSubmission.ts
  src/content/app/tools/vep/views/vep-form/VepForm.tsx
  src/content/app/tools/vep/views/vep-form/vep-form-variants-section/VepFormVariantsSection.tsx
  src/content/app/tools/vep/views/vep-submissions/VepSubmissions.module.css
  src/content/app/tools/vep/views/vep-submissions/VepSubmissions.tsx
  src/content/app/tools/vep/views/vep-submissions/listed-vep-submission/ListedVepSubmission.module.css
  src/content/app/tools/vep/views/vep-submissions/listed-vep-submission/ListedVepSubmission.tsx
  src/root/Root.tsx
  src/root/useRestoredReduxState.ts
  src/services/indexeddb-service.ts
  src/shared/helpers/urlHelper.ts
  tests/fixtures/vep/mockVepFormConfig.ts
  tests/fixtures/vep/mockVepResults.ts
  tests/fixtures/vep/vepSubmission.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Update listed VEP submissions; add SpeciesName component
  src/content/app/tools/vep/components/vep-submission-header/VepSubmissionHeader.module.css
  src/content/app/tools/vep/components/vep-submission-header/VepSubmissionHeader.tsx
  src/content/app/tools/vep/components/vep-submit-button/VepSubmitButton.tsx
  src/content/app/tools/vep/components/vep-top-bar/EnsemblVepLogo.tsx
  src/content/app/tools/vep/components/vep-top-bar/EnsemblVepVersion.tsx
  src/content/app/tools/vep/components/vep-top-bar/VepFormTopBar.tsx
  src/content/app/tools/vep/components/vep-top-bar/VepGenericTopBar.tsx
  src/content/app/tools/vep/components/vep-top-bar/VepTopBar.module.css
  src/content/app/tools/vep/components/vep-top-bar/VepTopBar.tsx
  src/content/app/tools/vep/components/vep-top-bar/VepTopBarNavButtons.tsx
  src/content/app/tools/vep/views/vep-form/vep-form-species-section/VepFormSpeciesSection.module.css
  src/content/app/tools/vep/views/vep-form/vep-form-species-section/VepFormSpeciesSection.tsx
  src/content/app/tools/vep/views/vep-submissions/VepSubmissions.module.css
  src/content/app/tools/vep/views/vep-submissions/listed-vep-submission/ListedVepSubmission.module.css
  src/content/app/tools/vep/views/vep-submissions/listed-vep-submission/ListedVepSubmission.tsx
  src/shared/components/selected-species/SelectedSpecies.tsx
  src/shared/components/selected-species/SpeciesLozenge.module.css
  src/shared/components/selected-species/SpeciesLozenge.tsx
  src/shared/components/species-name-parts/AssemblyAccessionId.tsx
  src/shared/components/species-name-parts/SpeciesCommonName.tsx
  src/shared/components/species-name-parts/SpeciesNameParts.module.css
  src/shared/components/species-name-parts/SpeciesReference.tsx
  src/shared/components/species-name-parts/SpeciesScientificName.tsx
  src/shared/components/species-name-parts/SpeciesType.tsx
  src/shared/components/species-name/SpeciesName.module.css
  src/shared/components/species-name/SpeciesName.test.tsx
  src/shared/components/species-name/SpeciesName.tsx
  src/shared/components/species-name/fixtures/speciesTestData.ts
  src/styles/main.css
  stories/shared-components/species-lozenge/SpeciesLozenge.stories.tsx
  stories/shared-components/species-lozenge/SpeciesLozengeReduxWrapper.tsx
  stories/shared-components/species-lozenge/speciesData.ts
  stories/shared-components/species-name/SpeciesName.stories.module.css
  stories/shared-components/species-name/SpeciesName.stories.tsx
  stories/shared-components/species-tabs-slider/SpeciesTabsSlider.stories.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Remove commented code
  src/shared/components/selected-species/SpeciesLozenge.module.css
Due: stylelint

Update styles and content of listed VEP submission items
  src/content/app/tools/vep/components/vep-submission-header/VepSubmissionHeader.tsx
  src/content/app/tools/vep/types/vepSubmission.ts
  src/content/app/tools/vep/views/vep-submissions/listed-vep-submission/ListedVepSubmission.module.css
  src/content/app/tools/vep/views/vep-submissions/listed-vep-submission/ListedVepSubmission.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Update styles for VepFormTopBar to adjust to smaller screens
  src/content/app/tools/vep/VepPageContent.module.css
  src/content/app/tools/vep/components/vep-top-bar/VepFormTopBar.tsx
  src/content/app/tools/vep/components/vep-top-bar/VepTopBar.module.css
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Update styles to fix stylelint complaints
  src/content/app/tools/vep/components/vep-top-bar/VepTopBar.module.css
  src/shared/components/species-name-parts/SpeciesNameParts.module.css
  src/shared/components/species-name/SpeciesName.module.css
Due: stylelint

Update listed VEP submissions; add SpeciesName component (#1156)
  src/content/app/tools/vep/VepPageContent.module.css
  src/content/app/tools/vep/components/vep-submission-header/VepSubmissionHeader.module.css
  src/content/app/tools/vep/components/vep-submission-header/VepSubmissionHeader.tsx
  src/content/app/tools/vep/components/vep-submit-button/VepSubmitButton.tsx
  src/content/app/tools/vep/components/vep-top-bar/EnsemblVepLogo.tsx
  src/content/app/tools/vep/components/vep-top-bar/EnsemblVepVersion.tsx
  src/content/app/tools/vep/components/vep-top-bar/VepFormTopBar.tsx
  src/content/app/tools/vep/components/vep-top-bar/VepGenericTopBar.tsx
  src/content/app/tools/vep/components/vep-top-bar/VepTopBar.module.css
  src/content/app/tools/vep/components/vep-top-bar/VepTopBar.tsx
  src/content/app/tools/vep/components/vep-top-bar/VepTopBarNavButtons.tsx
  src/content/app/tools/vep/types/vepSubmission.ts
  src/content/app/tools/vep/views/vep-form/vep-form-species-section/VepFormSpeciesSection.module.css
  src/content/app/tools/vep/views/vep-form/vep-form-species-section/VepFormSpeciesSection.tsx
  src/content/app/tools/vep/views/vep-submissions/VepSubmissions.module.css
  src/content/app/tools/vep/views/vep-submissions/listed-vep-submission/ListedVepSubmission.module.css
  src/content/app/tools/vep/views/vep-submissions/listed-vep-submission/ListedVepSubmission.tsx
  src/shared/components/selected-species/SelectedSpecies.tsx
  src/shared/components/selected-species/SpeciesLozenge.module.css
  src/shared/components/selected-species/SpeciesLozenge.tsx
  src/shared/components/species-name-parts/AssemblyAccessionId.tsx
  src/shared/components/species-name-parts/SpeciesCommonName.tsx
  src/shared/components/species-name-parts/SpeciesNameParts.module.css
  src/shared/components/species-name-parts/SpeciesReference.tsx
  src/shared/components/species-name-parts/SpeciesScientificName.tsx
  src/shared/components/species-name-parts/SpeciesType.tsx
  src/shared/components/species-name/SpeciesName.module.css
  src/shared/components/species-name/SpeciesName.test.tsx
  src/shared/components/species-name/SpeciesName.tsx
  src/shared/components/species-name/fixtures/speciesTestData.ts
  src/styles/main.css
  stories/shared-components/species-lozenge/SpeciesLozenge.stories.tsx
  stories/shared-components/species-lozenge/SpeciesLozengeReduxWrapper.tsx
  stories/shared-components/species-lozenge/speciesData.ts
  stories/shared-components/species-name/SpeciesName.stories.module.css
  stories/shared-components/species-name/SpeciesName.stories.tsx
  stories/shared-components/species-tabs-slider/SpeciesTabsSlider.stories.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Poll for VEP submission status using redux action listener middleware
  src/content/app/tools/vep/components/vep-submit-button/VepSubmitButton.tsx
  src/content/app/tools/vep/services/vepStorageService.test.ts
  src/content/app/tools/vep/services/vepStorageService.ts
  src/content/app/tools/vep/state/vep-action-listeners/vepActionListeners.test.ts
  src/content/app/tools/vep/state/vep-action-listeners/vepActionListeners.ts
  src/content/app/tools/vep/state/vep-api/vepApiSlice.ts
  src/content/app/tools/vep/state/vep-submissions/vepSubmissionsSlice.ts
  src/content/app/tools/vep/types/vepSubmission.ts
  src/listenerMiddleware.ts
  src/store.ts
  tests/fixtures/vep/vepSubmission.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Create a dedicated VEP submission status polling class
  src/content/app/tools/vep/state/vep-action-listeners/vepActionListeners.ts
  src/content/app/tools/vep/state/vep-action-listeners/vepSubmissionStatusPolling.test.ts
  src/content/app/tools/vep/state/vep-action-listeners/vepSubmissionStatusPolling.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Enable deletion of VEP submissions
  src/content/app/tools/vep/components/vep-submission-header/VepSubmissionHeader.tsx
  src/content/app/tools/vep/state/vep-action-listeners/vepActionListeners.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Remove tests specifically of the middleware
  src/content/app/tools/vep/state/vep-action-listeners/vepActionListeners.test.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Clean up a comment
  src/content/app/tools/vep/state/vep-action-listeners/vepSubmissionStatusPolling.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Order submission lists in reverse chronological order
  src/content/app/tools/vep/state/vep-submissions/vepSubmissionsSelectors.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update VEP launchbar button
  src/header/launchbar/VepLaunchbarButton.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Add polling for VEP submission status (#1157)
  src/content/app/tools/vep/components/vep-submission-header/VepSubmissionHeader.tsx
  src/content/app/tools/vep/components/vep-submit-button/VepSubmitButton.tsx
  src/content/app/tools/vep/services/vepStorageService.test.ts
  src/content/app/tools/vep/services/vepStorageService.ts
  src/content/app/tools/vep/state/vep-action-listeners/vepActionListeners.ts
  src/content/app/tools/vep/state/vep-action-listeners/vepSubmissionStatusPolling.test.ts
  src/content/app/tools/vep/state/vep-action-listeners/vepSubmissionStatusPolling.ts
  src/content/app/tools/vep/state/vep-api/vepApiSlice.ts
  src/content/app/tools/vep/state/vep-submissions/vepSubmissionsSelectors.ts
  src/content/app/tools/vep/state/vep-submissions/vepSubmissionsSlice.ts
  src/content/app/tools/vep/types/vepSubmission.ts
  src/header/launchbar/VepLaunchbarButton.tsx
  src/listenerMiddleware.ts
  src/store.ts
  tests/fixtures/vep/vepSubmission.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Path conditions:
  eslint --max-warnings=0: any of: *.{ts,tsx}
  manage-licence-header add: any of: *.{ts,tsx}
  prettier --write: any of: *.{ts,tsx}
  stylelint: any of: *.css
