Repository Ensembl/ensembl-client: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Fix page metadata for Entity Viewer and Help page (#1041)
  src/content/app/entity-viewer/EntityViewer.tsx
  src/content/app/entity-viewer/EntityViewerPage.tsx
  src/content/app/help/Help.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update styles for species results table
  src/content/app/genome-browser/components/drawer/drawer-views/variant-group-legend/VariantGroupLegend.scss
  src/content/app/new-species-selector/components/genome-selector-by-species-taxonomy-id/GenomeSelectorBySpeciesTaxonomyId.scss
  src/content/app/new-species-selector/components/species-search-results-table/SpeciesSearchResultsTable.scss
  src/content/app/new-species-selector/components/species-search-results-table/SpeciesSearchResultsTable.tsx
  src/shared/components/info-pill/InfoPill.scss
  src/shared/components/input/ShadedInput.tsx
  src/shared/components/table/ColumnHead.scss
  src/shared/components/table/Table.scss
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Do not set shaded input size by default
  src/content/app/new-species-selector/components/genomes-filter-field/GenomesFilterField.tsx
  src/shared/components/input/ShadedInput.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Add Blast species selector
  src/content/app/new-species-selector/components/genome-selector-by-search-query/GenomeSelectorBySearchQuery.tsx
  src/content/app/new-species-selector/components/genome-selector-by-species-taxonomy-id/GenomeSelectorBySpeciesTaxonomyId.tsx
  src/content/app/new-species-selector/components/selectable-genomes-table/useSelectableGenomesTable.ts
  src/content/app/new-species-selector/components/species-search-field/SpeciesSearchField.tsx
  src/content/app/new-species-selector/components/species-search-results-table/SpeciesSearchResultsTable.scss
  src/content/app/new-species-selector/components/species-search-results-table/SpeciesSearchResultsTable.tsx
  src/content/app/tools/blast/components/blast-selected-species-list/BlastSelectedSpeciesList.scss
  src/content/app/tools/blast/components/blast-selected-species-list/BlastSelectedSpeciesList.tsx
  src/content/app/tools/blast/components/blast-selected-species-list/BlastSelectedSpeciesListHeader.scss
  src/content/app/tools/blast/components/blast-selected-species-list/BlastSelectedSpeciesListHeader.tsx
  src/content/app/tools/blast/components/blast-species-selector/BlastSpeciesSelector.scss
  src/content/app/tools/blast/components/blast-species-selector/BlastSpeciesSelector.test.tsx
  src/content/app/tools/blast/components/blast-species-selector/BlastSpeciesSelector.tsx
  src/content/app/tools/blast/components/blast-species-selector/BlastSpeciesSelectorHeader.test.tsx
  src/content/app/tools/blast/components/blast-species-selector/BlastSpeciesSelectorHeader.tsx
  src/content/app/tools/blast/components/blast-species-selector/BlastSpeciesSelectorModal.tsx
  src/content/app/tools/blast/components/blast-species-selector/src/styles/common
  src/content/app/tools/blast/constants/blastFormConstants.ts
  src/content/app/tools/blast/state/blast-form/blastFormSelectors.ts
  src/content/app/tools/blast/state/blast-form/blastFormSlice.ts
  src/content/app/tools/blast/views/blast-form/BlastForm.scss
  src/content/app/tools/blast/views/blast-form/BlastForm.tsx
  src/shared/components/add-button/AddButton.scss
  src/shared/components/add-button/AddButton.tsx
  stories/shared-components/add-button/AddButton.stories.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Update BlastAppBar
  src/content/app/tools/blast/components/blast-app-bar/BlastAppBar.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Switch from Thoas to metadata api location validation endpoint to validate GB locations in url
  src/content/app/genome-browser/contexts/genome-browser-ids-context/useGenomeBrowserUrlValidator.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Fix tests
  src/content/app/genome-browser/hooks/useBrowserRouting.test.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Add slphabetic sorting of species intended for BLAST
  src/content/app/tools/blast/state/blast-form/blastFormSlice.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Reduce top padding of ModalView
  src/shared/components/modal-view/ModalView.scss
Due: prettier --write, stylelint

Post-code-review changes
  src/content/app/new-species-selector/components/genome-selector-by-search-query/GenomeSelectorBySearchQuery.tsx
  src/content/app/new-species-selector/components/genome-selector-by-species-taxonomy-id/GenomeSelectorBySpeciesTaxonomyId.tsx
  src/content/app/new-species-selector/components/selectable-genomes-table/useSelectableGenomesTable.ts
  src/content/app/new-species-selector/components/species-search-field/SpeciesSearchField.tsx
  src/content/app/tools/blast/components/blast-selected-species-list/BlastSelectedSpeciesListHeader.scss
  src/content/app/tools/blast/components/blast-species-selector/BlastSpeciesSelector.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Disable 'Add a species' button if max number of added species has been reached
  src/content/app/tools/blast/components/blast-selected-species-list/BlastSelectedSpeciesListHeader.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Add species selector for the BLAST page (#1044)
  src/content/app/genome-browser/components/drawer/drawer-views/variant-group-legend/VariantGroupLegend.scss
  src/content/app/new-species-selector/components/genome-selector-by-search-query/GenomeSelectorBySearchQuery.tsx
  src/content/app/new-species-selector/components/genome-selector-by-species-taxonomy-id/GenomeSelectorBySpeciesTaxonomyId.scss
  src/content/app/new-species-selector/components/genome-selector-by-species-taxonomy-id/GenomeSelectorBySpeciesTaxonomyId.tsx
  src/content/app/new-species-selector/components/selectable-genomes-table/useSelectableGenomesTable.ts
  src/content/app/new-species-selector/components/species-search-field/SpeciesSearchField.tsx
  src/content/app/new-species-selector/components/species-search-results-table/SpeciesSearchResultsTable.scss
  src/content/app/new-species-selector/components/species-search-results-table/SpeciesSearchResultsTable.tsx
  src/content/app/tools/blast/components/blast-app-bar/BlastAppBar.tsx
  src/content/app/tools/blast/components/blast-selected-species-list/BlastSelectedSpeciesList.scss
  src/content/app/tools/blast/components/blast-selected-species-list/BlastSelectedSpeciesList.tsx
  src/content/app/tools/blast/components/blast-selected-species-list/BlastSelectedSpeciesListHeader.scss
  src/content/app/tools/blast/components/blast-selected-species-list/BlastSelectedSpeciesListHeader.tsx
  src/content/app/tools/blast/components/blast-species-selector/BlastSpeciesSelector.scss
  src/content/app/tools/blast/components/blast-species-selector/BlastSpeciesSelector.test.tsx
  src/content/app/tools/blast/components/blast-species-selector/BlastSpeciesSelector.tsx
  src/content/app/tools/blast/components/blast-species-selector/BlastSpeciesSelectorHeader.test.tsx
  src/content/app/tools/blast/components/blast-species-selector/BlastSpeciesSelectorHeader.tsx
  src/content/app/tools/blast/components/blast-species-selector/BlastSpeciesSelectorModal.tsx
  src/content/app/tools/blast/components/blast-species-selector/src/styles/common
  src/content/app/tools/blast/constants/blastFormConstants.ts
  src/content/app/tools/blast/state/blast-form/blastFormSelectors.ts
  src/content/app/tools/blast/state/blast-form/blastFormSlice.ts
  src/content/app/tools/blast/views/blast-form/BlastForm.scss
  src/content/app/tools/blast/views/blast-form/BlastForm.tsx
  src/shared/components/add-button/AddButton.scss
  src/shared/components/add-button/AddButton.tsx
  src/shared/components/info-pill/InfoPill.scss
  src/shared/components/modal-view/ModalView.scss
  src/shared/components/table/ColumnHead.scss
  src/shared/components/table/Table.scss
  stories/shared-components/add-button/AddButton.stories.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Switch from Thoas to metadata api location validation endpoint to validate GB locations in url (#1045)
  src/content/app/genome-browser/contexts/genome-browser-ids-context/useGenomeBrowserUrlValidator.ts
  src/content/app/genome-browser/hooks/useBrowserRouting.test.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

`types` field in track category payload has been replaced with a `type` field
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/TrackPanelList.tsx
  src/content/app/genome-browser/components/track-panel/components/track-panel-tabs/TrackPanelTabs.test.tsx
  src/content/app/genome-browser/components/track-panel/components/track-panel-tabs/TrackPanelTabs.tsx
  src/content/app/genome-browser/state/types/tracks.ts
  tests/fixtures/genomes.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Remove comment
  src/content/app/genome-browser/state/types/tracks.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update `types` field in track category payload to `type` field (#1046)
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/TrackPanelList.tsx
  src/content/app/genome-browser/components/track-panel/components/track-panel-tabs/TrackPanelTabs.test.tsx
  src/content/app/genome-browser/components/track-panel/components/track-panel-tabs/TrackPanelTabs.tsx
  src/content/app/genome-browser/state/types/tracks.ts
  tests/fixtures/genomes.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Clean-up
  src/content/app/species/sample-data.ts
  src/content/app/species/state/sidebar/speciesSidebarSelectors.ts
  src/content/app/species/state/sidebar/speciesSidebarSlice.ts
  src/shared/state/genome/genomeApiSlice.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Use metadata api endpoints for fetching genome information
  config.ts
  src/content/app/entity-viewer/EntityViewerPage.tsx
  src/content/app/entity-viewer/contexts/entity-viewer-ids-context/EntityViewerIdsContextProvider.tsx
  src/content/app/genome-browser/contexts/genome-browser-ids-context/useParsedGenomeBrowserUrl.ts
  src/content/app/genome-browser/state/focus-object/focusObjectSlice.ts
  src/content/app/new-species-selector/types/speciesSearchMatch.ts
  src/content/app/species-selector/state/speciesSelectorEpics.ts
  src/content/app/species/SpeciesPage.tsx
  src/content/app/species/SpeciesPageContent.tsx
  src/content/app/species/components/species-page-sidebar/SpeciesPageSidebar.scss
  src/content/app/species/components/species-page-sidebar/SpeciesPageSidebar.tsx
  src/content/app/species/state/api/speciesApiSlice.ts
  src/content/app/species/state/sidebar/speciesSidebarSlice.ts
  src/shared/state/genome/genomeApiSlice.ts
  src/shared/state/genome/genomeSelectors.ts
  src/shared/state/genome/genomeSlice.ts
  src/shared/state/genome/genomeTypes.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Update gitlab ci yaml
  gitlab-ci-templates/.setup-review-template.yaml
Due: none

Use metadata api endpoints for fetching genome information
  src/content/app/species/SpeciesPage.scss
  src/content/app/species/SpeciesPageContent.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Update species title area to show regardless of the availability of species icon
  src/content/app/species/components/species-page-sidebar/SpeciesPageSidebar.scss
  src/content/app/species/components/species-title-area/SpeciesTitleArea.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Fix tests
  src/content/app/entity-viewer/contexts/entity-viewer-ids-context/EntityViewerIdsContextProvider.tsx
  src/content/app/genome-browser/contexts/genome-browser-ids-context/useParsedGenomeBrowserUrl.ts
  src/content/app/genome-browser/hooks/useBrowserRouting.test.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Include species_taxonomy_id field in BriefGenomeSummary type
  src/shared/state/genome/genomeTypes.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

No interpolation for string needed
  src/content/app/species/components/species-page-sidebar/SpeciesPageSidebar.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Use genome details and genome slug explain endpoints (#1047)
  config.ts
  gitlab-ci-templates/.setup-review-template.yaml
  src/content/app/entity-viewer/EntityViewerPage.tsx
  src/content/app/entity-viewer/contexts/entity-viewer-ids-context/EntityViewerIdsContextProvider.tsx
  src/content/app/genome-browser/contexts/genome-browser-ids-context/useParsedGenomeBrowserUrl.ts
  src/content/app/genome-browser/hooks/useBrowserRouting.test.tsx
  src/content/app/genome-browser/state/focus-object/focusObjectSlice.ts
  src/content/app/new-species-selector/types/speciesSearchMatch.ts
  src/content/app/species-selector/state/speciesSelectorEpics.ts
  src/content/app/species/SpeciesPage.scss
  src/content/app/species/SpeciesPage.tsx
  src/content/app/species/SpeciesPageContent.tsx
  src/content/app/species/components/species-page-sidebar/SpeciesPageSidebar.scss
  src/content/app/species/components/species-page-sidebar/SpeciesPageSidebar.tsx
  src/content/app/species/components/species-title-area/SpeciesTitleArea.tsx
  src/content/app/species/sample-data.ts
  src/content/app/species/state/api/speciesApiSlice.ts
  src/content/app/species/state/sidebar/speciesSidebarSelectors.ts
  src/content/app/species/state/sidebar/speciesSidebarSlice.ts
  src/shared/state/genome/genomeApiSlice.ts
  src/shared/state/genome/genomeSelectors.ts
  src/shared/state/genome/genomeSlice.ts
  src/shared/state/genome/genomeTypes.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

update committedItem type to add taxonomy and other details; fix species icons
  src/content/app/entity-viewer/gene-view/components/default-transcripts-list/default-transcripts-list-item/DefaultTranscriptListItem.test.tsx
  src/content/app/entity-viewer/gene-view/components/default-transcripts-list/transcripts-list-item-info/TranscriptsListItemInfo.test.tsx
  src/content/app/species-selector/components/popular-species-list/PopularSpeciesList.tsx
  src/content/app/species-selector/speciesSelectorHelper.ts
  src/content/app/species-selector/state/species-selector-general-slice/speciesSelectorGeneralSlice.ts
  src/content/app/species-selector/state/species-selector-search-slice/speciesSelectorSearchSlice.ts
  src/content/app/species-selector/state/speciesSelectorEpics.ts
  src/content/app/species-selector/types/committedItem.ts
  src/content/app/species-selector/types/speciesSearchMatch.ts
  src/content/app/species/components/species-title-area/SpeciesTitleArea.tsx
  src/content/app/tools/blast/blast-download/renderSubmissionTable.ts
  src/content/app/tools/blast/components/blast-app-bar/BlastAppBar.test.tsx
  src/content/app/tools/blast/components/blast-app-bar/BlastAppBar.tsx
  src/content/app/tools/blast/components/blast-selected-species-list/BlastSelectedSpeciesList.tsx
  src/content/app/tools/blast/components/blast-species-selector/BlastSpeciesSelectorModal.tsx
  src/content/app/tools/blast/state/blast-api/blastApiSlice.ts
  src/content/app/tools/blast/state/blast-form/blastFormSlice.ts
  src/content/app/tools/blast/state/epics/tests/fixtures/blastSubmissionFixtures.ts
  src/content/app/tools/blast/views/blast-submission-results/components/single-blast-job-result/SingleBlastJobResult.tsx
  src/shared/components/gene-search-panel/GeneSearchPanel.tsx
  src/shared/components/selected-species/SelectedSpecies.test.tsx
  src/shared/components/selected-species/SpeciesLozenge.tsx
  src/shared/components/selected-species/selectedSpeciesHelpers.ts
  stories/shared-components/species-tabs-wrapper/speciesData.ts
  tests/fixtures/selected-species.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

update type
  src/content/app/tools/blast/state/blast-api/blastApiSlice.ts
  src/content/app/tools/blast/state/epics/tests/fixtures/blastSubmissionFixtures.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Annotate type imports
  src/content/app/entity-viewer/gene-view/components/gene-view-sidebar/publications/GenePublications.tsx
  src/content/app/species-selector/services/species-selector-storage-service.ts
  src/content/app/species-selector/speciesSelectorHelper.ts
  src/content/app/species/components/species-main-view/SpeciesMainViewStats.tsx
  src/content/app/tools/blast/state/blast-form/blastFormSlice.ts
  src/shared/components/selected-species/SelectedSpecies.test.tsx
  src/shared/components/selected-species/selectedSpeciesHelpers.ts
  stories/shared-components/species-tabs-wrapper/SpeciesTabsWrapper.stories.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Rename a variable
  src/content/app/species-selector/SpeciesSelector.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Do not show example object links if there are no example objects
  src/content/app/species/state/general/speciesGeneralHelper.ts
  src/shared/components/expandable-section/ExpandableSection.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Fix errors in speciesSidebarSlice
  src/content/app/species/state/sidebar/speciesSidebarSlice.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Fix tests
  src/shared/components/expandable-section/ExpandableSection.test.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update Node to 20.9.0, and update dependencies
  .gitlab-ci.yml
  Dockerfile
  Dockerfile.node
  jest.config.js
  package-lock.json
  package.json
  src/content/app/genome-browser/components/browser-location-indicator/BrowserLocationIndicator.test.tsx
  src/content/app/genome-browser/components/browser-sidebar-modal/modal-views/navigate-modal/tests/LocationNavigation.test.tsx
  src/content/app/genome-browser/components/browser-sidebar-modal/modal-views/navigate-modal/tests/RegionNavigation.test.tsx
  src/content/app/genome-browser/components/browser-sidebar-modal/modal-views/navigate-modal/tests/mockValidationServer.ts
  src/content/app/genome-browser/components/drawer/components/sequence-view/TranscriptSequenceView.test.tsx
  src/content/app/genome-browser/components/track-panel/components/track-panel-list/TrackPanelList.test.tsx
  src/content/app/genome-browser/components/track-panel/components/track-panel-tabs/TrackPanelTabs.test.tsx
  src/content/app/genome-browser/hooks/useBrowserRouting.test.tsx
  src/content/app/tools/blast/components/blast-settings/BlastSettings.test.tsx
  src/content/app/tools/blast/state/epics/tests/blastEpics.test.ts
  src/services/api-service.ts
  src/shared/state/api-slices/restSlice.ts
  tests/fixed-jsdom-environment.js
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Another round of updates
  package-lock.json
  package.json
Due: none

Update redux code
  src/content/app/species/state/sidebar/speciesSidebarSlice.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Move all tinkering with the globals to fixed-jsdom-environment file
  tests/fixed-jsdom-environment.js
  tests/setup-jest.js
Due: none

Bugfixes for the species page (#1050)
  src/content/app/species/state/general/speciesGeneralHelper.ts
  src/content/app/species/state/sidebar/speciesSidebarSlice.ts
  src/shared/components/expandable-section/ExpandableSection.test.tsx
  src/shared/components/expandable-section/ExpandableSection.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Path conditions:
  eslint --max-warnings=0: any of: *.{ts,tsx}
  manage-licence-header add: any of: *.{ts,tsx}
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.scss)
  stylelint: any of: *.scss
