Repository Ensembl/ensembl-client: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Update Storybook config
  .storybook/main.js
Due: none

Change CSS value
  src/shared/components/instant-download/instant-download-regulation/InstantDownloadRegFeature.scss
Due: prettier --write, stylelint

More PR suggestions
  src/content/app/genome-browser/components/drawer/drawer-views/variant-summary/VariantSummary.scss
  src/content/app/genome-browser/components/drawer/drawer-views/variant-summary/prepareVariantSummaryData.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Add margin bottom to phenotype associations in GB drawer
  src/content/app/genome-browser/components/drawer/drawer-views/variant-summary/VariantSummary.scss
Due: prettier --write, stylelint

Replace clinical significance section in GB drawer for variants (#992)
  src/content/app/genome-browser/components/drawer/drawer-views/variant-summary/VariantSummary.scss
  src/content/app/genome-browser/components/drawer/drawer-views/variant-summary/VariantSummary.tsx
  src/content/app/genome-browser/components/drawer/drawer-views/variant-summary/prepareVariantSummaryData.ts
  static/icons/icon_tick_circle.svg
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Update dependencies (#991)
  .storybook/main.js
  package-lock.json
  package.json
  src/content/app/entity-viewer/gene-view/components/default-transcripts-list/transcripts-list-item-info/TranscriptsListItemInfo.test.tsx
  src/content/app/genome-browser/components/browser-location-indicator/BrowserLocationIndicator.test.tsx
  src/content/app/genome-browser/components/browser-sidebar-modal/modal-views/BookmarksModal.test.tsx
  src/content/app/genome-browser/components/zmenu/Zmenu.test.tsx
  src/content/app/tools/blast/state/epics/tests/fixtures/blastSubmissionFixtures.ts
  src/content/app/tools/blast/utils/tests/blastFormValidator.test.ts
  src/shared/components/external-link/ExternalLink.test.tsx
  src/shared/components/external-reference/ExternalReference.test.tsx
  src/shared/components/in-app-search/InAppSearch.test.tsx
  src/shared/components/layout/StandardAppLayout.test.tsx
  src/shared/components/radio-group/RadioGroup.test.tsx
  src/shared/components/select/Select.test.tsx
  src/shared/components/select/helpers/select-helpers.spec.ts
  src/shared/components/selected-species/SelectedSpecies.test.tsx
  src/shared/components/tabs/Tabs.test.tsx
  src/shared/components/textarea/Textarea.test.tsx
  src/shared/helpers/formatters/numberFormater.test.ts
  src/shared/utils/tests/lruCache.test.ts
  tests/fixtures/blast/blastSubmission.ts
  tests/fixtures/browser.ts
  tests/fixtures/entity-viewer/gene.ts
  tests/fixtures/entity-viewer/product.ts
  tests/fixtures/entity-viewer/slice.ts
  tests/fixtures/entity-viewer/transcript.ts
  tests/fixtures/focus-object.ts
  tests/fixtures/genomes.ts
  tests/fixtures/popular-species.ts
  tests/fixtures/selected-species.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Add 404 screens for Help and About pages; and update their page meta
  config.ts
  src/content/app/about/About.tsx
  src/content/app/about/AboutPage.tsx
  src/content/app/about/helpers/aboutPageMetaHelpers.ts
  src/content/app/help/Help.tsx
  src/content/app/help/HelpPage.tsx
  src/content/app/help/helpers/helpPageMetaHelpers.ts
  src/content/app/help/helpers/isHelpIndexRoute.ts
  src/content/app/help/state/api/helpApiSlice.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update gitlab-ci file to add configuration for help-and-docs service available server-side
  gitlab-ci-templates/.setup-review-template.yaml
Due: none

Update gitlab-ci file to add configuration for help-and-docs service available server-side (#994)
  gitlab-ci-templates/.setup-review-template.yaml
Due: none

Move isArticleNotFoundError to rest api slice under a more generic name
  src/content/app/about/About.tsx
  src/content/app/about/AboutPage.tsx
  src/content/app/help/Help.tsx
  src/content/app/help/HelpPage.tsx
  src/content/app/help/state/api/helpApiSlice.ts
  src/shared/state/api-slices/restSlice.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Add 404 screens for Help and About pages; and update their page meta (#993)
  config.ts
  src/content/app/about/About.tsx
  src/content/app/about/AboutPage.tsx
  src/content/app/about/helpers/aboutPageMetaHelpers.ts
  src/content/app/help/Help.tsx
  src/content/app/help/HelpPage.tsx
  src/content/app/help/helpers/helpPageMetaHelpers.ts
  src/content/app/help/helpers/isHelpIndexRoute.ts
  src/content/app/help/state/api/helpApiSlice.ts
  src/shared/state/api-slices/restSlice.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Add route for developing a new species selector
  src/content/app/new-species-selector/SpeciesSelector.scss
  src/content/app/new-species-selector/SpeciesSelector.tsx
  src/content/app/new-species-selector/SpeciesSelectorPage.tsx
  src/content/app/new-species-selector/components/species-selector-app-bar/SpeciesSelectorAppBar.scss
  src/content/app/new-species-selector/components/species-selector-app-bar/SpeciesSelectorAppBar.tsx
  src/content/app/species-selector/SpeciesSelector.tsx
  src/routes/routesConfig.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Clean up remaining references to thoas
  src/content/app/genome-browser/hooks/useBrowserRouting.test.tsx
  src/root/rootReducer.ts
  src/server/serverSideReduxStore.ts
  src/shared/state/api-slices/graphqlApiSlice.ts
  src/store.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Add route for developing a new species selector (#996)
  src/content/app/new-species-selector/SpeciesSelector.scss
  src/content/app/new-species-selector/SpeciesSelector.tsx
  src/content/app/new-species-selector/SpeciesSelectorPage.tsx
  src/content/app/new-species-selector/components/species-selector-app-bar/SpeciesSelectorAppBar.scss
  src/content/app/new-species-selector/components/species-selector-app-bar/SpeciesSelectorAppBar.tsx
  src/content/app/species-selector/SpeciesSelector.tsx
  src/routes/routesConfig.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Add modal view
  src/content/app/new-species-selector/SpeciesSelector.tsx
  src/content/app/new-species-selector/components/species-selector-search-results-app-bar/SpeciesSelectorSearchResultsAppBar.scss
  src/content/app/new-species-selector/components/species-selector-search-results-app-bar/SpeciesSelectorSearchResultsAppBar.tsx
  src/content/app/new-species-selector/components/species-selector-selection-modal-view/SpeciesSelectorSelectionModalView.scss
  src/content/app/new-species-selector/components/species-selector-selection-modal-view/SpeciesSelectorSelectionModalView.tsx
  src/content/app/new-species-selector/state/species-selector-ui-slice/speciesSelectorUISelectors.ts
  src/content/app/new-species-selector/state/species-selector-ui-slice/speciesSelectorUISlice.ts
  src/content/app/new-species-selector/state/speciesSelectorReducer.ts
  src/root/rootReducer.ts
  src/shared/components/modal-view/ModalView.scss
  src/shared/components/modal-view/ModalView.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Update SpeciesSelector views; add redux slices
  src/content/app/new-species-selector/SpeciesSelector.tsx
  src/content/app/new-species-selector/components/species-search-field/SpeciesSearchField.scss
  src/content/app/new-species-selector/components/species-search-field/SpeciesSearchField.tsx
  src/content/app/new-species-selector/state/species-selector-api-slice/speciesSelectorApiSlcie.ts
  src/content/app/new-species-selector/state/species-selector-search-slice/speciesSelectorSearchSelectors.ts
  src/content/app/new-species-selector/state/species-selector-search-slice/speciesSelectorSearchSlice.ts
  src/content/app/new-species-selector/types/popularSpecies.ts
  src/content/app/new-species-selector/types/speciesSearchMatch.ts
  src/content/app/new-species-selector/views/species-selector-main-view/SpeciesSelectorMainView.scss
  src/content/app/new-species-selector/views/species-selector-main-view/SpeciesSelectorMainView.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Update the api slice
  src/content/app/new-species-selector/state/species-selector-api-slice/speciesSelectorApiSlice.ts
  src/content/app/new-species-selector/state/species-selector-api-slice/speciesSelectorSampleData.ts
  src/content/app/new-species-selector/types/popularSpecies.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Renamed species-selector-selection-modal-view to species-selector-results-view
  src/content/app/new-species-selector/SpeciesSelector.tsx
  src/content/app/new-species-selector/components/species-search-field/SpeciesSearchField.scss
  src/content/app/new-species-selector/components/species-selector-selection-modal-view/SpeciesSelectorSelectionModalView.scss
  src/content/app/new-species-selector/views/species-selector-results-view/SpeciesSelectorResultsView.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Add new popular species button
  src/content/app/new-species-selector/components/popular-species-button/PopularSpeciesButton.scss
  src/content/app/new-species-selector/components/popular-species-button/PopularSpeciesButton.test.tsx
  src/content/app/new-species-selector/components/popular-species-button/PopularSpeciesButton.tsx
  stories/species-selector/popular-species-button/PopularSpeciesButton.stories.tsx
  stories/species-selector/popular-species-button/danio_rerio.svg
  stories/species-selector/popular-species-button/homo_sapiens.svg
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Add tests
  src/content/app/new-species-selector/components/popular-species-button/PopularSpeciesButton.test.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Fix path to module (absolute -> relative)
  src/content/app/new-species-selector/components/popular-species-button/PopularSpeciesButton.test.tsx
  src/content/app/new-species-selector/components/popular-species-button/PopularSpeciesButton.tsx
  stories/species-selector/popular-species-button/PopularSpeciesButton.stories.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Add gene search view
  src/content/app/new-species-selector/SpeciesSelector.tsx
  src/content/app/new-species-selector/components/species-selector-app-bar/SpeciesSelectorAppBar.tsx
  src/content/app/new-species-selector/views/species-selector-gene-search-view/SpeciesSelectorGeneSearchView.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Rename view mode: find-gene -> gene-search
  src/content/app/new-species-selector/SpeciesSelector.tsx
  src/content/app/new-species-selector/components/species-selector-app-bar/SpeciesSelectorAppBar.tsx
  src/content/app/new-species-selector/state/species-selector-ui-slice/speciesSelectorUISlice.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Close modal view when leaving Species Selector
  src/content/app/new-species-selector/SpeciesSelector.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Update module name
  src/content/app/new-species-selector/views/species-selector-results-view/SpeciesSelectorResultsView.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Add new popular species button (#999)
  src/content/app/new-species-selector/components/popular-species-button/PopularSpeciesButton.scss
  src/content/app/new-species-selector/components/popular-species-button/PopularSpeciesButton.test.tsx
  src/content/app/new-species-selector/components/popular-species-button/PopularSpeciesButton.tsx
  stories/species-selector/popular-species-button/PopularSpeciesButton.stories.tsx
  stories/species-selector/popular-species-button/danio_rerio.svg
  stories/species-selector/popular-species-button/homo_sapiens.svg
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Species selector modal view (#998)
  src/content/app/new-species-selector/SpeciesSelector.tsx
  src/content/app/new-species-selector/components/popular-species-button/PopularSpeciesButton.scss
  src/content/app/new-species-selector/components/popular-species-button/PopularSpeciesButton.test.tsx
  src/content/app/new-species-selector/components/popular-species-button/PopularSpeciesButton.tsx
  src/content/app/new-species-selector/components/species-search-field/SpeciesSearchField.scss
  src/content/app/new-species-selector/components/species-search-field/SpeciesSearchField.tsx
  src/content/app/new-species-selector/components/species-selector-app-bar/SpeciesSelectorAppBar.tsx
  src/content/app/new-species-selector/components/species-selector-search-results-app-bar/SpeciesSelectorSearchResultsAppBar.scss
  src/content/app/new-species-selector/components/species-selector-search-results-app-bar/SpeciesSelectorSearchResultsAppBar.tsx
  src/content/app/new-species-selector/state/species-selector-api-slice/speciesSelectorApiSlice.ts
  src/content/app/new-species-selector/state/species-selector-api-slice/speciesSelectorSampleData.ts
  src/content/app/new-species-selector/state/species-selector-search-slice/speciesSelectorSearchSelectors.ts
  src/content/app/new-species-selector/state/species-selector-search-slice/speciesSelectorSearchSlice.ts
  src/content/app/new-species-selector/state/species-selector-ui-slice/speciesSelectorUISelectors.ts
  src/content/app/new-species-selector/state/species-selector-ui-slice/speciesSelectorUISlice.ts
  src/content/app/new-species-selector/state/speciesSelectorReducer.ts
  src/content/app/new-species-selector/types/popularSpecies.ts
  src/content/app/new-species-selector/types/speciesSearchMatch.ts
  src/content/app/new-species-selector/views/species-selector-gene-search-view/SpeciesSelectorGeneSearchView.tsx
  src/content/app/new-species-selector/views/species-selector-main-view/SpeciesSelectorMainView.scss
  src/content/app/new-species-selector/views/species-selector-main-view/SpeciesSelectorMainView.tsx
  src/content/app/new-species-selector/views/species-selector-results-view/SpeciesSelectorResultsView.tsx
  src/root/rootReducer.ts
  src/shared/components/modal-view/ModalView.scss
  src/shared/components/modal-view/ModalView.tsx
  stories/species-selector/popular-species-button/PopularSpeciesButton.stories.tsx
  stories/species-selector/popular-species-button/danio_rerio.svg
  stories/species-selector/popular-species-button/homo_sapiens.svg
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Start working on the table
  src/content/app/new-species-selector/state/species-selector-api-slice/speciesSelectorApiSlice.ts
  src/content/app/new-species-selector/state/species-selector-api-slice/speciesSelectorSampleData.ts
  src/content/app/new-species-selector/types/speciesSearchMatch.ts
  src/content/app/new-species-selector/views/species-selector-results-view/SpeciesSelectorResultsView.scss
  src/content/app/new-species-selector/views/species-selector-results-view/SpeciesSelectorResultsView.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Add CORE_API slug
  gitlab-ci-templates/.setup-review-template.yaml
Due: none

Add a table of search results
  src/content/app/new-species-selector/components/species-search-results-summary/SpeciesSearchResultsSummary.scss
  src/content/app/new-species-selector/components/species-search-results-summary/SpeciesSearchResultsSummary.tsx
  src/content/app/new-species-selector/components/species-search-results-table/SpeciesSearchResultsTable.scss
  src/content/app/new-species-selector/components/species-search-results-table/SpeciesSearchResultsTable.tsx
  src/content/app/new-species-selector/state/species-selector-api-slice/speciesSelectorApiSlice.ts
  src/content/app/new-species-selector/state/species-selector-api-slice/speciesSelectorSampleData.ts
  src/content/app/new-species-selector/views/species-selector-results-view/SpeciesSelectorResultsView.scss
  src/content/app/new-species-selector/views/species-selector-results-view/SpeciesSelectorResultsView.tsx
  src/shared/components/modal-view/ModalView.scss
  src/shared/components/table/Table.scss
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Use number formatting to comma-separate numbers
  src/content/app/new-species-selector/components/species-search-results-table/SpeciesSearchResultsTable.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Add a list of popular species to the new species selector screen
  src/content/app/new-species-selector/components/popular-species-list/PopularSpeciesList.scss
  src/content/app/new-species-selector/components/popular-species-list/PopularSpeciesList.tsx
  src/content/app/new-species-selector/state/species-selector-api-slice/speciesSelectorSampleData.ts
  src/content/app/new-species-selector/views/species-selector-main-view/SpeciesSelectorMainView.scss
  src/content/app/new-species-selector/views/species-selector-main-view/SpeciesSelectorMainView.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Update styles
  src/content/app/new-species-selector/views/species-selector-main-view/SpeciesSelectorMainView.scss
Due: prettier --write, stylelint

Explicitly mark type imports
  src/content/app/entity-viewer/gene-view/components/gene-overview-image/GeneOverviewImage.tsx
  src/content/app/entity-viewer/gene-view/components/transcripts-filter/TranscriptsFilter.tsx
  src/content/app/entity-viewer/gene-view/components/unspliced-transcript/UnsplicedTranscript.tsx
  src/content/app/entity-viewer/shared/components/default-transcript-label/TranscriptQualityLabel.tsx
  src/content/app/entity-viewer/shared/helpers/entity-helpers.ts
  src/content/app/genome-browser/state/api/queries/geneSummaryQuery.ts
  src/content/app/genome-browser/state/api/queries/transcriptInZmenuQuery.ts
  src/content/app/genome-browser/state/api/queries/transcriptSummaryQuery.ts
  src/shared/types/variation-api/variantAllelePopulationFrequency.ts
  tests/fixtures/entity-viewer/external-reference.ts
  tests/fixtures/entity-viewer/gene.ts
  tests/fixtures/entity-viewer/slice.ts
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write

Add species search results table (#1000)
  src/content/app/new-species-selector/components/species-search-results-summary/SpeciesSearchResultsSummary.scss
  src/content/app/new-species-selector/components/species-search-results-summary/SpeciesSearchResultsSummary.tsx
  src/content/app/new-species-selector/components/species-search-results-table/SpeciesSearchResultsTable.scss
  src/content/app/new-species-selector/components/species-search-results-table/SpeciesSearchResultsTable.tsx
  src/content/app/new-species-selector/state/species-selector-api-slice/speciesSelectorApiSlice.ts
  src/content/app/new-species-selector/state/species-selector-api-slice/speciesSelectorSampleData.ts
  src/content/app/new-species-selector/types/speciesSearchMatch.ts
  src/content/app/new-species-selector/views/species-selector-results-view/SpeciesSelectorResultsView.scss
  src/content/app/new-species-selector/views/species-selector-results-view/SpeciesSelectorResultsView.tsx
  src/shared/components/modal-view/ModalView.scss
  src/shared/components/table/Table.scss
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Add a list of popular species to the new species selector screen (#1001)
  src/content/app/new-species-selector/components/popular-species-list/PopularSpeciesList.scss
  src/content/app/new-species-selector/components/popular-species-list/PopularSpeciesList.tsx
  src/content/app/new-species-selector/state/species-selector-api-slice/speciesSelectorSampleData.ts
  src/content/app/new-species-selector/views/species-selector-main-view/SpeciesSelectorMainView.scss
  src/content/app/new-species-selector/views/species-selector-main-view/SpeciesSelectorMainView.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Add human pangenome assemblies, and add dot elements to the table
  src/content/app/new-species-selector/components/species-search-results-table/SpeciesSearchResultsTable.tsx
  src/content/app/new-species-selector/state/species-selector-api-slice/speciesSelectorApiSlice.ts
  src/content/app/new-species-selector/state/species-selector-api-slice/speciesSelectorSampleData.ts
  src/shared/components/table/dot/Dot.scss
  src/shared/components/table/dot/EmptyDot.tsx
  src/shared/components/table/dot/SolidDot.tsx
Due: eslint --max-warnings=0, manage-licence-header add, prettier --write, stylelint

Path conditions:
  eslint --max-warnings=0: any of: *.{ts,tsx}
  manage-licence-header add: any of: *.{ts,tsx}
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.scss)
  stylelint: any of: *.scss
